<h1>On World Sight Day,<br/> Eye Doctors Urge Public to Include Vision as Part of Overall Good Health </h1>
<h3>Early diagnosis and treatment key to preserving sight</h3>

<p>To mark World Sight Day (10.10.13), the Irish College of Ophthalmologists (ICO), the professional body for eye doctors in Ireland, is encouraging the public to understand the importance of vision and overall eye health to their general wellbeing.
The ICO are urging the public to remember their eye health as part of an overall good health & wellbeing strategy, particularly as we age and for those in the higher risk categories.
</p>
<p>"Eye doctors encourage everyone to be proactive in understanding the importance of good eye health and to take steps to ensure healthy eyes", said Marie Hickey-Dwyer, Eye Surgeon and President of the Irish College of Ophthalmologists.
</p>
<p>
Explaining the significance of eye health to our general wellbeing, Ms Hickey-Dwyer added, "The saying 'the eyes are the window to the soul' is very true, and often when an eye problem presents, it can be an indicator of another underlying medical condition.  The eye is not an isolated unit and has complicated relationships with numerous other bodily systems and functions including that of the brain and nervous system.  Many eye diseases are associated with general medical conditions and many general systemic conditions affect eye health."
</p>
<p>
According to the ICO, as the incidence of eye diseases such as age-related macular degeneration, glaucoma, cataract and diabetic retinopathy continues to grow among our ageing population in Ireland, funding to prevent and treat these conditions is essential to stop debilitating vision loss and alleviate future dependency on health care services.
</p>
<p>There are currently 220,000 Irish people living with vision loss or blindness.  As our population ages, in 5 years 50,000 more citizens (or 270,000 people in total) will have to live with reduced vision.  The risk of vision loss increases with age and given the growing incidence in key underlying causes of vision loss such as obesity and diabetes, the ICO stated that these projections most likely represent an underestimation of the number of Irish people to have vision loss and blindness by 2018.
</p>
<p>
Research has shown that with early diagnosis and treatment up to 75% of cases be medically and surgically managed to prevent blindness.  In the last number of years there have been some exciting new treatments developed in this specialty. The introduction of intraocular therapies for people with AMD has been of enormous benefit and now the diagnosis of a condition that would previously have led to certain sight loss is not so fearful for patients.
</p>
<p>"To mark this year's World Sight Day the ICO is renewing our commitment to put eye care on the health agenda.  We are urging the Irish public and health policy leaders to fully understand the significant health impact and economic burden that eye disease has in this country and generate stronger support for policies that help address this important and expanding public-health issue", Ms Hickey-Dwyer concluded.
</p>
<p>
Earlier this year the ICO launched a public information campaign called <b>'<a href="http://www.eyedoctors.ie/documents/ICO_Vision%20book_LO-version3.pdf" target="pdf" title="Your Sight Our Vision">Your Sight Our Vision</a>'</b> to promote eye health awareness and the significance lifestyle choices have on eye health. An eye health information booklet aimed at educating the public on the importance of early diagnosis and treatment of eye conditions in order to prevent avoidable sight loss formed part of the campaign.
</p>
<p>
<h3>Among the recommendations from eye doctors for healthy vision are:</h3>
<ul>
	<li><b>Consider eyes health as part of an overall good health</b>
	<br/>
	Understand the impact of other diseases on the eyes.  The eyes are extraordinarily complex.  They contain pigmented cells, a rich network of blood vessels, and connective tissue; and the eye's retina is actually a part of the brain. Therefore, many systemic diseases such as diabetes, sleep apnoea, various tumour's, hypertension, sickle cell disease, lupus, and many others can affect the eyes and threaten vision.  Anyone with concerns should visit their GP who can refer you to an eye doctor for medical examination.
	</li>
	<li><b>Exercise </b>
	<br/>Our eyes need good blood circulation and oxygen intake, and both are stimulated by regular exercise. Lack of exercise contributes significantly to several eye conditions, particularly amongst people aged 60 and over. Being physically active also helps in maintaining weight in a normal range, which reduces the risk of diabetes and diabetic retinopathy, which is a serious eye complication related to that disease.
	</li>
	<li><b>Don't smoke </b>
	<br/>Avoiding smoking or quitting altogether is one of the best investments a person can make in their long-term health. Smoking increases the risks of a variety of diseases, including those that affect the eye such as cataracts and diabetic-related conditions.  After ageing, smoking is the biggest factor for developing Age-related macular degeneration (AMD).
	</li>
	<li><b>Know Your Family Eye Health History </b>
	<br/>
	Certain eye conditions can be hereditary, such as glaucoma.  When detected early, it can be treated and controlled and therefore it would be very beneficial to know if this condition has been in your family so you can be tested.
	</li>
	<li><b>Protect Your Eyes at Work and at Play </b>
	<br/>
	One of the best investments in eye health is to be sure to protect them with proper eye wear, whether it's enjoying a day in the sun, playing sports or doing household jobs, be safe with your eyes at all times.
	</li>
	<li><b>Get Regular Eye Exams</b>
	<br/> Healthy adults who do not notice anything obviously wrong with their eyes should still have their eyes tested every two years.  Eye Doctors recommend that adults with no signs or risk factors for eye disease get a baseline eye disease screening at age 40, which is typically the approximate time when early signs of disease and changes in vision may start to occur. Individuals at any age with symptoms or who are at risk for eye disease, such as those with a family history of eye disease, diabetes or high blood pressure should see their eye doctor to determine how frequently their eyes should be examined.</li>
</ul>
</p>



<p><br/>&nbsp;</p>
<p>
<h3>How to make an appointment to see an Eye Doctor</h3>
For an appointment to see any medical specialist working in the HSE, including eye doctors, you need to get a referral from your General Practitioner (GP). A GP has knowledge of the specialists in his/her area and can ensure that any important information relating to your medical history is passed to the eye doctor.</P>
<P >While it is advisable to seek a referral from your GP many eye doctors working in the community will give you an appointment directly - you can find contact details for eye doctors at <A HREF="/">www.eyedoctors.ie</A></P>


<p><br/>&nbsp;</p>
<P ><h3>Eye Examinations Guidelines</h3>
Healthy adults who do not notice anything wrong with their eyes should see an eye doctor according to this schedule:
<br/>
Eye Doctors recommend that adults with no signs or risk factors for eye disease get a baseline eye disease screening at age 40, which is typically the approximate time when early signs of disease and changes in vision may start to occur.
<br/>
Individuals at any age with symptoms or who are at risk for eye disease, such as those with a family history of eye disease, diabetes or high blood pressure should see their eye doctor to determine how frequently their eyes should be examined.
</p>

<p>
Adults should see an eye doctor as soon as possible if they notice any of the following:
<UL>
<li><B>Changes in vision</B> such as sudden spots, flashes of light, lightning streaks or jagged lines of light, wavy or watery vision, blurry faces, distortions or wavy lines, haloes around lights, double vision</li>
<li><B>Changes in the field of vision</B> such as shadows, <NOBR>curtain-like</NOBR> loss of vision, black spots or blurriness in central or peripheral (side) vision</li>
<li><B>Changes in colour vision</B></li>
<li><B>Loss of vision</B> such as decreased or no vision in one or both eyes</li>
<li><B>Physical changes to the eye</B> such as crossed eyes, eyes that turn in, out, up or down, pain, signs of infection (redness, swelling, discharge etc)</li>

</ul>
</P>

<p><a href="World Sight Day 13.pdf" target="pdf">Download the press release</a>