body {
	background: #fff;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
	text-align: left;
}

#container { border:1px solid #ddd; margin:20px 10px 10px; }

#header { background:url(../comms/images/coms.gif) no-repeat top right; height:110px; width:100%; }
#header img { margin:15px 0 0 20px; }

#navbar { background:#a9cfd0; height:28px; }

#nav li.more span { background:url(../comms/images/nav-more.gif) no-repeat 97px 10px; display:block; padding:6px 8px; margin:0; }
#nav li.large span { background:url(../comms/images/nav-more.gif) no-repeat 110px 10px; display:block; padding:6px 8px; margin:0; }
#nav li.more a { background:url(../comms/images/nav-sub.gif) no-repeat 8px 10px; padding-left:18px; }
#nav li.more a:hover { background:url(../comms/images/nav-sub.gif) no-repeat 8px 10px #066; color:#fff; display:block; padding:6px 6px 6px 18px; margin:0; text-decoration:none; }

#navbar ul { list-style: none; padding: 0; margin: 0; }
#nav a { display:block; padding:6px 8px; margin:0; font-weight: bold; text-decoration: none; }
#nav li a:hover { background:#066; color:#fff; display:block; padding:6px 8px; margin:0; text-decoration:none; }
#nav li li a { display: block; font-weight: bold; padding:6px 6px 6px 8px; }
#nav li li a:hover { background:#066; color:#fff; padding:6px 6px 6px 8px; }
#navbar li { background:#a9cfd0; border-right: 1px solid #fff; color:#066; cursor: default; float: left; font-size:13px; font-weight:bold; list-style:none; margin:0; padding:0; position:relative; width:112px; text-align:left; }
#navbar li.large { width:125px; }
#navbar li.small { }
#navbar li ul { display: none; position: absolute; top: 100%; left: 0; font-weight: normal; background:#cce4e5; padding:0; border-right: solid 1px #fff; }
li>ul { top: auto; left: auto; }
#navbar li li { background:#cce4e5; border-right:0; border-top:1px solid #fff; display: block; float: none; font-size:12px; padding:0; width:112px; }
#navbar li.large li { width:125px; }
#navbar li:hover ul, #navbar li.over ul { display: block; background:#cce4e5; }

#content { clear: left; padding:10px 20px 30px; }

#base { background:#f2f2f2; border-top:0 solid #dfdede; color:#666; padding:5px 10px; position:relative; text-align:left; }
#baselinks a { padding:0 10px; }
#basetime { position:absolute; right:20px; top:5px; text-align:right; }

h1 { font-size: 22px; color: #009999; padding-top:10px }

a { color:#006666; text-decoration:none; }
a:hover { text-decoration:underline; }

#login { background:#ecf2f2; border:5px solid #d4e0e0; padding:10px 15px 15px; width:75% }
#login p { clear:left; font-size:14px; }
#login p label { display:block; float:left; font-weight:bold; padding-top:2px; width:150px; }
#login p input { color:#006666; font-size:14px; padding:2px; width:250px }
#login div { margin-left:150px; }
#login div input { background:#006666; color:#fff; font-weight:bold; padding:3px 8px; }

#details { background:#ecf2f2; border:5px solid #d4e0e0; padding:10px 15px 15px; width:75% }
#details p { clear:left; font-size:14px; }
#details p label { display:block; float:left; font-weight:bold; padding-top:2px; width:150px; }
#details p input { color:#006666; font-size:14px; padding:2px; width:250px }
#details p textarea { color:#006666; font-size:14px; padding:2px; width:350px }
#details div { margin-left:150px; }
#details div input { background:#006666; color:#fff; font-weight:bold; padding:3px 8px; }

#freshdata li { font-size:14px; padding-bottom:5px; }
#overalldata li { font-size:14px; padding-bottom:5px; }
#options li { font-size:14px; padding-bottom:5px; }

.newslist h3 { margin:20px 0 2px 0; padding:0; }
.newslist h3 a { text-decoration:underline }
.newslist p { margin:4px 0; padding:0; }
.newslist div { color:#555; }
#newstext { font-size:14px; }

#newsform { background:#ecf2f2; border:5px solid #d4e0e0; font-size:12px; padding:10px 15px 15px; }
#newsform th { font-size:13px; padding:5px 15px 0 0; text-align:left; vertical-align:top; width:150px; }
#newsform td { font-size:12px; padding:5px 0; vertical-align:top; }
#newsform input { color:#006666; font-size:13px; padding:2px; width:500px }
#newsform textarea { color:#006666; font-size:13px; padding:2px; width:500px }
#newsform div input {color:#fff; font-weight:bold; padding:3px 8px; width:auto; }

.doclist h3 { margin:20px 0 2px 0; padding:0; }
.doclist h3 a { text-decoration:underline }
.doclist p { margin:4px 0; padding:0; }
.doclist div { color:#555; }

#doctable { background:#ecf2f2; border:3px solid #d4e0e0; font-size:12px; margin-top:10px; }
#doctable th { background:#d4e0e0; color:#444; font-size:14px; padding:4px; text-align:left }
#doctable td { padding:2px 4px; text-align:left }

.docfolder { background:#ecf2f2; border:3px solid #d4e0e0; font-size:12px; padding:5px 10px; }
.docfolder td { vertical-align:middle; }
.docfolder td img { vertical-align:middle; }

.createdoc { font-size:14px;}

#docsteps { float:right; margin:10px 0 0 10px; }

#newdocs li { font-size:14px; padding-bottom:5px; }
#newdocs li span { font-size:12px; color:#555; font-style:italic }

#doctable { background:#ecf2f2; border:3px solid #d4e0e0; font-size:12px; margin-top:10px; }
#doctable th { background:#d4e0e0; color:#444; font-size:14px; padding:4px; text-align:left }
#doctable td { padding:2px 4px; text-align:left }

#docname { background:#ecf2f2; border:5px solid #d4e0e0; margin-top:10px; padding:5px 15px 15px; width:650px }
#docname p { clear:left; font-size:14px; }
#docname p label { display:block; float:left; font-weight:bold; padding-top:2px; width:150px; }
#docname p input { color:#006666; font-size:14px; padding:2px; width:250px }
#docname p select { color:#006666; font-size:14px; padding:2px; width:160px }
#docname div { margin-left:150px; }
#docname div input { background:#006666; color:#fff; font-weight:bold; padding:3px 8px; }

#docmethod { background:#ecf2f2; border:5px solid #d4e0e0; margin-top:20px; padding:5px 15px 15px; width:650px }
#docmethod h3 { margin-bottom:0; padding-bottom:0; }
#docmethod p { clear:left; font-size:14px; margin:-18px 0 25px 250px }
#docmethod div { margin:-5px 0 0 255px; }
#docmethod div input { background:#006666; color:#fff; font-weight:bold; padding:3px 8px; }

#docupload h3 { margin:15px 0 5px 0; padding:0; }
#docupload p { line-height:1.5; margin:0 0 10px 0; padding:0; }
#docupload p strong { color:#066; }
#docupload p img { vertical-align:middle; }
#docupload form { background:#ecf2f2; border:5px solid #d4e0e0; padding:15px 15px; }
#docupload form p { clear:left; font-size:14px; }
#docupload form p label { display:block; float:left; font-weight:bold; padding-top:2px; width:200px; }
#docupload form p input { color:#006666; font-size:14px; padding:2px; width:350px }
#docupload form p.docupload2 label { font-weight:normal; }
#docupload form p.docupload2 input { width:auto }
#docupload form div { margin-left:200px; }
#docupload form div input { background:#006666; color:#fff; font-weight:bold; padding:3px 8px; }

#docmanage table { background:#ecf2f2; border:5px solid #d4e0e0; font-size:12px; margin-top:20px; width:100%; }
#docmanage th { background:#d4e0e0; color:#444; font-size:14px; padding:4px; text-align:left }
#docmanage td { padding:2px 4px; text-align:left }

#docsform { background:#ecf2f2; border:5px solid #d4e0e0; font-size:12px; padding:10px 15px 15px; }
#docsform th { font-size:13px; padding:5px 15px 0 0; text-align:left; vertical-align:top; width:170px; }
#docsform td { font-size:12px; padding:5px 0; vertical-align:top; }
#docsform select { color:#006666; font-size:13px; padding:2px; }
#docsform textarea { color:#006666; font-size:13px; padding:2px; width:500px }
#docsform input { color:#006666; font-size:13px; padding:2px; width:200px }
#docsform input.check { width:auto; }
#docsform div input { background:#006666; color:#fff; font-weight:bold; padding:3px 8px; width:auto; }

#doclegend h3 { margin:20px 0 5px; padding:0 }
#doclegend table { background:#ecf2f2; border:5px solid #d4e0e0; font-size:12px; padding:4px }
#doclegend th { padding:2px 4px; text-align:left }
#doclegend td { padding:2px 4px; text-align:left }

#mediaoptions { background:#ecf2f2; border:5px solid #d4e0e0; padding:10px 15px 5px; text-align:left; }
#mediaoptions h3 { margin:5px 0; padding:0; }
#mediaoptions p { margin:5px 0 10px; padding:0; }

.medialist img { float:left; margin:0 5px 5px 0; }
.medialist h3 { color:#033; margin:20px 0 6px 0; padding:0; }
.medialist h3 a { text-decoration:underline }
.medialist p { margin:4px 0; padding:0; }
.medialist div { color:#555; }

#mediaupload legend { color:#033; font-size:14px; }
#mediaupload table { font-size:12px; padding:5px; }
#mediaupload td { padding:2px 5px; }
#mediaupload #submit input { background:#006666; border:0; color:#fff; font-size:14px; font-weight:bold; margin-top:10px; padding:5px 12px; }

#mediatable { background:#ecf2f2; border:3px solid #d4e0e0; font-size:12px; margin-top:10px; }
#mediatable th { background:#d4e0e0; color:#444; font-size:14px; padding:4px; text-align:left }
#mediatable td { padding:2px 4px; }

#admin { background:#deeaea; border:5px solid #d4e0e0; padding:10px 15px; text-align:left; }
#admin h2 { clear:left; font-size:22px; font-weight:normal; margin:0; padding:10px 0 7px 0; }
#admin h2 img { float:left; margin-right:15px;  }
#admin p { color:#333; font-size:14px; margin:0; padding:0 0 20px 0; }

#usersearch { background:#deeaea; border:5px solid #d4e0e0; padding:10px 15px; text-align:left; }
#usersearch p { clear:left; font-size:14px; }
#usersearch p label { display:block; float:left; font-weight:bold; padding-top:2px; width:180px; }
#usersearch p input { color:#006666; font-size:14px; padding:2px; width:250px }
#usersearch p em { color:#444; font-size:12px; margin-left:180px; }
#usersearch div { margin-left:180px; }
#usersearch div input { background:#006666; border:0; color:#fff; font-weight:bold; padding:3px 8px; }

#usersearch2 { background:#deeaea; border:5px solid #d4e0e0; margin-bottom:15px; padding:0 15px; text-align:left; }
#usersearch2 p { font-size:14px; font-weight:bold; }
#usersearch2 p em { color:#444; font-size:12px; font-weight:normal; }
#usersearch2 p input { color:#006666; font-size:14px; padding:2px; width:250px }
#usersearch2 p input#submit { background:#006666; border:0; color:#fff; font-weight:bold; margin-left:8px; padding:2px 6px; width:auto; }

.userdetails { background:#ecf2f2; border:3px solid #d4e0e0; font-size:12px; margin-top:10px; }
.userdetails th { background:#d4e0e0; color:#444; font-size:14px; padding:4px; text-align:left }
.userdetails td { padding:2px 4px; text-align:left }

#eventsboard { }
#eventsboard ul { list-style:none; margin:0; padding:0; }
#eventsboard li { background:#ecf2f2; border:3px solid #d4e0e0; font-size:12px; margin:10px 0; padding:10px; }
#eventsboard li label { display:block; float:left; width:100px;  }
#eventsboard li h3 { margin:0; padding:0 0 5px 0; }
#eventsboard li p { margin:0; padding:0 0 3px 0; }

#eventscal { border:3px solid #cce4e5}
#eventscal h3 { font-size:13px; margin:0; padding:0; }

#eventmail { background:#ecf2f2; border:3px solid #d4e0e0; padding:8px; }
#eventmail input { color:#006666; font-size:14px; padding:2px; width:250px }
#eventmail input.subscrsubmit { background:#006666; border:0; color:#fff; font-weight:bold; padding:2px 6px; width:auto; }

#medialink { background:#ecf2f2; border:3px solid #bed9da; font-size:12px; margin:10px 0; }
#medialink th { background:#bed9da; color:#444; font-size:14px; padding:2px 4px; text-align:left }
#medialink td { padding:2px 4px; }

#mediaedit { background:#ecf2f2; border:5px solid #d4e0e0; padding:15px; text-align:left; }
#mediaedit p { font-size:12px; padding-bottom:5px; }

p.button { clear:both; }
p.button a { background:#006666; border:0; color:#fff; font-weight:bold; padding:2px 6px; width:auto; }

#popcontent { padding:10px; }
#popcontent h1 { color:#066; }
#popcontent h2 { color:#099; font-size:16px; }

#closebutton { float:right; margin:0; padding:2px; width:12px; }

.messagebox { background:#cce4e5; border:3px solid #a9cfd0; font-size:13px; font-weight:bold; margin:10px 0; padding:10px }
.note { color:#444; }

.subscrsubmit { background:#006666; border:0; color:#fff; font-weight:bold; padding:2px 6px; width:auto; }

#docview { background:#ecf2f2; border:5px solid #d4e0e0; padding:15px; text-align:left; }
#docview h3 { background:#066; color:#fff; margin:5px 0; padding:2px 5px; }
#docview p { margin:5px 0 10px; padding:0; }
.docviewdiv { background: #ffffff; border: 2px solid #d4e0e0; padding:10px 15px;
font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; color: #000000; height: auto; font-weight: normal; }



.practice { background:#ecf2f2; border:5px solid #d4e0e0; padding:15px 15px; list-style:none;}
.practice label { display:block; float:left; font-weight:bold; padding-top:2px; width:100px; }

.cellheader
{
	background-color: #d6e8f5;
	font-family: arial, helvetica, sans-serif;
	font-size: 13px;
}

.celldetail
{
	background-color: #e4f1fa;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
}


td#admsubnav {
	background-color:#d6e8f5;
    font-size: 12px;font-family:  arial, helvetica, sans-serif;color: #666666;
	}

td#admsubnav a {
	background-color: #d6e8f5;
	color: #666666;
	text-decoration:none;font-weight:normal;
    }

td#admsubnav a:hover {
	color: #ffffff;
	background-color: #336699;
	text-decoration:underline;
      }


.admintable
{
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    border-color: #ffffff;
    background-color: #d6e8f5;
	margin: 5px;

}

.bluetext { font-family: arial, helvetica, sans-serif; font-size: 12px; color: #336699; height: auto ; font-weight: normal}
a.bluetext:link { text-decoration: none }
a.bluetext:active { text-decoration: none }
a.bluetext:visited { text-decoration: none }
a.bluetext:hover { text-decoration: none; color:#cc1a1b }

.greytext { font-family: arial, helvetica, sans-serif; font-size: 12px; color: #666666; height: auto ;  font-weight: normal}
a.greytext:link { text-decoration: none }
a.greytext:active { text-decoration: none }
a.greytext:visited { text-decoration: none }
a.greytext:hover { text-decoration: none; color:#cc1a1b }

.dbtext { font-family: arial, helvetica, sans-serif; font-size: 12px; height: auto;  font-weight: normal}
a.dbtext:link { text-decoration: none }
a.dbtext:active { text-decoration: none }
a.dbtext:visited { text-decoration: none }
a.dbtext:hover { text-decoration: none; color:#cc1a1b }

.smallbluetext { font-family: arial, helvetica, sans-serif; font-size: 10px; color: #336699; height: auto ;  font-weight: normal}

.whitetext{font-family: arial, helvetica, sans-serif; font-size: 11px; color:#FFFFFF; text-decoration: none ; font-weight: bold;font-variant: small-caps;}
a.whitetext:link { text-decoration: none }
a.whitetext:active { text-decoration: none }
a.whitetext:visited { text-decoration: none }
a.whitetext:hover { text-decoration: none; color:#e4f1fa}

.textinput
{
    border: 1px solid #a6cacb;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #336699;
	font-weight: normal
}

.textinputgrey
{
    border: 0px ;

	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #666666;
	font-weight: normal
}


.smalltextinput
{
	border: 0px ;

	font-family: arial, helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #336699;
	font-weight: normal
}


.dbhidden
{
    border:0; background:none;
}


.hrgrey {color: #69aaac; height:1px}

.legend
{
background-color:#ffffff;
width:160px;
text-align: center;
border: #06406a dotted 1px;
font-family: arial, helvetica, sans-serif; font-size: 13px; color: #06406a; text-decoration: none ; font-weight: bold;font-variant: small-caps;
}

.fieldset
{
	position: relative;
	left:1px;
	width:90%;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	border-color: #006666;
	background-color:#d6e8f5;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: normal;

}

iframe {padding: 0;margin: 0; border:0 ;padding:10px;}


/*=== Float containers fix from http://www.csscreator.com/attributes/containedfloat.php ===*/
.clearfix:after  { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix{display: inline-block; }
/* Hides from IE-mac \*/
* html .clearfix{height: 1%; }
.clearfix{display: block; }
/* End hide from IE-mac */

