/* Global Styles
-------------------------------------------------- */
body { color:#2e2f30; font-family:'Roboto', Arial, Helvetica, sans-serif; font-weight:400; font-style:normal; }

/*@media (min-width: 768px) {
	.container { padding:0 10px; }
}*/


/* TEXT ELEMENTS 
-------------------------------------------------- */
.content p, .homecols p { margin-bottom:18px; }

/* Headings */
h1, h2, h3, h4, h5, h6 { color:#004b8d; font-weight:700; margin:23px 0 18px; }
h1 { color:#004b8d; font-size:24px; margin:0 0 23px; }
h2 { color:#b8094d; font-size:20px; }
h3 { font-size:18px; }
h4 { font-size:16px; }
h5 { font-size:15px; margin-top:18px; }
h6 { font-size:14px; margin-top:18px; }
 
/* Links */
a { color:#b8094d; }
a:hover, a:active, a:focus { color:#8a0036; }
.maincol li a, .sidecol li a, .maincol p a, .sidecol p a { text-decoration:underline; }
.maincol h2 a:after, .maincol h3 a:after, .maincol h4 a:after, .maincol h5 a:after, .maincol h6 a:after { border-top:8px solid transparent; border-left:8px solid #b8094d; border-bottom:8px solid transparent; content:''; display:inline-block; height:16px; margin-left:10px; width:8px; }
.maincol h4 a:after { border-width:7px 0 7px 7px; height:14px; width:7px; }
.maincol h5 a:after, .maincol h6 a:after { border-width:6px 0 6px 6px; height:12px; width:6px; }
a.phonenumber { color:#2e2f30; cursor: text; text-decoration:none; }

/* Buttons */
.btn:focus, .btn:active:focus { outline:none; }
.maincol .btn, .sidecol .btn, .carousel .btn { background:#002f6e; border:none; border-radius:0; color:#fff; font-size:16px; font-weight:700; padding:5px 12px 5px 12px; position:relative; text-decoration:none; }
a.btn-arrow { height:30px; margin-right:15px; padding:4px 6px 3px 12px !important; }
a.btn-arrow:hover, a.btn-arrow:focus { background:#b8094d; }
a.btn-arrow:after { border-bottom:15px solid transparent; border-left:15px solid #002f6e; border-top:15px solid transparent; content:""; display:inline-block; height:30px; position:absolute; right:-15px; top:0; width:15px; }
a.btn-arrow:hover:after, a.btn-arrow:focus:after { border-left-color:#b8094d; }

/* Images */
.alignright { float:right; margin:5px 0 20px 18px; }
.alignleft { float:left; margin:5px 20px 18px 0; }
.maincol img { display: block; width: 100% \9; max-width: 100%; height: auto; }

/* Lists */
.layout ul { list-style:square }
.layout li, .layout dd { margin-bottom:5px; }
.layout dt { }
.layout dd { margin-left:15px; }

ul.news-list, ul.events-list { list-style:none !important; margin:0; padding:0; }
ul.news-list li, ul.events-list li { margin:0 0 15px; padding:0; }
ul.news-list li strong, ul.events-list li strong { font-size:16px; }
ul.news-list li em { color:#6c6d70; font-style:normal; }
ul.events-list li em { font-style:normal; font-weight:bold; }
 
dl.member-details {}
dl.member-details dt { color:#004b8d; font-size:17px; margin:20px 0 5px; }
dl.member-details dd { margin-left:0; }

ul.list-cols li { float:left; position:relative; width:50%; }
@media (min-width: 1200px) {
ul.list-cols li { float:left; position:relative; width:33%; }
}

/* Table */
.layout table { border-bottom:1px solid #ddd; border-collapse:collapse !important; margin-bottom:20px; max-width:100%; width:100%; }
.layout table td, .layout table th { background-color:#fff !important; } 
.layout table > thead > tr > th, .layout table > tbody > tr > th, .layout table > tfoot > tr > th, .layout table > thead > tr > td, .layout table > tbody > tr > td, .layout table > tfoot > tr > td { border-top:1px solid #ddd; line-height:1.42857143; padding:8px; vertical-align:top; }
.layout table > thead > tr > th, .layout table > thead > tr > th { background-color:#f1f1f1 !important; border-bottom:2px solid #ddd; vertical-align:bottom; }
.layout table > caption + thead > tr:first-child > th, .layout table > colgroup + thead > tr:first-child > th, .layout table > thead:first-child > tr:first-child > th, .layout table > caption + thead > tr:first-child > td, .layout table > colgroup + thead > tr:first-child > td, .layout table > thead:first-child > tr:first-child > td { border-top:0; }
.layout table > tbody + tbody { border-top:2px solid #ddd; }

/* Forms */
form .btn { display:inline-block; }	
form .btn:hover { background:#800636; color:#fff; }
form .form-group { display:inline-block; margin-bottom:0; vertical-align:middle; width:auto; }
form input.form-control { border:2px solid #dcdcdf; border-radius:0; box-shadow:none; color:#666769; font-size:15px; width:auto; }
form textarea.form-control  { border:2px solid #dcdcdf; border-radius:0; box-shadow:none; color:#666769; font-size:15px; width:auto; }
form select.form-control { border:2px solid #dcdcdf; border-radius:0; box-shadow:none; color:#666769; font-size:15px; width:auto; }



.sidecol form { padding-top:26px; }
.sidecol form h2 { color:#b8094d; }
.member-search h2 { margin-bottom:10px; }
.member-search p { color:#6c6d70; font-size:0.8em; margin-top:5px; }
.member-atoz { margin-bottom:30px; }
.sidecol .member-atoz { margin-bottom:0; padding-top:26px; }
.member-atoz h2 { margin-bottom:10px; }
.sidecol .member-atoz h2 { color:#b8094d; }
.member-atoz a { background:#800636; color:#fff; display:inline-block; font-weight:bold; min-width:24px; padding:2px 6px; text-align:center; vertical-align:middle; }
.sidecol .member-atoz a { margin-bottom:5px; }
.member-atoz a:hover { background:#b8094d; text-decoration:none; }
.member-atoz span { display:none; }
.member-atoz a.btn { font-size:14px; padding:2px 10px; }
.member-county select { border:2px solid #dcdcdf; border-radius:0; box-shadow:none; color:#666769; font-size:15px; margin:0 0 10px; padding:1px 5px; width:100%; }
@media (min-width: 992px) {
.sidecol input.form-control { width:220px; }
}

@media (min-width: 1200px) { 
.sidecol input.form-control { width:284px; }
.sidecol select.form-control { width:281px; }
}

/* Pagination */
.pagination { width:100%; }
.pagination > li > a, .pagination > li > span { background-color:#fff; border:2px solid #BEBFC2; border-radius:0 !important; color:#800636; font-weight:bold; margin-left:2px; min-width:28px; padding:2px 6px; text-align:center; text-decoration:none; }
.pagination > li > a:hover, .pagination > li > a:focus { background-color:#b8094d; border-color:#b8094d; color:#fff; }
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus { background-color:#800636; border:2px solid #800636; }
.paging-btn a.btn { float:right; height:30px; margin-right:15px; padding:4px 6px 3px 12px !important; }
.paging-btn a.btn:after { border-bottom:15px solid transparent; border-left:15px solid #002f6e; border-top:15px solid transparent; content:""; display:inline-block; height:30px; position:absolute; right:-15px; top:0; width:15px; }
.paging-btn a.btn:hover:after { border-left-color:#b8094d; }

/* Accordion */
#accordion .panel { background:none; border:none; border-radius:0; box-shadow:none; margin:12px 0 5px; }
h2.panel-title { font-size:20px; }
h2.panel-title a { border-bottom:2px solid #dcdcdf; color:#004b8d; display:block; padding:4px 0; position:relative; }
h2.panel-title a.collapsed { background:none; color:#b8094d; }
h2.panel-title a.collapsed:hover { color:#8a0036; }
h2.panel-title a:after { content:''; display:inline-block; border-top:7px solid #004b8d; border-left:7px solid transparent; border-right:7px solid transparent; border-bottom:none; margin-left:8px; margin-top:4px; vertical-align:middle; }
h2.panel-title a.collapsed:after { border:none; }
h2.panel-title a.collapsed:hover:after { border-top:7px solid #b8094d; border-left:7px solid transparent; border-right:7px solid transparent; }
h2.panel-title a:hover, .panel-title a:focus, .panel-title a:active { color:#004b8d; outline:none; text-decoration:none; }
.panel-body { border-top:none !important; padding:15px 0 0; }
.panel-body > h3:first-child { margin-top:0; }

/* CONTENT AREA
-------------------------------------------------- */

/* Breadcrumb */
.breadcrumb { background:none; color:#5f6062; font-size:13px; margin:10px 0 0; padding:0; }
.breadcrumb a { color:#8e5a6e; }
.breadcrumb > li + li:before { border-left:4px solid #9d9d9c; border-top:4px solid transparent; border-bottom:4px solid transparent; content: ""; display:inline-block; height:0; margin:0 0 0 6px; padding:0 0 0 9px; width:0; }
@media (min-width: 768px) {
	.breadcrumb { margin-top:14px; }
}

/* Content Pages */
.content { background:url(https://www.eyedoctors.ie/css/img/content-bg-left.png) no-repeat 50% 0; }
.content2 { background:url(https://www.eyedoctors.ie/css/img/content-bg-right.png) no-repeat 50% 100%; padding-bottom:5px; }
/* Content Layout */
.layout { padding-top:20px; padding-bottom:10px; }
.maincol {}
.maincol p  {text-align:justify;}
.sidecol { padding-top:5px;}
.widecol {}
@media (min-width: 768px) { 
	.content2 { padding-bottom:0; }
	.layout { padding-top:38px; padding-bottom:20px; }
}

/* Google Search Results */
#GAresults { padding-top:20px; padding-bottom:10px; }
@media (min-width: 768px) { 
	#GAresults { padding-top:38px; padding-bottom:20px; }
}
#GAresults h1 { margin: 0 0 13px; }
#GAresults .gsc-control-cse { background:none; border:none; padding:1em 0; }
#GAresults .gsc-selected-option-container { min-width:90px; }
#GAresults .gsc-search-box { padding:0 0 10px; }
#GAresults td.gsc-input { padding:0; }
#GAresults input.gsc-input { border: 2px solid #dcdcdf; color: #666769; font-size: 15px; }
#GAresults input.gsc-search-button { background-color:#004b8d; border-color:#004b8d; border-radius:0; font-size:15px; height:31px; }
#GAresults .gsc-above-wrapper-area { border-bottom: 2px solid #eeeeef; }
#GAresults .gsc-cursor-box { border-top: 2px solid #eeeeef; }
#GAresults a.gs-title { color: #b8094d;}
#GAresults a.gs-title:hover, #GAresults a.gs-title:active, #GAresults a.gs-title:focus { color:#8a0036; }


/* Content Boxes */
.box { margin:15px 0 20px; padding:10px; position:relative; }
@media (min-width: 768px) {
	.box { margin:20px 0 30px; }
}
.box:before, .box:after { display:table; content:" "; }
.box:after { clear:both; }

.maincol .box { background:#eeeeef; margin-top:5px; padding:0 20px 15px; }
.maincol .box-feature { border:2px solid #d1d1d4; max-width:500px; }

/* Side Menu */
.sidecol dl { font-weight:700; margin:20px 0 30px; }
.sidecol dl dt a { background:#b8094d; color:#fff; display:block; font-size:18px; margin-bottom:2px; padding:8px 15px; }
.sidecol dl dt a:hover, .sidecol dl dt a:focus { background:#800636; color:#fff; text-decoration:none; }
.sidecol dl dd { margin:0; padding:0; }
.sidecol dl dd ul { border:none; margin:0; padding:0; }
.sidecol dl dd ul li { list-style:none; margin:0 0 2px; padding:0; }
.sidecol dl dd ul li a { background:#eeeeef; color:#2e2f30; display:block; font-size:16px; padding:8px 15px; text-decoration:none; }
.sidecol dl dd ul li ul li a { font-weight:300; }
.sidecol dl dd ul li a:hover, .sidecol dl dd ul li.active a { background:#d1d1d4; }
@media (min-width: 768px) {
	.sidecol dl { margin:0 0 60px; }
}

/* HOMEPAGE 
-------------------------------------------------- */
/* HP: Banner */
.banner { background:#bebfc2; }
@media (min-width: 992px) { 
	.banner { background: url(https://www.eyedoctors.ie/css/img/carousel-bg.png) no-repeat 50% 0 #bebfc2;  }
}

/* HP: Banner > Carousel */
.carousel { }
.carousel .container { padding-bottom:25px; position:relative; }
.carousel-inner .item { background-color: #fff; margin:20px 0 25px; }
.carousel-inner .item .carousel-img { display:block; margin:15px 15px 10px; }
.carousel-inner .item .carousel-img img { position:relative; }
.carousel-inner .item .carousel-text { margin:0 13px 13px; }
.carousel-inner .item .carousel-text h2 { color:#004b8d; font-size:24px; margin:0 0 15px; }
.carousel-inner .item .carousel-text h2 a:link {color:#004b8d;}
.carousel-inner .item .carousel-text h2 a:visited {color:#004b8d;}
.carousel-inner .item .carousel-text p { color:#b8094d; font-size:16px; font-weight:bold; line-height: 1.1; margin:0 0 5px; }
.carousel-indicators { bottom:0; margin-bottom:0; }
.carousel-indicators li { background-color:#f9f9f9; border:none; height:10px; margin:0 1px; width:10px; box-shadow:0 0 1px 0 rgba(0, 0, 0, 0.7); }
.carousel-indicators li:hover { background-color: #004b8d; } 
.carousel-indicators .active { background-color:#6c6d70; height:10px; margin:0 1px; width:10px; box-shadow:0 0 2px 0 rgba(255, 255, 255, 0.5); }
.carousel-indicators .active:hover { background-color:#6c6d70; }
.carousel-control { opacity:1; width:15px; z-index: 100; }
.carousel-control:hover, .carousel-control:focus { opacity:1; } 
.carousel-control.right, .carousel-control.left { background:none; }
.carousel-control.right { right:-15px; }
.carousel-control.left { left:-15px; }
.carousel-control span { content:''; height:30px !important; margin-top:-15px !important; width:15px !important; }
.carousel-control.right span { border-top:15px solid transparent; border-left:15px solid #6c6d70; border-bottom:15px solid transparent; margin-right:0 !important; right:0; }
.carousel-control.left span { border-top:15px solid transparent; border-right:15px solid #6c6d70; border-bottom:15px solid transparent; margin-left:0 !important; left:0; }
.carousel-control.right:hover span, .carousel-control.right:focus span { border-left-color: #004b8d; }
.carousel-control.left:hover span, .carousel-control.left:focus span { border-right-color: #004b8d; }
.carousel-control .icon-prev:before, .carousel-control .icon-next:before { content:''; }
@media (min-width: 768px) { 
	.carousel { }
	.carousel .container { padding-bottom:0; }
	.carousel-inner .item { margin:25px 0; padding:8px; }
	.carousel-inner .item .carousel-img { float:left; margin:0 20px 0 0; }
	.carousel-inner .item .carousel-text { margin:0; }
	.carousel-inner .item .carousel-text p { font-size:18px; margin-bottom:8px; }
	.carousel-inner .item .carousel-text { margin:0; padding-top:3px; }
	.carousel-indicators { bottom:0; padding-left: 30px; }
	.carousel-indicators li, .carousel-indicators .active { height:12px; width:12px; }
}
@media (min-width: 992px) {
	.carousel { height:320px; }
	.carousel-inner .item { border:2px solid #d1d1d4; height: 240px; margin:40px 0; }
	.carousel-inner .item .carousel-img { overflow: hidden; width: 315px; }
	.carousel-inner .item .carousel-img img { max-width:none; }
	.carousel-inner .item .carousel-text { width:595px; }
	.carousel-inner .item .carousel-text h2 { font-size:22px; margin-top: 10px; }
	.carousel-indicators { bottom:10px; }
	.carousel-control { width:30px; }
	.carousel-control.right { right:-30px; }
	.carousel-control.left { left:-30px; }
	.carousel-control span { height:40px !important; margin-top:-20px !important; width:20px !important; }
	.carousel-control.right span { border-top-width:20px; border-left-width:20px; border-bottom-width:20px; margin-right:5px !important; }
	.carousel-control.left span { border-top-width:20px; border-right-width:20px; border-bottom-width:20px; margin-left:5px !important; }
}
@media (min-width: 1200px) { 
	.carousel-inner .item { margin:40px 0 40px 30px; }
	.carousel-inner .item .carousel-img { width: 350px; }
	.carousel-inner .item .carousel-text { width:690px; }
	.carousel-inner .item .carousel-text h2 { font-size:24px; }
	.carousel-control.left { left:0; }
	.carousel-control.right span { margin-right:0 !important; }
	.carousel-control.left span { margin-left:0 !important; }
}

/* HP: Banner > Event Box */
.banner .box.events { background-color: #eeeeef; border: 2px solid #bebfc2; margin: 20px 0; padding: 12px 12px 0; }
.banner .box.events h2 { color:#004b8d; font-size:22px; margin:4px 0 12px; }
.banner .box.events h2 a { color:#004b8d; }
.banner .box.events p a.btn { background:#b8094d; border:none; border-radius:0; color:#fff; font-size:16px; font-weight:bold; margin-left:-12px; padding:3px 15px 4px; position:relative; text-align:left; text-decoration:none; width:100%; }	
.banner .box.events p a.btn:after { border-top:15px solid transparent; border-left:15px solid #b8094d; border-bottom:15px solid transparent; content:''; display:inline-block; height:30px; position:absolute; right:-15px; top:0; width:15px; }
.banner .box.events p a.btn:hover { background:#8a0036; }
.banner .box.events p a.btn:hover:after { border-left-color:#8a0036; }
@media (min-width: 992px) {
	.banner .box.events { margin:40px 0 40px 20px; min-height: 240px; }
}
@media (min-width: 1200px) { 
	.banner .box.events { margin:40px 30px; }
}

/* HP: Content Columns + Side Column Content Box */
.homecols { padding:20px 0 15px; }
.homecols h2, .sidecol h2 { color:#004b8d; font-size:22px; margin:6px 0 8px; }
.sidecol h2 { font-size:20px; }
.homecols h2 a, .sidecol h2 a { color:#004b8d; }
.homecols .box, .sidecol .box { background:#eeeeef; margin-top:5px; padding-bottom:0; }
.homecols .box.twitter { background:#fff; border:2px solid #d1d1d4; height:242px; overflow:hidden; padding:0 0 0 7px; }
.homecols .box img, .sidecol .box img { height:auto; margin-bottom:15px; max-width:100%; }
.homecols p, .sidecol p { line-height:1.2; margin:0 5px 10px; }
.homecols p a.btn, .sidecol p a.btn { background:#b8094d; border:none; border-radius:0; color:#fff; font-size:16px; font-weight:bold; margin-left:-15px; padding:4px 15px; position:relative; text-align:left; text-decoration:none; width:100%; }	
.homecols p a.btn:after, .sidecol p a.btn:after { border-top:15px solid transparent; border-left:15px solid #b8094d; border-bottom:15px solid transparent; content:''; display:inline-block; height:30px; position:absolute; right:-15px; top:0; width:15px; }
.homecols p a.btn:hover, .sidecol p a.btn:hover { background:#8a0036; }
.homecols p a.btn:hover:after, .sidecol p a.btn:hover:after { border-left-color:#8a0036; }
@media (min-width: 768px) { 
	.homecols { padding:20px 0; }
	.homecols h2, .sidecol h2 { margin:15px 0 10px; }
	.homecols .box { min-height:245px; }
	.homecols p, .sidecol p { margin-bottom:15px; }
	.homecols p a.btn, .sidecol p a.btn { margin-bottom:-5px; }
}
@media (min-width: 992px) {
	.homecols h2, .sidecol h2 { font-size:21px; }
}
@media (min-width: 1200px) { 
	.homecols h2, .sidecol h2 { font-size:22px; }
}

/* HP: Events */
.events ul { list-style:none; margin:0; padding:0 0 5px; }
.events ul li { clear:left; font-size:13px; line-height:1.3; min-height:36px; padding-bottom:10px; padding-left:75px; position:relative; }
.events ul li a { color:#76787a; }
.events ul li a:hover { text-decoration:none; }
.events ul li a:hover strong { color:#000; text-decoration:underline; }
.events ul li strong { color:#2e2f30; display:inline-block; font-size:14px; font-weight:400; line-height:1.2; margin:6px 0 0; }
.events ul li span { font-style:italic; }
.events ul li em.date { background-color:#8d8d90; color: #fff; display:block; font-size:14px; font-style:normal; left:0; line-height:1; margin:0; padding:4px; position:absolute; text-align:center; top:0; width:65px; }
.events ul li em.date span { color:#fff; display:inline-block; float:none; font-size:18px; font-style:normal; font-weight:700; padding:0; vertical-align: middle; width:auto; }
.events ul li a:hover em.date { background:#004b8d; }
@media (min-width: 992px) { 
	.events ul li { min-height:46px; padding-bottom:12px; }
	.events ul li strong { margin-top:2px; }
	.events ul li em.date { height:35px; padding:8px 4px 0; }
}

/* HP: List */
.box.list ul { margin: 5px 0; padding: 0; }
.box.list li { font-size: 16px; line-height: normal; list-style: none; margin: 0; padding: 0 0 13px 15px; position: relative;}
.box.list li:before { border-top:8px solid transparent; border-left:8px solid #8d8d90; border-bottom:8px solid transparent; content:''; display:inline-block; height:15px; position:absolute; left:0; top:2px; width:8px; }
.box.list li a { color:#2e2f30; }


/* HEADER
-------------------------------------------------- */
header { margin-bottom:0; }
.navbar-default { border:none; margin-bottom:0; }

/* Header: Logo + Mission + Menu Toggle */
.navbar-header { background:#fff; }
.navbar-header .navbar-toggle {}
.navbar-header .navbar-toggle { background-color:#b8094d; border:none; border-radius:0; margin:12px 0 0 0; }
.navbar-header .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color:#800636; }
.navbar-header .navbar-toggle .icon-bar { background-color:#fff; }
.navbar-header .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar { background-color:#fff; }
.navbar-header .navbar-brand { display:inline-block; float:none; height:auto; margin:0; padding:15px 0; }
@media (min-width: 768px) { 
	.navbar-header, .navbar-nav { float:none; }
	.navbar-header .navbar-brand { padding:20px 0; }
	.navbar-header .navbar-brand img { width:auto; }
}

/* Header: Menu */
.navbar-collapse { background:#b8094d; }
.navbar-collapse .navbar-main { margin-bottom:0; }
.navbar-collapse .navbar-main > li > a { color:#fff; font-size:14px; font-weight:500; margin-bottom:2px; }
.navbar-collapse .navbar-main > li > a:hover, .navbar-collapse .navbar-main > li > a:focus, 
.navbar-collapse .navbar-main > .active > a, .navbar-collapse .navbar-main > .active > a:hover, .navbar-collapse .navbar-default .navbar-main > .active > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus { background:#800636; color:#fff; }
.navbar-collapse .navbar-main > li.dropdown .dropdown-menu { border:none; margin-top:0; padding:0; background:#d1d1d4;}
.navbar-collapse .navbar-main > li.dropdown .dropdown-menu > li > a { color:#fff; }
.navbar-collapse .navbar-main > li.dropdown .dropdown-menu > li > a:hover { background:#d1d1d4; }
.navbar-collapse .navbar-main > li.dropdown .dropdown-menu > li.dropdown-submenu .dropdown-menu{  border-top:20px; top:0; background:#898989;}
.navbar-collapse .navbar-main > li.dropdown .dropdown-menu > li.dropdown-submenu > a span.caret-right {display: inline-block;  width: 0; height: 0; text-align: left; margin-right: 2px; vertical-align: middle; border-left: 4px solid; border-bottom: 4px solid transparent; border-top: 4px solid transparent;}


@media (min-width: 768px) {
	.navbar-collapse .container { position:relative; }
	.navbar-collapse .navbar-main { margin:0 auto; }
	.navbar-collapse .navbar-main > li > a { border-left:2px solid #cd5383 !important; line-height:20px; margin:0; padding:8px 7px 10px; text-align:center;  font-size: 12px;}
	.navbar-collapse .navbar-main > li:first-child > a { border-left:none !important; padding-bottom:7px;}
	.navbar-collapse .navbar-main > li:first-child > a span { font-size: 18px; }
	.navbar-collapse .navbar-main > li:first-child > a span.home { display:inline-block; text-indent:-9999px; }
	.navbar-collapse .navbar-main > li.dropdown .dropdown-menu { background-color:#eeeeef; border-radius:0; box-shadow:none; left:2px; margin:0; min-width:166px; }
	.navbar-collapse .navbar-main > li.dropdown .dropdown-menu > li.dropdown-submenu  {position:relative;}
	.navbar-collapse .navbar-main > li.dropdown .dropdown-menu > li.dropdown-submenu .dropdown-menu{ left:100%; border-top:20px; top:0; background:#eeeeef;}
	.navbar-collapse .navbar-main > li.dropdown .dropdown-menu > li > a { color:#2e2f30; font-weight:500; padding:7px 15px; text-shadow:1px 1px 0 rgba(255,255,255,0.3); border-top:2px solid #fff; }
	.navbar-collapse .navbar-main > li.dropdown .dropdown-menu > li:first-child > a { border-top:0; }
	.navbar-collapse .navbar-main > li.dropdown .dropdown-menu > li > a:hover { background:#d1d1d4; }
}
@media (min-width: 992px) {
	.navbar-collapse .navbar-main > li > a { font-size:14px; padding:9px 16px 11px; }
	.navbar-collapse .navbar-main > li:first-child > a { padding-top:10px; padding-bottom:8px; }
}
@media (min-width: 1200px) { 
	.navbar-collapse .navbar-main > li > a { padding:9px 25px 11px; }
}

/* Header: Search Form */
.navbar-collapse .navbar-form { border:none !important; box-shadow:none; margin-top:0; padding-top:0; }
.navbar-collapse .navbar-form p a.btn { background:none; border-radius:0; color:#fff; display:block; font-size:14px; font-weight:500; margin:0 -15px; padding:10px 15px; text-align:left; }	
.navbar-collapse .navbar-form p a.btn:hover { background:#800636; color:#fff; }
.navbar-collapse .navbar-form .form-group { display:inline-block; margin-bottom:0; vertical-align:middle; width:auto; }
.navbar-collapse .navbar-form input.form-control { border:none; border-radius:0; box-shadow:none; color:#666769; font-size:15px; margin-right:-6px; width:auto; }
.navbar-collapse .navbar-form button { background:url(https://www.eyedoctors.ie/css/img/search-icon.png) no-repeat 50% 50% #004b8d; border:none; border-radius:0; color:#fff; height:34px; text-indent:-9999px; width:38px; }
@media (min-width: 768px) {
	.navbar-collapse .navbar-form { position:absolute; right:0; top:-108px; }
	.navbar-collapse .navbar-form p { margin-bottom:15px; text-align:right; }
	.navbar-collapse .navbar-form p a.btn { background:#e6e6e9; color:#004b8d; display:inline-block; font-size:16px; margin:0; padding:2px 10px; text-align:center; }	
	.navbar-collapse .navbar-form input.form-control { border:2px solid #dcdcdf; }
}

/* FOOTER
-------------------------------------------------- */
footer { background:#6c6d70; color:#fff; font-size:13px; padding:10px 0 0; position:relative; }
footer p { text-align:center; }
footer p span { padding:0 0 0 5px; }
footer p.credit { color:#bbb; font-size:10px; margin-bottom:5px; } 
footer a { color:#fff; text-decoration:none; }
footer a:hover { color:#fff; text-decoration:underline; }
footer p.credit a { color:#bbb; }
footer hr { display:none; }
@media (min-width: 768px) {
  footer { font-size:15px; }
  footer p span { padding:0 0 0 20px; }
}


/* Gallery */
#contentbg ul { list-style:none; margin:0; padding:0; }
#contentbg ul.gallerysets { list-style:none; margin:0; padding:0; }
	#contentbg ul.gallerysets li { background:none; margin:0; padding:0; }
	#contentbg ul.gallerysets h2 { margin-bottom:6px; }
		#contentbg ul.gallerysets ul { background:#fff; border:1px solid #b9d0e1; margin:0; padding:14px 0 10px 0; text-align:center; }
			#contentbg ul.gallerysets ul li { float:left; padding:0 0 0 18px; width:80px; }
			#contentbg ul.gallerysets ul li img { border:1px solid #ccc; }

#contentbg ul.photoset { list-style:none; margin:0; padding:0; }
	#contentbg ul.photoset li { background:none; float:left; margin:0; padding:0 20px 16px 0; width:81px; }
		#contentbg ul.photoset li img { background:#fff; border:1px solid #b9d0e1; padding:2px; }

#photo { padding-bottom:15px; text-align:center; }
	#photo img { background:#fff; border:1px solid #b9d0e1; padding:2px; vertical-align:middle; }
	#photo a:link, #photo a:visited { font-size:2em; font-weight:bold; padding:0 5px; text-decoration:none; }

/*#contentbg ul.microgallery { width:600px; list-style:none; display:block; margin: 0; padding:10px 0 0 0;}
#contentbg ul.microgallery li { background:none; margin: 0; padding:0 0 2px 0; display:block; float:left; width:80px; text-align:center;}*/

#contentbg ul.microgallery { margin:0; padding:14px 0 10px 12px; text-align:center; }
	#contentbg ul.microgallery li { background:none; float:left; margin:0; padding:0 20px 16px 0; width:81px; }
		#contentbg ul.microgallery li img { background:#fff; border:1px solid #b9d0e1; padding:2px; }
		#contentbg ul.microgallery li img.currentlyshowing { border:2px solid #4b87b1; padding:1px; }

.MediaList ul { list-style:none; margin:0; padding:0; }
#MediaList ul li {float:left; margin:0; padding:0 20px 16px 0; display:inline-block; }

.subsubmenu ul {}
.subsubmenu ul li {}
.subsubmenu ul li a {font-weight:100;}
.subsubmenu ul li a span {padding-left:15px;display:block;}

.book {max-width:385px; float: right; display: inline-block;padding: 8px;}
.book a.btn, .book a.btn { background:#004b8d; border:none; border-radius:0; color:#fff; font-size:16px; font-weight:bold; margin-left:-15px; padding:3px 15px 4px; position:relative; text-align:left; text-decoration:none; width:100%; }	
.book a.btn:after, .book a.btn:after { border-top:15px solid transparent; border-left:15px solid #004b8d; border-bottom:15px solid transparent; content:''; display:inline-block; height:30px; position:absolute; right:-15px; top:0; width:15px; }
.book a.btn:hover, .book  a.btn:hover { background:#004b8d }
.book a.btn:hover:after, .book  a.btn:hover:after { border-left-color:#004b8d; }


.lecture-highlight   { background:#eeeeef; border-radius: 25px; color:#2e2f30; padding:13px 15px 4px; text-align:justify;  }	

#skip{
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
}