
.karmic_flow_container { overflow: hidden; position: relative; width: 662px; height: 223px; }

.karmic_flow_slider, .karmic_flow_slider li { list-style:none; margin: 0; padding: 0; }
.karmic_flow_slider { overflow: hidden; position: relative; margin-left: 0; }
.karmic_flow_slider li { float: left; position: relative; overflow:hidden; }
.karmic_flow_slide_overflow { /* optional */ /* overflow:auto; */ }

.karmic_flow_sliding .karmic_flow_slide_overflow { overflow:hidden; }
.karmic_flow_sliding object, .karmic_flow_sliding embed { display: none; }

.karmic_flow_slides { position:relative; }
.karmic_flow_slides p { color:#004990; font-size:1em; left:210px; line-height:1.4; margin:0; padding:0; position:absolute; top:28px; width:320px; }
.karmic_flow_slides p strong { color:#0f375f; display:block; font-size:1.5em; margin-bottom:12px; }
.karmic_flow_slides p a:link, .karmic_flow_slides p a:visited { background: url(/images/button-bg.gif) repeat-x #2d85c6; border:1px solid #236799; border-top:0; color:#fff; display: inline-block; font-size:1em; font-weight:bold; margin-top:20px; padding:4px 10px 3px; text-decoration:none; width:auto; }
.karmic_flow_slides p a img { vertical-align:middle; padding:0 0 2px 10px; }

.controller { padding:0; position:absolute; right:0; top:0; width:108px; }

a.karmic_flow_controller:link, a.karmic_flow_controller:visited { background:#e9f2fb; border-left:1px solid #d4e3ee; border-top:1px solid #d4e3ee; color:#8398a5; display:block; font-size:0.8em; height:43px; line-height:normal; margin-left:9px; padding:12px 12px 0; text-decoration:none; }
a.karmic_flow_controller_selected:link, a.karmic_flow_controller_selected:visited { background:url(/images/slider-arrow.png) no-repeat transparent !important; border:0; color:#285c91 !important; display:block; font-size:0.8em; height:43px; line-height:normal; margin:0; padding:12px 12px 0 22px !important; text-decoration:none; }

.karmic_flow_play_controller, .karmic_flow_pause_controller { color:#fff; display:block; height:17px; line-height:10em;
overflow:hidden; position:absolute; right:126px; bottom:16px; width:14px; z-index:100; }
.karmic_flow_play_controller { background: url(/images/play.png); }
.karmic_flow_pause_controller { background: url(/images/pause.png) !important; }

