<h2>Interested in a Career in Ophthalmology?</h2>

<h3>Applications for <strong>Basic Training in Surgical Ophthalmology</strong> and <strong>Basic Training in Medical Ophthalmology</strong>, commencing July 2023, open <strong>Tuesday, 25th October 2022</strong> and <strong>close 4pm Thursday&nbsp;2&nbsp;February&nbsp;2023.&nbsp;</strong></h3>

<h3 class="embed-responsive embed-responsive-16by9"><iframe allowfullscreen="" class="embed-responsive-item" src="https://player.vimeo.com/video/605642188?dnt=1"></iframe></h3>

<p>&nbsp;</p>

<p>Applications for Basic Training in Surgical Ophthalmology and Basic Training in Medical Ophthalmology, commencing <strong>July 2023, open Tuesday, 25th October 2022</strong> and <strong>close 4pm Thursday&nbsp;2 February 2023</strong>.</p>
<!-- p><b>To submit an online application, please <a href="https://v2.pac.ie/institute/21" target="ext" title="Submit an online application">click here</a></b>. Please note that you will be redirected to the ICO page on the Postgraduate Applications Centre (PAC) website.</p -->

<p>Further information on the application, eligibility requirements and English language requirements are outlined in the <a href="/trainees/Basic-Training-in-Surgical-Ophthalmology.asp" target="ext" title="Basic Training in Surgical Ophthalmology">BST</a> and <a href="/trainees/Basic-Training-in-Medical-Ophthalmology.asp" target="ext" title="SBasic Training in Medical Ophthalmology">BMT</a> sections on the website. <strong>We recommend that all interested doctors review the documents below prior to submitting an application.</strong></p>

<p>For further information on the ICO Basic Specialist Programs in Medical and Surgical Ophthalmology and information on applying, please see our recorded webinars:</p>

<div class="row" style="padding:0.2rem;">
<div class="col-sm-6">
<h4>The Consultant Talk</h4>
<a href="https://vimeo.com/755607601/85171d524b" target="_blank"><img alt="The Consultant Talk – Miss Yvonne Delaney, Dean of Postgraduate Education ICO" class="img-responsive" src="/images/medical_carreed_day_video_2022.jpg" /></a> Miss Yvonne Delaney, Dean of Postgraduate Education ICO</div>

<div class="col-sm-6">
<h4>Scorecard Ophthalmology 2022</h4>
<a href="https://vimeo.com/755587673/3ce802a846" target="_blank"><img alt="Medical Careers Day Scorecard Ophthalmology 2021" class="img-responsive" src="/images/medical_carreed_day_application_video_2021.jpg" /></a></div>
</div>

<p>&nbsp;</p>
