<h1>Specialty Training Programme in Ophthalmology</h1>

<p>The closing date for receipt of applications is Monday December 8th, 2015</p>

<p>
Applications are invited for entry onto the ophthalmology training programme for July 2015. 
<br/>
This is a common entry programme for medical ophthalmology and surgical ophthalmology. 
<br />
Electronic Applications to <a href="mailto:marian.scully@eyedoctors.ie?subject=Specialty Training Programme in Ophthalmology | Applications" title="Email your application">marian.scully@eyedoctors.ie</a>
</p>




        <p>Application for entry onto Core Training Programme commencing in July 2015

            <ul>
                <li><a href="/medium/files/APPLICATION FORM_ICO_BST_July_2015.doc" target="doc" title="Download the 'Application Form' document">Application Form</a></li>

                <li><a href="/medium/files/Referee_assessments_Form_2015.doc" target="doc" title="Download the 'Application Form' document">Reference Form</a></li>

                <li><a href="/medium/files/ICO Eligibility.pdf" target="doc" title="Download the 'Eligibility for Trainee Specialist Division' document">Eligibility for trainee specialist division</a></li>
                <li><a href="/medium/files/ICO Eng Language.pdf" target="doc" title="Download the English Language requirement document">English Language requirement</a></li>
                <li><a href="/medium/files/ICO Alloc of Places.pdf" target="doc" title="Download the Allocation of places document">Allocation of places</a></li>
            </ul>

        </p>


    