<h2>Interested in a Career in Ophthalmology?</h2>

<div class="embed-responsive embed-responsive-16by9"><iframe allowfullscreen="" class="embed-responsive-item" src="https://player.vimeo.com/video/605642188?dnt=1"></iframe></div>



<ul>
	<li>6.30pm Basic Medical Training (BMT) Q&amp;A Session</li>
	<li>7.15pm Basic Surgical Training (BST) Q&amp;A Session</li>
</ul>

<p>All are welcome to attend one or both Q&amp;A sessions.</p>

<p>The ICO is facilitating the session as part of the online delivery of this year&#39;s Medical Careers Fair, a joint initiative of the HSE, Forum Irish of Postgraduate Medical Training Bodies and Medical Council.</p>

<p>The session aims to highlight the excellent training and career opportunities in Medical Ophthalmology and Surgical Ophthalmology and will be hosted by <strong>Miss Yvonne Delaney, Dean of Postgraduate Education, Irish College of Ophthalmologists.</strong></p>

<p>For further information on the ICO Basic Specialist Programs in Medical and Surgical Ophthalmology and information on applying, please see our recorded webinars:</p>

<div class="row" style="padding:0.2rem;">
<div class="col-sm-6">
<h4>The Consultant Talk</h4>
<a href="https://vimeo.com/755607601/85171d524b" target="_blank"><img alt="The Consultant Talk – Miss Yvonne Delaney, Dean of Postgraduate Education ICO" class="img-responsive" src="/images/medical_carreed_day_video_2022.jpg" /></a> Miss Yvonne Delaney, Dean of Postgraduate Education ICO</div>

<div class="col-sm-6">
<h4>Scorecard Ophthalmology</h4>
<a href="https://vimeo.com/755587673/3ce802a846" target="_blank"><img alt="Medical Careers Day Scorecard Ophthalmology 2021" class="img-responsive" src="/images/medical_carreed_day_application_video_2021.jpg" /></a></div>
</div>

<p>&nbsp;</p>

<div class="row" style="background-color:#f9f4fb;padding:0.2rem;">
<h2>Register For The Live Q&amp;A</h2>

<div class="col-md-5 text-center" style="background-color:#fff">
<h4>Basic Medical Training Q&amp;A session</h4>
<a class="btn" href="https://us02web.zoom.us/meeting/register/tZcsf-uorTkvGNDguQPxwwtRbv6Hovu5rQlX" target="_blank" title="Link to the online registration form for Basic Surgical Training Q&amp;A session">Register Now</a><br />
&nbsp;<br />
<em>Online Via Zoom 12th October 2022 @6.30pm</em></div>

<div class="col-sm-0 col-md-1">&nbsp;</div>

<div class="col-md-5 text-center" style="background-color:#fff">
<h4>Basic Surgical Training Q&amp;A session</h4>
<a class="btn" href="https://us02web.zoom.us/meeting/register/tZEucemqpzMiEtF11bTtuGRZRuB25qM3tMi2" target="_blank" title="Link to the online registration form for Basic Medical Training Q&amp;A session">Register Now</a><br />
&nbsp;<br />
<em>Online Via Zoom 12th October 2022 @7.15pm</em></div>

<div class="col-sm-12">
<p style="padding:1rem">After registering, you will receive a confirmation email containing information about joining the meeting.<br />
Please note that while we will attempt to answers as many of your questions as possible it may not be possible to answer them all.</p>
</div>
</div>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>Applications for the ICO Basic Specialist Programmes in Medical and Surgical Ophthalmology commencing July 2023 will open on Tuesday 25th October, 2022 and will close 4pm Monday 30th January 2023.&nbsp;<br />
Please visit the <a href="https://www.eyedoctors.ie/Trainees/" target="_blank">ICO website Trainee</a> section for further information or email ICO Training Programme Manager <a href="mailto:rebecca.martin@eyedoctors.ie">rebecca.martin@eyedoctors.ie</a> with any queries</p>
<script src="https://player.vimeo.com/api/player.js"></script>