<h2>Irish College of Ophthalmologists<br />
Certificate of Completion of Specialty Training in Ophthalmology - Old Pathway</h2>

<p>The newly configured specialty training programme in Medical Ophthalmology was launched in July 2015. The programme includes sub specialty emphasis on medical retina, glaucoma and paediatric ophthalmology.</p>

<p>It is a 3-year basic training programme followed by 2 years of higher medical ophthalmology training and replaced the old 4-year programme.</p>

<p>The old pathway is being phased out from July 2018. As a bridge between the old and new programme a new assessment in the form of a viva voce is mandatory for any trainee wishing to successfully exit the old pathway and receive their CCST.</p>

<p><b>The date for the assessment is November 8th, 2019</b></p>

<p>The topics for the assessment will be drawn from the curriculum of the higher medical training programme in ophthalmology and the three sub specialties of medical retina, glaucoma and paediatric ophthalmology.</p>

<p>If you have trained on the old pathway and wish to be eligible to be awarded a Certificate of Completion of Specialist Training (CCST) in Medical Ophthalmology by the ICO, you must pass this assessment &ndash; together with the other requirements of the programme.</p>

<p>For Eligibility to Apply for the Assessment, Candidates must have: Certificate of Completion of Basic Specialist Training Completed one full year - post CCBST - of medical ophthalmology training in an accredited training post Logbook of procedures that meets the minimum criteria of the HMT curriculum</p>

<p>Closing Date for Applications for Assessment: Friday 25th October</p>

<p>If you do not pass the assessment on November 8th you will have an opportunity to sit a supplemental assessment</p>

<p><a href="/trainees/downloads/Application for Exit Assessment.docx" target="doc" title="Application Forms">Download Application Form</a></p>
