<h1>Basic Training in Medical Ophthalmology</h1>

<div class="embed-responsive embed-responsive-16by9"><iframe allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" frameborder="0" height="360" src="https://player.vimeo.com/video/1015247192?h=eb7a5e7014&amp;color=0073ef&amp;title=0&amp;byline=0&amp;portrait=0&amp;dnt=1" width="640"></iframe></div>

<p>&nbsp;</p>
<!-- div class="panel panel-primary">
<div class="panel-heading ">Medical Careers 2021 : Ophthalmology Live Q&A Session</div>

<div class="panel-body" style="padding:10px;">The Irish College of Ophthalmologists is hosting online information sessions for
<ul>
	<li>Basic Surgical Training (BST) on Wednesday 13th October at 6.30pm and</li>
	<li>Basic Medical Training (BMT) on Wednesday 13th October at 7.15pm</li>
</ul>

<p><a class="btn" href="/latest-news/13-Oct-21/Medical-Careers-2021:-Ophthalmology-Live-Q&amp;A-Session/561.html" title="More information about the event">More information</a></p>
</div>
</div -->

<div class="panel-group" id="accordion">
<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse1">Overview</a></h2>

<div class="panel-collapse collapse in" id="collapse1">
<div class="panel-body">
<p>The Medical Ophthalmology Curriculum is a five-year competence-based curriculum consisting of three basic&nbsp;years (BMT1, BMT2 &amp; BMT3) followed by two&nbsp;years (HMT4 &amp;&nbsp;HMT5) of subspecialty training in paediatrics, glaucoma and medical retina.</p>

<p>The purpose of the basic&nbsp;foundation years is to provide a broad based initial training in ophthalmology with attainment of knowledge, skills and professional behaviours relevant to the practice of ophthalmology in any specialist discipline.</p>

<p>The National Training Programme in Medical Ophthalmology is the route to qualification as a Medical Ophthalmologist&nbsp;in Ireland. Medical Ophthalmology is predominately an <strong>out-patient</strong> based specialty with a <strong>varied work-load</strong> including <strong>laser</strong> sessions, <strong>minor-op</strong> sessions, and <strong>injection</strong> sessions while incorporating new technological and ophthalmic advances, including the development of <strong>Integrated Eye Care Teams</strong>.</p>

<p><o:p>Medical Ophthalmology is a <strong>fast-paced. high-tech</strong> and <strong>hi-skill</strong> specialty suited to driven individuals who can adapt to its <strong>evolving</strong> and <strong>dynamic</strong> nature.</o:p></p>

<p>Entry on to the programme is by interview held at the Irish College of Ophthalmologists. Successful candidates are appointed to the basic training program&nbsp;for a three-year period. Trainees rotate around the clinical training sites and contracts of employment are issued by the relevant hospitals. Trainees are rotated to a new team every 6 months in order to acquire the skills and competencies required to successfully complete BMT.&nbsp;</p>

<p>Following successful completion BMT1 &ndash;BMT3 Training (requires passing the MRCSI exam) candidates can compete to enter&nbsp;higher Training in Medical Ophthalmology HMT4 &ndash; 5.</p>

<p>The ICO is seeking the next generation of leaders and specialists to join our <strong>National Training Programme in Medical Ophthalmology</strong>, opening the door to a fulfilling career as a <strong>Consultant Medical Ophthalmologist</strong>.</p>

<p>Further information on how to apply and details on the scorecard for entry to BMT is available below under &ldquo;Application &amp; Entry&rdquo;.<o:p></o:p></p>
</div>
</div>
</div>


<div class="embed-responsive embed-responsive-16by9"><iframe allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" frameborder="0" height="360" src="https://player.vimeo.com/video/605642188?h=eb7a5e7014&amp;color=0073ef&amp;title=0&amp;byline=0&amp;portrait=0&amp;dnt=1" width="640"></iframe></div>



<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2">Application &amp; Entry</a></h2>

<div class="panel-collapse collapse" id="collapse2">
<div class="panel-body">
<p>Entry on to the National Training Programme (NTP) in Medical Ophthalmology&nbsp;is by annual competitive interview run by the Irish College of Ophthalmologists. Available posts are advertised via this website in November/December of each year.</p>

<p>To apply for the&nbsp;NTP in Medical Ophthalmology&nbsp;a trainee needs to be registered with the Medical Council of Ireland and eligible for trainee specialist registration.</p>

<p><span background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Successful candidates are appointed to the training programme&nbsp;</span><span background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">for a three year period. Trainees rotate around the clinical training sites and c</span><span background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">ontracts of employment are issued by the relevant hospitals.</span></p>

<p>Entry on to the Programme is by competitive interview held at the Irish College of Ophthalmologists. &nbsp;Your Undergraduates performance together with your personal and professional attributes, such as, ability to work as a team, communications skills and personal motivation, are all relevant.&nbsp;</p>

<p>Any interested graduate can contact Andrea Farrell, Training and Education Support&nbsp;Administrator at&nbsp;<a href="mailto:andrea.farrell@eyedoctors.ie">andrea.farrell</a><a href="http://rebecca.martin@eyedoctors.ie">@eyedoctors.ie</a> &nbsp;who can put you in touch with the Dean of Postgraduate Education or other Eye Doctors working throughout the country, whose team, either junior or senior, would be happy to talk to you about a career in Ophthalmology.&nbsp;</p>

<div>Online Applications for <b>Basic Training in Medical Ophthalmology</b>, commencing July 2024, will open on <strong>Wednesday 25th&nbsp;October 2023</strong><span lang="EN-US" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; background-color: rgb(255, 255, 255);">&nbsp;</span>&nbsp;and will <b>close 4pm Friday, 2nd&nbsp;February&nbsp;2024.</b>&nbsp; Further information on the application, eligibility requirements and English language requirements are outlined in the documents below. We recommend that all interested doctors review the documents below prior to submitting an application.</div>

<div>&nbsp;</div>

<div><strong>To submit an online application, please&nbsp;click</strong> <strong><a href="https://v2.pac.ie/institute/21" target="_blank">here</a></strong>. Please note that you will be redirected to&nbsp;the ICO page on the&nbsp; Postgraduate Applications Centre (PAC) website<i><span style="color: rgb(46, 47, 48); font-family: Roboto, Arial, Helvetica, sans-serif; font-size: 14px;">.</span></i></div>

<div>&nbsp;</div>

<ul>
	<li><a href="/medium/images/ICO_Basic_Specialist_Training_Guidance_Document_for_Applican-f.pdf" target="_blank">Applicant Guide ICO NTP Basic Specialist Training in Ophthalmology</a></li>
	<li><a href="/medium/images/Overview_of_Online_BMT_Application_Form_2024-l.pdf" target="_blank">Overview of online BMT application form 2024</a></li>
	<li><a href="/trainees/downloads/Scorecard-for-Basic-Specialist-Training-in-Medical-Ophthalmology-for-July-2024.pdf" target="_blank">Selection Score Sheet for Medical Ophthalmology</a></li>
	<li><a href="/medium/images/ICO_Referee_Nomination_Form-q.doc" target="_blank">ICO Referee Nomination Form</a></li>
	<li><a href="/medium/images/Applicant_Checklist_Basic_Specialist_Training_2024-d.pdf" target="_blank">Checklist</a></li>
	<li><a href="/medium/images/Eligibility-for-General-or-Trainee-Specialist-Registration-z.pdf" target="_blank">Eligibility for trainee specialist division</a></li>
	<li><a href="/medium/images/Eligibility_for_the_Trainee_Specialist_Division-k.pdf" target="_blank">Medical Council notice on eligibility for trainee specialist division</a></li>
	<li><a href="/medium/images/English_Language_Requirements-Hr-circular-063-2020-m.pdf" target="_blank" title="English Language requirement -  PDF document">English Language requirement</a></li>
	<li><a href="/medium/images/HSE_guidance_on_allocation_of_places_on_specialist_training_-d.pdf" target="_blank" title="PDF document&amp;gt;Allocation of place -  PDF document">Allocation of places</a></li>
	<li><a href="/medium/images/FREQUENTLY_ASKED_QUESTIONS-h.pdf" target="_blank">Frequently Asked Questions</a></li>
</ul>

<h4>Specialist Training Programmes in Ophthalmology</h4>
 <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/880239159?h=198e475e04&amp;badge=0&amp;autopause=0&amp;quality_selector=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Basic Specialist Training Programmes in Ophthalmology 2023-2024"></iframe>
 </div>



<h4>Ophthalmology Application Scorecard</h4>
<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/879846158?h=3d89bbe025&amp;badge=0&amp;autopause=0&amp;quality_selector=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="OPHTHALMOLOGY APPLICATION SCORECARD 2024"></iframe></div>

 <script src="https://player.vimeo.com/api/player.js"></script>



<p>&nbsp;</p>
</div>
</div>
</div>

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse3">Curriculum</a></h2>

<div class="panel-collapse collapse" id="collapse3">
<div class="panel-body">
<p>Basic Training in Medical Ophthalmology BMT1, BMT2, BMT3.</p>

<p>The purpose of the first three years of Basic Training in Medical Ophthalmology is to provide a broad based initial training in ophthalmology with attainment of knowledge skills and professional behaviours relevant to the practice of ophthalmology in any specialist discipline. &nbsp;Following successful completion of BMT1, BMT2 &amp; BMT3 (requires passing the MRCSI (ophth) exam), candidates can compete to enter higher training in Medical Ophthalmology HMT4 - 5<span style="font-size:10.5pt;
font-family:">&nbsp;<o:p></o:p></span></p>

<p>Basic&nbsp;Training is based on a clearly defined curriculum which sets out:</p>

<ul>
	<li>Training structure and pathway</li>
	<li>Educational content</li>
	<li>Assessment and appraisal processes</li>
	<li>Examination format and regulations</li>
	<li>Counselling and support arrangements</li>
	<li>Multidisciplinary team working</li>
	<li>Professional behaviour/ethical practice</li>
	<li>Pattern of life-long learning<span style="font-size:10.5pt;
font-family:"><o:p></o:p></span></li>
</ul>

<p>There are clearly defined competencies which must be achieved in order to progress to the next phase of training. This curriculum defines the principles and practice of Basic&nbsp;Training BMT1 - BMT3.</p>

<p><strong style="background: #f90">Download the <a href="/medium/images/ICO_Specialist_Training_in_Medical_Ophthalmology_Curriculum_-g.pdf" target="_blank">Medical Ophthalmology curriculum</a><a href="/medium/images/ICO_Specialist_Training_in_Medical_Ophthalmology_Curriculum_-j.pdf" target="_blank"> </a>(PDF Document)</strong></p>
</div>
</div>
</div>

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse10">Flexible Training</a></h2>

<div class="panel-collapse collapse" id="collapse10">
<div class="panel-body">
<p>The medical workforce is changing and, over recent years, numerous reports have pointed to the importance of providing flexible working arrangements for doctors. The HSE National Flexible Training Scheme for Specialist Trainees is a national scheme managed and funded by NDTP for supernumerary posts. The scheme facilitates doctors to continue their training in a flexible manner for a set period of time. The <a href="https://www.hse.ie/eng/staff/leadership-education-development/met/ed/flex/." target="_blank">HSE National Flexible Training Scheme Guide</a> sets out details of the National Flexible Training Scheme and provides information for trainees, training bodies and employers about the programme.</p>

<p>If you wish to apply to the HSE National Flexible Training Scheme please complete and submit the <a href="/medium/images/flexible-training-application-form1-i.docx" target="_blank">application form</a>.&nbsp;&nbsp;Applications for the scheme in 2024&nbsp;will open on&nbsp;September 11th&nbsp;to November 10th&nbsp;2023</p>
</div>
</div>
</div>

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse12">Funding Support</a></h2>

<div class="panel-collapse collapse" id="collapse12">
<div class="panel-body">
<h3>Financial Supports</h3>

<div>
<p>There are currently three schemes in operation which provide financial supports to NCHD&#39;s and Consultants, funded by the NDTP.</p>

<p>Details of the schemes can be found on the <a href="https://www.hse.ie/eng/staff/leadership-education-development/met/ed/fin/" target="ext" title="Educational Supports">HSE website</a> .</p>
</div>
</div>
</div>
</div>
</div>
