<h1>Exam Opening Date Closing Date Examination Dates 2018</h1>

<p><a href="/trainees/downloads/2018-Examinations-Calendar.pdf"  target="doc">Download as a PDF document</a></p>

 <div class="table-responsive">
  <table class="table table-striped">
	    <tr>
	    	<th>EXAM</th>
	    	<th>OPENING DATE</th>
	    	<th>CLOSING DATE</th>
			<th>EXAMINATION DATES</th>
		</tr>
		<tr>
			<td>Part 1 FRCOphth</td>
			<td>
				Mon 25 September 2017
				<br/>Mon 15 January 2018
				<br/>Mon 11 June 2018
				<br/>
			</td>
			<td>
				Mon 20 November 2017
				<br/>Mon 12 March 2018
				<br/> Mon 6 August 2018
				<br/>
			</td>
			<td>
				Mon 15 January 2018
				<br/>Tues 8 May 2018
				<br/> Mon 1 October 2018
				<br/>
			</td>

		</tr>

		<tr>
			<td>Refraction Certificate</td>
			<td>
				Mon 18 December 2017
				<br/>Mon 19 February 2018
				<br/>Mon 5 March 2018
				<br/>Mon 13 August 2018
			</td>
			<td>
				Mon 12 February 2018
				<br/> Mon 16 April 2018
				<br/> Mon 30 April 2018
				<br/>Mon 8 October 2018
			</td>
			<td>
				Wed 25 - Fri 27 April 2018 (LONDON)
				<br/>Tues 26 - Thurs 28 June 2018 (KUCHING)
				<br/>Mon 9 - Wed 11 July 2018 (GLASGOW)
				<br/> Mon 17 - Wed 19 December 2018 (LONDON)
			</td>
		</tr>

  

		<tr>
			<td>Part 2 FRCOphth Written</td>
			<td>
				Mon 12 March 2018
				<br/>Mon 13 August 2018
			</td>
			<td>
				 TUES 8 May 2018
				<br/>Mon 8 October 2018
			</td>
			<td>
				Mon 2 July 2018
				<br/>Mon 3 December 2018
			</td>
		</tr>

 
		<tr>
			<td>Part 2 FRCOphth Oral</td>
			<td>
				Mon 11 December 2017
				<br/>Mon 1 January 2018
				<br/>Mon 9 July 2018
			</td>
			<td>
				Mon 5 February 2018
				<br/>Mon 26 February 2018
				<br/> Mon 3 September 2018
			</td>
			<td>
				Mon 16 - Fri 20 April 2018 (HUDDERSFIELD)
				<br/>Tues 8 - Fri 11 May 2018 (SINGAPORE)
				<br/> Mon 12 - Fri 16 November 2018 (SUNDERLAND)
			</td>
		</tr>

  
  

		<tr>
			<td>Certificate in Laser Refractive Surgery</td>
			<td>
				Mon 05 March 2018
			</td>
			<td>
				Mon 30 April 2018
			</td>
			<td>
				Mon 25 - Wed 27 June 2018
			</td>
		</tr>


		<tr>
			<td>Duke Elder
				<br/>Undergraduate Prize Examination</td>
			<td>
				
				Information to be sent to medical schools in October 2017
			</td>
			<td>
				Deadline for medical school confirmation: December 2017
				<br/>Deadline for candidate payment: January 2018
				<br/>Exact dates to be confirmed at a later date
			</td>
			<td>
				Wed 7 March 2018
			</td>
		</tr>
	

	</table>
</div> 


<p><a href="/trainees/downloads/2018-Examinations-Calendar.pdf" target="doc">Download as a PDF document</a></p>
