<h2>Frequently Askled Questions</h2>

<dl class="faq">
	<dt>Is the entry process into medical ophthalmology different from surgical ophthalmology?</dt>
	<dd>Both the entry <i>process</i> and the entry <i>scorecard </i>are the same and are available on the ICO website. It is important that via the application process and /or interview that the candidate shows him / herself to be well suited to the <em>particular ophthalmic</em> specialty that he / she is applying for.</dd>
	<dt>What are the requirements to enter higher medical training MT4 and MT5?</dt>
	<dd>Entry into higher medical training is based on performance during MT1, 2 &amp; 3 (65% of marks) &amp; also by performance at interview (35% of marks). Performance during MT1-3 is based on workplace based assessments, Human Factors, performance at the MRCSI &amp; audit.</dd>
	<dt>Is it possible to start in the medical ophthalmology program and transfer with credits to the surgical training program?</dt>
	<dd>The surgical training program ST1, 2 &amp;3 has a different curriculum from years MT1, 2 &amp; 3. The surgical training program in particular emphasises the acquisition of phacoemulsification surgical skills early in ST1. Therefore it is not possible to transfer from the medical ophthalmology program into the surgical training program. However it is possible to leave the medical program and to reapply to enter the surgical training program the following year.<br />
	&nbsp;<br />
	Credits would be given to trainees who may have completed certain scored assessments during their medical training and, where common to both programs, these would not have to be repeated.</dd>
	<dt>Is it possible to start in the surgical ophthalmology program and transfer with credits to the medical training program?</dt>
	<dd>The medical training program in particular emphasises acquisition of different skills at different time points, particularly the acquisition of laser and refraction skills, early in MT1 &amp; 2.<br />
	&nbsp;<br />
	Therefore transfer from the surgical ophthalmology program into the medical training program may be challenging but possible provided competences outlined in the medical program could be acquired within a suitable surgical program can reapply to enter the medical training program.<br />
	&nbsp;<br />
	Credits would be given to trainees who may have completed certain scored assessments during their training and, where common to both programs, these would not have to be repeated.</dd>
	<dt>What are the career models available on completion of the Medical Ophthalmology Program?</dt>
	<dd>Medical ophthalmologists have varying roles in health care in Ireland. Once the programme is successfully completed, specialists work in the HSE in community and in hospitals and/or in private practice.</dd>
	<!-- dt>Is the post of Medical Ophthalmologist or Hospital-based Medical Ophthalmologist a consultant position?</dt>
	<dd>The position of a Community or Hospital based Medical Ophthalmologist is not a consultant position, and is served by a different contract. Further information on the payscales are available <a href="http://www.hse.ie/eng/staff/benefitsservices/pay/Consolidated-Payscales-1st-April-2017.pdf" target="ext" title="Consolidated salary scales in accordance with 
fempi 2015 and the public service stability agreements 2013 - 2018">here</a></dd
	--><!-- dt>What is the level of remuneration of a Community Medical Ophthalmologist or Hospital-based Medical Ophthalmologist?</dt>
	<dd>Information on payscales is available <a href="http://www.hse.ie/eng/staff/benefitsservices/pay/Consolidated-Payscales-1st-April-2017.pdf" target="ext" title="Consolidated salary scales in accordance with 
fempi 2015 and the public service stability agreements 2013 - 2018">here</a></dd
-->
	<dt>Are EU medical graduates eligible to apply for the ophthalmology residency training programme in Ireland?</dt>
	<dd>EU medical graduates are eligible to apply for our National Residency Training Programme - further details will be posted on the ICO website in November.&nbsp; See&nbsp;<a href="http://www.eyedoctors.ie/medium/files/ICO%20Eligibility%20(6).pdf" target="doc" title="Guidance on eligibility for Trainee Specialist Division">eligibility for Trainee Specialist Division</a></dd>
	<dt>Are Non-EU medical graduates eligible to apply for the ophthalmology residency training programme in Ireland?</dt>
	<dd>Applicants who have qualified outside the EU must pass or be exempt from the PRES to establish eligibility for registration with the Irish Medical Council. They must also have completed an internship which is recognised by the Medical Council as equivalent to an Irish internship and thus be eligible for the Trainee Specialist Division. The Medical Council recognises internships undertaken in the following countries as equivalent: Australia, Malaysia, New Zealand, Pakistan (where the internship was commenced after 31st December 2008 - note: the rotations must meet the standards of an Irish internship. Please see also International Medical Graduate Training information below), Sudan (see relevant IMG information below), South Africa (where the internship was commenced after 1st July 2006), UK and Malta.<br />
	&nbsp;<br />
	The ICO is participating in the International Medical Graduate Training Initiative, a structured training programme for non EU graduates from countries that have a specific agreement with the Irish Post Graduate Training Bodies and the Health Service Executive.<br />
	&nbsp;<br />
	<a href="https://www.eyedoctors.ie/trainees/International-Medical-Graduates-Training-programme.asp" target="_blank">IMG programme in Ophthalmology</a></dd>
	<dt>What are the English language requirements for applicants to the training programme?</dt>
	<dd>
	<p>The ability to communicate clearly with patients and colleagues is a key requirement for all healthcare professionals. In the case of doctors providing clinical care to members of the public, the ability to communicate is particularly important. Proficiency in the English language is therefore a core competency for all NCHDs working in the Irish public health service. The HSE requires that as part of the application process for training positions on specialist training programmes, that all applicants are required to demonstrate their competency in the English Language in line with HSE specifications.</p>

	<p>In this context, all applicants who were not registered by the Medical Council in any of the divisions of the Register of Medical Practitioners prior to 9th July 2012 or who did not complete the entirety of their under-graduate medical training in the Republic of Ireland and who wish to take up employment with the HSE, are required to provide evidence of one of the following:</p>

	<ol>
		<li>IELTS (International English Language Testing System) certificate with an overall band score of 7.0 and a minimum score of 6.5 in each of the four domains &ndash; reading, writing, listening and speaking - on the academic test. The test must be undertaken no more than two years prior to the date of it being submitted to the Irish College of Ophthalmologists. While a doctor may sit the above test as often as they wish, the above scores must have been achieved at only one sitting of the IELTS test. Results from more than one test sitting cannot be amalgamated. Any cost incurred in relation to the IELTS exam will be borne by the applicant. Information on IELTS is available at www.ielts.org</li>
		<li>completion of their medical degree in the any of the following countries &ndash; United Kingdom, Australia, Canada, New Zealand, or United States.</li>
	</ol>
	<a href="/medium/images/IELTS_FAQs_-_NCHDs_Final-b.docx" target="doc" title="Download Frequently Asked Question’s - English Language requirements for applicants to the National Training Programmes">Download Frequently Asked Question&amp;rsquo;s - English Language requirements for applicants to the National Training Programmes</a>.

	<p>&nbsp;</p>
	</dd>
</dl>
