<h1>IMGTI Scholarship</h1>

<p>The International Medical Graduate Training Initiative (IMGTI) is a postgraduate medical training programme in ophthalmology for non-EU International medical graduates. Currently the programme is open to Doctors from Pakistan and Sudan.The programme is coordinated by the HSE National Doctors Training and Planning (NDTP) division, the Forum of Postgraduate Training Bodies and the Postgraduate Training Bodies. The College of Physicians &amp; Surgeons of Pakistan (CPSP) and the Sudanese Medical Specialisation Board (SMSB) are the participants. This initiative facilitates Doctors to access a structured period of training and experience to meet the needs of their home country&rsquo;s health service.The period of clinical training provided is ordinarily 24 months, after which the Doctor must return to their country of origin either Pakistan or Sudan. Further information on the International Medical Graduates Training Initiative is available on the <a href="http://www.hse.ie/eng/staff/Leadership_Education_Development/MET/ed/IMG/">HSE website</a>.</p>

<h4 dir="ltr">General Eligibility Requirements</h4>

<p dir="ltr">To be eligible for the programme an applicant must be a trainee with College of Physicians &amp; Surgeons of Pakistan (CPSP) or Sudanese Medical Specialisation Board (SMSB). Trainees in their final year or who have completed training will not be eligible to apply.&nbsp;</p>

<p dir="ltr">Additionally, at the time of application all applicants must have:</p>

<p dir="ltr" role="presentation" style="margin-left: 40px;">1. Completed a house job for a minimum of 1 year, comprising</p>

<ul style="margin-left: 40px;">
	<li>Minimum 3 months medicine</li>
	<li>Minimum 3 months surgery</li>
	<li>Have completed a minimum of 1 year training with CPSP/SMSB in the specialty of Ophthalmology</li>
</ul>

<p dir="ltr" role="presentation" style="margin-left: 40px;">2. Have permanent registration with the Pakistan/Sudanese Medical Council.</p>

<p dir="ltr" role="presentation" style="margin-left: 40px;">3. Be eligible to apply to the supervised division of the Irish Medical Council.</p>

<p dir="ltr" role="presentation" style="margin-left: 40px;">4. Have a certificate of test results from either the International English Language Test System (IELTS) or Occupational English Test (OET).&nbsp;</p>

<p dir="ltr"><strong>IELTS/OET</strong> test results must be dated within 2 years at application stage and test results cannot be combined. The HSE will only accept one test result. Please refer to the table below for the minimum levels in each of the tests that are accepted by the HSE:</p>

<p dir="ltr"><strong>IELTS&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Minimum Score</strong></p>

<p dir="ltr">Listening&nbsp; &nbsp; &nbsp; 6.5</p>

<p dir="ltr">Reading&nbsp; &nbsp; &nbsp; &nbsp;6.5</p>

<p dir="ltr">Writing&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;6.5</p>

<p dir="ltr">Speaking&nbsp; &nbsp; &nbsp;6.5</p>

<p dir="ltr">Overall&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;7.0</p>

<p dir="ltr"><strong>OET&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Minimum Score</strong></p>

<p dir="ltr">Listening&nbsp; &nbsp; &nbsp;B</p>

<p dir="ltr">Reading&nbsp; &nbsp; &nbsp; B</p>

<p dir="ltr">Writing&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; B</p>

<p dir="ltr">Speaking&nbsp;&nbsp; &nbsp;B</p>

<p dir="ltr">Overall&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;B</p>

<div>&nbsp;</div>

<div style="margin-left: 40px;">5.&nbsp;Have successfully passed the IMM exam.</div>

<p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;">&nbsp;</p>

<p dir="ltr"><strong>Ophthalmic Specific Requirements&nbsp;</strong></p>

<p dir="ltr">Applicants must:</p>

<ol>
	<li aria-level="1" dir="ltr">
	<p dir="ltr" role="presentation">Have passed the Part I CPSP Examination/ Part I SMSB Examination of the specialty applied for (i.e. for Ophthalmology).</p>
	</li>
	<li aria-level="1" dir="ltr">
	<p dir="ltr" role="presentation">Have completed 2 years post internship/house job experience in clinical posts that involved exposure to acute surgical and medical admissions and emergency presentations.</p>
	</li>
</ol>

<p dir="ltr">Doctors interested in applying for the scholarship programme should contact their respective college, CPSP or SMSB,&nbsp; for further information and details on the application process.&nbsp;</p>

<div>&nbsp;</div>

<div>&nbsp;</div>

<p>&nbsp;</p>
