<h1>International Medical Graduate Programme</h1>

<div class="panel-group" id="accordion">
<div class="panel panel-default">
<h2 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse1">IMGTI Scholarship </a></h2>

<div class="panel-collapse collapse" id="collapse1">
<div class="panel-body">
<p>The International Medical Graduate Training Initiative (IMGTI) is a postgraduate medical training programme in ophthalmology for non-EU International medical graduates. Currently the programme is open to Doctors from Pakistan and Sudan. The programme is coordinated by the HSE National Doctors Training and Planning (NDTP) division, the Forum of Postgraduate Training Bodies and the Postgraduate Training Bodies. The College of Physicians &amp; Surgeons of Pakistan (CPSP) and the Sudanese Medical Specialisation Board (SMSB) are the participants. This initiative facilitates Doctors to access a structured period of training and experience to meet the needs of their home country&rsquo;s health service. The period of clinical training provided is ordinarily 24 months, after which the Doctor must return to their country of origin either Pakistan or Sudan. Further information on the International Medical Graduates Training Initiative is available on the <a href="http://www.hse.ie/eng/staff/Leadership_Education_Development/MET/ed/IMG/">HSE website</a>.</p>

<p><strong>General Eligibility Requirements</strong></p>

<p>To be eligible for the programme an applicant must be a trainee with College of Physicians &amp; Surgeons of Pakistan (CPSP) or Sudanese Medical Specialisation Board (SMSB). Trainees in their final year or who have completed training will not be eligible to apply.</p>

<p>Additionally, at the time of application all applicants must have:</p>

<ol>
	<li>Completed a house job for a minimum of 1 year, comprising</li>
</ol>

<ul>
	<li>Minimum 3 months medicine</li>
	<li>Minimum 3 months surgery</li>
	<li>Have completed a minimum of 1 year training with CPSP/SMSB in the specialty of Ophthalmology</li>
	<li value="2">Have permanent registration with the Pakistan/Sudanese Medical Council.</li>
	<li>Be eligible to apply to the supervised division of the Irish Medical Council.</li>
	<li>Have a certificate of test results from either the International English Language Test System (IELTS) or Occupational English Test (OET).</li>
</ul>

<p style="margin-left:36.0pt;"><strong>IELTS/OET</strong> test results must be dated within 2 years at application stage and test results cannot be combined. The HSE will only accept one test result. Please refer to the table below for the minimum levels in each of the tests that are accepted by the HSE:</p>

<p style="margin-left:36.0pt;"><strong>IELTS&nbsp; Minimum Score</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Listening&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6.5</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Reading&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6.5</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Writing&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6.5</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Speaking&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6.5</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Overall&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.0</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;OET&nbsp;&nbsp;&nbsp;&nbsp; <strong>Minimum Score</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Listening&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; B</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Reading&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; B</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Writing&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; B</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Speaking&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; B</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Overall&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B</strong></p>

<ol>
	<li value="5">Have successfully passed the IMM exam.</li>
</ol>

<p><strong>Ophthalmic Specific Requirements</strong></p>

<p>Applicants must:</p>

<ol>
	<li>Have passed the Part I CPSP Examination/ Part I SMSB Examination of the specialty applied for (i.e. for Ophthalmology).</li>
	<li>Have completed 2 years post internship/house job experience in clinical posts that involved exposure to acute surgical and medical admissions and emergency presentations.</li>
</ol>

<p>Doctors interested in applying for the scholarship programme should contact their respective college, CPSP or SMSB,&nbsp; for further information and details on the application process.&nbsp;</p>
</div>
</div>
</div>

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2">International Medical Graduate Training Programme (IMGTP) - Clinical Fellowships </a></h2>

<div class="panel-collapse collapse" id="collapse2">
<div class="panel-body">
<p>The Irish College of Ophthalmologists offers clinical fellowship training to international doctors who are sponsored by their government, hospital or national training body. The International Medical Graduate Training Programme (IMGTP) clinical fellowship programme offers a unique opportunity to experience the delivery of complex and sub-specialty healthcare in a broad environment. It is also the opportunity to develop and learn advanced skills that will be especially beneficial for the health service in the Fellow&rsquo;s home country.</p>

<p>The clinical fellowship programme is aimed at those who wish to develop ophthalmic subspecialty expertise. The programme is offered over one to two years of clinical training. The IMGTP programme allows Fellows access to a structured period of training and education which is completed under the guidance of leading Ophthalmic Consultant Trainers in accredited hospitals in Ireland. Throughout the fellowship, Fellows will be supported and mentored by their designated Educational Supervisor, the ICO team and the ICO Dean of Postgraduate Education.</p>

<p><strong>Eligibility Criteria</strong></p>

<p>To be eligible to apply, doctors must:</p>

<ol>
	<li>Have evidence of financial sponsorship from a National Sponsoring Body to cover fellow&rsquo;s fees, salary and living expenses for the full duration of the programme</li>
</ol>

<ul>
	<li>Financial Sponsorship must be equivalent to Registrar Grade in the Health Service Executive (HSE) in Ireland</li>
	<li>We do not accept self-sponsored candidates</li>
</ul>

<ol>
	<li value="2">Possess an undergraduate Medical Degree from a <a href="https://www.wdoms.org/">WHO recognised institution</a></li>
	<li>Have completed a structured internship (equivalent to &lsquo;house officer&rsquo; in some jurisdictions)</li>
	<li>Have completed a four/five-year national Residency Programme and incorporated examinations (Saudi, Arab, Omani, Kuwaiti Board)</li>
	<li>Have appropriate experience post-Residency training in the chosen Ophthalmic subspecialty</li>
	<li>Have full current registration with registration authority of sponsor country</li>
	<li>Have a certificate of test results from either the International English Language Test System (IELTS) or Occupational English Test (OET). English language test results must be current and dated within the last two years of submitting Irish Medical Council application:</li>
</ol>

<ul>
	<li>IELTS certificate with overall score of 7.0 and a minimum of 6.5 in each of the four domains; or</li>
	<li>OET Certificate with overall grade of B with a minimum of B in each of the four domains</li>
</ul>

<ol>
	<li value="8">Written confirmation from the Irish Medical Council of eligibility to be registered on the Supervised Division of the registrar.</li>
</ol>

<p>Doctors who are interested in applying should contact the Training Programme Manager by email at <a href="mailto:rebecca.martin@eyedoctors.ie">rebecca.martin@eyedoctors.ie</a></p>
</div>
</div>
</div>
</div>
