<p class="col-sm-12" style="background: #eeeeef;padding:5px;">
	<a href="https://www.hse.ie/eng/staff/leadership-education-development/met/" target="ext"><img src="/media/images/NDTP_logo_200x200.jpg" style="float:left;padding-right: 5px; max-height:70px;" title="The Irish College of Ophthalmologists wish to acknowledge the support provided by the HSE National Doctors Training Planning and its contribution to the development of postgraduate medical training in Ireland in an evolving health service." /></a>

</p>