<table>
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td>
			<p><span class="ctitle"><strong>Chair</strong></span><br />
			<strong><a data-href="john_doris" data-target="#biography" data-toggle="modal" href="#" title="Mr John Doris"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Mr John Doris</a></strong><br />
			Consultant Ophthalmic Surgeon, University Hospital Waterford and President, Irish College of Ophthalmologists</p>
			</td>
		</tr>
		<tr>
			<td>8.00am</td>
			<td><i>Welcome Refreshments</i></td>
		</tr>
		<tr>
			<td>8.30am</td>
			<td>
			<p><strong>Session 1: Refractive Surgery</strong></p>

			<p><span class="ctitle">Assessment of the refractive surgery patient </span><br />
			<strong><a data-href="elaine_corrigan" data-target="#biography" data-toggle="modal" href="#" title="Ms Elaine Corrigan"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" />&nbsp;Ms Elaine Corrigan</a></strong><br />
			Optometrist, Wellington Eye Clinic, Beacon Medical Campus, Dublin</p>

			<p><span class="ctitle">Orthoptic considerations in refractive surgery </span><br />
			<strong><a data-href="gillian_omullane" data-target="#biography" data-toggle="modal" href="#" title="Ms Gillian O'Mullane"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" />&nbsp;</a></strong><strong><a data-href="gillian_omullane" data-target="#biography" data-toggle="modal" href="#" title="Ms Gillian O'Mullane">Ms Gillian O'Mullane</a></strong><br />
			Clinical Specialist Orthoptist, Children&#39;s Health Ireland at Temple Street</p>

			<p><span class="ctitle">Examining the options and different procedures available to patients </span><br />
			<strong><a data-href="william_power" data-target="#biography" data-toggle="modal" href="#" title="Prof William Power"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Prof William Power </a></strong><br />
			Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital and Blackrock Health</p>
			<!-- p><span class="ctitle">Outcomes and complications </span><br />
			<strong><a data-href="marc_guerin" data-target="#biography" data-toggle="modal" href="#" title="Marc Guerin"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" />  Marc Guerin</a></strong><br />
			Consultant Ophthalmic Surgeon, Mater University & Private Hospitals</p --></td>
		</tr>
		<tr>
			<td>10.10am</td>
			<td><strong><span class="ctitle">Demonstration of Healthlink</span></strong><br />
			Healthlink is the National Health Messaging web service which allows the secure transmission of clinical patient information between Hospitals, Health Care Agencies and Medical Practitioners.&nbsp; A demonstration of how the service operates and the key benefits will be presented at the conference<span style="color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small;">.</span></td>
		</tr>
		<tr>
			<td>10.30am</td>
			<td><i>Refreshments</i></td>
		</tr>
		<tr>
			<td>11.00am</td>
			<td>
			<p><strong>Session 2: Visual Impairment and Supporting Your Patients</strong><br />
			This session will discuss the ways in which the eye care team can support visually impaired patients while in clinic, referral guidelines&nbsp;and the importance of timely intervention in offering support to your patient.</p>

			<p><span class="ctitle">A clinician&#39;s perspective on visual impairment support</span><br />
			<strong><a data-href="janice_brady" data-target="#biography" data-toggle="modal" href="#" title="Ms Janice Brady"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Ms Janice Brady</a></strong><br />
			Consultant Ophthalmic Surgeon, University Hospital Waterford<br />
			<br />
			<span class="ctitle">A general overview of NCBI services</span><br />
			<strong><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px; float: left;" />&nbsp;<a alt="" aria-hidden="true" data-href="Kristina_Miller" data-target="#biography" data-toggle="modal" href="#" img="" src="/images/user-portrait.png" style="max-height: 15px;float: left;" title="Kristina Miller">Kristina Millar</a></strong><br />
			National Insights and Impact Manager</p>

			<p><span class="ctitle">The Eye Clinic Liaison Service &ndash; route to community support and service</span><br />
			<strong><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px; float: left;" /><a alt="" aria-hidden="true" data-href="hilary_devlin" data-target="#biography" data-toggle="modal" href="#" img="" src="/images/user-portrait.png" style="max-height: 15px;float: left;" title="Ms Hilary Devlin">&nbsp;Ms Hilary Devlin</a></strong><br />
			Eye Clinic Liaison Officer, NCBI</p>

			<p>The Eye Clinic Liaison Officer (ECLO) service operates in Dublin in the Mater, Temple Street and the Eye and Ear hospitals. The aim of the ECLO is to provide timely support to patients at the point of, or as close to diagnosis as possible. ECLO, Hilary Devlin will explain to the audience what it is like to do this role and how important it is for patients to know support is on hand.</p>

			<p><strong>The Patient&#39;s Perspective - Panel Discussion</strong><br />
			<span class="ctitle"><strong>Chair</strong></span><br />
			<strong><a data-href="kevin_kelly" data-target="#biography" data-toggle="modal" href="#" title="Mr Kevin Kelly"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Mr Kevin Kelly</a></strong><br />
			National Strategic Partnership Manager, NCBI</p>
			</td>
		</tr>
		<tr>
			<td>12.30pm</td>
			<td>
			<p><strong>Keynote Talk: &quot;SCNF (Second Chance Never Forget)&quot; </strong></p>

			<p><strong><a data-href="ian_mckinley" data-target="#biography" data-toggle="modal" href="#" title=" Ian McKinley"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Ian McKinley</a></strong><br />
			Former Professional Rugby Player</p>
			</td>
		</tr>
		<tr>
			<td>1.00pm</td>
			<td><i>Lunch</i></td>
		</tr>
		<tr>
			<td>2.00pm</td>
			<td>
			<p><strong>Session 3: Glaucoma </strong></p>

			<p><span class="ctitle">Capacity in glaucoma services: Engaging with primary care optometry</span><br />
			<strong><a data-href="robert_harper" data-target="#biography" data-toggle="modal" href="#" title="Dr Robert Harper"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Dr Robert Harper</a></strong><br />
			Optometrist, Manchester Royal Eye Hospital and Honorary Professor of Optometry, School of Health Sciences, University of Manchester</p>

			<p><span class="ctitle">Adult glaucoma&nbsp;care pathway across community and hospital</span><br />
			<strong><a data-href="margaret_morgan" data-target="#biography" data-toggle="modal" href="#" title="Dr Margaret Morgan"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Dr Margaret Morgan</a></strong><br />
			Consultant Medical Ophthalmologist, CHO 7 &amp; Royal Victoria Eye and Ear Hospital, Dublin</p>

			<p><span class="ctitle">An overview of the nurse specialist led glaucoma clinic over the past 12 years in Beaumont Eye Department.</span><br />
			<strong><a data-href="elaine_brennan" data-target="#biography" data-toggle="modal" href="#" title="Ms Elaine Brennan"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Ms Elaine Brennan </a></strong><br />
			Clinical Nurse Specialist, Glaucoma Clinic, Beaumont Hospital Eye Department</p>
			</td>
		</tr>
		<tr>
			<td>4.00pm</td>
			<td><i>Meeting Close</i></td>
		</tr>
	</tbody>
</table>

<div>&nbsp;</div>

<div>&nbsp;</div>
