<div class="row" style="padding:1rem; margin-top:-2.5rem;">
<p>The ICO invites ophthalmologists and trainees, general practitioners, optometrists, orthoptists, ophthalmic nurses and technicians to join us for this dedicated clinical education meeting (accredited for 6 CME points) on Tuesday, 19th September 2023.</p>

<p style="color:#004b8d;"><strong><a href="https://www.google.com/maps/dir/53.346304,-6.258688/the+gibson+hotel+dublin/@53.3484524,-6.2618871,14z/" target="ggle" title="Check the hotel location"><svg height="20px" id="Capa_1" style="enable-background:new 0 0 395.71 395.71;" version="1.1" viewbox="0 0 395.71 395.71" width="20px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px"><g><path d="M197.849,0C122.131,0,60.531,61.609,60.531,137.329c0,72.887,124.591,243.177,129.896,250.388l4.951,6.738
	    c0.579,0.792,1.501,1.255,2.471,1.255c0.985,0,1.901-0.463,2.486-1.255l4.948-6.738c5.308-7.211,129.896-177.501,129.896-250.388
	    C335.179,61.609,273.569,0,197.849,0z M197.849,88.138c27.13,0,49.191,22.062,49.191,49.191c0,27.115-22.062,49.191-49.191,49.191
	    c-27.114,0-49.191-22.076-49.191-49.191C148.658,110.2,170.734,88.138,197.849,88.138z"></path></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>The Gibson Hotel, Dublin</a></strong><br />
North Dock, Dublin, D01 X2P2</p>

<p style="color:#004b8d;">CME Accredited - 6 CPD Points</p>
</div>
