<font size="22" color="grey"><b>DRAFT</b></font>


<h1>Friday 16 November, 2018 </h1>
<h2>to mark the 100th Anniversary of the IOS/ICO</h2>

<h4>Montgomery Lecture 6.30pm</h4>
<p>Dr Michael Brennan, American Academy of Ophthalmology</p>

 
<h4>Drinks Reception 7.30pm</h4>

 
<h4>100th Year Anniversary Dinner 8pm</h4>

<b>Venue: Royal College of Surgeons in Ireland, 123 St Stephen's Green.</b>

<p>
<a href="http://www.google.com/calendar/event?action=TEMPLATE&dates=20181116T183000Z%2F20181116T240000Z&text=ICO%20100th%20Anniversary&location=Royal%20College%20of%20Surgeons%20in%20Ireland%2C%20123%20St%20Stephen's%20Green%2C%20Dublin&details=Montgomery%20Lecture%206.30pm%0ADr%20Michael%20Brennan%2C%20American%20Academy%20of%20Ophthalmology%0ADrinks%20Reception%207.30pm%0A100th%20Year%20Anniversary%20Dinner%208pm" target="calendar" title="100th Year Anniversary. Save the date: Add to your calendar">Add to your calendar (Google)</a>
<br/>
<a href="/100th/save-the-date.ics" title="100th Year Anniversary Save the date: Add to your calendar" target="calendar">Save the date</a>
</p>