<div>
		<p align="center">
				<h1 style="text-align:center">
				ICO Annual Conference
				<br/> Strand Hotel,&nbsp;Limerick
				<br/>Tuesday 13th to Friday 16th of May
				</h1>
		</p>

	<p>
		The Irish College of Ophthalmologists will host its Annual Conference 2014 at the Limerick Strand Hotel from Tuesday 13th to Friday 16th May.
	</p>
	<p>
		The conference will bring together some of the leading names in ophthalmology from home and abroad to discuss the latest developments, research and treatments for patients with sight-threatening conditions.</p>

	<p>
		This year's programme includes symposia on Uveitis, Ocular Infections and New Technologies in Ophthalmology.</p>

	<p>
		Keynote speakers include <b>Prof Stephen Foster</b>, Clinical Professor of Ophthalmology, Harvard Medical School and Founder and President of the Ocular Immunology &amp; Uveitis Foundation and <b>Prof Jim Lucey</b>, Medical Director of St. Patricks University Hospital.  Prof <b>Susan Kennedy</b>, Consultant Histopathologist and <b>Dr Susan Knowles</b>, Consultant Microbiologist, Royal Victoria Eye and Ear Hospital will present at the Ocular Infections Symposium.</p>

	<p>
		The ICO will host an <b><a href="http://www.eyedoctors.ie/conference/ICO_Eye Health_GP_2014.pdf" title="Eye Care in General Practice Session" target="pdf">Eye Care in General Practice Session</a></b> on the evening of <b>Tuesday, 13th May</b> to coincide with their meeting in Limerick.  The talks will focus on the most common eye conditions GPs come across and on the conditions which can be treated or managed directly and those which need to be referred on to an eye doctor for specialist care.</p>

	<p>
		The eye doctors will also host a free <b><a href="http://www.eyedoctors.ie/conference/ICO-2014-Limerick_InfoEvent.pdf" target="pdf">Public Eye Health Information Event</a></b> on <b>Thursday 15th May</b>, for patients, family members and anyone with an interest in learning more about eye conditions and proactively managing their eye health.   ICO President and Eye Surgeon at University Hospital Limerick, Miss Marie Hickey-Dwyer will discuss eye services available in the community and present with the panel of eye doctors on the most common causes of avoidable blindness and sight loss which affect adults and children in Ireland.  </p>
	<p></p>

</div>
<div>
<h3>Schedule Includes:</h3>
<p>
<h4>May 13th</h4>
<ul>
	<li>Exhibition Set Up, Eye Care in General</li>
	<li>Practice Session</li>
</ul>
</p>
<p>
<h4>May 14th</h4>
<ul>
	<li>Conference opening</li>
	<li>Ocular Infections Symposium</li>
	<li>ICO Annual General Meeting</li>
</ul>
</p>
<p>
<h4>May 15th</h4>
<ul>
	<li>Mooney Lecture, Uveitis Symposium</li>
	<li>Train the Trainers Course</li>
	<li>Public Information Session</li>
</ul>
</p>
<p>
<h4>May 16th:</h4>
<ul>
	<li>Understanding New Technology</li>
</ul>
</p>


	Get the latest news on <a href="https://twitter.com/search?q=%23ico2014&amp;src=hash" target="twit"><img src="/images/twitter.png" width="15" border="0"/>Twitter #ico2014</a>
	<p><a href="ICO_Conference_programme_2014.pdf">Download the programme</a> as a PDF document</p>
</div>
<br />&nbsp;<br />


<!--  ico -->
<h3>Tuesday 13<sup>th</sup> May</h3>
<ul class="tab">
	<li class="sel">GPs Event</li>
</ul>
<div>
	<table>
		<tr>
			<td width="55">7.30pm</td>
			<td>Limerick Strand Hotel
			<b>Eye Health Information Session for General Practitioners</b>
			<br />
			<br/><a href="http://www.eyedoctors.ie/conference/ICO_Eye Health_GP_2014.pdf" title="Eye Care in General Practice Session" target="pdf">Download the brochure (PDF)</a>


			<br/>The College will host an <b>Eye Health Information Session for General Practice</b> on the evening of Tuesday, 13 May at 7.30pm in the Limerick Strand Hotel.  The talks will focus on the most common eye conditions GPs come across and discussions on the conditions which can be treated or managed directly and those which need to be referred on to an eye doctor for specialist care.
			<br/><br/>
			<b class="title"> Panel of Eye Doctors</b>
				<ul style="list-style-type:circle;padding-left:15px;">
				<li>Miss Marie Hickey Dwyer <span>President, Irish College of Ophthalmologists and Consultant Eye Surgeon, University Hospital Limerick</span></li>
				<li>Mr Philip O'Reilly <span>Consultant Eye Surgeon, University Hospital Limerick  </span></li>

				<li>Mr Jeremy O'Connor <span>Consultant Eye Surgeon, University Hospital Limerick </span></li>

				<li>Dr Catherine McCrann <span>Community Ophthalmic Physician, Limerick </span></li>
				</ul>
			</p>
			<p>
			<b class="title">Topics for discussion will include:</b>
			<UL style="list-style-type:square;padding-left:15px;">
			<li>Recent advances in management of retinal vascular conditions and common eyelid lesions presenting to the General Practice</li>
			<li>Glaucoma</li>
			<li>Age Related Macular Degeneration</li>
			<li>Squint and children who fail the school entry screening</li>
			<li>Eye conditions in General Practice - what to keep, treat and send for specialist care.</li>

			</UL>
			</p>
			</td>
		</tr>
	</table>
</div>
<br />&nbsp;<br />
<!--  ico -->
<a name="D1">&nbsp;</a>
<h3>Day 1: Wednesday 14<sup>th</sup> May</h3>
<ul class="tab">
	<li class="sel">Conference Programme</li>
	<!-- li><a href="ico-social2014.asp?#D1">Social Programme</a></li -->
</ul>
<div>
	<table>
		<tr>
			<td width="55">8.50am</td><td><b class="title">President's Welcome</b>
			<br />Miss Marie Hickey Dwyer
			<br /><span>President, Irish College of Ophthalmologists</span>

			</td>
		</tr>
		<tr>
			<td>8.55am</td><td><b class="title">Paper Session</b>
			<br />Chair: Mr William Power
			<br /><span>Consultant Ophthalmic Surgeon, Royal Victoria Eye &amp; Ear Hospital, Dublin</span>
			</td>
		</tr>

		<tr>
			<td width="55">8.55am</td>
			<td>Supracor (multifocal excimer laser in situ keratomilieusis) hyperopia and presbyopia correction: 3-month outcomes
			<br /><span>Doyle F</span>
			</td>
		</tr>

		<tr>
			<td width="55">9.01am</td>
			<td>The effect of pterygium excision on visual acuity and corneal astigmatism
			<br /><span>Treacy PM</span>
			</td>
		</tr>

		<tr>
			<td width="55">9.07am</td>
			<td>Audit of outcomes using multifocal IOLs for cataract surgery
			<br /><span>Ellard R </span>
			</td>
		</tr>

		<tr>
			<td width="55">9.13am</td>
			<td>Long-term results of intracorneal inlay (KAMRA) insertion for presbyopia correction
			<br /><span>Igras E </span>
			</td>
		</tr>

		<tr>
			<td width="55">9.19am</td>
			<td>Imaging of the retina in keratoprosthesis patients.
			<br /><span>Duignan E</span>
			</td>
		</tr>
		<tr>
			<td width="55">9.25am</td>
			<td>Two-year experience with multifocal intraocular implants in Galway.
			<br /><span>Vartsakis G</span>
			</td>
		</tr>

		<tr>
			<td colspan="2">Followed by Q&amp;A</td>
		</tr>

		<tr>
			<td width="55">9.40am</td>
			<td>Intraocular telescope surgery for ARMD -6 month follow up data
			<br /><span>Stephenson K</span>
			</td>
		</tr>

		<tr>
			<td width="55">9.46am</td>
			<td>Wide-field autofluorescense imaging to differentiate between retinoschisis and retinal detachment
			<br /><span>Mongan AM</span>
			</td>
		</tr>
		<tr>
			<td width="55">9.52am</td>
			<td>An audit of the safety and efficacy of the dexamethasone intravitreal implant (OZURDEX) in Irish patients with macular oedema.
			<br /><span>Kennelly K</span>
			</td>
		</tr>
		<tr>
			<td width="55">9.58am</td>
			<td>Outcomes of a shelved 20 G vitrectomy technique using Dahan infusion in primary retinal detachment surgery.
			<br /><span>Doris JP</span>
			</td>
		</tr>
		<tr>
			<td width="55">10.04am</td>
			<td>The ratio of focal lasers to intravitreal Bevacizumab injections conducted for diabetic maculopathy over a two month period in a Dublin hospital eye department.
			<br /><span>N&iacute; Mh&eacute;al&oacute;id &Aacute;</span>
			</td>
		</tr>
		<tr>
			<td width="55">10.10am</td>
			<td>A 6 year audit of uveal fine needle aspirate biopsies performed in the Royal Victoria Eye and Ear Hospital.
			<br /><span>Thacoor D</span>
			</td>
		</tr>
		<tr>
			<td width="55">10.16am</td>
			<td>Compliance with quality standards for diabetic retinopathy screening in the field.
			<br /><span>Smith JJ</span>
			</td>
		</tr>
		<tr>
			<td width="55">10.22am</td>
			<td>Audit of compliance with RCO and American Academy Plaquenil screening guidelines.
			<br /><span>Gamble R</span>
			</td>
		</tr>

		<tr>
			<td colspan="2">Followed by Q&amp;A</td>
		</tr>
		<tr>
			<td>10.40am</td><td><b class="title">History of Lasik -  Video Presentation</b>
			<br />Dan Reinstein
			<br /><span>London Vision Clinic</span>
			</td>
		</tr>
		<tr>
			<td>11.00am</td><td>Refreshments</td>
		</tr>
		<tr>
			<td>11.30am</td><td><b class="title">Ocular Infections Symposium</b>
			<br />Chair: Mr Peter Barry
			<br /><span>Consultant Ophthalmic Surgeon, Merrion Eye Clinic</span>
			</td>
		</tr>
		<tr>
			<td ></td>
			<td><b>Endophthalmitis and PCR </b>
			<br />Prof Susan Kennedy
			<br /><span>Consultant Histopathologist, Royal Victoria Eye &amp; Ear Hospital, Dublin</span>
			</td>
		</tr>
		<tr>
			<td ></td>
			<td><b>Endophthalmitis and anti-VEGF Injections </b>
			<br />Mr Peter Barry
			<br /><span>Consultant Ophthalmic Surgeon, Merrion Eye Clinic</span>
			</td>
		</tr>
		<tr>
			<td ></td>
			<td><b>Syphilis and Gonorrhoea - Re-Emergence of Old Diseases </b>
			<br />Dr Susan Knowles
			<br /><span>Consultant Microbiologist, Royal Victoria Eye &amp; Ear Hospital, Dublin</span>
			</td>
		</tr>
		<tr>
			<td colspan="2">Followed by Q&amp;A</td>
		</tr>
		<tr>
			<td>1.00pm</td><td>Lunch</td>
		</tr>
	</table>

<table>
		<tr>
			<td width="55">2.00pm</td><td><b class="title">Poster Session</b>
			<br />Chair: Dr Alison Blake<br /><span>Community Ophthalmic Physician, Cavan General Hospital</span>
			<br/>
			<i>Posters will be displayed throughout the conference. The session gives a short opportunity for the author to briefly summarise the abstract.</i>


			<br/>
			<p>
			Descemet's stripping automated endothelial keratoplasty (DSAEK) in a patient with myotonic dystrophy: a case report
			<br /><span>Fiorentini S</span>
			</p>
			<p>
			A rare cause of optic neuropathy
			<br /><span>Fauzi F</span>
			</p>
			<p>
			The surgical management of macular hole.
			<br /><span>McElnea E.</span>
			</p>
			<p>
			Autosomal dominant Retinitis pigmentosad due to a frameshift mutation in RP1 identified following next generation sequencing
			<br /><span>Treacy M</span>
			</p>
			<p>
			A rare association of vitiligo and retinitis pigmentosa
			<br /><span>Rahman N</span>
			</p>
			<p>
			An audit of the use of subretinal tPA in the setting of massive submacular haemorrhage.
			<br /><span>Stephenson K</span>
			</p>
			<p>
			The role of peripheral dendritic cells in immune activation in anterior uveitis
			<br /><span>O'Rourke M</span>
			</p>
			<p>
			Initial experience with creating a national early onset severe inherited retinal degeneration database
			<br /><span>Saad T</span>
			</p>
			<p>
			Pediatric keratoprosthesis; The Irish experience
			<br /><span>McAnena L</span>
			</p>
			<p>
			Paediatric adjustable strabismus surgery
			<br /><span>Loane E</span>
			</p>
			<p>
			Undergraduate ophthalmology education in Ireland: A comparison with international guidelines and evaluation of doctor confidence in the management of ophthalmic conditions in the general medical setting
			<br /><span>Mingyong  L</span>
			</p>
			<p>
			iStent trabecular micro-bypass stent for primary open-angle glaucoma: results of four year follow-up.
			<br /><span>McNally O</span>
			</p>
			<p>
			Genetically directed targeted clinical surveillance in juvenile open angle glaucoma
			<br /><span>Armstrong, D</span>
			</p>
			<p>
			Treatment response of refractory neovascular age related macular degeneration following switch to intravitreal alfibercept (Eylea) from ranibizumab (Lucentis).
			<br /><span>Bafiq R</span>
			</p>
			<p>
			Hypertrophic pachymeningitis and bilateral optic neuropathy in ANCA negative granulomatosis with polyangiitis - always check the scans
			<br /><span>Hendrick L</span>
			</p>
			<p>
			Ocriplasmin in the treatment of vitreomacular traction and macular holes
			<br /><span>Hendrick L</span>
			</p>
			<p>
			Initial experience of treatment with intravitreal aflibercept in a public hospital in Ireland
			<br /><span>Obied O</span>
			</p>
			<p>
			A Rare Case of spontaneous enophthalmos
			<br /><span>Moran S</span>
			</p>
			<p>
			Clinical presentation of familial exudative vitreoretinopathy:a case series
			<br /><span>Connolly S</span>
			</p>
			<p>
			A case of herpes zoster ophthalmicus with occulomotor nerve involvement.
			<br /><span>Connolly S</span>
			</p>
			<p>
			An unusual case of bilateral papilloedema
			<br /><span>N&iacute; Mh&eacute;al&oacute;id &Aacute;</span>
			</p>
			<p>
			Risk of progression to sight threatening retinopathy in R1M1, R2M0, R2M1 cases retained within a screening program in primary care
			<br /><span>Smith J</span>
			</p>
			<p>
			Screening status of diabetic patients presenting to eye casualty with vitreous haemorrhage
			<br /><span>Shirley K</span>
			</p>
			<p>
			The hospital paediatric referrals to a tertiary ophthalmic centre- A prospective study of both urgent and clinic referrals.
			<br /><span>Chakrabarti M</span>
			</p>
			<p>
			Three-year visual outcomes following laser photocoagulation of diabetic macular oedema.
			<br /><span>Parker J</span>
			</p>
			<p>
			Oculofaciocardiodental syndrome:a description of novel ophthalmic phentotypic features.
			<br /><span>Napier M</span>
			</p>

			</td>
		</tr>
		<tr>
			<td width="55">3.30pm</td><td>Refreshments</td>
		</tr>
		<tr>
			<td>4.00pm</td><td><b class="title">ICO Annual General Meeting</b>
	<br/>Chair Miss Marie Hickey Dwyer
	<br/><span>For ICO Members only</span>
</td>
		</tr>
</table>
</div>


<br />&nbsp;<br />

<a name="D2">&nbsp;</a>
	<h3>Day 2: Thursday 15<sup>th</sup> May</h3>
	<ul class="tab">
		<li class="sel">Conference Programme</li>
		<!--li><a href="ico-social2014.asp?#D2">Social Programme</a></li -->
		<!-- li><a href="ico-event2014.asp?#D2">Public Events</a></li -->
	</ul>
<div>
	<table>
		<tr>
			<td width="55">9.00am</td>
			<td><b class="title">Uveitis Symposium</b>
			<br />Chair: Prof Conor Murphy
			</td>
		</tr>
		<tr>
			<td></td>
			<td><b>Infectious Uveitis - Pearls and Pitfalls</b>
			<br />Prof Conor Murphy
			<br /><span>Ophthalmic Surgeon, Royal Victoria Eye &amp; Ear Hospital, Dublin</span>
			</td>
		</tr>
		<tr>
			<td></td>
			<td><b>When to Cut in Uveitis</b>
			<br />Mr Dara Kilmartin
			<br /><span>Ophthalmic Surgeon, Royal Victoria Eye &amp; Ear Hospital, Dublin</span>
			</td>
		</tr>
		<tr>
			<td></td>
			<td><b>Birdshot Retinochoroidopathy</b>
			<br />Prof Stephen Foster
			<br /><span>Professor of Ophthalmology, Harvard Medical School</span>
			</td>
		</tr>
		<tr>
			<td colspan="2">Followed by Q&amp;A</td>
		</tr>
		<tr>
			<td>11.00am</td><td>Refreshments</td>
		</tr>
		<tr>
			<td>11.30am</td><td><b class="title">Keynote Talk</b>
			<br /><b>Minding Your Mental Health in a Stressful World</b>
			<br />Prof Jim Lucey
			<br /><span>Medical Director St Patrick's Hospital, Dublin</span>
			</td>
		</tr>
		</table>
<p>
<img src="Jim_Lucey.jpg" align="right" height="100" style="padding-left:10px;padding-bottom:5px;padding-right:5px; margin: 40px 0 0 10px;"/>
<h4>Professor  Jim Lucey</h4><br />
<p style="text-align: justify; background:#fff;padding:5px; border:1px solid #B80A4D;">Professor Jim Lucey is Medical Director of St. Patricks University Hospital since 2008.
<br/>He has more than 25 years experience in psychiatry. In addition to medical management he maintains his clinical practice at St. Patrick`s where he works on the assessment, diagnosis and management of obsessive compulsive (OCD) and other anxiety disorders.
<br/>Prof. Lucey was educated at at the Royal College of Surgeons in Ireland (RCSI). He trained in psychiatry at St. Patrick`s Hospital in Dublin and at the Maudsley Hospital in London, graduating with an MD from Trinity College, Dublin and a PhD from the University of London.
<br/>In 2002 Prof. Lucey was appointed to St. Patrick's where he became the Director of the Anxiety Disorders Service and also Consultant Psychiatrist with responsibility for electro-convulsive therapy. He is currently Clinical Professor of Psychiatry at Trinity College Dublin.</p>
</p>

		<table>
		<tr>
			<td width="55">12.00pm</td>
			<td><b class="title">Annual Mooney Lecture</b>
			<br /><b>MERSI Guidelines for a Preferred Practice Pattern for the Care of Patients with Recurrent or Steroid-Dependent Uveitis</b>
			<br />Professor Stephen Foster
			<br /><span>Massachusetts Eye Research and Surgery Institution</span>
		</td>
		</table>


		<p>
			<img src="dr foster.jpg" align="right" height="100" style="padding-left:10px;padding-bottom:5px;padding-right:5px;  margin: 40px 0 0 10px;"/>
			<h4>Professor  Stephen Foster</h4><br />
			<p style="text-align: justify; background:#fff;padding:5px; border:1px solid #B80A4D;">Professor Stephen Foster is Clinical Professor of Ophthalmology, Harvard Medical School, Founder & President, Ocular Immunology & Uveitis Foundation.
			<br/>Dr. Foster entered his Ophthalmology Residency training program at Washington University (Barnes Hospital), in St. Louis, Missouri, and completed two additional Fellowship trainings in Cornea and External Diseases, and in Ocular Immunology.
			<br/>After 30 years on the full time faculty of Massachusetts Eye and Ear Infirmary, Dr. Foster  decided to establish his own private practice -The Massachusetts Eye Research and Surgery Institution, a state of the art 12,000 square foot practice with its own chemotherapy infusion suite and phlebotomy lab. Dr. Foster continues to direct a research laboratory at the Massachusetts Eye Research and Surgery Institution (MERSI), through the support of his newly created research foundation.</p>
		</p>



		<table>
		</tr>
		<tr>
			<td width="55">1.00pm</td><td>Lunch</td>
		</tr>
		<tr>
			<td>2.00pm</td><td><b class="title">Workshops</b>
			<br /><b>Train the Trainers</b>
			<br />Melanie Corbett <br /><span>Chairman, Training the Trainers Subcommittee, Royal College of Ophthalmologists</span>
			<br/>This workshop has been prepared in line with HSE MET requirements for trainers.
			<br/><br/>
			<b>Trainee Workshop</b>
			<br />This workshop will address a range of topics for trainees including career pathway, progression and opportunities.
			</td>
		</tr>
		</table>
</div>
<ul class="tab">
	<li class="sel">Public Events</li>
	</ul>
<div>
	<table>
		<tr>
			<td width="55">6.00pm</td>
			<td><b class="title">Public Eye Health Information Session</b>

			<br /><a href="ICO-2014-Limerick_InfoEvent.pdf">Download the brochure (PDF)</a>
			<p>

			<br/>Miss Marie Hickey-Dwyer,Consultant Eye Surgeon at University Hospital Limerick, will discuss local eye services available to the community and common eye conditions affecting people in Ireland.
			<br /><br />Miss Hickey-Dwyer will be joined by Eye Doctors Dr Alison Blake, Dr Patricia Quinlan and Dr Garry Treacy who will discuss:
			<p>How to look after your eye health - the important steps for you and your family and the most common eye conditions affecting adults and children in Ireland, including:
			<ul style="list-style-type:square;padding-left:15px;">
				<li><a href="/AMD-Awareness-Week/more-about-amd.asp" title="Read more about AMD">AMD</a>  (Age-related Macular Degeneration) </li>
				<li><a href="/visitors/eye-conditions.asp" title="Read more about Diabetic Retinopathy">Diabetic Retinopathy</a></li>
				<li><a href="/visitors/eye-conditions.asp" title="Read more about Glaucoma">Glaucoma</a></li>
				<li><a href="/visitors/eye-conditions.asp" title="Read more about Cataracts">Cataracts</a></li>
				<li>Paediatric eye conditions</li>
			</ul>
			<br/>
			The audience will have the opportunity to ask the eye doctors questions following each topic and a general eye health Q&amp;A will conclude the session.
			</p>
			</td>
		</tr>
	</table>
</div>
<br />&nbsp;<br />
<a name="D1">&nbsp;</a>
	<h3>Day 3: Friday 16<sup>th</sup> May</h3>
<ul class="tab">
	<li class="sel">Conference Programme</li>
	<!-- li><a href="ico-social2014.asp?#D1">Social Programme</a></li -->
</ul>
<div>
	<table>
		<tr>
			<td>9.00am</td><td><b class="title">Paper Session</b>
			<br />Chair: Mr Donal Brosnahan
			<br /><span>Consultant Ophthalmic Surgeon, Royal Victoria Eye & Ear Hospital</span>
			<br/><br/> Mr Ian Flitcroft
			<br /><span>Consultant Ophthalmic Surgeon, Mater Hospital</span>
			</td>
		</tr>

		<tr>
			<td width="55">9.00am</td>
			<td>A new method for the measurement of microRNA and microRNA related targeted genes in conjunctival epithelial cells in Sjogren's syndrome patients.
			<br /><span>Pilson Q</span>
			</td>
		</tr>
		<tr>
			<td width="55">9.06am</td>
			<td>The RVEEH non-infectious anterior uveitis cohort.
			<br /><span>O'Rourke M </span>
			</td>
		</tr>
		<tr>
			<td width="55">9.12am</td>
			<td>Rho kinase inhibitors in modulating the response of human trabecular meshwork cells to hypotonic stress.
			<br /><span>Pokrovskaya O </span>
			</td>
		</tr>
		<tr>
			<td width="55">9.18am</td>
			<td>The Role of methylation in regulating the expression of TGF&#946; in lamina cribrosa and trabecular meshwork cells in glaucoma.
			<br /><span>Wallace D M</span>
			</td>
		</tr>

		<tr>
			<td width="55">9.24am</td>
			<td>A molecular analysis of human lamina cribrosa and trabecular meshwork cell behaviours as determined by the surrounding extracellular matrix.
			<br /><span>McNally S </span>
			</td>
		</tr>
		<tr>
			<td colspan="2">Followed by Q&amp;A</td>
		</tr>
		</tr>
		<tr>
			<td width="55">9.40am</td>
			<td>Glaucomatous Optic Neuropathy Evaluation (GONE) Project: The effect of monoscopic versus stereoscopic viewing conditions on optic nerve evaluation.
			<br /><span>O'Neill E </span>
			</td>
		</tr>
		<tr>
			<td width="55">9.46am</td>
			<td>The association between macular pigment optical density and glaucoma-related structural and functional parameters.
			<br /><span>Siah WF </span>
			</td>
		</tr>
		<tr>
			<td width="55">9.50am</td>
			<td>Retinal nerve fibre layer analysis by cirrus OCT in vigabatrin recipients.
			<br /><span>Hughes E</span>
			</td>
		</tr>
		<tr>
			<td colspan="2">Followed by Q&amp;A</td>
		</tr>
		<tr>
			<td width="55">10.04am</td>
			<td>Plusoptix photoscreening for potentially amblyogenic conditions in an Irish patient cohort.
			<br /><span>Ramasamy P </span>
			</td>
		</tr>
		<tr>
			<td width="55">10.10am</td>
			<td>Elasped time for accommodative adaptation to first spectacle prescription in untreated amblyopic children.
			<br /><span>Chen S </span>
			</td>
		</tr>
		<tr>
			<td width="55">10.16am</td>
			<td>Forceps delivery-related ocular injuries; a case series.
			<br /><span>McAnena L </span>
			</td>
		</tr>
			<tr>
			<td colspan="2">Followed by Q&amp;A</td>
		</tr>
		<tr>
			<td width="55">10.30am</td>
			<td>Proficiency-based pre-training curriculum in phacoemulsificaiton surgery reduces the learning curve Of novice trainees on patients.
			<br /><span>Lee P </span>
			</td>
		</tr>
		<tr>
			<td width="55">10.36am</td>
			<td>Training experience and perceived challenges in training in phacoemulsification cataract surgery - a national trainee survey
			<br /><span>Collins N </span>
			</td>
		</tr>

		<tr>
			<td width="55">10.42am</td>
			<td>Block surgical training for cataract surgery.
			<br /><span>Stokes J </span>
			</td>
		</tr>
		<tr>
			<td>11.00am</td><td>Refreshments</td>
		</tr>
		<tr>
			<td width="55">11.30am</td>
			<td>Eliminating Blinding Trachoma in Southern Ethiopia.
			<br />Mr Donal Brosnahan
			<br /><span>Director Orbis </span>
			</td>
		</tr>
		<tr>
			<td width="55">11.40am</td>
			<td>Sterile inflammation and novel therapeutic targets for age-related macular degeneration.
			<br />Dr Mathew Campbell
			<br /><span>Research Assistant Professor and Head of the Neurovascular Genetics Research group, Trinity College Dublin</span>
			</td>
		</tr>


		<tr>
			<td>12.00am</td><td><b class="title">New Technology Symposium</b>
			<br />Chair: Mr Paul O Brien
			<br /><span>Consultant Ophthalmic Surgeon, Royal Victoria Eye &amp; Ear Hospital, Dublin</span>
			</td>
		</tr>

		<tr>
			<td></td>
			<td><b >Ultrasound Biomicroscopy & Anterior Segment OCT </b>
			<br />Noel Horgan
			<br /><span>Consultant Ophthalmic Surgeon, Royal Victoria Eye &amp; Ear Hospital, Dublin</span>
			</td>
		</tr>
		<tr>
			<td></td>
			<td><b>Optovue Wide Field Imaging </b>
			<br />Eugene Ng
			<br /><span>Eye Surgeon,Whitfield Clinic, Waterford</span>
			</td>
		</tr>
		<tr>
			<td></td>
			<td><b>Multi-spectral Imaging and Autofluorescense </b>
			<br />Paul Connell
			<br /><span>Consultant Ophthalmic Surgeon, Mater Hospital</span>
			</td>
		</tr>
		<tr>
			<td>1.00pm</td><td>Conference conclusion</td>
		</tr>

</table>
</div>



<br />&nbsp;<br />
	<p>
	Get the latest news on <a href="https://twitter.com/search?q=%23ico2014&src=hash" target="twit"><img src="/images/twitter.png" width="15" border="0"/>Twitter #ico2014</a>
	</p>
	<p><a href="ICO_Conference_programme_2014.pdf">Download the programme</a> as a PDF document</p>
