<div>
		<p align="center">
					<h1 style="text-align:center">
				ICO Annual Conference
				<br/> Strand Hotel,&nbsp;Limerick
				<br/>Tuesday 13th to Friday 16th of May
				</h1>
			</p>
			<p><a href="ICO Conference Programme_2014.pdf" target="prog" target="prog">Download the programme</a> as a PDF document</p>

<br/><br/>

</div>

<!--  ico -->
<h3>Tuesday 13<sup>th</sup></h3>
<ul class="tab">
	<li class="sel">GPs Event</li>
</ul>
<div>
	<table>
		<tr>
			<td width="70">7.30pm
			<br />Limerick Strand Hotel</td><td>
			<b>Eye Health Information Session for General Practitioners</b>
				<br />
				<br/><a href="http://www.eyedoctors.ie/conference/ICO_Eye Health_GP_2014.pdf" title="Eye Care in General Practice Session" target="pdf">Download the brochure (PDF)</a>



			<br/>The College will host an <b>Eye Health Information Session for General Practice</b> on the evening of Tuesday, 13 May at 7.30pm in the Limerick Strand Hotel.  The talks will focus on the most common eye conditions GPs come across and discussions on the conditions which can be treated or managed directly and those which need to be referred on to an eye doctor for specialist care.

					</td>
		</tr>
	</table>
</div>




<br />&nbsp;<br />
<div>
<a name="D2">&nbsp;</a>
	<h3>Day 2: Thursday 15<sup>th</sup> May</h3>
	<ul class="tab">
		<li><a href="ico2014.asp?#D2">Conference Programme</a></li>
		<li class="sel">Public Events</li>
	</ul>


		<table>
		<tr>
			<td width="70">7.00pm</td>
			<td>Limerick Strand Hotel
			<br/><b>Public Information Session on Looking after your Eye Health</b>
			<br />
			<br /><a href="ICO-2014-Limerick_InfoEvent.pdf">Download the brochure (PDF)</a>


			<br/>Dr Marie Hickey-Dwyer, Eye Surgeon at University Hospital Limerick, will discuss local eye services available to the community and common eye conditions affecting people in Ireland.
			<br />Dr Hickey-Dwyer will be joined by Eye Doctors Dr Alison Blake, Dr Patricia Quinlan and Dr Garry Treacywho will discuss
			<p>How to look after your eye health - the important steps for you and your family and the most common eye conditions affecting adults and children in Ireland, including:
			<ul style="list-style:disc;">
				<li>AMD</li>
				<li><a href="/visitors/eye-conditions.asp">Diabetic Retinopathy</a></li>
				<li><a href="/visitors/eye-conditions.asp">Glaucoma</a></li>
				<li><a href="/visitors/eye-conditions.asp">Cataracts</a></li>
				<li>Paediatric eye conditions</li>
			</ul>
			<br/>
			The audience will have the opportunity to ask the eye doctors questions following each topic and a general eye health Q&amp;A will conclude the session.
			</p>
			</td>
		</tr>
	</table>
</div>

<br />&nbsp;<br />



<br />&nbsp;<br />
	<p>
	Get the latest news on <a href="https://twitter.com/search?q=%23ico2014&src=hash" target="twit"><img src="/images/twitter.png" width="15" border="0"/>Twitter #ico2014</a>
	</p>
	<p><a href="ICO_Conference_programme_2014.pdf">Download the programme</a> as a PDF document</p>
