<div>
		<p align="center">
				<h1 style="text-align:center">
				The ICO Annual Conference
				<br/> Strand Hotel,&nbsp;Limerick
				<br/>Tuesday 13th to Friday 16th of May
				</h1>
		</p>

	<p>
		The conference will bring together some of the leading names in ophthalmology from home and abroad to discuss the latest developments, research and treatments for patients with sight-threatening conditions.</p>

	<p>
		This year's programme includes symposia on Uveitis, Ocular Infections and New Technologies in Ophthalmology.</p>

	<p>
		Keynote speakers include <b>Prof Stephen Foster</b>, Clinical Professor of Ophthalmology, Harvard Medical School and Founder and President of the Ocular Immunology &amp; Uveitis Foundation and <b>Prof Jim Lucey</b>, Medical Director of St. Patricks University Hospital.  Prof <b>Susan Kennedy</b>, Consultant Histopathologist and <b>Dr Susan Knowles</b>, Consultant Microbiologist, Royal Victoria Eye and Ear Hospital will present at the Ocular Infections Symposium.</p>

	<p>
		The ICO will host an <b>Eye Care in General Practice Session</b> on the evening of <b>Tuesday, 13th May</b> to coincide with their meeting in Limerick.  The talks will focus on the most common eye conditions GPs come across and on the conditions which can be treated or managed directly and those which need to be referred on to an eye doctor for specialist care.</p>

	<p>
		The eye doctors will also host a free <b>Public Eye Health Information Event</b> on <b>Thursday 15th May</b>, for patients, family members and anyone with an interest in learning more about eye conditions and proactively managing their eye health.   ICO President and Eye Surgeon at University Hospital Limerick, Miss Marie Hickey-Dwyer will discuss eye services available in the community and present with the panel of eye doctors on the most common causes of avoidable blindness and sight loss which affect adults and children in Ireland.  </p>
	<p></p>

</div>
<div>
<h3>Schedule Includes:</h3>
<p>
<h4>May 13th</h4>
<ul>
	<li>Exhibition Set Up, Eye Care in General</li>
	<li>Practice Session</li>
</ul>
</p>
<p>
<h4>May 14th</h4>
<ul>
	<li>Conference opening</li>
	<li>Ocular Infections Symposium</li>
	<li>ICO Annual General Meeting</li>
</ul>
</p>
<p>
<h4>May 15th</h4>
<ul>
	<li>Mooney Lecture, Uveitis Symposium</li>
	<li>Train the Trainers Course</li>
	<li>Public Information Session</li>
</ul>
</p>
<p>
<h4>May 16th:</h4>
<ul>
	<li>Understanding New Technology</li>
</ul>
</p>


	Get the latest news on <a href="https://twitter.com/search?q=%23ico2014&amp;src=hash" target="twit"><img src="/images/twitter.png" width="15" border="0"/>Twitter #ico2014</a>

</div>
<br />&nbsp;<br />



<!--  ico -->
<h3>Tuesday 13<sup>th</sup></h3>
<ul class="tab">
	<li class="sel">GPs Event</li>
</ul>
<div>
	<table>
		<tr>
			<td width="70">7.00pm
			<br />Malton Hotel</td><td>
			<b>Eye Health Information Session for General Practitioners</b>
			<br /> Darragh O'Doherty <span>Gorey Medical Centre</span>
			<br /> David Wallace <span>Bon Secours Hospital, Tralee </span>
			<br /> Timothy Horgan <span>Kerry General Hospital, Tralee </span>
			<br />John Traynor <span>Cork </span>
			<p>The talks will focus on the most common eye conditions GPs come across and discussions on the conditions which can be treated or managed directly and those which need to be referred on to an eye doctor for specialist care.</p>
			</td>
		</tr>
	</table>
</div>
<br />&nbsp;<br />
<!--  ico -->
<a name="D1">&nbsp;</a>
<h3>Day 1: Wednesday 29<sup>th</sup></h3>
<ul class="tab">
	<li class="sel">Conference Programme</li>
	<!-- li><a href="ico-social2014.asp?#D1">Social Programme</a></li -->

</ul>
<div>
	<table>
		<tr>
			<td width="60">8.50am</td><td colspan="2"><b>President's Welcome</b>
			<br />Marie Hickey Dwyer <span>President, Irish College of Ophthalmologists</span>

			</td>
		</tr>
		<tr>
			<td>8.55am</td><td colspan="2"><b><i>Paper Session</i></b>
			<br />Chair: William Power <span>Royal Victoria Eye &amp; Ear Hospital, Dublin</span>
			</td>
		</tr>

		<tr>
			<td></td><td width="60"><span>8.55am</span></td>
			<td>Supracor (multifocal excimer laser in situ keratomilieusis) hyperopia and presbyopia correction: 3-month outcomes
			<br /><span>Doyle F</span>
			</td>
		</tr>

		<tr>
			<td ></td><td><span>9.01am</span></td>
			<td>The effect of pterygium excision on visual acuity and corneal astigmatism
			<br /><span>Treacy PM</span>
			</td>
		</tr>

		<tr>
			<td ></td><td><span>9.07am</span></td>
			<td>Audit of outcomes using multifocal IOLs for cataract surgery
			<br /><span>Ellard R </span>
			</td>
		</tr>

		<tr>
			<td ></td><td><span>9.13am</span></td>
			<td>Long-term results of intracorneal inlay (KAMRA) insertion for presbyopia correction
			<br /><span>Igras E </span>
			</td>
		</tr>

		<tr>
			<td ></td><td><span>9.19am</span></td>
			<td>Imaging of the retina in keratoprosthesis patients.
			<br /><span>Duignan E</span>
			</td>
		</tr>
		<tr>
			<td ></td><td><span>9.25am</span></td>
			<td>Two-year experience with multifocal intraocular implants in Galway.
			<br /><span>Vartsakis G</span>
			</td>
		</tr>

		<tr>
			<td ></td><td><span>Q&amp;A</span></td>
			<td></td>
		</tr>

		<tr>
			<td ></td><td><span>9.40am</span></td>
			<td>Intraocular telescope surgery for ARMD -6 month follow up data
			<br /><span>Stephenson K</span>
			</td>
		</tr>

		<tr>
			<td ></td><td><span>9.46am</span></td>
			<td>Wide-field autofluorescense imaging to differentiate between retinoschisis and retinal detachment
			<br /><span>Mongan AM</span>
			</td>
		</tr>
		<tr>
			<td ></td><td><span>9.52am</span></td>
			<td>An audit of the safety and efficacy of the dexamethasone intravitreal implant (OZURDEX) in Irish patients with macular oedema.
			<br /><span>Kennelly K</span>
			</td>
		</tr>
		<tr>
			<td ></td><td><span>9.58am</span></td>
			<td>Outcomes of a shelved 20 G vitrectomy technique using Dahan infusion in primary retinal detachment surgery.
			<br /><span>Doris JP</span>
			</td>
		</tr>
		<tr>
			<td ></td><td><span>10.04am</span></td>
			<td>The ratio of focal lasers to intravitreal Bevacizumab injections conducted for diabetic maculopathy over a two month period in a Dublin hospital eye department.
			<br /><span>N&iacute; Mh&eacute;al&oacute;id &Aacute;</span>
			</td>
		</tr>
		<tr>
			<td ></td><td><span>10.10am</span></td>
			<td>A 6 year audit of uveal fine needle aspirate biopsies performed in the Royal Victoria Eye and Ear Hospital.
			<br /><span>Thacoor D</span>
			</td>
		</tr>
		<tr>
			<td ></td><td><span>10.16am</span></td>
			<td>Compliance with quality standards for diabetic retinopathy screening in the field.
			<br /><span>Smith JJ</span>
			</td>
		</tr>
		<tr>
			<td ></td><td><span>10.22am</span></td>
			<td>Audit of compliance with RCO and American Academy Plaquenil screening guidelines.
			<br /><span>Gamble R</span>
			</td>
		</tr>

		<tr>
			<td ></td><td><span>Q&amp;A</span></td>
			<td></td>
		</tr>
		<tr>
			<td>10.40am</td><td colspan="2"><b>History of Lasik -  Video Presentation</b>
			<br />Dan Reinstein <span>London Vision Clinic</span>
			</td>
		</tr>
		<tr>
			<td>11.00am</td><td colspan="2">Refreshments</td>
		</tr>
		<tr>
			<td>11.30am</td><td colspan="2"><b><i>Ocular Infections Symposium</i></b>
			<br />Chair: Peter Barry <span>Royal Victoria Eye &amp; Ear Hospital, Dublin </span>
			</td>
		</tr>
		<tr>
			<td ></td><td></td>
			<td><b>Endophthalmitis and PCR </b>
			<br />Susan Kennedy <span>Consultant Histopathologist, Royal Victoria Eye &amp; Ear Hospital, Dublin</span>
			</td>
		</tr>
		<tr>
			<td ></td><td></td>
			<td><b>Endophthalmitis and anti-VEGF Injections </b>
			<br />Peter Barry <span>Ophthalmic Surgeon, Royal Victoria Eye &amp; Ear Hospital, Dublin</span>
			</td>
		</tr>
		<tr>
			<td ></td><td></td>
			<td><b>Syphilis and Gonorrhoea - Re-Emergence of Old Diseases </b>
			<br />Susan Knowles <span>Consultant Microbiologist, Royal Victoria Eye &amp; Ear Hospital, Dublin</span>
			</td>
		</tr>
		<tr>
			<td ></td><td><span>Followed by Q&amp;A</span></td>
			<td></td>
		</tr>
		<tr>
			<td>1.00pm</td><td colspan="2">Lunch</td>
		</tr>
	</table>
<table >
		<tr>
			<td width="60">2.00pm</td><td colspan="2"><b><i>Poster Session </i></b>
			<br />Chair: Alison Blake
			<br/>
			<span>Posters will be displayed throughout the conference. The session gives a short opportunity for the author to briefly summarise the abstract.</span>
			</td>
		</tr>
		<tr>
			<td width="60"></td><td colspan="2">

			<p style="padding-left:15px;">
			Descemet's stripping automated endothelial keratoplasty (DSAEK) in a patient with myotonic dystrophy: a case report
			<span>Fiorentini S</span>
			</p>
			<p style="padding-left:15px;">
			A rare cause of optic neuropathy
			<span>Fauzi F</span>
			</p>
			<p style="padding-left:15px;">
			The surgical management of macular hole.
			<span>McElnea E.</span>
			</p>
			<p style="padding-left:15px;">
			Autosomal dominant Retinitis pigmentosad due to a frameshift mutation in RP1 identified following next generation sequencing
			<span>Treacy M</span>
			</p>
			<p style="padding-left:15px;">
			A rare association of vitiligo and retinitis pigmentosa
			<span>Rahman N</span>
			</p>
			<p style="padding-left:15px;">
			An audit of the use of subretinal tPA in the setting of massive submacular haemorrhage.
			<span>Stephenson K</span>
			</p>
			<p style="padding-left:15px;">
			The role of peripheral dendritic cells in immune activation in anterior uveitis
			<span>O'Rourke M</span>
			</p>
			<p style="padding-left:15px;">
			Initial experience with creating a national early onset severe inherited retinal degeneration database
			<span>Saad T</span>
			</p>
			<p style="padding-left:15px;">
			Pediatric keratoprosthesis; The Irish experience
			<span>McAnena L</span>
			</p>
			<p style="padding-left:15px;">
			Paediatric adjustable strabismus surgery
			<span>Loane E</span>
			</p>
			<p style="padding-left:15px;">
			Undergraduate ophthalmology education in Ireland: A comparison with international guidelines and evaluation of doctor confidence in the management of ophthalmic conditions in the general medical setting
			<span>Mingyong  L</span>
			</p>
			<p style="padding-left:15px;">
			iStent trabecular micro-bypass stent for primary open-angle glaucoma: results of four year follow-up.
			<span>McNally O</span>
			</p>
			<p style="padding-left:15px;">
			Genetically directed targeted clinical surveillance in juvenile open angle glaucoma
			<span>Armstrong, D</span>
			</p>
			<p style="padding-left:15px;">
			Treatment response of refractory neovascular age related macular degeneration following switch to intravitreal alfibercept (Eylea) from ranibizumab (Lucentis).
			<span>Bafiq R</span>
			</p>
			<p style="padding-left:15px;">
			Hypertrophic pachymeningitis and bilateral optic neuropathy in ANCA negative granulomatosis with polyangiitis - always check the scans
			<span>Hendrick L</span>
			</p>
			<p style="padding-left:15px;">
			Ocriplasmin in the treatment of vitreomacular traction and macular holes
			<span>Hendrick L</span>
			</p>
			<p style="padding-left:15px;">
			Initial experience of treatment with intravitreal aflibercept in a public hospital in Ireland
			<span>Obied O</span>
			</p>
			<p style="padding-left:15px;">
			A Rare Case of spontaneous enophthalmos
			<span>Moran S</span>
			</p>
			<p style="padding-left:15px;">
			Clinical presentation of familial exudative vitreoretinopathy: a case series
			<span>Connolly S</span>
			</p>
			<p style="padding-left:15px;">
			A case of herpes zoster ophthalmicus with occulomotor nerve involvement.
			<span>Connolly S</span>
			</p>
			<p style="padding-left:15px;">
			An unusual case of bilateral papilloedema
			<span>N&iacute; Mh&eacute;al&oacute;id &Aacute;</span>
			</p>
			<p style="padding-left:15px;">
			Risk of progression to sight threatening retinopathy in R1M1, R2M0, R2M1 cases retained within a screening program in primary care
			<span>Smith J</span>
			</p>
			<p style="padding-left:15px;">
			Screening status of diabetic patients presenting to eye casualty with vitreous haemorrhage
			<span>Shirley K</span>
			</p>
			<p style="padding-left:15px;">
			The hospital paediatric referrals to a tertiary ophthalmic centre- A prospective study of both urgent and clinic referrals.
			<span>Chakrabarti M</span>
			</p>
			<p style="padding-left:15px;">
			Three-year visual outcomes following laser photocoagulation of diabetic macular oedema
			<span>Parker J</span>
			</p>

			</td>
		</tr>
	</table>
	<table >
		<tr>
			<td>3.30pm</td><td colspan="2">Refreshments</td>
		</tr>
		<tr>
			<td>4.00pm</td><td colspan="2"><b>ICO Annual General Meeting</b>
	<br/>Chair Marie Hickey Dwyer
	<br/><span>For ICO Members only</span>
</td>
		</tr>



</table>
</div>


<br />&nbsp;<br />
<div>
<a name="D2">&nbsp;</a>
	<h3>Day 2: Thursday 15<sup>th</sup> May</h3>

	<ul class="tab">
		<li class="sel">Conference Programme</li>
		<!--li><a href="ico-social2014.asp?#D2">Social Programme</a></li -->
		<li><a href="ico-event2014.asp?#D2">Public Events</a></li>
	</ul>


	<table>
		<tr>
			<td></td><td width="60"><span>9.00am</span></td>
			<td><b><i>Uveitis Symposium</i></b>
			<br />Chair: Conor Murphy </span>
			</td>
		</tr>
		<tr>
			<td ></td><td></td>
			<td><b>Infectious Uveitis - Pearls and Pitfalls</b>
			<br />Conor Murphy <span>Ophthalmic Surgeon, Royal Victoria Eye &amp; Ear Hospital, Dublin</span>
			</td>
		</tr>
		<tr>
			<td ></td><td></td>
			<td><b>When to Cut in Uveitis</b>
			<br />Dara Kilmartin <span>Ophthalmic Surgeon, Royal Victoria Eye &amp; Ear Hospital, Dublin</span>
			</td>
		</tr>
		<tr>
			<td ></td><td></td>
			<td><b>Birdshot Retinochoroidopathy</b>
			<br />Stephen Foster<span>Professor of Ophthalmology, Harvard Medical School</span>
			</td>
		</tr>
		<tr>
			<td ></td><td></td>
			<td><span>Followed by Q&amp;A</span>
			</td>
		</tr>
		<tr>
			<td>11.00am</td><td colspan="2">Refreshments</td>
		</tr>
		<tr>
			<td>11.30am</td><td colspan="2"><b><i>Keynote Talk</i></b>
			<br /><b>Jim Lucey</b>
			<span>Medical Director St Patrick's Hospital</span>
			</td>
		</tr>
		<tr>
			<td>12.00pm</td><td colspan="2"><b><i>Annual Mooney Lecture</i></b>
			<br /><b>MERSI Guidelines for a Preferred Practice Pattern for the Care of Patients with Recurrent or Steroid-Dependent Uveitis</b>
			<br />Stephen Foster <span>Massachusetts Eye Research and Surgery Institution</span>
		</td>
		</tr>
		<tr>
			<td>1.00pm</td><td colspan="2">Lunch</td>
		</tr>
		<tr>
			<td>2.00am</td><td colspan="2"><b><i>Workshops</i></b></td>
		</tr>
		<tr>
			<td ></td><td></td>
			<td><b>Train the Trainers</b>
			<br />Melanie Corbett <br /><span>Chairman, Training the Trainers Subcommittee, Royal College of Ophthalmologists</span>
			<br/>This workshop has been prepared in line with HSE MET requirements for trainers.
			</td>
		</tr>
		<tr>
			<td></td><td></td>
			<td><b>Trainee Workshop</b>
			<br />This workshop will address a range of topics for trainees including career pathway, progression and opportunities.
			</td>
		</tr>

	</table>
</div>
<br />&nbsp;<br />
<div>
	<h3>Day 3: Friday 16<sup>th</sup> May</h3>
	<table>
		<tr>
			<td>9.00am</td><td colspan="2"><b><i>Paper Session</i></b>
			<br />Chair: Donal Brosnahan <span>RVEEH</span> and Ian Flitcroft <span>Mater's Hospital</span>
			</td>
		</tr>

		<tr>
			<td></td><td width="60"><span>9.00am</span></td>
			<td>A new method for the measurement of microRNA and microRNA related targeted genes in conjunctival epithelial cells in Sjogren's syndrome patients.
			<br /><span>Pilson Q</span>
			</td>
		</tr>
		<tr>
			<td></td><td width="60"><span>9.06am</span></td>
			<td>The RVEEH non-infectious anterior uveitis cohort.
			<br /><span>O'Rourke M </span>
			</td>
		</tr>

		<tr>
			<td></td><td width="60"><span>9.12am</span></td>
			<td>Orbital T-Cell Lymphoma; a Case Report
			<br /><span>L McAnena</span>
			</td>
		</tr>
		<tr>
			<td></td><td width="60"><span>9.12am</span></td>
			<td>Rho kinase inhibitors in modulating the response of human trabecular meshwork cells to hypotonic stress.
			<br /><span>Pokrovskaya O </span>
			</td>
		</tr>
		<tr>
			<td></td><td width="60"><span>9.18am</span></td>
			<td>he Role of methylation in regulating the expression of TGF&#946; in lamina cribrosa and trabecular meshwork cells in glaucoma.
			<br /><span>Wallace D M</span>
			</td>
		</tr>

		<tr>
			<td></td><td width="60"><span>9.24am</span></td>
			<td>A molecular analysis of human lamina cribrosa and trabecular meshwork cell behaviours as determined by the surrounding extracellular matrix.
			<br /><span>McNally S </span>
			</td>
		</tr>
		<tr>
			<td ></td><td><span>Q&amp;A</span></td>
			<td></td>
		</tr>
		<tr>
			<td></td><td width="60"><span>9.40am</span></td>
			<td>Glaucomatous Optic Neuropathy Evaluation (GONE) Project: The effect of monoscopic versus stereoscopic viewing conditions on optic nerve evaluation.
			<br /><span>O'Neill E </span>
			</td>
		</tr>
		<tr>
			<td></td><td width="60"><span>9.46am</span></td>
			<td>The association between macular pigment optical density and glaucoma-related structural and functional parameters.
			<br /><span>Siah WF </span>
			</td>
		</tr>
		<tr>
			<td></td><td width="60"><span>9.50am</span></td>
			<td>Retinal nerve fibre layer analysis by cirrus OCT in vigabatrin recipients.
			<br /><span>Hughes E</span>
			</td>
		</tr>
		<tr>
			<td ></td><td><span>Q&amp;A</span></td>
			<td></td>
		</tr>
		<tr>
			<td></td><td width="60"><span>10.04am</span></td>
			<td>Plusoptix photoscreening for potentially amblyogenic conditions in an Irish patient cohort.
			<br /><span>Ramasamy P </span>
			</td>
		</tr>
		<tr>
			<td></td><td width="60"><span>10.10am</span></td>
			<td>Elasped time for accommodative adaptation to first spectacle prescription in untreated amblyopic children.
			<br /><span>Chen S </span>
			</td>
		</tr>
		<tr>
			<td></td><td width="60"><span>10.16am</span></td>
			<td>Forceps delivery-related ocular injuries; a case series.
			<br /><span>McAnena L </span>
			</td>
		</tr>
		<tr>
			<td ></td><td><span>Q&amp;A</span></td>
			<td></td>
		</tr>
		<tr>
			<td></td><td width="60"><span>10.30am</span></td>
			<td>Proficiency-based pre-training curriculum in phacoemulsificaiton surgery reduces the learning curve Of novice trainees on patients.
			<br /><span>Lee P </span>
			</td>
		</tr>
		<tr>
			<td></td><td width="60"><span>10.36am</span></td>
			<td>Proficiency-based pre-training curriculum in phacoemulsificaiton surgery reduces the learning curve Of novice trainees on patients.
			<br /><span>Lee P </span>
			</td>
		</tr>
		<tr>
			<td></td><td width="60"><span>10.30am</span></td>
			<td>Training experience and perceived challenges in training in phacoemulsification cataract surgery - a national trainee survey
			<br /><span>Collins N </span>
			</td>
		</tr>

		<tr>
			<td></td><td width="60"><span>10.42am</span></td>
			<td>Block surgical training for cataract surgery.
			<br /><span>Stokes J </span>
			</td>
		</tr>
		<tr>
			<td>11.00am</td><td colspan="2">Refreshments</td>
		</tr>
		<tr>
			<td></td><td width="60"><span>11.30am</span></td>
			<td>Eliminating Blinding Trachoma in Southern Ethiopia.
			<br /><span>Donal Brosnahan, Director Orbis </span>
			</td>
		</tr>
		<tr>
			<td></td><td width="60"><span>11.40am</span></td>
			<td>Update on AMD research from Trinity
			</td>
		</tr>


		<tr>
			<td>11.30am</td><td colspan="2"><b><i>New Technology Symposium</i></b>
			<br />Chair: Paul O Brien</span>
			</td>
		</tr>
		<tr>
			<td ></td><td></td>
			<td><b>Femtosecond Laser Cataract Surgery</b>
			<br />
			</td>
		</tr>
		<tr>
			<td ></td><td></td>
			<td><b>Ultrasound Biomicroscopy & Anterior Segment OCT </b>
			<br />Noel Horgan <span>Royal Victoria Eye &amp; Ear Hospital, Dublin</span>
			</td>
		</tr>
		<tr>
			<td ></td><td></td>
			<td><b>Optovue Wide Field Imaging </b>
			<br />Eugene Ng <span>Eye Surgeon, Mater Hospital, Dublin</span>
			</td>
		</tr>
		<tr>
			<td ></td><td></td>
			<td><b>Multi-spectral Imaging and Autofluorescense </b>
			<br />Paul Connell <span>Eye Surgeon, Whitfield Clinic</span>
			</td>
		</tr>
		<tr>
			<td>1.00pm</td><td colspan="2">Conference conclusion</td>
		</tr>

</table>
</div>



<br />&nbsp;<br />
	<p>
	Get the latest news on <a href="https://twitter.com/search?q=%23ico2014&src=hash" target="twit"><img src="/images/twitter.png" width="15" border="0"/>Twitter #ico2014</a>
	</p>
	<p><a href="ICO_Conference_programme_2014.pdf">Download the programme</a> as a PDF document</p>
