<table>
	<tbody>
		<tr>
			<td>9.00am</td>
			<td><strong>Welcome</strong><br />
			Mr William Power <br/><em>President, Irish College of Ophthalmologists</em></td>
		</tr>
		<tr>
			<td>9.05am</td>
			<td>
			<p><strong>Paper Session</strong><br />
			Co-Chairs: Mr Tom Flynn and Dr Alison Blake</p>

			<ul>
				<li>Outcomes in Deep Anterior Lamellar Keratoplasty (DALK) for Corneal Ectasia
					<br />
				Emily Hughes</li>

				<li> Visual and Functional Outcomes of the TECNIS Symfony Extended Range of Vision 1-Piece Intraocular Lens (IOL), Model ZXROO<br />
				Aine Ní Mhéalóid</li>


				<li>Incidence and Causative Organisms of Infective Keratitis in a North Dublin Population Following Audit of Corneal Scraping Practice from 2009-2016<br />
				Melissa Murphy</li>


				<li>Corneal Tomographic Results Following Accelerated vs. Conventional Protocols for Corneal Collagen Cross-Linking in a Paediatric Population with Keratoconus<br />
				Lina Kobayter</li>

 				<li>Evidence Based Guidelines for the Management of Fungal Keratitis in the Republic of Ireland<br/>
					Stephen Farrell</li>

				<li>Audit of Indications, Complications and Surgical Outcomes Following Anterior Lamellar Keratoplasty (ALK) and Deep Anterior Lamellar Keratoplasty (DALK) in a Tertiary Referral Hospital<br/>
				Melissa Murphy</li>

			</ul>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>Questions</td>
		</tr>
		<tr>
			<td>10.00am</td>
			<td><strong>Annual General Meeting</strong> 
			<br/>Chair: Mr William Power, <em>President ICO</em>
			</td>
		</tr>
		
		<tr>
			<td>11.00am</td>
			<td>Coffee</td>
		</tr>

		<tr>
			<td>11.30am</td>
			<td><strong>The Eyes of Rebellion - Ophthalmology and Fighting for Freedom</strong>
			<br/>Mr Tim Horgan<br />
				<em>Consultant Ophthalmologist, University Hospital Kerry</em>
			</td>
		</tr>
		
		<tr>
			<td>12.00pm</td>
		
		<td><strong>The Ins and Outs of Ocular Trauma</strong><br/>Chair:  Mr Paul Moriarty
		
			<ul>
		<li>Eyelid and Orbital Trauma, Dodging the Stings and Arrows<br/>Mr Dan Nolan<br/>Consultant Ophthalmic Surgeon and Clinical Lead in Ophthalmology, East Cheshire NHS Trust Hospitals</li>
		<li>Ocular Trauma and the Posterior Segment<br/>Mr Paul Connell <br/>Consultant Ophthalmic Surgeon, Mater Misericordia University Hospital, Dublin</li>

		</ul>
	</td>
			</tr>

		
		<tr>
			<td>1.00pm</td>
			<td>Lunch</td>
		</tr>

		<tr>
			<td>2.00pm</td>
			<td>
			<b>Paper Session</b><br/>Co-Chairs: Mr David Keegan and Dr Geraldine Comer

				<ul>
			<li>Design of Nanoparticle- based MicroRNA Therapeutics in Sjögren’s Syndrome <br/>Sinead Connolly</li>
			<li>Regulation of Lysyl Oxidase Like 1 expression in Pseudoexfoliation Glaucoma<br/>Deborah Wallace</li>
			<li>Significance of Novel RS1 Mutations in X-linked Retinoschisis<br/>Kirk Stephenson</li>
			<li>Target 5000: Next-generation Sequencing for Inherited Retinal Disorders<br/>Matthew Carrigan</li>
			<li>Negative Regulators of Inflammation and Age Related Macular Degeneration (AMD) in an Irish Population<br/>Meadbh Rhatigan</li>
			<li>The role of AMD-derived exosomes in Age-Related Macular degeneration pathogenesis<br/>Hanan El Shelmania</li>
			</ul>
			</td>
		</tr>
				<tr>
			<td>&nbsp;</td>
			<td>Questions</td>
			</tr>
		<tr>
		<td></td>
		<td><ul>
			<li>
			Evaluation of Tablet Computers in the Assessment of Visual Acuity: Can iPads Replace the Snellen Chart?<br/>Conor Malone
			</li>
			</ul>
		</td>
		</tr>
		<tr>
			<td>3.00pm</td>
			<td>
			<p><strong>Technology and the Future of Healthcare</strong><br />
			Mr Jim Joyce<br/><em>Health-tech entrepreneur and Founder of Point of Care Clinic</em></p>

			
			</td>
		</tr>
		<tr>
			<td>3.30pm</td>
			<td>Coffee</td>
		</tr>
		<tr>
			<td>4.00pm</td>
			<td>
			<strong>European Society of Ophthalmology (SOE) Lecture</strong><br />
			Introduction by Ms Patricia Logan, <em>SOE Board Member</em>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
			<strong>Tackling Immunological Events in Corneal Transplantation</strong><br />
			Professor Conor Murphy<br/><em>Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital, Dublin</em>
			</td>
		</tr>
			
		<tr>
			<td>4.30pm</td>
			<td>
				<b>RetinaScreen Update</b><br/>Mr David Keegan<br/><em>National Clinical Lead Diabetic Retina Screen Programme, National Screening Service, Dublin </em>
				</td>
		</tr>
		<tr>
			<td></td>
			<td>
			<strong>The impact of the Introduction of the Diabetic Retinal Screening (DRS) Programme on the Number of Laser Treatments Carried Out in the Ophthalmology Dept in UHG over a one-year period</strong><br/>
			Esraa Hegazy
			</td>
		</tr>

		<tr>
			<td></td>
			<td>
			<strong>Diabetic Retina Screen: The University Hospital Waterford Experience</strong>
			<br>
			Pathma Ramasamay
			</td>
		</tr>

</td>
		</tr>
		
	</tbody>
</table>
