<table>
	<tbody>

		<tr>
			<td>8.00am</td>
			<td>
			<p><strong>Multidisciplinary Symposium : Optimising Patient Care in HLAB27-Associated Uveitis</strong>
			<br />
			<em>Supported by abbvie</em>
			<br/>Chair: Mr William Power, President ICO

			</p>

			</td>
		</tr>
		<tr>
			<td>8.05-8.30am</td>
			<td><strong>Optimising the detection of spondyloarthritis in patients with AAU using the DUET alogorithm</strong>
			<br/>
				Dr Mohammed Haroon
				<br/><em>Consultant Rheumatologist, University Hospital Kerry</em>
			</td>
		</tr>
		<tr>
			<td>8.30-8.50am</td>
			<td><strong>Key challenges in the management of HLA-B27 anterior uveitis</strong>
			<br/>
				Prof Conor Murphy
				<br/><em>Consultant Ophthalmic Surgeon, Royal Victoria Eye &amp; Ear Hospital</em>
			</td>
		</tr>

		<tr>
			<td>8.50-9.00am</td>
			<td>Discussion</td>
		</tr>


		<tr>
			<td>9.00am</td>
			<td>
			<p><strong>Paper Session</strong><br />
			Co-Chairs: Miss Marie Hickey Dwyer and Dr Fiona Harney</p>

			<ul>
				<li>Prism Adaptation and the Surgical Management of Acquired Esotropia
				<br />
				Clare Quigley</li>

				<li>Cataract Surgery in Paediatric Uveitis
				<br />
				Michael O'Rourke</li>


				</ul>
			</td>
			</tr>
		<tr>
			<td>&nbsp;</td>
			<td>Questions</td>
		</tr>
		<tr>
			<td></td>
			<td>
			<ul>
			
				<li>
Objective Change in Metamorphopsia as Measured by an M-chart Following Epiretinal Membrane Surgery in Eyes with Good Visual Acuity<br />
				Iryna Surzhenko</li>



<li>The Differences between Retinoschisis and Retinal Detachments on Wide-Field Fundus Autofluorescence<br/>
Iryna Surzhenko</li>

<li>Uveal Melanoma: The Irish Experience<br/>
Caroline Bailey</li>

				</ul>
		<tr>
			<td>&nbsp;</td>
			<td>Questions</td>
		</tr>
		<tr>
			<td></td>
			<td>
			<ul>

<li>Evaluation of Outcomes from Transscleral Cyclodiode Laser, in a Tertiary Referral Centre, Including the Outcomes in Neovascular Glaucoma in the Era of anti-VEGF<br/>
Shane Whitlow</li>

<li>Vision and Health-Related Quality of Life in Patients with Giant Cell Arteritis<br/>
Aine Ní Mhéalóid</li>

			</ul>
			</td>
		</tr>

		
		<tr>
			<td>10.00am</td>
			<td><strong>Future of Specialist Training in Ireland </strong><br/>Introduction: Ms Yvonne Delaney, <em>Dean of Postgraduate Education, ICO</em>

			</td>
		</tr>

		
		<tr>
			<td></td>
			<td><strong>20 years of Ophthalmic Surgical Training Opportunities: 1995 to 2015 – What Has Changed?</strong><br />
				Niamh Collins 

			</td>
		</tr>

		
		<tr>
			<td></td>
			<td><strong>Keynote Talk</strong><br />

				Prof. Eilis McGovern<br/><em>Director, National Doctors Training and Planning<br/>Health Service Executive</em>


			</td>
		</tr>
		
		<tr>
			<td>11.00am</td>
			<td>Coffee
			
			</td>
		
		</tr>


		<tr>
			<td>11.30am</td>
			<td><strong
				>Eye Care for Haiti</strong><br/>Dr Kevin Tempany<br/><em>Ophthalmologist, Ranelagh Eye Clinic, Dublin</em> </td>
		</tr>
		

		<tr>
			<td>11.40am</td>
			<td><b>Vascular Symposium - Ocular Manifestations of Systemic Disease</b>
			<br/>Chair: Ms Patricia Logan
			<ul>
				<li>Ocular Manifestations of Cardiac Disease, the Common, the Complex and the Curious<br/>
				Dr Charles McCreery<br/>
				Cardiologist, St Vincents Hospital, St Colmcilles Hospital and Blackrock Clinic, Dublin </li>

				<li>Imaging in Neuro-ophthalmology: What to Order and How to Maximise your Diagnostic Yield <br/>
				Dr Ronan Killeen<br/>
				Consultant Diagnostic Neuro-radiologist & Nuclear Medicine Physician, St Vincent's University Hospital and Royal Victoria Eye and Ear Hospital, Dublin</li>

				<li>Update in Neurology <br/>
				Dr Brian Sweeney<br/>
				Consultant Neurologist, Cork University Hospital, Cork</li>

				</ul>	

				</td>

</tr>

		<tr>
			<td>&nbsp;</td>
			<td>Questions</td>
		</tr>


		<tr>
			<td>1.00pm </td>
			<td>
			<p>Lunch</p>

			
			</td>
		</tr>

		
		<tr>
			<td>2.00pm</td>
			<td><strong>Workshops </strong><em>(running concurrently)</em>
			
			<ol><li> The Future Development of Medical Ophthalmology - the Great Debate<br/>Chair: Dr Fiona Kearns, <em>Chair Medical Ophthalmologists Committee, ICO</em></li>
				<li> Trainee Workshop:<br/>Chair: Mr Jeremy O Connor, <em>Chair Scientific &amp; CME Committee, ICO</em><br/>Applying for a fellowship and early career advice <br/>Delivering difficult news – Insight Counselling, Fighting Blindness
				</li></ol>
		</tr>
		<tr>
			<td>3.00pm</td>
			<td>Practical Diagnostic Corneal Imaging<br/>Mr Tom Flynn, <br/><em>Consultant Ophthalmic Surgeon, Moorfields Hospital, London</em></td>
		</tr>
		
		
	</tbody>
</table>
