<table>
	<tbody>
		<tr>
			<td>9.00am</td>
			<td><strong>Poster Session</strong><br/>Chair: Dr Denise Curtin
<ul>
				<li>Accuracy of Glaucoma Drops Prescribing and Dispensing for Patients Admitted to Hospital for Non-Ophthalmic Complaints
				<br/>Mohamad Baba </li>

				<li>Implementing a Retinal Artery Occlusion and Retinal Vein Occlusion protocol in an Acute Medical Unit
				 <br/>Esraa Hegazy </li>

				<li>Trabeculectomy Outcomes: Do Results in a District General Hospital Setting Compare to Larger Centres?
				<br/>Aisling Higham</li>

				<li>Case Series Report: Congenital Dural Ectasia of the Optic Nerve
				Mohamad Hosney</li>
				<li>Paediatric Ocular Cystinosis in the Republic of Ireland
						<br/>Stephen Farrell</li>

				<li>A1 Base- Pair Frameshift Deletion in Codon 893 of SLC24A1 Causes Retinitis Pigmentosa
				<br/>Conor Malone </li>

				<li>The Audit of Risk Factors and Clinical Features of Retinal Tears Diagnosed in Eye Casualty
				<br/>Donal McCullagh</li>

				<li>Ocular Immunoglobulin G4-related Disease. A Case Series
				<br/>Elizabeth McElena </li>

				<li>Initial Clinical Experience with the Trabecular Micro-Bypass Stent (iStent) in Patients with Open Angle Glaucoma
				<br/>Sarah Moran </li>

				<li>Eye Massage: Impact on Clinical Signs and Quality of Vision
				<br />Johnny Moore
				</li>

				<li>Popper Associated Maculopathy – Case Report and Literary Synthesis
				<br/>Rory Murphy</li>

				<li>The Changing Treatment Profile of Diabetic Macular Oedema: The Decline of Macular Laser
				<br/>Treasa Murphy</li>

				<li>Workings of the Royal Victoria Eye and Ear Hospital Application for Smart Phones
				<br/>Patrick Murtagh </li>

				<li>Union is Strength: Looking Back on the First Year of the British Journal of Ophthalmology Founded 100 Years Ago
				<br/>Shane O’Regan</li>

				<li>A Retrospective Audit of the Epidemiology of Surgical Presentations to the UHW Vitreoretinal Unit
				<br/>Barry Power</li>





			</td>
		</tr>
		<tr>
			<td>10.00am</td>
			<td><strong>Annual Mooney Lecture 2016<br/>
Regulation of Corneal Inflammation and Immunity</strong><br />
			Professor Reza Dana <br/><em> Claes Dohlman Professor of Ophthalmology, Harvard Medical School and Director of the Department of Ophthalmology Cornea Center of Excellence  </em></td>
		</tr>



		<tr>
			<td>11.00am</td>
			<td><em>Coffee </em></td>
		</tr>

		<tr>
			<td>11.30am</td>
			<td><strong>Evolving Trends in Corneal Disease</strong><br />
			Chair: Mr William Power</td>
		</tr>


		<tr>
			<td></td>
			<td><strong>Update on ocular graft-versus-host disease</strong><br />
			Prof. Reza Dana<br/>
			<em>Professor of Ophthalmology, Harvard Medical School</em>

			</td>
		</tr>

		<tr>
			<td></td>
			<td><strong>Deep Anterior Lamella Keratoplasty (DALK)</strong><br />
			Mr Tim Fulcher, <br/>
			<em>Consultant Ophthalmic Surgeon, Mater and Beaumont Hospitals, Dublin</em>

			</td>
		</tr>


		<tr>
			<td></td>
			<td><strong>Evolution of Endothelial Keratoplasty</strong><br />
			Mr Tom Flynn, <br/>
			<em>Consultant Ophthalmic Surgeon, Moorfields Hospital, London</em>

			</td>
		</tr>


		<tr>
			<td></td>
			<td><strong>Changing Indications for Keratoprosthesis Surgery</strong><br />
			Mr Billy Power<br/>
			<em>Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital, Dublin </em>
			</td>
		</tr>
	

		<tr>
			<td>1.00pm</td>
			<td><strong>Update from ICO / Novartis Bursary Recipients 2016 </strong>
			<ul>
			<li>Mitochondrial Respiratory Function and Mitochondrial DNA Mutations in Pseudoexfoliation Glaucoma<br/>
			Dr. Khalid Kamel </li>

			<li>Neutralising Interleukin-18 binding protein (IL-BP) as a potential therapy for treatment of neo-vascular AMD<br/>
			Dr. Ghaleb Farouki</li>

		
				</ul>
</td>

		</tr>
		
		<tr>
			<td></td>
			<td><strong>Announcement of ICO Medal Winners</strong>
			</td>
		</tr>
	

	
	</tbody>
</table>
