<h3>
The Irish College of Ophthalmologists Annual Conference will be held in The Europe Hotel Killarney from Wednesday 18th to 20th May.
</h3>
<p>
This year's conference marks a special occasion for the ICO as we celebrate our 25th Anniversary. The Conference is the highlight of our annual calendar and provides an opportunity for eye doctors from across the country to gather to hear about the latest clinical and scientific updates and development of the specialty.
</p>

<p>
<img src="Reza-Dana.jpg" alt="Dr Reza Dana" title="Dr Reza Dana" height="100" style="float:right;margin-left:7px;">
We look forward to welcoming<b> Dr Reza Dana</b>, Claes Dohlman Professor of Ophthalmology, Harvard Medical School and Director of the Department of Ophthalmology Cornea Center of Excellence. Dr Dana will give the Annual Mooney Lecture entitled '<em>Regulation of Corneal Inflammation and Immunity</em>' and also contribute to a symposium on '<em>Evolving Trends in Corneal Disease</em>' where he will be joined by Consultant Ophthalmic Surgeon, <b>Mr Tom Flynn </b>from Moorfields Hospital, London, <b>Mr Tim Fulcher</b>, Consultant Ophthalmic Surgeon at Beaumont and The Mater Hospital and <b>Mr Billy Power</b>, ICO President and Ophthalmic Surgeon at the Royal Victoria Eye and Ear Hospital, Dublin. 
</p>
<p>
<b>Mr Dan Nolan</b>, Consultant Ophthalmic Surgeon and Clinical Lead in Ophthalmology at East Cheshire NHS Trust Hospitals and <b>Mr Paul Connell,</b> Consultant Ophthalmic Surgeon at The Mater Misericordia University Hospital, Dublin will present at the Ocular Trauma symposium. 
</p>
<p>
The Ocular Manifestation of Systemic Disease symposium will incorporate input from medical colleagues outside of the specialty to provide an update on developments in diagnostic testing for diseases and conditions that ophthalmic patients may present with and ocular manifestations of systemic disease.  Examples include patients with vascular or neurological conditions who present with visual symptoms, which lead to the accurate diagnosis of the illness.   
Guest Lecturer, <b>Jim Joyce</b>, who has been involved in several health tech start-ups, will speak to delegates about the impact of IT and technology on the delivery of healthcare now and in the future.
Jim is founder of medical nursing company Point of Care and inventor of novel digital health technologies, including HealthSnap, a 60 second video messaging application and HealthBeacon the first ever smart sharps bin.  In his talk, Jim will discuss trends and challenges of implementing digital healthcare solutions and extending the impact and reach of the doctor and nurse through innovative tools.
</p>
<p>




<h3 >Accommodations &amp; Exhibitors</h3>

<p > The scientific programme will run from Wednesday morning through to Friday lunchtime and will have a parallel exhibition.
<br/>Set-up for the exhibition will be from 2pm on Tuesday 17th May..</p>


<p >Should you wish to reserve a room at the hotel Europe please contact reservations &nbsp;directly (T: <a href="tel:00353646671300" style="text-decoration:none">064 667 1300</a>)
<br/>Please advise the hotel that you are an exhibitor at the ICO Annual Conference. 
</p>


<p >For further information, please contact Siobhan Kelly at the ICO&nbsp;<a href="mailto:Siobhan.kelly@eyedoctors.ie" >Siobhan.kelly@eyedoctors.ie</a>&nbsp;/&nbsp;<a href="mailto:info@eyedoctors.ie" >info@eyedoctors.ie</a></p>

