<h1>Annual Reports</h1>

<h2>2021</h2>

<p>The ICO is pleased to announce the publication of the our Annual Report for 2021.</p>

<p>The Annual Report provides an update on ICO activities and finances for that year.</p>

<p><a href="/documents/ICO-Annual-Report-2021.pdf" target="doc" title="Download the Annual Report 2021"><img alt="Download the Annual Report 2021" class="img-responsive" src="/images/annual-report-2021.jpg" title="Download the Annual Report 2021" /> Download the Annual Report 201</a></p>

<p>&nbsp;</p>


<h2>2020</strong></h2>

<p>The ICO is pleased to publish our inaugural Annual Report.</p>

<p>The Report provides an update on our activities and finances for 2020, in line with our responsibilities under the Charities Governance Code and the requirements of the Charities Regulator.</p>

<p><a href="/documents/ICO-Annual-Report-2020.pdf" target="doc" title="Download the Annual Report 2020"><img alt="Download the Annual Report 2020" class="img-responsive" src="/images/annual-report-2020.jpg" title="Download the Annual Report 2020" /> Download the Annual Report 2020 </a></p>

<h3>Dr Patricia Quinlan launching the ICO Annual Report 2020</h3>

<p><iframe allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" frameborder="0" height="360" src="https://player.vimeo.com/video/623323494?h=a536848e4e&amp;dnt=1" width="640"></iframe></p>
