<p style="margin: 16px 0px;">The ICO Winter Meeting and Annual Montgomery Lecture (virtual) will take place on Friday, 10th December</p>

<h3>ICO Winter Meeting</h3>

<table cellpadding="5">
	<tbody>
		<tr>
			<td valign="top"><b>3pm</b></td>
			<td valign="top"><b style="color:#004b8d;">Welcome</b><br />
			<span style="color:#b8094d;">Prof Colm O&#39;Brien, Chair ICO Scientific &amp; Continuing Professional Development Committee</span></td>
		</tr>
		<tr>
			<td valign="top">&nbsp;</td>
			<td valign="top"><b style="color:#004b8d;">Paper Presentations</b></td>
		</tr>
		<tr>
			<td valign="top"><b>3.02pm</b></td>
			<td valign="top"><b>The role of &alpha;v&Beta;3 integrin and its inhibition in lamina cribrosa cell mechanotransduction in glaucoma</b><br />
			<span style="color:#b8094d;">Sarah Powell</span></td>
		</tr>
		<tr>
			<td valign="top"><b>3.10pm</b></td>
			<td valign="top"><b>Outcomes of genetic screening of an Irish paediatric inherited retinal degeneration population</b><br />
			<span style="color:#b8094d;">Julia Zhu</span></td>
		</tr>
		<tr>
			<td valign="top"><b>3.18pm</b></td>
			<td valign="top"><b>Validating circulating mirna biomarkers for AMD in an Irish population</b><br />
			<span style="color:#b8094d;">Ian Brennan</span></td>
		</tr>
		<tr>
			<td valign="top"><b>3.26pm</b></td>
			<td valign="top"><b>An evaluation of the safety and effectiveness of telephone triage in prioritising patient visits to an ophthalmic emergency department &ndash; the impact of COVID-19</b><br />
			<span style="color:#b8094d;">Glynis Hanrahan</span></td>
		</tr>
		<tr>
			<td valign="top"><b>3.34pm</b></td>
			<td valign="top"><b>Redefining Alport&rsquo;s Syndrome: ocular phenotypes in type IV collagen disorder</b><br />
			<span style="color:#b8094d;">Liam Tomas Mulcahy</span></td>
		</tr>
		<tr>
			<td valign="top"><b>3.42pm</b></td>
			<td valign="top"><b>Candida blood stream infection: to screen or not to screen?</b><br />
			<span style="color:#b8094d;">Amy O&#39;Regan</span></td>
		</tr>
		<tr>
			<td valign="top"><b>3.50pm</b></td>
			<td valign="top"><b>The efficacy of retinal pneumopexy in releasing vitreomacular traction</b><br />
			<span style="color:#b8094d;">Matthew O&#39;Riordan</span></td>
		</tr>
		<tr>
			<td valign="top"><b>3.58pm</b></td>
			<td valign="top"><b>6 Year retrospective study of the trends of anti-vascular growth factor therapy in retinal disease in University Hospital limerick</b><br />
			<span style="color:#b8094d;">Eabha O&#39;Driscoll</span></td>
		</tr>
		<tr>
			<td valign="top"><b>4.06pm</b></td>
			<td valign="top"><b>Repeated corneal collagen &ndash; crosslinking (cXl) In Keratoconus in long-term outcome</b><br />
			<span style="color:#b8094d;">Tayseer Mohamed</span></td>
		</tr>
		<tr>
			<td valign="top"><b>4.14pm</b></td>
			<td valign="top"><b>Management of traumatic canalicular lacerations: comparison of bicanalicular silicone tube and monocanalicular mini-monoka repair at Cork University Hospital</b><br />
			<span style="color:#b8094d;">Edward Ahern</span></td>
		</tr>
		<tr>
			<td valign="top"><b>4.22pm</b></td>
			<td valign="top"><b>Ophthalmology input and ocular findings in patients with facial bone fractures in St Vincent&rsquo;s University Hospital: January 2020 &ndash; November 2021</b><br />
			<span style="color:#b8094d;">Michael Troy</span></td>
		</tr>
		<tr>
			<td valign="top"><b>4.30pm</b></td>
			<td valign="top"><b style="color:#004b8d;">Posters (automated virtual slides presentation)</b></td>
		</tr>
		<tr>
			<td valign="top"><b>5.00pm</b></td>
			<td valign="top"><b style="color:#004b8d;">Break</b></td>
		</tr>
		<tr>
			<td valign="top"><b>5.15pm</b></td>
			<td valign="top"><b style="color:#004b8d;">Welcome &amp; Introduction of the Annual Montgomery Lecture 2021</b><br />
			<span style="color:#b8094d;">Mr Tim Fulcher, President, ICO</span></td>
		</tr>
		<tr>
			<td valign="top"><b>5.20pm</b></td>
			<td valign="top"><b style="color:#004b8d;">Annual Montgomery Lecture 2021</b><br />
			&quot;<strong>Developing a clinical research program - 30 years of&nbsp;Acanthamoeba&nbsp;keratitis</strong>&rdquo;
			<p>Prof John Dart has been researching Acanthamoeba keratitis disease for 30 years.&nbsp; Although it is a relatively rare disease most ophthalmologists will have seen a case and know how severe it is.&nbsp; Prof Dart began his research on the condition in the mid 1980&rsquo;s when cases first started to increase and in his lecture, will discuss what he, and others, have done to answer the questions about the causes, environmental factors, development of diagnostic techniques and development of treatments from then to the preliminary results of their&nbsp;current treatment trial.<br />
			The focus will be on how a clinical research programme developed as a response to a new disease and an insight into what can be achieved.</p>

			<p><span style="color:#b8094d;"><a href="https://iris.ucl.ac.uk/iris/browse/profile?upi=JKGDA29" style="color:#b8094d;" target="_blank"><b>Prof John KG Dart MA DM FRCOphth</b></a><br />
			Hon. Consultant Ophthalmologist, Hon. Professor, University College London, Moorfields Eye Hospital, London </span></p>

			<p>John Dart has been a Consultant Ophthalmologist at Moorfields Eye Hospital since 1987 and an Honorary Professor of UCL, at the Institute of Ophthalmology since 2011, providing a tertiary referral service for patients with Corneal and External diseases until 2020 when he retired from clinical work. He has continued with his research focused principally on microbial keratitis and cicatrising conjunctivitis. His current studies including a Phase II/III randomized trial of a new formulation of PHMB for the treatment of Acanthamoeba keratitis, aimed at providing the first licensed therapy for this disease, and the development of topical ALDH inhibition to control the unmet need of scarring in cicatrising conjunctivitis. He has over 220 peer-reviewed publications, has trained 38 Corneal and External disease Fellows and 8 PhD/MD students; four of these now hold Chairs in Ophthalmology or Optometry. He has given 19 eponymous lectures including the EuCornea Medal 2015, the Bowman Medal (RCOphth) 2016 and the Castroviejo Medal (Corneal Society) 2019.</p>
			</td>
		</tr>
		<tr>
			<td valign="top"><b>6.00pm</b></td>
			<td valign="top"><b style="color:#004b8d;">Q&amp;A</b></td>
		</tr>
		<tr>
			<td valign="top"><b>6.30pm</b></td>
			<td valign="top"><b style="color:#004b8d;">Meeting Close</b></td>
		</tr>
	</tbody>
</table>
