<h2>English language requirements for applicants to the Training Programme</h2>

<p>The ability to communicate clearly with patients and colleagues is a key requirement for all healthcare professionals. In the case of doctors providing clinical care to members of the public, the ability to communicate is particularly important. Proficiency in the English language is therefore a core competency for all NCHDs working in the Irish public health service. The HSE requires that as part of the application process for training positions on specialist training programmes, that all applicants are required to demonstrate their competency in the English Language in line with HSE specifications.</p>

<p>In this context, all applicants who were not registered by the Medical Council in any of the divisions of the Register of Medical Practitioners prior to 9th July 2012 or who did not complete the entirety of their under-graduate medical training in the Republic of Ireland and who wish to take up employment with the HSE, are required to provide evidence of one of the following:</p>

<p style="margin-left: 40px;"><strong>1.&nbsp; &nbsp;</strong>IELTS (International English Language Testing System) certificate with an overall band score of 7.0 and a minimum score of 6.5 in each of the four domains &ndash; reading, writing, listening and speaking - on the academic test. The test must be undertaken no more than two years prior to the date of it being submitted to the employer. While a doctor may sit the above test as often as they wish, the above scores must have been achieved at only one sitting of the IELTS test. Results from more than one test sitting cannot be amalgamated. Any cost incurred in relation to the IELTS exam will be borne by the applicant. Information on IELTS is available at <a href="https://www.ielts.org/" target="_blank">www.ielts.org</a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>

<p><u>OR</u></p>

<p style="margin-left: 40px;">OET (Occupational English Test) certificate with an overall grade of B and a minimum grade of B in each of the four domains- reading, writing, listening and speaking. The test must be undertaken no more than two years prior to the date of it being submitted to the Irish College of Ophthalmologists. Results from more than one test sitting cannot be amalgamated. Any cost incurred in relation to the OET exam will be borne by the applicant. Information on OET is available at <a href="https://www.occupationalenglishtest.org/" target="_blank">www.occupationalenglishtest.org</a>&nbsp;</p>

<p><u>OR</u></p>

<p style="margin-left: 40px;"><strong>2.</strong>&nbsp; &nbsp;Completion of their medical degree in the any of the following countries &ndash; United Kingdom, Australia, Canada, New Zealand, or United States.</p>

<p>&nbsp;</p>

<p><a href="/medium/images/English_Language_FAQs_for_Specialist_Training_Programmes_v20-k.pdf">Download the Frequently Asked Questions - English Language requirements for applicants to the National Training Programmes.</a></p>
