<h1>Cataract - What to Expect on the Day of Surgery</h1>

<h2><b>Patient Information Video - Your Cataract Journey: What to expect on the day of your procedure</b></h2>

<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/937720093?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="thea cataract patient journey 23"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
<p><em>Thanks to Ophthalmology Team, Eye Department, Mater Misericordiae University Hospital Dublin for creating this video.</em></p>