<h1>Eye Conditions</h1>

<div class="panel-group" id="accordion">
<div class="panel panel-default">
<h2 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse1">Amblyopia</a></h2>

<div class="panel-collapse collapse in" id="collapse1">
<div class="panel-body">
<p>Amblyopia or &ldquo;lazy eye&rdquo; is reduced vision in an eye due to a lack of normal visual development during childhood. An amblyopic eye that does not see well early in life does not develop normal vision even with glasses.</p>

<p>Amblyopia affects 3-4% of children and usually involves one eye though rarely can involve both.&nbsp; The best time to correct amblyopia is during infancy or early childhood. After the first nine years of life, the visual system is usually fully developed and cannot be significantly changed.</p>

<p>The presence of amblyopia is not always easy to recognise. Children should have their vision tested by their eye doctor at the age of four or earlier if there is any &ldquo;wandering&rdquo; of the eyes. Children with a family history of amblyopia should be checked even earlier within the first two to three years of life. Failing a vision screening does not always mean there is amblyopia as vision can often improve by prescribing glasses.</p>

<p>Amblyopia is treated by patching the stronger eye to strengthen the weaker eye. Patching may vary from a few hours a day to almost the entire day depending upon the visual acuity. Sometimes drops are used instead of patching to blur the better eye if cooperation is a problem.</p>

<p>If amblyopia is not treated, the weaker eye may permanently have poor vision which is irreversible with glasses.</p>

<p>If the problem is detected early, patching can help to improve vision in most children.</p>

<h2>Childhood Spectacles&nbsp;</h2>

<p>Dr Sean Chen, Consultant Ophthalmologist has prepared the following leaflets which are&nbsp;a helpful reference guide to parents whose children have been determined by a healthcare professional to benefit from wearing glasses and answers some of the frequently asked questions parents may have.</p>

<p><a href="/medium/images/Childhood_Specs_ICO-j.pdf" target="_blank">Childhood Spectacles Frequently Asked Questions</a></p>

<p><a href="/medium/images/Specs_&amp;_Sqt_Surg_ICO-a.pdf" target="_blank">Spectacles and Strabismus (squint) Surgery&nbsp;</a></p>

<p>&nbsp;</p>
</div>
</div>
</div>
<!-- -->

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse8">Age related macular degeneration (AMD)</a></h2>

<div class="panel-collapse collapse" id="collapse8">
<div class="panel-body">
<p>Age related macular degeneration (AMD) is the leading cause of sight loss in the over 50s in Ireland. More than 100,000 people in Ireland aged over 50 are living with AMD.&nbsp; However, i<span background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">t</span><span background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">s prognosis has been greatly improved with modern treatment modalities. Without treatment severe AMD can lead to loss of central vision and it is the most common cause of&nbsp;legal blindness.&nbsp;</span></p>

<p>It affects the central vision, where sharpest vision occurs, causing difficulty undertaking daily tasks such as reading, driving and recognising faces.</p>

<p><span background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Usually, even in its most aggressive form, side or peripheral vision is preserved allowing the patient to move around independently and to continue those tasks that do not require fine central vision.</span></p>

<p>Early diagnosis and treatment by an ophthalmologist is recommended which results in a better visual outcome.</p>
<img alt="Simulation Macular degeneration" height="150" src="/medium/images/Simulation_Macular_Degen.jpg" style="float:left; padding:10px;" title="Simulation Macular degeneration" width="220" />
<p><strong>What causes AMD?</strong></p>

<p>AMD is an ageing change in the macula. The macula is the central part of the light sensitive retina. The retina lines the inside of the back of the eye and is responsible for vision. Light focused on the retina is transformed to an electrical signal that is sent to the brain where &#39;seeing&#39; takes place. The macula is responsible for central vision such as reading and recognising facial details.</p>
There are two main types of AMD, the &#39;Dry&#39; and the &#39;Wet&#39; type:

<h3>&nbsp;</h3>

<h3>Dry AMD</h3>

<p>Dry AMD is the most common (80-90%) and also the mildest form of the condition. In this type there are typical age changes such as age spots or &#39;Drusen &#39; in the macula. Very often patients with Dry AMD maintain good central vision, needing perhaps more magnification and lighting for reading. A small percentage of patients with Dry AMD will develop more severe dry changes with consequential progressive difficulty with reading and fine vision. At this time there is no known cure for Dry AMD, but progression can be slowed by stopping smoking, eating a healthy diet rich in Lutein (found in the leafy green vegetables), and looking after cardiovascular risk factors such as high blood pressure and elevated cholesterol . Dry AMD usually affects both eyes. Dry AMD can progress to Wet AMD.</p>

<h3>Wet AMD</h3>

<p>Wet AMD is the less common but more severe form (affects less than 10%). In this type an abnormal blood vessel complex grows in under the macula as part of the ageing change. This results in a cycle of leakage, bleeding and scar tissue growth in the macula leading to destruction of central vision and legal blindness without treatment. There is a significant risk of Wet AMD affecting the second eye over time (&gt;50%). The second eye need to be carefully monitored.</p>

<h3>Symptoms:</h3>

<p>In Dry AMD symptoms are often mild, such as needing stronger glasses or better lighting for reading. When progression to Wet AMD occurs, the patient may notice the onset of blurring of reading vision with distortion ( due to fluid or blood under the macula ). Sometimes patients are unaware until they take a moment to cover or close one eye at a time. At this stage the progression can be rapid and patients should seek help promptly from their eye doctor.</p>

<p><img alt="Amsler Grid" src="/media/images/jpg/Amsler Grid Normal.jpg" style="float: left; width: 110px; height: 110px; padding-right:10px" />An Amsler Grid is a simple test designed to pick up symptoms of Wet AMD. However it is not a substitute for an eye examination . The patient checks each eye separately with reading glasses on. If they notice blurring or distortion of the lines on the grid this could indicate the presence of Wet AMD and they should be examined promptly by their eye doctor.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h3>Diagnosis of AMD</h3>

<p>A Fluorescein angiogram is a photographic test used to assess AMD. The patient is given an injection of Fluorescein dye into a vein in the arm. The dye is followed with photographs as it goes through the retinal circulation and will show up changes due to AMD. An OCT is a special ultrasound which will instantly detect changes in the macula due to AMD. It is a quick and reliable test and is as easy for the patient as a photograph .</p>

<h3>Treatment options for AMD</h3>

<p>Currently, there are no medical treatments available for <strong>Dry AMD</strong>, but research is advancing in this area to develop therapies. <strong>Wet AMD</strong> can be treated if diagnosed early.</p>

<h4><strong>Supplementation and Lifestyle - Dry AMD</strong></h4>

<p>Age-Related Disease Studies (AREDS1 and AREDS2) have shown that a combination of vitamins and antioxidants may help slow the progression of early AMD to late-stage AMD. Supplements containing vitamins C and E, zinc &amp; copper, and lutein and zeaxanthin are recommended.</p>

<p>To find what supplements may work best for you and your condition, speak to your eye doctor. &nbsp;Your doctor&nbsp;may recommend a comprehensive dilated eye exam at least once a year. The exam will help determine if the condition is worsening.</p>

<p>In addition, your doctor will suggest lifestyle changes that may help slow the progression of AMD, such as stopping smoking, staying active and eating a healthy diet.</p>

<h4><strong>Wet AMD Treatment&nbsp;</strong></h4>

<h4>Intravitreal therapy -&nbsp;Anti-vascular endothelial growth factor (anti-VEGF) drugs</h4>

<p>The current standard treatment, Intravitreal injection therapy has proven to be a major advance for patients with Wet AMD. We know that when Wet AMD develops abnormal blood vessels grow under the macula due to a chemical stimulant called vascular endothelial growth factor (VEGF). Intravitreal injections of anti- VEGF drugs, which block vascular endothelial growth factor, can break the cycle of leakage, bleeding and scar tissue growth. Anti-VEGF treatment offers stabilisation and very often improvement in vision. &nbsp;They are delivered through an injection into the eye, administered by an ophthalmologist, usually a retinal specialist. While some pressure will be felt during the injection, the eye is first numbed to minimize any discomfort. Treatment may be needed on a regular basis over several years.</p>

<h4>Laser Photocoagulation</h4>

<p>Laser photocoagulation is another treatment modality for Wet AMD. It is less commonly used now with the advent of intravitreal therapy. Laser light is used to seal the leaking blood vessels. Although laser can be effective, many patients with Wet AMD are not suitable candidates as often the leakage is centrally located and laser is therefore not the treatment of choice. Laser can stabilise the vision but is unlikely to improve it.</p>

<h4>Photodynamic. Therapy (PDT)</h4>

<p>PDT is another treatment option for Wet AMD. The patient is given an intravenous infusion of a light sensitive dye called verteporphyrin . When the dye accumulates in the abnormal blood vessel complex under the macula it is activated by a laser light resulting in closure of the blood vessel. PDT is less frequently used now following the advent of intravitreal therapy. PDT can stabilise the vision in certain circumstances but is unlikely to improve vision.</p>

<p>Age related macular degeneration is one of leading&nbsp;causes of vision loss in older adults. Its prognosis however has been greatly improved with modern treatment modalities. Without treatment severe AMD can lead to loss of central vision and legal blindness. Usually, even in its most aggressive form, side or peripheral vision is preserved allowing the patient to move around independently and to continue those tasks that do not require fine central vision.</p>

<h3>Prevention</h3>

<p>Regular eye examination with the eye doctor are recommended especially if there a family history of the condition. This should be done every two years for the over 50s and annually if there is any hint of AMD. It is important that patients self monitor using an Amsler grid between visits.</p>

<p>Looking after general health, being a non smoker, eating a healthy diet rich in leafy greens (Lutein), and sensible use of sunglasses can all help to slow the progression of AMD. Often your eye doctor will recommend taking a Lutein based vitamin supplement. Monitoring the vision in each eye separately using an Amsler grid can lead to early detection of AMD and an improved visual outcomes.</p>

<p>Download Fighting Blindness Guide to AMD <a href="http://www.eyedoctors.ie/press-release/December-11-2018/Guide-to-Age-related-Macular-Degeneration/103.html" target="_blank">here&nbsp;</a></p>
</div>
</div>
</div>
<!-- -->

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2">Cataract</a></h2>

<div class="panel-collapse collapse" id="collapse2">
<div class="panel-body">
<h3>Understanding Cataract, Its Symptoms and Treatments</h3>
<img alt="Simulation Cataract" height="150" src="/medium/images/Simulation_Cataract.jpg" style="float:left; padding:10px;" title="Simulation Cataract" width="220" />
<p>Cataract is a common cause of visual impairment in the elderly but can also affect a small number of younger individuals. &nbsp;The number of cataract patients is greater than the number of glaucoma, macular degeneration and diabetic retinopathy patients combined. It is common in people over 65 years of age. In the United States of America it has been shown that over 70% of individuals over the age of 70 years of age, have some degree of cataract. Cataract surgery is the most commonly performed operation in Ireland.</p>
&nbsp;

<h3>What is a cataract?</h3>

<p><img alt="cataract" height="120" src="/images/cataract_occurs_here.jpg" style="float:left;padding:10px;" title="cataract" width="133" /> The eye is like a camera where the retina is the film at the back, and the lens is positioned at the front of the eye, just behind the pupil. A cataract is a clouding in the lens of eye. The lens in your eye focuses light and is constructed of proteins and fluid. The proteins are arranged in a parallel fashion to allow the light to pass through the lens without interruption. The&nbsp;pupil&nbsp;dilates and contracts to control the level of light reaching the retina and the lens&nbsp;adjusts automatically to allow you see objects clearly&nbsp;at various distances.</p>

<p><img alt="Glaucoma" height="130" src="/images/glaucoma_eye.jpg" style="float:left;padding:10px;" title="Glaucoma" width="130" /> As one ages, cataract begins when some of the parallel proteins become disorganised causing a small part of the lens to become cloudy and this becomes larger as the cataract progresses. Eventually the whole lens becomes opaque and blocks off light to the retina causing a major reduction in vision. In most medically advanced countries a cataract operation is readily available allowing vision to be restored quickly.</p>
As one ages, cataract begins when some of the parallel proteins become disorganised causing a small part of the lens to become cloudy and this becomes larger as the cataract progresses. Eventually the whole lens becomes opaque and blocks off light to the retina causing a major reduction in vision. In most medically advanced countries a cataract operation is readily available allowing vision to be restored quickly.

<h3>What are the different types of cataract?</h3>

<p>The most common type of cataract is the one that people get as they become older it is called a <b>nuclear cataract</b> because it affects the central core of the lens. This develops quite slowly sometimes taking many years to affect the vision significantly.</p>

<p>A <b>cortical cataract</b> occurs in the peripheral part of the lens and often looks like the spokes in a bicycle wheel. It takes some time for these &lsquo;spokes&rsquo; to grow centrally to affect the vision and doctors often see signs of this cataract before the patient&rsquo;s vision is affected.</p>

<p>A <b>subcapsular cataract</b> occurs at the back of the lens typically afflicting people with diabetes and those on steroid therapy. This causes a &lsquo;stippling&rsquo; on the surface of the lens like a semi-opaque bathroom window and can occur quite quickly sometimes blocking off the vison within a year.</p>

<h3>What are the symptoms?</h3>

<p>The blurring of vision is gradual, hardly affecting the sight at first. It would seem like looking through an opaque glass at times. Light from the sun, a lamp or oncoming headlights cause dazzle and in daylight colours seem faded. Patients often remark that colours are more vibrant in one eye than the other.</p>

<p>Symptoms and their onset may vary depending on the cataract type. With nuclear cataract for example there may be an improvement in reading and close work for many months or even years, due to the development of short sightedness, but eventually this will also deteriorate as the cataract progresses. This phenomenon used to be known as &lsquo;second sight&rsquo;. Subcapsular cataract can occur rapidly and affect the vision in a shorter period of time than other types of cataracts.</p>

<p>It is best to visit an eye doctor if you suspect you are developing a cataract.</p>

<h3>What are the causes?</h3>

<p>Despite studies, it is unknown exactly why cataracts form as the lens ages. While the factors are being gradually identified, some doctors believe that diet with high antioxidants (beta-carotene, vitamins A, C and E, and selenium) may help keep cataracts at bay. However none of these theories has been conclusively proven.<br />
The following are risk factors that are said to be associated with cataract formation.</p>

<ul>
	<li><b>Ultraviolet light</b> has been said to damage the proteins in the lens and induce cataract. Eye doctors advise the use of sunglasses and wide-brim hats to protect against UV light exposure. A UV protective coating on your sunglasses is probably a good thing to have.</li>
	<li><b>Poor nutrition</b> is a cause of cataract formation and the prevalence of cataract increases geographically as one travels towards the equator from the poles. The strength of sunlight also increases as you get nearer the equator which may also be a factor.</li>
	<li><b>Steroids and some other drugs</b> are implicated in cataract formation.</li>
	<li><b>Other risk factors</b> include too much salt, alcohol, air pollution and smoking. Again all these processes are difficult to prove.</li>
	<li><b>Diabetes mellitus</b> There is evidence to show that diabetics are more prone to cataract formation especially those suffering from Type 2 diabetes.</li>
</ul>

<p>&nbsp;</p>

<h3>How is cataract treated?</h3>

<p>At an early stage cataract can be treated by changing the power of your glasses. This can go on for years at a time and an annual review is indicated. Later as the cataract becomes more opaque the only effective treatment is surgery.</p>

<h3>When should I have my cataract removed?</h3>

<p>This depends on your circumstances. If you are a car driver surgery is indicated at a much earlier stage than for people who don&rsquo;t drive. In Ireland, a binocular vision of 6/12, adequate contrast sensitivity and a normal field of vision is necessary for driving. Driving is very important to most people and no one wants to lose their independence, so if the above parameters are being threatened by cataract formation then early surgery is indicated. However, if you don&rsquo;t drive or are happy to give it up, and you have adequate vision to carry out your normal daily activities then cataract surgery can be postponed indefinitely. You personally have a big say about when cataract surgery should be performed on your eyes and if you are happy with your current vision then there is no need to undergo cataract surgery. There can be many years difference in the timing of cataract surgery depending on your life-style or circumstances.</p>

<h3>What does a cataract operation entail?</h3>

<p>In most cases cataracts surgery is performed under local anaesthetic which may just be eye drops alone, or an injection around the eye (a bit like for a&nbsp;filling at your dentist&rsquo;s), but often a combination of both of these methods is used. If you are really nervous then you should speak with your surgeon about the possibility of a general anaesthetic. You are normally admitted to hospital at 8 am and you will usually be home by lunchtime. Nowadays the procedure is straight forward and takes about 20 minutes, nonetheless great skill is required to perform one of these operations which involves a team of doctors and nurses in a theatre setting, where&nbsp;important precautions&nbsp;are taken to prevent infection. The media often portray this operation as a simple procedure which it is definitely is not, but in skilled hands it is very successful in most cases. During the operation a tiny plastic lens (an IOL) is placed in the eye to help focus the light post-operatively. Prior to surgery a special test called biometry is carried out to decide on the power of the IOL to be inserted.</p>

<h3>Will I need to use glasses following surgery?</h3>

<p>You will be asked by your surgeon if you would like to have your eyes focussed for the distance following surgery. Most people wish for this, but if you are short-sighted your surgeon will probably suggest that enough short-sightedness should be left post-operatively, so that you may continue to read without glasses. Short sighted people really value this facility that they naturally have. However, if you are a short sighted golfer, or other sportsperson, then you may wish to be able to see in the distance without glasses poster-operatively. This all needs to be discussed with your surgeon prior to the operation. If you are happy wearing bifocals or varifocals then you may wish to continue with these&nbsp;following surgery for convenience sake and it is worth mentioning this to your eye doctor before your operation.</p>

<p>Further improvements are being developed on surgical procedures and IOLs. Presbyopia (reading) correcting IOLs for instance may allow clear vision at any distance. Another IOL type, one that can block retina-damaging UV and UVB rays, is being developed. In future in Ireland cataract surgery will be laser assisted and machines for this are currently being fine-tuned in trials around the world. The current operation used by most surgeons is called &lsquo;phako-emulsification&rsquo; and is the least traumatic cataract operation you can have. The lens is broken up with the help of ultra-sound, suctioned from the eye and the IOL is positioned behind the pupil &ndash; all of this done through a 2 mm incision.</p>

<h3>Post-operative Care</h3>

<p>Most patients recover very quickly following cataract surgery. A plastic&nbsp;eye-guard is worn at night for a couple of weeks to prevent inadvertent rubbing of the eye during sleep. Many&nbsp;recommence driving after one to two&nbsp;weeks.</p>

<p>You will be required to use post-operative steroid/antibiotic drops for 4 weeks to prevent infection and to settle post-operative inflammation. Usually you return for follow up one week after surgery but if undue soreness or blurring occurs a few days following discharge, then you should return to the clinic or hospital&nbsp;immediately for a check-up.</p>

<p>Most patient have returned to normal activities such as work after two weeks.</p>
</div>
</div>
</div>
<!-- -->

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse3">Conjunctivitis</a></h2>

<div class="panel-collapse collapse" id="collapse3">
<div class="panel-body">
<p>&quot;Conjunctivitis&quot; refers to inflammation or infection of the membrane lining the &quot;white&quot; of the eye and the inside of the eyelids. It is very common, and can vary from a mild redness to a severe condition causing damage to the eye. # The most common type of conjunctivitis is viral. This will disappear on its own but is very contagious and can spread rapidly, especially among children. It is important that hands be washed frequently and kept away from the face. Towels should not be shared.</p>

<p>Bacterial conjunctivitis is much less common and is treated with antibiotics. Bacterial conjunctivitis generally has a lot of purulent (pus-like) drainage from the eye.</p>

<p>The hallmark of allergic conjunctivitis is itch. When a material that a person is allergic to makes contact with the eye, a reaction is set up that leads to redness, itching and tearing of the eyes with puffy eyelids. Rubbing the eyes, which gives momentary relief from the itch, only makes the inflammation and itching worse. The best treatment is to avoid the cause of the itch, if possible. Often this is not possible since the inciting material may be present everywhere, such as grasses, dust and mould. Cool compresses may offer some relief. Also effective are lubricating eye drops and antihistamine eye drops, both of which are over-the-counter medicines.</p>

<p>For more severe conditions, examination and treatment by an eye doctor may be necessary. There are many prescription medications now available that give substantial relief to most people.</p>

<p>Not all red eyes have conjunctivitis. The conjunctiva can also &nbsp;be red due to dry eye, foreign body and inflammations inside the eye.</p>
</div>
</div>
</div>
<!-- -->

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse4">Diabetic Retinopathy</a></h2>

<div class="panel-collapse collapse" id="collapse4">
<div class="panel-body"><img alt="Simulation Diabetic Retinopathy" height="150" src="/medium/images/Simulation_Diabetic_Retinopathy.jpg" style="float:left; padding:10px;" title="Simulation Diabetic Retinopathy" width="220" />
<p>The most common&nbsp;complication of diabetes is diabetic retinopathy, which is a deterioration of the blood vessels that nourish the retina. If these weakened vessels leak fluid or blood, they can damage or scar the retina and ultimately blur vision. About 60 percent of people with diabetes more than 15 years have some blood vessel damage in their eyes. However, only a small percentage of those people have serious vision problems. Diabetic retinopathy is a leading cause of new blindness among adults in Ireland. Pregnancy and high blood pressure may worsen this condition in diabetic patients. The best protection against the progression of diabetic retinopathy is awareness of the risks of developing sight disturbances and having regular examinations by an eye doctor. When treatment is necessary, the most common method is laser surgery to seal the leaking blood vessels.</p>

<p>Although approximately 80% of Type 1 diabetics (i.e., insulin-dependent) have retinopathy after 15 years of disease, only about 25% have any retinopathy after 5 years. The prevalence of proliferative diabetic retinopathy (PDR) is less than 2% at five years and 25% by 15 years. For Type 2 diabetes (non-insulin-dependent), however, the onset date of diabetes is frequently not precisely known and thus more severe disease can be observed soon after diagnosis. Up to 3% of patients first diagnosed after age 30 (Type 2) can have clinically significant macular edema or high-risk PDR at the time of initial diagnosis of diabetes.</p>

<h3>Diabetic RetinaScreen - The National Diabetic Retinal Screening Programme</h3>

<p>Diabetic RetinaScreen is the National Diabetic Retinal Screening Programme. It is a government-funded screening programme that offers free, regular diabetic retinopathy screening to people with diabetes aged 12 years and older.</p>

<p>Diabetic RetinaScreen uses specialised digital photography to look for changes that could affect sight. All people in this country who have been diagnosed with diabetes should be on the register for screening. If you have diabetes and would like to check you are on our register, please ring Freephone 1800 45 45 55 and choose option 1. If the programme has been informed you were diagnosed with diabetes you will be invited by letter to attend for screening. When you get the letter you must call the freephone number.</p>

<p>Further information on the screening programme is available at <a href="http://www.diabeticretinascreen.ie/" target="_blank">http://www.diabeticretinascreen.ie/</a></p>

<div style="font-size:85%;text-align:justify"><iframe allowfullscreen="" frameborder="0" height="360" mozallowfullscreen="" src="https://player.vimeo.com/video/176731036" webkitallowfullscreen="" width="640"></iframe>

<p><a href="https://vimeo.com/176731036">Diabetic Retinopathy</a> from <a href="https://vimeo.com/user42839480">Sean Kirwan</a>.</p>

<p><em>This <a href="https://vimeo.com/176731036" target="_blank">3D animated video</a> was created by Sean Kirwan, Medical Scientist, during a Knowledge Exchange Dissemination Scheme (KEDS) with University College Dublin and ICON Firecrest, funded by the Health Research Board. Lead Pharmacologist was Sean Kirwan and 3D Graphic Designers included Carlos Tena and Tom&amp;aacute;s O&amp;#39;Sullivan of ICON Firecrest. Support Pharmacologist was Dr Paul Halley of ICON Firecrest. Dr Breand&amp;aacute;n Kennedy (UCD) and Dr Rosemarie Carew (ICON Firecrest) were project supervisors.</em></p>
</div>
</div>
</div>
</div>
<!-- -->

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse5">Glaucoma</a></h2>

<div class="panel-collapse collapse" id="collapse5">
<div class="panel-body">
<p>Glaucoma is a leading cause of blindness in Ireland.&nbsp;</p>
<img alt="Simulation glaucoma" height="150" src="/medium/images/simulation_glaucoma.jpg" style="float:left; padding:10px;" title="Simulation glaucoma" width="220" />
<p>Early detection is key to slowing progression and preventing later sight loss due to glaucoma.&nbsp; Regular eye tests are the only way to detect &lsquo;symptomless&rsquo; glaucoma early so that it can be diagnosed by an eye doctor and treated in the community where possible. &nbsp;At a late stage, glaucoma is irreversible and results in sight loss and blindness..</p>

<p>Based on our growing and ageing population, the incidence of glaucoma&nbsp;is expected to rise by 33% in Ireland over the coming decade, but treatment for glaucoma works very well if detected early and usually involves eye drops alone.</p>

<p>Those most at risk of developing glaucoma are people over 60, people with a family history of the disease and individuals of African and Hispanic ethnicity.</p>

<h3>What is Glaucoma?</h3>

<p>Glaucoma is the name for a group of eye conditions in which the optic nerve is damaged at the point where it leaves the eye. This nerve carries information from the light sensitive layer in your eye, the retina, to the brain where it is perceived as a picture.</p>

<p>Your eye needs a certain amount of pressure to keep the eyeball in shape so that it can work properly. In some people, the damage is caused by raised eye pressure. Others may have an eye pressure within normal limits but damage occurs because there is a weakness in the optic nerve. In most cases both factors are involved but to a varying extent.</p>

<p>Eye pressure is largely independent of blood pressure.</p>

<p>Glaucoma is a disease that damages the optic nerve, the part of our eye that carries the images we see to our brain. In the healthy eye, a clear liquid circulates in the front portion of the eye. To maintain a constant healthy eye pressure, the eye continually produces a small amount of this fluid and an equal amount which flows out of the eye. If you have glaucoma, the fluid does not flow properly through the drainage system. Fluid pressure in the eye increases and this extra force presses on the optic nerve in the back of the eye, causing damage to the nerve fibres. Glaucoma is an extremely serious eye disorder which can cause blindness if not treated early.</p>

<h3>Causes</h3>

<p><b>What controls pressure in the eye?</b><br style="clear:both;" />
<img alt="Glaucoma" height="120" src="/images/glaucoma_occurs_here.jpg" style="float:left;padding:10px;" title="Glaucoma" width="133" /><br />
A layer of cells behind the iris (the coloured part of the eye) produces a watery fluid, called aqueous. The fluid passes through a hole in the centre of the iris (called the pupil) to leave the eye through tiny drainage channels. These are in the angle between the front of the eye (the cornea) and the iris and return the fluid to the blood stream. Normally the fluid produced is balanced by the fluid draining out, but if it cannot escape, or too much is produced, then your eye pressure will rise. (The aqueous fluid has nothing to do with tears).<br style="clear:both;" />
<b>Why is increased eye pressure serious?</b><br />
If the optic nerve comes under too much pressure then it can be injured. How much damage there is will depend on how much pressure there is and how long it has lasted, and whether there is a poor blood supply or other weakness of the optic nerve. A really high pressure will damage the optic nerve immediately. A lower level of pressure can cause damage more slowly, and then you would gradually lose your sight if it is not treated.<br />
<b>Symptoms</b><br />
In the early stages of chronic glaucoma, there are frequently no obvious symptoms and whilst increased pressure in the eye may be an indicator, this will not necessarily mean you have the disease. With fewer early warning signs than other major eye diseases, the most efficient detection method for glaucoma is by regular eye examination. Those most prone to developing glaucoma are people over 60 and people with a family history of the disease.</p>

<h3>Types of Glaucoma</h3>

<p>There are four main types.</p>

<p><b><a href="#CHRONIC-GLAUCOMA">Chronic glaucoma</a></b>: The most common is chronic glaucoma in which the aqueous fluid can get to the drainage channels (open angle) but they slowly become blocked over many years. The eye pressure rises very slowly and there is no pain to show there is a problem, but the field of vision gradually becomes impaired. In Ireland when people talk about &amp;lsquo;glaucoma&amp;rsquo; they are mostly referring to this chronic type, sometimes referred to as &amp;lsquo;primary open angle glaucoma&amp;rsquo;.</p>

<p><b><a href="#ACUTE-GLAUCOMA">Acute glaucoma</a></b>: Acute glaucoma is much less common in western countries. This happens when there is a sudden and more complete blockage to the flow of aqueous fluid to the eye. This is because a narrow angle closes to prevent fluid ever getting to the drainage channels. This can be quite painful and will cause permanent damage to your sight if not treated promptly.</p>

<p><b>Secondary</b> and <b>developmental glaucoma</b>: There are two other main types of glaucoma. When a rise in eye pressure is caused by another eye condition this is called secondary glaucoma. There is also a rare but potentially serious condition in babies called developmental or congenital glaucoma which is caused by malformation in the eye.</p>

<p><b>Is glaucoma common?</b><br />
Figures for the UK and Ireland suggest some form of glaucoma affects about two in 100 people over the age of 40.</p>

<h3 id="CHRONIC-GLAUCOMA">Chronic glaucoma</h3>

<p><b>Are some people more at risk of chronic glaucoma?</b> Yes. There are several factors which increase the risk.</p>

<ul>
	<li><b>Age:</b> Chronic glaucoma becomes much more common with increasing age. It is uncommon below the age of 40 but affects one per cent of people over this age and five per cent over 65.</li>
	<li><b>Race:</b> If you are of African origin you are more at risk of chronic glaucoma and it may come on somewhat earlier and be more severe. So make sure that you have regular tests.</li>
	<li><b>Family:</b> f you have a close relative who has chronic glaucoma then you should have an eye test at regular intervals. You should advise other members of your family to do the same. This is especially important if you are aged over 40 when tests should be done every year.</li>
	<li><b>Short sight:</b> People with a high degree of short sight are more prone to chronic glaucoma.<br />
	Diabetes is believed to increase the risk of developing this condition.</li>
</ul>
<br />
<b>Is there a risk of sight loss?</b><br />
The danger with chronic glaucoma is that your eye may seem perfectly normal. There is no pain and your eyesight will seem to be unchanged, but your vision is being damaged. Some people do seek advice because they notice that their sight is less good in one eye than the other.<br />
The early loss in the field of vision is usually in the shape of an arc a little above and / or below the centre when looking &#39;straight ahead&#39;. This blank area, if the glaucoma is untreated, spreads both outwards and inwards. The centre of the field is last affected so that eventually it becomes like looking through a long tube, so-called &#39;tunnel vision&#39;. In time even this sight would be lost.<br />
<b>Detection</b><br />
As glaucoma becomes much more common over the age of 40 you should have eye tests at least every two years.<br />
<b>Treatment</b><br />
While there is no cure for glaucoma and optic nerve damage cannot be reversed, the disease can be treated successfully and vision loss prevented by early detection. Treatment involves controlling the pressure in the eye as it is pressure which damages the optic nerve causing loss of sight. Acute glaucoma is treated by drugs to relieve pressure and may be followed by laser treatment or surgery to allow the fluid to drain. Occasionally, the blockage in the eye becomes permanent and needs the same treatment as chronic glaucoma. Chronic glaucoma is controlled by eye drops, or occasionally by tablets. Where vision continues to deteriorate, laser treatment or surgery to provide a drainage valve will be required. These procedures have a high success rate.<br />
They can control the pressure and stop the progression of the disease, although it is important to remember it cannot be cured and lifelong monitoring is essential.<br />
Treatment to lower the pressure is usually started with eye drops. These act by reducing the amount of fluid produced in the eye or by opening up the drainage channels so that excess liquid can drain away. If this does not help, your eye doctor may suggest either laser treatment or an operation called a trabeculectomy to improve the outflow of fluids within the drainage system of your eye.<br />
<b>Is there a cure?</b><br />
Although damage already done cannot be repaired, with early diagnosis and careful regular observation and treatment, damage can usually be kept to a minimum, and good vision can be enjoyed indefinitely.
<p>&nbsp;</p>

<h3 id="ACUTE-GLAUCOMA">Acute glaucoma</h3>

<p>In acute glaucoma the pressure in the eye rises rapidly. This is because the periphery of the iris and the front of the eye (cornea) come into contact so that aqueous fluid is not able to reach the tiny drainage channels in the angle between them. This is sometimes called closed angle glaucoma.</p>

<p><b>Symptoms</b><br />
The sudden increase in eye pressure can be very painful. The affected eye becomes red, the sight deteriorates and may even black out. There may also be nausea and vomiting. In the early stages you may see misty rainbow coloured rings around white lights.<br />
Sometimes people have a series of mild attacks, often in the evening. Vision may seem &lsquo;misty&rsquo; with coloured rings seen around white lights and there may be some discomfort in the eye. If you think that you are having mild attacks you should contact your doctor without delay. In routine examinations the structure of the eye may make the examiner suspect a risk of acute glaucoma and advise further tests.<br />
<b>Treatment</b><br />
If you have an acute attack you will need to go into hospital immediately so that the pain and the pressure in the eye can be relieved. Drugs will be given which both reduce the production of aqueous liquid in the eye and improve its drainage. An acute attack, if treated early, can usually be brought under control in a few hours. Your eye will become more comfortable and sight starts to return.<br />
When the pain and inflammation have gone down, your surgeon will advise making a small hole in the outer border of the iris to relieve the obstruction, allowing the fluid to drain away. This is usually done by laser treatment.<br />
Usually the surgeon will also advise you to have the same treatment on the other eye, because there is a high risk that it will develop the same problem.<br />
This treatment is not painful. Depending on circumstances and the response to treatment, it may not require admission to hospital. Sometimes a short stay in hospital may be advised.<br />
<b>Can it be cured?</b><br />
If diagnosed without delay and treated promptly and effectively there may be almost complete and permanent recovery of vision. Delay may cause loss of sight in the affected eye. Occasionally the eye pressure may remain a little raised and treatment is required as for chronic glaucoma.<br />
<b>Will it affect my Driving?</b><br />
Most people can still drive if the loss of visual field is not advanced. To assess possible damage to your peripheral vision you will need a special test to see whether your sight meets the standards of the Driver and Vehicle Licensing Authority. Often people who have damaged field of vision on the detailed tests which are done to monitor progression of the disease, can still have a good enough field of vision for everyday activities such as driving so always ask your eye doctor if you should do an Esterman test before deciding if you are fit to drive .<br />
<b>Will I have sight loss?</b><br />
Early detection and treatment will usually prevent or retard further damage by glaucoma. Much can be done to help you use your remaining vision as fully as possible.</p>
</div>
</div>
</div>
<!-- -->

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse8">Macular Degeneration</a></h2>

<div class="panel-collapse collapse" id="collapse6">
<div class="panel-body"><!-- p>Macular degeneration affects the part of the eye called the macula. The macula is part of the retina, the inner lining of the back of the eye. Light focused on the retina is transformed to an electrical signal that is sent to the brain where 'seeing' takes place.</p>

        <img src="/medium/images/Simulation_Macular_Degen.jpg" width="220" height="150" style="float:left; padding:10px;" alt="Simulation Macular degeneration" title="Simulation Macular degeneration"/>
        <p> The macula is the tiny central part of the retina that is responsible for the sharp, straight-ahead vision that we use for seeing fine details, reading, driving, recognising people at a distance, or seeing street signs. Other parts of the retina are used for side (peripheral) vision. </p>
        <p> The most common type of macular degeneration is called age related macular degeneration (AMD), because it usually occurs after age 60. AMD usually develops very slowly. </p>
        <p> There are two main types of AMD. About 85-90% of patients have the 'dry type' in which the outer layers of the retina slowly break down. This leads to a gradual blurring of vision that people may find noticeable when they try to read. There is no known treatment to slow of cure this type of AMD. Vision loss tends to be more severe from the second type of AMD, the 'wet form'. Compared with the dry form, vision may change quickly in wet AMD. Patients say that straight lines appear crooked and distorted, an affect caused by abnormal blood vessels growing under the retina. The vessels can leak fluid and bleed, lifting up the retina. In some cases, the vessels can be closed off to stop the leakage with laser treatment but vision may or may not improve afterwards, since abnormal blood vessels can grow back after laser treatment.</p>
        <p> Macular degeneration is one of the commonest causes of vision loss in older adults. It does not, by itself, result in total blindness. While AMD can take away much useful central vision, causing inability to read or to drive a car, peripheral (side) vision, is not usually, allowing the person to move about independently and to continue those activities that do not require detailed vision. Most people who have had severe vision loss from macular degeneration, can be assisted with low-vision aids for reading. </p>
        <p> With 'wet' macular degeneration patients can notice a gradual or sudden deterioration in, especially reading vision, in the affected eye. Some patients observe distortion of vision which indicates accumulation of fluid under the retina.</p>
        <p> Dr Mark Cahill, eye surgeon discusses AMD on Drivetime with Mary Wilson<br />
          <em>RTÉ Radio 1, Tuesday 20th September 2011</em></p

          --></div>
</div>
</div>

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse7">Prevention of Eye Injuries</a></h2>

<div class="panel-collapse collapse" id="collapse7">
<div class="panel-body">
<p>Prevention of eye injuries is essential. Modifying risk factors and implementigappropriate eyewear protection can reduce the rates of ocular injury while allowing patients to maintain a productive career and enjoy their leisure pursuits.</p>

<p>Violence is a significant cause of ocular trauma. Assault related injuries involve predominately young males together with alcohol or drugs unsettled social environment and unemployment. Where appropriate law enforcement and social services should be used to prevent violence.</p>

<p>Almost every type of sport has been associated with eye injury. Ideally any participant participating in an at risk support should weaar pritective devices.</p>

<p>Many injuies occur in the work placewhere safety eyewear is inadequate or not worn. Company management must be involved in preventative strategiesto improve safety in the workplace.</p>

<p>Eyewash stations should be available where there is a a risk of chemical injury.</p>
</div>
</div>
</div>

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse9">Retina Conditions Guide</a></h2>

<div class="panel-collapse collapse" id="collapse9">
<div class="panel-body">
<p>The Irish College of Ophthalmologists are pleased to introduce this Guide to Conditions of the Retina compiled by Fighting Blindness.</p>

<p>Many people in Ireland are living with severe vision loss, a significant proportion of which is due to retinal degenerative conditions. For individuals and families who have been diagnosed with a retinopathy, access to clear, relevant, detailed and easily understandable information is essential. Unfortunately, due to the rare nature of some retinal conditions, information in this format has not in the past always been readily available.</p>

<p>The value of providing information and support to people with conditions of the retina - as well as to the doctors who care for them - cannot be underestimated. Fighting Blindness has been doing this successfully for many years through their support services and events, and has been a real resource to Irish people who are dealing with this often life changing news.</p>

<p><a href="http://www.eyedoctors.ie/medium/files/A-Guide-to-Conditions-of-the-Retina-Final.pdf" title="Guide to Conditions of the Retina">Download A Guide to Conditions of the Retina</a></p>
</div>
</div>
</div>
</div>
