<h1>Emergency Eye Services</h1>

<p>In an emergency or if you experience any of the following:</p>

<ul>
	<li>Sudden or severe eye pain</li>
	<li>Loss of sight</li>
	<li>Lots of flashing lights</li>
	<li>Chemicals in your eye</li>
	<li>Severe eye trauma</li>
</ul>

<h2>Contact your GP&nbsp;<strong>or</strong>&nbsp;the A&amp;E Department of the following Hospitals offer Specialist Emergency Eye Services:</h2>

<h3>Cork</h3>

<ul>
	<li>Cork University Hospital, Wilton, Cork<br />
	Tel: 021 454 6400</li>
</ul>

<h3>Dublin</h3>

<ul>
	<li>Mater Misericordaie, Eccles Street, Dublin 7<br />
	Tel: 01 803 2000</li>
	<li>Royal Victoria Eye &amp; Ear Hospital, Adelaide Road, Dublin 2<br />
	Tel: 01 664 4600</li>
</ul>

<h3>Galway</h3>

<ul>
	<li>University College Hospital Galway, Newcastle Road, Galway<br />
	Tel: 091 544 544</li>
</ul>

<h3>Limerick</h3>

<ul>
	<li>University Hospital Limerick, Dooradoyle, Co. Limerick<br />
	Tel: 061 301 111</li>
</ul>

<h3>Sligo</h3>

<ul>
	<li>Sligo General Hospital, The Mall, Sligo<br />
	Tel: 071 917 1111</li>
</ul>

<h3>Waterford</h3>

<ul>
	<li>University Hospital Waterford, Dunmore Road, Waterford<br />
	Tel: 051 848000</li>
	<li>Whitfield Clinic, Institute of Eye surgery, Butlerstown North, Cork Road, Waterford<br />
	(<em>No appointment needed / walk-in eye casualty</em>)<br />
	Tel: 051 319 850</li>
</ul>

<p>&nbsp;</p>
