<h1>Looking After Your Eyes</h1>

<p>Our sight is so important to us and yet many people fail to look after their eye health which unfortunately can lead to sight impairment or even vision loss.</p>

<p>The Eye Doctors of Ireland encourage people to take positive steps to protect their sight, an action aimed at ultimately improving the nation&#39;s eye health and contributing towards a reduction in avoidable sight loss.</p>

<p>Regular sight tests are essential for maintaining healthy eyes. More than half of all sight loss is avoidable when detected early and a regular eye test can identify early indications of eye diseases such as cataract, glaucoma, diabetes and Age-Related Macular Degeneration (AMD).</p>

<p>The following are other steps you can take to ensure you are taking better care your eyes:</p>

<h2>Diet - Eat the right foods</h2>

<p>Studies show that what we eat can affect our vision. Certain foods are particularly high in antioxidants which can help to prevent retinal damage and certain eye conditions like cataracts and age-related Macular Degeneration (AMD). An anti-oxidant which hugely beneficial is lutein, found in many fruit and vegetables.<br />
Foods recommended for eye health include:</p>

<ul>
	<li>Broad leaf greens such as kale and spinach</li>
	<li>Brightly coloured fruit and veg such as corn, carrots, orange sweet peppers and oranges</li>
	<li>Oily fish like salmon, tuna and mackerel</li>
	<li>Broccoli</li>
	<li>Eggs</li>
</ul>

<h2>Look at your lifestyle habits:</h2>

<ul>
	<li><strong>Exercise</strong><br />
	Lack of exercise contributes significantly to several eye conditions, particularly amongst people aged 60 and over. Exercise may reduce the risk of sight loss from narrowing or hardening of the arteries, high blood pressure and diabetes. &nbsp;Healthy Ireland has teamed up with RTE&#39;s Operation Transformation to help get people fit and healthy. &nbsp;Here are five&nbsp;<a href="http://www.eyedoctors.ie/medium/files/toptips_to_get_active_in_2016_(1)-v.pdf">top tips</a> to getting active. <a href="http://www.parkrun.ie/" target="_blank">Park Run</a> organise free, weekly runs in locations across Ireland and <a href="http://www.getirelandactive.ie/" target="_blank">GetIrelandActive &nbsp;</a>has&nbsp;advice on suitable exercising&nbsp;for all ages and fitness&nbsp;levels.</li>
	<li><strong>Alcohol</strong><br />
	Excessive alcohol consumption can lead to serious health conditions which can have a detrimental effect on your eye health</li>
	<li><strong>Smoking</strong><br />
	After ageing, smoking is the biggest risk factor for developing macular degeneration. Smoking also increases your risk of developing cataract.&nbsp; <a href="/medium/images/Smoking-and-Eye-Disease_RCOphth_May2019-q.pdf" target="_blank">Smoking and Eye Disease - An Evidence Based Review&nbsp;</a></li>
</ul>

<h2>Know your family eye health history</h2>

<p>Certain eye conditions can be hereditary, such as Glaucoma. When detected early, it can be treated and controlled and therefore it would be very beneficial to know if this condition has been in your family history so you can be tested.</p>

<h2>Take care in the sun</h2>

<p>Wearing sunglasses reduces the risks of damaging your eyes as a result of the strong ultra violet light from the sun&#39;s rays. Check your glasses have a UV factor and carry the CE mark which indicates they meet the European safety standards.</p>

<h2>Diabetics</h2>

<p>People who have diabetes are at risk of developing a condition called diabetic retinopathy and should ensure they have regular eye tests to enable early detection and treatment.</p>

<h2>Computer screen breaks</h2>

<p>It is very important to take frequent breaks from your computer screen, at least once an hour to allow your eyes to rest. This will help to avoid problems such as eye strain, lack of focus, and headaches. If you have long documents to read, print them off and use to work alongside your computer.</p>

<h2>Free Eye Health Booklet &#39;Your Sight, Our Vision&#39;</h2>

<p><a href="/medium/images/ICO_Vision_book2_(3)-z.pdf" title="free eye health information booklet"><img border="0" src="/images/banner_yoursidght-ourvision.jpg" width="561" /></a><br />
You can download a copy<a href="/medium/images/ICO_Vision_book2_(3)-z.pdf" target="_blank">&nbsp;here </a>or&nbsp;contact&nbsp;the Irish College of Ophthalmologists on 01 402 2777 / info@eyedoctors.ie</p>
