<h1>ICO Patient Information Leaflets</h1>

<p>The Irish College of Ophthalmologists has developed the following Patient Information Leaflets on a range of ophthalmic procedures in order to provide patients with clear and accessible information in advance of a proposed procedure.</p>

<p>The information outlines the nature, purpose, risks and benefits of a proposed intervention for the most common eye conditions requiring treatment in the Irish health service.</p>

<p>The documents have been produced in audio and Clear Print format, in collaboration with the NCBI, Ireland&rsquo;s National Sight Loss Agency.&nbsp;&nbsp;</p>

<div class="panel-group" id="accordion">
<div class="panel panel-default">
<h2 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse1">Cataract Surgery</a></h2>

<div class="panel-collapse collapse" id="collapse1">
<div class="panel-body">
<p><a href="/medium/images/ICO_PIL_Cataract_web-w.pdf" target="_blank"><span>Patient information leaflet (pdf)</span></a></p>

<p><span><a href="/medium/files/Cataract Patient Information Leaflet Clear Print.pdf" target="doc" title="Download the Cataract Patient Information Leaflet - Clear Print.pdf">Clear Print (pdf)</a></span></p>

<span><iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/878475343&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe></span>


</div>
</div>
</div>

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2">Treatment of Diabetic Macular Oedema with Intravitreal Injection of Anti-VEGF drugs</a></h2>

<div class="panel-collapse collapse" id="collapse2">
<div class="panel-body">
<p><span><a href="/medium/files/ICO PIL_Diabetic Macular_HiRes.pdf" target="doc" title="Download ICO PIL_Diabetic Macular_HiRes.pdf">Patient information leaflet (pdf)</a></span></p>

<p><span><a href="/medium/files/Diabetic Macula Oedema Patient Information Clear Print.pdf" target="doc" title="Download the Diabetic Macula Oedema Patient Information - Clear Print.pdf">Clear Print (pdf)</a></span></p>

<span>
<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/878478343&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
</span>

</div>
</div>
</div>

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse3">Fluorescein Angiography</a></h2>

<div class="panel-collapse collapse" id="collapse3">
<div class="panel-body">
<p><span><a href="/medium/files/ICO PIL_Fluorescein Angio_HiRes.pdf" target="doc" title="Download ICO PIL_Fluorescein Angio_HiRes.pdf">Patient information leaflet (pdf)</a></span></p>

<p><span><a href="/medium/files/Fluorescian Angiography Patient Information Leaflet Clear Print.pdf" target="doc" title="Download the Fluorescian Angiography Patient Information Leaflet - Clear Print">Clear Print (pdf)</a></span></p>
<span>
<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/878476138&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

</span>

</div>
</div>
</div>

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse4">Glaucoma Filtration (Trabeculectomy) Surgery</a></h2>

<div class="panel-collapse collapse" id="collapse4">
<div class="panel-body">
<p><span><a href="/medium/files/ICO PIL_Glaucoma_HiRes.pdf" target="doc" title="Download ICO PIL_Glaucoma_HiRes.pdf">Patient information leaflet (pdf)</a></span></p>

<p><span><a href="/medium/files/Glaucoma trabeculectomy Patient Information_ClearPrint.pdf" target="doc" title="Download the Glaucoma trabeculectomy Patient Information Leaflet- Clear Print">Clear Print (pdf)</a></span></p>

<span>
<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/878476774&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

</span>

</div>
</div>
</div>

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse5">Treatment of Retinal Vein Occlusion with Intravitreal Injection of Anti-VEGF drugs</a></h2>

<div class="panel-collapse collapse" id="collapse5">
<div class="panel-body">
<p><span><a href="/medium/files/ICO PIL_Retinal Vein_HiRes.pdf" target="doc" title="Download ICO PIL_Retinal Vein_HiRes.pdf">Patient information leaflet (pdf)</a></span></p>

<p>
<span>
<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/878478997&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
</span>

</div>
</div>
</div>

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse9">Treatment of Wet Macular Degeneration by Intravitreal Injection of Anti-VEGF drugs</a></h2>

<div class="panel-collapse collapse" id="collapse9">
<div class="panel-body">
<p><span><a href="/medium/files/ICO PIL_Wet Macular_HiRes.pdf" target="doc" title="Download /medium/files/ICO PIL_Wet Macular_HiRes.pdf">Patient information leaflet (pdf)</a></span></p>
<p><span><a href="/medium/files/Wet AMD Patient Information Leaflet Clear Print.pdf" target="doc" title="Download the Wet AMD Patient Information Leaflet - Clear Print">Clear Print (pdf)</a></span></p>

<span>
	<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/878481175&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
</span>
</div>
</div>
</div>

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse7">Strabismus (squint) Surgery</a></h2>

<div class="panel-collapse collapse" id="collapse7">
<div class="panel-body">
<p><span><a href="/medium/files/ICO_Strabismus PIL_HiRes.pdf" target="doc" title="Download /medium/files/ICO_Strabismus PIL_HiRes.pdf">Patient information leaflet (pdf)</a></span></p>

<p><span><a href="/medium/files/Strabismus Patient Information Leaflet Clear Print.pdf" target="doc" title="Download the Strabismus Patient Information Leaflet - Clear Print">Clear Print (pdf)</a></span></p>
<span>
<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/878477542&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
</span></div>
</div>
</div>

<div class="panel panel-default">&nbsp;</div>
</div>
