<div class="panel-group" id="accordion">
<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse1">Childhood&nbsp;Vision Screening</a></h2>

<div class="panel-collapse collapse " id="collapse1">
<div class="panel-body" style="text-align:justify">
<p style="color: rgb(184, 9, 77);">The ICO wish to reassure parents that the community ophthalmology service which includes the school screening programme is still free for children. All referrals to community ophthalmology clinics from early childhood developmental checks, the national school screening service or GP&rsquo;s for examination by community eye doctors are free of charge.</p>

<p>Vision tests are given to children from birth to check that their sight is developing properly. As well as checking that vision is normal for the child, the tests look for any conditions that make it difficult to see, such as squint.</p>

<p>Although you will be offered routine tests for your children as part of the early childhood and school screening programme, if you have any concerns about your child&#39;s eyesight at any time,&nbsp;you can take them to you GP.&nbsp;If your GP thinks there may be a problem, your child will be referred to an ophthalmologist, a&nbsp;doctor who specialises in eye health. The National Vision Screening Programme which refers children to community ophthalmology clinics for a full assessment by an eye doctor,&nbsp;commences at birth. There are nine assessments from birth to 12 years of age.</p>

<h3>Routine Tests at Birth</h3>

<p>Babies can respond to sights and sounds from an early age. Midwives and hospital staff carry out a number of hearing and vision tests on every newborn baby. These tests help identify any problems that a child is born with. This can include:</p>

<ul>
	<li>genetic (inherited) conditions, such as being born with cataracts, or</li>
	<li>conditions that are the result of infections caught by the mother during pregnancy. For example, there is a small risk that a woman who catches rubella during pregnancy might have a child with a hearing impairment or eye problems.</li>
</ul>

<h3>Vision Tests</h3>

<p>Newborn babies are checked for eye conditions such as cataracts, corneal abnormalities and glaucoma.</p>

<p>Some babies have a higher risk of developing visual disorders. Premature babies and those with a low birth weight are more likely to have early problems. This is because the eyes finish developing late in pregnancy. All premature babies and babies with low weight are tested for a condition called retinopathy of prematurity. This occurs when the blood vessels that supply the eyes with oxygen and nutrients have not fully formed.</p>

<p>Many eye conditions detected at birth get better without treatment as the baby gets older, but it is worth monitoring them in case treatment is needed.</p>

<h3>School Screening Tests</h3>

<p>In Ireland, children are tested for vision and hearing as part of a school health check soon after school entry. &nbsp;If you child fails the school vision screening, a referral will be made for them to be seen by the community eye doctor for a full eye examination and diagnosis.&nbsp;</p>

<h3>Treatment</h3>

<p>Pre-school and school children up to the age of 16 referred to community ophthalmology clinics for full assessment by an eye doctor&nbsp;are entitled to be treated free of charge.</p>

<p>Children do not always realise they have a sight problem. It is important to look out for signs that your child may be struggling to see, such as:</p>

<ul>
	<li>regular headaches,</li>
	<li>sitting very close when watching the TV,</li>
	<li>erratic eye movements and not making eye contact,</li>
	<li>mannerisms such as eye poking and rubbing,</li>
	<li>poor attention at school, and</li>
	<li>reading difficulties.</li>
</ul>

<h3>Childhood Spectacles FAQ</h3>

<p>Dr Sean Chen, Consultant Ophthalmologist has prepared the following leaflets which are&nbsp;a helpful reference guide to parents whose children have been determined by a healthcare professional to benefit from wearing glasses and answers some of the frequently asked questions parents may have.<br />
<a href="/medium/files/Childhood Specs.pdf" target="pdf" title="Download the following PDF:">Childhood Spectacles Frequently Asked Questions (FAQ)</a></p>

<p><a href="/medium/images/Spectacles_&amp;_Strabismus_(Squint)_Surgery-t.pdf" target="_blank">Spectacles and Strabismus (squint) Surgery</a></p>
</div>
</div>
</div>

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2">Diabetic Retinopathy Screening</a></h2>

<div class="panel-collapse collapse" id="collapse2">
<div class="panel-body" style="text-align:justify">
<p>Diabetic retinopathy is a common complication of diabetes which affects the small blood vessels in the lining at the back of the eye. This lining is called the retina.</p>

<p>The retina helps to change what you see into messages that travel along the sight nerve to the brain. A healthy retina is necessary for good eyesight. Diabetic retinopathy can cause the blood vessels in the retina to leak or become blocked and damage your sight.<br />
<br />
In the early stages, diabetic retinopathy will not affect the sight, but if the changes get worse, eventually the sight will be affected. When the condition is caught early, treatment is effective at reducing or preventing damage to sight.</p>

<p>Anybody with diabetes, either Type 1 or Type 2, is at risk of developing diabetic retinopathy. The longer you have diabetes, the more likely you are to develop diabetic retinopathy.</p>

<h3>Diabetic RetinaScreen - The National Diabetic Retinal Screening Programme</h3>

<p>Diabetic RetinaScreen is the National Diabetic Retinal Screening Programme. It is a government-funded screening programme that offers free, regular diabetic retinopathy screening to people with diabetes aged 12 years and older.</p>

<p>Diabetic RetinaScreen uses specialised digital photography to look for changes that could affect sight. All people in this country who have been diagnosed with diabetes should be on the register for screening. If you have diabetes and would like to check you are on our register, please ring Freephone 1800 45 45 55 and choose option 1. If the programme has been informed you were diagnosed with diabetes you will be invited by letter to attend for screening. When you get the letter you must call the freephone number.</p>

<p>Further information on the screening programme is available at <a href="http://www.diabeticretinascreen.ie/" target="_blank">http://www.diabeticretinascreen.ie/</a></p>

<div style="font-size:85%;text-align:justify"><iframe allowfullscreen="" frameborder="0" height="360" mozallowfullscreen="" src="https://player.vimeo.com/video/176731036" webkitallowfullscreen="" width="640"></iframe>

<p><a href="https://vimeo.com/176731036">Diabetic Retinopathy</a> from <a href="https://vimeo.com/user42839480">Sean Kirwan</a>.</p>

<p><em>This <a href="https://vimeo.com/176731036" target="_blank">3D animated video</a> was created by Sean Kirwan, Medical Scientist, during a Knowledge Exchange Dissemination Scheme (KEDS) with University College Dublin and ICON Firecrest, funded by the Health Research Board. Lead Pharmacologist was Sean Kirwan and 3D Graphic Designers included Carlos Tena and Tom&amp;aacute;s O&amp;#39;Sullivan of ICON Firecrest. Support Pharmacologist was Dr Paul Halley of ICON Firecrest. Dr Breand&amp;aacute;n Kennedy (UCD) and Dr Rosemarie Carew (ICON Firecrest) were project supervisors.</em></p>
</div>
</div>
</div>
</div>
</div>
