<h1>Patient Support Groups</h1>

<p>The following&nbsp;links are to organisations outside of the Irish College of Ophthalmologists&nbsp;which provide services to people with vision loss&nbsp;and&nbsp;may&nbsp;be helpful to you.<br />
<br />
Remember that if you have an issue or a worry with your eye condition, the best person to talk to is your <a href="/visitors/eye-doctors-database.asp">eye doctor</a>.</p>

<h2>NCBI</h2>

<p>NCBI, the national sight loss organisation, is a not for profit charity which offers support and services nationwide to people of all ages experiencing difficulties with their eyesight. If you or someone you know is experiencing problems with their sight, NCBI can help.</p>

<p>Visit <a href="http://www.ncbi.ie/">www.ncbi.ie</a> or call 01 8307033</p>

<p>Download the latest edition of the NCBI Newsletter here - <a href="/medium/images/NCBI_inSight_Magazine_Winter_Final_2021.TaggedFin_FRI-w.pdf" target="_blank">NCBI Insight Winter&nbsp;2021</a></p>

<p><a href="https://www.youtube.com/watch?v=_i2J_97ymgw&amp;list=PL3vW7th1Ge53OyVvsa3ZQmCXZKdB-vJdV" target="_blank">NCBI Vision Series ehealth videos</a> -&nbsp;an informational video series developed by NCBI to inform and promote the services that NCBI provide to those living with sight loss in Ireland.</p>

<h2>Irish Guide Dogs for the Blind</h2>

<p>Irish Guide Dogs for the Blind is Ireland&#39;s national charity dedicated to helping persons who are blind or vision impaired and families of children with autism to achieve improved mobility and independence.</p>

<p><a href="http://www.guidedogs.ie/">www.guidedogs.ie</a></p>

<h2>Fighting Blindness</h2>

<p>Fighting Blindness is an Irish, patient-led organisation funding research into treatments and cures for blindness and degenerative forms of vision loss. It provides a professional counselling service for people and families affected by sight loss and works at national and European level to advocate on behalf of people affected by sight loss. The Insight Counselling Service offers individual, couple and family counselling as well as peer support and information. Fighting Blindness aims to cure blindness, support people experiencing sight loss and empower patients.</p>

<p><a href="http://www.fightingblindness.ie/">www.fightingblindness.ie</a></p>

<h2>ChildVision &ndash; National Education Centre for Blind Children</h2>

<p>Pre-school and Early Intervention Service; Primary School; Secondary School; Vocational Training Programme; Residential facilities; Eye Clinic; Family Resource Centre; National Braille Production Centre; Occupational Therapy and Speech and Language Therapy service.</p>

<p><a href="/medium/images/7304-Childvision-Services-brochure-A4-screen-u.pdf" target="_blank">ChildVision Services Brochure&nbsp;</a></p>

<p><a href="http://www.childvision.ie/">www.childvision.ie</a></p>

<h2>HSE Living Well Programme</h2>

<p>HSE Living Well Programme for patients&nbsp;with specific eye conditions, in partnership with the Irish College of Ophthalmologists.</p>

<p>Living Well is a free online&nbsp;group programme, delivered over seven workshops (2.5hrs x 7). This is a self-management programme for people living with a degenerative eye condition(s) with the aim of improving your quality of life to better manage your daily health. Living Well can help you develop the skills and confidence to manage your health condition(s).&nbsp;</p>

<p>For more information or to register, contact the Living Well Coordinator Leah Harrington: 0873654392 Email:&nbsp;<a href="mailto:leah.harrington@hse.ie">leah.harrington@hse.ie</a></p>

<p>Visit <a href="https://www.hse.ie/eng/health/hl/selfmanagement/living-well-programme/living-well-programme.html">https://www.hse.ie/eng/health/hl/selfmanagement/living-well-programme/living-well-programme.html</a> or Download&nbsp;<a href="https://www.eyedoctors.ie/medium/images/living_well_brochure_22-07_PRINT_FINAL_Leah_(2)-x.pdf" target="_blank">Living Well Programme Brochure</a></p>

<h2>Anne Sullivan Foundation for Deafblind</h2>

<p>The Anne Sullivan Foundation for Deafblind is the Irish national agency for assisting people who are both deaf and blind. The Foundation has a residential centre in Brewery Road, Stillorgan, Co. Dublin.</p>

<p><a href="http://www.annesullivan.ie/">www.annesullivan.ie</a></p>

<h2>Irish Blind Sports</h2>

<p>Irish Blind Sports (IBS) is the National Governing Body (NGB) for sport and leisure activities for blind and visually impaired in Ireland.&nbsp; The organisations facilitate people who are blind or vision impaired to participate in sports and recreational activities.</p>

<p><a data-saferedirecturl="https://www.google.com/url?q=http://www.visionsports.ie&amp;source=gmail&amp;ust=1628065300933000&amp;usg=AFQjCNFw0QYUrMqysKvmnOPr8TmMr1OSiQ" href="http://www.visionsports.ie/" style="color: rgb(17, 85, 204); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);" target="_blank">www.visionsports.ie</a></p>

<h2>F&eacute;ach</h2>

<p>F&eacute;ach is a parent support group for the parents of children who are blind or vision impaired. The aim of the group is to support the education, training, communication and social needs of children who are blind or vision impaired</p>

<p><a href="http://www.feach.ie/">www.feach.ie</a></p>

<h2>Age Action Ireland</h2>

<p>Age Action is a charity which promotes positive ageing and better policies and services for older people.&nbsp;&nbsp;</p>

<p><a href="http://www.ageaction.ie/">www.ageaction.ie</a></p>
