<h1>Tips To Reduce Screen Fatigue</h1>

<p>Many of us are spending more time than ever on screens, whether it is working or studying at home during COVID times or just our general increase in smartphone and screen use in our everyday lives.&nbsp; It is important to take adequate breaks from our screens to avoid eye strain and here&nbsp;are some&nbsp;tips that can help;&nbsp;&nbsp;</p>

<ul>
	<li>Wear your glasses (if you have been prescribed spectacles)</li>
	<li>Sit in good lighting when using your screen</li>
	<li>Don&rsquo;t forget to blink! Tip: every time you press your enter key on keyboard, make sure you do a complete blink. This will stop your eyes from getting dry.</li>
	<li>Use lubrication drops if you are experiencing dry eye (preservative free drops are available over the counter in your pharmacy)</li>
	<li>Remember the 20/20/20 rule - every 20 minutes, take 20 seconds to look at something 20 feet away instead of your PC to allow your eyes a break</li>
	<li>Try and avoid a window behind you if possible when on a laptop/screen - this can increase glare/ghost images and increase eye strain</li>
</ul>

<p><img src="/banners2018/20-20-20.JPG" /></p>
