<h1>Your Sight Our Vision</h1>

<p><a href="/medium/images/ICO_Vision_book2_(3)-z.pdf" target="doc" title="Download a copy"><img src="/images/your-sight-our-vision-cover.jpg" style="border:solid 5px #fff; height:300px; width:315px" title="New Campaign to Highlight Impact of Lifestyle Choices on Eye Health" /></a></p>

<h1>Highlighting the Impact of Lifestyle Choices on Eye Health</h1>

<h2>Over 75% of Sight Loss is Preventable with Early Diagnosis and Treatment</h2>

<p><a href="/documents/ICO_Vision book_LO-version3.pdf" target="doc" title="Kerry captain, Eoin Brosnan at the Annual Conference of the ICO, supporting the launch of a new awareness campaign to highlight the impact of lifestyle on our eye health. "><img alt="Kerry captain, Eoin Brosnan at the Annual Conference of the ICO, supporting the launch of a new awareness campaign to highlight the impact of lifestyle on our eye health. " src="/images/ICO_book_launch.jpg" style="float:right; height:200px; padding:0 10px 5px 10px; width:300px" title="Kerry captain, Eoin Brosnan at the Annual Conference of the ICO, supporting the launch of a new awareness campaign to highlight the impact of lifestyle on our eye health." /></a></p>

<p style="text-align:justify">&#39;Your Sight, Our Vision&#39; is a campaign which includes an an eye health information booklet to educate the public about the importance of early diagnosis and treatment of eye conditions in order to prevent avoidable sight loss.</p>

<p style="text-align:justify">There are an estimated 270,000 Irish people living with vision loss or blindness. It is estimated that 50,000 more people will have impaired vision and five thousand more people will lose their sight within the next five years. Blindness and vision loss has a major health, social and economic impact. The risk of vision loss increases with age and in 10 years, one million Irish citizens will be aged 65 or older.</p>

<p style="text-align:justify">Age-related macular degeneration (AMD), diabetic retinopathy, cataract, and glaucoma are the main causes of sight loss in Ireland. Over 75% of sight loss is preventable with early diagnosis and treatment.</p>

<p style="text-align:justify">Kerry Football Captain Eoin Brosnan has lent his support to the campaign, saying, &quot;People don&#39;t necessarily think about their eye health until they notice something is wrong. The message from the eye doctors is to have our eyes checked regularly, particularly if you are in a higher risk category or if you notice any change in your vision.&quot;</p>

<p style="text-align:justify">Eye doctor, Patricia Quinlan from the ICO, says, &quot;We want people to be aware of how important lifestyle is for good eye health and the importance of reacting to any change people notice to their sight. After ageing, smoking is the biggest risk factor for developing AMD and also increases your risk of developing cataracts. Simple lifestyle changes can have a big impact, like giving up smoking, eating a healthy diet, exercise and having regular eye exams. People in the higher risk categories, such as diabetics, those with a family history of eye conditions and the over 50&#39;s, need to have regular eye examinations in order to catch early symptoms.&quot;</p>

<h2>How do I get free eye health booklet &#39;Your Sight, Our Vision&#39;?</h2>

<p style="text-align:justify">You can download a copy <a href="/medium/images/ICO_Vision_book2_(3)-z.pdf" target="_blank">here</a> or contact the Irish College of Ophthalmologists on 01 402 2777 / info@eyedoctors.ie</p>

