<!-- arvind chandra -->
<div><img alt="Arvind Chandra" class="img-fluid" src="/westport2024/photos/arvind_chandra.jpg" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Senior Clinician Scientist, Smith Kettlewell Eye Research Institute<br />
Consultant Paediatric Ophthalmologist, Alder Hey Children&#39;s Hospital, Liverpool</h5>

<p>Dr Arvind Chandna is a Senior Clinician Scientist at Smith Kettlewell Eye Research Institute (SKERI) conducting research programmes dealing with significant gaps in clinical and scientific knowledge of common childhood eye conditions with poor management outcomes, and investigating them in collaboration with SKERI&#39;s vision scientists.</p>

<p>Dr Chandna&#39;s main interests are to determine the relationship of accommodation and vergence in strabismus; assessment of patterns of visual function loss in amblyopia and cerebral visual impairment. His research programmes investigate visual brain neuroscience and oculomotor behavior using eye tracking, photorefraction, psychophysics and visually evoked brain potentials in childhood eye disease. He works with a team of young scientists and collaborates nationally and internationally with senior scientists both at Smith Kettlewell and other institutions laboratories; children and parents of affected children; and, teachers of the visually impaired children with specific expertise in the areas of investigation. such as cerebral/cortical visual impairment; amblyopia and strabismus, childhood cataract and visual function in children who are monocular.</p>

<p>Dr Chandna is a Consultant Pediatric Ophthalmologist and Strabismus Surgeon at Alder Hey Children&#39;s Hospital, Liverpool, UK. His clinical training was at university teaching hospitals in Delhi, London, Manchester, Bristol, Miami and San Francisco. His research training at Bristol University was in application of preferential looking techniques in normal and abnormal visual development. He completed pediatric ophthalmology and strabismus clinical fellowship with Professor John Flynn at Bascom Palmer Eye Institute in Miami and Dr Arthur Jampolsky and Dr Alan Scott at Smith Kettlewell Eye Research Institute in San Francisco. &emsp;</p>
</div>
