<!-- Mr Barry Quill -->
<div>
	<img src="/westport2024/photos/Barry_Quill.jpg" alt="Mr Barry Quill" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital</h5>
	<p>
Mr. Barry Quill is a Consultant Ophthalmic Surgeon at the Surgeon Royal Victoria Eye and Ear Hospital whose clinical areas of expertise include Cataract, Refractive, Glaucoma and Corneal Surgery.  He completed his residency and specialist registrar training in 2015 through the Royal College of Surgeons, Ireland. He was awarded a fellowship in Refractive Laser and Cataract Surgery from the Mater Private Hospital, Dublin and awarded two subsequent fellowships from The Royal Perth Hospital, Australia gaining valuable experience in Cornea and Anterior segment surgery as well as Glaucoma.
</p>
<p>
He currently works as a consultant ophthalmic surgeon in the Royal Victoria eye and ear hospital and Blackrock clinic. He also holds the position of Ophthalmic Director of the Eyebank at the Irish Blood Transfusion Services. 
</p>
<p>
His main research interests are glaucoma, corneal transplantation and eye banking.  He received his academic Doctorate from University College, Dublin (2010) for his full-time research in glaucoma eye disease. This body of work has resulted in international and national prizes, awards and publications, and he has lectured worldwide on his findings. He has authored multiple international peer reviewed publications and book chapters.

	</p>

</div>