<!-- Professor Brendan Kelly  -->
<div>
	<img src="/westport2024/photos/brendan_kelly.jpg" alt="Professor Brendan Kelly" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Professor of Psychiatry at Trinity College Dublin; Consultant Psychiatrist, Tallaght University Hospital</h5>
	
	<p>Brendan Kelly is Professor of Psychiatry at Trinity College Dublin, Consultant Psychiatrist at Tallaght University Hospital, Dublin, and Visiting Full Professor at the School of Medicine at University College Dublin.
</p><p>
In addition to his medical degree (MB BCh BAO), he holds masters degrees in epidemiology (MSc), healthcare management (MA), Buddhist studies (MA), and mindfulness-based interventions (MSc); doctorates in medicine (MD), history (PhD), governance (DGov), and law (PhD); and a higher doctorate in history (DLitt).
</p><p>
Professor Kelly has authored and co-authored over 300 publications in peer-reviewed journals, over 700 non-peer-reviewed publications, and 20 books. His recent books include &quot;<em>Asylum: Inside Grangegorman</em>&quot; (2023) and &quot;<em>Resilience: Lessons from Sir William Wilde on Life After Covid</em>&quot; (2023).
</p>
</div>