<!-- Deirdre Townley-->
<div>
	<img 
	src="/westport2024/photos/deirdre_townley.jpg" 
	alt="Ms Deirdre Townley"
	class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Consultant Ophthalmologist, University Hospital Galway</h5>
	<p>
		Dr Deirdre Townley is the clinical lead for the ophthalmology department at Galway University Hospital.
 	</p>
	<p>
	Dr Townley is also the Irish delegate board member of the European Board of Ophthalmology and a member of the Ireland Uveitis forum.
	</p>
	<p>
	She is involved in the NCHD Training Committee at the Irish College of Ophthalmology and has a role with BioInnovate based in Galway.
	 </p>

</div>