<!-- Dr Emilie Mahon -->
<div>
	<img src="/westport2024/photos/emilie_mahon.jpg" alt="Dr Emilie Mahon " class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Ophthalmology Clinical Tutor, Royal College of Surgeons in Ireland, Dublin</h5>
	<p>
Dr Emilie Mahon is currently an ophthalmology tutor with the Royal College of Surgeons in Ireland in the Royal Victoria Eye and Ear Hospital, Dublin and has embarked upon an MD on the topic of surgical sustainability under the supervision of Professor Conor Murphy and Professor Deborah Stanistreet from the departments of ophthalmology and population health respectively, addressing this topic both from a clinical and public health perspective.
</p>
<p>
She graduated from Trinity College Dublin in 2017, and has since cultivated her interest in environmental sustainability for healthcare by joining green healthcare communities, receiving postgraduate sustainability education, and delivering lectures in this area.
</p>


</div>