<!-- ian marsh -->
<div>
	<img src="/westport2024/photos/ian_marsh.jpg" alt="Ian Marsh" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Consultant Ophthalmic Surgeon , Liverpool University Hospital NHS Trust, Liverpool</h5>
	<p>Mr Ian Marsh graduated from Manchester University in 1978. He entered the training programme in Manchester Royal Eye Hospital and it was during his time as a Senior Registrar that he undertook a short observership in Indianapolis with Gene Helveston and San Francisco with Alan Scott and Art Jampolsky.</p>

<p>In 1990, he was appointed as a Consultant in Liverpool, initially at Walton Hospital, which then became University Hospital Aintree and now merged to become Liverpool University Hospital NHS Trust. He set up and ran a Botulinum Toxin (BT) service from 1990 and in collaboration with the University produced a portable BT ‘box’ for giving injections.</p>

<p>Mr Marsh currently runs a comprehensive strabismus service mainly for adults but also including more complex children squint.</p>
</div>