<!-- Mr Manoj Parulekar  -->
<div>
	<img src="/westport2024/photos/manoj_parulekar.jpg" 
	alt="Mr Manoj Parulekar "
 class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Mr Manoj Parulekar, Consultant Ophthalmologist,<br/>Birmingham Women's and Children's NHS Foundation Trust;<br/>Oxford University Hospitals NHS Trust 
</h5>
	
	<p>Manoj Parulekar is a Consultant Ophthalmic Surgeon at the Birmingham Women’s & Children’s Hospital and the Oxford University Hospitals NHS Trust. He specialises in paediatric ophthalmology and childhood and adult squints.
	</p><p>
Mr Parulekar trained in Mumbai, Oxford and Toronto and was appointed to his consultant position in 2007.
	</p><p>
Mr Parulekar contributes to paediatric ophthalmology service at the Birmingham Women’s and Children’s Hospital, the largest women’s and children’s hospitals in Europe, where he treats a wide range of childhood eye conditions including strabismus, paediatric cataracts and glaucoma, oculoplastics and neuro-ophthalmology, ocular oncology, and external eye diseases. He has special expertise in the treatment of eye cancers in children and is consultant ophthalmologist to the Birmingham National Retinoblastoma Unit, the largest nationally designated retinoblastoma center in the UK.
</p><p>
Mr Parulekar contributes to the ocular motility service (squints and complex eye movement disorders), and the neuro-ophthalmology service at the Oxford University Hospital where he provides a supra-regional service to Oxfordshire, Buckinghamshire, Berkshire and Wiltshire.
</p><p>
He has authored several books and book chapters in ophthalmology, and is active in clinical and basic science research. He has published over 50 publications in peer reviewed scientific journals, and won several prestigious grants from the Wellcome Trust, Fight for Sight and the Medical Research Council.
</p><p>
Mr Parulekar is active in training, and has conducted over 15 workshops at the American and World Congresses, and delivered over 150 invited lectures. He is section editor for EYE, journal of the Royal College of Ophthalmologists, advisor to the Indian Journal of Ophthalmology, and reviewer for over 20 scientific journals.
</p><p>
Mr Parulekar has a major interest in international ophthalmology, serving as a trustee of SightSavers International since 2013, and contributing to the Vision 2020 links programme in Africa (Tanzania). He is a member of the paediatric, academic and international medical graduates subcommittee of the Royal College of Ophthalmologists and is treasurer of the Oxford Ophthalmological Congress.
</p><p>
Mr Parulekar has received a national clinical excellence award in recognition of his contribution to the NHS, and prizes from the Royal College of Ophthalmologists for his research.
</p>
</div>