<!-- michael_stewart.html -->
<div>
	<img src="/westport2024/photos/michael_stewart.jpg"
	alt ="Michael W. Stewart, MD" 
	class="img-fluid" 
	style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5> Professor and Chairman of Ophthalmology, Mayo Clinic, Florida </h5> 

	<p>
	Michael W. Stewart, MD, is Chairman Emeritus of the Department of Ophthalmology at the Mayo Clinic in Jacksonville, Florida. Dr. Stewart graduated with honours in chemistry from Harvard College in Cambridge, Massachusetts and from the McGill University Faculty of Medicine in Montreal, Quebec. He completed an internship in internal medicine at Jackson Memorial Hospital in Miami, Florida, and an ophthalmology residency at Emory University in Atlanta, Georgia. Dr. Stewart completed vitreoretinal fellowships at Touro Infirmary in New Orleans, Louisiana and at the University of California, Davis.
</p>
<p>
	 Dr. Stewart joined the Mayo Clinic in 1999 and was named Chairman of Ophthalmology in 2007 and Professor of Ophthalmology in 2014. He is currently the Knights Templar Eye Foundation, Inc. Professor of Ophthalmology Research. His research interests include diabetic retinopathy, macular degeneration, retinal vein occlusions, and infectious retinitis. He has a particular interest in retinal pharmacology, pharmacokinetics, and the mathematical modeling of ocular diseases and treatments. 
 
</p>

</div>