<!-- Mr Noel Horgan-->
<div>
	<img src="/westport2024/photos/silhouette.png" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Consultant Ophthalmologist</h5>
</div>