<!-- Dr Philip Crowley  -->
<div>
	<img src="/westport2024/photos/philip_crowley.jpg" alt="Dr Philip Crowley" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>National Director of Strategy and Research<br/>HSE Lead for Climate Strategy</h5>
	<p>Dr Philip Crowley is the National Director for Strategy and Research in the Health Services Executive. In his previous national health service roles over the last 10 years he was national lead for quality and patient safety and national lead for quality improvement.
	</p>
	<p>
He leads on strategic planning, research, population health and wellbeing, global health, human rights, climate strategy and performance reporting to the HSE Board.
	</p>
	<p>

He is a doctor who works part-time as a General Practitioner.  He worked for five years in Nicaragua, trained in public health in Newcastle Upon Tyne and worked for 6 years as Deputy Chief Medical Officer in the Department of Health.
</p>

</div>