<!-- richard_gale.html -->
<div>
	<img src="/westport2024/photos/richard_gale.jpg"
	alt ="Professor Richard Gale" 
	class="img-fluid" 
	style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>  Professor Richard P Gale BSc MBChB FRCP FRCOphth MEd PhD.
	<br/>Professor of Ophthalmology, HYMS, University of York, UK.
<br/>Honorary Consultant Medical Ophthalmologist, York Teaching Hospital NHS Foundation Trust

	  </h5>
<p> Professor Richard Gale Graduated in 1997 and pursued training in Yorkshire, Cambridge, Moorfields Eye Hospital, and for a short period in Boston, USA. He took up post in 2008 with leadership in inflammatory eye disease and development of Medical Retina Services. He has been awarded ‘Best Clinical Service’ by the Macular Society.
</p>
<p>
Professor Gale’s research interests are in the fields of medical disorders of the retina and inflammatory eye disease, He developed and has led the Ophthalmology Research Unit. In 2017, Professor Gale was awarded ‘Researcher of the Year’ by the National Institute for Health Research/RCOphth He has been the Chief or Principal Investigator of approximately 30 research studies, recruiting hundreds of participants to date. He has been awarded substantial research grant funding. He has published many scientific papers and book chapters. He is aJoint Ophthalmology Specialty Lead for Yorkshire and Humberside Local Research Network and holds the Deputy Chair for both the National Ophthalmology Specialty Group (Northern).
</p>
<p>
Professor Gale is a former President of the Medical Ophthalmology Society UK. He has had numerous senior educational roles. He previously chaired the Specialist Advisory Committee for Medical Ophthalmology at theJoint Royal Colleges of Physicians Training Board and the National Annual Review of Competence Progression panel, positions for which he now deputises.
</p>

</div>