<!-- tim Fulcher  -->
<div>
	<img src="/westport2024/photos/tim_fulcher.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Consultant Ophthalmic Surgeon, Mater Misericordiae University Hospital, Dublin</h5>

<p>Mr Tim Fulcher is a Consultant Ophthalmic Surgeon at the Mater Misericordiae Univeristy Hospital, Mater Private and Beaumont Hospital.
</p>
<p>
He graduated from UCD in 1989. Following his intern year, he undertook a Master's in Medical Science in Anatomy in 1990 before commencing training in ophthalmology in 1991. 
</p>
<p>
Mr Fulcher completed subspecialty fellowship training in cornea and external eye disease at Moorfields Eye Hospital, London and in eyelid, lacrimal and orbital disease in Brisbane under Prof Timothy Sullivan.
</p>
<p>
He is also an honorary consultant ophthalmic surgeon at Temple Street Children's Hospital in Dublin.  He served as President of the Irish College of Ophthalmologists (2021-2023).
</p>


</div>