<!-- Deirdre Townley-->
<div><img alt="Mr Tomás Burke" class="img-fluid" src="/westport2024/photos/tomas_burke.jpg" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Ophthalmic Surgeon, Mater Misericordiae University&nbsp;Hospital Dublin</h5>

<p>Mr Tom&aacute;s Burke graduated with honours from National University of Ireland, Galway in 2004. Following post-graduate training in general internal medicine at Beaumont Hospital, Dublin, he was awarded Membership of the Royal College of Physicians of Ireland in 2006. He subsequently entered ophthalmology training at the Mater Misericordiae University Hospital and Galway University Hospitals. After being awarded Membership of the Royal College of Ophthalmologists in 2009, he spent two years at Harkness Eye Institute of Columbia University, New York until 2011. During this period, he developed research interest in retinal imaging, and was subsequently awarded a Doctor of Medicine research degree in 2013 by University College Dublin for his work on &quot;Genotype-Phenotype correlations in Stargardt Disease&quot;.</p>

<p>He then completed his ophthalmology training in the UK in the Bristol region. He was appointed a consultant ophthalmologist at the Bristol Eye Hospital in 2017, but deferred taking up his post for one year to allow him to undertake a sub-specialty fellowship in medical retina, inherited retinal disease, and inflammatory eye disease (uveitis) at Moorfields Eye Hospital, London. He spent almost three years as a consultant ophthalmologist in the NHS in Bristol, and he was then appointed a consultant at the Mater Misericordiae University Hospital in 2021 with sub-specialist interests in medical retina (including&nbsp;inherited retinal disease), uveitis, and cataract.</p>

<p>&nbsp;</p>
</div>
