<h3><strong>March 12th to 18th is Glaucoma Awareness Week 2017</strong></h3>

<p><b>Know the Facts and Beat Invisible Glaucoma</b></p>

<p>To mark <b>World Glaucoma Week </b>the Eye Doctors of Ireland are highlighting that early detection is key to slowing progression of glaucoma and that regular eye tests are the only way to detect &lsquo;symptomless&rsquo; glaucoma early. At a late stage Glaucoma is irreversible and results in sight loss and blindness.</p>

<p><img align="right" alt="Glaucoma know the fact" src="/images/Glaucoma-know-the-fact.jpg" style="padding:10px;" title="Glaucoma know the fact" /></p>

<p>The ICO, alongside the Irish Pharmacy Union, is supporting the launch of a new glaucoma awareness campaign by Pfizer Healthcare Ireland as part of World Glaucoma Week March 12-18<sup>th</sup> 2017 activities. &nbsp;The campaign urges the public to &ldquo;Know the Facts&rdquo; about glaucoma which is a leading cause of sight loss in Ireland&nbsp;and is the second most common cause of blindness worldwide.</p>

<p>Download the&nbsp;<a href="/medium/files/glaucoma_poster_FINAL-u.pdf" target="_blank">Know The Facts</a>&nbsp;Glaucoma Awareness Poster</p>

<p>Based on our growing and ageing population, the level of the eye disease is expected to rise by 33% in Ireland over the coming decade, but treatment for glaucoma works very well if detected early and usually involves eye drops alone.</p>

<p><strong>Ms. Aoife Doyle, eye surgeon and glaucoma specialist at the Royal Victoria Eye and Ear Hospital and St Jame&#39;s Hospital in Dublin,</strong> said, &nbsp;</p>

<p>&quot;Glaucoma is essentially symptomless in the early stages and vision loss progresses at such a gradual rate that people affected by the condition are often unaware of it until their sight has already been compromised.&nbsp; This is why regular routine eye exams, and particularly for those in the higher risk categories is so important.&nbsp; Early diagnosis followed by careful regular observation and treatment means that damage can usually be kept to a minimum in glaucoma patients, and vision stabilised. &nbsp;The test to detect the condition is non-invasive and gives an immediate result.&quot;</p>

<p>Those most at risk of developing glaucoma are people over 60, people with a family history of the disease and individuals of African and Hispanic ethnicity.&nbsp;</p>

<p><strong>Overview</strong></p>

<p>Glaucoma is the name for a group of eye conditions in which the optic nerve is damaged at the point where it leaves the eye. This nerve carries information from the light sensitive layer in your eye, the retina, to the brain where it is perceived as a picture.</p>

<p>Your eye needs a certain amount of pressure to keep the eyeball in shape so that it can work properly. In some people, the damage is caused by raised eye pressure. Others may have an eye pressure within normal limits but damage occurs because there is a weakness in the optic nerve. In most cases both factors are involved but to a varying extent.</p>

<p>Eye pressure is largely independent of blood pressure.</p>

<p>Glaucoma is a disease that damages the optic nerve, the part of our eye that carries the images we see to our brain. In the healthy eye, a clear liquid circulates in the front portion of the eye. To maintain a constant healthy eye pressure, the eye continually produces a small amount of this fluid and an equal amount which flows out of the eye. If you have glaucoma, the fluid does not flow properly through the drainage system. Fluid pressure in the eye increases and this extra force presses on the optic nerve in the back of the eye, causing damage to the nerve fibres. Glaucoma is an extremely serious eye disorder which can cause blindness if not treated early.</p>

<h3>Causes</h3>

<p><strong>What controls pressure in the eye?</strong></p>

<p>A layer of cells behind the iris (the coloured part of the eye) produces a watery fluid, called aqueous. The fluid passes through a hole in the centre of the iris (called the pupil) to leave the eye through tiny drainage channels. These are in the angle between the front of the eye (the cornea) and the iris and return the fluid to the blood stream. Normally the fluid produced is balanced by the fluid draining out, but if it cannot escape, or too much is produced, then your eye pressure will rise. (The aqueous fluid has nothing to do with tears).</p>

<p><strong>Why is increased eye pressure serious?</strong></p>

<p>If the optic nerve comes under too much pressure then it can be injured. How much damage there is will depend on how much pressure there is and how long it has lasted, and whether there is a poor blood supply or other weakness of the optic nerve. A really high pressure will damage the optic nerve immediately. A lower level of pressure can cause damage more slowly, and then you would gradually lose your sight if it is not treated.</p>

<p><strong>Symptoms</strong></p>

<p>In the early stages of chronic glaucoma, there are frequently no obvious symptoms and whilst increased pressure in the eye may be an indicator, this will not necessarily mean you have the disease. With fewer early warning signs than other major eye diseases, the most efficient detection method for glaucoma is by regular eye examination. Those most prone to developing glaucoma are people over 60 and people with a family history of the disease.</p>

<h3>Types of Glaucoma</h3>

<p>There are four main types.</p>

<p><strong><a href="#ChronicGlau">Chronic glaucoma</a></strong>: The most common is chronic glaucoma in which the aqueous fluid can get to the drainage channels (open angle) but they slowly become blocked over many years. The eye pressure rises very slowly and there is no pain to show there is a problem, but the field of vision gradually becomes impaired.</p>

<p><strong><a href="#AcuteGlau">Acute glaucoma</a></strong>: Acute glaucoma is much less common in western countries. This happens when there is a sudden and more complete blockage to the flow of aqueous fluid to the eye. This is because a narrow &amp;ldquo;angle&amp;rdquo; closes to prevent fluid ever getting to the drainage channels. This can be quite painful and will cause permanent damage to your sight if not treated promptly.</p>

<p><strong>Secondary and developmental glaucoma</strong>: There are two other main types of glaucoma. When a rise in eye pressure is caused by another eye condition this is called secondary glaucoma. There is also a rare but potentially serious condition in babies called developmental or congenital glaucoma which is caused by malformation in the eye.</p>

<p><strong>Is glaucoma common</strong>?</p>

<p>Figures for the UK and Ireland suggest some form of glaucoma affects about two in 100 people over the age of 40.</p>

<h3><a name="ChronicGlau">CHRONIC GLAUCOMA</a></h3>

<p><strong>Are some people more at risk of chronic glaucoma?</strong></p>

<p>Yes. There are several factors which increase the risk.</p>

<ul>
	<li><b>Age</b>: Chronic glaucoma becomes much more common with increasing age. It is uncommon below the age of 40 but affects one per cent of people over this age and five per cent over 65.</li>
	<li><b>Race</b>: If you are of African origin you are more at risk of chronic glaucoma and it may come on somewhat earlier and be more severe. So make sure that you have regular tests.</li>
	<li><b>Family</b>: f you have a close relative who has chronic glaucoma then you should have an eye test at regular intervals. You should advise other members of your family to do the same. This is especially important if you are aged over 40 when tests should be done every year.</li>
	<li><b>Short sight</b>: People with a high degree of short sight are more prone to chronic glaucoma.<br />
	Diabetes is believed to increase the risk of developing this condition.</li>
</ul>

<p><strong>Is there a risk of sight loss?</strong></p>

<p>The danger with chronic glaucoma is that your eye may seem perfectly normal. There is no pain and your eyesight will seem to be unchanged, but your vision is being damaged. Some people do seek advice because they notice that their sight is less good in one eye than the other.</p>

<p>The early loss in the field of vision is usually in the shape of an arc a little above and / or below the centre when looking &#39;straight ahead&#39;. This blank area, if the glaucoma is untreated, spreads both outwards and inwards. The centre of the field is last affected so that eventually it becomes like looking through a long tube, so-called &#39;tunnel vision&#39;. In time even this sight would be lost.</p>

<p><strong>Detection</strong></p>

<p>As glaucoma becomes much more common over the age of 40 you should have eye tests at least every two years.</p>

<p><strong>Treatment</strong></p>

<p>While there is no cure for glaucoma and optic nerve damage cannot be reversed, the disease can be treated successfully and vision loss prevented by early detection. Treatment involves controlling the pressure in the eye as it is pressure which damages the optic nerve causing loss of sight. Acute glaucoma is treated by drugs to relieve pressure and may be followed by laser treatment or surgery to allow the fluid to drain. Occasionally, the blockage in the eye becomes permanent and needs the same treatment as chronic glaucoma. Chronic glaucoma is controlled by eye drops, or occasionally by tablets. Where vision continues to deteriorate, laser treatment or surgery to provide a drainage valve will be required. These procedures have a high success rate. They can control the pressure and stop the progession of the disease, although it is important to remember it cannot be cured and lifelong monitoring is essential.</p>

<p>Treatment to lower the pressure is usually started with eye drops. These act by reducing the amount of fluid produced in the eye or by opening up the drainage channels so that excess liquid can drain away. If this does not help, your eye doctor may suggest either laser treatment or an operation called a trabeculectomy to improve the outflow of fluids within the drainage system of your eye.</p>

<p><strong>Is there a cure?</strong></p>

<p>Although damage already done cannot be repaired, with early diagnosis and careful regular observation and treatment, damage can usually be kept to a minimum, and good vision can be enjoyed indefinitely.</p>

<p>&nbsp;</p>

<h3><a name="AcuteGlau">ACUTE GLAUCOMA</a></h3>

<p>In acute glaucoma the pressure in the eye rises rapidly. This is because the periphery of the iris and the front of the eye (cornea) come into contact so that aqueous fluid is not able to reach the tiny drainage channels in the angle between them. This is sometimes called closed angle glaucoma.</p>

<p><strong>Symptoms</strong></p>

<p>The sudden increase in eye pressure can be very painful. The affected eye becomes red, the sight deteriorates and may even black out. There may also be nausea and vomiting. In the early stages you may see misty rainbow coloured rings around white lights.</p>

<p>Sometimes people have a series of mild attacks, often in the evening. Vision may seem &lsquo;misty&rsquo; with coloured rings seen around white lights and there may be some discomfort in the eye. If you think that you are having mild attacks you should contact your doctor without delay. In routine examinations the structure of the eye may make the examiner suspect a risk of acute glaucoma and advise further tests.</p>

<p><strong>Treatment</strong></p>

<p>If you have an acute attack you will need to go into hospital immediately so that the pain and the pressure in the eye can be relieved. Drugs will be given which both reduce the production of aqueous liquid in the eye and improve its drainage. An acute attack, if treated early, can usually be brought under control in a few hours. Your eye will become more comfortable and sight starts to return.</p>

<p>When the pain and inflammation have gone down, your surgeon will advise making a small hole in the outer border of the iris to relieve the obstruction, allowing the fluid to drain away. This is usually done by laser treatment.</p>

<p>Usually the surgeon will also advise you to have the same treatment on the other eye, because there is a high risk that it will develop the same problem.</p>

<p>This treatment is not painful. Depending on circumstances and the response to treatment, it may not require admission to hospital. Sometimes a short stay in hospital may be advised.</p>

<p><strong>Can it be cured?</strong></p>

<p>If diagnosed without delay and treated promptly and effectively there may be almost complete and permanent recovery of vision. Delay may cause loss of sight in the affected eye. Occasionally the eye pressure may remain a little raised and treatment is required as for chronic glaucoma.</p>

<p><strong>Will it effect my Driving?</strong></p>

<p>Most people can still drive if the loss of visual field is not advanced. To assess possible damage to your peripheral vision you will need a special test to see whether your sight meets the standards of the Driver and Vehicle Licensing Authority. Often people who have damaged field of vision on the detailed tests which are done to monitor progession of the disease, can still have a good enough field of vision for everyday activities such as driving so always ask your eye doctor if you should do an Estermann test before deciding if you are fit to drive .</p>

<p><strong>Will I have sight loss?</strong></p>

<p>Early detection and treatment will usually prevent or retard further damage by glaucoma. Much can be done to help you use your remaining vision as fully as possible.</p>

<p><strong>Eye Exams</strong></p>

<p>The Irish College of Ophthalmologists recommend that all adults have a baseline, comprehensive dilated eye exam by the age of 40, the time when early signs of disease and changes in vision may start to happen. The exam, which includes an eye pressure check, may also require a visual field examination, as determined by an eye doctor.</p>

<p>For people age 60 and older, the ICO recommends having a comprehensive eye exam every 1-2 years, or as directed by their GP, optometrist or eye doctor. &nbsp;</p>

<p style="border-top:1px add5e4 solid ">&nbsp;</p>

<p>&nbsp;</p>

<h3>Media</h3>

<ol>
	<li><a href="glaucoma_poster 2017.pdf" target="doc">Download the 2017 poster (PDF)</a></li>
	<li><a href="World_Glaucoma_Day_A5_Patient_Info_Booklet.pdf" target="doc">Download the brochure (PDF)</a></li>
</ol>

<p>&nbsp;</p>
