<!-- <h3>Dr Alison Greene</h3>
<br> -->
<div>
	<img src="/biographies/photos/alison_greene.jpg" alt="Dr Alison Greene" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Ophthalmology SpR, Royal Victoria Eye and Ear Hospital, Dublin</h5>

<p>Dr Alison Greene is a Higher Trainee in Ophthalmic Surgery with the Irish College of Ophthalmologists. She first developed an interest in sustainable healthcare while working in University Hospital Waterford during the establishment of their new High Flow Cataract unit in 2023. Her other interests include clinical and translational research having completed a Doctorate of Medicine in UCD in 2020. She enjoys training others and is currently completing an MSc in Medical Education. She is a member of the Royal College of Surgeons in Ireland and a Fellow of the European Board of Ophthalmology.</p>


</div>
