<!-- angela_rees.html -->
<div>
	<img src="/biographies/photos/Alicia_Hayes.jpg"
	alt ="Miss Angela Rees" 
	class="img-fluid" 
	style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5> Consultant Ophthalmologist, Moorfields Eye Hospital, London.  </h5>
<p>Miss Angela Rees is a Consultant Ophthalmologist specialising in medical retina and uveitis at Moorfields Eye Hospital City Road and St George's Hospital. Miss Rees Trained initially as an optometrist graduating from Aston University 1989. She subsequently studied medicine at The United Medical and Dental schools of Guy’s and St Thomas’ graduating in 1996. Ophthalmology training was in the North London Deanery with an MD at UCL in Age-related Macular Degeneration and psychophysics.  
	<br/>She has participated in many commercial medical retina and uveitis Trials as sub investigator. 
		<br/>Current research interests in Birdshot Chorioretinopathy, uveitis treatments, and infective uveitis.  
</p>

</div>