<!-- <h3>Prof Anthony King</h3>
<br> -->
<div>
	<img src="/biographies/photos/anthony-king.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Ophthalmologist, Nottingham University Hospital, NHS Trust.</h5>

<p>Prof Anthony King qualified from University College Galway in 1987 and undertook his ophthalmology postgraduate training in the UK. He was awarded an MD from the University of Leicester and undertook fellowship training in Glaucoma in London at the Western Ophthalmic and Anterior Segment and Cornea in Nottingham.</p>

<p>He is currently a consultant ophthalmologist with a subspecialist interest in glaucoma at Nottingham University Hospital and an Honorary Professor of Ophthalmology at the University of Nottingham. His primary research interest is in the clinical management of glaucoma particularly advanced glaucoma. He has received research funding support from the NIHR-HTA program, the International Glaucoma Association and Fight for Sight. He is currently the Chief Investigator of the NIHR funded Treatment of Advanced Glaucoma Study (TAGS).</p>

<p>He has published extensively and lectured throughout the UK and Europe. He is a past President of the UK & Eire Glaucoma Society and was the Royal College of Ophthalmologist glaucoma lead for development of a National Ophthalmic Database for trabeculectomy, he is currently a member of the European Glaucoma Society Scientific Committee and the Chairman of Glaucoma UK a patient support charity.</p>

</div>
