<!-- <h3>Ms Aoife Doyle</h3>
<br> -->
<div>
	<img src="/biographies/photos/Aoife-Doyle.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital and St James's Hospital, Dublin</h5>

<p>Ms Aoife Doyle is a Consultant Ophthalmic Surgeon at the Royal Victoria Eye and Ear Hospital and St James’s Hospital in Dublin.  She was appointed the Clinical Lead for the National Clinical Programme for Ophthalmology in 2023.</p>
<p>Ms Doyle has a wealth of experience in delivering ophthalmology services including the development of the integrated cataract and glaucoma service across the RVEEH and Community Healthcare Area with colleagues in Kilnamanagh Tymon Primary Care Centre (CHO7). The service is paperless with an electronic medical record and imaging platform shared with RVEEH to allow all clinical information to be accessible at the point of patient care.</p>
<p>Ms Doyle also set up a nurse-led glaucoma assessment clinic service where patients with mild to moderate stable glaucoma are monitored in the pathway.  The aim is to improve capacity for the hospital eye services to see the more complex and surgical patients and reduce waiting times, improving outcomes in glaucoma care through the collaboration of the hospital and community eyecare services.</p>

</div>
