<!-- arthur cummings -->
<div>
	<img 
	src="/biographies/photos/arthur_cummings.jpg" 
	alt="Mr Arthur Cummings" 
	class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Consultant Ophthalmologist, Wellington Eye Clinic, Dublin</h5>
	<p>
Mr Arthur Cummings is a cataract and refractive surgeon at the Wellington Eye Clinic in Dublin, Ireland, and Associate Clinical Professor of Ophthalmology at University College Dublin. He participates in clinical studies and serves on the medical advisory boards of numerous ophthalmic companies. A past-President of AECOS Europe, he is Global Ambassador of the Refractive Surgery Alliance. He is co-chief medical editor of Cataract &amp; Refractive Surgery Today Europe and reviews for numerous journals. He has published 120 articles in peer-reviewed and trade journals, 12 book chapters, co-edited 2 textbooks and delivered more than 500 lectures at international meetings. He authored the Wellington nomogram for WaveLight excimer lasers. 
<br/>In 2018, 2019, 2020, 2022 and 2023 he was ranked in the Top 100 most influential ophthalmologists worldwide by The Ophthalmologist. He has received awards from the AAO, ISRS, ESCRS, AECOS Europe, SECOIR, SASCRS. He serves on the board of directors of Alcon since they spun off from Novartis in April 2019. He is a co-Founder, Trustee and board member of the World College of Refractive Surgery; Visual Sciences and serves as the President of the Board of Governors.
</p>
</div>