<!-- Brendan Cummings -->
<div>
	<img src="/biographies/photos/brendan_cummings.jpg" alt="Brendan Cummings" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Cataract and Refractive Fellow, Wellington Eye Clinic, Dublin</h5>
	<p>Brendan Cummings is an ophthalmic surgeon specialising in cataract and refractive surgery at the Wellington Eye Clinic. 
	</p>
	<p>
He is a graduate of the UCD School of Medicine and Medical Sciences and completed his ophthalmology training through the RCSI in 2023. 
	</p>
	<p>
Brendan is one of 26 Fellows worldwide completing a Fellowship in Cataract and Refractive Surgery through the Refractive Surgery Alliance.
	</p>

</div>