<!-- <h3>Cathríona Ennis</h3>
<br> -->
<div>
	<img src="/biographies/photos/cathriona_ennis.jpg" alt="Ms Cathríona Ennis" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Director of Nursing, Royal Victoria Eye and Ear Hospital, Dublin</h5>
<p>
Ms Cathríona Ennis is the Director of Nursing at the Royal Victoria Eye & Ear Hospital and a corporate member of the organisations Hospital Management Group.  She completed her nurse training in St Vincent’s University Hospital and following her training worked in St. Vincent’s Private Hospital for 8 years, 3 specifically in the ophthalmology department. 
</p>
<p>
Cathríona was seconded from St Vincents private hospital to do the higher diploma in ophthalmic nursing in 1994 for a 6-month period and she couldn’t believe how much there was to know and learn the eye!  She returned to the Royal Victoria Eye & Ear Hospital in 1995 as a Clinical Nurse Manager 2 in the outpatient’s department. Cathriona has a tacit understanding of the organisation after being in a number of senior management roles to include Night Manager, Assistant Director of Nursing and Director of Nursing. 
</p>
<p>
In 2022, she completed a Master's degree in Healthcare Management. Her dissertation was titled "Developing a new ophthalmic technician grade in Ireland to improve access to care" which she will talk about in her presentation at the ICO Eye Care in Focus Conference.
</p>
<p>
Cathríona is very proud to have achieved a long service award in 2024 for 25 years' service in the organisation that has afforded her an opportunity to grow in a culture that sees Nursing working at the top of their licence.
</p>


</div>
