<!-- <h3>christine_bourke</h3>
<br> -->
<div>
	<img src="/biographies/photos/silhouette.png" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Paediatric Ophthalmology Clinical Fellow, Children’s Health Ireland, Temple Street and Crumlin, Dublin </h5>

<p>Dr Christine Bourke graduated from UCD in 2015.  She completed her basic medical ophthalmology training between Sligo, the Mater and Temple Street Hospitals and higher medical ophthalmology training across The Mater, Royal Victoria Eye and Ear and Crumlin Hospitals.  In 2023/24 she undertook a clinical fellowship in Paediatric Ophthalmology at Great Ormond Street Hospital, London, UK.</p>
<p>Dr Bourke is currently an ASPIRE fellow in Paediatric Ophthalmology in CHI at Crumlin and Temple street.  She achieved her Certificate of Completion of Specialist Training from the Irish College of Ophthalmologists in February 2024. </p>
<p>Dr Bourke has specialist interest in Paediatric Ophthalmology and Medical Retina.</p>

</div>
