<!-- <h3>Ms Chriosa O'Connor</h3>
<br> -->
<div>
	<img src="/biographies/photos/chriosa_oconnor.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Clinical Optometrist, Mater Hospital, Dublin</h5>

<p>Chr&iacute;osa O'Connor qualified as an optometrist from DIT, Kevin Street in 2000.  She moved to the UK where she gained clinical experience working as an optometrist in a range of settings including refractive surgery, diabetic retinopathy screening and grading, independent and corporate practice, accredited cataract referrals schemes, and in the laser clinic, St James's Hospital in Leeds.  She took on a role in professional services at Vision Express, overseeing their pre-registration optometrist support across the UK and Ireland.
</p>
<p>
Whilst in the UK she completed a post-graduate diploma in Clinical Optometry from City University, London.
</p>
<p>
Chr&iacute;osa returned to Ireland in 2011 where she worked as an optometrist in private practice, followed by a clinical optometrist role in Prof William Power’s iVision practice, Blackrock Clinic.
Since 2017, Chr&iacute;osa has been a part time clinic supervisor in the student optometry clinics at TU Dublin. 
</p>
<p>
She has been in her current post as a Clinical Optometrist at the Mater Misericordiae University Hospital since 2021.
</p>


</div>
