<!-- <h3>Mr Micheal  Brown </h3>
<br> -->
<div>
	<img src="/biographies/photos/david_brown.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h4>Bayer Breakfast Symposium</h4>
	<h5 >Clinical Professor of Ophthalmology, Cullen Eye Institute, Baylor College of Medicine and vice-chair for research at the Blanton Eye Institute, Houston Methodist Hospital.</h5>
	<p> Dr. Brown is the director of research at Retina Consultants of Texas and he chairs the Medical Leadership Board of Retina Consultants of America and serves on the RCA board of directors. Dr. Brown graduated from Baylor College of Medicine with highest honors and completed ophthalmology and retina training at the University of lowa where he was a Thomas Heed Fellow, a Hermann Knapp Fellow, and was awarded the Ron Michels Fellowship award presented to the top retinal surgery fellow in the US in 1994.</p>
	<p>Dr. Brown is an elected member of the Macula Society, the Retina Society, and the Club Jules Gonin and his honors include the American Academy of Ophthalmology Honor Award (2000), the American Society of Retina Specialists Honor Award (2008), the ASRS Senior Honor Award (2010), the AAO Senior Honor Award (2014), Retina Hall of Fame inaugural inductee (2017), and continuous election as one of the "Best Doctors in America"  2007-2022 and "Texas Super Docs" from 2009-2022.</p>

<p>
Dr Brown's research and clinical interests are focused on macular surgery, age-related macular degeneration, gene therapy, retinal vascular disease, and diabetic retinopathy.
 He has published and written over 400 national meeting presentations, abstracts, and scientific papers including many of the primary papers establishing the use of anti-VEGF agents for AMD, retinal vein occlusion, and diabetic retinopathy. 
</p>
<p>
<img src="bayer.png" class="img-fluid" style="float:right; padding:0.2rem 1rem 0rem 0.1rem; max-height:40px " />
	Dr. Brown also serves as the consultant retina specialist for NASA for all ongoing and long-term space flight astronauts.

</p>