<!-- <h3>Prof David Keegan</h3>
<br> -->
<div>
	<img src="/biographies/photos/david-keegan.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>UCD Clinical Professor of Ophthalmology and Retina, UCD School of Medicine, University College Dublin.
National Clinical Lead for Diabetic Retinopathy Screening and Target 5000 (All-Ireland Inherited Retinal
Degeneration Programme).</h5>

<p>Prof Keegan is the lead for Ireland's collaborative application to the European Reference Network for
Rare Eye Disease (ERN-EYE Ireland Consortium: EEIC).</p>

<p>He trained at Moorfield's Eye Hospital, London (1997-2005), attained his PhD from UCL and followed
that with a Fellowship in Vitreo-retinal Surgery, Columbia University New York (2005-2006) with Prof
Stanly Chang.</p>

<p>He specialises in medical and surgical retinal disease including paediatric retinal surgery. He runs the
Mater Retina Research Group and their interests include Inherited Retinal Disease, Macular
Degeneration (Biomarkers and Low vision devices), Diabetic retinopathy, Artificial Intelligence and
Enhanced Imaging.</p>

<p>Prof Keegan is currently involved in developing and deploying the transformation plan for North East Eye
Care Delivery (NERIECS), which he will speak about today.</p>

</div>
