<!-- <h3>Prof David Garway-Heath/h3>
<br> -->
<div>
	<img src="/biographies/photos/David_Garway_Heath.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Ophthalmic Surgeon, Moorfields Eye Hospital London</h5>
<p>
	David (Ted) Garway-Heath is Glaucoma UK Professor of Ophthalmology for Glaucoma and Allied Studies at the Institute of Ophthalmology, University College London (UCL), and Consultant Ophthalmic Surgeon at Moorfields Eye Hospital, London, UK. In addition to his clinical work, he leads Vision Assessment and Imaging Research at the Biomedical Research Centre of the UK National Institute for Health Research. He also leads ‘of the whole building’ workstream for the new Moorfields Eye Hospital and UCL Institute of Ophthalmology centre in London.
 	</p>
	<p>
Professor Garway-Heath is immediate Past President of the European Glaucoma Society (EGS), Chair of the Membership Committee of the international Glaucoma Research Society (GRS), Vice President of the international Imaging and Perimetry Society (IPS) and Secretary to the Imaging Morphometry Association for Glaucoma in Europe (IMAGE). He is past member of the ARVO Glaucoma Section Program Committee, which he chaired in 2009, past Chairman of the UK & Eire Glaucoma Society, and has co-chaired the World Glaucoma Association (WGA) Consensus Meetings. 
 	</p>
	<p>
During his time as President of the EGS, from December 2017 to December 2020, David Garway-Heath built on the strong and innovative leadership in pursuit of the EGS’ vision to promote the best possible well-being and minimal glaucoma-induced visual disability in individuals with glaucoma. Promoting patient support and advocacy, and strengthening collaboration with the American Glaucoma Society (AGS) were among the Society’s key initiatives that he initiated and implemented. 
 	</p>
	<p>
Professor Garway-Heath’s research focuses on the development and evaluation of the techniques for effective diagnosis, monitoring and management of glaucoma, the identification of risk factors for glaucoma progression, and decision-support systems for healthcare delivery services.
 	</p>
	<p>
After his training at Moorfields Eye Hospital, London, UK, David (Ted) Garway-Heath completed his research fellowship as Visiting Assistant Professor at the Jules Stein Eye Institute, UCLA, Los Angeles, USA in 2000. He became Clinical Research Lead for the Glaucoma Research Unit at Moorfields Eye Hospital on his return to the UK, where he built a strong multidisciplinary team of clinician researchers and research scientists, and developed an extensive collaborative research network both nationally and internationally. 
 	</p>
	<p>
His work has contributed to the understanding of structure-function relationship in glaucoma, and the anatomical map that he invented (known as Garway-Heath map) is used worldwide in research in this field and has been incorporated into FORUM Glaucoma Workplace, a clinical tool developed by Zeiss for the management of glaucoma. He also pioneered a technique for analysing optic nerve head images, the Moorfields Regression Analysis, which contributed to the worldwide acceptance and use of imaging in the clinical management of glaucoma. This work was selected by University College London to showcase its excellence in medical research. Professor Garway-Heath conducted the UK Glaucoma Treatment Study, the first randomized placebo-controlled trial to provide evidence for visual field preservation in glaucoma patients with an intraocular-pressure- lowering drug. This was the first glaucoma trial published in The Lancet, and the study design enabled a considerable reduction in the period needed to identify treatment effects.
 	</p>
	<p>
David (Ted) Garway-Heath has published extensively, and has been recipient of many awards, including the UK NHS Gold Clinical Excellence Award, the AGS International Scholar Award, Gold Medal of the Greek Glaucoma Society, Alcon Research Institute Award, the World Glaucoma Association Senior Clinician Scientist Research Recognition Award, and the National Institute for Health Research Senior Investigator Award (one of very few in Ophthalmology in the UK). The team under his supervision was the Overall Winner of the UK Medical Research Council Translational Research Innovations, encompassing all medical fields, for their work on the Moorfields Motion Displacement Test, a new visual field test for glaucoma. 
 	</p>
	<p>
Prof. Garway-Heath has been consecutively voted onto The Ophthalmologist power list recognising the top 100 most influential people who have made the biggest impact in the field of ophthalmology worldwide. Recently, he ranked among the top 10 on this list.
 	</p>
	<p>
He was also voted ‘top mentor worldwide’ in the 2019 ‘power list’ for his work mentoring younger
colleagues and helping them develop leadership skills. He has also been driving a mentorship programme for the EGS called Next Generation Partnership (NGP). Since its launch in 2017, the NGP programme has enrolled around 100 glaucoma specialists across all European countries. Discussions are ongoing between the EGS and AGS about possible future collaborations on this initiative.
</p>

</div>