<!-- <h3>Ms Dawn Sim</h3>
<br> -->
<div>
	<img src="/biographies/photos/Dawn-Sim.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Lead Medical Director of Ophthalmology, Genentech Roche; Director of Telemedicine, Moorfields Department of Digital Medicine; Associate Professor at the University College London, Institute of Ophthalmology.</h5>

<p>Born and raised in Singapore, Dawn moved to the UK to read Medicine at St George's Hospital, University of London in 1996. She completed her Ophthalmology residency in the prestigious North London Rotation in 2015 where she also served a Chief Resident at Moorfields Eye Hospital, and Associate College Tutor at the  Royal College of Ophthalmologists, and representative at the British Medical Association. In that time, she also obtain her PhD from the UCL Institute of Ophthalmology for her work on endothelial progenitor stem cells and has published extensively on diabetic retinopathy, age-related macular degeneration, and retinal vein occlusions.</p>

<p>Dawn's current research interests include new technology in retinal imaging, digital health, and the field of teleophthalmology. She is working with device-agnostic platforms to facilitate acceleration of new technology and artificial intelligence software into clinical practice.</p>

<p>For five consecutive years (2017 to 2021) she has been voted on the Ophthalmologist power-list as one of the top 100 ophthalmologists globally. Her previous awards include the ARVO Alcon Early Career Research Award winner, and Dawn is also a patent holder for the use of Indocyanine Green Dye for visualization of inflammation in the eye. A prolific and successful grant-raiser, Dawn also won the Dermot Pierse Royal Society prize in 2009 and the Young Investigator's Award at Asia ARVO in 2007.</p>

</div>
