<div>
	<img src="/biographies/photos/elaine_brennan.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Clinical Nurse Specialist [CNS], Beaumont Hospital, Dublin.</h5>

<p>Elaine joined the Eye Department in Beaumont Hospital in 2015 and works with Ms Aishling Mc Court [CNS].
Elaine qualified as a registered General Nurse at the Mater Misericordiae Hospital in 1988 .After she worked in the middle east and Africa she discovered 'eyes' in 1993.</p>
<p>
She studied and worked in Moorfields Eye Hospital from 1995 -1997 . She returned to the Mater Eye department until 2015 .</p>
</div>