<div>
	<img src="/biographies/photos/ElaineCorrigan.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Optometrist, Wellington Eye Clinic, Beacon Medical Campus, Dublin.</h5>

<p>Elaine joined the Wellington Eye clinic in 2021. She graduated with first class honours in BSc Optometry in Dublin's Institute of Technology in 2016. She completed a postgraduate certificate in Glaucoma, Cataract and Refractive Surgery and Medical Retina through Cardiff University in 2020. She has an interest in the neural adaptation of the visual system and completed a postgraduate course in Eye to Vision through University of Sheffield in 2022. </p>
</div>