<!-- <h3>Ms Elizabeth McElnea</h3>
<br> -->
<div>
	<img src="/biographies/photos/Elizabeth_McElnea.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Consultant Ophthalmic Surgeon, University Hospital Galway</h5>
	<p>Ms. McElnea is a graduate of University College Dublin. She has completed fellowship training in oculoplastic, orbit and lacrimal disease at the Royal Victorian Eye and Ear Hospital in Melbourne, Victoria and in cornea and anterior segment disease at Royal Perth Hospital in Perth, Western Australia. She currently works as a Consultant Ophthalmologist in University Hospital Galway.</p>

</div>