<!-- <h3>Dr Emer Doolan</h3>
<br> -->
<div>
	<img src="/biographies/photos/emer_doolan.jpg" class="img-fluid" alt="Dr Emer Doolan" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Ophthalmologist, Royal Victoria Eye and Ear Hospital, CHO6 and CHO7</h5>
<p>Dr. Emer Doolan graduated from UCD in 2015. She completed her ophthalmology training in the Mater Hospital , Galway University Hospital, the Royal Victoria Eye and Ear Hospital and Children's Health Ireland.
</p>
<p>Dr. Doolan achieved her Certificate of Completion of Specialist Training from the Irish College of Ophthalmologists in 2023, and is currently a consultant at the Royal Victoria Eye and Ear Hospital, CHO6 and CHO7.She has a special interest in Medical Retina.</p>

</div>
