<!-- <h3>Ms Evelyn O'Neill </h3>
<br> -->
<div>
	<img src="/biographies/photos/Evelyn-O-Neill.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Ophthalmic Surgeon, Mater Misericordiae University Hospital, Dublin</h5>

<p>Ms Evelyn O'Neill is currently working as a Consultant Ophthalmic Surgeon with a special interest in Eye Emergency care in the Mater Misericordiae University Hospital. </p>

<p>She attained an  honours medical degree from University College  Dublin in 2003.  She pursued a postgraduate Masters of Science (Honours) degree in UCD in 2005 and has worked in Ophthalmology ever since.  She attained her Membership of the Royal College of Ophthalmologists, London in 2007 and completed her Basic Surgical Training in Ophthalmology in 2008.  </p>

<p>Ms O'Neill subsequently embarked on an internationally renowned Clinician-Scientist research fellowship in the Centre for Eye Research Australia undertaking full time research in optic nerve and glaucomatous eye disease.   This body of work resulted in the award of her Doctor of Medicine degree in 2011.  </p>

<p>She subsequently commenced her Higher Surgical Training in Ophthalmic Surgery under the auspices of the Royal College of Surgeons Ireland and The Irish College of Ophthalmologists.  She undertook her training both in a full-time and less than full-time capacity (flexible trainee) and was awarded her CCST in Ophthalmic Surgery in July 2018.  </p>

<p>She was awarded her Fellowship of the European Board of Ophthalmologist in 2015 and her Fellowship of the Royal College of Surgeons Ireland in Ophthalmology in 2018. She was awarded the Aspire Fellowship in Quality Improvement in eye emergency care - a joint fellowship between the Mater Misericordiae University Hospital and Moorfields Eye Hospital in London.  Her research to date has resulted in international and national prizes, awards and publications, and she has lectured worldwide on her findings. She has authored over 25 international peer reviewed publications.</p>

</div>
