<!-- <h3>Mr Gareth Higgins</h3>
<br> -->
<div>
	<img src="/biographies/photos/Gareth_Higgins.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Consultant Ophthalmic Surgeon, University Hospital Waterford and Honorary Clinical Senior Lecturer, University College Cork</h5>
	<p>
Mr. Gareth Higgins graduated in 1998 from University College Cork. From 1999-200, he was Ophthalmic Research Fellow at the Department of Academic Surgery, University College Cork, studying the Immunology of Neovascular Age-related Macular Degeneration. His thesis investigated possible links between sunlight-related oxidative stress and cytokine mediated angiogenesis, for which he was awarded a Medical Doctorate (MD).
	</p>
	<p>
From 2001-2010, Mr. Higgins trained as an Ophthalmic Surgeon in Cork, Liverpool and Perth. His general training was followed by fellowships in Oculoplastic Surgery (Liverpool) and Corneal and Anterior Segment Disease (Perth, Western Australia).
	</p>
	<p>
Mr. Higgins is a Fellow of the Royal College of Surgeons of Edinburgh (FRCSEd) and the Royal Australian and New Zealand College of Ophthalmologists (RANZCO) and a Member of the Royal College of Ophthalmologists (MRCOphth). His areas of interest include oculoplastics, in particular periocular reconstruction following tumour excision, and corneal disease.  Mr. Higgins is a Consultant Ophthalmic Surgeon at University Hospital Waterford and an Honorary Clinical Senior Lecturer at University College Cork.
</p>
</div>