<!-- Professor Geoffrey Rose  -->
<div>
	<img src="/biographies/photos/geoffrey_rose.jpg" alt="Professor Geoffrey Rose" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " alt="Professor Geoffrey Rose"/>
	<h5>Consultant Orbital, Lacrimal and Plastic Reconstructive Surgeon, Moorfields Eye Hospital, London</h5>
	

<p>	
Geoffrey Rose graduated BSc Pharmacology (1976), in Medicine (1979), and is a Member of the Royal College of Physicians (1982). During ophthalmic training he received Fellowship of the Royal College Surgeons (1985) and Royal College of Ophthalmologists(1988).  
</p><p>
He gained a University of London MS doctorate (1989) for original research, and was later awarded the highest academic accolade of Doctor of Science (2004).
</p><p>
Professor Geoffrey Rose was appointed to the consultant staff at Moorfields Eye Hospital in 1990, has been Director of the Adnexal Service, and is now an honorary consultant to the hospital. He lectures widely, has presented various named lectures, and received the Lester Jones Anatomy Award from ASOPRS (of which he is honorary fellow).
</p><p>
Professor Rose is a Senior Research Fellow of the Biomedical Research Centre at the Institute of Ophthalmology, London, and is a Past-President of ESOPRS and a Past-President of BOPSS.
</p>
</div>