<div><img class="img-fluid" src="/biographies/photos/gillian_omullan.jpg" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Clinical Specialist Orthoptist, Children&#39;s Health Ireland at Temple Street.</h5>

<p>Gillian O&rsquo;Mullane is a Clinical specialist Orthoptist at the Children&rsquo;s Hospital Temple Street where she has taken a special interest in electrophysiology of vision. She studied orthoptics at Glasgow Caledonian University and gained at PhD in the study of eye movement control from the University of Liverpool in 2004. Gillian has a general adult private practice and offers orthoptic evalution for patients pre refractive surgery.</p>
</div>
