<!-- Prof Heinrich Heimann-->
<div>
	<img src="/biographies/photos/Heinrich_Heimann.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Ophthalmic Surgeon, Royal Liverpool University Hospital</h5>
<p>
Heinrich Heimann completed his Ophthalmology training at the University Hospital Benjamin Franklin of the Free University in Berlin, Germany, in 1998. Since 2005, he holds a Consultant post at St Paul´s Eye Unit at the Royal Liverpool University Hospital with the subspecialties Surgical and Medical Retina and Ocular Oncology. In 2013, Mr Heimann took over as the Clinical Lead of the Liverpool Ocular Oncology Unit, one of the four Highly Specialised NHS Services for Adult Ocular Oncology in the UK.
 	</p>
	<p>
Following a MD in corneal surgery in 1995, Mr Heimann completed the German Habilitation degree coordinating a prospective multicentre study on retinal detachment surgery in 2006; he was awarded the title of a Clinical Professor at the Free University Berlin in 2010, and then became
Honorary Professor at Liverpool University in 2015. Heinrich Heimann worked as an elected
Executive Board Member of the German Retina society between 2008-16. He currently is an
Associate Editor of “Ophthalmologica” and the “Journal of Vitreoretinal Diseases” and section editor for Ocular Oncology in “Eye”.
 	</p>
	<p>
Mr Heimann has published more than 200 publications in peer-reviewed journals, mostly in the subspecialties of Vitreoretinal Surgery and Ocular Oncology, with a current h-index of 36. He has written more than 40 book chapters and co-edited five books on retinal imaging and vitreoretinal surgery.
 	</p>



</div>