<!-- <h3>Helen Curran</h3>
<br> -->
<div>
	<img src="/biographies/photos/helen_curran.jpg" class="img-fluid" alt="Helen Curran" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Head of Sustainability, Specsavers UK/IRE</h5>

<p>
Ms Helen Curran has been working in optics for 19 years.  She qualified as a dispensing optician at Glasgow Caledonian University 2014, and is currently a 2nd year student completing an Executive MBA at UCD Michael Smurfit Business School. 
</p>
<p>
Helen has worked with Specsavers for 13 of those 19 years, with the last 5 years spent working in the Support Office, 
</p>
<p>
As Head of Sustainability for the UK and Irish business, Helen is responsible for bringing the company's global and country specific sustainability strategy to life for partnerships and colleagues across +1000 Optical Stores, 270+ Audiology businesses and 40+ Domiciliary businesses. In the role she focuses on all aspects of sustainability, helping partners and colleagues take action to help mitigate the impact on the environment and improving the social impact on the communities Specsavers operate in and the lives of the people the company employs and serves.</p>


</div>
