<div>
	<img src="/biographies/photos/hilary_devlin.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Eye Clinic Liaison Officer (ECLO) @ Temple Street & Crumlin Hospitals
<br/><span style="font-weight: normal"> NCBI Working for People with Sight Loss</h5>

<p>Hilary Devlin is an Eye Clinic Liaison Officer (ECLO) working full time with peadiatric patients. She has been in this role for 4 and a half years, has a background in vision impairment and rehabilitation with over 20 years’ experience in the field of sight loss.
</p>
<p>
The ECLO service operates in the following Dublin hospitals: Mater University Hospital, Royal Victoria Eye and Ear Hospital, CHI at Temple Street, Crumlin Children’s Hospital as well as Cork University Hospital, Cork.
</p>
<p>
The ECLO provides practical and emotional support to both patients and their families and aims to ensure patients are connected to supports within the community. The ECLO knows that timely access to interventions and support is vital as it maximises coping strategies, adjustment to changes in eye conditions, increases independence and improves quality of life. Early intervention to children with a vision impairment is particularly important to promote overall development. The role of the ECLO allows clinicians time to focus on diagnosis, treatment and medical follow up.</p>
</div>