<div><img class="img-fluid" src="/biographies/photos/ian_mckinley.jpg" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Former Professional Rugby Player .</h5>

<p>Former professional rugby player, Ian McKinley, who lost vision in his left eye as a result of an on-pitch incident in 2010 will share his inspirational story as a keynote speaker at this year&rsquo;s conference.</p>

<p>Through incredible determination and resilience, and the development of special goggles to protect his right eye, Ian returned to the game following the incident, playing for Treviso in Italy and eventually getting the call up for the Italian National team.</p>

<p>After a 10 year career as a professional rugby player, Ian retired&nbsp;from the game&nbsp;in 2021&nbsp;pursuing a career in rugby coaching.</p>

<p>Since the arrival of the rugby goggles,&nbsp;Ian&nbsp;has continued to be an advocate for protective eye wear in the sport.&nbsp; He has been involved in multiple inclusive projects to do with sport with many different organisations.</p>

<p>Ian is also a motivational speaker, keen to share his story that he describes as not just a sporting story but a life one</p>

<p>.</p>
</div>
