<div>
	<img src="/biographies/photos/janice_brady.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Ophthalmic Surgeon, University Hospital Waterford .</h5>

<p>Janice is a Consultant Ophthalmic Surgeon based in Waterford. She graduated from University College Dublin with a First Class honours degree in Medicine and completed her specialist training in Ophthalmic sugery in Ireland. She has sub-specialty fellowships in Cataract and Refractive surgery, Glaucoma and Oculoplastics.  She currently runs the glaucoma service at Univeristy Hospital Waterford. She has been an invited lecturer at national and international meetings and has a particular interest in ophthalmology education and patient empowerment</p>
</div>