<!--Prof John Crown -->
<div>
	<img src="/biographies/photos/John_Crown.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>BCh BAO BSc MBA FRCPI</h5>
<p>John Crown is a Consultant Medical Oncologist at St Vincent’s Medical Group in Dublin, Ireland and is a Professor of Medicine in University College Dublin and a Professor of Translational Medicine in Dublin City University.</p>
<p>He graduated Medicine and Science from University College Dublin, trained in general medicine in London and Dublin, and in Oncology at Mount Sinai Medical Centre New York and Sloan Kettering Memorial Cancer Centre.</p>
<p>He subsequently served at the faculty at Memorial Sloan Kettering Cancer Centre and Cornell Medical School where he was an Assistant Professor.
<p>Professor Crown is the founder of The Irish Clinical Oncology Research group.</p>
<p>He has authored and co-authored over 300 manuscripts in the field of cancer research.</p>
<p>He is a member of The Royal Irish Academy and served in Seanad Eireann and representing The National University of Ireland constituency from 2011 to 2016.</p>
<p>During his time in The Seanad, he served under the Oireachtas Health Committee and The British Irish Parliamentary Association and was the author of legislation which resulted in a ban on smoking in cars where children are present.</p>


</div>