<!-- <h3>Prof John Nolan</h3>
<br> -->
<div>
	<img src="/biographies/photos/John_Nolan.jpg" alt="Prof John Nolan" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>
Founder and Director, Nutrition Research Centre Ireland; Howard Chair in Human Nutrition and Principal Investigator of the Macular Pigment Research Group,  South East Technological University 
</h5>

<p>Professor John Nolan, a Fulbright Scholar, is a full professor at the South East Technological University (SETU), Waterford, Ireland, where he holds a Howard Chair in Human Nutrition and is the Director of the Nutrition Research Centre Ireland (NRCI).</p>
<p>His research centre studies the role of nutrition for vision, cognitive function and prevention of age-related diseases. In 2011, Prof Nolan won a prestigious European Research Council (ERC) research grant to study the impact of nutritional supplementation on visual function via two major clinical trials (CREST 281096; Central Retinal Enrichment Supplementation Trials). As part of this ground-breaking work, Prof Nolan identified how targeted nutrition can improve visual function for the general population, and for patients with age-related macular degeneration (AMD). 
<br/>More recent studies at the NRCI have investigated the link between nutrition and brain health and function, and over the last number of years Nolan and team have published novel papers on how targeted nutrients enhance cognitive function for the general population and improve quality of life for patients suffering with Alzheimer’s disease.
</p>
<p>
Prof Nolan has published 117 peer-reviewed scientific papers on his area of research (H index = 53). A major career highlight is his role as founder and Chair of the International Brain and Ocular Nutrition Conference (BON Conference), which was held at Downing College, Cambridge University (<a href="https://www.bonconference.org/" target="ext">www.bonconference.org</a>). See <a href="https://www.profjohnnolan.com/" target="ext">www.profjohnnolan.com</a> for further details. Google Scholar - H Index 
</p>


</div>
