<div>
	<img src="/biographies/photos/john_doris.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Ophthalmic Surgeon, University Hospital Waterford .</h5>

<p>John Doris is a Consultant Ophthalmic Surgeon at University Hospital Waterford with a specialist interest in Vitreoretinal surgery. He has 20 years of experience working within the United Kingdom’s NHS and Ireland’s HSE. He graduated in Medicine from Queens University Belfast in 1998 and is dual qualified as a Medical Physician and an Ophthalmic Surgeon.. In 2009, he undertook a dual Medical Retinal and Vitreoretinal ASTO /Fellowship at Manchester Royal Eye Hospital. During that year, he was a co-investigator for a Wet ARMD clinical trial (GMAN Trial). He was awarded a Fellowship of the Royal College of Ophthalmologists UK in 2010.</p>


<p>He completed three additional years of specialist Vitreoretinal surgical Fellowship training at three internationally renowned centres of excellence which include Manchester Royal Eye Hospital, Southampton University Hospital and Moorfields Eye Hospital, London. He has been a Consultant Vitreoretinal surgeon at the Royal Victoria Eye and Ear Hospital in Dublin and the NHS Royal Liverpool University Hospital before his appointment at University Hospital Waterford in 2014. His surgical expertise encompasses Vitreoretinal surgery and micro-incisional cataract surgery. He has expertise in macular hole surgery, retinal detachment surgery, epiretinal membrane surgery, diabetic eye disease, age-related macular degeneration and treatment of floaters.</p>

<p>He is the current President of the Irish College of Ophthalmologists.</p>
</div>