<!-- Ms Kathryn McCreery -->
<div>
	<img src="/biographies/photos/kathryn_mccreery.jpg" alt="Ms Kathryn McCreery" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Consultant Ophthalmic Surgeon, Children's Health Ireland at Crumlin Hospital, Dublin</h5>
	<p>
	Ms. Kathryn McCreery graduated from the Royal College of Surgeons in 1986. She undertook her Ophthalmology training at The Royal Victoria Eye and Ear Hospital, Dublin and at Baylor College of Medicine, Houston, Texas, USA. She undertook fellowship training in Paediatric Ophthalmology and Strabismus at The University of Pittsburgh/ Children’s’ Hospital of Pittsburgh, Pittsburgh, USA.
</p>
<p>
Following her training she was appointed as Consultant Ophthalmologist/Assistant Professor at Baylor College of Medicine/Texas Children’s’ Hospital in 1999 and returned to Ireland in 2002 to take up her current role as Consultant Ophthalmic Surgeon at Children’s Health Ireland at Crumlin and Blackrock Clinic, Dublin. Her areas of interest are Paediatric Ophthalmology and Strabismus, Cataract and Refractive Surgery.
</p>
<p>
Her past leadership roles include Chair of the Scientific Committee ICO, Programme Director for Higher Surgical Training in Ophthalmology 2019-2022 and Council member of the ICO. 
</p>
<p>
She has published more than 80 articles in peer-reviewed Ophthalmic journals, authored 5 book chapters, and made countless presentations at national and international Ophthalmic meetings.
</p>
<p>
She has been recognized as a dedicated teacher of Ophthalmology having received the Dan B. Jones Teaching Award from Baylor College of Medicine in 2002. Other awards include the Schindler award for the resident who exhibits high moral standards and compassion in patient care Baylor College of Medicine 1999 and SOE lecturer (European Society of Ophthalmology 2006. </p>

</div>