<!-- <h3>Mr Keith McCallion</h3>
<br> -->
<div>
	<img src="/biographies/photos/keith_mccallion.jpg" alt="Mr Keith McCallion" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Optometrist, Director; Specsavers Opticians and Audiologists, Athlone and Longford</h5>

<!-- p>Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p -->


</div>
