<div>
	<img src="/biographies/photos/kevin_kelly.jpeg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>National Strategic Partnership Manager, NCBI</h5>

<p>Kevin has been blind since September 2001 having lost his sight at the age of fourteen.  He holds a degree in Journalism from DCU and has a Masters in Public Affairs & Political Communications from TUD.  Kevin has held a number of roles across the Civil Service, Charity Sector, the media and currently is the National Strategic Partnerships Manager with NCBI.  He is also a member of the Irish Blind football squad having played for Ireland eight times to date.</p>