<div>
	<img src="/biographies/photos/KristinaMiller.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>National Insights and Impact Manager, NCBI.</h5>

<p>Kristina works at NCBI as the National Insights and Impact Manager. With a background in medical research, over the past six years, Kristina has undertaken roles working within NCBI and Vision Sports Ireland, focusing on research, strategy, and service development based on patient need. </p>
</div>