<!-- <h3>Ms Lisa McAnena</h3>
<br> -->
<div>
	<img src="/biographies/photos/Lisa_McAnena.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " alt="Ms Lisa McAnena"/>
<h5>Consultant Ophthalmologist Surgeon, Mater Hospital and Beaumont Hospital, Dublin </h5>

<p>Ms Lisa McAnena is a Consultant Ophthalmologist at the Mater Misericordiae University Hospital, Mater Private and Beaumont Hospital.
</p>
<p>
Ms McAnena completed subspecialty fellowship training in paediatric ophthalmology and strabismus at the Royal Eye Hospital and Great Ormond Street Hospitals in 2018/19, London and in neuro-ophthalmology at Moorfields Eye Hospital London in 2020/21.
</p>
<p>
She delivers medical and surgical ophthalmology services in her clinical practice, including cataract surgery and sub specialises in neuro-ophthalmology and strabismus. 
</p>


</div>
