<!-- <h3>Louise Doyle</h3>
<br> -->
<div>
	<img src="/biographies/photos/louise_doyle.jpg" alt="Louise Doyle" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Theatre Nurse, University Hospital Waterford</h5>

<p>Ms Louise Doyle trained as a nurse in Beaumont Hospital qualifying in 1995.  She has been working in Theatres since 1998 and completed her Higher Diploma in Perioperative Nursing in 2002 through Beaumont Hospital and the Royal College of Surgeons in Ireland. </p>
<p>Louise has been working in ophthalmology theatres since 2003.  She took up her current post in University Hospital Waterford in 2013 where she works across the eye and the emergency theatres.</p>


</div>
