<!-- <h3>Dr Marc Gerin/h3>
<br> -->
<div>
	<img src="/biographies/photos/marc_guerin.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Ophthalmic Surgeon, Mater University & Private Hospitals, Dublin</h5>

<p></p>

</div>
