<!-- Ms Nikolina Budimlija last updated 17-04-23 13:09-->
<div>
	<img src="/biographies/photos/Nikolina_Budimlija.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Consultant Ophthalmic Surgeon</h5>
	<p>
Ms Nikolina Budimlija graduated from the School of Medicine, University of Zagreb in 2005 and later gained a Masters in Health Management. She was a Fellow of the European Masters Program in Health Promotion. Nikolina trained in ophthalmic surgery at the Clinical Hospital Centre, Sestre Milosrdnice Zagreb. She was additionally trained in Austria, Slovenia and Spain. Nikolina spent 4 years working as lead ophthalmic consultant at Health Centre in Zagreb until early 2018 when she started a position as a consultant in private practice in Bray, Co. Wicklow, Ireland.
</p>
<p>

 She joined Institute of Eye Surgery (IoES) in 2019 as Ocular Surface Specialist and Oculoplastic Surgeon. She is a member of Scientific Committee at Irish College of Ophthalmologists, Member of Public Awareness Committee at Tear Film & Ocular Surface Society (TFOS), European Dry Eye Society (EuDES), European Society of Cornea & Ocular Surface Disease Specialists (EuCornea), Croatian Ophthalmological Society and the European Society of Cataract & Refractive Surgeons (ESCRS).  She has participated in numerous medical conferences worldwide.
</p>

</div>