<!-- Dr Olya Scannell -->
<div>
	<img src="/biographies/photos/Olya_Scannell.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Consultant ophthalmologist</h5>
<p>Ms Olya Scannell is currently a consultant ophthalmologist at the Royal Victoria Eye and Ear Hospital and Community Health Organisation 7 in South Dublin, where she leads the development of an integrated eye care service with a focus on paediatric ophthalmology and medical retina. She undertook subspecialist fellowship training in uveitis and medical retina at Manchester Royal Eye Hospital in 2019-2020. Ms. Scannell completed her training in ophthalmic surgery in Ireland and was awarded her fellowship of the Royal College of Surgeons in Ireland in 2020. She previously undertook postgraduate research in glaucoma at the Mater Misericordiae University Hospital and University College Dublin and was awarded a Doctor of Medicine degree in 2016. Ms. Scannell studied medicine as an undergraduate at University College Cork, where she graduated with honours in 2009.</p>


</div>