<!-- Miss Radhika Rampat  -->
<div>
	<img src="/biographies/photos/radhika_rampat.jpg" alt="Professor Radhika Rampat" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Consultant Ophthalmic Surgeon, Royal Free London NHS Trust, London</h5>
	
<p>Miss Radhika Rampat, MBBS BSc (hons) FRCOphth PCEO CertLRS, is a Consultant Ophthalmic Surgeon at Royal Free London, Honorary Consultant at Moorfields Eye Hospital, Associate Academic Director of the Refractive Surgery Alliance (RSA) global fellowship network and Co-Chair of the AECOS Green Working Group (GWG). 
	<br/>She was honoured to be recently named one of the Top 10 Rising Stars in Ophthalmology globally by The Ophthalmologist Magazine.
</p>
</div>