<!-- <h3>Ms Rizwana Khan </h3>
<br> -->
<div>
	<img src="/biographies/photos/Rizwana_Khan.jpg" alt=">Ms Rizwana Khan" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital</h5>
	<p>Ms Rizwana Khan is a Consultant surgeon at the Royal Victoria Eye and Ear Hospital sub-specialising in orbital and oculoplastic surgery. She has experience in the use of new technologies and minimally invasive surgical techniques like endoscopic orbital surgery, CO2 laser for oculoplastic surgery and the use of image guided navigation in orbital surgery. </p>

	<p>She also specialises in multifocal intraocular lens implantation.</p>
	<p>She is the co-director of a fellowship programme in Orbits, Oculoplastics and Neuro-Ophthalmology in the Royal Victoria Eye and ear hospital.</p>
	<p>She is currently undertaking a doctorate with RCSI while guiding her trainees in surgical training and research. </p>
</div>