<div>
	<img src="/biographies/photos/robert_harper_nhs.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Optometrist Consultant , Manchester Royal Eye Hospital.
<br/><span style="font-weight: normal">BSc (Hons), MPhil, DPhil, DipGlauc, DipTP(IP) FCOptom</span>
</h5>

<p>Robert Harper is an Optometrist Consultant at Manchester Royal Eye Hospital, an Honorary Professor of Optometry in the School of Health Sciences at the University of Manchester and a Visiting Professor in Optometry at City, University of London.  His role encompasses clinical work, teaching, research, and wider professional matters.  His main areas of clinical and research interest include glaucoma, diagnostic test evaluation, low vision rehabilitation, and evaluation of enhanced schemes within optometry.  He has secured external grant funding for numerous projects and authored ~90 papers in the peer reviewed scientific literature.  In 2015 he was awarded Life Fellowship of the College of Optometrists for his contribution to the optometric profession. In 2017 he was the hospital optometry representative on the NICE guideline committee and he served on the council of the College of Optometrists between 2000-2023.</p>
</div>
