<!-- <h3>robert braunstein </h3>
<br> -->
<div>
	<img src="/biographies/photos/robert_Braunstein.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Clinical Professor of Ophthalmology, Vagelos College of Physicians and Surgeons, Columbia University New York</h5>
	<p>A graduate of RCSI, Dr. Braunstein received his Retinal Fellowship training with Alan Bird in Moorfields Eye Hospital and with Don Gass at the Bascom Palmer Eye Institute.
	</p>
<p>Dr. Braunstein was previously Chairman of the Department of Ophthalmology at the Veterans
Administration Hospital and at Morristown Medical Center in New Jersey and has taught Healthcare Economics at both Columbia and Rutgers University. In addition to being the recipient of the American Academy of Ophthalmology’s Senior Honor Award, Dr. Braunstein has served on the Executive Committee of the Macula Society, and is presently a consultant for the FDA’s Ophthalmic Device Committee as well as a Liveryman in the City of London’s Worshipful Company of Spectacle Makers.</p>


</div>