<!-- sarah_moran -->
<div>
	<img src="/biographies/photos/Sarah_Moran.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Consultant Ophthalmic Surgeon, Cork University Hospital/South Infirmary Victoria University Hospital</h5>
	<p>Ms. Sarah Moran is a Consultant Ophthalmic Surgeon at Cork University Hospital/South Infirmary Victoria University Hospital, specialising in cataract and corneal conditions. Ms Moran qualified from University College Cork in 2006 with a First-Class Honours degree. She completed Higher Specialist Training in Ophthalmology in Ireland, and was awarded the Richard Steevens Scholarship in 2018. Following a year of subspecialist corneal training at the Hôpital Fondation Rothschild in Paris, she received her Certificate of Completion of Specialist Training (CCST) in 2019 from the Royal College of Surgeons Ireland.  She returned to a consultant position in Cork, where she is developing the corneal service. Ms Moran also has a strong interest in clinical research, with numerous international publications. </p>


</div>