<!-- <h3>sarah_spain</h3>
<br> -->
<div>
	<img src="/biographies/photos/sarah_spain.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " alt="Ms Sarah Spain"/>
<h5>Senior Orthoptist, Health & Social Care Professions Lead (HSCP) Lead for the National Clinical Programme of Ophthalmology.</h5>

<p>Ms Sarah Spain is the Health & Social Care Professions Lead for the National Clinical Programme for Ophthalmology. She is currently working as a Senior Orthoptist in Roscommon. </p>
<p>Sarah  graduated from The University of Liverpool in 2013. </p>

<p>She completed a Professional Certificate in Glaucoma from Aston University, Birmingham in 2016. Sarah was appointed The Acute Services Lead for the Orthoptic department in Bradford Royal Infirmary in 2018. She worked in specialist roles in glaucoma monitoring clinics, low visual aid clinics, and set-up and led the stroke-vision service whilst working at Bradford Royal Infirmary. 
</p>

<p>
Sarah completed her Master’s degree (MMedSci) in Vision Science and Strabismus from The University of Sheffield in 2021.
</p>


</div>
