<!-- sobha_sivaprasad -->
<div>
	<img src="/biographies/photos/Sobha-Sivaprasad.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Consultant Ophthalmologist, Moorfields Eye Hospital and University College London, London, UK
</h5>
	<p>Prof Sobha Sivaprasad is a Consultant Ophthalmologist at NIHR Moorfields Biomedical Research Centre, London, UK. She completed her Medical Retina Fellowship from Moorfields Eye Hospital. Her higher research degree from Cranfield University and King's College Hospital is on ‘Co-morbidity of age related macular degeneration and atherosclerosis’.
	</p>
	<p>
		Prof Sivaprasad has active clinical and laboratory research interests in age related macular degeneration, diabetic retinopathy and retinal vascular disorders. Her research focuses on biomarkers and modeling of retinal morphology in retinal diseases.
	</p>
	<p>

She also runs several clinical trials in these areas and has over 100 peer reviewed publications to her credit.
</p>

</div>