<!-- <h3>Ms Tania Constable</h3>
<br> -->
<div>
	<img src="/biographies/photos/tania_constable.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Clinical Optometrist, CHO7</h5>

<p>Ms Tania Constable is an experienced clinical optometrist, working within the HSE for the last 6 years, both in an acute and secondary care setting within Ophthalmology.
</p>
<p>
Tania gained her undergraduate degree from the University of Manchester in 2007, and then went on to work in the U.K for a number of years before returning to Ireland. She was one of the first optometrists to hold the College of Optometrists Higher Certificate in Paediatric eye care. 
</p>
<p>
She was awarded an MSc in Clinical Optometry in 2023 by Cardiff University. 
</p>
<p>
Tania has a special interest in the development of eye care resources for children with additional needs. She established one of the first additional needs eye clinics within the HSE (Irish Health Service). 
</p>
<p>
Tania is the current Optometry Ireland president.
</p>


</div>
