<!-- tim ulcher  -->
<div>
	<img src="/biographies/photos/tim_fulcher.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
</div>
<h5>Consultant Ophthalmologist Surgeon, Mater Hospital and Beaumont Hospital, Dublin </h5>

<p>Mr Tim Fulcher is a Consultant Ophthalmic Surgeon at the Mater Misericordiae University Hospital, Mater Private and Beaumont Hospital.</p>
<p>Mr Fulcher completed subspecialty fellowship training in cornea and external eye disease at Moorfields Eye Hospital, London and in eyelid, lacrimal and orbital disease in Brisbane under Prof Timothy Sullivan.</p>
<p>He is also an Honorary Consultant Ophthalmic Surgeon at Temple Street Children’s Hospital in Dublin.  He served as president of the Irish College of Ophthalmologists (2021-2023).</p>
</div>
