<!-- <h3>Mr Tomás Burke </h3>
<br> -->
<div>
	<img src="/biographies/photos/Tomas_Burke.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Ophthalmologist, Mater Misericordiae University Hospital, Dublin.</h5>

<p>Mr Tomás Burke graduated with honours from National University of Ireland, Galway in 2004. Following post-graduate training in general internal medicine at Beaumont Hospital, Dublin, he was awarded Membership of the Royal College of Physicians of Ireland in 2006. He subsequently entered ophthalmology training at the Mater Misericordiae University Hospital and Galway University Hospitals. He was awarded Membership of the Royal College of Ophthalmologists in 2009, and spent two years at Harkness Eye Institute of Columbia University, New York until 2011. During this period, he developed research interest in retinal imaging, and was subsequently awarded a Doctor of Medicine research degree in 2013 by University College Dublin for his work on “Genotype-Phenotype correlations in Stargardt Disease”.</p>

<p>He completed his ophthalmology training in the UK in the Bristol region. He was appointed a Consultant Ophthalmologist at the Bristol Eye Hospital in 2017, but deferred taking up his post for one year to allow him to undertake a sub-specialty fellowship in medical retina, inherited retinal disease, and inflammatory eye disease (uveitis) at Moorfields Eye Hospital, London. He spent almost three years as a consultant ophthalmologist in the NHS in Bristol, and was then appointed a Consultant at the Mater Misericordiae University Hospital, Dublin in 2021 with sub-specialist interests in cataract surgery, medical retina, uveitis, and inherited retinal diseases of suspected wet macular degeneration.</p>

<p>He is co-lead on a project streamlining the intravitreal injection pathway for the Northeast region of Ireland.  He has recently commenced work at Mater Private Hospital, Dublin in January 2022.</p>

</div>
