<!-- <h3>Prof Tunde Peto</h3>
<br> -->
<div>
	<img src="/biographies/photos/Tunde-Peto.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Professor of Clinical Ophthalmology, Queen's University Belfast; Clinical Lead of the Northern Ireland Diabetic Eye Screening Programme and Consultant Ophthalmologist in Medical Retina.</h5>

<p>Tunde Peto is Professor of Clinical Ophthalmology at Queen's University Belfast, Clinical Lead of the Northern Ireland Diabetic Eye Screening Programme and a Consultant Ophthalmologist in Medical Retina. </p>

<p>Her membership of international organisations include President of the European Association of Diabetic Eye Complications (EAsDEC), Board member of EU-EYE and ECV and member of the Global Burden of Disease Eye Epidemiology Group. </p>

<p>She specialises in chronic blinding diseases, ophthalmic image analysis, epidemiology and statistics and is internationally renowned for setting up and managing diabetic retinopathy screening and training programmes, including the Queen's Diamond Jubilee Trust Fund (DR Section). Professor Peto was recently named among the UK's most influential researchers who study diabetes complications.</p>

<p>As Head of the Belfast Ophthalmic Reading Centre, a unique facility coordinating the grading of ophthalmic images collected for clinical research studies, Professor Peto has expertise in overseeing a wide range of studies, including age-related macular degeneration, diabetic retinopathy and population- based studies, training graders to use a variety of imaging platforms and interpreting the images.</p>

</div>
