<!-- <h3>Ms We Fong Siah</h3>
<br> -->
<div>
	<img src="/biographies/photos/silhouette.png" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Consultant Ophthalmic Surgeon, Mater Private Hospital, Dublin</h5>
	<p>
Ms. We Fong Siah graduated from Trinity College Dublin in 2005. She has worked in eye departments at teaching hospitals in Dublin, Galway and Waterford. She completed her ophthalmic higher surgical training in Ireland in 2014. Ms. Siah underwent a six-month fellowship training in cornea and external eye disease in Newcastle Upon Tyne before undertaking a one-year fellowship training in oculoplastic, lacrimal and orbital surgery at the prestigious Corneo-Plastic Unit at Queen Victoria Hospital NHS Foundation Trust, East Grinstead. She obtained further experience in oculofacial aesthetics and ophthalmic plastic reconstructive surgery as a visiting fellow at the Moran Eye Center, University of Utah, Salt Lake City.
 	</p>
	<p>
Ms. Siah’s subspecialty interests include cataract surgery, eyelid surgery (eyelid malposition, eyelid lumps, eyelid cancer, facial nerve palsy, aesthetic eyelid surgery), oculofacial aesthetics (non-surgical), watery eye disorder, dry eye disorder and facial dystonia (blepharospasm and hemifacial spasm).
 	</p>
	<p>
Ms. Siah has over 20 publications in reputable peer-reviewed journals and has presented her work at national and international ophthalmology conferences. She is a member of the British Oculoplastic Surgery Society, the Royal College of Ophthalmologists and the Irish College of Ophthalmologists.
</p>
</div>