<!-- Mr Will Tucker.jpg-->
<div>
	<img src="/biographies/photos/william_tucker.jpg" 
	alt ="Mr Will Tucker"
	class="img-fluid" 
	style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Consultant Ophthalmologist, Moorfields Eye Hospital, London</h5>
	<p>Will Tucker works as a uveitis, medical retina and clinical research consultant at Moorfields Eye Hospital NHS Foundation trust. After finishing training in the London Deanery he undertook several formative and prestigious fellowships in uveitis, medical retina and medical ophthalmology. He first trained under Liz Graham and Miles Stanford in the medical eye unit at St Thomas’ Hospital, then Eoin O’Sullivan and Paul Riordan-Eva in Neuro-Ophthalmology at King’s College Hospital before completing a medical retina fellowship at Moorfields Eye Hospital. He was also selected as the first UNITE international clinical fellow and spent 14 months gaining new skills and knowledge under Nida Sen, Emily Chew and the late Robert Nussenblatt at the National Eye Institute, National Institutes for Health, USA. </p>
	<p>His research interests include translational clinical research in uveitis and medical retina, developing better outcomes for uveitis clinical trials and accurate phenotyping of uveitic conditions to allow the most applicable immune biomarker research to enter clinical practice in the future.</p>



</div>