<!-- <h3>Miss Yvonne Delaney </h3>
<br> -->
<div>
	<img src="/biographies/photos/Yvonne-Delaney.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Dean of Postgraduate Education, Irish College of Ophthalmologists.</h5>

<p>Miss Yvonne Delaney completed her medical education in University College Dublin, Ireland (MB BCh BAO, 1984-1990) and achieved membership of the Royal College of Physicians of Ireland (MRCPI) in 1993 before pursuing a career in ophthalmology.  She entered the specialty initially in Ireland before entering and completing Higher Surgical Training in Ophthalmology in Oxford in the UK and becoming a Fellow of the Royal College of Ophthalmologists in London (FRCOphth 1996-2002).  She returned to Ireland to take up a Fellowship in Glaucoma, with Prof Colm O'Brien, Mater University Hospital Dublin, Ireland (2003-2005).  </p>

<p>Miss Delaney went on to practice ophthalmology, with an interest in the specialty of glaucoma, as Senior Clinical Lecturer in Ophthalmology in the Mater Misericordiae University Hospital and as Consultant Ophthalmic Surgeon in the Bons Secours Hospital, Dublin.</p>

<p>In 2013, she became Dean of Postgraduate Education of the Irish College of Ophthalmologists, Dublin having completed a Masters in higher medical education in the RCSI in 2012 - a role she continues in 2022. </p>

</div>