<table>
	<tbody>
		<tr>
			<td>9.00am</td>
			<td><strong>Irish College of Ophthalmologists Annual General Meeting</strong></td>
		</tr>
		<tr>
			<td>10.00am</td>
			<td>E<strong>xpecting Problems as we Explore Possibilities</strong><br />
			Mark Pollock<em> Motivational Speaker, Adventure Athlete, Author and Broadcaster</em></td>
		</tr>
		<tr>
			<td>10.45am</td>
			<td>Coffee Break</td>
		</tr>
		<tr>
			<td>11.15am</td>
			<td><strong>ICO/Novartis Bursary Update</strong><br />
			Negative Regulators of Inflammation and Age Related Macular Degeneration in an Irish Population<br />
			Dr Maedbh Rhatigan<em> Researcher, Royal Victoria Eye &amp; Ear Hospital Research Foundation</em></td>
		</tr>
		<tr>
			<td>11.30am</td>
			<td><strong>SOE Lecture - European Society of Ophthalmology</strong><br />
			Diabetic Retinopathy and Maculopathy &ndash; Seeing beyond Anti-VEGF Therapy<br />
			Mr Paul Connell<br />
			Mater Misericordiae Hospital, Dublin</td>
		</tr>
		<tr>
			<td>12.00pm</td>
			<td><strong>Update on Oculoplastic Management Across the Ages</strong><br />
			Chair: Ms Kate Coleman
			<ul>
				<li>Aetiology and Management of Congenital Ocular and Eyelid Abnormalities<br />
				Prof Richard Collin <em>Moorfields Eye Hospital, London </em></li>
				<li>Grand Rounds on Oculoplastic Dilemmas</li>
			</ul>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>
