<!-- <h3>Ms Aoife Doyle</h3>
<br> -->
<div>
	<img src="/kilkenny2022/photos/Aoife-Doyle.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital and St James's Hospital, Dublin</h5>

<p>Ms Aoife Doyle carried out her training in Ophthalmology in Ireland followed by a fellowship as EGS fellow at the Glaucoma Institute in Paris. During her fellowship, she was involved in research into new methods of delivery of novel antifibrotic agents during filtration surgery and early studies on outcomes of selective laser trabeculoplasty.</p>

<p>She has been a Consultant Ophthalmic Surgeon and glaucoma specialist since 2005 at Royal Victoria Eye and Ear Hospital, Dublin, where she set up a specialist glaucoma service and was Medical Director there from 2011-2014. She is a member of the UK-Eire Glaucoma Society and the European Glaucoma Society. </p>

<p>Ms Doyle established a virtual glaucoma clinic at RVEEH in 2018 with early implementation of MediSIGHT (Electronic Medical Record) using a model that would allow for future transition to the community. </p>

<p>She has a particular interest and training in Lean Healthcare management techniques and played a key role in establishing and implementing the City West Drive-through IOP clinic together with colleagues in the Ireland East Hospital Group.</p>

<p>With her team, Ms Doyle has recently extended the virtual clinic model to the CHO7 area, together with Dr Margaret Morgan, with plans to progress the hub and spoke model into further allied community eye care settings in the near future. </p>

</div>
