<!-- <h3>Ms Chríosa O'Connor</h3>
<br> -->
<div>
	<img src="/kilkenny2022/photos/Chriosa-o-Connor.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Hospital Optometrist, Mater Misericordiae University Hospital, Dublin.</h5>

<p>Chríosa O&#39;Connor qualified as an optometrist from DIT, Kevin Street in 2000. She moved to the UK
where she gained clinical experience working as an optometrist in a range of settings including refractive
surgery, diabetic retinopathy screening and grading, independent and corporate practice, accredited
cataract referrals schemes, and in the laser clinic, St James&#39;s Hospital in Leeds. She took on a role in
professional services at Vision Express, overseeing their pre-registration optometrist support across the
UK and Ireland.</p>

<p>Whilst in the UK she completed a post-graduate diploma in Clinical Optometry from City University,
London.</p>

<p>Chríosa returned to Ireland in 2011 where she worked as an optometrist in private practice, followed by
a clinical optometrist role in Prof William Power's iVision practice, Blackrock Clinic.</p>

<p>Since 2017, Chríosa has been a part time clinic supervisor in the student optometry clinics at TU Dublin. In January 2021 she started in her post as a hospital optometrist in the Mater Misericordiae University hospital.  Here she is also part of the North East Region Integrated Eye Care Service (NERIECS) team who are currently working on integration and transformation of the eye care pathway in the North East.</p>

<p>Chríosa served as an AOI council member and has represented the AOI on the NSS Diabetic Retina screen Quality Assurance and Clinical Advisory Group committees.</p>

</div>
