<!-- <h3>Mr David A Sullivan</h3>
<br> -->
<div>
	<img src="/kilkenny2022/photos/David-Sullivan.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Chairman, Board of Directors, Tear Film & Ocular Surface Society and former Associate Professor, Department of Ophthalmology, Harvard Medical School, Boston.</h5>

<p>Until recently, Mr David Sullivan held the post of Associate Professor in the Department of Ophthalmology at Harvard Medical School and a Senior Scientist at the Schepens Eye Research Institute (Boston, MA, USA). </p>

<p>During his 38 years at those institutions, his research focused on the interrelationships between sex, sex steroids and dry eye disease, as well as on the role of lubricin on the ocular surface. His studies involved basic, clinical, epidemiological and translational aspects and led to authorship on over 260 scientific articles and 15 patents. He was awarded numerous research grants from the National Institutes of Health, and served as a preceptor for 34 postdoctoral fellows. </p>

<p>Mr Sullivan is Founder, recent President, and current Chairman of the Board of Directors of the Tear Film & Ocular Surface Society (TFOS), a non-profit organisation, which was created to advance the research, literacy, and educational aspects of the scientific field of the tear film and ocular surface throughout the world. The Society has helped to promote increased international awareness of external eye diseases, enhance governmental funding for tear film and ocular surface research, stimulate the development of therapeutic drugs and diagnostic devices, and influence the design and conduct of clinical trials of novel treatments for ocular surface disorders.  </p>

</div>
