<!-- <h3>Ms Edel Cosgrave</h3>
<br> -->
<div>
	<img src="/kilkenny2022/photos/Edel-Cosgrave.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Ophthalmologist, University Hospital Waterford.</h5>

<p>Ms. Edel Cosgrave is a graduate of NUIG and completed her basic surgical training in ophthalmology in Cork University Hospital. Her higher surgical training was completed in the UK in the Deanery of East Anglia, working in hospitals in Ipswich, Norwich, Bury St Edmunds and Addenbrooks hospital in Cambridge. </p>

<p>Ms Cosgrave has two fellowships in Paediatric Ophthalmology and Strabismus, firstly from Addenbrooks hospital, the West Suffolk and Moorfields Eye Hospital and secondly from the Royal Eye Hospital Manchester. She was appointed to Harrogate and York hospitals as Consultant Ophthalmologist with a special interest in paediatrics and strabismus in 2010. </p>

<p>She returned to Ireland to take up a consultant post in University Hospital Waterford in 2014.</p>

</div>
