<!-- <h3>Mr Edward Loane</h3>
<br> -->
<div>
	<img src="/kilkenny2022/photos/Edward-Loane.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital and St James's Hospital Dublin. </h5>

<p>Mr Edward Loane has a special interest in strabismus and ocular motility disorders. He completed fellowship training in Leicester with Professor Irene Gottlob, and in Liverpool with Mr Ian Marsh and Ms Carmel Noonan. He particularly enjoys managing neurological strabismus. </p>

</div>
