<!-- <h3>Ms Elizabeth McElnea</h3>
<br> -->
<div>
	<img src="/kilkenny2022/photos/Elizabeth-McElnea.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Ophthalmologist, University Hospital Galway.</h5>

<p>Ms Elizabeth McElnea is a graduate of University College Dublin. She completed fellowship training in oculoplastic, orbit and lacrimal disease at the Royal Victorian Eye and Ear Hospital in Melbourne, Victoria and in cornea and anterior segment disease at Royal Perth Hospital in Perth, Western Australia. </p>

<p>She currently works as a Consultant Ophthalmologist in University Hospital Galway.</p>

</div>
