<!-- <h3>Mr Ian Flitcroft </h3>
<br> -->
<div>
	<img src="/kilkenny2022/photos/ian-flitcroft.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Ophthalmologist, Children's Health Ireland (CHI) Temple Street, Dublin</h5>

<p>Mr Ian Flitcroft is a Consultant Paediatric Ophthalmologist at the Children's University Hospital, Dublin. He is also Associate Clinical Professor of Ophthalmology in UCD and Adjunct Professor of Vision Science at the Technological University Dublin.  He has been involved in the field of experimental myopia for 25 years. As well as his research on the mechanisms guiding eye growth, he has been long term advocate for the public health implications of myopia and for the need for biological treatments of myopia. He is a lead investigator on several myopia treatment trials.</p>

</div>
