<!-- <h3>Ms Jaina Byrne</h3>
<br> -->
<div>
	<img src="/kilkenny2022/photos/Jaina-Byrne.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Orthoptist, Beaumont Hospital, Dublin; Chair Irish Association of Orthoptists</h5>

<p>Ms. Jaina Byrne qualified from the University of Liverpool with a BSc (Hons) Orthoptics. Her career started in the UK and she relocated to Ireland in 2009.  She currently works in Beaumont Hospital, Dublin. She has a specialist interest in neuro-orthoptics and rehabilitation.  </p>

<p>In 2021, Jaina completed a Masters in Medical Education at the University of Dundee and has a keen interest in undergraduate education and professional development.  </p>

<p>She is the current Chair of the Irish Association of Orthoptists.</p>

</div>
