<!-- <h3>Mr Jonathan Clarke</h3>
<br> -->
<div>
	<img src="/kilkenny2022/photos/Jonathan-Clarke.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Ophthalmologist, Moorfields Eye Hospital, London</h5>

<p>Mr Jonathan Clarke has been a consultant in the glaucoma service at Moorfields Eye Hospital since 2009. He is Clinical Trials Lead for the glaucoma service with a responsibility for delivering clinical trials for new pharmaceutical treatments.</p>

<p>He is Joint Director of the Moorfields North Division and has been involved in testing and setting up new models of care including virtual clinics for glaucoma and medical retina patients.</p>

<p>Mr Clarke is a panel member of the Secretary for State for Transport's Honorary Medical Advisory Panel on Driving and Visual Disorders and a member of Glaucoma UK Clinical Advisory Panel.  He holds a MD in post-operative wound healing in glaucoma surgery.</p>

</div>
