<!-- <h3>Mr Samer Hamada</h3>
<br> -->
<div>
	<img src="/kilkenny2022/photos/Samer-Hamada.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Ophthalmologist and Cornea Surgeon, Queen Victoria Hospital NHS Trust, UK</h5>

<p>Mr Samer Hamada is a corneal surgeon with 25 years' experience in ophthalmology both in the UK and internationally. He has completed cornea and anterior segment fellowships at the Birmingham and Midland Eye Centre, Wolverhampton Eye Infirmary, and Queen Victoria Hospital's Corneoplastic Unit and Eye Bank. He also completed a fellowship in paediatric ophthalmology at Great Ormond Street Hospital for Children in London.</p>

<p>Mr Hamada has a particular focus on innovations for managing patients with cornea and ocular surface diseases including stem cell therapy, lamellar keratoplasties, and complex ocular surface reconstruction. He has special interest in managing corneal problems in children including corneal transplantation for infants born with congenital eye diseases and children with complex cornea and ocular surface diseases at Great Ormond Street before joining Queen Victoria Hospital.</p>

<p>Mr Hamada articles have been published in many peer-reviewed journals and he has written many book chapters on cornea and cataract.  He has chosen as a reviewer for several renowned ophthalmology journals including the American Journal of Ophthalmology and British Journal of Ophthalmology.</p>

</div>
