<!-- <h3>Prof Stanley Chang</h3>
<br> -->
<div>
	<img src="/kilkenny2022/photos/Stanley-Chang.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>K.K. Tse and Ku Teh Ying Professor of Ophthalmology, Columbia University Medical Center, New York.</h5>

<p>Professor Stanley Chang completed his residency at the Massachusetts Eye and Ear Infirmary, and
fellowship at Bascom Palmer Eye Institute. From 1995-2012, he was Chair of Ophthalmology at the
Edward Harkness Eye Institute, and now remains an active faculty member.</p>

<p>Prof Chang has developed and pioneered several revolutionary surgical approaches to treat complicated
forms of retinal detachment, improving outcomes for patients worldwide. He was the first to use
perfluoropropane gas in the management of retinal detachments caused by scar tissue proliferation
(PVR) on the retina. He developed perfluorocarbon liquids and the related surgical techniques for
vitreoretinal surgery. In collaboration with Avi Grinblat, he developed a panoramic viewing system and
led in the worldwide adaptation by retina surgeons to this technique.</p>

<p>Prof Chang is the recipient of honors including the Hermann Wacker Prize from the Club Jules Gonin; the
Helmerich Prize from the American Society of Retinal Specialists; the Lifetime Achievement Honor
Award, the Charles Schepens Lecture, and the Jackson Memorial Lecture from the American Academy of
Ophthalmology; the Lifetime Innovator Award from Ophthalmology Innovation Summit; and the Gonin
Medal from the International Council of Ophthalmology.</p>

</div>
