<!-- <h3>Mr Tom Flynn</h3>
<br> -->
<div>
	<img src="/kilkenny2022/photos/Tom-Flynn.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Ophthalmologist, Bon Secours Hospital Cork</h5>

<p>Mr Tom Flynn is a Consultant Ophthalmologist at Bon Secours Hospital Cork, specialising in cornea, cataract and refractive surgery.</p>

<p>A graduate of University College Cork, he trained in ophthalmology at Moorfields Eye Hospital London.  In 2013, he joined the consultant staff at Moorfields where he worked as a specialist in cornea, cataract and refractive surgery before returning to Cork in 2019.  In 2011, he was awarded a PhD by University College London for his research on the immunology of corneal transplantation.
</p>

<p>Other research interests have included injury prevention, allergic conjunctivitis, corneal imaging and outcomes of cataract surgery.</p>

</div>
