<div class="biog">

	<div id="alex_shortt">
	<img src="/ConferencesArchives/cavan2017/biog/alex_shortt.jpg" alt="Mr Alex Shortt" title="Mr Alex Shortt" style="max-width:110px;max-height:155px;float:left;" />
	<h3>Mr Alex Shortt</h3>
	<p class="biogtitles">
	Wellcome Trust Intermediate Fellow and Clinician-Scientist, UCL Institute of Immunity and Transplantation.
	<br/>Honorary Consultant Ophthalmologist, Cornea and External Disease, Moorfields Eye Hospital, London.

	</p>
	<br style="clear:both;" />
	</div>
	<p>
	Alex Shortt is a clinician scientist who has undertaken joint academic and clinical training in ophthalmology. He studied medicine at University College Dublin, Ireland and immediately after graduation began to pursue his interest in scientific research, undertaking a master’s degree in physiology (MSc) at University College Dublin. He then moved to London to undertake residency training in Ophthalmology at Moorfields Eye Hospital. Mid-way through residency he took a 4 year break to study for a PhD at University College London. His PhD thesis “The limbal epithelial stem cell niche and its relevance to ex- vivo culture and transplantation of corneal limbal epithelial stem cells” made a significant contribution to the field of ocular surface reconstruction through the publication of several highly cited journal publications. 
	</p>
	<p>
	Having been awarded his PhD in 2009 Alex then completed an Clinical Lectureship at the NIHR Biomedical Research Centre at Moorfields and the UCL Institute of Ophthalmology followed by two cornea and external disease fellowships at Moorfields Eye Hospital. In 2014 Alex joined the staff of Moorfields Eye Hospital as a consultant ophthalmologist in cornea and external disease, specializing in ocular surface disease and reconstruction.
	</p>
	<p>
Over the past 10 years, Alex’s research has focused on the development of cell therapies for corneal and conjunctival disease.  He is currently funded by a prestigious 4-year Wellcome Trust Clinician Scientist Award investigating the response of the recipient’s immune system to engrafted stem cells. Alex’s goal is to improve the lives of patients with chronic, severe ocular surface disease through the delivery of novel cellular therapies using different therapeutic cell types. 
	</p>

</div>