<div class="biog">

	<div id="Angela_Tysall">
	<img src="/ConferencesArchives/cavan2017/biog/Angela_Tysall.jpg" alt="Angela Tysall" title="Angela Tysall" style="max-width:110px;max-height:155px;float:left;">
	<h3>Angela Tysall</h3>
	<p class="biogtitles">
	HSE Lead for Open Disclosure
	</p>
	<br style="clear:both;" />
	</div>
	<p>
	Angela Tysall is Project Manager in the Office of Patient and Staff Engagement which is part of the HSE Quality and Patient Safety Division. Her main role is that of National Lead in Open Disclosure for the HSE. She also works as a complaints review officer for the HSE and undertakes investigations including serious incident investigations, trust in care and dignity at work investigations. Angela has 13 years’ experience as a midwife; 2 years as a practice nurse; and 5 years as a senior sister, team leader and acting manager of a nurse lead NHS walk-in-centre. She also has 6 years management experience in a GP Out Of Hours service in the North West of Ireland and achieving quality assurance accreditation for this service.
	</p>

</div>