<div class="biog">

	<div id="Augusto_Azuara_Blanco">
	<img src="/ConferencesArchives/cavan2017/biog/Augusto_Azuara_Blanco.jpg" alt="Professor Augusto Azuara-Blanco" title="Professor Augusto Azuara-Blanco " style="max-width:110px;max-height:155px;float:left;" />
	<h3>Professor Augusto Azuara-Blanco</h3>
	<p class="biogtitles">
	Professor of Ophthalmology, Queens University Belfast 
	<br/>Honorary Consultant Ophthalmologist, Belfast Health and Social Care Trust (BHSCT)
	</p>
	<br style="clear:both;" />
	</div>
	<p>
	Augusto Azuara-Blanco completed his Ophthalmology training and PhD in Spain and did a clinical fellowship in glaucoma at Wills Eye Hospital, Philadelphia, with George Spaeth and cornea fellowship with Harminder S. Dua in Nottingham, England. He worked for over 10 years as a NHS consultant in Scotland (Edinburgh and Aberdeen) and moved to academia in 2010.   Since April 2013 he is Professor of Ophthalmology at Queen’s University Belfast and Honorary Consultant Ophthalmologist at the BHSCT.  
	</p>
	<p>
	Although his clinical work is focused on glaucoma academically his research interests are wider, trying to improve health outcomes of people with chronic eye diseases by evaluating the effectiveness of new treatments, diagnostic tests, and models of eye care. Prof Azuara-Blanco has expertise in primary and secondary research and also leads methodological research to improve the design of trials. He is chief investigator of the EAGLE and GATE trials and leads the glaucoma studies of the NICOLA project, a large population-based study in Northern Ireland with over 8000 participants. Prof Azuara-Blanco has published over 160 papers and has raised over £10 million for ophthalmic research from NIHR, MRC and EU Horizon 2020. He is member of the editorial board of several journals including the Cochrane Eyes and Vision Group, member of the Executive Committee of the European Glaucoma Society, and former Chair of the UK & Eire Glaucoma Society (2012).
	</p>

</div>