<div class="biog">

	<div id="Aydin_Pinar">
	<img src="/ConferencesArchives/cavan2017/biog/Aydin_Pinar.jpg" alt="Professor Pinar Aydin O'Dywer" title="Professor Pinar Aydin O'Dywer" style="max-width:110px;max-height:155px;float:left;" />
	<h3>Professor Pinar Aydin O'Dywer</h3>
	<p class="biogtitles">
	Professor of Ophthalmology and Neuro-ophthalmologist
	</p>
	<br style="clear:both;" />
	</div>
	<p>
	Professor Aydin O’Dwyer, completed her ophthalmology training in Turkey and founded the Ophthalmology Department of Baskent University, Ankara. She serves as a member of Academia Ophthalmologica Internationalis (AOI, chair LVI), and a member of the Board of Trustees, as well as a member of both the Examinations Committee and of the Fellowships Committee, of the International Council of Ophthalmology (ICO). In the past she served as the Treasurer and Neuro-ophthalmology Section Program Officer of the European Association for Vision and Eye Research (EVER), Treasurer of the European Neuro-ophthalmology Society (EUNOS), and Head of Ethics Committee of the ICO. Author of some 200 scientific publications and editor of 28 books on ophthalmology in Turkish, she has been managing editor and editorial board member on several ophthalmic journals and has given many conferences and courses internationally.
	</p>
	<p>In addition to neuro-ophthalmology her other main interests include coaching young academicians, in particular integrating local perspectives into an international approach which recognizes cultural diversity and distinctiveness. She also promotes consensus and fellowship through art and music in her presentations on ‘Ophthalmology in Art’, and in the pursuit of her hobbies of playing flute and cello, dancing ballet and in her writing as an opera and ballet critic. She has published two books on the arts: The Book of Ballet (2012) and The Book of Opera (2015).
	</p>
</div>