<div class="biog">

	<div id="Chris_White">
	<img src="/ConferencesArchives/cavan2017/biog/Chris_White.jpg" alt="Chris White" title="Chris White" style="max-width:110px;max-height:155px;float:left;" />
	<h3>Chris White</h3>
	<p class="biogtitles">
	CEO, NCBI
	</p>
	<br style="clear:both;" />
	</div>
	<p>
	Chris White was appointed CEO of NCBI (National Council for the Blind of Ireland) in May 2014, with an expertise in leadership and good governance. Chris was CEO of Boardmatch Ireland from July 2010 to May 2014, where his work on improving governance in the not-for-profit sector led to the strengthening of numerous boards and committees.
	</p>
	<p>
	He has a strong background in the not-for-profit and charitable sector, with previous roles as CEO of the Sue Ryder Foundation and as Head of Development at the Irish Council for Social Housing.
	</p>
	<p>
	Chris has a primary degree in Classics and History from the University of Surrey (UK) and a Master of Social Science in Irish Political Studies from Queens University Belfast (UK).
	<br/>He is also a Chartered Director with the Institute of Directors, with a Diploma in Strategic Leadership and Governance
	</p>
</div>