<div class="biog">

	<div id="Douglas_Veale">
	<!-- img src="/ConferencesArchives/cavan2017/biog/Douglas_Veale.jpg" alt="Professor Douglas James Veale" title="Professor Douglas James Veale" style="max-width:110px;max-height:155px;float:left;" /-->
	<h3>Professor Douglas James Veale</h3>
	<p class="biogtitles">
	Consultant Rheumatologist, St Vincent’s University Hospital, Dublin
	<br/>Centre for Arthritis and Rheumatic Disease, University College Dublin

	</p>
	<br style="clear:both;" />
	</div>
	<p>
	Douglas J. Veale is a Professor of Medicine, Director of Translational Research and The Centre for Arthritis and Rheumatic Diseases (CARD). He is a Consultant Rheumatologist at St Vincent’s University Hospital and Fellow/Principal Investigator at The Conway Institute for Biomedical and Biomolecular Research, University College Dublin (UCD). 
	</p>
	<p>
	Professor Veale is a Fellow of The Royal College of Physicians in Ireland (1997) and The Royal College of Physicians, London (1999). He graduated from the Royal College of Surgeons in Ireland in 1984 and obtained his MD by thesis from UCD in 1992.
	</p>
	<p>
	Professor Veale has established an international reputation in clinical trials and translational research in the areas of Rheumatic Musculoskeletal Disease, biopharmaceutical therapies and biomarkers. He established CARD in Dublin receiving a EULAR Centre of Excellence Award in 2014. CARD has received funding from The American Federation for Ageing Research, USA, The European Union FP6 programme and FP7 Innovative Medicines Initiative (IMI), The Health Research Board of Ireland, Science Foundation Ireland, the Programme for Research in Third Level Institutions, Ireland and several of academia-industry partnership programmes.
	</p>

</div>