<div class="biog">

	<div id="hadas_levy">
	<img src="/ConferencesArchives/cavan2017/biog/hadas_levy.jpg" alt="Hadas Levy" title="Hadas Levy" style="max-width:110px;max-height:155px;float:left;" />
	<h3>Hadas Levy</h3>
	<p class="biogtitles">
	Psychologist / Manager 
	<br />Education Development Department, Royal College of Physicians of Ireland 

	</p>
	<br style="clear:both;" />
	</div>
	<p>
	Hadas Levy is the Manager of the Education Development team in RCPI.  This team provides educational expertise and is responsible for the design and development of a range of high quality educational interventions including physicians’ wellbeing, curricula, examinations, workshops and online products development. Hadas has a B.A. in Psychology, a M.Sc. in Counselling Psychology and a Postgraduate Certificate in Statistics. 
	<br/>Prior to working in RCPI, Hadas worked as a counselling psychologist in the HSE Primary Care, Dublin City University and private practice.  In addition, Hadas worked as a consultant with national and international organisations, designing and delivering training interventions and managing training-related projects.
	</p>

</div>