<div class="biog">

	<div id="Ian_Dooley">
	<img src="/ConferencesArchives/cavan2017/biog/Ian_Dooley.jpg" alt="Mr Alex Shortt" title="Mr Alex Shortt" style="max-width:110px;max-height:155px;float:left;" />
	<h3>Mr Ian Dooley</h3>
	<p class="biogtitles">
	Consultant Ophthalmologist at the Mater Misericordiae University Hospital and Mater Private Hospital, Dublin

	</p>
	<br style="clear:both;" />
	</div>
	<p>
	Mr Dooley has completed two years of international surgical fellowships in Vitreoretinal Surgery, firstly at Barts Health in London in 2014 then at the prestigious Royal Victorian Eye and Ear Hospital in Melbourne, Australia.
Thus gaining extensive experience in the management of retinal detachment, diabetic retinopathy, macular hole, epiretinal membrane (ERM), age related macular degeneration (AMD) and cataract.

	</p>
	<p>
	He is the author of over thirty international research publications including preoperative predictive markers of visual and anatomical outcomes before retinal detachment surgery and diabetic delamination surgery. He also acts a reviewer for more than ten international journals and is a member of the council of the Irish College of Ophthalmologists.
	</p>

</div>