<div class="biog">

	<div id="Jonathan_Crowston">
	<img src="/ConferencesArchives/cavan2017/biog/Jonathan_Crowston.jpg" alt="Professor Jonathan G. Crowston" title="Professor Jonathan G. Crowston" style="max-width:110px;max-height:155px;float:left;" />
	<h3>Professor Jonathan G. Crowston </h3>
	<p class="biogtitles">
	Ringland Anderson Professor of Ophthalmology
	<br/>Head of Ophthalmology, University of Melbourne
	<br/>Managing Director, Centre For Eye Research Australia
	</p>
	<br style="clear:both;" />
	</div>
	<p>
	Jonathan Crowston is the Ringland Anderson Professor of Ophthalmology, University of Melbourne and Managing Director of the Centre for Eye Research Australia (CERA). He is a practising glaucoma specialist clinician at the Royal Victorian Eye and Ear Hospital.  
	</p>
	<p>
	He gained his ophthalmology training at Moorfields Eye Hospital, London and was awarded a PhD for work on ocular fibrosis at the Institute of Ophthalmology, University College London (2000). He subsequently completed Glaucoma Fellowships at the University of Sydney and UC San Diego where he then joined the glaucoma faculty, prior to moving to Australia in 2006. 
	</p>
	<p>
	Jonathan serves as a director on a number of boards including the Centre for Eye Research Australia (CERA), ORIA (2008+), World Glaucoma Association , CERA Technologies Pty Ltd (2015+), Et al Research Pty Ltd (2015+), Oculo and Sight for All (2016). 
	</p>
	<p>
	Jonathan's research is focussed on understanding why ageing predisposes to optic nerve disease and in particular focussing on neuroplasticity and the potential for retinal ganglion cell recovery.
	</p>
	<p>
	He has published over 160 peer-reviewed manuscripts and co-authored three books. Jonathan has received a number of awards for his research and training.  He is the recipient of the 2016 Peter Watson Medal from Cambridge Ophthalmology Society and the inaugural recipient of 2016 ARVO David L Epstein Award recognising outstanding research in Glaucoma and for mentoring young clinical investigators.
	</p>

</div>