<div class="biog">

	<div id="Leon_Au">
	<img src="/ConferencesArchives/cavan2017/biog/Leon_Au.jpg" alt="Mr Leon Au" title="Mr Leon Au" style="max-width:110px;max-height:155px;float:left;" />
	<h3>Mr Leon Au </h3>
	<p class="biogtitles">
	Consultant Ophthalmologist, Manchester Royal Eye Hospital, UK
	</p>
	<br style="clear:both;" />
	</div>
	<p>
	Leon Au graduated from the University of Nottingham in 1998 with an ophthalmology prize of the year. He completed 8 years of general ophthalmology training in Nottingham and Manchester before undertaking separate subspecialty training fellowships in cornea, glaucoma and refractive surgery. He has been a dual-specialty consultant in the Manchester Royal Eye Hospital since February 2009. His major areas of expertise are cornea related problems, external eye disease, cataract and glaucoma. He has strong interest in innovative minimally invasive glaucoma surgery and conducts clinical trials in many of these new technologies. He publishes his research regularly in peer-reviewed medical journals and he lectures in the field of cornea and glaucoma both regionally and nationally.
	</p>

</div>