<div class="biog">

	<div id="Pat_McGettrick">
	<img src="/ConferencesArchives/cavan2017/biog/Pat_McGettrick.jpg" alt="Miss Patricia McGettrick" title="Miss Patricia McGettrick" style="max-width:110px;max-height:155px;float:left;">
	<h3>Miss Patricia McGettrick</h3>
	<p class="biogtitles">
	Consultant Ophthalmologist, HSE Midlands
	</p>
	<br style="clear:both;" />
	</div>
	<p>
	Patricia McGettrick is in clinical practice as a Consultant Ophthalmologist at HSE Midlands and as one of the Programme Ophthalmologists for National Diabetic Retinopathy Screening.
	</p>
	<p>
	A graduate of UCD and a Fellow of the Royal College of Surgeons in Ireland( FRCSI), Royal College of Surgeons in Edinburgh (FRCSEd) and Royal College of Ophthalmologists in London( FRCOphth).   She convened the first of the ICO seminars on legal aspects of healthcare held during the Annual Conference of ICO in 2015, and thereafter at the College's Winter Meeting in December 2016.
	</p>
	<p>
	Patricia is a member of the Ethics and Professional Standards Committee of ICO and has a special interest in the clinical and legal aspects of Informed Consent and Open Disclosure, following on from her studies of Healthcare Ethics and Law at RCSI. 
	</p>

</div>