<div class="biog">

	<div id="Patricia_Quinlan">
	<img src="/ConferencesArchives/cavan2017/biog/Patricia_Quinlan.jpg" alt="Dr Patricia Quinlan" title="Dr Patricia Quinlan" style="max-width:110px;max-height:155px;float:left;">
	<h3>Dr Patricia Quinlan</h3>
	<p class="biogtitles">
	Consultant Ophthalmologist, Blackrock Clinic, Dublin
	</p>
	<br style="clear:both;" />
	</div>
	<p>
	Patricia Quinlan is Honorary Secretary of the Irish College of Ophthalmologists and Chairperson of the ICO Ethics and Professional Standards Committee. Patricia is a Medical Ophthalmologist practicing in Blackrock Clinic Dublin, with a special interest in Retinal Vascular Disease.
	</p>
	<p>
	She trained in Ophthalmology in the Royal Victoria Eye and Ear Hospital and completed a 2 year fellowship at the Wilmer Retinal Vascular Centre, Wilmer Eye Institute, Johns Hopkins Hospital, Baltimore, Maryland. She held the position of attending ophthalmologist at Wilmer Retinal Vascular Centre before returning to Ireland 1990. 
	</p>

</div>