<div class="biog">

	<div id="Pearse_Keane">
	<img src="/ConferencesArchives/cavan2017/biog/Pearse_Keane.jpg" alt="Mr Pearse Keane" title="Mr Pearse Keane" style="max-width:110px;max-height:155px;float:left;" />
	<h3>Mr Pearse Keane</h3>
	<p class="biogtitles">
	Consultant Ophthalmologist, Moorfields Eye Hospital London, UK
	</p>
	<br style="clear:both;" />
	</div>
	<p>
	Pearse A. Keane is a consultant ophthalmologist at Moorfields Eye Hospital, London and an NIHR Clinician Scientist, based at the Institute of Ophthalmology, University College London (UCL). Dr Keane specialises in applied ophthalmic research, with a particular interest in retinal imaging and new technologies. 
	</p>
	<p>
In April 2015, he was ranked no. 4 on a worldwide ranking of ophthalmologists under 40, published in <a href="https://theophthalmologist.com/the-power-list-2015/" title="he Ophthalmologist" target="ext"/><em>the Ophthalmologist</em> journal</a> In 2016, he initiated a formal collaboration between Moorfields Eye Hospital and Google DeepMind, with the aim of applying machine learning to automated diagnosis of optical coherence tomography (OCT) images. 
	</p>

</div>