<div class="biog">

	<div id="richard_farrell">
	<!-- img src="/ConferencesArchives/cavan2017/biog/richard_farrell.jpg" alt="Prof Richard Farrell" title="Prof Richard Farrell" style="max-width:110px;max-height:155px;float:left;" /-->
	<h3>Prof Richard Farrell</h3>
	<p class="biogtitles">
	Consultant Gastroenterologist, Connolly Hospital, Dublin

	</p>
	<br style="clear:both;" />
	</div>
	<p>
	Professor Richard Farrell graduated first in his class from UCD in 1990, obtained his MRCPI in 1993 and was awarded his MD thesis in 1998 for research on steroid resistance in inflammatory bowel disease carried out at Sir Patrick Dun’s Research Laboratory, Trinity College Dublin. 
	</p>
	<p>
	In 2000 he completed a combined Gastroenterology and Hepatology fellowship at Beth Israel Deaconess Medical Center, Boston and was appointed as a staff physician at Harvard Medical School. He was Co-Director of the Center for Inflammatory Bowel Disease until returning to Ireland in 2005 to take up his current post at Connolly Hospital and the RCSI. He served as Secretary of the Irish Society of Gastroenterology from 2007 and 2010 during which time he introduced a Direct Access Endoscopy, an IBD Nurse and an Endoscopy-based Biologic Infusion service to Connolly Hospital.  In 2010 he oversaw the move to a new state-of-the -art endoscopy department at Connolly Hospital which now performs over 7000 endoscopy cases annually. In 2013 as Clinical Lead he helped secure JAG accreditation and subsequent introduction of BowelScreen at Connolly Hospital. 
	</p>
	<p>
	He is the RCSI Graduate Entry Programme Co-ordinator for Gastroenterology & Hepatology and has fostered numerous collaborative research ties with RCSI, DCU, UCD and TCD. 
	</p>
	<p>
	
His clinical and research interests include inflammatory bowel disease, coeliac disease, colorectal cancer screening and endoscopy and has published over 100 papers, numerous book chapters, reviews and case reports

	</p>
</div>