<div class="biog">

	<div id="Stephen_McIvor">
	<img src="/ConferencesArchives/cavan2017/biog/Stephen_McIvor.jpg" alt="Stephen McIvor" title="Stephen McIvor" style="max-width:110px;max-height:155px;float:left;" />
	<h3>Stephen McIvor</h3>
	<p class="biogtitles">
	Psychologist and Former Professional Rugby Player

	</p>
	<br style="clear:both;" />
	</div>
	<p>
	Stephen McIvor operates 'Balancing Excellence' a company focused on performance psychology for athletes, coaches and teams both in sport and business. Integral in these approaches and the core research of 'Balancing Excellence' is the development of leadership skills and mental toughness while maintaining life balance. Stephen also delivers coach education programs for several institutions (Setanta College, ITT Dublin, and several NGBs). 
	</p>
	<p>Prior to this, Stephen played rugby for Munster and Ireland and worked as a professional coach in Ireland and abroad for 10 years.
	</p>
</div>