<div class="biog">

	<div id="Patricia_Quinlan">
	<img src="/ConferencesArchives/cavan2017/biog/susan_Kelly.jpg" alt="Dr Susan Kelly" title="Dr Susan Kelly" style="max-width:110px;max-height:155px;float:left;">
	<h3>Dr Susan Kelly</h3>
	<p class="biogtitles">
	Consultant Ophthalmologist
	</p>
	<br style="clear:both;" />
	</div>
	<p>
	Susan Kelly is a graduate of RCSI and commenced training as an Ophthalmologist in the Royal Victoria Eye &amp; Ear Hospital in 2002. She completed her Fellowship training in Bristol Eye Hospital and now practices with a special interest in medical retina.
	</p>

</div>