<div class="biog">

	<div id="Yvonne-Delaney">
	<img src="/ConferencesArchives/cavan2017/biog/Yvonne-Delaney.jpg" alt="Ms Yvonne Delaney" title="Ms Yvonne Delaney" style="max-width:110px;max-height:155px;float:left;">
	<h3>Ms Yvonne Delaney</h3>
	<p class="biogtitles">
	Dean of Postgraduate Education, Irish College of Ophthalmologists
	</p>
	<br style="clear:both;" />
	</div>
	<p>
	A graduate of University College Dublin. Ms Delaney is currently in position as Senior Clinical Lecturer in Ophthalmology in the Mater University Hospital and Consultant Ophthalmic Surgeon in the Bons Secours Hospital, Dublin. Her sub-specialty interest is in glaucoma particularly in the normal tension variant.  Following completion of a Masters in Higher Medical Education at the RCSI she has been Dean of Postgraduate Education at the Irish College of Ophthalmologists since 2014.
	</p>

</div>