<table>
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td>
			<p><span class="ctitle"><strong>Chair</strong></span><br />
			<strong><a data-href="colm_obrien" data-target="#biography" data-toggle="modal" href="#" title="Prof Colm O'Brien"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Prof Colm O Brien</a></strong><br />
			Consultant Ophthalmic Surgeon, Mater Misericordiae University Hospital, Dublin Professor of Ophthalmology, University College Dublin</p>
			</td>
		</tr>
		<tr>
			<td>9.00am</td>
			<td><i>Welcome Refreshments</i></td>
		</tr>
		<tr>
			<td>9.30am</td>
			<td>
			<p><strong>Clinical Education Session 1: Perimetry</strong></p>

			<p><span class="ctitle">Basics of Perimetry and Interpretation of Test Outcomes</span><br />
			<strong><a data-href="tony_redmond" data-target="#biography" data-toggle="modal" href="#" title="Dr Tony Redmond"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Dr Tony Redmond</a></strong><br />
			Reader, School of Optometry and Vision Sciences, Cardiff University, Wales</p>

			<p><span class="ctitle">Visual Field Defects in Glaucoma and Neurology</span><br />
			<strong><a data-href="emily_hughes" data-target="#biography" data-toggle="modal" href="#" title="Ms Emily Hughes"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Ms Emily Hughes </a></strong><br />
			Consultant Ophthalmic Surgeon, Galway University Hospital</p>

			<p><span class="ctitle">How Does Glaucoma Look and Feel?</span><br />
			<strong><a data-href="david_crabb" data-target="#biography" data-toggle="modal" href="#" title="Professor David Crabb"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Professor David Crabb </a></strong><br />
			Optometry and Visual Sciences, School of Health Sciences, City, University of London</p>
			</td>
		</tr>
		<tr>
			<td>11.00am</td>
			<td><i>Refreshments</i></td>
		</tr>
		<tr>
			<td>11.30pm</td>
			<td>
			<p><strong>Clinical Education Session 2: Retinopathy of Prematurity </strong></p>

			<p><span class="ctitle">Prematurity and ROP: The New Challenges</span><br />
			<strong><a data-href="john_murphy" data-target="#biography" data-toggle="modal" href="#" title="Prof John Murphy"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Professor John Murphy</a></strong><br />
			Consultant Neonatologist at the National Maternity Hospital, Dublin and Children&rsquo;s Health Ireland at Temple Street. National Clinical Lead for Neonatology</p>

			<p><span class="ctitle">Pathogenesis and Clinical Features of ROP</span><br />
			<strong><a data-href="john_stokes" data-target="#biography" data-toggle="modal" href="#" title="Mr John Stokes"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Mr John Stokes</a></strong><br />
			Consultant Ophthalmic Surgeon, University Hospital Waterford</p>

			<p><span class="ctitle">Screening and Treatment in ROP</span><br />
			<strong><a data-href="claire_hartnett" data-target="#biography" data-toggle="modal" href="#" title="Ms Claire Hartnett"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Ms Claire Hartnett</a></strong><br />
			Consultant Ophthalmic Surgeon, Children&#39;s Health Ireland at Temple Street and Bon Secours Hospital, Dublin</p>

			<p><span class="ctitle">&#39;Northern Ireland Experience in ROP Screening and Management</span><br />
			<strong><a data-href="eibhlin_mcloone" data-target="#biography" data-toggle="modal" href="#" title="Ms Eibhlin McLoone  "><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Ms Eibhlin McLoone </a></strong><br />
			Consultant Ophthalmologist, Royal Victoria Hospital, Belfast HSC Trust, Northern Ireland</p>
			</td>
		</tr>
		<tr>
			<td>1.00pm</td>
			<td><i>Lunch</i></td>
		</tr>
		<tr>
			<td>2.00pm</td>
			<td>
			<p><strong>Clinical Education Session 3: Keratoconus</strong></p>

			<p><span class="ctitle">Keratoconus: A General Overview</span><br />
			<strong><a data-href="marchien_dallinga" data-target="#biography" data-toggle="modal" href="#" title="Dr Marchien Dallinga"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Dr Marchien Dallinga</a></strong><br />
			Corneal Fellow, Royal Victoria Eye and Ear Hospital, Dublin</p>

			<p><span class="ctitle">Contact Lens Management of Keratoconus</span><br />
			<strong><a data-href="cian_guildea" data-target="#biography" data-toggle="modal" href="#" title="Mr Cian Guildea"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Mr Cian Gildea</a></strong><br />
			Contact Lens Specialist, Royal Victoria Eye and Ear Hospital, Dublin</p>

			<p><span class="ctitle">Delivering an Effective Corneal Crosslinking Service for Keratoconus</span><br />
			<strong><a data-href="diana_malata" data-target="#biography" data-toggle="modal" href="#" title="Ms Diana Malata"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Ms Diana Malata</a></strong><br />
			Advanced Nurse Practitioner, Royal Victoria Eye and Ear Hospital, Dublin</p>

			<p><span class="ctitle">Optimising Keratoplasty Outcomes in Keratoconus</span><br />
			<strong><a data-href="conor_murphy" data-target="#biography" data-toggle="modal" href="#" title="Professor Conor Murphy"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Professor Conor Murphy</a></strong><br />
			Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital, Dublin; Chair and Professor of Ophthalmology, RCSI University of Medicine and Health Sciences</p>
			</td>
		</tr>
		<tr>
			<td>3.30pm</td>
			<td><i>Comfort Break</i></td>
		</tr>
		<tr>
			<td>3.40pm</td>
			<td>
			<p><strong>Keynote Talk: &quot;Learnings from Covid-19&quot; </strong></p>

			<p><strong><a data-href="colm_henry" data-target="#biography" data-toggle="modal" href="#" title="Dr Colm Henry"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Dr Colm Henry</a></strong><br />
			Chief Clinical Officer, Health Service Executive</p>
			</td>
		</tr>
		<tr>
			<td>4.30pm</td>
			<td><i>Meeting Close</i></td>
		</tr>
	</tbody>
</table>
