<!-- <h3>Dr Margaret Morgan</h3>
<br> -->
<div>
	<img src="/EyeCareInFocus/photos/Cian_Gildea.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Clinical Optometrist and Contact lens specialist.</h5>

<p>Cian Gildea graduated from Dublin Institute of Technology in 2014 with a Bachelor of Science in Optometry.</p>

<p>During his degree, he spent his clinical placement in the University of Houston College of Optometry.</p>

<p>Cian is a Fellow of the Association of Optometrists Ireland (FAOI), the International Association of Contact Lens Educators (FIACLE) and faculty for European school of Scleral lens education.</p>

</div>
