<div>
	<img src="/EyeCareInFocus/photos/claire-hartnett.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Ophthalmic Surgeon, Children's Health Ireland at Temple Street and Bon Secours Hospital, Dublin</h5>

<p>Ms. Claire Hartnett is a Consultant Ophthalmic Surgeon and completed her Ophthalmic Surgery Higher Surgical Training in Ireland in 2017. She undertook her fellowship training in Paediatric and Adult Ophthalmic Surgery in Great Ormond Street Hospital and The Royal Hospital, London.</p>

<p>In February 2019, she commenced her role as Consultant Ophthalmic Surgeon in Temple Street Children's University Hospital, Dublin and in June 2019 her private practice in the Bon Secours Hospital Dublin.</p>

</div>
