<div>
	<img src="/EyeCareInFocus/photos/colm-o-brien.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Ophthalmic Surgeon, Mater Misericordiae University Hospital, Dublin 
Professor of Ophthalmology, University College Dublin.</h5>

<p>Professor O'Brien is a glaucoma specialist and a clinician scientist with a long track record of translational research in glaucoma and a keen interest in mentoring trainee clinicians and scientists. The current interests of his research group include the cellular mechanisms that underlie the fibrotic pathological changes in the optic nerve and trabecular meshwork, including genetic and epigenetic alterations.</p>
<p>The research also explores new therapeutic interventions including nutritional supplementation to improve visual function in glaucoma. He has also published on quality of life issues, ocular blood flow and trend analysis of visual field progression in glaucoma. He has published 173 peer-reviewed publications, has a h-index 44 (ResearchGate), and has supervised 42 higher degrees to completion (PhD, MSc, MD).
</p>

</div>
