<div>
	<img src="/EyeCareInFocus/photos/colm-henry.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Chief Clinical Officer, Health Service Executive.</h5>

<p>Dr Colm Henry was appointed as Chief Clinical Officer of the HSE in April 2018. He previously served as the National Clinical Advisor and Group Lead for Acute Hospitals from 2014 – 2018, National Lead for the Clinical Director Programme from 2012 to 2014 and Clinical Director of the Mercy University Hospital Cork from 2009 to 2012. Following medical qualification, he underwent training initially in Ireland and completed higher specialty training in Scotland. He returned to Ireland following his appointment to the Mercy University Hospital as Consultant Geriatrician in 2002.</p>

<p>As the HSE’s first Chief Clinical Officer, he is responsible for aligning clinical expertise and leadership across the healthcare system from service and policy design to planning and implementation. A core function of the post is the design and implementation of clinical models of care to respond to and meet the challenges of healthcare in the 21st century. His office also is responsible for setting quality and patient safety standards across the health system and ensuring these are met. He is accountable for a number of key national services such as the National Cancer Control Programme and National Screening Service as well as Public Health reform. Dr Henry has led the clinical response within the HSE to the COVID-19 Pandemic since the first case emerged in February 2019, providing clinical leadership to the HSE Vaccine programme and its rollout to the Irish population. 
</p>

<p>He attended University College Dublin where he obtained his MB BCh BAO in 1988, and the National University of Ireland, Galway, where he received a Bachelor’s of Arts degree in the Irish language 2017. </p>

<p>Dr Henry is originally from Cavan Town and now lives in Cork with his family.</p>

</div>
