<div>
	<img src="/EyeCareInFocus/photos/diana-malata.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px ">
<h5>Advanced Nurse Practitioner in the Eye and Ear Hospital in Dublin.</h5>

<p>Diana Malata completed her Bachelor of Nursing degree in the Philippines. Following this, she specialised in Ophthalmic Surgery and worked as an Operating Theatre Nurse in Saudi Arabia and Egypt. She qualified as an RGN in Ireland in 2004 and joined the Royal Victoria Eye and Ear Hospital as a Staff Nurse in the Eye Operating Theatre.  She went on to complete a Higher Diploma in Ophthalmic Nursing in the Royal College of Surgeons in Ireland (RCSI) in 2007. In 2016, she completed her MSc Nursing in RCSI and registered as a nurse prescriber in 2017. She worked as Clinical Research Nurse in the RCSI Department of Ophthalmology, and as a Corneal Nurse Specialist in the Eye and Ear Hospital from November 2014 to November 2018. </p>

<p>Diana is currently an Advanced Nurse Practitioner in the Eye and Ear Hospital in Dublin. She played a lead role in setting up of nurse-led anterior segment clinics there. She was a recipient of the JC Coleman Research award in 2018 for her work in setting up Ireland's first Nurse-led Corneal Crosslinking Service. She was awarded the RCSI Fellowship of the Faculty of Nursing and Midwifery (FFNMRCSI) by examination in 2021. 
</p>



</div>
