<div>
	<img src="/EyeCareInFocus/photos/eibhlin_mcloone.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Ophthalmologist, Royal Victoria Hospital, Belfast HSC Trust, Northern Ireland</h5>

<p>A Consultant Paediatric Ophthalmic Surgeon at the Royal Victoria Hospital, Belfast since 2005, Ms Eibhlin McLoone is the Lead Clinician for the Paediatric Ophthalmology Network Northern Ireland. She is also an Honorary Lecturer with Queen’s University Belfast.
</p>

<p>As well as being Chair of the Northern Ireland Retinopathy of Prematurity (ROP) steering group, Ms McLoone is a member of the UK ROP Special Interest Group, UK Paediatric Glaucoma Society and the British Isles Congenital Cataract Interest Group.</p>

</div>
