<div>
	<img src="/EyeCareInFocus/photos/emily-hughes.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Ophthalmic Surgeon, Galway University Hospital.</h5>

<p>Ms. Emily Hughes is a Consultant Ophthalmic Surgeon, sub-specialising in glaucoma. She graduated from medicine with First Class Honours from National University of Ireland, Galway in 2010. After an internship in the Mater Misericordiae University Hospital Dublin, she proceeded to complete a 2 year Degree of Doctor of Medicine (MD) investigating the role of the Retinal Pigment Epithelium in Optic Disc Cupping in Glaucoma in University College Dublin. Following completion of her ophthalmic surgery specialty training in Ireland in 2020, she pursued an American Glaucoma Society accredited fellowship in the surgical management of adult glaucoma in University of Pittsburgh Medical Center, Pittsburgh, USA. </p>
<p>
She is currently working as a consultant in University Hospital Galway. Her other passions are the Irish language, acrylic painting and cooking.  </p>

</div>
