<div>
	<img src="/EyeCareInFocus/photos/john-stokes.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Ophthalmic Surgeon, University Hospital Waterford</h5>

<p>Mr. John D. Stokes graduated from University College Dublin and underwent post graduate training in Ophthalmic Surgery in Edinburgh. He gained a Doctorate in Medicine (MD) for his research thesis on the “Role of Glucocorticoids in Primary Open Angle Glaucoma” (University of Edinburgh & University College Dublin). He completed a Fellowship in Paediatric Ophthalmology & Strabismus in Vancouver Canada.</p>

<p>Mr. Stokes has worked as a Consultant Ophthalmic Surgeon and Clinical Lead in the U.K. (Nottingham University Hospitals NHS Trust, Queens Medical Centre Campus) until 2009. In 2009.  Mr. Stokes took up a position as Consultant Ophthalmic Surgeon at University Hospital Waterford. His special interests include Paediatric Ophthalmology, Adult Strabismus, Uveitis, Cataract surgery and Glaucoma surgery.</p>

</div>
