<div>
	<img src="/EyeCareInFocus/photos/john-murphy.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Neonatologist, National Maternity Hospital, Dublin, and Children’s Health Ireland at Temple Street. National Clinical Lead for Neonatology.</h5>

<p>Professor John Murphy is a Consultant Neonatologist at the National Maternity Hospital, Holles Street and the Children’s Hospital Temple Street.   He is an Associate Professor of Paediatrics at the Royal College of Surgeons in Ireland and the National Clinical Lead in Neonatology.  He is the editor of the Irish Medical Journal and a national specialist trainer in paediatrics, Royal College of Physicians of Ireland.</p>

</div>
