<div>
	<img src="/EyeCareInFocus/photos/marchien-dallinga.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Corneal Fellow, Royal Victoria Eye and Ear Hospital, Dublin</h5>

<p>Dr Marchien Dallinga was born in the Netherlands. After completion of her medical degree at the Rijksuniversiteit Groningen, she spent time at the University of California, Los Angeles as part of her research training. She went on to pursue a career in ophthalmology, which first led her to the University of Amsterdam and University College London for a PhD on endothelial subtypes in angiogenesis. She then started her clinical training at the Amsterdam University Medical Centers,  which she completed in 2022.</p>

<p>Marchien joined the Royal Victoria Eye and Ear Hospital in July 2022 to commence a clinical fellowship on cornea and uveitis.</p>

</div>
