<!-- <h3>Dr Margaret Morgan</h3>
<br> -->
<div>
	<img src="/EyeCareInFocus/photos/Margaret-Morgan.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Medical Ophthalmologist, CHO 7 &amp; Royal Victoria Eye and Ear Hospital, Dublin.</h5>

<p>Dr Margaret Morgan is a Consultant Medical Ophthalmologist based in Dublin with a clinical
commitment in Community Healthcare Organisation 7 and the Royal Victoria Eye and Ear Hospital with
an interest in developing eye services for adults in the community.</p>

<p>She led a pilot service for diabetic retinopathy screening and was the first clinical lead for the
development and rollout of the National Diabetic Retinopathy Screening Service in Ireland.</p>

<p>Dr Morgan is a member of the newly formed service development committee of the Irish College of
Ophthalmologists.</p>

</div>
