<div>
	<img src="/EyeCareInFocus/photos/tony-redmond.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Reader in Vision Science, School of Optometry and Vision Sciences, Cardiff University, Wales.</h5>

<p>Dr Tony Redmond is Reader in Vision Science at the School of Optometry and Vision Sciences, Cardiff University, Wales. His main research interests are in basic and clinical psychophysics. He leads a multi-disciplinary research lab in Cardiff, and his research is mainly aimed at gaining a better understanding of the functional architecture of the healthy visual system and how it is altered in neurodegenerative disorders such as glaucoma and macular degeneration.</p>
<p>To address these aims, the lab uses a combination of psychophysics, electrophysiology, retinal imaging, and fMRI. This understanding is also used to inform the design of accurate and precise clinical tools for identifying the earliest deficits of visual perception in these disorders. He is Principal Investigator on the REVAMP study, a large MRC-funded UK-wide translational programme of research into improved perimetry methods for detection and monitoring of glaucoma based on evidence from basic and clinical psychophysics research (<a href="https://www.revamp-vision.com" title="Visit revamp-vision.com - opens in a new window" target="ext">www.revamp-vision.com</a>) </p>

</div>
