<h1>Irish College of Ophthalmologists Celebrate 100th Anniversary of Founding Society</h1>

<h2>Special Commemorative Book Reflects on 100 Years of Eye Care in Ireland</h2>

<div class="book"><a class="btn" href="/medium/files/ICO_100_commemoration.pdf">Download The Commemorative Book Now (PDF)</a></div>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p style="float:left;display:block;width:180px;"><img src="/medium/images/JohnBenjaminStorey.jpg" title="Dr John Benjamin Storey" /> <span style="font-size:0.8em"><b>Dr John Benjamin Storey</b><br />
Founder of the IOS in 1918.<br />
Photo courtesy of the RCSI</span></p>

<p>The year 2018 marked the very significant milestone of the 100th anniversary of the founding of the Irish Ophthalmological Society (IOS), the forerunner to the Irish College of Ophthalmologists.</p>

<p>The establishment of the Irish Ophthalmological Society is credited to Irish ophthalmologist, Dr John Benjamin Storey, in 1918. Dr Storey was among the many influential Irish figures in ophthalmology of international standing in the 19th and early 20th century, alongside Sir Henry Rosborough Swanzy&nbsp; (1843-1913),&nbsp;Sir Arthur Jacob (1790-1874) and Sir William Wilde (1815-1876).&nbsp;&nbsp;</p>

<p>Dr John Benjamin Storey served as President of the Royal College of Surgeons in Ireland from 1918-20 and during the same period, as President of the Ophthalmological Society of the United Kingdom. Almost certainly, the prospect of this honorary office underlined for Dr John Benjamin Storey the lack of an equivalent society in Ireland, prompting him to found the IOS in 1918. He was elected President of the Society from 1921-23.</p>

<p>The IOS would later merge with the younger Faculty of Ophthalmology in 1992 to form the Irish College of Ophthalmologists, the accredited postgraduate training body in Ireland for ophthalmologists. The ICO has successfully forged its own unique path in postgraduate education, overseeing national training programmes in both medical and surgical ophthalmology and is the professional and representative body for eye doctors in Ireland.</p>

<p>The ICO is dedicated to promoting excellence in eye care through the education of its members, trainees and the public. Its goal is to maintain standards of excellence for the restoration of vision and the preservation of sight. We do this by educating eye doctors in training, providing on-going education for eye doctors in practice, giving accurate medical advice to the public and policy guidance for the government.</p>

<p>To mark the occasion, the College created a special commemorative booklet, providing an overview of the evolution and the delivery of ophthalmic services to patients in Ireland over the last number of decades. A motivation in developing the commemorative booklet was also to highlight the influence the specialty has had on wider health care reforms in the interests of advancing and promoting the highest standards of patient care in Ireland.</p>
