<h1>Cookie Policy</h1>

<h2>What is a cookie?</h2>
<p>A cookie is a small piece of data that may be stored on your computer or mobile device. It allows a website &quot;remember&quot; your actions or preferences over a length of time.</p>
<p>Further information on cookies can be found at:</p>
<p><a href="http://ec.europa.eu/ipg/basics/legal/cookies/index_en.htm" target="_blank">http://ec.europa.eu/ipg/basics/legal/cookies/index_en.htm</a></p>
<h2>How are they used on this site?</h2>
<p>This site uses two different types of cookies:</p>
<ul>
<li>Session Cookies</li>
<li>Persistent Cookies</li>
</ul>

<p class="px-4"><strong style="color:#d24d00;">Session Cookies</strong> are temporary cookies that are not stored on your computer or mobile device. They are used as part of the registration process for security purposes. A session cookie is also used to remember you when you're filling in your details when you enter a competition. 
<br/>These session cookies are erased when you close your browser, or after 20 minutes of inactivity.</p>


</p>

 <p class="px-4 py-3"><strong style="color:#d24d00;">Persistent cookies</strong> are those placed on your computer or mobile device for a pre-determined length of time when you visit this site. This site only places cookies that are specific to this site.</p>

<h2>Cookies used on eyedoctors.ie</h2>
<p>Eye Doctors uses Google Analytics to ensure we provide relevant information in an easily accessible format.</p>
                
<script id="CookieDeclaration" src="https://consent.cookiebot.com/ed6ba8e2-0196-4822-bcd8-1dabdbc82e00/cd.js" type="text/javascript" async></script>


             
<h2>Managing Cookies</h2>
<p>Within your browser you can choose whether you wish to accept cookies or not. Different browsers make different controls available to you and so we provide links below to popular manufacturers' instructions on how you can do this.Generally, your browser will offer you the choice to accept, refuse or delete cookies at all times, or those from providers that website owners use ("third party cookies"), or those from specific websites.</p>
<ul>
    <li><a href="https://support.google.com/chrome/answer/95647" target="_blank">Google Chrome</a> </li>
    <li><a href="https://support.microsoft.com/en-ie/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">Internet Explorer</a> </li>
    <li><a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences" target="_blank">Firefox</a> </li>
    <li><a href="https://support.apple.com/kb/ph21411?locale=en_US" target="_blank">Safari</a> </li>
    <li><a href="https://support.apple.com/en-us/HT201265" target="_blank">Safari Mobile</a> </li>
    <li><a href="https://www.opera.com/help/tutorials/security/cookies/" target="_blank">Opera</a> </li>
</ul>



<h2>You can change your mind</h2>
<p>As often as you like</p>
<p>From anywhere on the site,scroll down to the bottom of the page and click <em>Cookie Preferences</em></p>