<h1>Governance</h1>

<p>The ICO is a company limited by guarantee with charitable status. The governance oversight is provided by a voluntary Board of Directors elected from the membership.</p>

<p>As a registered charity, the ICO is committed to our compliance with the requirements of the Charities Governance Code.</p>

<p>The ICO has established its governance structures, policies and procedures to comply with the Code and to safeguard good governance of the organisation.</p>

<h2>ICO Constitution</h2>

<p>The governing instrument of a corporate charity, previously known as a Memorandum and Articles of Association, is called a Constitution.</p>

<p><a class="btn" href="/medium/files/ICO-Constitution.pdf" target="download" title="Download the constitution">Download the constitution</a></p>
<!--
<h2>Annual Report</h2>
<p>Annual Report 2020</p>
-->

<h2>Operational Structure and Reporting</h2>

<p>The ICO is a membership based organisation with an annual subscription fee. Our members and trainees are a very important resource for the College. We rely on this community to help shape our policy, inform our leadership and develop the future of medical education, practice and healthcare. Our goal is to develop, encourage and continually expand relationships within the College at all levels, from the innovative trainee perspective to the invaluable experience of life and senior members.</p>

<p>A voluntary Board of Directors is elected from the membership to provide governance oversight and policy guidance.</p>

<p>The Chairman of the Board, along with the other directors, sets the policy direction for the ICO and oversees the administration of affairs. The Chairman and the Board of Directors are charged with setting the strategy and goals of the ICO.</p>

<p>A number of voluntary committees of the Board focus and advise on the specific areas of ICO activity, including Specialty Training and Continuing Medical Education. The Executive team is comprised of a Chief Executive along with operational roles within the organisation: Training Programme Manager, Professional Competence Manager, Communications and Advocacy Manager, and Management Services. The ICO staff are responsible for implementing the strategy and running the day to day activities of the College.</p>

<h2>Reporting</h2>

<p>The ICO holds an Annual General Meeting (AGM) where our annual accounts are presented to the members for approval. These accounts are also included in our Annual Report which is published on our website. The College has a number of income streams. Members pay an annual subscription fee; the College runs educational events including an annual summer meeting for which there is a registration fee and a trade exhibition supported by pharmaceutical and instrument &amp; device companies; the College has a service level agreement in place with the HSE for the delivery of specialist training and specialist support for the clinical programme; and the College receives industry support to fund its annual bursaries and research.</p>

<h2>ICO Training Accreditation Standards&nbsp;</h2>

<div>In order to deliver excellence in ophthalmic education and training, the establishment of an agreed set of standards for basic and higher training posts is necessary. These standards form the basis for training post inspections and audit for all basic and Higher Ophthalmic training posts in Ireland.&nbsp;&nbsp;<br />
<br />
The accreditation of the training posts process is structured on the basis of ensuring that the quality and standard of ophthalmic training is consistent across training posts and equivalent to best practice in the sector. These documents set out the system of accreditation of the self-evaluation, assessment, inspection and award and the governance and procedures underpinning it.</div>

<div>&nbsp;</div>

<p><a href="/medium/images/ICO_Accreditation_Standards_for_Inspections_V1_2022_(1)-a.pdf" target="_blank">ICO Criteria and Standards for the Accreditation of Ophthalmic Training Posts</a></p>

<p><a href="/medium/files/ICO-Governance-procedures-Guidelines-for-Accreditation_2022.pdf">ICO Governance, Procedures &amp; Guidelines for the Accreditation of Ophthalmic Training Posts in Ireland</a></p>
