<h1>ICO Mission&nbsp;Statement&nbsp;</h1>


<h2>ICO Strategic Plan 2020-2023</h2>

<h3><strong>The ICO strategic plan sets out the direction and goals of the College</strong></h3>

<p>The College continues to&nbsp;build on our existing strengths to ensure impact on eye care in Ireland. The key areas of focus are as follows:</p>

<h2>1. EDUCATION&nbsp;</h2>

<ul>
	<li>Continue to develop and refine the training pathways to ensure they are producing specialists who can meet the current and future needs of society</li>
	<li>Incorporate the latest technology to develop new ways to learn and collaborate</li>
	<li>Create innovative educational programmes to develop essential clinical and non-clinical skills</li>
	<li>Ensure Trainees are appropriately supported and mentored</li>
	<li>Further develop our international medical education and training programmes for doctors who wish to train in Ireland</li>
	<li>Continue to collaborate with our sister Training Colleges in the education &amp; training of medical &amp; surgical colleagues</li>
</ul>

<h2>2. PROFESSIONAL PRACTICE</h2>

<ul>
	<li>Enhance life-long learning and professional development</li>
	<li>Introducing and maintaining standards and guidelines to support best medical practice</li>
	<li>Continue to develop an extensive programme of innovative professional development courses, educational events, workshops and conferences covering a wide range of clinical and non-clinical topics</li>
	<li>Prioitise and invest in the support of physician wellbeing</li>
</ul>

<h2>3. SHARING EXPERTISE</h2>

<ul>
	<li>Use our expertise to help influence healthcare policy in the best interests of the delivery of safe, quality care</li>
	<li>Support the development &amp; implementation of an integrated eye-care model</li>
	<li>Collaborate with healthcare stakeholders to develop tailored educational programmes for the health service as a whole</li>
	<li>Continue working with other organizations to improve quality and safety for patients</li>
	<li>Collaborate with leaders in healthcare on system design and innovation with a view to improving access to care</li>
	<li>Engage externally to ensure the public is informed about best practice in health, healthcare and wellbeing and on the primary risk factors associated with the most common causes of sight loss</li>
</ul>

<h2>4. ORGANISATIONAL EXCELLENCE</h2>

<ul>
	<li>Continuously improve the organizational structure of the College and the processes used for College business</li>
	<li>Develop adaptability and responsiveness based on a culture of continual improvement, innovation and learning.</li>
	<li>Improve performance through the use of data, information and knowledge to understand variability and to improve strategic and operational decision making.</li>
	<li>Focus on sustainable achievement of goals, results, values and outcomes.</li>
	<li>Behave in an ethically, socially and environmentally responsible manner</li>
</ul>

<p>Download <a href="/medium/images/ICO_S_Plan_20-23_FINAL-d.pdf" target="_blank">ICO Strategic Plan 2020-2023&nbsp;</a></p>
