<h1>Structure</h1>

<h2>Board of Directors</h2>

<div class="row">
<div class="col-sm-12 col-md-6"><img alt="John Doris" class="center-block img-responsive" src="\medium\images\John_Doris_245X300.jpg" title="John Doris" />
<h3 class="text-center"><a href="/opthalmologists/doctor/203/John-Doris/" title="John Doris">John Doris</a></h3>

<h4 class="text-center" style="padding-top:0;margin-top:0">President, Chair of the Board and Director</h4>
</div>

<div class="col-sm-12 col-md-6"><img alt="Gerry Fahy" class="center-block img-responsive" src="\medium\images\gerry_fahy_245X300.jpg" title="Gerry Fahy" />
<h3 class="text-center"><a href="/opthalmologists/doctor/83/Gerry-Fahy/" title="Gerry Fahy">Gerry Fahy</a></h3>

<h4 class="text-center" style="padding-top:0;margin-top:0">President Elect and Director</h4>
</div>
</div>

<div class="row" style="margin-left:5px;">
<h3>Directors:</h3>

<ul class="list-group row">
	<li class="list-group-item col-xs-5 col-md-2" style="margin-right:5px; "><a href="/opthalmologists/doctor/165/Geraldine-Comer/" title="Geraldine Comer">Geraldine Comer</a></li>
	<li class="list-group-item col-xs-5 col-md-2" style="margin-right:5px; "><a href="https://www.eyedoctors.ie/opthalmologists/doctor/172/Tim-Fulcher/" target="_blank">Tim Fulcher&nbsp;</a></li>
	<li class="list-group-item col-xs-5 col-md-2" style="margin-right:5px; "><a href="https://www.seangallagher.com/about" target="_blank">Sean Gallagher</a>&nbsp;</li>
	<li class="list-group-item col-xs-5 col-md-2" style="margin-right:5px; "><a href="/opthalmologists/doctor/319/Mark-James/" title="Mark James">Mark James</a></li>
	<li class="list-group-item col-xs-5 col-md-2" style="margin-right:5px; "><a href="#" title="Elizabeth McElnea">Elizabeth McElnea</a></li>
	<li class="list-group-item col-xs-5 col-md-2" style="margin-right:5px; "><a href="/opthalmologists/doctor/117/James-O-Reilly/" title="James O'Reilly">James O Reilly</a></li>
	<li class="list-group-item col-xs-5 col-md-2" style="margin-right:5px; "><a href="https://www.eyedoctors.ie/opthalmologists/doctor/104/Conor-Murphy/" target="_blank">Conor Murphy</a></li>

	<li class="list-group-item col-xs-5 col-md-2" style="margin-right:5px; "><a href="/opthalmologists/doctor/340/Micheal-O-Rourke/" title="Micheal O'Rourke">Mich&aacute;al O'Rourke</a></li>
		<li class="list-group-item col-xs-5 col-md-2" style="margin-right:5px; "><a href="https://www.eyedoctors.ie/opthalmologists/doctor/70/Shauna-Quinn/" target="_blank">Shauna Quinn</a></li>
	<li class="list-group-item col-xs-5 col-md-2" style="margin-right:5px; "><a href="/opthalmologists/doctor/132/Mary-Jo-Ryan/" title="Mary Jo Ryan">Mary Jo Ryan</a></li>


	<li class="list-group-item col-xs-5 col-md-2" style="margin-right:5px; "><a href="https://www.eyedoctors.ie/opthalmologists/doctor/313/Olya-Scannell/" target="_blank">Olya Scannell</a></li>
	
</ul>

<p style="text-align: justify; ">A number of voluntary committees advise the Board on the specific areas of ICO activity&nbsp;including the&nbsp;Training Regulations&nbsp;and Standards Committee, the&nbsp; Training&nbsp;Advisory Committee, the Scientific &amp; Continuing Professional Development Committee, the Service Development Committee, the Governance and Nominations Committee and the Finance Committee</p>
</div>

<div class="row" style="margin-left:5px;">
<h3>Dean of Post Graduate Education</h3>

<ul>
	<li class="list-group-item col-xs-5 col-md-2" style="margin-right:5px; "><a href="https://www.eyedoctors.ie/opthalmologists/doctor/120/Yvonne-Delaney/" target="_blank">Yvonne Delaney</a></li>
</ul>
</div>

<div class="row" style="margin-left:5px;">
<h3>National Clinical Lead in Ophthalmology</h3>

<ul>
	<li class="list-group-item col-xs-5 col-md-2" style="margin-right:5px; "><a href="https://www.eyedoctors.ie/opthalmologists/doctor/2/Aoife-Doyle/" target="_blank">Aoife Doyle</a></li>
</ul>
</div>

<div class="row" style="margin-left:5px;">
<h2>Past Presidents</h2>

<ul>
	<li>Stewart Johnston <span style="color:#004b8d">1991-1993</span></li>
	<li>Peter Eustace <span style="color:#004b8d">1993-1995</span></li>
	<li>John Nolan <span style="color:#004b8d">1995-1997</span></li>
	<li>Roger Bowell <span style="color:#004b8d">1997-1999</span></li>
	<li>Louis Collum <span style="color:#004b8d">1999-2001</span></li>
	<li>Brendan Young <span style="color:#004b8d">2001-2003</span></li>
	<li>Philip Cleary <span style="color:#004b8d"> 2003-2005</span></li>
	<li>Robert Acheson <span style="color:#004b8d">2005-2007</span></li>
	<li>Peter Tormey <span style="color:#004b8d">2007-2009</span></li>
	<li>Paul Moriarty <span style="color:#004b8d">2009-2011</span></li>
	<li>Patricia Logan <span style="color:#004b8d">2011-2013</span></li>
	<li>Marie Hickey Dwyer <span style="color:#004b8d">2013-2015</span></li>
	<li>William Power <span style="color:#004b8d">2015-2017</span></li>
	<li>Alison Blake <span style="color:#004b8d"> 2017-2019 </span></li>
	<li>Patricia Quinlan <span style="color:#004b8d">2019-2021</span></li>
	<li>Tim Fulcher <span style="color:#004b8d">2021-2023</span></li>
	<li>John Doris <span style="color:#004b8d">2023-</span></li>
</ul>
</div>

<div class="row" style="margin-left:5px;">
<h2>College Executive</h2>

<ul>
	<li>CEO: Siobhan Kelly 01 402 2777 <a href="mailto:siobhan.kelly@eyedoctors.ie">siobhan.kelly@eyedoctors.ie</a></li>
	<li>Training Programme Manager: Rebecca Martin 01 402 2777 / 086 075 7603 <a href="mailto:rebecca.martin@eyedoctors.ie">rebecca.martin@eyedoctors.ie</a></li>
	<li>Senior Training and Operations Administrator, Andrea Farrell&nbsp;<span background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">&nbsp;01 402 2777 / 086 440 9291&nbsp;</span><a href="mailto:andrea.farrell@eyedoctors.ie" style="color: rgb(7, 130, 193); font-family: sans-serif, Arial, Verdana, &amp;quot;Trebuchet MS&amp;quot;; font-size: 13px; background-color: rgb(255, 255, 255);">andrea farrell@eyedoctors.ie</a></li>
	<li>Training and Education Support Administrator, Chloe Moran 01 402 2777 /&nbsp;chloe.moran@eyedoctors.ie</li>
	<li>Communications Manager; Ciara Keenan 01 402 2777 / 086 369 4427 <a href="mailto:ciara.keenan@eyedoctors.ie">ciara.keenan@eyedoctors.ie</a></li>
	<li>Professional Competence Manager: Niamh Coen 01 402 2777&nbsp;<a href="mailto:niamh.coen@eyedoctors.ie" style="color: rgb(7, 130, 193);">niamh.coen@eyedoctors.ie</a></li>
</ul>
</div>
