<h1>Irish College of Ophthalmologists Communications Department</h1>

<p>The Irish College of Ophthalmologists (ICO) is the recognised training and professional body for medical and surgical eye doctors in Ireland.&nbsp;</p>

<p>We promote excellence in eye care and our goal is to maintain standards of excellence for the restoration of vision and the preservation of sight.</p>

<p>We do this by educating eye doctors in training, providing on-going education for eye doctors in practice, giving accurate medical advice to the public and media, and policy guidance for the government.</p>

<p><a href="/medium/files/Irish College of Ophthalmologists Media Fact Sheet.pdf" target="pdf" title="Media Fact sheet">Media Fact sheet</a></p>

<p>We encourage any enquiries in relation to eye health in Ireland and welcome the opportunity to:</p>

<ul>
	<li>Advise the general public on best practices</li>
	<li>Offer medical experts for comment to health media</li>
	<li>Work together with other stakeholders in the eye care sector to ensure standards of excellence are met and maintained</li>
</ul>

<p>&nbsp;</p>

<p>Our aim is to increase public knowledge and understanding of the activities and aims of the College, and be a central source of all information pertaining to eye health care in Ireland.</p>

<h2>Contact for Media Enquiries:</h2>

<p>For media enquiries, please contact:</p>

<p style="padding-left:80px;"><b>Ciara Keenan</b>, Communications Manager, Irish College of Ophthalmologists<br />
<a href="mailto:ciara.keenan@eyedoctors.ie?subject=Media Enquiries">ciara.keenan@eyedoctors.ie</a><br />
<a class="phonenumber" href="tel:014022777">01 402 2777</a> / <a class="phonenumber" href="tel:0863694427">086 369 4427</a></p>

<p style="padding-left:80px;"><b>Siobhan Kelly</b>, CEO, Irish College of Ophthalmologists<br />
<a href="mailto:siobhan.kelly@eyedoctors.ie?subject=Media Enquiries">siobhan.kelly@eyedoctors.ie</a><br />
<a class="phonenumber" href="tel:014022777">01 402 2777</a> / <a class="phonenumber" href="tel:0863084445">086 308 4445</a></p>

<p>&nbsp;</p>
