<h1>About the ICO&nbsp;</h1>

<p>Established in 1992, the Irish College of Ophthalmologists (ICO) is the recognised training and professional body for medical and surgical eye doctors in Ireland.</p>

<p>In 2018, the ICO marked the very significant milestone of the 100<sup>th</sup> Anniversary of the founding of the Irish Ophthalmological Society (IOS), the forerunner to the Irish College of Ophthalmologists.</p>

<p>The ICO is a registered Irish charity.&nbsp; We are committed to the advancement and improvement of eye health and patient safety and work to protect, enhance and promote the highest standards in the delivery of eye care.</p>

<p>The delivery of healthcare requires a lifelong commitment to learning and the ICO&rsquo;s goal is to provide and support education and learning for ophthalmologists in training, in practice and those who work alongside them as they deliver care to patients.</p>

<h2><strong>OUR ROLE:</strong>​</h2>

<h4><strong>1. TRAINING </strong></h4>

<p>The Irish College of Ophthalmologists is responsible for postgraduate specialist medical education and training in the specialty of Ophthalmology.&nbsp; The ICO is the Medical Council accredited body to deliver the National Training Programme in Medical and in conjunction with the RCSI, Surgical Ophthalmology. The ICO provides the governance, structure and standards for postgraduate education, training and assessment.</p>

<p>The ICO is committed to the ongoing development and evolution of the training pathways to ensure we are producing specialists who can meet the current and future eye care needs in our population.</p>

<p>Our trainees are supported and guided, through the specialist-training pathway, to ensure the highest standards of essential clinical and non-clinical skills.</p>

<h4><strong>2. ONGOING EDUCATION OF OPHTHALMIC SPECIALISTS</strong></h4>

<p>Ongoing Medical Education and Continuing Professional Development are essential aspects of professional practice. Participation in a professional competence scheme is a requirement for all medical practitioners registered with the Medical Council in Ireland.</p>

<p>The ICO is committed to enhancing and promoting life-long learning and providing on-going professional development supports to our members and members of the Integrated Eye Care Team.</p>

<p>The ICO continues to develop an extensive programme of professional development courses, educational meetings, workshops and conferences covering a wide range of clinical and non-clinical topics through the designated ICO Professional Competence Scheme. &nbsp;</p>

<h4><strong>3. ADVOCACY</strong></h4>

<p>The ICO acts as an<strong> advocate</strong>&nbsp;on behalf of patients&nbsp;and the specialty to strive for the best eye healthcare system for patients and for doctors.</p>

<p>We do this through<strong> collaboration</strong>&nbsp;with patient support groups on our shared goals, <strong>leading</strong>&nbsp;on healthcare practice and patient focused policy decisions and <strong>educating</strong>&nbsp;the public to help increase awareness of good eye care practices.</p>

<h3><strong>Underpinning all ICO activity is a commitment to:</strong></h3>

<p><strong>Integrity&nbsp;</strong>acting with openness, consideration and respect</p>

<p><strong>Collegiality</strong>&nbsp;supporting trainees and members through all stages of their career</p>

<p><strong>Innovating&nbsp;</strong>in the delivery of education &amp; healthcare</p>

<p><strong>Collaboration</strong>&nbsp;working with others involved in the delivery of eye health care nationally and internationally</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h3>&nbsp;</h3>
