<h1>
	Latest Campaigns supported by the Irish College of Ophthalmologists</h1>
<ul>
	<li>
		<a href="/campaigns/glaucomaweek/">Glaucoma week</a></li>
	<li>
		<a href="/campaigns/world-sight-day/">World Sight Day - Early diagnosis and treatment key to preserving sight</a></li>
	<li>
		<a awareness="" diabetes="" href="/campaigns/diabetes-eye-disease/" world="">World Diabetes Awareness Day </a></li>
</ul>
