<table>
	<tbody>
		<tr>
			<td>9.00am</td>
			<td>
			<p><strong>Paper Session</strong></p>

			<p>The Therapeutic Effect and Outcome of XEN Gel Stent in Glaucoma<br />
			<em>A Salih</em></p>

			<p>HazMat Emergency Readiness in Ophthalmology (HERO)<br />
			<em>C Malone</em></p>

			<p>Seeing the Bigger Picture!<br />
			<em>A Ni Mhealoid</em></p>

			<p><em>Questions</em></p>

			<p>Fundus Fluorescein Angiography (FFA) in Human Subjects Displays Circadian Variation<br />
			<em>A Hopkins</em></p>

			<p>Patient Involvement in Development of Customised Care Plans for Genetically-confirmed Inherited Retinal Degeneration<br />
			<em>A Long</em></p>

			<p>Brittle Bones, Blue Sclerae and Stiff Corneas<br />
			<em>E Doolan</em></p>

			<p>Enhanced Ocular Delivery Using Biocompatible Nanomaterials<br />
			<em>D Kent</em></p>

			<p>Reduced Oxidative Phosphorylation and Increased Glycolysis (The Warburg Effect) in Glaucoma Lamina Cribrosa Cells<br />
			<em>K Kamel </em></p>

			<p>Lamina Cribrosa Tissue Stiffness as the Primary Biomechanical Driver of Pathological Glaucomatous Cupping<br />
			<em>A Hopkins</em></p>

			<p>Pseudoexfoliation Glaucoma &ndash; Do Genes or Environment matter more?<br />
			<em>A Greene</em></p>

			<p><em>Questions</em></p>
			</td>
		</tr>
		<tr>
			<td>10.30am</td>
			<td>
			<p><strong>ICO/Novartis Eye Research Bursary Winner 2018 - 2019</strong></p>

			<p>Introduction: Mark Cahill and Alison Blake</p>

			<p><b>Targeting Ocular Inflammation in Dry Eye Disease with Novel MicroRNA-based Therapeutics</b><br />
			Dr Emily Greenan<br />
			<em>Clinical Tutor, Ophthalmology</em><br />
			<em>PhD Student, Royal College of Surgeons in Ireland&nbsp;</em></p>

			<p><b>Phase 3, Randomized, Double-Masked, Multi-Center Trials of Brolucizumab Versus Aflibercept for Neovascular AMD: 96-week Results from the HAWK and HARRIER Studies</b><br />
			Mr Mark Cahill<br />
			<em>Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital, Dublin</em></p>
			</td>
		</tr>
		<tr>
			<td>11.00am</td>
			<td><i>Coffee</i></td>
		</tr>
		<tr>
			<td>11.30am</td>
			<td>
			<p><strong>Official Welcome</strong><br />
			Dr Alison Blake<br />
			<em>President, Irish College of Ophthalmologists</em></p>

			<p><strong>Presentation of the John Blake Medal for Best Research Paper</strong></p>
			</td>
		</tr>
		<tr>
			<td>11.40am</td>
			<td>
			<p><strong>Nutrition and Age-related Macular Degeneration </strong></p>

			<p>Co-Chairs: Mark Cahill and&nbsp;</p>

			<p><b>Nutrition for Ophthalmologists and our Patients</b><br />
			Miss Monique Hope-Ross<br />
			<em>Honorary Consultant Ophthalmic Surgeon at the Birmingham and Midland Eye Centre and Good Hope Hospital<br />
			Honorary Senior Clinical Lecturer, Birmingham University</em></p>

			<p><b>Cellular Consequences of an Unhealthy Diet - Trafficking Defects in the Retinal Pigment Epithelium (RPE)</b><br />
			Dr Arjuna Ratnayaka<br />
			<em>Lecturer in Vision Sciences, University Southampton.</em></p>

			<p><b>Exploring the Microbiome in Health &amp; Disease</b><br />
			Dr Sin&eacute;ad C. Corr, Ph.D<br />
			<em>Assistant Professor in Microbiology, Dpt. of Microbiology, The Moyne Institute of Preventive Medicine, Trinity College Dublin</em></p>
			</td>
		</tr>
		<tr>
			<td>1.00pm</td>
			<td><i>Lunch</i></td>
		</tr>
		<tr>
			<td>2.00pm</td>
			<td>
			<p><strong>European Society of Ophthalmology (SOE) Lecture 2019&nbsp;</strong><br />
			Introduction by Ms Patricia Logan<br />
			<em>SOE Board Member and Consultant Ophthalmic Surgeon, Beaumont Hospital, Dublin </em></p>

			<p><strong>Retinopathy of Prematurity</strong><br />
			Ms Claire Hartnett<br />
			<em>Consultant Paediatric Ophthalmic Surgeon, Children&#39;s University Hospital, Temple Street, Dublin</em></p>
			</td>
		</tr>
		<tr>
			<td>2.30pm</td>
			<td>
			<p><strong>Ocular Emergencies and Trauma Symposium</strong></p>

			<p>Chair: Gerry Fahy&nbsp;</p>

			<p><b>Orbital and Oculoplastic Emergencies presenting to the Royal Victoria Eye and Ear Hospital </b><br />
			Ms Rizwana Khan<br />
			<em>Consultant Ophthalmic Orbital, Oculoplastic Surgeon and Consultant in-charge Accident and Emergency Department, Royal Victoria Eye and Ear Hospital, Dublin<strong>&nbsp;</strong></em></p>

			<p><b>The Development of Emergency Ophthalmology as a Sub-Specialty</b><br />
			Miss Seema Verma<br />
			<em>President of British Emergency Eye Care Association<br />
			Consultant Ophthalmologist. Lead Clinician and Director of the Accident &amp; Emergency and General Ophthalmology Services at Moorfields Eye Hospital, London</em></p>
			</td>
		</tr>
		<tr>
			<td>3.30pm</td>
			<td><i>Coffee</i></td>
		</tr>
		<tr>
			<td>4.00pm</td>
			<td>
			<p><strong>General Data Protection Regulation and Clinical Practice </strong><br />
			Introduction: John Doris</p>

			<p><strong>The GDPR One Year On - A Practical Guide for Compliance</strong><br />
			Nicola Bayly<br />
			<em>Assistant Commissioner, Technology Multinational Supervision Unit, <a href="https://www.dataprotection.ie/" target="ext">Data Protection Commission</a></em></p>
			</td>
		</tr>
		<tr>
			<td>4.30pm</td>
			<td>
			<p><strong>Paper Session </strong></p>

			<p>Co-Chairs: Niamh Collins and Caroline Baily</p>

			<p>Periocular Necrotising Fasciitis Management<br />
			<em>M O&#39;Rourke</em></p>

			<p>Orbital radiation for thyroid associated orbitopathy: The role of combined corticosteroids and orbital radiation in preventing disease progression<br />
			<em>AM Mongan</em></p>

			<p>CT Navigation in Orbital Surgery<br />
			<em>R Ellard</em></p>

			<p>Periocular Cancer Care: A Single Centre Experience<br />
			<em>T McSwiney </em></p>

			<p>Conjunctival Melanoma: A 10-year Review of Irish Patients<br />
			<em>T Murphy </em></p>

			<p>Corneal Collagen Crosslinking for Progressive Keratoconus: One-Year Controlled Clinical Trial Analysis<br />
			<em>H Cheema</em></p>

			<p><em>Questions</em></p>
			</td>
		</tr>
	</tbody>
</table>
