<table>
	<tbody>
		<tr>
			<td>7.45-8.45am</td>
			<td>
			<p><em><strong>Breakfast Symposium</strong> - Kindly sponsored by Bayer</em></p>

			<p>Chair: Frank Kinsella</p>

			<p><b>Management of Neovascular AMD Utilising a Treat and Extend Approach</b><br />
			Professor Michael Ulbig<br />
			<em>Ludwig Maximilians University Munich; Department of Ophthalmology, Klinikum rechts der Isar, (University Hospital), Technical University of Munich (TUM), Munich </em></p>
			</td>
		</tr>
		<tr>
			<td>9.00am</td>
			<td>
			<p><strong>Paper Session</strong></p>

			<p>Audit of a Juvenile Idiopathic Arthritis (JIA) Ophthalmology Screening Service<br />
			<em>G Comer</em></p>

			<p>ROP Screening in Letterkenny University Hospital &ndash; An Analysis of Thirteen Years of Data<br />
			<em>R Gillespie</em></p>

			<p>Ophthalmia Neonatorum in a Tertiary Referral Children&rsquo;s Hospital: A Retrospective Study<br />
			<em>D Gildea</em></p>

			<p>The Difficult Exam&rsquo;- The Use of Oral Midazolam in Children with Special Needs<br />
			<em>G Comer</em></p>

			<p>Audit of Acute Acquired Esotropia in Adults with Myopia<br />
			<em>C McCloskey </em></p>

			<p><em>Questions</em></p>
			</td>
		</tr>
		<tr>
			<td>9.45am</td>
			<td>
			<p><strong>Paediatrics Symposium </strong></p>

			<p>Co-Chairs: Maureen Hillery &amp; Stephen Farrell</p>

			<p><b>Paediatric Uveitis</b><br />
			Miss Sarah Chamney<br />
			<em>Consultant Ophthalmic Surgeon, Children&rsquo;s University Hospital Temple Street, Dublin </em></p>

			<p><b>The "Ayes" have it: Ophthalmological clues to Neurological Diagnosis in Children</b><br />
			Professor Mary D King<br />
			<em>Neonate Neurology, Management of Premature Babies, Children&rsquo;s University Hospital Temple Street, Dublin </em></p>

			<p><b>Advances in Paediatric Cataract Management</b><br />
			Professor Chris Lloyd<br />
			<em>Paediatric Consultant Ophthalmologist, Great Ormond Street, London </em></p>
			</td>
		</tr>
		<tr>
			<td>11.15am</td>
			<td><i>Coffee</i></td>
		</tr>
		<tr>
			<td>11.45am</td>
			<td>
			<p><strong>Podium Presentation &ndash; 3 Best Posters</strong></p>

			<p><strong>Rapid Fire Audit</strong></p>

			<p>A Review of Ophthalmic Radiology Referrals in a Tertiary Centre<br />
			<em>A Smyth</em></p>

			<p>A Review of the Immunohistochemistry Findings of Patients with Uveal Melanoma Attending the Royal Victoria Eye and Ear Hospital (RVEEH)<br />
			<em>A Salih</em></p>

			<p>National Incidence of Eyelid Cancer in Ireland (2005-2015)<br />
			<em>C Quigley</em></p>

			<p>Knowledge of Costs of Commonly Utilised Medications and Materials Amongst Irish Ophthalmologists<br />
			<em>B Power</em></p>

			<p>Establishing a Virtual Glaucoma Clinic<br />
			<em>E Hughes</em></p>

			<p><em>Questions</em></p>
			</td>
		</tr>
		<tr>
			<td>12.15pm</td>
			<td>
			<p><b>Round Table Case Based Discussions </b></p>

			<p>Moderator: Marie Hickey Dwyer</p>

			<p>Facilitators: John Doris &amp; Eugene Ng</p>

			<p>Delegates will be grouped around tables. The session will last 1 hour.</p>

			<p>We hope to tap into the expertise within the room. The session will be moderated and there will be a team of facilitators to help focus the conversations.&nbsp;</p>

			<p>The round table discussions are an opportunity for participants to get together in an informal setting to examine issues as they relate to clinical practice. There is no formal agenda, but there are specific topics. The facilitators well circulate and engage group members in the discussion.&nbsp;</p>

			<p><strong>&ldquo;Slido&rdquo;</strong>&nbsp;an audience interaction tool will be used at this session. Offering interactive Q&amp;A, live polls and insights about the audience views.</p>
			</td>
		</tr>
		<tr>
			<td>1.10pm</td>
			<td><b>Presentation of Sir William Wilde Medal for Best Poster </b></td>
		</tr>
		<tr>
			<td>1.20pm</td>
			<td><i>Lunch</i></td>
		</tr>
		<tr>
			<td>2.00pm</td>
			<td>
			<p><strong>Workshop </strong></p>

			<p><strong>1. Practice Review and Audit</strong></p>

			<p>Facilitated by Maureen Hillery</p>

			<p>Update on ICO&nbsp;National Audit on the Visual Acuity Systems being used in the Eye Clinic and discussion on topics for the next national audit</p>

			<p><strong>2. Trainee/NCHD Workshop</strong></p>

			<p>Co-Chairs: Niamh Collins and Caroline Baily<br />
			&nbsp;<br />
			Eye and Hand Fatigue in Minimal Invasive Surgery; 2D vs. 3D: A Randomised Control Trial<br />
			<em>A Youssef</em></p>

			<p>Introduction of a Leadership Intervention to Foster NCHD Professional Development<br />
			<em>R Brady</em></p>

			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>
