<table>
	<tbody>
		<tr>
			<td>9.00am</td>
			<td>
			<p><strong>Irish College of Ophthalmologists Annual General Meeting</strong><br />
			Chair:&nbsp;Dr Alison Blake, President ICO</p>

			<p><em>ICO members only</em></p>
			</td>
		</tr>
		<tr>
			<td>9.30am</td>
			<td>
			<p><strong>Paper Session</strong></p>

			<p>Full Thickness Macular Hole Repair: Clinical Features and Outcomes in a Single Centre<br />
			<em>T McSwiney</em></p>

			<p>The Phenotype &amp; Genotype of Usher Syndrome in Ireland<br />
			<em>K Stephensen</em></p>

			<p>Limited Vitrectomy: A Novel Surgical Technique for the Treatment of Vitreomacular Traction, Sub-internal Limiting Membrane hemorrhages and Tractional Small Macular Holes<br />
			<em>R McGrath</em></p>

			<p>One Year Visual and Anatomic Outcomes following Vitrectomy for Complications of Diabetic Retinopathy<br />
			<em>K Curtin</em></p>

			<p>Effectiveness of Ozurdex Implant in Immunosuppressed Patients with Non-Infectious Posterior Segment Intraocular Inflammation<br />
			<em>C Goodchild</em></p>

			<p>Target 5000: An Update on Progress, Goals and Future Interventions for Patients with Inherited Retinal Degeneration in Ireland<br />
			<em>D Keegan</em></p>

			<p><em>Questions</em></p>
			</td>
		</tr>
		<tr>
			<td>10:15am</td>
			<td>
			<p><strong>5 Year Review of Diabetic RetinaScreen</strong><br />
			Mr David Keegan<br />
			<em>Consultant Ophthalmic Surgeon, Mater Misericordiae University Hospital, Dublin</em></p>

			<p><strong>Analysis of Non-Attendance of Diabetic Retina Screening Patients at the Diabetic Retinopathy Clinic in University Hospital Limerick</strong><br />
			M Mohamad</p>

			<p><strong>A Quantitative Analysis of a Regional Diabetic Retinal Treatment Centre since the Initiation of the Irish Diabetic Retinal Screening Programme</strong><br />
			E Nugent</p>
			</td>
		</tr>
		<tr>
			<td>10:30am</td>
			<td>
			<p><strong>Annual Mooney Lecture 2019</strong></p>

			<p><b>&quot;Old Diseases in the New Century: D&eacute;j&agrave; Vu in the Uveitis Clinic&quot;</b></p>

			<p><strong>Prof Nicholas Jones</strong><br />
			<em>Consultant Ophthalmologist and Director, Manchester Uveitis Clinic<br />
			Hon. Professor of Ophthalmology, MAHSC, University of Manchester</em></p>
			</td>
		</tr>
		<tr>
			<td>11.15am</td>
			<td><i>Coffee</i></td>
		</tr>
		<tr>
			<td>11.45am</td>
			<td><b>Presentation of Barbara Knox Medal for Best Paper </b></td>
		</tr>
		<tr>
			<td>11.50am</td>
			<td>
			<p><strong>Lean Thinking in Cataract Delivery - an Integrated Care Model</strong></p>

			<p>Chair and Introduction:&nbsp;Prof Billy Power, Clinical Lead in Ophthalmology, Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital, Dublin</p>

			<p><strong>Lean Cataract Surgery &ndash; Does this Mean Missing the Tea Break??</strong><br />
			Mr Paul Mullaney<br />
			<em>Consultant Ophthalmic Surgeon, Sligo University Hospital, Sligo</em></p>

			<p><strong>A New Cataract Unit – All you have to do is Build a New Theatre </strong><br />
				Mr Barry Quill<br />
			<em>Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital, Dublin </em></p>

			<p><b>Efficiency in Cataract Surgery -&nbsp;</b><strong> Our Experience in an NHS Beacon Site</strong><br />
			Mr Paul Chell<br />
			<em>Consultant Ophthalmic Surgeon, Worcester Royal Hospital, Worcester </em><strong> </strong></p>
			</td>
		</tr>
		<tr>
			<td>1.00pm</td>
			<td>
			<p><strong>Conference concludes</strong></p>
			</td>
		</tr>
	</tbody>
</table>
