<p>Submissions are invited for paper or poster presentation at the Irish College of Ophthalmologists Annual Conference.</p>

<p>Closing date for receipt of abstracts is Monday March 25th, 2019</p>

<p>Please submit to&nbsp;<a href="mailto:marian.scully@eyedoctors.ie" target="_blank">marian.scully@eyedoctors.ie</a>&nbsp;using this <a href="/medium/images/Abstract_Application_Form_ICO_2019-a.doc" target="_blank">Form</a>.</p>

<p>On the submission form please indicate if you wish for a podium or poster presentation -&nbsp;<em>not all papers will be automatically selected for presentation as podium time is limited.&nbsp;</em>Please also indicate on the form if the work is clinical or laboratory research or if it is an audit.</p>

<p>There will be prizes in 3 categories at this year&#39;s conference<br />
1. Best Poster<br />
2. Best Clinical paper<br />
3. Best Laboratory research paper<br />
<br />
The best 3 posters will be presented on the Thursday afternoon.&nbsp;The judges will need to make a decision on the best posters by the end of Conference Wednesday with the chosen three marked with a Rosette.</p>