<p>Delegate rooms are available at the Galway Bay Hotel for a special conference B&B rate of 
<ul>
<lI>€120 for single occupancy</lI>
<lI>€134 for double occupancy</lI>
</ul>
To reserve a room please contact the Galway Bay Hotel directly on  <a href="tel:0035391514645">+353 91 514 645</a>
</p>