<p>The Irish College of Ophthalmologists Annual Conference 2019 will take place at the Galway Bay Hotel from Wednesday 15th to Friday 17th May.&nbsp; The Conference is the highlight of our annual calendar and provides an opportunity for eye doctors from across the country to gather to hear about the latest clinical and scientific updates and developments in the specialty.</p>

<p>Symposia on Nutrition and Age-related Macular Degeneration (ARMD), Ocular Emergencies, Paediatric Ophthalmology and Cataract Service will feature on this years programme.</p>

<p>The ICO is delighted to welcome the following distinguished international guest speakers to this year&rsquo;s conference;</p>

<p>Professor Nicholas Jones, Consultant Ophthalmologist and Clinical Director of Uveitis Service, Manchester Royal Eye Hospital and Honorary Professor of Ophthalmology, MAHSC, University of Manchester will deliver the 2019 Mooney Lecture.</p>

<p>Professor Chris Lloyd Consultant Paediatric Ophthalmic Surgeon, Great Ormond Street.</p>

<p>Miss Seema Verma, Consultant Ophthalmic Surgeon at Guys and St Thomas&#39; Hospital, London and a founding member and President of the British Emergency Eye Care Society (BEECS).</p>

<p>Mr Paul Chell, Consultant Ophthalmic surgeon Worcester Royal Hospital and Managing Director of Ophthalmologica Consulting Limited.</p>

<p>Miss Monique Hope Ross, Honorary Consultant Ophthalmic Surgeon at the Birmingham and Midland Eye Centre and Good Hope Hospital, an Honorary senior Clinical Lecturer at Birmingham University.</p>

<p>Dr Arjuna Ratnayaka, Lecturer in Vision Sciences, University Southampton. Dr Ratanayaka&rsquo;s group is investigating the molecular mechanisms underlying degenerative pathologies in the senescent retina and brain; leading to conditions such as Age-related Macular degeneration (AMD), retinal dystrophies and Alzheimer&rsquo;s disease (AD).</p>
