<h4>Galway Bay Hotel&nbsp;</h4>

<p><a class="btn" href="https://ico.wildapricot.org/event-3206165/Registration">Register</a></p>

<p>The Irish College of Ophthalmologists Annual Conference 2019 will take place at the Galway Bay Hotel from Wednesday 15th to Friday 17th May.&nbsp; The Conference is the highlight of our annual calendar and provides an opportunity for eye doctors from across the country to gather to hear about the latest clinical and scientific updates and developments in the specialty.</p>

<p>Symposia on Nutrition and Age-related Macular Degeneration (ARMD), Ocular Emergencies, Paediatric Ophthalmology and Cataract Service will feature on this years programme.</p>

<p>Mr Paul Sullivan, Consultant Vitreoretinal surgeon and Director of Postgraduate Medical Education at Moorfields will deliver the 2019 Mooney Lecture.</p>

<p>The ICO is delighted to welcome the following distinguished international guest speakers to this year&rsquo;s conference;</p>

<p>Professor Chris Lloyd Consultant Paediatric Ophthalmic Surgeon, Great Ormond Street.</p>

<p>Ms Seema Verma Consultant Ophthalmologist and Lead Clinician and Director of the Accident &amp; Emergency and General Ophthalmology Services at Moorfields Eye Hospital Longon.</p>

<p>Mr Paul Chell, Consultant Ophthalmic surgeon Worchester Royal Hospital and Managing Director of Ophthalmologica Consulting Limited.</p>

<p>Miss Monique Hope Ross, Honorary Consultant Ophthalmic Surgeon at the Birmingham and Midland Eye Centre and Good Hope Hospital, an Honorary senior Clinical Lecturer at Birmingham University.</p>

<p>Dr Arjuna Ratanayaka, Lecturer in Vision Sciences, University Southampton. Dr Ratanayaka&rsquo;s group is investigating the molecular mechanisms underlying degenerative pathologies in the senescent retina and brain; leading to conditions such as Age-related Macular degeneration (AMD), retinal dystrophies and Alzheimer&rsquo;s disease (AD).</p>


<div class="panel-group" id="accordion">
	<div class="panel panel-default">
	<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse1">Abstract Submissions</a></h2>
		<div class="panel-collapse collapse " id="collapse1">
			<div class="panel-body" style="text-align:justify">


			<p>Submissions are invited for paper or poster presentation at the Irish College of Ophthalmologists Annual Conference.</span></p>

			<p>Closing date for receipt of abstracts is Monday March 25th, 2019</span></p>

			<p>Please submit to&nbsp;<a href="mailto:marian.scully@eyedoctors.ie" target="_blank">marian.scully@eyedoctors.ie</a>&nbsp;using this <a href="/medium/images/Abstract_Application_Form_ICO_2019-a.doc" target="_blank">Form</a>.</span></p>

			<p>On the submission form please indicate if you wish for a podium or poster presentation -&nbsp;<em>not all papers will be automatically selected for presentation as podium time is limited.&nbsp;</em>Please also indicate on the form if the work is clinical or laboratory research or if it is an audit.</span></p>

			<p>There will be prizes in 3 categories at this year&#39;s conference<br />
			1. Best Poster<br />
			2. Best Clinical paper<br />
			3. Best Laboratory research paper<br />
			<br />
			The best 3 posters will be presented on the Thursday afternoon.&nbsp;The judges will need to make a decision on the best posters by the end of Conference Wednesday with the chosen three marked with a Rosette.</span></p>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
	<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2">Accommodation</a></h2>
	<div class="panel-collapse collapse" id="collapse2">
		<div class="panel-body" style="text-align:justify">


			<p>Delegate rooms are available at the Galway Bay Hotel for a special conference B&B rate of 
			<ul>
			<lI>€120 for single occupancy</lI>
			<lI>€134 for double occupancy</lI>
			</ul>
			To reserve a room please contact the Galway Bay Hotel directly on  <a href="tel:0035391514645">+353 91 514 645</a>
			</p>



			</div>
	</div>
</div>
</div>
