<div>
    &nbsp;<br />
    <p><strong>ICO Annual Conference 2019 Posters</strong></p>
    
  <p >Atypical Presentations of  Ocular Metastasis<br/>R N Shaffi </p>
  
  
  <p >Subconjuctival Hemorrhage  Following Intravitreal Anti-VEGF Injections<br/>M Mohamad</p>

  <p >Acute Comitant Myopic  Esotropia-Botox vs Squint Surgery<br/>S Chen</p>
  

  <p >Endothelial Cell Count in  DMEK Grafts<br/>P Stanciu</p>
  

  <p >Current Applications of Machine Learning in the Screening of Glaucoma: A Systematic Review and  Meta-analysis <br/>P Murtagh</p>
  
 
  <p >Retinopathy Changes Since  Onset of the DRS Service in University Hospital, Galway<br/>D Townley</p>
  

  <p >An Audit of iStent Usage  and Outcomes in the Royal Victoria Eye &amp; Ear Hospital<br/>R McGrath</p>
  

  <p >Severe Female Carrier  Phenotype in an Irish Pedigree with Novel Massive Deletion in the CHM Gene<br/>J Zhu</p>
  

  <p >The Efficacy of Switching to Intravitreal Aflibercept for Persistent Diabetic Macular Oedema Refractory  to Ranibizumab<br/>A Hazirah</p>
  
  <p >Development of a Core  Outcome Set for Age-Related Macular Degeneration Interventions<br/>A Kreizel</p>
  
  
  <p >TGF&#946; induces NOX4 and Fibrotic Genes in Trabecular Meshwork Cells: Role in Glaucoma<br/>R Goetz</p>
  
  <p >An Audit of Diabetic  Retinopathy Screening in Pregnant Women with Insulin Dependent Diabetes  Mellitus<br/>E Doolan</p>
  
 
  <p >Beware of the Kitty Cat!<br/>A N&#299;Mhealoid </p>
 

  <p >Case Report: Rare Case of  Proptosis and Loss of Vision<br/>M Mutwakil</p>
  

  <p >Improvement of Visual Acuity Based on Optical Coherence Tomography Patterns Following Intravitreal  Bevacizumab Treatment in Patients with Diabetic Macular Edema<br/>H Cheema</p>
  
 
  <p >Rare Solitary Fibrous Tumor  of Lacrimal Sac in Young Patient <br/>J Huang</p>
  
 
  <p >Elucidating the Role of the  Hippo Pathway in the Development of Open Angle Glaucoma<br/>J Morris</p>
  
 
  <p >Epithelial Inclusion Cyst  of the Orbit after an Evisceration: The Use of Trichloroacetic Acid (20%)<br/>D Gallagher</p>
  

  <p >An Audit of Outcomes from  the Administration of Tissue Plasminogen Activator (t-PA) in Patients with  Submacular Haemorrhages<br/>D Gallagher</p>
  
 
  <p >A Case Series of the Use of  ILUVIEN Implant<br/>N Shikin</p>
  

  <p >Does High Blood Pressure  Adversely Affect the Outcomes of Intravitreal Anti-Vegf Injections in Retinal  Diseases?<br/>Z Sirang</p>
  
  
  <p >Isolated Orbital  Glioependymal Cyst in an Infant - Case Report<br/>Z Sirang</p>

  
  <p >Acute Macular Neuro  Retinopathy <br/>M Rahman</p>
 
  
  <p >Congenital Dural Ecstasies  of the Optic Nerve Sheath  <br/>M Rahman</p>
  
  
  <p >A Rare Case of Bilateral Optic Disc Pit in a Myopic Female<br/>M Akram</p>
  
  
  <p >Multi-centre Diabetic  RetinaScreen Diabetic Retinopathy Referrals and Treatment Outcomes<br/>R Pandey</p>
  
  
  <p >Shocking Convergence  &#8211; Unusual Ocular Manifestation Post Low Voltage Electric Shock<br/>E Nugent</p>
  
 
  <p >A Case of Highly Aggressive  Orbital Diffuse Large B-cell Lymphoma<br/>B Corish</p>
  
 
  <p >IOL Selection in Cataract  Surgery<br/>E Hegazy</p>

  
  <p >Cryopexy for Retinal Tears <br/>B Cummings</p>
  
  
  <p >What Burden do Intravitreal  Injections Place on Patients in the West of Ireland? <br/>S O&#8217;Regan</p>
  
  
  <p >Visual Field frequency and  glaucoma progression &#8211; An audit from the Mater Misericordiae University  Hospital<br/>A Greene</p>
  

  <p >A Retrospective Study on  the Blood Pressure of Patients with Diabetic Macular Oedema Receiving  Anti-VEGF and intravitreal Corticosteroid Therapy<br/>G Hanrahan</p>
  

  <p >A Retinal Rarity<br/>B Woods</p>
  

  <p >Non-attendance Rates at  Intravitreal Injection Clinics in the Mater Misericordiae University Hospital  Over a 4 Month Period<br/>B Woods</p>
  
  
  <p >A Case of Neurotrophic  Keratitis<br/>A Smyth</p>
  

  <p >Reconstruction of the Upper  Eyelid Following Excision of Basal Cell Carcinoma -  a Case Report<br/>M Rhatigan</p>
  
  
  <p >Serum Eye Drops for Ocular  Surface Disease &#8211; National survey of Cornea Specialists in Ireland<br/>M Rhatigan</p>
  

  <p >Surgical correction of  paediatric ptosis using Mullers Muscle - Conjunctival Resection with  Putterman Ptosis Clamp<br/>M Rhatigan</p>
  

  <p >A Case Series of Orbital  Subperiosteal Haematomas<br/>R Ellard</p>
  


<p >Eye and Hand Fatigue in Minimal Invasive Surgery; 2D vs. 3D: A Randomised Control Trial<br/>A Youssef</p>
 

<p >Introduction of a Leadership Intervention to Foster NCHD Professional Development<br/>R Brady </p>




</div>