<h1>Eye Doctors warn &#39;No Trick or Treat&#39; for eyes this Halloween</h1>

<h2>Eye injury risks heightened as a result of poor safety precautions</h2>

<p>&nbsp;</p>

<p><img align="right" src="images/halloween.jpg" style="padding-left:10px;" /></p>

<p>Halloween is one of the biggest nights of the year for children but unfortunately it is also one of the busiest nights for hospital A&amp;E&#39;s around the country as a result of often preventable accidents. Halloween is a dangerous time for the eyes with risks of traumatic injuries from a variety of sources heightened.</p>

<p>&nbsp;</p>

<p>Many eye injuries happen in children on Halloween that could have been avoided had safety measures or other simple precautionary measures been taken. The most common accidents include corneal abrasions and bleeding in the eye, caused by children being struck in the eye with sharp Halloween accessories such as swords, knives or wands and eye injuries as a result of poor supervision of fireworks and around bonfires.</p>

<p>&nbsp;</p>

<p>Parents should make sure accessories such as swords and other objects are soft and flexible, and have dulled edges. Halloween masks can limit a child&#39;s visibility so ensure the eye holes are in the correct position and the mask is secure, especially if your child is very young. A child should be able to see their peripheral vision while wearing the mask so their view isn&#39;t obstructed when running or crossing the road. Scarves, hats and eye patches may also limit a child&#39;s visibility and should be fitted correctly before your child ventures out for the evening.</p>

<p>&nbsp;</p>

<p>There are also potential eye health hazards with the use of cosmetic contact lenses that are bought over the counter or on the internet. These lenses can lead to eye infections if not sterilised properly, worn for any extended period of time or fitted correctly, and can lead to blindness in the most severe cases when infection or damage to the eye is left untreated.</p>

<p>&nbsp;</p>

<p>Other eye injuries that eye doctors in A&amp;E&#39;s departments have to deal with on a busy Halloween night include cigarette burns to the cornea, foreign objects that get under the eye lids, bruising of the eyes and infections as a result of poor removal of children wearing make-up. If children want to wear make-up as part of their costume, hypoallergenic makeup should be used and do not use standard make up remover on children&#39;s eyes which are more sensitive than adults eyes. To cleanse the eyes, use cooled boiled water. Old make-up is a breeding group for bacteria and eye germs can be swapped between children who share make-up applicators and products.</p>

<p>&nbsp;</p>

<p>Extreme safety precaution is also advised by eye doctors when dealing with fireworks and night flares. Glow sticks are generally safe however the solution inside can cause eye irritation if the stick breaks so children in possession should be supervised.</p>

<p>&nbsp;</p>

<p>If an eye injury does happen to your child on Halloween or at any time, gently place a cold compress to the eye and contact your local eye doctor (a <a href="/opthalmologists/" title="directory of local eye doctors in Ireland">directory of local eye doctors in Ireland</a> can be found here) or visit your nearest A&amp;E department.</p>

<p>&nbsp;</p>

<p>Most eye injuries can be treated but it is essential that parents act quickly if they have any concerns.<br />
If your child has injured their eye, signs and symptoms can include pain, tearing, swelling or a bloody discharge and medical attention should be sought.</p>
