<div style="background:#000;color:#fff;font-size:20px;font-weight:bold;height:210px;"><img alt="Solar Eclipse - Ireland - 20.03.15" src="/images/sun-eclipse.jpg" style="float:left" title="Solar Eclipse - Ireland - 20.03.15" />
<p align="center" style="padding-top:15px;padding-left:10px;padding-right:5px;text-align: center;">Eye doctors advise:<br />
Take extreme caution of eyes during solar eclipse.</p>
&nbsp;

<p align="center" style="padding-left:10px;padding-right:5px;text-align: center;">The dos and don&#39;ts of viewing the upcoming solar eclipse</p>
</div>

<p>&nbsp;</p>

<h1>Friday, March 20th - Enjoy solar eclipse but take necessary safety precautions</h1>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h2>The dos and don&#39;ts of viewing the solar eclipse</h2>

<p>A solar eclipse which will see most of northern Europe, including Ireland fade into near darkness for several minutes will take place this Friday morning, March 20 2015. It is expected that the partial eclipse between&nbsp;<span style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; font-size: 13px; line-height: 20px; background-color: rgb(255, 255, 255); ">approximately 8.20&nbsp;and 10.30am in Ireland will be at it&#39;s peak around&nbsp;9.30am&nbsp;(depending on your location in the country),&nbsp;blocking out about 90% of the sunlight.&nbsp; &nbsp;A solar eclipse is a rare occasion but it is also potentially very harmful to your eyes if viewed directly</span><strong style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; font-size: 13px; line-height: 20px; background-color: rgb(255, 255, 255); ">.&nbsp;</strong>&nbsp;</p>

<p>Eye Doctor and spokesperson for the Irish College of Ophthalmologists (ICO), Dr Patricia Quinlan&nbsp;has the following advice;</p>

<p>&ldquo;There is always huge anticipation ahead of a solar eclipse but it is really important for people to be aware of the damage that can be caused by looking directly at the sun with the naked eye, and most especially during an eclipse.&nbsp;<br />
<br />
&quot;Staring directly at the sun can permanently scar the retina, the area at the back of the eye responsible for vision. Solar burns to the retina are not painful and the loss of vision is not always immediate but if damage is done, it is unfortunately irreversible. &nbsp;Eye doctors would just like to remind people to take the necessary safety measures which are very simple but extremely effective at protecting our UV sensitive eyes.&quot;</p>

<p>The ICO stated that in the aftermath of the last eclipse, which occurred in Ireland in 1999, the A&amp;E department of the Royal Victoria Eye and Ear Hospital in Dublin alone saw 139 people present themselves with concerns about damage to their sight between the 11th and18th August.</p>

<p>Symptoms reported included headaches, photo sensitivity (or sensitivity to light), blurred vision and floaters. &nbsp;Of the admissions, 72 patients required follow up and 8 had done permanent damage in the form of burns to their retina, a condition called&nbsp;<strong>solar retinopathy or solar maculopathy&nbsp;</strong>which is sadly irreversible and for which there is no treatment for.&nbsp; Solar burns to the retina are not painful and the loss of vision is not always immediate but if damage is done, it is unfortunately irreversible</p>

<p>The ICO advise that extreme caution must be exercised where children are concerned.&nbsp; Children should not be allowed to look directly at the sun at any time and should be under adult supervision if they wish to experience the eclipse using the necessary safety precautions.&nbsp; The potential damage is usually more severe because the child&#39;s natural lens is so clear that it lets more ultraviolet (UV) rays reach the back of the eye.</p>

<p>&nbsp;</p>

<h2>Don&#39;t:</h2>

<p>&nbsp;</p>

<ul>
	<li>Don&#39;t look directly at the sun with the naked eye or even with sunglasses on &ndash; they don&#39;t offer sufficient protection.</li>
	<li>Don&#39;t watch it directly through a telescope, binoculars, camera or camera-phone. Even if you are just lining up the projection, this still puts you at risk.</li>
	<li>Don&#39;t attempt a &lsquo;Selfie&#39; on your camera-phone - glancing at the sun, even briefly can lead to damage of the retina</li>
	<li>Don&#39;t view through smoked glass, stacked sunglasses, polarised shades nor photographic filters.</li>
</ul>

<p>&nbsp;</p>

<h2>Do:</h2>

<p>&nbsp;</p>

<ul>
	<li>Looking at sun indirectly using the good old-fashioned, home-made pinhole projection method. This involves putting a hole in a piece of cardboard, and holding the cardboard up &ndash; with your back to the sun &ndash; so that an image of the sun is projected onto another piece of paper or card. This works well using a cardboard box, and will allow you to see the progress of the eclipse without damaging your eyes</li>
	<li>Going to one of the many viewing events being run by astronomy clubs and other organisations around the country to watch the eclipse where experienced astronomers will be on hand with specially adapted telescopes through which it will be possible to view the eclipse safely.</li>
	<li>Viewing livestreams available online through which you can watch the event.</li>
</ul>

<p>&nbsp;</p>

<p>More information on the solar eclipse can be found here:</p>

<p><a href="http://www.astronomy.ie/" style="color: rgb(17, 85, 204); font-family: arial, sans-serif; font-size: 13px; background-color: rgb(255, 255, 255); " target="_blank">http://www.astronomy.ie/</a><br style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 13px; background-color: rgb(255, 255, 255); " />
<a href="https://www.facebook.com/AstronomyIRL" style="color: rgb(17, 85, 204); font-family: arial, sans-serif; font-size: 13px; background-color: rgb(255, 255, 255); " target="_blank">https://www.facebook.com/<wbr />AstronomyIRL</a></p>
