<h3 style="font-weight: normal; line-height: 1.2; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet=""><strong>On World Sight Day, Eye Doctors Urge People&nbsp;to Include Vision as Part of Overall Good Health Management</strong></h3>

<h3 style="font-weight: normal; line-height: 1.2; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet=""><strong>Early diagnosis and treatment key to preserving sight</strong></h3>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">To mark World Sight Day (11.10.18)&nbsp;the Irish College of Ophthalmologists (ICO), the professional body for eye doctors in Ireland, is encouraging the public&nbsp;to remember&nbsp;eye health as part of&nbsp;their overall good health &amp; well-being management, particularly as we age and for those in the higher risk categories.</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">The ICO encourages everyone to be proactive in understanding the importance of good eye health and to take steps to ensure healthy eyes.</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Explaining the significance of eye health to our general well-being, Dr Alison Blake, President of the ICO&nbsp;said, &ldquo;The saying &lsquo;the eyes are the window to the soul&rsquo; is very true, and often when an eye problem presents, it can be an indicator of another underlying medical condition.&nbsp; The eye is not an isolated unit and has complicated relationships with numerous other bodily systems and function,&nbsp;including that of the brain and nervous system.&nbsp; Many eye diseases are associated with general medical conditions and many general systemic conditions affect eye health.&rdquo;</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">As the incidence of eye diseases such as age-related macular degeneration (AMD), glaucoma, cataract and diabetic retinopathy continues to grow among our ageing population in Ireland, the ICO has stated that funding for the medical manpower and resources to prevent and treat these conditions is essential to stop debilitating vision loss and alleviate future dependency on health care services. &nbsp;<span background-color:="" font-size:="" trebuchet="">With early diagnosis and treatment up to 75% of cases be medically managed to prevent sight loss.&nbsp;&nbsp;</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">The ICO is calling on the Minister for Health, Mr Simon Harris to ensure that the necessary funding is made available to implement the recommendations contained in the <a href="http://www.hse.ie/eng/services/publications/Primary/Eye-Services-Review-Group-Report.pdf">HSE Primary Care Eye Services Review Group Report</a>, which was published over a year ago in June 2017.&nbsp; The demand for specialised medical care for those with an eye condition or disease in Ireland greatly exceeds current capacity.&nbsp; The College has strongly advocated for a number of years that extra resources are essential to ensure that the number of avoidable cases of sight loss is kept to a minimum.&nbsp; The implementation of the recommendations in the report is a key step in addressing the current unacceptably high waiting lists in Ophthalmology which are among the most numerous in the health service.</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">In response to the publication of the Report, Dr. Alison Blake said, &quot;The recommendations in the Report provide a blueprint that will ensure that specialised care is available to those that require it, both young and old, as far as possible in the primary care setting. It is of great concern to the Irish College of Ophthalmologists that ophthalmology has some of the longest waiting lists in the Irish health service and we call on all of those involved to fully implement this plan.</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">The ICO has developed an information booklet called &lsquo;<a href="http://www.eyedoctors.ie/documents/ICO_Vision%20book_LO-version3.pdf" style="color: rgb(7, 130, 193);">Your Sight Our Vision&rsquo;</a>&nbsp;to promote eye health awareness and to highlight the significance lifestyle choices have on eye health.</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet=""><strong>Among the recommendations from eye doctors for healthy vision are:</strong></p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet=""><strong>Consider eye&nbsp;health as part of overall good health -&nbsp;</strong>Understand the impact of other diseases on the eyes.&nbsp; The eyes are extraordinarily complex.&nbsp; They contain pigmented cells, a rich network of blood vessels, and connective tissue; and the eye&#39;s retina is actually a part of the brain. Therefore, many systemic diseases such as diabetes,various tumours, hypertension, sickle cell disease, lupus, and many others can affect the eyes and threaten vision. &nbsp;Anyone with concerns should visit their GP who can refer you to an eye doctor for medical examination.</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet=""><strong>Exercise</strong>&nbsp;&ndash; Our eyes need good blood circulation and oxygen intake, and both are stimulated by regular exercise. Lack of exercise contributes significantly to several eye conditions, particularly amongst people aged 60 and over. Being physically active also helps in maintaining weight in a normal range, which reduces the risk of diabetes and diabetic retinopathy, which is a serious eye complication related to that disease.</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet=""><strong>Don&#39;t smoke</strong>&nbsp;&ndash; Avoiding smoking or quitting altogether is one of the best investments a person can make in their long-term health. Smoking increases the risks of a variety of diseases, including those that affect the eye such as cataracts and diabetic-related conditions.&nbsp; After ageing, smoking is the biggest factor for developing Age-related macular degeneration (AMD).</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet=""><strong>Know Your Family Eye Health History &ndash;&nbsp;</strong>Certain eye conditions can be hereditary, such as glaucoma.&nbsp; When detected early, it can be treated and controlled and therefore it would be very beneficial to know if this condition has been in your family so you can be tested.</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet=""><strong>Protect Your Eyes at Work and at Play</strong>&nbsp;&ndash; One of the best investments in eye health is to be sure to protect them with proper eye wear, whether it&#39;s enjoying a day in the sun, playing sports or doing household jobs, be safe with your eyes at all times.</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet=""><strong>Get Regular Eye Exams</strong>&nbsp;&ndash; Healthy adults who do not notice anything obviously wrong with their eyes should still have their eyes tested every two years.&nbsp; Eye Doctors recommend that adults with no signs or risk factors for eye disease get a baseline eye disease screening at age 40, which is typically the approximate time when early signs of disease and changes in vision may start to occur. Individuals at any age with symptoms or who are at risk for eye disease, such as those with a family history of eye disease, diabetes or high blood pressure should see their eye doctor to determine how frequently their eyes should be examined.<a name="_GoBack"></a></p>
