<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/_i2J_97ymgw" title="YouTube video player" width="560"></iframe></p>

<ul>
	<li><strong>Age-related Macular Degeneration (AMD) is the number one cause of sight loss in Ireland for those aged over 50</strong></li>
	<li><strong>While over half (51%) of the public have heard of wet AMD, only 35% were aware that AMD is the leading cause of sight loss in Ireland for those aged over 50 according to Red C Poll</strong></li>
	<li><strong>Wet AMD is the leading cause of severe vision loss and legal blindness in people over the age of 65 in Europe</strong></li>
	<li><strong>Almost half (49%) of public have never heard of wet AMD according to Red C Poll</strong></li>
	<li><strong>More than 100,000 people in Ireland aged over 50 are living with AMD</strong></li>
	<li><strong>The earlier AMD is detected, the sooner it can be treated to reduce its progression </strong></li>
	<li><strong>Anne Doyle launches annual AMD Awareness Week, encouraging those who notice any changes in vision to visit an eye care professional and highlighting the importance of getting regular eye tests</strong></li>
</ul>

<p><strong>Tuesday 21<sup>st</sup> September: </strong>Former RT&Eacute; news reader Anne Doyle will today launch the annual Age-Related Macular Degeneration (AMD) Awareness Week in Herbert Park, Ballsbridge at 8:30am today.</p>

<p>AMD is a chronic, degenerative eye condition that gradually diminishes central vision, blurring or obscuring what you s<a name="_Ref14252988">ee when you look straight ahead</a>. With AMD, you may see a blank area in your vision or straight lines may look wavy.5 It may be difficult to read a book, locate the edge of a kerb or recognise faces.</p>

<p>The theme of this year&rsquo;s AMD Awareness Week, which runs from the 20<sup>th</sup> to 26<sup>th</sup> September, is <strong>&lsquo;See the Full Story&rsquo;</strong>. The campaign aims to celebrate the enjoyment that reading brings to our lives as we age.&nbsp; It highlights how AMD impacts our daily living tasks that involve reading such as following a recipe, reading an iPad screen or playing a game of cards with friends &ndash; because reading means more than words. The campaign informs people about the symptoms of AMD and highlights the importance of maintaining good eye health to continue enjoying the things we love.</p>

<p>The symptoms of AMD which are blurriness, distortion or dark spots in your vision often go unrecognised in the early stages of the condition making it crucial that those aged 50 and over get their eyes tested regularly.</p>

<p>Wet AMD is a more severe form of AMD characterised by abnormal blood vessel growth that produces fluid in the retina, which is at the back of the eye. &nbsp;It is the leading cause of severe vision loss and legal blindness in people over the age of 65 in Europe.</p>

<p>New research from Red C, commissioned by Novartis for AMD Awareness Week, shows that</p>

<ul>
	<li>Only 35% of the public are aware that AMD is the leading cause of sight loss in Ireland for those aged over 50.</li>
	<li>Almost half of the public (49%) have never heard of wet AMD.</li>
</ul>

<p>The new research shows low awareness of the main symptoms of wet AMD:</p>

<ul>
	<li>41% reported any awareness of <em>&ldquo;distorted and/or blurry vision&rdquo;</em></li>
	<li>37% reported any awareness of &ldquo;<em>An empty or dark area in the middle of vision&rdquo;</em></li>
	<li>14% reported any awareness of &ldquo;<em>Perceiving a waviness to straight lines&rdquo;</em></li>
	<li>11% reported any awareness of <em>&ldquo;Objects that appear to be the wrong size or shape&rdquo;</em></li>
	<li>47% reported any awareness of <em>&ldquo;Visual difficulty with everyday activities, like reading, watching TV or driving&rdquo;</em></li>
	<li>9% reported any awareness of &ldquo;<em>Incorrect perception of colours&rdquo;</em></li>
</ul>

<p><a href="http://www.amd.ie/">www.amd.ie</a> &ndash; is being relaunched with new content to increase awareness of the symptoms of AMD and provide helpful resources to the public about AMD. It contains a unique AMD Symptom Checker to help identify the symptoms of AMD plus free booklets to download.</p>

<p>Speaking at today&rsquo;s launch, campaign ambassador, <strong>Anne Doyle</strong> said:</p>

<p><em>&ldquo;Reading plays such a central role in my life. It was central to my career as a news reader. It is a passion of mine that I am enjoying even more during my retirement. It is vital that we increase awareness of AMD so that fewer people are deprived of the joy reading brings to their life as they age. I have to admit that, like many others, I was oblivious to AMD. We need to get the message out that if you experience blurred vision or distortion, you need to get tested for AMD straight away. If you or someone you love is aged over 50, now is the time to inform yourself of the symptoms of AMD by visiting </em><a href="http://www.amd.ie/"><em>www.amd.ie</em></a><em> &rdquo;</em></p>

<p><strong>Mr</strong> <strong>Mark Cahill, Consultant Eye Surgeon</strong> and <strong>spokesperson for the Irish College of Ophthalmologists</strong> explained:</p>

<p><em>&ldquo;AMD is one of the most common causes of vision loss in older adults in Ireland; however its outcome has been greatly improved with new treatments. It is a privilege to be able to help patients regain their vision and this campaign provides an important reminder that the threat of sight conditions as we age is something we need to be more aware of. &nbsp;<br />
<br />
People over 50 and those with a family history of AMD should be aware of the symptoms and&nbsp;have their eyes checked every two years or as directed by their eye care professional.&nbsp; The early detection and diagnosis of wet AMD by an eye doctor and prompt treatment is crucial to prevent sight loss. &nbsp; It is also important to remind people that simple lifestyle changes can have a big impact and help to slow the progression or onset of AMD, like giving up smoking, eating a healthy diet rich in leafy greens and exercising regularly<strong>.&rdquo;</strong></em></p>

<p>Also speaking at the launch of AMD Awareness Week, <strong>Chris White, CEO of the <em>National Council of the Blind, Ireland</em></strong> said:</p>

<p><em>&ldquo;NCBI fully supports this campaign as early detection of AMD is crucial to maintaining levels of vision as you get older. It is important that anyone noticing changes in their vision have it checked out as AMD is common among the over 50s. NCBI services are available throughout the country to anyone affected by AMD offering practical and emotional support, rehabilitation services and other training to maximise independence.</em>&rdquo;</p>

<p><strong>Lynda McGivney-Nolan, Optometric Advisor to Association of Optometrists</strong> added:</p>

<p><em>&quot;The most effective way to detect AMD is by having regular eye examinations with your eye care professional. AMD testing is routinely carried out by all optometrists during the eye examination. Optometrists are trained to identify the early changes at the macula that can appear before your eye sight is affected. They are also trained to give you advice on how to reduce and manage your risk of developing AMD. If you have any concerns about your vision, you should talk to your optometrist.&quot;</em></p>

<p>Welcoming the campaign, <strong>CEO of Fighting Blindness, Kevin Whelan</strong> said:</p>

<p><em>&ldquo;The Fighting Blindness team provides information and support to people and families affected by sight loss.&nbsp; We&rsquo;re committed to continue to support AMD Awareness Week, an important annual health campaign raising awareness of the symptoms of this condition and encouraging people to protect their vision by getting their eyes tested regularly.&rdquo;</em></p>

<p>Also speaking at the launch, <strong>Country President of Novartis Ireland, Audrey Derveloy</strong> commented:</p>

<p><em>&ldquo;Novartis is committed to helping people with eye diseases and we are proud to continually support the 14<sup>th</sup> year of AMD Awareness Week. Our &lsquo;See the Full Story&rsquo; campaign highlights how daily tasks that involve reading can be impacted by wet AMD. We&rsquo;re encouraging people over the age of 50 to get their eyes tested and learn the AMD symptoms to watch out for. We&rsquo;re delighted to also re-launch </em><a href="http://www.amd.ie/"><em>www.amd.ie</em></a><em>, a helpful resource designed to help those at risk, their caregivers and the general public.&rdquo;</em></p>

<p>AMD Awareness Week is proudly supported by the Irish College of Ophthalmologists, National Council for the Blind (NCBI), the Association of Optometrists Ireland, Fighting Blindness, Healthy Ireland and Novartis Ireland.</p>

<p>ENDS</p>
