<p><strong>Today marks the 15<sup>th</sup> annual Awareness Week for AMD - the leading cause of sight loss for those aged over 50</strong></p>

<ul>
	<li><a name="_Hlk82436927"><strong>Age-related Macular Degeneration (AMD) is the number one cause of sight loss in Ireland for those aged over 50</strong></a><a href="#_ftn1" name="_ftnref1" title=""><strong><strong>[1]</strong></strong></a></li>
	<li><strong>Wet AMD is the leading cause of severe vision loss and legal blindness in people over the age of 65 in Europe<a href="#_ftn2" name="_ftnref2" title=""><strong>[2]</strong></a></strong></li>
	<li><strong>More than 100,000 people in Ireland aged over 50 are living with AMD<a href="#_ftn3" name="_ftnref3" title=""><strong>[3]</strong></a></strong></li>
	<li><strong>The earlier AMD is detected, the sooner it can be treated to reduce its progression </strong></li>
	<li><strong>Novartis Ireland and partners launches annual AMD Awareness Week, encouraging those who notice any changes in vision to visit an eye care professional and highlighting the importance of getting regular eye tests</strong></li>
</ul>

<p>&nbsp;</p>

<p><strong>Tuesday 20th September: </strong>Today marks the launch the 15<sup>th</sup> annual AMD Awareness Week in the Iveagh Gardens at 8:30am today.</p>

<p>&nbsp;</p>

<p>AMD is a chronic, degenerative eye condition that gradually diminishes central vision, blurring or obscuring what you s<a name="_Ref14252988">ee when you look straight ahead</a>. <a href="#_ftn4" name="_ftnref4" title="">[4]</a> &nbsp;With AMD, you may see a blank area in your vision or straight lines may look wavy.5 It may be difficult to read a book, locate the edge of a kerb or recognise faces.</p>

<p>&nbsp;</p>

<p>The theme of this year&rsquo;s AMD Awareness Week, which runs from the 19<sup>th</sup> to 25<sup>th</sup> September, is <strong>&lsquo;See the Full Story&rsquo;</strong>. The campaign aims to celebrate the enjoyment that reading brings to our lives as we age.&nbsp; It highlights how AMD impacts our daily living tasks that involve reading such as following a recipe, reading an iPad screen or playing a game of cards with friends &ndash; because reading means more than words. The campaign informs people about the symptoms of AMD and highlights the importance of maintaining good eye health to continue enjoying the things we love.</p>

<p>&nbsp;</p>

<p>The symptoms of AMD which are blurriness, distortion or dark spots in your vision often go unrecognised in the early stages of the condition making it crucial that those aged 50 and over get their eyes tested regularly.</p>

<p>&nbsp;</p>

<p>Wet AMD is a more severe form of AMD characterised by abnormal blood vessel growth that produces fluid in the retina, which is at the back of the eye.<a href="#_ftn5" name="_ftnref5" title="">[5]</a> It is the leading cause of severe vision loss and legal blindness in people over the age of 65 in Europe.3</p>

<p>&nbsp;</p>

<p><a href="http://www.amd.ie/">www.amd.ie</a> &ndash;provides helpful resources to the public about AMD. It contains a unique AMD Symptom Checker to help identify the symptoms of AMD plus free informational booklets to download.</p>

<p>&nbsp;</p>

<p>Speaking at today&rsquo;s launch,&nbsp;<strong>Mr. Mark Cahill, Consultant Eye Surgeon</strong>&nbsp;and&nbsp;<strong>spokesperson for the Irish College of Ophthalmologists</strong>&nbsp;said: &nbsp;</p>

<p><em>&ldquo;Over the past 15 years that we have been involved in the AMD awareness campaign, I am delighted to say that the advances in treatment for AMD have been life changing for patients.</em></p>

<p>&nbsp;</p>

<p><em>There are treatments currently available for advanced neovascular (Wet) AMD but extensive research is ongoing into other potential novel therapies,&nbsp;and treatment inside the eye is still being further developed. Given at the right interval, current medicines have been life altering&nbsp;for patients in helping them to maintain their independence by preserving and stabilising their vision and will always be at the core of treatment.&nbsp; &nbsp;&nbsp;&nbsp;</em></p>

<p>&nbsp;</p>

<p><em>It is really important to stress however, that early detection and treatment is crucial.&nbsp; We are reminding those over 50 or who have a family history of AMD to prioritise your eye health, and to have your eyes checked every two years or as directed by an eye care professional - and to be aware of the symptoms to watch out for.&rdquo;</em></p>

<p>&nbsp;</p>

<p>Also speaking at the launch of AMD Awareness Week, <strong>Chris White, CEO of the <em>National Council of the Blind, Ireland</em></strong> said:</p>

<p><strong><em>&ldquo;</em></strong><em>This campaign is a necessary reminder to all adults aged over 50 to be aware of any changes in their vision and to act on it promptly. Early detection of AMD is vital to maintaining levels of vision. For anyone living with AMD, NCBI services are available throughout the country to anyone affected by AMD offering practical and emotional support, rehabilitation services and other training to maximise independence.&rdquo;</em></p>

<p>&nbsp;</p>

<p>Welcoming the campaign, <strong>Interim CEO of Fighting Blindness, Anna Moran</strong> said:</p>

<p><em>&ldquo;The Fighting Blindness team provides information and support to people and families affected by sight loss.&nbsp; We&rsquo;re committed to continue to support AMD Awareness Week, an important annual health campaign raising awareness of the symptoms of this condition and encouraging people to protect their vision by getting their eyes tested regularly.&rdquo;</em></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>Also speaking at the launch, <strong>Country President of Novartis Ireland, Caitriona Walsh</strong> commented:</p>

<p><em>&ldquo;Novartis is committed to helping people with eye diseases and we are proud to continually support the 15<sup>th</sup> year of AMD Awareness Week. Our &lsquo;See the Full Story&rsquo; campaign highlights how daily tasks that involve reading can be impacted by wet AMD. We&rsquo;re encouraging people over the age of 50 to get their eyes tested and learn the AMD symptoms to watch out for. We&rsquo;re delighted that our website </em><a href="http://www.amd.ie/"><em>www.amd.ie</em></a><em> continues to be a helpful resource for those at risk, their caregivers and the general public.&rdquo;</em></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>AMD Awareness Week is proudly supported by the Irish College of Ophthalmologists, National Council for the Blind (NCBI), Fighting Blindness and Novartis Ireland.</p>

<p>&nbsp;</p>

<p>ENDS</p>

<p>&nbsp;</p>

<p>CONTACT:</p>

<p><a href="mailto:Richard.brophy@edelman.com">Richard.brophy@edelman.com</a></p>

<p>Mobile: 083 300 2828</p>

<p>&nbsp;</p>

<p>NOTES FOR EDITOR</p>

<p>Spokespersons for media interviews are available on request.</p>

<p>Further details on AMD, its symptoms and a symptom checker are available on <a href="http://www.amd.ie/">www.amd.ie</a></p>

<p>A photocall to formally launch AMD Awareness Week will take place at Iveagh Gardens at 8.30am today.</p>

<p>&nbsp;</p>

<p><strong>What is AMD?</strong></p>

<p>Age-related macular degeneration (AMD) is a chronic, degenerative eye condition that gradually diminishes central vision.5</p>

<p>&nbsp;</p>

<p><strong>How can AMD affect your sight?</strong></p>

<p>AMD blurs or obscures what you see when you look straight ahead5. With AMD, you may see a blank area in your vision or straight lines may look wavy5. It may be difficult to read a book, locate the edge of a kerb or recognise faces.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong>Wet AMD</strong></p>

<p>Wet AMD is a more severe form of AMD characterised by abnormal blood vessel growth that produces fluid in the retina5. It is the leading cause of severe vision loss and legal blindness in people over the age of 65 in Europe.5</p>

<p style="margin-left:.25in;">&nbsp;</p>

<p style="margin-left:.25in;">&nbsp;</p>

<p><strong>What Causes AMD?</strong></p>

<p>AMD, is caused by the thinning of the macula (MAK-u-luh), a part of the retina that is responsible for central vision.</p>

<p>&nbsp;</p>

<p><strong>About Novartis Ireland </strong><br />
Novartis Ireland currently employs about 1,500 people in Dublin and Cork.&nbsp;Find out more at @NovartisIreland on Twitter or novartis.ie</p>

<p><strong>About the Irish College of Ophthalmologists </strong></p>

<p>The Irish College of Ophthalmologists is the training and professional body for eye doctors in Ireland. Ophthalmologists are medically trained doctors who have undertaken extensive further specialist training in order to diagnose and treat patient eye conditions, diseases and injuries. <a href="http://www.eyedoctors.ie/">www.eyedoctors.ie</a>&nbsp; @eyedoctorsirl</p>

<p><strong>About the National Council for the Blind </strong></p>

<p>NCBI is the leading charity working for the rising number of people affected by sight loss in Ireland. NCBI provides practical and emotional support to help people with sight loss face their futures with confidence. For more information visit <a href="http://www.ncbi.ie/">www.ncbi.ie</a></p>

<p><strong>About Fighting Blindness </strong></p>

<p>Fighting Blindness is an Irish patient-led charity working to cure blindness, support people experiencing sight loss and empower patients. It does this by: Funding and enabling world-leading research into treatments and cures for blindness. Since 1983, Fighting Blindness has invested over &euro;17 million in more than 90 research projects, with a particular focus on genes and gene therapy, cell technology and regenerative medicine, retinal implant technology, novel drug therapy and population studies. Fighting Blindness provides professional counselling and peer-to-peer support through its Insight counselling service for people and families affected by sight loss. The charity also undertakes extensive activity in the area of advocacy and patient empowerment, and, specifically, for equitable access to existing treatments, novel therapies and appropriate care. For more information on the work of Fighting Blindness, visit <a href="http://www.fightingblindness.ie/">www.FightingBlindness.ie</a></p>

<div>&nbsp;
<hr align="left" size="1" width="33%" />
<div id="ftn1">
<p><a href="#_ftnref1" name="_ftn1" title="">[1]</a> The Cost of Sight Loss Report NCBI 2011</p>
</div>

<div id="ftn2">
<p><a href="#_ftnref2" name="_ftn2" title="">[2]</a> Schmidt-Erfurth U, et al. Guidelines for the management of neovascular age-related macular degeneration by the European Society of Retina Specialists (EURETINA). Br J Ophthalmol. 2014; 98:1144-1167.</p>
</div>

<div id="ftn3">
<p><a href="#_ftnref3" name="_ftn3" title="">[3]</a> &nbsp;Akuffo KO, Nolan J, Stack J, Moran R, Feeney J, Kenny RA, Peto T, Dooley C, O&rsquo;Halloran AM, Cronin H, and Beatty S.</p>

<p>Prevalence of age-related macular degeneration in the Republic of Ireland. British Journal of Ophthalmology. 2015, <a href="https://bjo.bmj.com/content/99/8/1037">https://bjo.bmj.com/content/99/8/1037</a></p>
</div>

<div id="ftn4">
<p><a href="#_ftnref4" name="_ftn4" title="">[4]</a> National Eye Institute. Facts About Age-Related Macular Degeneration. Available at <a href="https://www.nei.nih.gov/learn-about-eye-health/eye-conditions-and-diseases/age-related-macular-degeneration">https://www.nei.nih.gov/learn-about-eye-health/eye-conditions-and-diseases/age-related-macular-degeneration</a></p>
</div>

<div id="ftn5">
<p><a href="#_ftnref5" name="_ftn5" title="">[5]</a> Ambati J and Fowler BJ. Mechanisms of age-related macular degeneration. <em>Neuron</em>. 2012;75(1):26&ndash;39.</p>
</div>
</div>
