<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet=""><strong>Today marks the 15<sup>th</sup>&nbsp;annual Awareness Week for AMD - the leading cause of sight loss for those aged over 50</strong></p>

<p><img alt="AMD Awareness Week 2022" src="/banners2018/amd.jpg" style="float:left;" title="AMD Awareness Week 2022" /></p>

<ul font-size:="" style="padding: 0px 40px; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">
	<li>Age-related Macular Degeneration (AMD) is the number one cause of sight loss in Ireland for those aged over 50</li>
	<li>Wet AMD is the leading cause of severe vision loss and legal blindness in people over the age of 65 in Europe</li>
	<li>More than 100,000 people in Ireland aged over 50 are living with AMD</li>
	<li>The earlier AMD is detected, the sooner it can be treated to reduce its progression</li>
	<li>Novartis Ireland and partners launches annual AMD Awareness Week, encouraging those who notice any changes in vision to visit an eye care professional and highlighting the importance of getting regular eye tests</li>
</ul>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet=""><strong>Tuesday 20th September:&nbsp;</strong>Today marks the launch the 15<sup>th</sup>&nbsp;annual AMD Awareness Week.</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">AMD is a chronic, degenerative eye condition that gradually diminishes central vision, blurring or obscuring what you see when you look straight ahead.&nbsp;&nbsp;With AMD, you may see a blank area in your vision or straight lines may look wavy.5 It may be difficult to read a book, locate the edge of a kerb or recognise faces.</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">The theme of this year&rsquo;s AMD Awareness Week, which runs from the 19<sup>th</sup>&nbsp;to 25<sup>th</sup>&nbsp;September, is&nbsp;<strong>&lsquo;See the Full Story&rsquo;</strong>. The campaign aims to celebrate the enjoyment that reading brings to our lives as we age.&nbsp; It highlights how AMD impacts our daily living tasks that involve reading such as following a recipe, reading an iPad screen or playing a game of cards with friends &ndash; because reading means more than words. The campaign informs people about the symptoms of AMD and highlights the importance of maintaining good eye health to continue enjoying the things we love.</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">The symptoms of AMD which are blurriness, distortion or dark spots in your vision often go unrecognised in the early stages of the condition making it crucial that those aged 50 and over get their eyes tested regularly.</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Wet AMD is a more severe form of AMD characterised by abnormal blood vessel growth that produces fluid in the retina, which is at the back of the eye.</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet=""><a href="http://www.amd.ie/">www.amd.ie</a>&nbsp;provides helpful resources to the public about AMD. It contains a unique AMD Symptom Checker to help identify the symptoms of AMD plus free informational booklets to download.</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Speaking at today&rsquo;s launch,&nbsp;<strong>Mr. Mark Cahill, Consultant Eye Surgeon</strong>&nbsp;and&nbsp;<strong>spokesperson for the Irish College of Ophthalmologists</strong>&nbsp;said: &nbsp;</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet=""><em>&ldquo;Over the past 15 years that we have been involved in the AMD awareness campaign, I am delighted to say that the advances in treatment for AMD have been life changing for patients.</em></p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet=""><em>There are treatments currently available for advanced neovascular (Wet) AMD but extensive research is ongoing into other potential novel therapies,&nbsp;and treatment inside the eye is still being further developed. Given at the right interval, current medicines have been life altering&nbsp;for patients in helping them to maintain their independence by preserving and stabilising their vision and will always be at the core of treatment.&nbsp; &nbsp;&nbsp;&nbsp;</em></p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet=""><em>It is really important to stress however, that early detection and treatment is crucial.&nbsp; We are reminding those over 50 or who have a family history of AMD to prioritise your eye health, and to have your eyes checked every two years or as directed by an eye care professional - and to be aware of the symptoms to watch out for.&rdquo;</em></p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Also speaking at the launch of AMD Awareness Week,&nbsp;<strong>Chris White, CEO of the&nbsp;<em>National Council of the Blind, Ireland</em></strong>&nbsp;said:</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet=""><strong><em>&ldquo;</em></strong><em>This campaign is a necessary reminder to all adults aged over 50 to be aware of any changes in their vision and to act on it promptly. Early detection of AMD is vital to maintaining levels of vision. For anyone living with AMD, NCBI services are available throughout the country to anyone affected by AMD offering practical and emotional support, rehabilitation services and other training to maximise independence.&rdquo;</em></p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Welcoming the campaign,&nbsp;<strong>Interim CEO of Fighting Blindness, Anna Moran</strong>&nbsp;said:</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet=""><em>&ldquo;The Fighting Blindness team provides information and support to people and families affected by sight loss.&nbsp; We&rsquo;re committed to continue to support AMD Awareness Week, an important annual health campaign raising awareness of the symptoms of this condition and encouraging people to protect their vision by getting their eyes tested regularly.&rdquo;</em></p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Also speaking at the launch,&nbsp;<strong>Country President of Novartis Ireland, Caitriona Walsh</strong>&nbsp;commented:</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet=""><em>&ldquo;Novartis is committed to helping people with eye diseases and we are proud to continually support the 15<sup>th</sup>&nbsp;year of AMD Awareness Week. Our &lsquo;See the Full Story&rsquo; campaign highlights how daily tasks that involve reading can be impacted by wet AMD. We&rsquo;re encouraging people over the age of 50 to get their eyes tested and learn the AMD symptoms to watch out for. We&rsquo;re delighted that our website&nbsp;</em><a href="http://www.amd.ie/" style="color: rgb(7, 130, 193);"><em>www.amd.ie</em></a><em>&nbsp;continues to be a helpful resource for those at risk, their caregivers and the general public.&rdquo;</em></p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">AMD Awareness Week is proudly supported by the Irish College of Ophthalmologists, National Council for the Blind (NCBI), Fighting Blindness and Novartis Ireland.</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet=""><strong>What is AMD?</strong></p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Age-related macular degeneration (AMD) is a chronic, degenerative eye condition that gradually diminishes central vision.5</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet=""><strong>How can AMD affect your sight?</strong></p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">AMD blurs or obscures what you see when you look straight ahead5. With AMD, you may see a blank area in your vision or straight lines may look wavy5. It may be difficult to read a book, locate the edge of a kerb or recognise faces.</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet=""><strong>Wet AMD</strong></p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Wet AMD is a more severe form of AMD characterised by abnormal blood vessel growth that produces fluid in the retina5. It is the leading cause of severe vision loss and legal blindness in people over the age of 65 in Europe.5</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet=""><strong>What Causes AMD?</strong></p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">AMD, is caused by the thinning of the macula (MAK-u-luh), a part of the retina that is responsible for central vision.</p>
