<h4><strong>Backlog of Eye Care Patients Due to COVID-19 Restrictions of Serious Concern </strong></h4>

<h4><strong>ICO Encourage Patients to Attend their Ophthalmology Appointments</strong></h4>

<p>The training and professional body for eye doctors in Ireland is marking the significance of this week&rsquo;s 6/6/2020 date with an appeal to the Minister for Health to oversee the continued roll out of appropriate resourcing of ophthalmology&nbsp;services across the country as routine and elective procedures for non-Covid patients resume.</p>

<p>Dr Patricia Quinlan, President of the Irish College of Ophthalmologists and Consultant Ophthalmologist, is calling on Minister for Health, Mr Simon Harris to prioritise the roll out of the Integrated Eye Care Team model, in line Sl&aacute;intecare objectives, and the key recommendations contained in the national policy approved Model of Eye Care<a href="#_ftn1" name="_ftnref1" title=""><sup><sup>[1]</sup></sup></a>.</p>

<p>The term &ldquo;6/6 or 20/20 vision&rdquo; is familiar to many as the measurement that describes a standard of best vision or eyesight.&nbsp; The year 2020 also marks the target goal date set by the World Health Organisation (WHO) global initiative &ldquo;VISION 2020&rdquo;, launched in 1999, to achieve their overarching objective to eliminate avoidable blindness by &ndash; a date now upon us.&nbsp; The Irish Government pledged their commitment to the objectives of Vision 2020 in 2003.</p>

<p>Commenting on the urgent need for a focus on eye care, Dr Patricia Quinlan said, &ldquo;<em>As the easing of restrictions continues and ophthalmologists can return to comprehensively looking after their patients, we will face the challenge of providing long-delayed, medically essential care to our patients whose health care needs were postponed during the crisis.&nbsp; It is of great concern for the ICO that the resumption of ophthalmology&nbsp;services can take place at the greatest capacity possible in our clinics and hospitals, utilising all of the resources and expertise available to ensure cases of preventable blindness are avoided.&rdquo;</em></p>

<p>Prior to the pandemic, the specialty of ophthalmology was among the busiest in Ireland. Ophthalmology has one of the highest volume of outpatient appointments and cataract surgery is one of the most frequent surgical procedures carried out in this country.</p>

<p>The latest national waiting time figures from the NTPF show that over 50,000 patients are waiting for an ophthalmology appointment in HSE hospitals, 41,401 for an outpatients appointment and 9,822 on the inpatient list.&nbsp; &nbsp;The figures will increase significantly in the coming months as the HSE adapt to the social distancing requirements while also working through the backlog of cancelled appointments due to the pandemic, and the expected influx of new referrals from GPs.&nbsp;</p>

<p>These figures do not also account for the many additional private patients who have had their ophthalmology procedures postponed in light of the COVID restrictions and the State contract with Private Hospitals.</p>

<p>Dr Patricia Quinlan said,&nbsp;<em>&ldquo;Never before has the importance of a sustainable and cost effective eye care model, accessible to all patients, been more pressing as we adapt to the COVID-19 pandemic environment.&nbsp;&nbsp;</em><em>Many ophthalmology treatments are time sensitive, such as wet macular degeneration. &nbsp;Early diagnosis and treatment is crucial. It is vital that all the resources available to doctors for patient care is utilised, both in the HSE and the independent sector, and including non-medical cardholders. &nbsp; Our members have a combined duty to protect our patients, most of whom are elderly, whilst doing our best to preserve their vision.&rdquo;</em></p>

<p>Professor William Power, Clinical Lead for Ophthalmology and member of the ICO said,&nbsp;<em>&ldquo;Intensive discussions and planning is ongoing in the HSE regarding the return to the delivery of services to non Covid patients and how to adapt services to the requirements&nbsp;of ongoing infection prevention and control. The Clinical Programme is engaging with HSE clinical and management staff to provide&nbsp;guidance&nbsp;on the reconfiguration&nbsp;and acceleration of services.&rdquo;</em></p>

<p><em>The integrated eye care team structure, outlined in the Clinical Programme in Ophthalmology Model of Care will ensure that specialised eye care is available to those who require it, both young and old, as far as possible in the primary care setting. In the post Covid world, accelerating the delivery of ophthalmology services outside of the hospital network will help to ensure that patients can be looked after.&rdquo;</em></p>

<p>The Clinical Programme and ICO welcome&nbsp;the recruitment of&nbsp;the integrated eye care team which has been underway in Dublin Primary Care Centres in recent months as a much-needed&nbsp;progression in the implementation phase of the Model of Care recommendations.&nbsp;</p>

<p>Prof Power said,<em>&ldquo;In line with Sl&aacute;intecare Policy, the priority and focus is to see ophthalmology services expanded throughout the country, to provide care to patients.&rdquo;</em></p>

<p>The ICO is also reminding the public and patients of the importance of continuing to look after their eye health as we emerge from the ongoing impact of the pandemic and to attend appointments as directed by their eye health care professional.</p>

<p>Dr Quinlan said,<em>&ldquo;These are very challenging times for patients and for the wider population. Covid 19 is causing significant concerns, restrictions and measures will be in place for some time to come, but all of the illnesses, and conditions that would normally present are still occurring. I know many patients may still be reluctant to attend their doctor or hospital to&nbsp;avoid contracting the coronavirus, but we are reminding the public of the importance of early detection and treatment in the management of eye diseases to preserve and protect vision. It is also essential for ophthalmology patients to attend their appointments to ensure continuum of care&quot;</em></p>

<p>The ICO has an information booklet called &lsquo;<a href="http://www.eyedoctors.ie/documents/ICO_Vision%20book_LO-version3.pdf">Your Sight Our Vision&rsquo;</a>&nbsp;to promote eye health awareness and to highlight the significance lifestyle choices have on eye health.</p>

<p><strong>Among the recommendations from eye doctors for healthy vision are:</strong></p>

<p><strong>Consider eye&nbsp;health as part of overall good health -&nbsp;</strong>Understand the impact of other diseases on the eyes.&nbsp; The eyes are extraordinarily complex.&nbsp; Many systemic diseases such as diabetes, various tumours, hypertension, sickle cell disease, lupus, and many others can affect the eyes and threaten vision. &nbsp;Anyone with concerns should visit their GP who can refer you to an eye doctor for medical examination.</p>

<p><strong>Diet - Eat the right foods</strong></p>

<p>Studies show that what we eat can affect our vision. Certain foods are particularly high in antioxidants which can help to prevent retinal damage and certain eye conditions like cataracts and age-related Macular Degeneration (AMD). An anti-oxidant which hugely beneficial is lutein, found in many fruit and vegetables. Foods recommended for eye health include:</p>

<ul>
	<li>Broad leaf greens such as kale and spinach</li>
	<li>Brightly coloured fruit and veg such as corn, carrots, orange sweet peppers and oranges</li>
	<li>Oily fish like salmon, tuna and mackerel</li>
	<li>Broccoli</li>
	<li>Eggs</li>
</ul>

<p><strong>Exercise</strong>&nbsp;&ndash; Our eyes need good blood circulation and oxygen intake, and both are stimulated by regular exercise. Lack of exercise contributes significantly to several eye conditions, particularly amongst people aged 60 and over. Being physically active also helps in maintaining weight in a normal range, which reduces the risk of diabetes and diabetic retinopathy, which is a serious eye complication related to that disease.</p>

<p><strong>Don&#39;t smoke</strong>&nbsp;&ndash; Avoiding smoking or quitting altogether is one of the best investments a person can make in their long-term health. Smoking increases the risks of a variety of diseases, including those that affect the eye such as cataracts and diabetic-related conditions.&nbsp; After ageing, smoking is the biggest factor for developing Age-related macular degeneration (AMD).</p>

<p><strong>Know Your Family Eye Health History &ndash;&nbsp;</strong>Certain eye conditions can be hereditary, such as glaucoma.&nbsp; When detected early, it can be treated and controlled and therefore it would be very beneficial to know if this condition has been in your family so you can be tested.</p>

<p><strong>Protect Your Eyes at Work and at Play</strong>&nbsp;&ndash; One of the best investments in eye health is to be sure to protect them with proper eye wear, whether it&#39;s enjoying a day in the sun, playing sports or in your profession, be safe with your eyes at all times.</p>

<p><strong>Get Regular Eye Exams</strong>&nbsp;&ndash; Healthy adults who do not notice anything obviously wrong with their eyes should still have their eyes tested every two years.&nbsp; Eye Doctors recommend that adults with no signs or risk factors for eye disease get a baseline eye disease screening at age 40, which is typically the approximate time when early signs of disease and changes in vision may start to occur. Individuals at any age with symptoms or who are at risk for eye disease, such as those with a family history of eye disease, diabetes or high blood pressure should see an eye health care professional to determine how frequently their eyes should be examined.</p>

<p><strong>ENDS</strong></p>

<p><strong>FOR FURTHER MEDIA ENQUIRIES OR TO ARRANGE AN INTERVIEW WITH AN ICO SPOKESPERSON, PLEASE CONTACT:</strong></p>

<p>Ciara Keenan, Communications Manager, Irish College of Ophthalmologists</p>

<p>Tel: &nbsp;086 369 4427</p>

<p>E:&nbsp;<a href="mailto:Ciara.keenan@eyedoctors.ie" target="_blank">Ciara.keenan@eyedoctors.ie</a>&nbsp;</p>

<div>&nbsp;
<hr align="left" size="1" width="33%" />
<div id="ftn1">
<p><a href="#_ftnref1" name="_ftn1" title="">[1]</a> &nbsp;<a href="https://www.hse.ie/eng/about/who/cspd/ncps/ophthalmology/">https://www.hse.ie/eng/about/who/cspd/ncps/ophthalmology/</a></p>
</div>
</div>
