<h3>Patients using Argus II experienced significant improvement in visual function and quality of life</h3>

<p>Thursday, June 25, 2015</p>

<p>Eye Surgeon and President of the Irish College of Ophthalmologists, Mr William Power, has said the results of a three-year clinical trial of the retinal implant popularly known as the bionic eye &ldquo;offers considerable promise to patients with end stage retinitis pigmentosa and the potential for an improved quality of life in the majority of patients implanted with the device.&rdquo;&nbsp;</p>

<p>Mr Power&rsquo;s comments come following the publication of the findings of the three-year clinical trial in&nbsp;<a href="http://www.aaojournal.org/"><em>Ophthalmology</em></a>, the journal of the&nbsp;<a href="http://www.aao.org/">American Academy of Ophthalmology</a>&nbsp;this week, which states that the results have proven the long-term efficacy, safety and reliability of the device that restores vision in those blinded by a rare, degenerative eye disease. &nbsp;&nbsp;</p>

<p>Mr Power, an ophthalmic surgeon at the Royal Victoria Eye and Ear Hospital in Dublin welcomed the findings which show that the Argus II significantly improves visual function and quality of life for people blinded by retinitis pigmentosa.&nbsp; &nbsp;&nbsp;</p>

<p><a href="http://www.fightingblindness.ie/eye-conditions/retinitis-pigmentosa/?gclid=CP7N1euJqMYCFQKg2wodPpIOSw">Retinitis pigmentosa&nbsp;</a>is an incurable eye disease that causes slow vision loss which eventually leads to blindness.&nbsp;The Argus II system was designed to help provide patients who have lost their sight due to the disease with some useful vision. Through the device, patients with retinitis pigmentosa are able to see patterns of light that the brain learns to interpret as an image. The system uses a miniature video camera stored in the patient&rsquo;s glasses to send visual information to a small computerised video processing unit which can be stored in a pocket. This computer turns the image to electronic signals that are sent wirelessly to an electronic device implanted on the retina, the layer of light-sensing cells lining the back of the eye.</p>

<p>The Argus II received Food and Drug Administration (FDA) approval as a&nbsp;<a href="http://www.fda.gov/MedicalDevices/DeviceRegulationandGuidance/HowtoMarketYourDevice/PremarketSubmissions/HumanitarianDeviceExemption/">Humanitarian Use Device (HUD)</a>&nbsp;in 2013, which is an approval specifically for devices intended to benefit small populations and/or rare conditions. In Europe Argus II received the CE Mark in 2011 and was launched commercially in Italy, Germany, France, Spain, The Netherlands, Switzerland and England.</p>

<p>&nbsp;</p>

<p>To further evaluate the safety, reliability and benefit of the device, a clinical trial of 30 people, aged 28 to 77, was conducted in the United States and Europe. All of the study participants had little or no light perception in both eyes. The researchers conducted visual function tests using both a computer screen and real-world conditions, including finding and touching a door and identifying and following a line on the ground. A Functional Low-vision Observer Rated Assessment (FLORA) was also performed by independent visual rehabilitation experts at the request of the FDA to assess the impact of the Argus II system on the subjects&rsquo; everyday lives, including extensive interviews and tasks performed around the home.</p>

<p>The visual function results indicated that up to 89 per cent of the subjects performed significantly better with the device. The FLORA found that among the subjects, 80 per cent received benefit from the system when considering both functional vision and patient-reported quality of life, and no subjects were affected negatively.</p>

<p>After one year, two-thirds of the subjects had not experienced device- or surgery-related serious adverse events. After three years, there were no device failures. Throughout the three years, 11 subjects experienced serious adverse events, most of which occurred soon after implantation and were successfully treated. One of these treatments, however, was to remove the device due to recurring erosion after the suture tab on the device became damaged.<a href="https://mail.google.com/mail/ca/u/0/?shva=1#14e22775aa6a2791__edn2">[1]</a></p>

<p>Mr Power said, &ldquo;It is encouraging to now have published results after three years of the clinical trial. &nbsp;&nbsp;It is also noteworthy that most early adverse events following implantation of the device were successfully treated. We look forward to the publication of further on-going trials using this implant, including the potential for treatment of other eye diseases.&rdquo;</p>

<p><strong>ENDS</strong></p>

<p><em><strong>Note to editors</strong></em><em>:</em></p>

<p><em>If you would like to speak to the lead author of the study,</em>&nbsp;<em>Allen C. Ho, M.D, Director of the clinical retina research unit at Wills Eye Hospital or would like to speak with a patient who is using the Argus II system, please contact the ICO Communications Manager Ciara Keenan at&nbsp;<a href="mailto:ciara.keenan@eyedoctors.ie">ciara.keenan@eyedoctors.ie</a>&nbsp;or email the American Academy of Ophthalmology&rsquo;s public relations team at&nbsp;<a href="mailto:media@aao.org">media@aao.org</a>&nbsp;</em></p>

<p><strong>About the Irish College of Ophthalmologists</strong></p>

<p>Formed in 1991, the Irish College of Ophthalmologists is the professional and advocacy body for eye doctors in Ireland.&nbsp; With oversight from the Medical Council, the ICO places patient safety at the centre of the clinical process through on-going education of the public and medical professionals, setting and maintaining the highest of standards and ethics and issuing guidance to key stakeholders in the wider health community.</p>

<p><br />
&nbsp;</p>

<p>The central mission of the ICO is to reduce the number of annual cases of preventable blindness and sight loss and to facilitate (as far as is possible) independent living in the community through effective clinical pathways and interventions.&nbsp;</p>

<p>In keeping with wider government healthcare policy more than half of our members work directly in the community at the most effective and appropriate level for patients. Eye Doctors have a minimum of ten years medical training.</p>

<p><strong>Building a collaborative approach</strong></p>

<p>As the expert body on eye care in Ireland the College proactively engages with the medical sector, patient groups and government audiences in sharing new thinking and developing models of care to reflect and anticipate future challenges. Through the Forum of Postgraduate Medical Training Bodies the College has supported the development of the Clinical Programmes. Under the direction of clinical lead, Paul Moriarty, the ICO is funding the research into the National&nbsp;</p>

<p>Clinical Programme in Ophthalmology which is set for publication in the coming months.</p>

<p>The ICO is also actively involved in the National Coalition for Vision Health, the Medical Fitness to Drive Group and more latterly with the alliance in support of plain packaging for tobacco products. Additionally, at the time of writing the College is in discussions with the HSE regarding a joint Eye Healthcare Campaign.&nbsp;&nbsp;</p>

<p><strong>About the American Academy of Ophthalmology</strong></p>

<p>The American Academy of Ophthalmology, headquartered in San Francisco, is the world&#39;s largest association of eye physicians and surgeons, serving more than 32,000 members worldwide. The Academy&#39;s mission is to advance the lifelong learning and professional interests of ophthalmologists to ensure that the public can obtain the best possible eye care. For more information, visit&nbsp;<a href="http://www.aao.org./">www.aao.org.</a>&nbsp;</p>

<p>The Academy is also a leading provider of eye care information to the public. The Academy&#39;s EyeSmart&reg; program educates the public about the importance of eye health and empowers them to preserve healthy vision. EyeSmart provides the most trusted and medically accurate information about eye diseases, conditions and injuries. OjosSanos&trade; is the Spanish-language version of the program. Visit&nbsp;<a href="http://www.geteyesmart.org/">www.geteyesmart.org</a>&nbsp;or&nbsp;<a href="http://www.ojossanos.org/">www.ojossanos.org</a>&nbsp;to learn more.</p>

<p><strong>About</strong>&nbsp;<em><strong>Ophthalmology</strong></em><br />
<a href="http://www.aaojournal.org/"><em>Ophthalmology</em></a>, the official journal of the American Academy of Ophthalmology, publishes original, peer-reviewed, clinically-applicable research. Topics include the results of clinical trials, new diagnostic and surgical techniques, treatment methods, technology assessments, translational science reviews and editorials. For more information, visit&nbsp;<a href="http://www.aaojournal.org/">www.aaojournal.org</a>.</p>

<p>[1]&nbsp;<a href="http://www.aaojournal.org/article/S0161-6420(11)00884-0/abstract">http://www.aaojournal.org/article/S0161-6420(11)00884-0/abstract</a></p>
