<h3><strong>Clinic aims to help tackle severe deficit in services for young and elderly</strong></h3>

<h3><strong>World Sight Day a reminder of global responsibility in dealing with preventable blindness </strong></h3>

<p>An Irish eye doctor who specialises in the treatment of adult and paediatric eye conditions has travelled to Haiti this week to set up a dedicated medical eye clinic for those most in need of treatment, the <a href="http://www.eyedoctors.ie/">Irish College of Ophthalmologists</a> (ICO) has announced.</p>

<p><a href="http://www.eyedoctors.ie/opthalmologists/doctor/139/Kevin%20Tempany/">Dr Kevin Tempany</a>, a member of the ICO and founder of The Ranelagh Eye Clinic in Dublin and Vista Eye Clinic in Naas, has initiated the eye clinic project in an attempt to tackle the severe deficit in eye services for children and adults on the Haitian island of Ile a Vache.&nbsp;</p>

<p>Dr Tempany&rsquo;s visit to Haiti coincides with World Sight Day (WSD) on October 8<sup>th</sup>, an awareness initiative by the International Association for the Prevention of Blindness (IAPB) which urges the global community to focus on those most in need of eye care services in order to prevent avoidable sight loss.&nbsp;</p>

<p>Dr Tempany is working closely with the Soul of Haiti Foundation<a href="#_ftn1" name="_ftnref1" title="">[1]</a> which has been focused on creating new businesses and a better future for the people of Haiti, particularly in the aftermath of the devastating 7.0 magnitude earthquake which hit the region in January 2010.</p>

<p>Speaking about the development of the new eye clinic, Dr Tempany said,</p>

<p>&ldquo;Currently in Haiti there is a severe deficit in eye care services for both the young and elderly population.&nbsp; The purpose of setting up this clinic is to begin dealing with those most in need of treatment in the community and to create a sustainable model on the island which will benefit not only this generation but future generations of Haitians families to come.</p>

<p>Our aim is to provide a community based eye care service delivered by skilled experienced medical staff which will allow for patients to be seen, diagnosed and treated quickly.&nbsp;&nbsp; It is our intention to organise visits to the clinic by American and Irish eye doctors to treat patients.&nbsp; We are also working with a Haitian eye doctor in the start-up phase to ensure local medical involvement in the project which will be crucial in ensuring the sustainability of the project.&rdquo;</p>

<p>Chief Executive of the ICO, Siobhan Kelly said,</p>

<p>&ldquo;We commend Dr Tempany in his efforts to establish this much needed eye care service for the people of Haiti.&nbsp; Many Irish eye doctors continue to be involved in overseas projects to help deal with the inequalities in the delivery of eye care, mindful of their commitments to global eye health and also at home in Ireland through awareness campaigns such as AMD Week<a href="#_ftn2" name="_ftnref2" title="">[2]</a> and the ICO&rsquo;s &lsquo;Your Sight Our Vision Campaign<a href="#_ftn3" name="_ftnref3" title="">[3]</a>.&rdquo;&nbsp;&nbsp;</p>

<p>Speaking about the significance of World Sight Day, Dr Tempany said,</p>

<p><em>&ldquo;World Sight Day is a reminder of the responsibility we have to the wider global community and to endeavour to deal with eye care deficits in less advantaged societies.&nbsp; Advances in therapies in the treatment of common eye conditions has meant that 75-80% of sight threatening eye diseases are now preventable but early diagnosis and treatment is crucial.&nbsp; Unfortunately the people of Haiti are currently not benefitting from these advances in eye health care and needless cases of sight loss in both children and adults are still occurring.</em> &ldquo;</p>

<p>The new clinic in Haiti will treat the most common eye conditions affecting the adult population in Haiti, including cataract, glaucoma, uveitis, age-related macular degeneration (AMD) and corneal disease.&nbsp; It will also run a dedicated paediatric eye clinic service to deal with common childhood eye conditions, which once detected and treated early, will mean greater preservation of sight. &nbsp;&nbsp;The diagnostic equipment has been donated by The Ranelagh Eye Clinic with great support from Topcon Ireland, producer of optical products for the Irish ophthalmic care market.</p>

<p>The eye clinic will be the latest in a long line of local sustainable community projects which have been developed in Haiti by Irish entrepreneurs, businesses and medical professionals in a bid to help the country rebuild itself after the devastating impact of the 2010 earthquake.&nbsp;</p>

<p><strong>Ends</strong></p>

<p><strong><u>For media enquiries contact: </u></strong></p>

<p>Ciara Keenan, Communications Manager, Irish College of Ophthalmologists</p>

<p>Tel: 01 402 2777 / 086 369 4427</p>

<p>E: <a href="mailto:Ciara.keenan@eyedoctors.ie">Ciara.keenan@eyedoctors.ie</a>&nbsp;</p>

<p>&nbsp;</p>

<p><strong><u>Notes to Editor</u></strong></p>

<p><strong>About the ICO</strong></p>

<p>Formed in 1991, the Irish College of Ophthalmologists is the professional and advocacy body for eye doctors in Ireland.&nbsp; With oversight from the Medical Council, the ICO places patient safety at the centre of the clinical process through on-going education of the public and medical professionals, setting and maintaining the highest of standards and ethics and issuing guidance to key stakeholders in the wider health community.</p>

<p>The central mission of the ICO is to reduce the number of annual cases of preventable blindness and sight loss and to facilitate (as far as is possible) independent living in the community through effective clinical pathways and interventions.&nbsp;</p>

<p>In keeping with wider government healthcare policy more than half of our members work directly in the community at the most effective and appropriate level for patients. Eye Doctors have a minimum of ten years medical training.</p>

<p><strong>Building a collaborative approach</strong></p>

<p>As the expert body on eye care in Ireland the College proactively engages with the medical sector, patient groups and government audiences in sharing new thinking and developing models of care to reflect and anticipate future challenges. Through the Forum of Postgraduate Medical Training Bodies the College has supported the development of the Clinical Programmes. Under the direction of clinical lead, Paul Moriarty, the ICO is funding the research into the National Clinical Programme in Ophthalmology which is set for publication in the coming months.</p>

<p>The ICO is also actively involved in the National Coalition for Vision Health, the Medical Fitness to Drive Group and more latterly with the alliance in support of plain packaging for tobacco products. Additionally, at the time of writing the College is in discussions with the HSE regarding a joint Eye Healthcare Campaign.&nbsp;&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
	<tbody>
		<tr>
			<td style="height:34px;">&nbsp;</td>
			<td style="height:34px;">&nbsp;</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<div>&nbsp;
<hr align="left" size="1" width="33%" />
<div id="ftn1">
<p><a href="#_ftnref1" name="_ftn1" title="">[1]</a> Since its establishment, the Soul of Haiti Foundation and its members have been working to create new businesses and a better future for the people of Haiti. Following the devastating earthquake on 12th January 2010 the challenge has become even greater. The Soul of Haiti Foundation is committed to leveraging entrepreneurial/business skills and an ability to organise to help the social and economic circumstances in Haiti. The Soul of Haiti Foundation illustrates the power of engagement of the Private Sector in development, how a business approach can be applied to project management and the sustainable benefits of economic development as a means of alleviating poverty and creating sustainable livelihoods.</p>

<p>&nbsp;</p>
</div>

<div id="ftn2">
<p><a href="#_ftnref2" name="_ftn2" title="">[2]</a> AMD Week is a national awareness week to highlight how AMD can impact a person&rsquo;s life and&nbsp; encourages people to protect their eyesight by having regular eye checks and looking after their eye health.&nbsp; See <a href="http://amd.ie/">http://amd.ie/</a></p>

<p>&nbsp;</p>
</div>

<div id="ftn3">
<p><a href="#_ftnref3" name="_ftn3" title="">[3]</a> &#39;Your Sight, Our Vision&#39; is an ICO led campaign which includes an&nbsp;eye health information booklet to educate the public about the importance of early diagnosis and treatment of eye conditions in order to prevent avoidable sight loss. See <a href="http://www.eyedoctors.ie/your-eye-health/Your-Sight-Our-Vision.asp">http://www.eyedoctors.ie/your-eye-health/Your-Sight-Our-Vision.asp</a></p>
</div>
</div>
