<h3><strong>Open disclosure, patient consent and support for doctors highlighted as key factors in helping to reduce frequency of claims </strong></h3>

<p>Eye doctors and experts from the health and legal sector met today (Friday, December 11) to discuss measures which provide greater support to patients who experience an adverse health event and the positive steps which can be taken to offer transparency and protection for both the patient and doctor.</p>

<p>The<em> &lsquo;Minimising the Risk of Malpractice Litigation&rsquo; </em>meeting was convened by the Irish College of Ophthalmologists (ICO) to offer practical guidance to eye doctors and ICO trainees on the correct process of obtaining patient consent and the practicalities of practicing a policy of open disclosure in order to support patients and minimise the occurrence of subsequent difficulties or challenges arising.</p>

<p>In his opening address, President of the ICO, Mr William Power said,</p>

<p><em>&ldquo;The ICO is committed to working with the relevant decision makers and legal experts in actively supporting the resolution of issues driving the frequency of claims, as well as examining our internal protocols and guidelines to encourage greater transparency and protection for both patients and doctors.&nbsp; </em></p>

<p><em>&ldquo;We must learn from adverse events in healthcare in order to improve patient safety and patient experience of care and our focus must be on ensuring the root causes are addressed.&rdquo;&nbsp;&nbsp; </em></p>

<p>Speaking to delegates, Professor Freddie Wood, President of the Medical Council of Ireland, stressed the importance of good communication between the doctor and patient.</p>

<p>Referring to the findings of <em>The Listening to Complaints, Learning for Good Professional Practice <a href="#_ftn1" name="_ftnref1" title=""><sup><strong><sup>[1]</sup></strong></sup></a></em>, Prof Wood said the majority of complaints to the Council were not only as a result of clinical error, but also involved issues in relation to communication and transparency.</p>

<p>The research highlights that patient&rsquo;s value a doctor having good clinical skills and good communication skills and in the interests of&nbsp; the patient that doctors will be good at both.</p>

<p>Other Medical Council research into the profession found that doctors remain the most trusted profession in Ireland with 91% of patients confident that they can trust their doctor. Trust between the patient and doctor is a vital component of this.</p>

<p>In their Guide to The Professional Conduct and Ethics for Registered Medical Practitioners 2009<a href="#_ftn2" name="_ftnref2" title=""><sup><sup>[2]</sup></sup></a>, the Medical Council state that <em>&ldquo;Service users and their families are entitled to honest, open and</em> <em>prompt communication with them about adverse events that may</em> <em>have caused them harm.&rdquo;</em></p>

<p>Professor Wood said,</p>

<p><em>&ldquo;This analysis of complaints identified many themes which I believe are of great significance to the profession. We learned for example that communication is absolutely pivotal to the patient-doctor relationship.&nbsp; When patients feel they are not being listened to or that mistakes are not being learned from, they may then feel impelled to make a complaint to the regulator. I hope that by reflecting on the findings of this report and looking at the most common causes of complaint, we can work together to reduce such instances happening in the future for the benefit of patients, doctors and the healthcare system as a whole.&rdquo; </em></p>

<p>Ms Angela Tysall, HSE Lead for Open Disclosure spoke to delegates about the development of the HSE national policy on open disclosure, aimed at promoting a transparent, timely and consistent approach to communicating with service users and their families when things go wrong.</p>

<p>The programme was piloted at two hospitals by the HSE; the Mater Misericordiae University Hospital, Dublin and Cork University Hospital from October 2010 to October 2012. Utilising the learning from the pilot scheme, the HSE in conjunction with the State Claims Agency, has developed a national policy and national guidelines on open disclosure with supporting documents which include a patient information leaflet, a staff support booklet and a staff briefing guide.&nbsp;</p>

<p>Ms Tysall said, <em>&ldquo;Work is on-going across all health and social care services in relation to the implementation of the national open disclosure policy and guidelines. Additional resources have been developed to assist services in preparing for and conducting an open disclosure meeting, training staff in open disclosure and managing the organisational change required to successfully implement an open disclosure programme.&rdquo;</em></p>

<p>Outlining the importance of open disclosure for patients, Ms Tysall highlighted that the process can assist with providing closure for the patient and their family and quicker emotional recovery following an adverse healthcare event.&nbsp;</p>

<p>Ms Tysall said, &ldquo;<em>Open disclosure prevents misconceptions in relation to the cause of the event and can help to rebuild trust and confidence for a patient.&nbsp; &nbsp;It also facilitates patient involvement in decisions relating to their on-going care.&nbsp; The absence of open disclosure following an adverse event can result in a patient experiencing feelings of desertion, a major contributor to litigious intent</em>.&rdquo;</p>

<p>Ms Tysall stressed that while the care and support of the patient and their family is paramount following an adverse event we must not forget to care for the staff involved, the staff involved often referred to as the second victims of adverse events. &nbsp;Staff are often very traumatised and may experience on-going post-traumatic stress related symptoms that can have a profound impact on their welfare.&nbsp;</p>

<p>Included in the requirements of the policy, all health and social care staff have an obligation under the National Standards for Safer Better Healthcare 2012 to &ldquo;fully and openly inform and support service users as soon as possible after an adverse event affecting them has occurred, or becomes known, and continue to provide information and support as needed&rdquo;.</p>

<p>A key contributor to the discussions on the day, Mr Asim Sheikh, Barrister-at-Law and lecturer in Legal Medicine at UCD, spoke on the benefit of the consent process being conducted fully and effectively with patients and the importance of discussions being tailored to individual patients needs so that the conversation is fully understood.</p>

<p>Mr Sheikh said,</p>

<p><em>&ldquo;Consent has been an issue for a long time and the key message now emerging from the law and the courts is the importance of physical dialogue between the doctors and patients. The importance of record keeping must also be stressed, as often clinicians cannot remember the exact details of the consultation that a patient may take a case over.&nbsp; A doctor may subsequently lose a case or have to settle one, even in situations where a doctor believes proper consent was given and the risk discussed during the time of consultation</em>&rdquo;.</p>

<p>In his closing address, Mr William Power of the ICO said, &ldquo;As the training and professional body for eye doctors in Ireland, the ICO is focused on ensuring our members feel supported and fully informed on the process of open disclosure in order to support their patients and to allow for a consistent approach by the organisation to the principles which have been outlined.&rdquo;</p>

<p>The College is preparing further supports for members in this regard, including the development of informed consent patient forms and information literature on open disclosure as well as the standards and recommendations which are outlined by the ICO in its new report <em>Direct-to-consumer medical advertising in Ireland &ndash; Informing and empowering patients, doctors and healthcare professionals&rsquo;, </em>due for publication in early January 2016<em>.</em></p>

<p>&nbsp;</p>

<div>&nbsp;
<hr align="left" size="1" width="33%" />
<div id="ftn1">
<p><a href="#_ftnref1" name="_ftn1" title="">[1]</a> <em>Listening to Complaints, Learning for Good Professional Practice was published by the Medical Council of Ireland in July 2015 and looks at complaints made against doctors practising in Ireland over a 5-year period between 2008 - 2012</em> <a href="https://www.medicalcouncil.ie/News-and-Publications/Reports/Listening-to-Complaints-Executive-Summary.pdf"><em>https://www.medicalcouncil.ie/News-and-Publications/Reports/Listening-to-Complaints-Executive-Summary.pdf</em></a></p>
</div>

<div id="ftn2">
<p><a href="#_ftnref2" name="_ftn2" title="">[2]</a> <a href="https://www.medicalcouncil.ie/News-and-Publications/Publications/Professional-Conduct-Ethics/Guide-to-Professional-Conduct-and-Behaviour-for-Registered-Medical-Practitioners-pdf.pdf">https://www.medicalcouncil.ie/News-and-Publications/Publications/Professional-Conduct-Ethics/Guide-to-Professional-Conduct-and-Behaviour-for-Registered-Medical-Practitioners-pdf.pdf</a></p>
</div>
</div>
