<h3>Report highlights concerns relating to direct-to-consumer advertising of medical and surgical procedures</h3>

<h3>&ldquo;Reductions for a friend&rdquo; and time limited offers for medical procedures inappropriate means of incentivising prospective patients</h3>

<p>A new <a href="/medium/files/ICO_Advert_book_web_(FINAL)-a.pdf" target="_blank">report</a> calling for the regulation of direct-to-consumer advertising of medical and surgical procedures in Ireland has been published by the Irish College of Ophthalmologists (ICO), the national training and professional body for eye doctors.</p>

<p>The <em>&lsquo;Direct to Consumer Medical Advertising in Ireland &ndash; Informing and empowering patients, doctors and healthcare professionals&rsquo;</em> &nbsp;report has been published by the ICO in response to growing concerns relating to the marketing and advertising of elective procedures.</p>

<p>The ICO has stated that regulations are required to provide a clear framework to ensure that people considering a procedure can make fully informed, unbiased decisions and under which, advertisers can be held to account if required.&nbsp; The Report highlights that regulation is necessary to reflect the changing market, particularly the significant growth in elective procedures and the increasing use of digital marketing.&nbsp;</p>

<p>Under the key recommendations contained in the report, the ICO is proposing&nbsp;to Government&nbsp;that provisions specific to&nbsp;the responsible&nbsp;advertising&nbsp;of medical and surgical procedures&nbsp;be&nbsp;included in the forthcoming Patient Safety (Licensing) Bill to ensure that all medical&nbsp;facilities offering such&nbsp;services be regulated&nbsp;in this regard.</p>

<p>ICO President and eye surgeon at the Royal Victoria Eye &amp; Ear Hospital, Dublin, Mr William Power said,&nbsp;</p>

<p><em>&ldquo;While the ICO acknowledge the Medical Council of Ireland&rsquo;s &lsquo;Guide to Professional Conduct and Ethics for Medical Practitioners&rsquo; <a href="#_ftn1" name="_ftnref1" title=""><strong>[1]</strong></a> contains certain provisions on providing information to the public, it must be stressed that currently in Ireland there is no formal regulation speci&#64257;c to the advertising and marketing of medical procedures.&nbsp;&nbsp; Due to the nature and sensitivities of medical advertising and the potential risk of a negative outcome for patients, it is the view of the ICO that existing controls including those set out in the Medical Council Ethical Guide and the </em><a href="http://www.asai.ie/asaicode/"><em>ASAI</em></a><em> voluntary code<a href="#_ftn2" name="_ftnref2" title=""><strong>[2]</strong></a>, are insu&#64259;cient.&rdquo;</em></p>

<p>He added,</p>

<p><em>&ldquo;The ICO welcomes the steps undertaken by the Government to focus on improved patient safety measures, including the forthcoming Health Information and Patient Safety Bill and the Patient Safety (Licensing) Bill and commends the decision to establish an independent National Patient Advocacy Service.&nbsp; It is the view of the ICO that the Patient Safety (Licensing) Bill should include regulations on responsible advertising and marketing standards applicable to healthcare facilities and clinics in order to ensure that standards are applied in a consistent and systemic way.&rdquo;</em></p>

<p>The report is the latest initiative by the ICO to promote and safeguard the highest standards of patient safety, and follows the publication of <a href="http://www.eyedoctors.ie/press-release/February-8-2015/ICO-Publish-Guidelines-for-Refractive-Eye-Surgery/26.html">Guidelines for Refractive Surgery</a><a href="#_ftn3" name="_ftnref3" title="">[3]</a> in Ireland and <a href="http://www.eyedoctors.ie/press-release/December-16-2015/Advertising-and-Marketing-Guidelines/58.html">Advertising and Marketing Guidelines</a><a href="#_ftn4" name="_ftnref4" title="">[4]</a> by the College in 2015. &nbsp;&nbsp;</p>

<p>Mr Power said,</p>

<p><em>&ldquo;While advertising has a legitimate role in providing information, it can have an adverse impact, particularly if it trivialises the risks of procedures, targets vulnerable consumers, or misleads people by portraying an outcome that may not be attainable for all. &nbsp;No surgery is risk free and controls on advertising which indicates the contrary are required. All medical interventions imply risk and while those risks may be infrequent or rare, prospective patients must be fully informed.</em></p>

<p><em>&nbsp;&ldquo;Marketing and advertising for elective medical procedures has increased considerably in recent years but this cannot and should not be managed in the same way as advertising of other consumable goods or services.&nbsp; The end products of the two are not comparable.&nbsp; Protection for prospective patients must be introduced&rdquo;, he stressed.</em></p>

<p>The ICO Report states that incentives such as &ldquo;reductions for a friend&rdquo; and &ldquo;special price for a limited time&rdquo; are contrary to the concept of informed consent, which is a legal requirement for any surgery or medical treatment.&nbsp;&nbsp; It highlights that in other jurisdictions these practices are seen as &ldquo;incentivising&rdquo; the consumer and considered not to be in their best interests, and both the practice and the advertising of such offers have been banned.</p>

<p><strong>Unrealistic expectations and an increasingly litigious environment </strong></p>

<p>The report considers whether advertising that only states the benefits of medical procedures is leading to raised and, at times, unrealistic expectations among the patient population, thus contributing to a more litigious environment.</p>

<p>Mr Power said, &nbsp;</p>

<p>&ldquo;The processes by which patient expectations are formed must be examined, in order to determine whether they are a contributing factor to the surge in medical malpractice legal cases in Ireland.&nbsp; The cost of claims to the State is considerable and the continued increases in professional indemnity costs for medical practitioners are unsustainable.&rdquo;</p>

<p>The report concludes that tighter guidelines and formal legislation controlling direct-to-consumer medical advertising is required in order to safeguard and promote patient safety, and to enhance the consumer&rsquo;s ability to make a fully informed decision before undertaking an elective procedure.</p>

<p><strong>Ends </strong></p>

<p><strong><u>For media enquiries contact:</u></strong></p>

<p>Ciara Keenan, Communications Manager, Irish College of Ophthalmologists</p>

<p>E:&nbsp;<a href="mailto:Ciara.keenan@eyedoctors.ie" target="_blank">Ciara.keenan@eyedoctors.ie</a>&nbsp;</p>

<p><strong><u>Notes to Editor</u></strong></p>

<p><strong>Direct-to-consumer medical advertising in Ireland - <em>Informing and empowering patients, doctors and healthcare professionals</em></strong></p>

<p><strong><em>Published by the Irish College of Ophthalmologists, January 2016</em></strong></p>

<p><strong>Key recommendations from clinicians:</strong></p>

<ol>
	<li>Regulation of direct-to-consumer advertising for medical or surgical procedures is required</li>
	<li>Inclusion of responsible advertising and marketing standards in the new licensing of healthcare facilities legislation</li>
	<li>Standards and safeguards must apply equally in the public and private sectors.</li>
	<li>Financial inducements must not be used to entice patients to undergo procedures, and providers should not offer financing for procedures they will subsequently provide.</li>
	<li>Marketing materials must be designed to safeguard patients from unrealistic expectations. Claims must be objectively substantiated.</li>
	<li>Advertisements should not offer discounts linked to a deadline date for booking appointments for surgery, or other date-linked incentives.</li>
	<li>Advertisements should not offer surgery as a competition prize or trivialise surgery by offering it as a package deal (e.g. refer a friend, reduced price for two people).</li>
	<li>Profit motivation must not override safety.</li>
	<li>Listing of qualifications of practitioners must be mandatory.</li>
</ol>

<p>&nbsp;</p>

<p><strong>About the Irish College of Ophthalmologists</strong></p>

<p>Formed in 1991, the Irish College of Ophthalmologists is the professional and advocacy body for eye doctors in Ireland.&nbsp; With oversight from the Medical Council, the ICO places patient safety at the centre of the clinical process through on-going education of the public and medical professionals, setting and maintaining the highest of standards and ethics and issuing guidance to key stakeholders in the wider health community.</p>

<p>The central mission of the ICO is to reduce the number of annual cases of preventable blindness and sight loss and to facilitate (as far as is possible) independent living in the community through effective clinical pathways and interventions.&nbsp;</p>

<p>In keeping with wider government healthcare policy more than half of our members work directly in the community at the most effective and appropriate level for patients. Eye Doctors have a minimum of ten years medical training.</p>

<p>For further information, visit&nbsp;<a href="http://www.eyedoctors.ie/" target="_blank">www.eyedoctors.ie</a>.</p>

<div>&nbsp;
<hr align="left" size="1" width="33%" />
<div id="ftn1">
<p><a href="#_ftnref1" name="_ftn1" title="">[1]</a> <em>GUIDE TO PROFESSIONAL CONDUCT AND ETHICS FOR REGISTERED MEDICAL PRACTITIONERS</em> Medical Council 2009, available at <a href="http://www.medicalcouncil.ie/News-and-Publications/Publications/Information-for-Doctors/Guide-to-Professional-Conduct-and-Ethics-for-Registered-Medical-Practitioners.pdf">http://www.medicalcouncil.ie/News-and-Publications/Publications/Information-for-Doctors/Guide-to-Professional-Conduct-and-Ethics-for-Registered-Medical-Practitioners.pdf</a></p>
</div>

<div id="ftn2">
<p><a href="#_ftnref2" name="_ftn2" title="">[2]</a> ASAI Code of Standards for Advertising and Marketing Communications in Ireland (7<sup>th</sup> Edition) will come into force on 1st March 2016.&nbsp;http://www.asai.ie/asaicode/</p>
</div>

<div id="ftn3">
<p><a href="#_ftnref3" name="_ftn3" title="">[3]</a> &nbsp;<em>Guidelines for Refractive Surgery in Ireland</em> Published by the Irish College of Ophthalmologists, February 2015 <a href="http://eyedoctors.ie/medium/files/ICO_Guides_Refractive_Surgery_Final_(web)-r.pdf">http://eyedoctors.ie/medium/files/ICO_Guides_Refractive_Surgery_Final_(web)-r.pdf</a></p>
</div>

<div id="ftn4">
<p><a href="#_ftnref4" name="_ftn4" title="">[4]</a> Advertising and Marketing Guidelines published by the ICO, September 2015 <a href="http://www.eyedoctors.ie/medium/files/ICO_Advertising_Marketing_Guidelines-x.pdf">http://www.eyedoctors.ie/medium/files/ICO_Advertising_Marketing_Guidelines-x.pdf</a></p>
</div>
</div>
