<h4>Diabetic eye disease screening uptake increases to 60% in 3<sup>rd</sup>&nbsp;cycle</h4>

<h4>Screening a template for how other sight conditions could be detected early</h4>

<h4>Diabetics benefitting from earlier detection of other eye complications as a result of screening programme</h4>

<p>Mr David Keegan, the HSE Clinical Director for the National Diabetic Retinal Screening Programme, is reminding people with Type 1 or Type 2 diabetes of the importance of registering for the free national eye screening to allow for regular monitoring of their eye health. &nbsp; .</p>

<p>Speaking from the Irish College of Ophthalmologists Annual Conference<a name="m_-1326512891900701614_m_7858214328182542898_m_-1057446746286129580__ftnref1" title="">[1]</a>&nbsp;in Cavan today (Wednesday, May 17th), Mr Keegan, Retinal Specialist at the Mater Misericordiae University Hospital in Dublin, highlighted the significance of early diagnosis and treatment in preventing sight loss as a result of diabetic retinopathy,&nbsp;a common complication of diabetes&nbsp;and urged all diabetics aged 12 and over to register with Diabetic RetinaScreen<a name="m_-1326512891900701614_m_7858214328182542898_m_-1057446746286129580__ftnref2" title="">[2]</a>&nbsp;to avail of free, regular screening.</p>

<p>Mr Keegan, who presented an update on the progress of the screening programme at the conference said,</p>

<p>&ldquo;While we are very pleased to report that since the launch of Diabetic RetinaScreen in 2013, the number of people who have taken up the offer to be screened has increased year-on-year, it remains a priority to continue reminding anyone who has diabetics that may not yet have registered that they can avail of this free screening programme.&rdquo;</p>

<p>He added, &ldquo;The number of people who have taken up the offer to get screened has risen to 60% following completion of the 3<sup>rd</sup>&nbsp;cycle of the Programme in 2016.&nbsp; We would like to see this increase to an even greater extent to ensure we are preventing avoidable sight loss to all those at risk.&nbsp; Many people with diabetes in Ireland remain undiagnosed or unregistered.&rdquo;&nbsp;</p>

<p>It is estimated that there are approx. 225,000 people living with diabetes in Ireland<a name="m_-1326512891900701614_m_7858214328182542898_m_-1057446746286129580__ftnref3" title=""><sup><sup>[3]</sup></sup></a>&nbsp;and 10% of those are at risk of developing sight threatening retinopathy.&nbsp; The condition causes damage to the blood vessels in the retina, the tissue&nbsp;lining the back of the eye that allows us to see, and affects up to eight out of 10 patients who have had diabetes for 10 years or more.</p>

<p>Commenting on the importance of early detection and treatment of diabetic retinopathy, Mr Keegan said,</p>

<p>&ldquo;Diabetic retinopathy may not have any symptoms or may not affect sight in the early stages.&nbsp; The national screening programme will reduce sight loss among people with diabetes as a result of early detection and effective treatment.&nbsp; We urge people to make the follow up call when they receive their letter of invitation so an appointment for screening can be arranged.&rdquo;</p>

<p>Over 160,000 people registered with diabetes have been invited to attend the free screening across 123 screening locations around the country since the first cycle of screening commenced in 2013.&nbsp;</p>

<p>Mr Keegan said,</p>

<p>&ldquo;A priority in developing this programme was to provide an equitable service and to ensure that anyone in Ireland with diabetes would have access to Diabetic RetinaScreen without an excessive journey involved.&nbsp;&nbsp; We have managed to achieve that target through the operation of 123 screening locations across the country. &nbsp;&nbsp;It is also allowing us to monitor and treat patients in the community and ease pressure on the acute hospitals.&rdquo;</p>

<p>In relation to emerging trends for screening results, Mr Keegan said,</p>

<p>&ldquo;Screening results are provided within three weeks and most people will have a normal result and will be invited back for their annual routine diabetic retinopathy screening.&nbsp; For those requiring referrals onto a treatment centre, (around 14%) most are routine and these patients will be seen in 13-to-14 weeks.&nbsp; If a patient&rsquo;s referral is deemed urgent, they will be seen in two-to-four weeks.&rdquo;</p>

<p>The screening programme uses specialised digital photography to detect problems at an early stage to reduce or prevent damage to sight. Using data from other countries where screening is in operation, it has been estimated that 5 per cent will have sight-threatening retinopathy (2.5 &nbsp;per cent diabetic macular oedema and 2.5 per cent proliferative retinopathy); while a further 7 per cent will have a non-diabetes eye problem.</p>

<p>Mr Keegan said the diabetic retinopathy screening programme has facilitated earlier diagnosis and better treatment and acts as a template model for how other sight threatening eye conditions could be managed in Ireland in order to prevent avoidable sight loss for people.&nbsp;</p>

<p>&ldquo;The structure facilitates the monitoring and efficient treatment of patients in the community, thereby easing pressure on the acute hospital system.&nbsp;&nbsp; Those who need treatment are referred into the community treatment centre where they are seen by an ophthalmologist and the appropriate treatment started.&rdquo;</p>

<p>Referring to the greater benefit of the screening programme in the monitoring of overall eye health in people with diabetes, Mr Keegan said,</p>

<p>&ldquo;A study<a name="m_-1326512891900701614_m_7858214328182542898_m_-1057446746286129580__ftnref4" title="">[4]</a>&nbsp;carried out at the Mater Misericordiae University Hospital (MMUH) treatment Centre in Dublin from January 2016 to 2017 has highlighted the significant and increasing number of referrals from the Diabetic RetinaScreen Service of patients with non-diabetic eye disease.&nbsp; The results showed that 37% of referrals into the MMUH treatment centre following initial screening were for assessment of non-diabetic eye disease, including retinal artery and vein occlusions; arterial emboli; cataract; glaucoma; age related macular degeneration; and pigmented retinal lesions.&nbsp; Several of these non-diabetic eye diseases are often asymptomatic and it is of great benefit to diabetic patients participating in the screening programme to know that other eye complications are also being identified and referred on for appropriate treatment when picked up.&rdquo;</p>

<p>He added, &ldquo;Quantifying this additional and welcomed benefit to the screening program promotes a more informed discussion on increased service demands, helping predict its practical and financial impact, and influencing strategies on future service provisions.&rdquo;</p>

<p>A key factor to the success of the programme is the diabetic register, a record of those who have a medical diagnosis of diabetes, according to Mr Keegan, who said,</p>

<p>&ldquo;If a patient is diabetic, they need to check if they are on the national diabetic register.&nbsp; If not, they can self-register on the website&nbsp;<a data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.diabeticretinascreen.ie/&amp;source=gmail&amp;ust=1495207389453000&amp;usg=AFQjCNFK6f_tUCilfSVQmw9xYC2AN9zspQ" href="http://www.diabeticretinascreen.ie/" target="_blank">www.diabeticretinascreen.ie</a>&nbsp;or by calling 1800 454 555 or they can ask their GP or diabetic nurse to register them. This is very important as it is the people who are on the register who will receive the invitation to be screened for free in this national HSE service.&rdquo;&nbsp;</p>

<p><strong>ENDS</strong></p>

<div>
<div id="m_-1326512891900701614m_7858214328182542898m_-1057446746286129580gmail-ftn1" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px; background-color: rgb(255, 255, 255);">
<p class="m_-1326512891900701614m_7858214328182542898m_-1057446746286129580gmail-MsoFootnoteText"><a name="m_-1326512891900701614_m_7858214328182542898_m_-1057446746286129580__ftn1" title=""><span class="m_-1326512891900701614m_7858214328182542898m_-1057446746286129580gmail-MsoFootnoteReference"><span class="m_-1326512891900701614m_7858214328182542898m_-1057446746286129580gmail-MsoFootnoteReference"><span style="font-size: 10pt; line-height: 15.3333px; font-family: calibri, sans-serif;">[1]</a>&nbsp;<span lang="EN-GB">Over 180 delegates from the Irish and International ophthalmic community are in attendance at the Irish College of Ophthalmologists Annual Conference, The Slieve Russell Hotel, Cavan (17<sup>th</sup>-20<sup>th</sup>&nbsp;May 2017)&nbsp;<a data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.eyedoctors.ie/cavan2017/&amp;source=gmail&amp;ust=1495207389453000&amp;usg=AFQjCNFKzNCUJaYaxoNqsQJhsV55eb8rXQ" href="http://www.eyedoctors.ie/cavan2017/" style="color: rgb(17, 85, 204);" target="_blank"><span lang="EN-GB">http://www.eyedoctors.ie/cavan<wbr />2017/</a><span lang="EN-GB">&nbsp;</p>
</div>

<div id="m_-1326512891900701614m_7858214328182542898m_-1057446746286129580gmail-ftn2" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px; background-color: rgb(255, 255, 255);">
<p class="m_-1326512891900701614m_7858214328182542898m_-1057446746286129580gmail-MsoFootnoteText"><a name="m_-1326512891900701614_m_7858214328182542898_m_-1057446746286129580__ftn2" title=""><span class="m_-1326512891900701614m_7858214328182542898m_-1057446746286129580gmail-MsoFootnoteReference"><span class="m_-1326512891900701614m_7858214328182542898m_-1057446746286129580gmail-MsoFootnoteReference"><span style="font-size: 10pt; line-height: 15.3333px; font-family: calibri, sans-serif;">[2]</a>&nbsp;Diabetic RetinaScreen is part of the HSE&rsquo;s National Screening Service.&nbsp; The Government-funded programme offers free, regular screening and treatment of diabetic retinopathy to people with diabetes aged 12 and over.&nbsp;&nbsp;</p>

<p class="m_-1326512891900701614m_7858214328182542898m_-1057446746286129580gmail-MsoFootnoteText">&nbsp;<a data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.diabeticretinascreen.ie/&amp;source=gmail&amp;ust=1495207389453000&amp;usg=AFQjCNHkK7d7l_LsDSn2-NBF2JViBYO6Dg" href="https://www.diabeticretinascreen.ie/" style="color: rgb(17, 85, 204);" target="_blank">https://www.diabeticretinascr<wbr />een.ie/</a></p>
</div>

<div id="m_-1326512891900701614m_7858214328182542898m_-1057446746286129580gmail-ftn3" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px; background-color: rgb(255, 255, 255);">
<p class="m_-1326512891900701614m_7858214328182542898m_-1057446746286129580gmail-MsoFootnoteText"><a name="m_-1326512891900701614_m_7858214328182542898_m_-1057446746286129580__ftn3" title=""><span class="m_-1326512891900701614m_7858214328182542898m_-1057446746286129580gmail-MsoFootnoteReference"><span class="m_-1326512891900701614m_7858214328182542898m_-1057446746286129580gmail-MsoFootnoteReference"><span style="font-size: 10pt; line-height: 15.3333px; font-family: calibri, sans-serif;">[3]</a>&nbsp;Diabetes Ireland</p>
</div>

<div id="m_-1326512891900701614m_7858214328182542898m_-1057446746286129580gmail-ftn4" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px; background-color: rgb(255, 255, 255);">
<p class="m_-1326512891900701614m_7858214328182542898m_-1057446746286129580gmail-MsoFootnoteText"><a name="m_-1326512891900701614_m_7858214328182542898_m_-1057446746286129580__ftn4" title=""><span class="m_-1326512891900701614m_7858214328182542898m_-1057446746286129580gmail-MsoFootnoteReference"><span class="m_-1326512891900701614m_7858214328182542898m_-1057446746286129580gmail-MsoFootnoteReference"><span style="font-size: 10pt; line-height: 15.3333px; font-family: calibri, sans-serif;">[4]</a>&nbsp;&ldquo;National Diabetic Retina Screening Programme: Identifying Non-Diabetic Eye Disease&rdquo;</p>

<p class="m_-1326512891900701614m_7858214328182542898m_-1057446746286129580gmail-MsoFootnoteText"><i>Study findings presented at the Irish College of Ophthalmologists Annual Conference 17<sup>th</sup>&nbsp;&ndash; 20<sup>th</sup>&nbsp;May by Dr Rory Murphy and Mr David Keegan, &nbsp;Mater Misericordiae University Hospital, Dublin</i></p>
</div>
</div>
