<table>
	<tbody>
		<tr>
			<td>10.00am</td>
			<td><strong>Welcome</strong><br />
			Mr John Doris <em>President, Irish College of Ophthalmologists</em></td>
		</tr>
		<tr>
			<td>10.05am</td>
			<td>
			<p><strong>Paper Session</strong></p>

			<p><span>Chair: Ms Janice Brady, University Hospital Waterford</span></p>

			<ul>
				<li><span class="ctitle">Assessing the Impact of Waiting Times on Glaucoma Progression: A Retrospective Study of Patients Referred from Cork University Hospital to Ballincollig Primary Health Care Centre</span><br />
				Yong Yu Tan</li>
				<li><span class="ctitle">Eyes on Spina Bifida: A Two-Decade Retrospective Exploration of Ophthalmic Manifestations in Paediatric Patients at Temple Street Children&rsquo;s University Hospital, Dublin</span><br />
				Shane O&#39;Regan</li>
				<li><span class="ctitle">Optimization of Stereoscopic Vision in Concomitant Strabismus in Children</span><br />
				Ganna Akhundova</li>
				<li><span class="ctitle">High Mobility Group Box 1 (HMGB1) in Glaucoma Pathogenesis: Exploring Nuclear Proteins in Neurodegeneration</span><br />
				Alexandra McCreery</li>
			</ul>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>Questions</td>
		</tr>
		<tr>
			<td>11.00am</td>
			<td>Coffee Break</td>
		</tr>
		<tr>
			<td>11.30am</td>
			<td><strong>Vision and Strabismus Symposium</strong><br />
			Chair: Mr Sean Chen, <em>Blackrock Health Galway Clinic</em>
			<p>&nbsp;</p>

			<p><span class="ctitle">Difficult Paediatric Consultations including Consent</span><br />
			<strong><a data-href="kathryn_mccreery" data-target="#biography" data-toggle="modal" href="#" title="Ms Kathryn McCreery"><img alt="" aria-hidden="true" src="/images/user-portrait.png" class="portrait-icon" />Ms Kathryn McCreery </a></strong><br />
			Consultant Ophthalmic Surgeon, Children&#39;s Health Ireland at Crumlin Hospital, Dublin</p>

			<p><span class="ctitle">Decoding the Process of&nbsp;Strabismus Management</span><br />
			<strong><a data-href="ian_marsh" data-target="#biography" data-toggle="modal" href="#" title="Mr Ian Marsh "><img alt="" aria-hidden="true" src="/images/user-portrait.png" class="portrait-icon" />Mr Ian Marsh </a></strong><br />
			Consultant Ophthalmic Surgeon, Liverpool University Hospital NHS Trust, Liverpool</p>

			<p><span class="ctitle">Beyond Visual Acuity: Cerebral Visual Impairment - A Structured Approach</span><br />
			<strong><a data-href="arvind_chandra" data-target="#biography" data-toggle="modal" href="#" title="Dr Arvind Chandna"><img alt="" aria-hidden="true" src="/images/user-portrait.png" class="portrait-icon" />Dr Arvind Chandna</a></strong><br />
			Senior Clinician Scientist, Smith Kettlewell Eye Research Institute San Francisco<br />
			Consultant Paediatric Ophthalmologist, Alder Hey Children&rsquo;s Hospital, Liverpool.</p>
			</td>
		</tr>
		<tr>
			<td>1.00pm</td>
			<td>Lunch</td>
		</tr>
		<tr>
			<td>2.00pm</td>
			<td>
			<p><strong>Irish College of Ophthalmologists Annual General Meeting</strong><br />
			Chair Mr John Doris, President, ICO</p>
			</td>
		</tr>
		<tr>
			<td>2.30pm</td>
			<td>
			<p><strong>European Society of Ophthalmology (SOE) Lecture 2024</strong></p>

			<p><span class="ctitle">Introduction</span><br />
			Ms Louise O'Toole, Mater Misericordiae University Hospital
			</p>


			<p><span class="ctitle">Paediatric Oculoplastics</span><br /><strong><a data-href="micheal_orourke" data-target="#biography" data-toggle="modal" href="#" title="Michéal O'Rourke"><img alt="" aria-hidden="true" src="/images/user-portrait.png" class="portrait-icon" />Michéal O'Rourke</a></strong><br />
			Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital, Dublin</p>
			</td>
		</tr>
		<tr>
			<td>3.00pm</td>
			<td>
			<p><strong>Paper Session</strong></p>

			<p><span>Chair: Mr Edward Dervan, Mater Misericordiae University Hospital, Dublin </span></p>

			<ul>
				<li><span class="ctitle">Unraveling Chronic Ocular GVHD Through an Analysis of Tear Fluid Cytokines</span><br />
				Emily Greenan</li>
				<li><span class="ctitle">Clinical Presentation, Burden and Outcomes of Dupilumab Associated Ocular Surface Disease, an Irish Single Centre Experience </span><br />
				Fionnuala Kennedy</li>
				<li><span class="ctitle">Optimising Glaucoma Care via Selective Laser Trabeculoplasty (SLT)- Slaintecare Project 177 and Glaucoma Referral Audit in St Vincent University Hospital (SVUH) 2020- 2021</span><br />
				Aniela Krezel</li>
				<li><span class="ctitle">Surgical Technique and 2-year Clinical Outcomes of the PAUL&reg; Glaucoma Implant at Mater Misericordiae University Hospital</span><br />
				Ian Brennan</li>
			</ul>
			</td>
		</tr>
		<tr>
			<td>4.00pm</td>
			<td>Refreshments</td>
		</tr>
		<tr>
			<td>4.30pm</td>
			<td>
			<p><strong>Annual Mooney Lecture 2024</strong></p>
			
			<p><span class="ctitle">Introduction</span><br />
			Mr Tim Fulcher, Mater Misericordiae University Hospital
			</p>


			<p><span class="ctitle">TED (Thyroid Eye Disease) Customised Management</span><br />
			<strong><a data-href="geoffrey_rose" data-target="#biography" data-toggle="modal" href="#" title="Professor Geoffrey Rose"><img alt="" aria-hidden="true" src="/images/user-portrait.png" class="portrait-icon" />Professor Geoffrey Rose </a></strong>
			<p><em>Consultant Orbital, Lacrimal and Plastic Reconstructive Surgeon, Moorfields Eye Hospital, London</em></p>
			</td>
		</tr>
	</tbody>
</table>
