<table>
	<tbody>
		<tr>
			<td><strong>8.00am</strong></td>
			<td>
			<p><!-- a href="Bayer_Breakfast_Symposium_23.png" target="_blank" -->Breakfast Session <i>&nbsp;- Kindly supported by Bayer</i><br />
			<span><span class="ctitle"> Aflibercept 8mg, a Turning Point in nAMD? From Clinical Trial to Practical Clinical Experience</span> </span></p>

			<p><span><strong>&nbsp;Chair:<a data-href="richard_gale" data-target="#biography" data-toggle="modal" href="#" title="Professor Richard Gale"><img alt="" aria-hidden="true" src="/images/user-portrait.png" class="portrait-icon" />Professor Richard Gale</a> </strong></span></p>

			<p><strong><a data-href="michael_stewart" data-target="#biography" data-toggle="modal" href="#" title="Dr Michael W. Stewart "><img alt="" aria-hidden="true" src="/images/user-portrait.png" class="portrait-icon" />Dr Michael Stewart</a></strong><br />
			Professor and Chairman of Ophthalmology, Mayo Clinic, Florida</p>

			<p>&nbsp;</p>


			</td>
		</tr>
		<tr>
			<td><strong>9.30am</strong></td>
			<td>
			<p><strong>Paper Session</strong></p>
			
<p><span>Chair: Mr Muhamad Akrum, Letterkenny University Hopital, Donegal

</span></p> 

			<ul>
				<li><span class="ctitle">
Genotype-phenotype Correlation of Macular Dystrophies within the Target 5000 Cohort</span><br/>Deirdre Harford </li>
<li><span class="ctitle">
A Retrospective Analysis of Outcomes of Corneal Anterior Intra-Stromal Ring Segments (CAIRS) with KeraNatural for Keratoconus at the Wellington Eye Clinic, Dublin.</span><br/> Rachel Madden</li>
<li><span class="ctitle">Real-World Efficacy of the Hydrus Microstent in Open-Angle Glaucoma: the Irish Experience</span><br/>Simon Neary
</li>
<li><span class="ctitle">Image-Guided Navigation in Orbital Tumour Surgery: A Comparative Cohort Study</span><br/>Amy O'Regan</li>
<li><span class="ctitle">Evaluating Faricimab for Neovascular Age-Related Macular Degeneration- a Bicentre Real World Experience</span><br/>Farah Ibrahim
</li>
<li><span class="ctitle">Quantifying Circulating Tumour DNA in Uveal Melanoma Patients: A Pilot Project</span><br/>Patrick Murtagh
</li>


		</td>
		</tr>
		<tr>
			<td><strong>10.30am</strong></td>
			<td>
			<p><b>Pandemics in Ireland, and Lessons Learned from Covid (If Any)</b></p>
			<p><span class="ctitle">Introduction</span>
				<br/>Mr John Doris, ICO President; University Hospital Waterford
			</p>


			<p><br />
			<strong><a data-href="brendan_kelly" data-target="#biography" data-toggle="modal" href="#" title="Professor Brendan Kelly"><img alt="" aria-hidden="true" src="/images/user-portrait.png" class="portrait-icon" />Professor Brendan Kelly</a></strong><br />
			Professor of Psychiatry at Trinity College Dublin; Consultant Psychiatrist, Tallaght University Hospital, Dublin</p>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
			<p>Presentation of Sir William Wilde Medal for Best Poster</p>
			</td>
		</tr>
		<tr>
			<td><strong>11.00am</strong></td>
			<td><i>Refreshments</i></td>
		</tr>
		<tr>
			<td><strong>11.30am</strong></td>
			<td>
			<p><strong>Orbit and Socket Symposium</strong><br />
			Chair: Mr Tim Fulcher, Mater Misericordiae University Hospital</p>

			<p><span class="ctitle">Why is my Child's Eye Bulgy?</span><br />
			<strong><a data-href="manoj_parulekar" data-target="#biography" data-toggle="modal" href="#" title="Mr Manoj Parulekar"><img alt="" aria-hidden="true" src="/images/user-portrait.png" class="portrait-icon" />Mr Manoj Parulekar</a></strong><br />
			Consultant Ophthalmic Surgeon, Birmingham Women's and Children’s Hospital; Oxford University Hospitals NHS Trust, Oxfordshire</p>

			<p><span class="ctitle">Removing an Eye</span><br />
			<strong><a data-href="geoffrey_rose" data-target="#biography" data-toggle="modal" href="#" title="Prof Geoffrey Rose "><img alt="" aria-hidden="true" src="/images/user-portrait.png" class="portrait-icon" />Prof Geoffrey Rose</a></strong><br />
			Consultant Ophthalmic Surgeon, Moorfields Eye Hospital, London</p>

			<p><span class="ctitle">Management of Socket Complications</span><br />
			<strong><a data-href="tim_fulcher" data-target="#biography" data-toggle="modal" href="#" title="Mr Tim Fulcher">Mr Tim Fulcher,</a></strong><br />
			Consultant Ophthalmic Surgeon, Mater Misericordiae University Hospital, Dublin</p>
			</td>
		</tr>
		<tr>
			<td><strong>1.00pm</strong></td>
			<td><i>Lunch</i></td>
		</tr>
		<tr>
			<td><strong>2.00pm</strong></td>
			<td>
			<p><strong>Workshop: Disc Assessment - How to Assess an Optic Nerve</strong><br />
			<strong><a data-href="yvonne_delaney" data-target="#biography" data-toggle="modal" href="#" title="Miss Yvonne Delaney"><img alt="" aria-hidden="true" src="/images/user-portrait.png" class="portrait-icon" />Miss Yvonne Delaney</a></strong><br />
			Consultant Ophthalmic Surgeon, Mater Misericordiae University Hospital, Dublin</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td><strong>3.00pm</strong></td>
			<td>
			<p><strong>Workshop: Corneal Topography</strong><br />
			<strong><a data-href="brendan_cummings" data-target="#biography" data-toggle="modal" href="#" title="Mr Brendan Cummings"><img alt="" aria-hidden="true" src="/images/user-portrait.png" class="portrait-icon" />Mr Brendan Cummings</a></strong><br />
			Cataract and Refractive Fellow, Wellington Eye Clinic, Dublin</p>
			</td>
		</tr>
		<tr>
			<td>4.00pm</td>
			<td>Refreshments</td>
		</tr>
		<tr>
			<td>4.30pm</td>
			<td>
			<p><strong>Uveitis Session - Kindly supported by Alimera Sciences</strong><br />
			Chair: Mr Tom&aacute;s Burke, Consultant Ophthalmic Surgeon, Mater Misericordiae University Hospital</p>

			<p><br />
			<strong><a data-href="william_tucker" data-target="#biography" data-toggle="modal" href="#" title="Mr Will Tucker"><img alt="" aria-hidden="true" src="/images/user-portrait.png" class="portrait-icon" />Mr Will Tucker</a></strong><br />
			<span>Consultant Ophthalmologist, Moorfields Eye Hospital, London</span></p>

			<p><br />
			<strong><a data-href="deirdre_townley" data-target="#biography" data-toggle="modal" href="#" title="Ms Deirdre Townley"><img alt="" aria-hidden="true" src="/images/user-portrait.png" class="portrait-icon" />Ms Deirdre Townley</a></strong><br />
			<span>Consultant Ophthalmologist, University Hospital Galway</span></p>

			<p><br />
			<strong><a data-href="tomas_burke" data-target="#biography" data-toggle="modal" href="#" title="Mr Tomás Burke"><img alt="" aria-hidden="true" src="/images/user-portrait.png" class="portrait-icon" />Mr Tomas Burke</a></strong><br />
			<span>Consultant Ophthalmic Surgeon, Mater Misericordiae University Hospital, Dublin</span></p>
			</td>
		</tr>
	</tbody>
</table>
