<table>
	<tbody>
		<tr>
			<td><strong>8.00am</strong></td>
			<td>
			<p><!-- a href="Bayer_Breakfast_Symposium_23.png" target="_blank" -->Breakfast Session <i>&nbsp;- Kindly supported by Roche</i><br />
			<span><span class="ctitle">Case Studies in Retinal Disease. Real world use of Vabysmo</span> </span></p>

			<p><span>Chair: Ms Louise O&#39;Toole, Mater Misericordiae University Hospital, Dublin</span></p>

			<p><strong><a data-href="angela_rees" data-target="#biography" data-toggle="modal" href="#" title="Miss Angela Rees"><img alt="" aria-hidden="true" src="/images/user-portrait.png" class="portrait-icon" />Miss Angela Rees</a></strong><br />
			Consultant Ophthalmologist, Moorfields Eye Hospital, London.</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td><strong>9.30am</strong></td>
			<td>
			<p><strong>Paper Session</strong></p>
			
<p><span>Chair: Mr Sean Chen, Blackrock Health Galway Clinic </span></p> 

			<ul>
				<li><span class="ctitle">
			Education in Focus: Significant Improvements in Student Learning and Satisfaction with Ophthalmology Teaching Delivered Using a Blended Learning Approach</span><br/>Andrea Doyle</li>
<li><span class="ctitle">Evaluation of Post-Operative Prescribing Practices in the MMUH Cataract Pathway</span><br/>Adan Khan</li>
<li><span class="ctitle">Effectiveness of the Direct Cataract Clinics at Nenagh General Hospital: A Patient-Centred Care Success Story</span><br/>Mohammed Mohamed
</li>
<li><span class="ctitle">Virtual Doctors in Zambia: An Analysis of 2 years of Ophthalmic Telemedicine Consultations</span><br/>Doireann Hughes</li>
<li><span class="ctitle">Enhancing Patient Education on Cataract Surgery via an AI-Powered Chatbot</span><br/> Jackson Barret</li>
<li><span class="ctitle">A Computer Vision Model for Classification of Frisén Grade and Assessment of Treatment Response in Papilloedema</span><br/> Brian Woods
</li>
<li><span class="ctitle">Sustainability in Cataract Surgery</span><br/>Alison Greene</li>
<li><span class="ctitle">Work-related Musculoskeletal Disorders are Common among Ophthalmologists in Ireland. </span><br/>Matthew O'Riordan
</li>
<li><span class="ctitle">Elimination of 4 year Community Childrens Eye Waiting list</span><br/>Geraldine Comer</li>



			</td>
		</tr>
		<tr>
			<td><strong>11.00am</strong></td>
			<td><i>Refreshments</i></td>
		</tr>
		<tr>
			<td><strong>11.30am</strong></td>
			<td>
			<p><strong>Sustainability in Ophthalmology Symposium</strong><br />
			Chair: Mr John Doris, Consultant Ophthalmic Surgeon, University Hospital Waterford</p>

			<p><span class="ctitle">Sustainability in Ophthalmology - How can I act locally and share globally?</span><br />
			<strong><a data-href="radhika_rampat" data-target="#biography" data-toggle="modal" href="#" title="Miss Radhika Rampat"><img alt="" aria-hidden="true" src="/images/user-portrait.png" class="portrait-icon" />Miss Radhika Rampat</a> </strong><br />
			Consultant Ophthalmic Surgeon, Royal Free London NHS Trust, London</p>

			<p><span class="ctitle">Leadership and Climate Action in the Irish Health Services</span><br />
			<strong><a data-href="philip_crowley" data-target="#biography" data-toggle="modal" href="#" title="Dr Philip Crowley"><img alt="" aria-hidden="true" src="/images/user-portrait.png" class="portrait-icon" />Dr Philip Crowley</a> </strong><br />
			National Director of Strategy and Research; HSE Lead for Climate Strategy</p>

			<p><span class="ctitle">Optimising Sustainability in Ophthalmic Surgical Care</span><br />
			<strong><a data-href="emilie_mahon" data-target="#biography" data-toggle="modal" href="#" title="Dr Emilie Mahon"><img alt="" aria-hidden="true" src="/images/user-portrait.png" class="portrait-icon" />Dr Emilie Mahon</a> </strong><br />
			Ophthalmology Clinical Tutor, Royal College of Surgeons in Ireland, Dublin</p>

			<p><span class="ctitle">Making Ophthalmic Practice Sustainable</span><br />
			<strong><a data-href="arthur_cummings" data-target="#biography" data-toggle="modal" href="#" title="Mr Arthur Cummings"><img alt="" aria-hidden="true" src="/images/user-portrait.png" class="portrait-icon" />Mr Arthur Cummings</a> </strong><br />
			Consultant Ophthalmic Surgeon, Wellington Eye Clinic, Dublin</p>
			</td>
		</tr>
		<tr>
			<td><strong>1.00pm</strong></td>
			<td>
			<p><strong>Presentation of Barbara Knox Medal for Best Paper </strong></p>
			</td>
		</tr>
	</tbody>
</table>
