<h3>The Irish College of Ophthalmologists Annual Conference 2024 will take place from noon Wednesday 15th to Friday 17th May 2024 at the Knockranny House Hotel in Westport, Co Mayo.</h3>

<p>Symposia at this year&#39;s conference will focus on <strong>Vision and Strabismus</strong>, <strong>Orbit and Socket</strong>, and <strong>Sustainability in Ophthalmology</strong>.</p>

<p>Among our guest speakers, the College is delighted to be welcoming Mr Ian Marsh, Consultant Ophthalmic Surgeon at the Liverpool&nbsp;University Hospital NHS Trust&nbsp;and Dr Arvind Chandna, Senior Clinician Scientist at Smith Kettlewell Eye Research Institute, San Francisco who will present at the <strong>Vision and Strabismus</strong> symposium, alongside Ms Kathryn McCreery, Children&rsquo;s Health Ireland at Crumlin Hospital.</p>

<p>Mr Manoj Parulekar, Consultant Ophthalmic Surgeon at the Birmingham Women&#39;s and Children&#39;s NHS Foundation Trust and Oxford University Hospitals NHS Trust and Professor Geoffrey Rose, Consultant Orbital, Lacrimal and Plastic Reconstructive Surgeon at Moorfields Eye Hospital, London are guest speakers at the <strong>Orbit and Socket </strong>symposium. Mr Tim Fulcher, Mater Hospital will chair and present at this session.</p>

<p>A dedicated symposium on <strong>Sustainability in Ophthalmology</strong> welcomes experts from both home and overseas to share their knowledge with delegates on ways to minimise the carbon footprint of the specialty and plan for the future.</p>

<p>Miss Radhika Rampat, Consultant Ophthalmic Surgeon at the Royal Free London NHS Trust will discuss the sustainability in ophthalmology journey so far of the American European Congress Of Ophthalmic surgery - Green Working Group, examining &ldquo;how can I act locally and share globally&rdquo;. Miss Rampat is the co-chair of AECOS Green Working Group.</p>

<p>Dr Philip Crowley, HSE National Lead for Climate Change, will discuss the Climate Action Strategy 2023-2050 being adopted to reduce emissions and protect population health in the Irish healthcare system.</p>

<p>Dr Emilie Mahon, RCSI Ophthalmology Tutor at the Royal Victoria Eye and Ear Hospital, will outline the findings of her research on the ecological impact of phacoemulsification cataract surgery where she examined the single-use items consumption at University Hospital Limerick.</p>

<p>Mr Arthur Cummings, Consultant Ophthalmologist at the Wellington Eye Clinic, will present on how AI and the allied health professional team can lead to improvements in making ophthalmic practice sustainable.</p>

<p><b>Mooney Lecture 2024&nbsp;</b>&quot;<em>TED (Thyroid Eye Disease) Customised Management</em>&quot;</p>

<p>Professor Geoffrey Rose, Consultant Orbital, Lacrimal and Plastic Reconstructive Surgeon and Past Director of the Adnexal Service at Moorfields Eye Hospital, London</p>

<p>Workshop sessions, paper and poster presentations and the European Society of Ophthalmology (SOE) Lecture 2024 also feature on the three day conference programme.</p>

<p>The medals for Best Paper and Best Poster will be awarded at the conference.</p>

<p>Professor Brendan Kelly will share his insights on &quot;Pandemics in Ireland, and Lessons Learned from Covid (If Any)&quot;. His recently published book &#39;<em>Resilience: Lessons from Sir William Wilde on Life After Covid</em>&#39; reflects on the pandemic in Ireland and what we might learn as a society and as individuals from the experience.</p>

<p>Professor Kelly will present the Sir William Wilde Medal to the author of the best poster.</p>

<p>A parallel industry partner exhibition will run alongside the scientific conference.</p>
