<div class="posters">
			<p style="padding-top:10px;"><strong>ICO Annual Conference 2024 Posters</strong></span></p>


<ul>
<!--  A  -->
<!--  B  -->
<li><span class="ctitle">
A Web Application to Quickly Estimate Ocular Perfusion Pressure.
</span><br />
Pádraig O'Connell.

</li>
<li><span class="ctitle">
Choroidal Osteoma: A Case Series
</span><br />
Sarah Powell
</li>
<li><span class="ctitle">
Ten-year Vision Outcomes of Anti-vascular Endothelial Growth Factor Therapy in Choroidal Neovascularisation 
</span><br />
Emily Whiteside
</li>
<!--  C  -->
<li><span class="ctitle">
A Quartet of Methods for Regularizing the Irregular in  Keratoconus
</span><br />
Brendan Cummings
</li>
<li><span class="ctitle">
The Detection of Lens Opacities using the Plusoptix Photoscreener
</span><br />
Claire McEntee	
</li>
<li><span class="ctitle">Limbal Granuloma Pyogenicum - A Case Report and Literature Review
</span><br />
Devanshi Desai
</li>
<li><span class="ctitle">
Dupilumab Related Ocular Surface Disease (DROSD), Identification Prevention and Management. A Full Cycle Audit with an Educational Intervention between the Ophthalmology and Dermatology Services
</span><br />
Alan Hopkins 	
</li>
<li><span class="ctitle">
Assessment of Quality of The Handwritten Ophthalmic Drugs Prescription at Makkah Eye Hospital 
</span><br />
Eilaf Bakri	
</li>
<li><span class="ctitle">Knowledge, Attitudes and Practice toward Ocular Trauma among Non-Ophthalmic Practitioners at Emergency Departments of General Hospitals, Elobied, Sudan -2022 
 </span><br />
Eilaf Bakri

</li>
<!--  D  -->
<!--  E  -->
<li><span class="ctitle">
Image Guided Orbital Surgery – A Pre-Clinical Validation Study using a High-Resolution Physical Model
 </span><br />
Kealan McElhinney

</li>
<!--  F  -->
<li><span class="ctitle">
Resolution of Intractable Steroid-induced Raised Intra-ocular Pressure following Excision of Sub-conjunctival Triamcinolone
</span><br />
Liam Tomás Mulcahy

</li>
<li><span class="ctitle">
Observation as a Primary Management Strategy in Valsalva Retinopathy
</span><br />
Mohammed Mohamed
	
</li>
<!--  G  -->
<li><span class="ctitle">
The Management of Intumescent Cataract in an Indian Hospital.
</span><br />
Devanshi Desai
</li>
<li><span class="ctitle">
Molecular Analysis of Salivary and Lacrimal Adenoid Cystic Carcinoma    
</span><br />Sarah Powell

</li>
<li><span class="ctitle">
Local Tumour Control and Visual Outcomes in Uveal Melanoma Patients Treated with Iodine Plaque versus Ruthenium Plaque versus Proton Beam Radiation: An Ten-Year Review
</span><br />
Patrick Murtagh

</li>
<li><span class="ctitle">
Choroidal Neovascularization Secondary to Angioid Streaks in a Patient with Pseudoxanthoma Elasticum: Case report 
</span><br />
Sara Ahmed
</li>
<!--  H  -->
<li><span class="ctitle">
Analysis of Endoscopic Orbital Decompression with and without Navigation for Graves’ Ophthalmopathy
</span><br />
Daire J. Hurley

</li>

<li><span class="ctitle">
Retinopathy of Prematurity Screening in Ireland – A Retrospective Review of Screening in an Irish Hospital</span>
<br/>Aine Kelly


</li>
<li><span class="ctitle">
Coverage of Diabetic Eye Care in the Kimberley Region of Western Australia
</span><br />
Ross Layden
	
</li>
<li><span class="ctitle">Choroidal Osteoma: A Case Series
</span><br/>
Sarah Powell 

</li>
<li><span class="ctitle">
Intravenous Catheter for Peritrochlear Steroid Injection in the Treatment of Acquired Brown's Syndrome
</span><br />
Simon Neary

</li>
<li><span class="ctitle">
A Case of Irreversible Vision Loss Secondary to a Laser Pointing Device</span><br />
Alan Hopkins	
</li>
<li><span class="ctitle">Real-world Outcomes of Selective Laser Trabeculoplasty in a Tertiary Referral Glaucoma Service
</span><br />
David Gildea
</li>

<!--  I  -->

<li><span class="ctitle">Implementing Best Practice Eye Care in an Intensive Care Unit Setting
</span><br />Liam Connolly
</li>
<!--  J  -->
<!--  K  -->
<li><span class="ctitle">
Veridical Estimates of Incidence and Prevalence of Slipped and Lost Extraocular Muscle in Strabismus Surgery.
 </span><br />
Patrick O'Neill
	
</li>
<li><span class="ctitle">
Corneal Hysteresis and its Impact on Glaucoma Severity in Afro-Caribbean and Caucasian Primary Open Angle Glaucoma (POAG) patients
</span><br />
Fionn O'Leary

</li>
<li><span class="ctitle">Augmenting the Informed Consent Process for Intravitreal Injections with Interactive, AI-delivered Patient Information
</span><br />
Fionn O'Leary

</li>
<li><span class="ctitle">
&quot;Right in Front of our Eyes&quot; – A Rare Case of Paediatrics Ocular Adnexal MALT Lymphoma
</span><br />
Azza Mohamed

</li>
<li><span class="ctitle">
Experience and Trials with Intraocular Magnification Devices. 
</span><br />
Marcus Conway
	 
</li>
<!--  L  -->
<!--  M  -->
<li><span class="ctitle">
Spontaneous Multi-layer Ocular Haemorrhage of Uncertain Aetiology. 
</span><br />
Aniela Krezel

</li>
<li><span class="ctitle">
Ocular Adnexal Sarcoidosis</span><br />
Pranav Gnanamoorthy

</li>

<li><span class="ctitle">
Endogenous Endophthalmitis in Myelodysplastic Syndrome: A Presentation with Streptococcus Dysgalactiae and Infective Endocarditis - A Case Report and Literature Review
</span><br />
Salman Keraidi

</li>
<li><span class="ctitle">
Incidence of Angle Closure Glaucoma Presentations To an Emergency Eye Department – Pre and Post COVID Pandemic
</span><br />
Michelle Dunne

</li>
<li><span class="ctitle">
The Awareness of the Importance of Dilatation Drops in the Eye Clinic: an Audit of Patients from Nenagh General Hospital 
 </span><br />
Xinxan Budweg

</li>
<li><span class="ctitle">
Ocular Cicatricial Pemphigoid with Exclusive IgM Positivity
 </span><br />
Áine Kelly

</li>
<li><span class="ctitle">
Orbital Implant Exposure Rates after Enucleation and Evisceration.
</span><br />
Ross Layden
</li>
<!--  N  -->
<li><span class="ctitle">A 2-year Trend Analysis of Microbiology Results in all Corneal Samples taken in the Eye Casualty Setting: the University Hospital Limerick Experience
</span><br />
Amy Coman

</li>
<li><span class="ctitle">A First Reported Case of Peripheral Ulcerative Keratitis Superinfected with Actinomyces Oris
</span><br />
Aaron Donnelly

</li>
<!--  O  -->
<li><span class="ctitle">Immediate Sequential Bilateral Cataract Surgery: A 6 Year Review Of Cases at an Ophthalmology Department In The West Of Ireland
</span><br />
Aaron Donnelly
	
</li>
<li><span class="ctitle">
Assessment of the Indirect Environmental and Economic Impact on Patients Attending Intravitreal Injections at Sligo University Hospital 
</span><br />
Jay Jun Lee
	
</li>
<li><span class="ctitle">
A Cross-sectional Investigation into the Diagnostic, Treatment and Management Methods used by Irish Consultant Ophthalmologists in the Treatment of Central Serous Chorioretinopathy. </span><br />
Daniel Coakley

</li>
<li><span class="ctitle">
Retinal Detachment in Candida Endogenous Endophthalmitis Managed with Vitrectomy and Silicone Oil
</span><br />
Aaron Donnelly

</li>
<li><span class="ctitle">
The Role of ABCC6 Genetic Testing in Pseudoxanthoma Elasticum
</span><br />
Alexandra McCreery

</li>
<li><span class="ctitle">
Periorbital and Orbital Cellulitis: The Rise of Virulent Group A Streptococcus
</span><br />
Glynis Hanrahan

</li>
<li><span class="ctitle">
Trends in Sports-Related Ocular Trauma Presentations to a Tertiary Eye Centre during the Summer Months of 2019-2023 : A Retrospective Audit
</span><br />
Bridget Moran

</li>


<li><span class="ctitle">
Evaluation of Non-diabetic Eye Referrals from a Single Diabetic Retinopathy Screening Programme in Dublin over a 12 Month Period in 2022</span><br />
Natalie Ng

</li>
<!--  P  -->
<li><span class="ctitle">
An Atypical Cause of Recurrent Transient Monocular Vision Loss.
</span><br />
Edward Ahern
	
</li>
<li><span class="ctitle">
Bilateral Diffuse Uveal Mealnocytic Proliferation (BDUMP): A Case Report.
</span><br />
Mohammed Anwar

</li>
<!--  Q  -->
<li><span class="ctitle">
Cataract Audit Ashgrove House Feb 2024
</span><br />
Maeve Lagan  

</li>
<!--  R  -->
<li><span class="ctitle">Optimising Sustainability in Cataract Care
</span><br/>
Emilie Mahon

</li>
<!--  S  -->
<li><span class="ctitle">
Successful Treatment of a Rhegmatogenous Retinal Detachment in a Patient with Oculocutaneous Albinism 
</span><br />Deirdre Harford 	
</li>
<!--  T  -->
<li><span class="ctitle">
Inner Retinal Vascular Integrity in Retinitis Pigmentosa
 </span><br />
Rory Holohan

</li>
<li><span class="ctitle">
Periocular Cancer Care: A Single Centre Experience
</span><br />
Alison Greene

</li>

<!--  U  -->
<!--  V  -->
<!--  W  -->
<!--  X  -->
<!--  Y -->
<li><span class="ctitle">
Bechet's Disease Presenting as Neuroretinitis: A Case Report
</span><br />
Tooba Hameed

</li>
<!--  Z -->
<li><span class="ctitle">
Never Let a Good Crisis go to Waste'. Have Changes to Practice Since COVID Affected the Proportion of Truly Urgent Presentations to the Eye Casualty? 
</span><br />
Muhammad Ali Bin Muhammad Ariffin

</li>

<li><span class="ctitle">
The Potential Impact of Digital Surveillance Clinics on Diabetic Maculopathy Referrals to a Regional Treatment Centre

</span><br />
Miracle Grace Tullao Ong


</li>


</ul>
</div>