<h2>World Diabetes Awareness Day 14.11.13</h2>

<p><a href="http://www.idf.org/worlddiabetesday/" target="idf"><img src="idf.png" style="float:right; padding:5px" /></a></p>

<p>Eye doctors are reminding those who suffer from diabetes to ensure they have regular eye tests to check for eye sight threatening complications associated with having the condirion.<br />
<br />
People who have diabetes are at risk of developing Diabetic Retinopathy, the most common complication of diabetes, and should ensure they have annual eye tests to enable early detection and treatment.<br />
<br />
Diabetes related eye disease is the leading cause of vision loss in adults of working age (20-65) in industrialised countries and is a leading cause of new blindness among adults in Ireland. Over 18,000 people in Ireland are estimated to have Diabetic Retinopathy which causes on average one person with diabetes to go blind each week.<br />
<br />
Diabetic Retinopathy is a deterioration of the blood vessels that nourish the retina. If these weakened vessels leak fluid or blood, they can damage or scar the retina and ultimately blur vision. The risk of developing retinopathy increases with the length of time a person has had diabetes. About 60 per cent of people with diabetes more than 15 years have some blood vessel damage in their eyes however only a small percentage of those people have serious vision problems. Pregnancy and high blood pressure may worsen the condition in diabetic patients.<br />
<br />
Mr. David Keegan, Eye Doctor and member of the Irish College of Ophthalmology said, &quot;The best protection against the progression of Diabetic Retinopathy is good diabetic control, awareness of the risks of developing sight disturbances and participating in the national diabetic retinopathy screening programme or having eye examinations by an eye doctor. If left untreated a person with diabetic retinopathy could lose their sight altogether or find they develop other eye complications including cataracts or glaucoma. Diabetics need to have their eyes checked at least annually to detect any problems.&quot;</p>

<p>&nbsp;</p>

<h3>How to make an appointment to see an Eye Doctor</h3>

<p>For an appointment to see any medical specialist working in the HSE, including eye doctors, you need to get a referral from your General Practitioner (GP). A GP has knowledge of the specialists in his/her area and can ensure that any important information relating to your medical history is passed to the eye doctor.<br />
<br />
While it is advisable to seek a referral from your GP many eye doctors working in the community will give you an appointment directly - you can find contact details for eye doctors at <a href="/visitors/eye-doctors-database.asp">www.eyedoctors.ie</a></p>

<p><a class="btn btn-arrow" href="/documents/undertanding-diabetic-retinopathy-june12.PDF" target="doc">More information on diabetic retinopathy</a></p>
