
          <h1>Regular Eye Examinations Key in Early Detection of Eye Cancer</h1>
		  <h2>50% of 'No Symptom' Ocular Melanoma Cases Detected In Routine Eye Tests</h2>
		  <h2>Audit Gives First Accurate Measure of Cases in Ireland</h2>

          <p>&nbsp;</p>

          <p>
		  Eye doctors have stressed that routine eye examinations are key to early detection of the most common form of eye cancer, ocular melanoma.</p>


           <p>Ocular Melanoma, a tumour of pigment producing cells, is the most common type of cancer to originate in the eye. Although most melanomas develop in the skin, in rare cases it can also develop in the eye. </p>

	<p style="float:right;width:200px;" align="center">
		<a href="http://www.cancer.ie/cancer-information/eye-cancer/symptoms-and-diagnosis" target="ics">
		<img src="/images/ics.jpg" title="Irish Cancer Society" alt="Irish Cancer Society" border="0" /> 
		<br/>
		
		More information on the <br/>Irish Cancer Society website</a>
		</P> 

     <p>According to a new audit carried out by the Ocular Oncology team in the Royal Victoria Eye and Ear Hospital, Dublin, the estimated incidence rate of new eye melanoma cases occurring in Ireland is nine cases per million of the population per year.  The report found that 41 patients were newly diagnosed with ocular melanoma at the Eye and Ear Hospital, Dublin between January and December 2010.  Before this audit, there had been no accurate measures of the number of new eye melanoma cases occurring in Ireland.</p>
          <p>&nbsp;</p>


		       <p>The audit also revealed that cases of ocular melanoma occurred equally in men and women and the average age at the time of diagnosis was 57 years. Half of the patients had no symptoms with the tumour being found in a routine eye examination. Half of the patients had symptoms of blurring or a change in vision.</p>
          <p>&nbsp;</p>


		       <p>Ms. Brid Morris of the Ocular Oncology team at the Royal Victoria Eye and Ear Hospital, Dublin, explains, "The fact that half of cases of ocular melanoma are diagnosed in people who have no symptoms demonstrates the value of regular eye examinations, particularly as one gets older. Most patients with eye cancer do not lose their eye and most retain vision."</p>
          <p>&nbsp;</p>


		       <p>As a result of collaboration between St Luke's Hospital and the Eye and Ear Hospital with funding from the National Cancer Control Programme (NCCP), a treatment service has been available to patients with ocular melanoma since September 2010.</p>
          <p>&nbsp;</p>


		       <p>Ms. Morris explained that under the treatment scheme which was evaluated as part of the audit, "70% of patients underwent radiotherapy treatment, which allowed preservation of the affected eye and preservation of useful vision." 
</p>

<P>
Mr. Noel Horgan, consultant in ocular oncology and ICO Council member, emphasised the value of regular eye-check-ups as a means of identifying serious eye conditions, many of which can be successfully treated with early detection.
<br/>
&quot;As with other types of cancer, early detection of ocular melanoma is important in achieving the best outcomes for patients,&quot; he said.
</P>
