<h1>Working in the Public Healthcare system in Ireland</h1>

<p>Many international doctors work in the Irish public healthcare system, the Health Service Executive (HSE).</p>

<p>The following information is guidance for doctors coming from or recently arrived from overseas to work in the public healthcare system for the first time.</p>

<div class="panel-group" id="accordion">
<div class="panel panel-default">
<h2 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse1">Medical Council Registration </a></h2>

<div class="panel-collapse collapse" id="collapse1">
<div class="panel-body">
	<p>
	The Medical Council is responsible for the regulation of doctors working in the Republic of Ireland.  If a doctor wishes to practice medicine in Ireland, they must be registered with the Medical Council.
</p>
	<p>
	Details on the registration process and eligibility criteria are available on the <a href="https://www.medicalcouncil.ie/registration-applications/" target="ext">Medical Council's website</a>. 
	</p>
	<p>The Medical Council also provides guidance and links on supports available to overseas doctors working in Ireland, including rights of residence and citizen’s information advice.
	</p>
</div>
</div>
</div>

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2">English Language Skills </a></h2>

<div class="panel-collapse collapse" id="collapse2">
<div class="panel-body">
	<p>
	The ability to communicate clearly with patients and colleagues is a key requirement for all healthcare professionals. 
	Proficiency in the English language is therefore a core competency for NCHDs working in the Irish public health service. <br/>
	The English language requirements for NCHDs are universally applicable. There is no distinction between training, non- training, intern or any other category or grouping.</p>
	<p>
	Please refer to the <a href="/medium/images/English_Language_Requirements-Hr-circular-063-2020-m.pdf">English Language Requirements for NCHDs on the ICO website</a><br/>
	</p>
	<p>
		<b>Ukrainian Doctors Support</b>
		<br/>
		The HSE is providing funding support to Ukrainian doctors in Ireland  to assist them with English language skills,in pursuit of registration with the Medical Council.
		<br/>Please visit the <a href="https://regpath.ie/" target="ext">Clinical English Language Training information</a>
	</p>


</div>
</div>
</div>

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse3">The Health Service Executive </a></h2>

<div class="panel-collapse collapse" id="collapse3">
<div class="panel-body">
	<p>
		The Health Service Executive is the publicly funded healthcare system in Ireland, responsible for the provision of health and personal social services.
	</p>
	<p>
		It does this through its Divisions, Hospital Groups and Community Health Organisations. 
	</p>
	<p>
		The hospitals in Ireland are organised into Seven Hospital Groups. The services delivered include inpatient scheduled care, unscheduled/emergency care, maternity services, outpatient and diagnostic services.  
		<br />
		Details on the Seven Hospital Groups can be found on the <a href="https://www.hse.ie/eng/services/list/3/acutehospitals/hospitalgroups.html" target="ext">HSE website.</a>
	</p>

	<p>
Further information on the Irish Health System can be found on the Health Service Executive website <a href="https://www.hse.ie" target="ext">www.hse.ie</a>.
</p>

</div>
</div>
</div>

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse4">Recruitment in the Irish Health Service for International doctors</a></h2>

<div class="panel-collapse collapse" id="collapse4">
<div class="panel-body">
	<p> Doctors who have successfully completed their registration with the Irish Medical Council can apply for <b>Non-Consultant Hospital Doctors</b> (<abbr title="Non-Consultant Hospital Doctors">NCHD</abbr>) posts in the Irish Healthcare System.
	</p>
	<p>
		To be eligible to apply for Consultant posts there is a requirement to be registered on the Specialist Register of the Medical Council<sup><a href="#footnote1" title="Those who are not eligible for automatic recognition into the specialist division may have their existing training and experience evaluated. This is done by comparing the training and experience they received, to the training attained by a graduate of the relevant training programme in Ireland.   For further details, please refer to the Medical Council website.">*</a></sup>.
	</p>
	<p>NCHD posts are advertised through a number of platforms, including: </p>
	<ol>
		<li><a href="https://www.hse.ie/eng/staff/jobs/job-search/" target="ext">HSE website</a></li>
		<li>Direct on the Hospital website where the post is available</li>
		<li>The Public Appointment Service in Ireland website <a href="htpps://www.publicjobs.ie" target="ext">www.publicjobs.ie</li>
		<li>Recruitment websites, for example <a href="htpps://www.irishjobs.ie" target="ext">www.IrishJobs.ie</a> ; <a href="htpps://www.healthcarejobs.ie" target="ext">www.healthcarejobs.ie</a></li>

	<p>All NCHD contract holders are obliged to open a National Employment Record (NER) Portal account.</p>
	<p>Relevant training certificates (e.g. BLS/Standard Precautions (including Hand hygiene/Fire Training/ Patient Handling etc) and pre-employment information (e.g. passport, birth cert and applicable GNIB) are uploaded to the portal account.</p>

	<p>Documentation required prior to taking up a position in Ireland: 
		<ol>
		<li>Curriculum Vitae</li>
		<li>Evidence of Registration </li>
		<li>Work permit (if applicable) </li>
		<li>Qualifications / certificates </li>
		<li>Offer letter – signed and dated </li>
		<li>References at least two and one of which must be from the most recent Supervising Consultant / Employer </li>
		<li>Satisfactory Garda Vetting </li>
		<li>Evidence of maintenance of Medical Council Continuing Professional Development requirements </li>
		<li>Valid IELTS Certificate to standard required</li>
		</ol>
		<p>NHCD posts are not part of the specialist training programmes run by the Postgraduate Training Bodies.</p>
		<p>Please refer to '<a href="/trainees/a-Career-as-an-Eye-Doctor.asp">Application to Basic Specialist Training</a>' for information on the ICO National Training Programmes in <a href="/trainees/Basic-Training-in-Medical-Ophthalmology.asp">Medical Ophthalmology</a> and <a href="/trainees/Basic-Training-in-Surgical-Ophthalmology.asp">Surgical Ophthalmology</a>.</p>

		<p id="footnote1"><sup>*</sup>Those who are not eligible for automatic recognition into the specialist division may have their existing training and experience evaluated. This is done by comparing the training and experience they received, to the training attained by a graduate of the relevant training programme in Ireland.   For further details, please refer to the <a href="https://www.medicalcouncil.ie/registration-applications/" target="ext">Medical Council website</a>.
	</span>

</div>
</div>
</div>

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse5">Continuing Professional Development Scheme (CPD SS) </a></h2>
<div class="panel-collapse collapse" id="collapse5">
<div class="panel-body">
	<p>
The HSE provides the Continuing Professional Development - Support Scheme (CPD-SS) for Non-Consultant Hospital Doctors (NCHDs), working in the public health service, who are not on a formal training programme or who are not on the specialist register, to help them pay for attending activities that accrue External CPD points. The scheme only provides for educational/training activities undertaken in any of the Irish Training Bodies.
<br/><a href="/trainees/CPD_Support_Scheme.asp">Further information on this scheme can be found on our website</a>.

	</p>

</div>
</div>
</div>



</div>


<div style="background: #eeeeef;padding:5px;">
<h3>Useful  Information</h3>
<p>Medical Council of Ireland <a href="https://www.medicalcouncil.ie" target="ext">www.medicalcouncil.ie</a></p>
<p>Health Service Executive <a href="https://www.hse.ie" target="ext">www.hse.ie</a></p>
<p>Department of Enterprise, Trade and Employment <a href="https://www.enterprise.gov.ie" target="ext">www.enterprise.gov.ie</a></p>
<p>Irish Immigration Website <a href="https://www.irishimmigration.ie" target="ext">www.irishimmigration.ie</a></p>
<p>The Public Appointment Service in Ireland <a href="https://www.publicjobs.ie" target="ext">www.publicjobs.ie</a></p>
<p>Department of Justice <a href="https://www.justice.ie" target="ext">www.justice.ie</a></p>
</div>
