<h1>Continuing Professional Development - Support Scheme (CPD-SS)</h1>

<p>The HSE provides the Continuing Professional Development - Support Scheme (CPD-SS) for Non-Consultant Hospital Doctors (NCHDs), working in the public health service, who are not on a formal training programme or who are not on the specialist register, to help them pay for attending activities that accrue External CPD points. The scheme only provides for educational/training activities undertaken in any of the Irish Training Bodies.</p>

<p>This is the entry criteria for the scheme:</p>

<ul>
	<li>You are not enrolled in an intern training programme or on a postgraduate specialist training programme such as BST or HST</li>
	<li>You are enrolled on a Professional Competence Scheme applicable to your specialty</li>
	<li>You have paid your Professional Competence Scheme subscription</li>
	<li>You hold a current NCHD contract</li>
	<li>You are working in the public health service</li>
	<li>You are on the General or Supervised Division of the Register of Medical Practitioners maintained by the Medical Council</li>
</ul>

<p>Once enrolled on the CPD-SS, NCHDs will be able to access training and educational activities in the External CPD category and the fees for attendance are covered by the HSE via the training body.</p>

<p>The CPD-SS applies only to activities attended/participated in the External CPD category which has a minimum requirement of 20 CPD credits per year. Please consult the PCS Requirements section of this website for information about your requirements for Clinical/Practice Audit and the other CPD categories: Internal, Personal Learning, Research and Training.</p>

<p>If you would like to enrol for the CPD-SS for 2023/24, please check your eligibility and enrol via the online <a href="https://forms.gle/JNGtGrJbTLx8CUwz7" target="doc">ICO CPD SS Application Form </a></p>

<p>Closing date for CPD-SS for NCHDs is <b>29th September 2023</b>.</p>

<p><strong>* 2nd Intake opportunity 2023/2024</strong>&nbsp;</p>

<p><em>The 2nd intake for the Continuous Professional Development Support Scheme (CPD-SS) opened on the 11th December 2023. CPD-SS provides NCHDs who are not engaged in specialist training, i.e. doctors in non-training posts, with a suite of professional educational activities to assist them in fulfilling some of the requirements of the Professional Competence Scheme. Apply by the 31st of January through your Postgraduate Training Body to avail of this scheme</em>.</p>

<p>More information is available on the HSE website <a href="/documents/Guidance-Document-on-Continuous-Professional-Development-Support-Scheme-for-NCHD.pdf" target="_blank">Guidance Document on Continuous Professional Development Support Scheme (CPD-SS) for NCHDs</a></p>

<h3>To attend an ICO Course or Meeting</h3>

<p>Doctors registered with the Irish College of Ophthalmologists PCS scheme can reserve a place on ICO organised courses and meetings through our online members portal.</p>

<p>Information on upcoming meetings will be emailed to all members and those registered on the CPD Support Scheme by the College in advance.&nbsp; We kindly ask doctors to register for events through this online system.</p>

<h3>To attend a course or meeting organised by another Training Body</h3>

<p>NCHDs can attend courses provided by Training Bodies other than the one they have registered with. In order to support the scheme and to streamline the administration of the transfer of funding, certain conditions are being put in place if an NCHD on the scheme wishes to attend a course run by another Training Body.</p>

<p>You must email the training body in question with the training body you are registered for CPD-SS with in copy. If you wish to cancel your attendance you must do so a minimum of 10 days before the course is due to occur.</p>

<h3>Funding Support</h3>

<p><img src="/media/images/NDTP_logo_green.jpg" style="float:right;padding-left:15px; padding-right: 5px; max-height:80px;" title="The Irish College of Ophthalmologists wish to acknowledge the support provided by the HSE National Doctors Training Planning and its contribution to the development of postgraduate medical training in Ireland in an evolving health service." /></p>

<div>
<p>There are currently three schemes in operation which provide financial supports to NCHD&#39;s and Consultants, funded by the NDTP.</p>

<p>Details of the schemes can be found on the <a href="https://www.hse.ie/eng/staff/leadership-education-development/met/ed/fin/" target="ext" title="Educational Supports">HSE website</a>&nbsp;</p>
</div>
