<table>
   <tbody>
      <tr>
         <td>9.00am</td>
         <td><strong>Welcome</strong><br />
            Mr William Power <br/><em>President, Irish College of Ophthalmologists</em>
         </td>
      </tr>
      <tr>
         <td>9.05am</td>
         <td>
         <ul>
               <li>The Correlation Of Clinical Features With Aqueous Humor Cytokine Levels In Patients With Neo-Vascular Age-Related Macular Degeneration And Controls
                  <br />
                  G Elfarouki
               </li>
               <li> Patients' Informational Needs and Understanding about their Retinal Vein Occlusion<br />
                  C Steenson
               </li>
               <li>Defining the Current Role for Verteporfin Photo-Dynamic Therapy (PDT)<br />
                  D Gallagher
               </li>
               <li>The Value of Carotid Doppler Ultrasonography in Patients with Incidental Retinal Arterial Emboli Detected on Diabetic Retinopathy Screening and the Success of an Integrated Care Pathway - The Mater Experience<br />
                  N Elseed
               </li>
            </ul>
         </td>
      </tr>

      <tr>
         <td>9.30am</td>
         <td>
         <ul>
            <li>Rhegmatogenous Retinal Detachments, Primary Reattachment Rates in a Specialist Centre in Dublin over a Four Year Period
               <br />
               P Murtagh
            </li>
            <li> Final Anatomic and Visual Outcomes are Independent of Duration of Silicone Oil Intraocular Tamponade in Complex Retinal Detachment Surgery<br />
               M Rhatigan
            </li>
            <li>Pneumatic Vitreolysis with Reading Posture for the Treatment of Vitreomacular Traction<br />
               R McGrath
            </li>
            <li>Endophthalmitis Vitrectomy Study: Is It Still Relevant in Current Practice?<br />
               P Ramasamy
            </li>
            <li>A Phase 1 Device Trial for a Next Generation Injectable Miniature Telescope for End-Stage AMD<br />
               K Stephenson
            </li>
         </ul>
         </td>
      </tr>

      <tr>
         <td>&nbsp;</td>
         <td>Questions</td>
      </tr>

      
      <tr>
         <td>10.00pm</td>
         <td>
         <ul>
            <li>National Diabetic Retina Screening Programme: Identifying Non-Diabetic Eye Disease<br/>R Murphy</li>
            <li>Changing Trends in Laser for Diabetic Retinopathy and Maculopathy: The Impact of the National Diabetic Screening Programme on a Regional Diabetic Retinopathy Service<br/>AM Mongan</li>
            <li>Expanded 2- Year Follow Up of Visual Outcome of Focal Laser Guided by FFA and Different Types of Intravitreal Injections of ANTIVEGF Drugs for Diabetic Macular Oedema<br/>E Mahmoud</li>
            <li>
               Aflibercept in Diabetic Macular Oedema Previously Refractory to Standard Intravitreal Therapy: An Irish Perspective to Compare Against International Trends
               <br/>C McCloskey
            </li>
            <li> Questions </li>
         </ul>
         </td>
      </tr>
      
      <tr>
         <td>10.30pm</td>
         <td>
            <b>Retinal Detachment - Past, Present and Future.
            European Society of Ophthalmology (SOE) Lecture 2017 
            </b><br/>Mr Ian Dooley<br/><em>Consultant Ophthalmologist and Vitreoretinal Surgeon, Mater Misericordiae University Hospital, Dublin </em>
          <em> Introduction by Miss Patricia Logan, SOE Board Member <em>
          <td>
      </tr>

      <tr>
         <td>11.00pm</td>
         <td>Coffee</td>
      </tr>

<tr>
      <td>11.30pm</td>
      <td>
      <p>
         <strong>New Developments in Ocular Imaging 
         </strong><br/>Chair: Mr Pearse Keane<br/>
      
     </p>
     
      
         <p><strong>OCT &amp; Glaucoma (TBC)</strong>
        <br/>Miss Yvonne Delaney<br/><em>Dean of Post Graduate Education, Irish College of Ophthalmologists  </em>
      <br/>
      </p>
      
      <p>
      
         <strong>Advances in Corneal Imaging
         </strong><br/><a data-toggle="collapse" data-parent="#accordion" href="#biog" title="Read Alex Shortt's biography">Mr Alex Shortt</a><br/><em> Institute of Immunity and Transplantation, University College London, London </em><br/>
      </p>
      
      <p>
     
         <strong>Reinventing the eye exam in the era of Big Data and Artificial Intelligence
         </strong><br/><a data-toggle="collapse" data-parent="#accordion" href="#biog" title="Read  Pearse Keane's biography">Mr Pearse Keane</a>, <br/><em> Consultant Ophthalmologist, Moorfields Eye Hospital London  </em>
      </td>
      </tr>



      <tr>
         <td>1.00pm</td>
         <td>Lunch</td>
      </tr>

      <tr>
      <td>2.00pm</td>
      <td>
         <b>Ophthalmology in Art
         </b><br/><a data-toggle="collapse" data-parent="#accordion" href="#biog" title="Read professor Pinar Aydin O'Dwyer's biography">Professor Pinar Aydin O'Dwyer</a><br/><em> Professor of Ophthalmology and Neuro-ophthalmologist, Andara, Turkey  </em>
      </td>
      </tr>

      <tr>
      <td>2.30am</td>
      <td>
         <p><strong>Poster Session</strong><br />
            Co-Chairs: Miss Patricia McGettrick and Professor Pinar Aydin O'Dwyer 
         </p>
         <ul>
            <li>Effect of Conventional and Modified Focal Laser Guided by FFA on Visual Acuity and Retinal Thickening in Eyes with Chronic Vascular Macular Oedema Treated Previously by Many Different Intravitreal Injections of Anti-Vascular Endothelial Growth Factor Drugs
               <br />
               E Mahmoud
            </li>
            <li> An Audit of Intravitreal Injection Outcomes in Diabetic Macular Oedema Patients Referred to Cork University Hospital from the National Diabetic Retinopathy Screening Programme<br />
               G Choo
            </li>
            <li>A Randomised Controlled Trial to Determine the Impact of an SMS Reminder in Adherence to Diabetic Retinopathy Screening<br />
               B Tang
            </li>
            <li>The Effect of Geodemographic Factors on the Attendance Rates at a Regional Treatment Centre for a Newly Established National Diabetic Retinopathy Screening Programme<br />
               E Greenan
            </li>
            <li>Evaluation of a Joint Ophthalmic / Diabetes Nurse Specialist Clinic to Support Patients with Sight Threatening Retinopathy<br /> M Morgan</li>
            <li>The Impact of PRP on Driving Vision in Diabetic Retinopathy<br /> O O'Halloran</li>
            <li>Swept Source OCT and Angiography: The University Hospital Waterford Experience<br /> P Ramasamy</li>
            <li>Visual and Anatomical Outcomes Following Aflibercept Switch in Treatment Resistant Neovascular Age-Related Macular Degeneration<br /> AM Mongan</li>
            <li>Inherited Retinal Dystrophy: From Research to Reality<br /> K Stephenson</li>
            <li> Acute Exudative Polymorphous Vitelliform Maculopathy Syndrome, Workup, Differential Diagnosis and Natural History  <br /> P Murtagh</li>
            <li> A Rare Complication Post Pneumatic Retinopexy <br /> D Gallagher</li>
            <li>Waldenstrom's Macroglobulinemia, Case Report and Literature Review  <br /> K Curtin</li>
            <li>A Rare Case of Optic Nerve Aplasia  <br /> S Moran </li>
            <li> Audit of an Acute Hospital Orthoptic Database: Are Identified “No Ophthalmic Defect” Always Normal? <br />G McBride </li>
            <li> Audit of an 18 Month Orthoptic Secondary Screening Clinic in Galway City <br /> G McBride</li>
            <li> An Audit of the Service Provision and Outcome in an Ophthalmology Inpatient Consultation Service in a Tertiary Hospital <br /> C Goodchild </li>
            <li> An Audit of the Quality of Inpatient Referrals Received by the Ophthalmology Consultation Service in a Tertiary Hospital <br /> C Goodchild </li>
            <li> Tuberculosis and its Management, Challenges in Ophthalmology <br /> R Shaffi</li>
            <li> Comparison of Differences Between Final Refraction and Target Refraction in Lenstar and Contact Biometry Groups Post Phacoemulsification and IOL Insertion <br /> K McElhinney</li>
            <li>Case Series Looking at Prostaglandin Associated Periorbitopathy (PAP) in Prolonged Prostaglandin Analogue Usage  <br /> K McElhinney </li>
         </ul>
      </td>
      </tr>


      <tr>
         <td>3.30pm</td>
         <td>Coffee</td>
      </tr>


    <tr>
         <td>4.00pm</td>
         <td>
         <p><b>Update from ICO / Novartis Bursary Recipients 2016/2017 </b>
         </p>
       <p>
            <strong>microRNA Nanomedicines in Sjögren's Syndrome Dry Eye Disease 
            </strong><br/>Dr. Sinead Connolly<br/><em>Department of Molecular and Cellular Therapeutics, RCSI  </em><br/>
       </p>
     <p>
            <strong>Reactive Oxygen Species (ROS), fibrosis and NOXs in Glaucoma
            </strong><br/>Dr. Reinold Goetz<br/><em> Catherine McAuley Research Laboratory, UCD, Biosciences Laboratory UCC</em>
            <p>
         </td>
      </tr>


      <tr>
         <td>4.15pm</td>
         <td>
        <p> <strong> Rapid Fire Update
         <br/></strong>Retina Screen, Professional Competence Scheme, Primary Care report<br/>
         </p>
         </td>
      </tr>

      <tr>
         <td>4.30pm</td>
         <td>
        <strong> Evolving eOphthalmology - How do we keep the focus on patients as ehealthcare solutions emerge?</strong><br/>
      
        <p><strong>Panel Discussion </strong>
      
            
            <br/>Moderator – Prof William Power<br/><em> Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital  </em>
        <br/>
        
        </p>
    
         <p>Miss Marie Hickey Dwyer 
        <br/>Consultant Ophthalmic Surgeon, University Hospital <br/> <em> Limerick </em> <br/>
        
        </p>
         
            <p>Mr Mark Cahill
           <br/>Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital <br/><em>  Dublin </em>   <br/>
           </p>
         
            <p> Mr David Keegan
            <br/>Consultant Ophthalmic Surgeon, Mater Misericordiae University Hospital<br/><em> Dublin</em><br/> 
        </p>
         <p>   Mr Pearse Keane<br/>Consultant Ophthalmologist, Moorfields Eye Hospital<br/><em> London</em><br/></p>
           
         </td>
       </tr>
   </tbody>
</table>

