<table>
	<tbody>

		<tr>
			<td>7.45am</td>
			<td>
			<p><em>Breakfast Symposium </em>
			<em>Supported by abbvie</em>
			</p>

			</td>
		</tr>
		
		<tr>
		<td>7.45am</td>
			<td><p><strong>Managing Inflammatory Disease with Biologics – Relevance for Ophthalmology   </strong>
			<br/>
				Prof Doug Veale, 
				<br/><em>Consultant Rheumatologist, St Vincent's University Hospital, Dublin</em><br/></p>
                
                <p>
              
<strong>Identifying & Managing Gut Inflammation in Ophthalmology Patients   </strong>
			<br/>
				Prof Richard Farrell 
				<br/><em>Consultant Gastroenterologist, Connolly Hospital, Dublin</em>
                </p>
			</td>
		</tr>

 <tr>
         <td>9.00am</td>
         <td>
            <p><strong>Paper Session</strong><br />
             
            </p>
            <ul>
               <li>Cyclodiode Laser Ablation Outcomes: a Single Centre Review
                  <br />
                 T Butler
               </li>
               <li> The Efficacy of Baerveldt Glaucoma Tube Implants in Irish Paediatric Patients with Primary or Secondary Glaucoma<br />
               C Hartnett
               </li>
               <li>Comparing the Effectiveness and Tolerability of Preservative-Fee Tafluprost Versus Preserved Latanoprost in the Management of Glaucoma and Ocular Hypertension – A Clinical Trial<br />
                D Brinkman
               </li>
               <li>Investigation of the Role of Methylation in the Regulation of Lysyl Oxidase Like 1 Expression in Pseudoexfoliation Glaucoma<br />
                 D Wallace
               </li>
                <li>Questions
               </li>
            </ul>
         </td>
      </tr>

         

<tr>
			<td>9.30am</td>
		
			<td>
			<p><strong>Evolving Concepts in Glaucoma Management  </strong><br />
			Chair: Professor Colm O'Brien<br /></p>

            <p><strong>Does Lifestyle Impact Glaucoma?</strong><br />
			
		
				<a data-toggle="collapse" data-parent="#accordion" href="#biog"  title="Read professor Jonathan Crowston's biography">Professor Jonathan Crowston</a>
				<br />
				Ringland Anderson Professor of Ophthalmology, Head of Ophthalmology, 
			 University of Melbourne<br /> 


</p>
			

			
            <p><strong>Management of Angle Closure Glaucoma</strong><br />
			<a data-toggle="collapse" data-parent="#accordion" href="#biog"  title="Read professor Augusto Aruaza-Blanco's biography">Professor Augusto Aruaza-Blanco</a><br />

             Professor of Ophthalmology, Queens University Belfast 

		

			
            <p><strong>What's New and What's Good in Glaucoma Surgery?</strong><br />
			Mr Leon Au<br />

               Consultant Ophthalmologist, Manchester Royal Eye Hospital 
               </p>

				
			</td>
			</tr>


      <tr>
         <td>11.00pm</td>
         <td>Coffee</td>
      </tr>

<tr>  
<td>11.30pm</td>
<td>
<ul>
           <p> <strong>Global Accessibility Awareness Day </strong>
               <br />
               <a data-toggle="collapse" data-parent="#accordion" href="#biog" title="Read Mr Chris White's biography">Mr Chris White</a>, CEO, National Council for the Blind of Ireland 
               <br />
               </p>

               <p>
            
            <strong> Ireland's First NCBI Eye Clinic Liaison Officer  </strong> <br />
            K Stephenson
           
        </p>


<td>

</tr>



 <tr>
         <td>11.45am</td>
         <td>
            <p><strong>Paper Session</strong><br />
            <p> Chair: Dr Alison Blake &amp; Mr John Stokes </p>
             
            </p>
            <ul>
               <li>Quality of Life after Strabismus Surgery – a Comparison Between Primary and Consecutive Squints
                  <br />
                 B Power
               </li>
               <li> The Integration of Community and Acute Ophthalmic Children's Eye Services in Galway 2016<br />
               G McBride
               </li>
               <li>Orbital Complications of Frontal Sinusitis<br />
             T Murphy
               </li>
               <li>Eight Year Data of Graves' Ophthalmopathy Patients Managed with Endoscopic Orbital Decompression<br />
                 Q Pilson
               </li>
                <li>Questions
               </li>
            </ul>
         </td>
      </tr>

<tr>
<td>12.15am</td>

<td>
 <p><strong>Annual Mooney Lecture 2017</strong><br />
            <p><strong> Climbing the Glaucoma Mountain- Future Challenges and Opportunities </strong></p>
             
            </p>
            <ul>
               <li><a data-toggle="collapse" data-parent="#accordion" href="#biog" title="Read professor Jonathan Crowston's biography">Professor Jonathan Crowston</a> 
                  <br />
               Ringland Anderson Professor of Ophthalmology, Head of Ophthalmology,<br/> University of Melbourne, Managing Director, Centre For Eye Research <br/> Australia
               <br/>
               </li>
            </ul>
</td>

</tr>
		
      <tr>
         <td>1.00pm</td>
         <td>Lunch</td>
      </tr>



    <tr>
     <td>2.00pm</td>
<td>
    <p><strong>Workshops </strong><em>(running concurrently)</em></br>


<strong> 1. </strong><strong>OCT - Interpretation and Treatment of Macular Pathology</strong></br>
Chair: Dr Fiona Kearns, Chair Medical Ophthalmologists Committee, ICO</p>

<p >Mr Ian Dooley</br>
<em>Consultant Ophthalmologist and Vitreoretinal Surgeon, Mater Misericordiae University Hospital</em></p>

<p >Dr Susan Kelly</br>
<em>Consultant Medical Ophthalmologist, St Vincent&rsquo;s Private Hospital</em>

<p><strong>2. </strong><strong>Saying the right thing, at the right time, to the right person: Open disclosure, informed consent and assisted decision making in your professional life </strong></p>

<p ><strong>ICO Guidelines on the Consent Process</strong></br>
Dr Patricia Quinlan</br>
<em>Medical Ophthalmologist, Blackrock Clinic, Dublin</em></p>

<p><strong>Assisted Decision Making</strong>
</br>Miss Patricia McGettrick</br>
<em>Consultant Ophthalmic Surgeon, Regional Hospital Mullingar and Tullamore </em></p>


<p><strong>Open Disclosure</strong></br>
Angela Tysall, Lead in Open Disclosure, Quality Improvement Division HSE</p>

</td>
</tr>

		
	</tbody>
</table>
