<table>
	<tbody>
		<tr>
			<td>9.00am</td>
			<td><strong>Irish College of Ophthalmologists Annual General Meeting</strong><br/>Chair Prof William Power
</td>
</tr>


 <tr>
         <td>10.00am </td>
         <td>
            <p><strong>Paper Session</strong><br />
             Chair: Mr Tim Fulcher &amp; Dr Fiona Kearns
             
            </p>
            <ul>
               <li>Trends in Corneal Transplant Surgery in Ireland: Indications and Outcomes of Corneal Transplant Surgery and Intraocular Lens Opacification following Descemet’s Stripping Automated Endothelial Keratoplasty
                  <br />
                 C Quigley
               </li>
               <li> Nurse-Led Corneal Collagen Cross-Linking (CXL) Service at The Royal Victoria Eye and Ear Hospital, Dublin<br />
               D Malata
               </li>
               <li>Corneal Ectasia after Refractive Surgery<br />
             Y Arfat
               </li>
               <li>Treatment of Vernal Keratoconjunctivitis with Supratarsal Injection of Corticosteroid<br />
                T McSwiney
               </li>
  

   <li>Bean-Shaped Ring Segments (‘Beans’) in “Bag-in-the-Lens” Cataract Surgery as Augmentation Tool in Complex Capsule Cases<br /> A Altenburg
               </li>


                <li>A Survey of the Treatment of Optic Neuritis Comparing the Practice Among Ophthalmologists, Ophthalmic trainees, Neurologists and Neurology Trainees in Ireland<br />
               L Kobayter
               </li>
                <li>Surgery Simulation after Eyesi: Cataract Surgery, Anterior Vitrectomy and Corneal Suturing with Practice Eyes<br />
              C Quigley
               </li>
                

                <li>Questions
               </li>
            </ul>
         </td>
      </tr>

      <tr>
         <td>11.00pm</td>
         <td>Coffee</td>
      </tr>



      <tr>
         <td>11.30pm</td>
 

       <td><strong>Announcement of ICO Medal Winners</strong>

         </td>
      </tr>



<tr>
      <td> 11:30</td>
      <td>
      <strong>Adapting for Change</strong><br />
      Chair: Professor William Power<br />
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
      <strong>"Burnout, how to recognise it, avoid it and manage it".</strong><br />
     <a data-toggle="collapse" data-parent="#accordion" href="#biog" title="Read Hadas Levy's biography">Hadas Levy</a><br/><em>Psychologist, Royal College of Physicians of Ireland</em>
      </td>
    </tr>

    <tr>
      <td></td>
      <td>
      <strong>“The importance of communication, ‘team-ness’ and valuing reciprocity in changing cultures” </strong><br />
     <a data-toggle="collapse" data-parent="#accordion" href="#biog" title="Read Stephen McIvor's biography">Stephen McIvor</a><br/><em>Sports Psychologist and Former Rugby Player </em>
      </td>
    </tr>



<tr>
<td> 1.00pm</td>
<td> Conference concludes</td>
</tr>

	
	</tbody>
</table>
