<h3>
The Irish College of Ophthalmologists Annual Conference will be held in The Slieve Russel Hotel in Cavan from Wednesday 17th to the 19th May.
</h3>
<p>
The Conference is the highlight of our annual calendar and provides an opportunity for eye doctors from across the country to gather to hear about the latest clinical and scientific updates and development of the specialty.
</p>



<h3 >Accommodations &amp; Exhibitors</h3>

<p > The scientific programme will run from Wednesday morning through to Friday lunchtime and will have a parallel exhibition.
<br/>Set-up for the exhibition will be from 2pm on Tuesday 16th May..</p>


<p >Should you wish to reserve a room at the Slieve Russel hotel  please contact reservations &nbsp;directly (T: <a href="tel:00353499526444 " style="text-decoration:none">049 952 6444</a>)
<br/>Please advise the hotel that you are an exhibitor at the ICO Annual Conference. 
</p>


<p >For further information, please contact Siobhan Kelly at the ICO&nbsp;<a href="mailto:Siobhan.kelly@eyedoctors.ie" >Siobhan.kelly@eyedoctors.ie</a>&nbsp;/&nbsp;<a href="mailto:info@eyedoctors.ie" >info@eyedoctors.ie</a></p>

