<table>
	<tbody>
		<tr>
			<td>9.00am</td>
			<td>
			<p><strong>Paper Session&nbsp;</strong><br />
			Co-Chairs: Ms&nbsp;Edel Cosgrave and Dr&nbsp;Mark James</p>

			<p>Combined iStent Insertion and Phacoemulsification: The Mater Experience<br />
			<em>G Guevara</em></p>

			<p>The Role of Hypoxia on LOXL1 Expression in Pseudoexfoliation Glaucoma<br />
			<em>A Greene</em></p>

			<p>Secondary Glaucoma and Visual Axis Opacification in Aphakic and Pseudophakic Patients Following Congenital Cataract Surgery: A 26-Year Longitudinal Case Series<br />
			<em>M Murphy</em></p>

			<p style="margin:0 0 10px;">Short Term Experience with Xen Glaucoma Implant<br />
			<em>K Kamel</em></p>

			<p><em>Questions</em></p>

			<p>The Impact of Anterior Uveitis on Patients: a 5 Year Prognosis from the DUET Study<br />
			<em>C Goodchild</em></p>

			<p>Orbital Lymphoma in an Irish Cohort from 2008 to 2018<br />
			<em>M O&rsquo;Rourke</em></p>

			<p>Surgical Outcomes Following Medial Rectus Re-advancement for Consecutive Exotropia<br />
			<em>M Rhatigan</em></p>

			<p>Practice Trends in Management of Unilateral Congenital Cataract in Britain and Ireland<br />
			<em>L McAnena</em></p>

			<p><em>Questions</em></p>
			</td>
		</tr>
		<tr>
			<td>10.00am</td>
			<td>
			<p><strong>Welcome Address</strong><br />
			<strong>1918 &ndash; 2018 Centenary</strong><br />
			Dr Alison Blake<br />
			<em>President, Irish College of Ophthalmologists</em></p>
			</td>
		</tr>
		<tr>
			<td>10.15am</td>
			<td>
			<p><strong>ICO/Novartis Eye Research Bursary Winner 2017 - 2018 </strong><br />
			Introduction&nbsp;by Mr John Doris<br />
			Chairman: ICO Scientific and PCS Committee</p>

			<p><strong>Attenuating Fibrosis in the Aged Lamina Cribrosa: The Role of Epigenetics, Mechanotransduction and Biomimetic Modelling</strong><br />
			Dr Rory Murphy<br />
			<em>Registrar, Mater Misericordiae University Hospital, Dublin </em></p>
			</td>
		</tr>
		<tr>
			<td>10.30am</td>
			<td>
			<p><strong>European Society of Ophthalmology (SOE) Lecture 2018</strong><br />
			Introduction by Miss Patricia Logan<br />
			<em>SOE Board Member and Consultant Ophthalmic Surgeon, Beaumont Hospital and Mater Misericordiae University Hospital,&nbsp;Dublin</em></p>

			<p><strong>Strabismic Serendipity</strong><br />
			Mr Edward Loane<br />
			<em>Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital, and St James&#39;s Hospital, Dublin</em></p>
			</td>
		</tr>
		<tr>
			<td>11.00am</td>
			<td><i>Coffee</i></td>
		</tr>
		<tr>
			<td>11.30am</td>
			<td>
			<p><strong>Uveitis Symposium </strong><br />
			Chair: Mr Dara Kilmartin</p>

			<p><strong>Intraocular Lymphoma Masquerading as Uveitis</strong><br />
			Prof Conor Murphy<br />
			<em>Professor of Ophthalmology, Royal College of Surgeons in Ireland, Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital, Dublin</em></p>

			<p><strong>Local Therapies and Isolated Ocular Disease in Uveitis&nbsp;</strong><br />
			Mr Dara Kilmartin<br />
			<em>Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital, Dublin</em></p>

			<p><strong>Biologics and Systemic Disease in Uveitis</strong><br />
			Dr Millicent Stone<br />
			<em>Consultant Rheumatologist in the Division of Ophthalmology, Guy&rsquo;s and St Thomas&rsquo;s Hospital, London and Moorfields Hospital, London</em></p>
			</td>
		</tr>
		<tr>
			<td>1.00pm</td>
			<td><i>Lunch</i></td>
		</tr>
		<tr>
			<td>2.00pm</td>
			<td>
			<p><strong>Ergonomics &amp; Injury Prevention in Ophthalmics</strong><br />
			Ms Michelle McNeill<br />
			<em>Senior Physiotherapist, Occupational Health Unit, Letterkenny, Co. Donegal</em></p>
			</td>
		</tr>
		<tr>
			<td>2.45pm</td>
			<td>
			<p><strong>Winning Friends and Influencing People: Giving Constructive Feedback that Doesn&rsquo;t Offend </strong><br />
			Dr Eva Doherty<br />
			<em>Clinical Psychologist and Director of the Human Factors and Patient Safety Royal College of Surgeons in Ireland.</em></p>
			</td>
		</tr>
		<tr>
			<td>3.45pm</td>
			<td><i>Coffee</i></td>
		</tr>
		<tr>
			<td>4.15pm</td>
			<td>
			<p><strong>Paper Session</strong><br />
			Co-Chairs: Dr Patricia Quinlan and Dr Grace O&#39;Malley</p>

			<p>Quality of Life in Uveal Melanoma Patients &ndash; an Irish Perspective<br />
			<em>O Scannell</em></p>

			<p>Accurate Genetic Diagnosis Impacts the Management of Inherited Retinal Degeneration Pedigrees in Ireland<br />
			<em>K Stephenson </em></p>

			<p>Ozurdex: The University Hospital Waterford Experience<br />
			<em>R Brady</em></p>

			<p>The Role of the Inflammasome in a Model of Dry Age-Related Macular Degeneration<br />
			<em>E Silke</em></p>

			<p>Evaluation of Real-Life Clinical Outcomes of Treat-and-Extend Regimen for Wet Age-Related Macular Degeneration<br />
			<em>D Minasyan </em></p>

			<p>Vitreous Loss as a Complication of Trainee Performed Cataract Surgery: The Use of a Pre-Operative Scoring System for the Selection of Appropriate Cases to be Performed by Trainees<br />
			<em>A M Mongan</em></p>

			<p>Sulphur Hexafluoride Gas (SF6) as a Tamponading Agent in Retinal Detachment Surgery<br />
			<em>T McSwiney</em></p>

			<p style="margin:0 0 10px;">Vitreous Biopsies: Indications, Results and Patient Outcomes in University Hospital Galway, 2010-2016<br />
			<em>E Hughes</em></p>

			<p><em>Questions</em></p>

			<p>National Waiting Times for Treatment of Patients with AMD&nbsp;<br />
			<em>S Whitlow</em></p>

			<p>Bone Marrow-Derived Cell Recruitment to the Neurosensory Retina and Retinal Pigment Epithelial Cell Layer following Subthreshold Retinal Phototherapy<br />
			<em>D Kent</em></p>

			<p style="margin:0 0 10px;">Improved Optic Nerve and Visual Function Following Panmacular Subthreshold Diode Micropulse Laser (SDM) for Glaucomatous Optic Neuropathy<br />
			<em>D Kent</em></p>

			<p><em>Questions</em></p>
			</td>
		</tr>
	</tbody>
</table>
