<table>
    <tbody>
    <tr>
        <td>7.45-8.45am</td>
        <td><p style="text-align: justify;"><em>Breakfast Symposium Supported by Allergan</em></p></td>
    </tr>
    <tr>
        <td style="text-align: justify;">9.00am</td>
        <td>
            <p style="text-align: justify;"><strong>100 Years of Ophthalmic Societies&nbsp;in Ireland; Whither the Next 100 Years?</strong><br />
                Chair: Dr Alison Blake, President, Irish College of Ophthalmologists</p>

            <p style="text-align: justify;">2018 marks the 100th anniversary of the founding of the Irish Ophthalmological Society, the fore runner of the Irish College of Ophthalmologists. The centenary provides an opportune time for the College to briefly reflect on how practice and training both within the specialty and in the wider context of health care delivery has evolved to where we are now and most importantly to consider what the direction of travel will be over the coming years and how we want to determine the direction.</p>

            <p style="text-align: justify;">When the IOS was founded Ireland&#39;s political structures were in turmoil. One hundred years later our political institutions are settled but our health service is viewed by many to be in turmoil. Is that a fair analysis and if so how should we prepare ourselves for the future? What aspects of practice should we seek to influence and control to ensure that the progress of the last century is matched by progress over the next?</p>

            <p style="text-align: justify;">The speakers in the symposium will look to the present and future of ophthalmology and give their view on the areas of best focus in a system of ever increasing demand and complexity.</p>

            <p><strong>Patient Safety &amp; Quality of Care - the role of Clinical Leaders in Under - Resourced Environments</strong><br />
                Dr Philip Crowley<br />
                <em>National Director, HSE Quality Improvement Division</em></p>

            <p><strong>Physician Wellness - Caring for the Care Givers</strong><br />
                Dr Cynthia Bradford<br />
                <em>Professor of Ophthalmology, Dean McGee Eye Institute, Department of Ophthalmology of the University of Oklahoma Health Sciences Center, Oklahoma </em></p>

            <p><strong>Doctor/Management Relationship - Trends and Perspective from the NHS</strong><br />
                Mr Michael&nbsp;Burdon<br />
                <em>Consultant Ophthalmologist, Queen Elizabeth Hospital, Birmingham. President, Royal College of Ophthalmologists (RCOphth) </em></p>

            <p><strong>Educating our Doctors for tomorrow &ndash; Regulation, Resilience and Reward</strong><br />
                Miss Yvonne Delaney<br />
                <em>Dean of Postgraduate Education, Irish College of Ophthalmologists, Dublin</em></p>

            <p><strong>Ophthalmic Practice in the Next Generation &ndash; What Will That Be</strong><br />
                Dr Micheal O&rsquo;Rourke<br />
                <em>Senior Specialist Registrar, Royal Victoria Eye and Ear Hospital, Dublin </em></p>
        </td>
    </tr>
    <tr>
        <td>10.30am</td>
        <td><i>Coffee</i></td>
    </tr>
    <tr>
        <td>11.00am</td>
        <td>
            <p><strong>Paper Session</strong><br />
                Co-Chairs: Dr Geraldine Comer and Mr Gerry Fahy</p>

            <p>Eckardt Temporary Keratoprosthesis Insertion for Pars Plana Vitrectomy in a Blood-Stained Cornea<br />
                <em>A Ni Mhealoid</em></p>

            <p>Four Muscle Tenotomy Surgery for Improvement of Vision in Congenital Nystagmus &ndash; the Difference Between Driving and Not Driving<br />
                <em>M Treacy </em></p>

            <p style="margin:0 0 10px;">Corneal Neurotisation: An Irish First<br />
                <em>B Power</em></p>

            <p><em>Questions</em></p>

            <p>How the Tear Film can Affect the Ocular Surface and the Perception of Vision<br />
                <em>D Gallagher</em></p>

            <p>Predisposing Risk Factors, Clinical and Microbiological Characteristics of Moraxella Keratitis</p>

            <p>T McSwiney</p>

            <p>Alcohol Delamination of the Corneal Epithelium for Recurrent Corneal Erosion Syndrome<br />
                <em>A Ni Mhealoid</em></p>

            <p>A Retrospective Analysis of Patients with Ocular Graft Versus Host Disease Requiring Autologous Serum Drops<br />
                <em>C Lyons</em></p>

            <p>Influence of Phakic Intraocular Lens Implantation on Endothelial Cell Count and Optical Coherence Tomography Measurements after a Minimum of 4 Years Follow-Up<br />
                <em>B Woods</em></p>

            <p style="margin:0 0 10px;">Repair of Globe Rupture and Penetrating Globe Injuries in University Hospital Galway: A 24 Month Retrospective Review<br />
                <em>E Hughes</em></p>

            <p><em>Questions</em></p>
        </td>
    </tr>
    <tr>
        <td>12.15pm</td>
        <td>
            <p><strong>Short Presentation from a Selection of the Highest Scoring Posters ICO Conference 2018</strong></p>

        </td>
    </tr>

    <tr>
        <td>12.30pm</td>
        <td>
            <p><strong>Mooney Lecture 2018</strong></p>

            <p><strong>The Challenge of Cataract Surgery</strong><br />
                Dr Cynthia Bradford<br />
                <em>Professor of Ophthalmology, Dean McGee Eye Institute, Department of Ophthalmology of the University of Oklahoma Health Sciences Center, Oklahoma </em></p>
        </td>
    </tr>
    <tr>
        <td>1.15pm</td>
        <td><i>Lunch</i></td>
    </tr>
    <tr>
        <td>2.00pm</td>
        <td>
            <p><strong>Medical Ophthalmologists Workshop - Macular OCT</strong></p>

            <p>Chair: Dr Fiona Kearns, Chair Medical Ophthalmologists Committee, ICO</p>

            <p>Mr Mark Cahill<br />
                <em>Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital, Dublin</em></p>

            <p>Dr Susan Kelly<br />
                <em>Consultant Medical Ophthalmologist, St Vincent&#39;s Private Hospital, Dublin&nbsp;</em></p>

            <p><strong>Announcement of Winner&nbsp;of Scope Travel Bursary 2018</strong></p>

            <p>Update from 2017 Recipient of Scope Travel Bursary<br />
                Dr Margaret Morgan&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td>2.00pm</td>
        <td>
            <p><strong>Trainee Workshop </strong></p>

            <p><strong>1.Eye Movement Disorders and Nystagmus</strong><br />
                Prof&nbsp;Patrick Lavin<br />
                <em>Professor of Neurology and Neurosciences, and Ophthalmology and Visual Sciences; Director for The Vanderbilt Headache Clinic, Nashville, Tennessee </em></p>

            <p><strong>2.Writing and Publishing Papers</strong><br />
                Mr Ian Dooley<br />
                <em>Consultant Ophthalmic Surgeon, Mater Misericordiae University Hospital, Dublin</em></p>
        </td>
    </tr>
    </tbody>
</table>
