<table>
    <tbody>
    <tr>
        <td>8.30am</td>
        <td>
            <p><strong>Irish College of Ophthalmologists Annual General Meeting</strong><br />
                Chair; Dr Alison Blake, President ICO<br />
            </p>
        </td>
    </tr>
    <tr>
        <td>9.15am</td>
        <td>
            <p><strong>Interactive Neuro-ophthalmology Workshop</strong><br />
                Prof Patrick Lavin<br />
                <em>Professor of Neurology and Neurosciences, and Ophthalmology and Visual Sciences; Director for The Vanderbilt Headache Clinic, Nashville, Tennessee
                </em></p>
        </td>
    </tr>
    <tr>
        <td>10:00pm</td>
        <td>
            <p><strong>Neuro-ophthalmology Symposium&nbsp;&nbsp;</strong><br />
                <strong>Unexplained Visual Symptoms; to Believe or Not to Believe, that is the Question!&nbsp;</strong><br />
                Chair: Miss Patricia Logan</p>

            <p><strong>Psychogenic Disorders in Neuro-Ophthalmology: Beware the Pitfalls</strong><br />
                Prof&nbsp;Patrick Lavin<br />
                <em>Professor of Neurology and Neurosciences, and Ophthalmology and Visual Sciences; Director for The Vanderbilt Headache Clinic, Nashville, Tennessee</em></p>

            <p><strong>Shut Your Eyes and See</strong><br />
                Mr Michael&nbsp;Burdon<br />
                <em>Consultant Ophthalmologist, Queen Elizabeth Hospital, Birmingham and President, Royal College of Ophthalmologists&nbsp;</em></p>

            <p><strong>Unusual Visual Symptoms, Hallucinations, Illusions, Entopic Phenomena, Visual Snow, Ghosts, etc.<br />
                When are they of Concern?</strong><br />
                Prof&nbsp;Patrick Lavin<br />
                <em>Professor of Neurology and Neurosciences, and Ophthalmology and Visual Sciences; Director for The Vanderbilt Headache Clinic, Nashville, Tennessee</em></p>
        </td>
    </tr>
    <tr>
        <td>11.30am</td>
        <td><i>Coffee</i></td>
    </tr>
    <tr>
        <td>12.00pm	</td>
        <td>
            <p><strong>Neuro Ophthalmology Short Paper Presentations</strong><br />
                Co-Chairs: Dr Maureen Hillery and Mr John Doris</p>

            <p>Visual Snow – A Case Series<br />
                <em>E Doolin</em></p>

            <p>Review of the clinical presentation and relation between CSF opening pressure and loss of visual function in patients with Idiopathic Intracranial Hypertension (IIH) at University Hospital Waterford<br />
                <em>A Salih </em></p>

            <p>A Retrospective Analysis of Orbital Radiotherapy in Thyroid Eye Disease<br />
                <em>C Lyons</em></p>

            <p>Genotype-Phenotype correlations of patients given a diagnosis of congenital stationary night blindness. (How stationary is congenital stationary night blindness?)<br />
                <em>N Wynne</em></p>

            <p><em>Questions</em></p>
        </td>
    </tr>
    <tr>
        <td>12.30pm	</td>
        <td>
            <p><strong>Clinical Audit – What are the Medical Council Requirements and How Can I Make it Meaningful & Relevant to my Practice?</strong><br />
                Presentation by Dr Maureen Hillery and Mr John Doris</p>

            <p>Hydroxychloroquine and Chloroquine Retinopathy: Audit on Referrals to a Tertiary Ophthalmic Centre and Recommendations for Future Referrals<br />
                <em>P Murtagh</em></p>

            <p>An Audit of Visual Field Monitoring of Idiopathic Intracranial Hypertension in Sligo University Hospital and Letterkenny General Hospital<br />
                <em>C Bourke </em></p>

            <p>Five-Year Audit of IOL Exchanges at the Royal Victoria Eye and Ear Hospital<br />
                <em>B Cummings</em></p>

            <p>Evaluation of Outpatient Referrals to the Ophthalmology Department, University Hospital Limerick; A Look to the Future<br />
                <em>R Ellard</em></p>
        </td>
    </tr>
    <tr>
        <td>1.15pm</td>
        <td>
            <p><strong>Announcement of ICO Medal Winners 2018</strong><br />
                Barbara Knox Medal for Best Paper <br />
                Sir William Wilde Medal for Best Poster
            </p>
        </td>
    </tr>
    <tr>
        <td>1.30pm</td>
        <td>
            <p>Conference concludes</p>
        </td>
    </tr>

    </tbody>
</table>
