<h3>The Irish College of Ophthalmologists Annual Conference will be held in the Kilkenny Convention Centre&nbsp;from&nbsp;Wednesday 16th&nbsp;to&nbsp;the 18th May.</h3>

<p>The Conference is the highlight of our annual calendar and provides an opportunity for eye doctors from across the country&nbsp;to gather to hear about the latest clinical and scientific updates&nbsp;and development of the specialty.</p>

<p>2018 marks an important year for the specialty as we celebrate the 100th Anniversary of the formation of the first ophthalmological society in Ireland, the IOS,&nbsp;in 1918,&nbsp; which was&nbsp;the forerunner to the ICO.&nbsp; The programme will include a symposium looking at <em><strong>The Changing Face and Future of Ophthalmology</strong> </em>as we mark this important milestone.</p>

<p>Symposia on&nbsp;<strong><em>Neuro-ophthalmology</em></strong>, and <strong><em>Uveitis</em></strong>&nbsp;<span background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">will also feature on this year&#39;s conference programme.</span></p>

<p><span background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">The Annual Mooney Lecture will be delivered by Dr Cynthia Bradford, former President of the American Academy of Ophthalmology&nbsp;(AAO) and Professor of Ophthalmology at the Dean McGee Eye Institute/Department of Ophthalmology of the University of Oklahoma Health Sciences Center on the <em>&#39;<strong>The Challenge of&nbsp;Cataract Surgery</strong>&#39;</em>&nbsp;highlighting the complexity of cataract surgery and the high rate of success due the skill and training of surgeons in the sub specialty.</span></p>

<p>Download Conference Registration Form <a href="http://www.eyedoctors.ie/medium/images/ICO_Annual_Conference_2018_registration_Form-i.doc" target="_blank">here</a></p>
