<table>
	<tbody>
		<tr>
			<td>9.00am</td>
			<td><strong>Paper Session</strong></td>
		</tr>
		<tr>
			<td>10.30am</td>
			<td><strong>ICO/Novartis Eye Research Bursary Winner 2019 &ndash; 2020</strong></td>
		</tr>
		<tr>
			<td>10.45am</td>
			<td><i>Coffee</i></td>
		</tr>
		<tr>
			<td>11.15am</td>
			<td>
			<p><strong>Official Welcome </strong></p>

			<p>Dr Patricia Quinlan<br />
			President, Irish College of Ophthalmologists</p>

			<p><strong>Presentation of the John Blake Medal for Best Research Paper</strong></p>
			</td>
		</tr>
		<tr>
			<td>11.30am</td>
			<td>
			<p><strong>Ocular Surface Symposium </strong></p>

			<p>Prof Harminder Dua<br />
			Professor of Ophthalmology and Visual Sciences, University of Nottingham</p>

			<p>Mr Tom Flynn<br />
			Consultant Ophthalmic Surgeon, Bons Secours Hospital, Cork</p>

			<p>Dr Laurence Fitzhenry<br />
			Lecturer and Researcher, Dept. of Science, Waterford Institute of Technology</p>
			</td>
		</tr>
		<tr>
			<td>1.00pm</td>
			<td><i>Lunch</i></td>
		</tr>
		<tr>
			<td><strong>2.00pm</strong></td>
			<td>
			<p><strong>European Society of Ophthalmology (SOE) Lecture 2020</strong></p>

			<p>Introduction by Ms Patricia Logan<br />
			SOE Board Member and Consultant Ophthalmic Surgeon, Beaumont Hospital, Dublin</p>

			<p>Dr Evelyn O&rsquo;Neill<br />
			Emergency Medicine, Department of Ophthalmology, Mater Misericordiae University Hospital, Dublin</p>
			</td>
		</tr>
		<tr>
			<td>2.30pm</td>
			<td>
			<p><strong>Glaucoma Symposium</strong></p>

			<p><strong>Paediatric Glaucoma</strong><br />
			Ms Celia Fenerty,<br />
			Consultant Ophthalmic Surgeon, Manchester Royal Eye Hospital</p>

			<p>Prof David Crab<br />
			Professor of Statistics and Vision Research, City University London</p>
			</td>
		</tr>
		<tr>
			<td>4.00pm</td>
			<td><i>Coffee</i></td>
		</tr>
		<tr>
			<td>4.30pm</td>
			<td>
			<p><strong>Paper Session: Clinical</strong></p>
			</td>
		</tr>
		<tr>
			<td>5.00pm</td>
			<td>
			<p><strong>The Custodian of Eye Care Lecture 2020</strong></p>

			<p>&quot;The Evolution of Modern Cataract and Refractive Surgery in Ireland&quot;</p>

			<p>Mr Patrick Condon<br />
			Consultant Ophthalmic Surgeon</p>
			</td>
		</tr>
	</tbody>
</table>
