<table>
	<tbody>
		<tr>
			<td><strong>7.45</strong></td>
			<td><strong>Breakfast Symposium </strong></td>
		</tr>
		<tr>
			<td><strong>9.00am</strong></td>
			<td>
			<p><strong>Paper session- Clinical</strong></p>
			</td>
		</tr>
		<tr>
			<td><strong>9.45am</strong></td>
			<td>
			<p><strong>Round Table Case Based Discussion (Human Factors)</strong></p>

			<p>This moderated round table session will provide an opportunity for participants to examine issues as they relate to clinical practice and tap into the expertise in the room. A team of facilitators will help focus the conversations and engage group members in the discussion.</p>
			</td>
		</tr>
		<tr>
			<td><strong>10.45am</strong></td>
			<td><i>Coffee</i></td>
		</tr>
		<tr>
			<td><strong>11.15am</strong></td>
			<td>
			<p><strong>Podium Presentation - 3 best Posters</strong></p>

			<p><strong>Rapid Fire Audit</strong></p>
			</td>
		</tr>
		<tr>
			<td><strong>11.40am</strong></td>
			<td>
			<p><strong>World Vision: Prevention and Rehabilitation Symposium</strong></p>

			<p><strong>Claire Gilbert</strong><br />
			Professor of International Eye Health, London School of Hygiene and Tropical Medicine</p>

			<p><strong>Mr Donal Brosnahan </strong><br />
			Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital and Children&rsquo;s Health Ireland, Crumlin</p>
			</td>
		</tr>
		<tr>
			<td>1.00pm</td>
			<td>
			<p><strong>Presentation by Dr Patricia Quinlan of Sir William Wilde Medal for Best Poster</strong></p>
			</td>
		</tr>
		<tr>
			<td>1.10pm</td>
			<td><strong><i>Lunch</i></strong></td>
		</tr>
		<tr>
			<td>2pm</td>
			<td>
			<p><strong>Workshops</strong></p>

			<p>Closed Session for ICO Members</p>
			</td>
		</tr>
	</tbody>
</table>
