<table>
	<tbody>
		<tr>
			<td><strong>Friday</strong></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><strong>9.00am</strong></td>
			<td>
			<p><strong>Irish College of Ophthalmologists Annual General Meeting<br />
			Chair: Dr Patricia Quinlan, President, ICO </strong></p>

			<p>ICO Members Only</p>
			</td>
		</tr>
		<tr>
			<td><strong>9.30am</strong></td>
			<td>
			<p><strong>Paper Session: Clinical</strong></p>
			</td>
		</tr>
		<tr>
			<td><strong>10:30pm</strong></td>
			<td>
			<p><strong>Annual Mooney Lecture 2020 </strong></p>

			<p><strong>Dr Neil Bressler </strong><br />
			Professor of Ophthalmology, Wilmer Eye Institute, John Hopkins Medicine, Maryland US</p>

			<p><strong>Dr Susan Bressler </strong><br />
			Professor of Ophthalmology, Wilmer Eye Institute, John Hopkins Medicine, Maryland, US</p>
			</td>
		</tr>
		<tr>
			<td><strong>11.15am</strong></td>
			<td><i>Coffee</i></td>
		</tr>
		<tr>
			<td><strong>11.45am</strong></td>
			<td><strong>Presentation of Barbara Knox Medal for Best Clinical Paper</strong></td>
		</tr>
		<tr>
			<td><strong>11.50am</strong></td>
			<td>
			<p><b>The Great Debate</b></p>

			<p><span style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; background-color: rgb(255, 255, 255);">Chair: Mr Paul Connell</span><br style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; background-color: rgb(255, 255, 255);" />
			<span style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; background-color: rgb(255, 255, 255);">Consultant Ophthalmic Surgeon, Mater Misericordiae University Hospital, Dublin</span></p>

			<p>Dr Neil Bressler<br />
			Professor of Ophthalmology, Wilmer Eye Institute, John Hopkins Medicine, Maryland US</p>

			<p>Dr Susan Bressler<br />
			Professor of Ophthalmology, Wilmer Eye Institute, John Hopkins Medicine, Maryland, US</p>

			<p><br />
			&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td><strong>1.00pm</strong></td>
			<td>
			<p><strong>Conference Concludes </strong></p>
			</td>
		</tr>
		<tr>
			<td><strong>To Follow:</strong></td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>
