<table>
	<tbody>
		<tr>
			<td><strong>8.00am</strong></td>
			<td><i>Sponsored Breakfast Session - Bayer&nbsp;</i></td>
		</tr>
		<tr>
			<td><strong>9.15am</strong></td>
			<td>
			<p><strong>Ocular Surface Disease Symposium</strong></p>

			<p>Chair: Ms Nikolina Budimlija, Royal Victoria Eye and Ear Hospital, Dublin</p>

			<p><strong>Prof Conor Murphy</strong><br />
			Professor of Ophthalmology, Royal College of Surgeons in Ireland and Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital, Dublin</p>

			<p><strong><span background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Mr&nbsp;</span></strong><strong background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Tom Flynn</strong><br background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="" />
			<span background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Consultant Ophthalmic Surgeon, Bon&nbsp;Secours Hospital Cork</span></p>

			<p><b>Mr Samar Hamada&nbsp;</b><br background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="" />
			<span background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Clinical Lead and Consultant Ophthalmic Surgeon, Queen Victoria Hospital NHS Foundation Trust, UK</span></p>
			</td>
		</tr>
		<tr>
			<td><strong>10.45am</strong></td>
			<td><i>Coffee</i></td>
		</tr>
		<tr>
			<td><strong>11.15am</strong></td>
			<td>
			<p><strong>ICO National Training Programme </strong></p>

			<p><strong>Miss Yvonne Delaney</strong><br />
			Dean of Postgraduate Education, Irish College of Ophthalmologists<br />
			Consultant Ophthalmic Surgeon, Mater Misericordiae University Hospital, Dublin</p>
			</td>
		</tr>
		<tr>
			<td><strong>11.45am</strong></td>
			<td><strong>Trainee Roll of Honour &amp; Presentations of 2021 ICO Medals</strong></td>
		</tr>
		<tr>
			<td><strong>12.00pm</strong></td>
			<td>
			<p><b>European Society of Ophthalmology (SOE) Lecture 2022 </b></p>
			</td>
		</tr>
		<tr>
			<td><strong>12.30pm</strong></td>
			<td>
			<p><strong>Irish College of Ophthalmologists Annual General Meeting</strong></p>

			<p>Chair: Mr Tim Fulcher, President, ICO</p>

			<p>ICO Members Only</p>
			</td>
		</tr>
		<tr>
			<td><strong>1.00pm</strong></td>
			<td><i>Lunch</i></td>
		</tr>
		<tr>
			<td><strong>1.45pm</strong></td>
			<td>
			<p><strong>Recent Clinical Trials</strong></p>

			<p>Chairs: Ms Janice Brady and Dr Muhammed Akram, Waterford University Hospital&nbsp;</p>

			<p><strong>Prof Anthony King &ndash; Glaucoma</strong><br />
			Consultant Ophthalmologist, Nottingham University Hospital, NHS<br />
			Honorary Professor of Clinical Ophthalmology at the University of Nottingham, UK</p>

			<p><strong>Mr Ian Flitcroft &ndash; Myopia</strong><br />
			Consultant Ophthalmologist, Children&rsquo;s&nbsp;Health Ireland (CHI)&nbsp;Temple Street, and Mater Misericordiae University Hospital, Dublin</p>

			<p><strong>Prof Tunde Peto &ndash; Retina</strong><br />
			Professor of Clinical Ophthalmology, Queen&rsquo;s University, Belfast</p>
			</td>
		</tr>
		<tr>
			<td><strong>3.00pm</strong></td>
			<td><i>Refreshments</i></td>
		</tr>
		<tr>
			<td><strong>3.30pm</strong></td>
			<td>
			<p><strong>Parallel workshops</strong></p>

			<p><strong>Ocular Movement </strong></p>

			<p><strong>Jaina Byrne</strong><br />
			Orthoptist, Beaumont Hospital, Dublin</p>

			<p><strong background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Mr Edward Loane</strong><br background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="" />
			<span background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Consultant Ophthalmic Surgeon, St James&#39;s Hospital, Dublin</span></p>

			<p><strong background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Ms Edel Cosgrave</strong><br background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="" />
			<span background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Consultant Ophthalmologists, University Hospital Waterford</span></p>

			<p><strong>OCT</strong></p>

			<p><strong>Mr Tom&aacute;s Burke</strong><br />
			Consultant Ophthalmologist, Mater Misericordiae University Hospital, Dublin</p>
			</td>
		</tr>
	</tbody>
</table>
