<table>
	<tbody>
		<tr>
			<td><strong>9.30am</strong></td>
			<td>
			<p><strong>Planning for the Future&nbsp;</strong></p>

			<p>Chairs: Prof Colm O&#39;Brien and Ms Elizabeth McElnea,&nbsp;<span background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Mater Misericordiae University Hospital&nbsp;</span></p>

			<p><strong>Ms Dawn Sim </strong><br />
			Consultant Ophthalmic Surgeon, Moorfields Eye Hospital, London</p>

			<p><strong>Ms Aoife Doyle </strong><br />
			Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital and St James&rsquo;s Hospital, Dublin</p>

			<p><strong>Mr Jonathan Clarke </strong><br />
			Consultant Ophthalmologist, Moorfields Eye Hospital, London</p>

			<p><strong background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Ms Evelyn O&#39;Neill</strong><br background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="" />
			<span background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Consultant Ophthalmologist, Mater Misericordiae University Hospital, Dublin</span></p>
			</td>
		</tr>
		<tr>
			<td><strong>11.00am</strong></td>
			<td><i>Refreshments</i></td>
		</tr>
		<tr>
			<td><strong>11.30am</strong></td>
			<td>
			<p><strong>Paper Session</strong></p>

			<p><strong>Presentation of 2022 ICO Medals</strong></p>

			<p>Sir William Wilde Medal for Best Poster</p>

			<p>Barbara Knox Medal for Best Paper</p>

			<p>John Blake Medal for Best Research Paper</p>
			</td>
		</tr>
		<tr>
			<td><strong>1.00pm</strong></td>
			<td>
			<p><strong>Conference Close</strong></p>
			</td>
		</tr>
	</tbody>
</table>
