<div>
    &nbsp;<br />
    <p><strong>ICO Annual Conference 2018 Posters</strong></p>
    <p>Long Term Quality of Life and Surgical Outcome After Strabismus Surgery in Patients with Graves’Orbitopathy<br />
        A Youssef
    </p>

    <p>
        A Case of Abducens Nerve Palsy in Spontaneous Intracranial Hypotension<br />
        A Naylor
    </p>

    <p>
        The Role of the αvβ3 Integrin in Lamina Cribrosa Cells and the Possible Role in Glaucoma Pathogenesis<br />
        A Hopkins
    </p>

    <p>
        A Case Series of Swept Source OCTs: Optic Nerve Head Drusen vs Papilloedema<br />
        A Sahil
    </p>

    <p>
        Review of the Vitreoretinal Service at University Hospital Waterford<br />
        A Sahil
    </p>

    <p>
        Optical Coherence Tomography Derived Measurements of Retinal Nerve Fibre Layer Thickness in Optic Neuritis vs Non-Optic Neuritis Eyes<br />
        B Ó Tuama
    </p>

    <p>
        Comparison of Results from National Diabetic Retinal Screening Programme with Slit Lamp Examination in Patients Referred to Tertiary Centre, Galway University Hospital (GUH)<br />
        C Fang
    </p>

    <p>
        Lamina Cribrosa Cell Bioenergetics in Glaucoma: Role of Glycolysis and Glutaminolysis<br />
        D Hickey
    </p>

    <p>
        Investigating the Lamina Cribrosa: Development of a Novel Biomimetic Model of the Lamina Cribrosa Region for Glaucoma Research<br />
        D Clissmann
    </p>

    <p>
        An Audit of the Geographic Locations of Patient Visits to the Orthoptic Department - University Hospital Galway<br />
        E Nugent
    </p>

    <p>
        Ocular Manifestations of Sexually Transmitted Diseases in the Emergency Department<br />
        E Hegazy
    </p>

    <p>
        Transient Receptor Potential Channels TRPC1 and TRPC6 Regulate Lamina Cribrosa Cell Extracellular Matrix Gene Transcription and Proliferation<br />
        M Irnaten
    </p>

    <p>
        Correlation Between Clinical Profiles and Histopathological Findings of Temporal Artery Biopsy<br />
        J Huang
    </p>

    <p>
        Is it a Flat Nevus OR a Melanoma!<br />
        L Obaid
    </p>

    <p>
        Geographic Distribution of Ophthalmic Surgical Procedures Carried out at University Hospital Waterford over a 12-month period<br />
        M Rhatigan
    </p>

    <p>
        The Wait for Cataract Surgery: Low Cost Interventions to Enhance Service Delivery in Elective Cataract Surgery<br />
        R Murphy
    </p>

    <p>
        A Comparison of the Workload of Focal Macular Laser and Pan-Retinal Photocoagulation Pre- and Post- the Establishment of National Diabetic Retinal Screening Programme in Cork University Hospital<br />
        M Roslan
    </p>

    <p>
        Impact of a National Diabetic Retinopathy Programme on Vitrectomy Rates for Diabetic Eye Disease in a Regional Treatment Centre.<br />
        H Sands
    </p>

    <p>
        An Audit of Referrals to the Medical Retina Service at St Vincent’s University Hospital<br />
        Y AlHaddad
    </p>

    <p>
        Misinterpretation of Toric Biometry Leading to Incorrect Intraocular Lens Implantation<br />
        C Quigley
    </p>

    <p>
        Impact of the National Diabetic Retinopathy Screening Service (NDRS) on the Workload of the General Eye Clinic in a Regional Treatment Centre<br />
        E Lonerga
    </p>

    <p>
        A Novel Surgical Method for the Treatment of Mild to Moderate Involutional Lower Lid Ectropion with Medial Involvement<br />
        C McCloskey
    </p>

    <p>Hydroxychloroquine screening practices in Irish Ophthalmology clinics<br />

        T Murphy
    </p>

    <p>Intravitreal Anti-Vascular Growth Factor For macular edema secondary to Retinal Arterial Macroaneurysm (RAM).<br />

        L Obaid
    </p>

    <p>Localised amyloidosis of the conjunctiva secondary to hypogammaglobulinaemia<br />

        A Ni Mhealoid
    </p>

    <p>Prevalence of retinal tears and/or retinal detachments requiring surgical intervention after intravitreal injection - 3-year audit in RVEEH<br />

        I Surzhenko
    </p>

</div>