<!--

    This is default template file for RiSearch Pro
    (c) Sergej Tarasov, 2000-2002
    Homepage: http://risearch.org/
    email: risearch@risearch.org

    Edit this file as desired.
    
-->

<!-- RiSearch::header::start -->
<html>
<head>
<title>RiSearch statistics</title>
</head>
<body>

<H1>Search Statistics</H1>

<FORM ACTION="stat.pl" METHOD="GET">
Last
<INPUT TYPE="Hidden" NAME="type" VALUE="last">
<INPUT TYPE="Text" NAME="num" SIZE="5" VALUE="20">
queries today:
<INPUT TYPE="Submit" VALUE="Print">
</FORM>

<FORM ACTION="stat.pl" METHOD="GET">
All queries for last
<INPUT TYPE="Hidden" NAME="type" VALUE="all">
<INPUT TYPE="Text" NAME="num" SIZE="5" VALUE="20">
days:
<INPUT TYPE="Submit" VALUE="Print">
</FORM>

<FORM ACTION="stat.pl" METHOD="GET">
All queries for
<INPUT TYPE="Hidden" NAME="type" VALUE="all">
<INPUT TYPE="Text" NAME="d" SIZE="5" VALUE="1">
<SELECT name="m" size=1>
   <OPTION value="0">Jan
   <OPTION value="1">Feb
   <OPTION value="2">Mar
   <OPTION value="3">Apr
   <OPTION value="4">May
   <OPTION value="5">Jun
   <OPTION value="6">Jul
   <OPTION value="7">Aug
   <OPTION value="8">Sep
   <OPTION value="9">Oct
   <OPTION value="10">Nov
   <OPTION value="11">Dec
</SELECT>
:
<INPUT TYPE="Submit" VALUE="Print">
</FORM>

<FORM ACTION="stat.pl" METHOD="GET">
All queries for
<INPUT TYPE="Hidden" NAME="type" VALUE="all">
<SELECT name="m" size=1>
   <OPTION value="0">Jan
   <OPTION value="1">Feb
   <OPTION value="2">Mar
   <OPTION value="3">Apr
   <OPTION value="4">May
   <OPTION value="5">Jun
   <OPTION value="6">Jul
   <OPTION value="7">Aug
   <OPTION value="8">Sep
   <OPTION value="9">Oct
   <OPTION value="10">Nov
   <OPTION value="11">Dec
</SELECT>
:
<INPUT TYPE="Submit" VALUE="Print">
</FORM>

<FORM ACTION="stat.pl" METHOD="GET">
Number of queries for last
<INPUT TYPE="Hidden" NAME="type" VALUE="num">
<INPUT TYPE="Text" NAME="num" SIZE="5" VALUE="20">
days:
<INPUT TYPE="Submit" VALUE="Print">
</FORM>

<FORM ACTION="stat.pl" METHOD="GET">
Number of queries for
<INPUT TYPE="Hidden" NAME="type" VALUE="num">
<SELECT name="m" size=1>
   <OPTION value="0">Jan
   <OPTION value="1">Feb
   <OPTION value="2">Mar
   <OPTION value="3">Apr
   <OPTION value="4">May
   <OPTION value="5">Jun
   <OPTION value="6">Jul
   <OPTION value="7">Aug
   <OPTION value="8">Sep
   <OPTION value="9">Oct
   <OPTION value="10">Nov
   <OPTION value="11">Dec
</SELECT>
:
<INPUT TYPE="Submit" VALUE="Print">
</FORM>

<FORM ACTION="stat.pl" METHOD="GET">
<INPUT TYPE="Hidden" NAME="type" VALUE="top">
Top 
<INPUT TYPE="Text" NAME="num" SIZE="5" VALUE="20">
queries for last
<INPUT TYPE="Text" NAME="d" SIZE="5" VALUE="30">
days:
<INPUT TYPE="Submit" VALUE="Print">
</FORM>

<FORM ACTION="stat.pl" METHOD="GET">
<INPUT TYPE="Hidden" NAME="type" VALUE="top">
Top 
<INPUT TYPE="Text" NAME="num" SIZE="5" VALUE="20">
queries for <SELECT name="m" size=1>
   <OPTION value="0">Jan
   <OPTION value="1">Feb
   <OPTION value="2">Mar
   <OPTION value="3">Apr
   <OPTION value="4">May
   <OPTION value="5">Jun
   <OPTION value="6">Jul
   <OPTION value="7">Aug
   <OPTION value="8">Sep
   <OPTION value="9">Oct
   <OPTION value="10">Nov
   <OPTION value="11">Dec
</SELECT>
:
<INPUT TYPE="Submit" VALUE="Print">
</FORM>

<BR>
<BR>

<!-- RiSearch::header::end -->


<!-- ========================================================== -->
<!--              Last queries template section                 -->
<!-- ========================================================== -->


<!-- RiSearch::last_header::start -->
<BR><BR>
<TABLE WIDTH=70% ALIGN=center BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR><TD BGCOLOR=#000000>
<TABLE WIDTH=100% ALIGN=center BORDER=0 CELLPADDING=1 CELLSPACING=1>
<TR>
<TD ALIGN=left BGCOLOR=#FFFFFF><B>Last %num% queries:</B></TD>
</TR>
<TR><TD ALIGN=left BGCOLOR=#FFFFFF>
<!-- RiSearch::last_header::end -->

<!-- RiSearch::last::start -->
%query% - %resnum%<BR>
<!-- RiSearch::last::end -->

<!-- RiSearch::last_footer::start -->
</TD></TR></TABLE>
</TD></TR></TABLE>
<!-- RiSearch::last_footer::end -->


<!-- ========================================================== -->
<!--              All queries template section                  -->
<!-- ========================================================== -->



<!-- RiSearch::all_header::start -->
<BR><BR>
<TABLE WIDTH=70% ALIGN=center BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR><TD BGCOLOR=#000000>
<TABLE WIDTH=100% ALIGN=center BORDER=0 CELLPADDING=1 CELLSPACING=1>
<TR>
<TD ALIGN=left BGCOLOR=#FFFFFF><B>
All queries for
<% IF %num% != "" %> last %num% days<% ENDIF %><% IF %month% != "" %> %month%<% ENDIF %><% IF %d% != "" %> %d%<% ENDIF %>.
</B></TD>
</TR>
<TR><TD ALIGN=left BGCOLOR=#FFFFFF>

<!-- RiSearch::all_header::end -->

<!-- RiSearch::all::start -->
%query%<BR>
<!-- RiSearch::all::end -->

<!-- RiSearch::all_footer::start -->
</TD></TR></TABLE>
</TD></TR></TABLE>
<!-- RiSearch::all_footer::end -->



<!-- ========================================================== -->
<!--            Number of queries template section              -->
<!-- ========================================================== -->




<!-- RiSearch::num_header::start -->
<BR><BR>

<TABLE WIDTH=70% ALIGN=center BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR><TD BGCOLOR=#000000>
<TABLE WIDTH=100% ALIGN=center BORDER=0 CELLPADDING=1 CELLSPACING=1>
<TR>
<TD ALIGN=left COLSPAN=4 BGCOLOR=#FFFFFF>
<B>Number of queries for
<% IF %month% != "" %> %month%<% ELSE %> last %num% days<% ENDIF %>.</B>
<BR>Total number of queries: %total%
</TD>
</TR>
<TR>
<TD ALIGN=right BGCOLOR=#FFFFFF><B>Date:&nbsp;&nbsp;</B></TD>
<TD ALIGN=center COLSPAN=3 BGCOLOR=#FFFFFF>Statistics</TD>
</TR>
<!-- RiSearch::num_header::end -->


<!-- RiSearch::num::start -->
<TR>
<TD ALIGN=right WIDTH=40% BGCOLOR=#FFFFFF>%date%&nbsp;&nbsp;</TD>
<TD ALIGN=right WIDTH=5% BGCOLOR=#FFFFFF>%number%&nbsp;&nbsp;</TD>
<TD ALIGN=right WIDTH=5% BGCOLOR=#FFFFFF>%proc%&nbsp;%</TD>
<TD ALIGN=left WIDTH=220 BGCOLOR=#FFFFFF>&nbsp;&nbsp;&nbsp;<IMG SRC="/img/bar.gif" ALIGN=absmiddle ALT=\"\" WIDTH=%len% HEIGHT=8 BORDER=0></TD>
</TR>
<!-- RiSearch::num::end -->


<!-- RiSearch::num_footer::start -->
</TABLE>
</TD></TR></TABLE>
<!-- RiSearch::num_footer::end -->



<!-- ========================================================== -->
<!--              Top N queries template section                -->
<!-- ========================================================== -->



<!-- RiSearch::top_header::start -->
<BR><BR>

<TABLE WIDTH=70% ALIGN=center BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR><TD BGCOLOR=#000000>
<TABLE WIDTH=100% ALIGN=center BORDER=0 CELLPADDING=1 CELLSPACING=1>
<TR>
<TD ALIGN=left COLSPAN=4 BGCOLOR=#FFFFFF>
<B>Top %num% queries for
<% IF %month% != "" %> %month%<% ELSE %> last %d% days<% ENDIF %>.</B>
<BR>Total number of queries: %total%
<BR>Unique: %unique%
</TD>
</TR>
<TR>
<TD ALIGN=right BGCOLOR=#FFFFFF><B>Query:&nbsp;&nbsp;</B></TD>
<TD ALIGN=center COLSPAN=3 BGCOLOR=#FFFFFF>Statistics</TD>
</TR>
<!-- RiSearch::top_header::end -->


<!-- RiSearch::top::start -->
<TR>
<TD ALIGN=right WIDTH=40% BGCOLOR=#FFFFFF>%query%&nbsp;&nbsp;</TD>
<TD ALIGN=right WIDTH=5% BGCOLOR=#FFFFFF>%number%&nbsp;&nbsp;</TD>
<TD ALIGN=right WIDTH=5% BGCOLOR=#FFFFFF>%proc%&nbsp;%</TD>
<TD ALIGN=left WIDTH=220 BGCOLOR=#FFFFFF>&nbsp;&nbsp;&nbsp;<IMG SRC="/img/bar.gif" ALIGN=absmiddle ALT=\"\" WIDTH=%len% HEIGHT=8 BORDER=0></TD>
</TR>
<!-- RiSearch::top::end -->


<!-- RiSearch::top_footer::start -->
</TABLE>
</TD></TR></TABLE>
<!-- RiSearch::top_footer::end -->






<!-- ========================================================== -->
<!--            Number of unique IP              -->
<!-- ========================================================== -->




<!-- RiSearch::ip_header::start -->
<BR><BR>

<TABLE WIDTH=70% ALIGN=center BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR><TD BGCOLOR=#000000>
<TABLE WIDTH=100% ALIGN=center BORDER=0 CELLPADDING=1 CELLSPACING=1>
<TR>
<TD ALIGN=left COLSPAN=4 BGCOLOR=#FFFFFF>
<B>Number of unique IP for
<% IF %month% != "" %> %month%<% ELSE %> last %num% days<% ENDIF %>.</B>
<BR>Total number of unique IP: %total%
</TD>
</TR>
<TR>
<TD ALIGN=right BGCOLOR=#FFFFFF><B>Date:&nbsp;&nbsp;</B></TD>
<TD ALIGN=center COLSPAN=3 BGCOLOR=#FFFFFF>Statistics</TD>
</TR>
<!-- RiSearch::ip_header::end -->


<!-- RiSearch::ip::start -->
<TR>
<TD ALIGN=right WIDTH=40% BGCOLOR=#FFFFFF>%date%&nbsp;&nbsp;</TD>
<TD ALIGN=right WIDTH=5% BGCOLOR=#FFFFFF>%number%&nbsp;&nbsp;</TD>
<TD ALIGN=right WIDTH=5% BGCOLOR=#FFFFFF>%proc%&nbsp;%</TD>
<TD ALIGN=left WIDTH=220 BGCOLOR=#FFFFFF>&nbsp;&nbsp;&nbsp;<IMG SRC="/img/bar.gif" ALIGN=absmiddle ALT=\"\" WIDTH=%len% HEIGHT=8 BORDER=0></TD>
</TR>
<!-- RiSearch::ip::end -->


<!-- RiSearch::ip_footer::start -->
</TABLE>
</TD></TR></TABLE>
<!-- RiSearch::ip_footer::end -->



<!-- ========================================================== -->
<!--            Time statistics                                 -->
<!-- ========================================================== -->




<!-- RiSearch::time_header::start -->
<BR><BR>

<TABLE WIDTH=70% ALIGN=center BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR><TD BGCOLOR=#000000>
<TABLE WIDTH=100% ALIGN=center BORDER=0 CELLPADDING=1 CELLSPACING=1>
<TR>
<TD ALIGN=left COLSPAN=4 BGCOLOR=#FFFFFF>
<B>Hour statistics for
<% IF %month% != "" %> %month%<% ELSE %> last %num% days<% ENDIF %>.</B>
<BR>Total number of queries: %total%
</TD>
</TR>
<TR>
<TD ALIGN=right BGCOLOR=#FFFFFF><B>Time:&nbsp;&nbsp;</B></TD>
<TD ALIGN=center COLSPAN=3 BGCOLOR=#FFFFFF>Statistics</TD>
</TR>
<!-- RiSearch::time_header::end -->


<!-- RiSearch::time::start -->
<TR>
<TD ALIGN=right WIDTH=40% BGCOLOR=#FFFFFF>%time%&nbsp;&nbsp;</TD>
<TD ALIGN=right WIDTH=5% BGCOLOR=#FFFFFF>%number%&nbsp;&nbsp;</TD>
<TD ALIGN=right WIDTH=5% BGCOLOR=#FFFFFF>%proc%&nbsp;%</TD>
<TD ALIGN=left WIDTH=220 BGCOLOR=#FFFFFF>&nbsp;&nbsp;&nbsp;<IMG SRC="/img/bar.gif" ALIGN=absmiddle ALT=\"\" WIDTH=%len% HEIGHT=8 BORDER=0></TD>
</TR>
<!-- RiSearch::time::end -->


<!-- RiSearch::time_footer::start -->
</TABLE>
</TD></TR></TABLE>
<!-- RiSearch::time_footer::end -->







<!-- RiSearch::footer::start -->
</body>
</html>
<!-- RiSearch::footer::end -->

