<!--

    This is default template file for RiSearch Pro
    (c) Sergej Tarasov, 2000-2003
    Homepage: http://risearch.org/
    email: risearch@risearch.org

    Edit this file as desired.

-->
<div>
    <!-- RiSearch::header::start -->
    <div class="header">
        <h1>Search Results For "%query%"</h1>
    </div>

    <!--
    <br /><A HREF="search.pl?t=1">Advanced search</A>
    -->
    <!-- RiSearch::header::end -->
    <!-- RiSearch::results_header::start -->

    <div class="sort"><strong>Sort by:&nbsp;</strong>
        <% IF %s%=="R" %><span class="selected">Relevance</span><% ELSE %><a href="search.asp?%short_query_str%%zones_str%&s=R">Relevance</a><% ENDIF %>
        | <% IF %s%=="D" %><span class="selected">Date</span><% ELSE %><a href="search.asp?%short_query_str%%zones_str%&s=D">Date</a><% ENDIF %>
        | <% IF %s%=="S" %><span class="selected">Size</span><% ELSE %><a href="search.asp?%short_query_str%%zones_str%&s=S">Size</a><% ENDIF %>
        | <% IF %s%=="T" %><span class="selected">Title</span><% ELSE %><a href="search.asp?%short_query_str%%zones_str%&s=T">Title</a><% ENDIF %>
        | <% IF %s%=="N" %><span class="selected">No Sorting</span><% ELSE %><a href="search.asp?%short_query_str%%zones_str%&s=N">No Sorting</a><% ENDIF %>
    </div>

    <div class="ignored">
        <% IF %ignored_words% != "" %><br /> Ignored words: %ignored_words% <% ENDIF %>
    </div>

    <div class="found">
        <strong>We found: </strong>%rescount% pages matching your query <em>"%query%"</em>
    </div>

    <div class="prevnext">
        <strong>Results:</strong>
        <% IF %prev_page% != "" %><a href="%prev_page%">Prev. %res_num%</a> | <% ENDIF %>
        <span class="selected"> <% DO %>%stpos% + 1 <% ENDDO %> .. <% IF %next_page% == "" %> %rescount% <% ELSE %><% DO %> %stpos% + %res_num% <% ENDDO %></span><% ENDIF %>
        <% IF %next_page% != "" %> | <a href="%next_page%">Next %res_num%</a><% ENDIF %>
    </div>

    <div class="resultslist">
        <ol start="<% DO %>%stpos%+1<% ENDDO %>">
            <!-- RiSearch::results_header::end -->
            <!-- RiSearch::results::start -->
            <li class="item">
                <h3>
                    <a href="%url%">
                    <% IF %title%=="No title" %>
                    %url%
                    <% ELSE %>
                    %title%
                    <% ENDIF %>
                    </a>
                </h3>
                <div class="pagesize">
                    <strong>Page size:</strong> %size%&nbsp;bytes - <strong>Page Last modified on:</strong> %date%
                </div>
                %description%
            </li>
            <!-- RiSearch::results::end -->
            <!-- RiSearch::results_footer::start -->
        </ol>
    </div>

    <div class="paging">
        <p>
            <% IF %next_results% != "" %> Pages: <% ENDIF %>
            <% IF %prev_page% != "" %> <a href="%prev_page%">&lt; Previous</A><% ENDIF %>
            <% IF %next_results% != "" %> %next_results%<% ENDIF %>
            <% IF %next_page% != "" %> <a href="%next_page%">Next &gt;</A><% ENDIF %>
        </p>
    </div>

    <% IF %oq% == "" %>

    <% ENDIF %>



    <!-- RiSearch::results_footer::end -->


    <!-- RiSearch::no_results::start -->
    <div class="noresults">
        <h3>Sorry, no results found!</h3>
        We're sorry but we haven't found any results for your query <em>%query%</em>. Perhaps try a variation on your search term for better results.<br />
        <em>This search took %search_time% seconds to complete.</em>
        <% IF %ignored_words% != "" %><br /> Ignored words: %ignored_words% <% ENDIF %>
        <% IF %corrected_query% != "" %><br /><strong>Perhaps you meant to search for
        <a href="search.asp?q=%corrected_query%&s=%s%%zones_str%">%corrected_query%</a> instead?</strong>
        <% ENDIF %>

    </div>
    <!-- RiSearch::no_results::end -->

    <!-- RiSearch::empty_query::start -->
    <div class="enterterm">
        Please enter a search term
    </div>
    <!-- RiSearch::empty_query::end -->


</div>

