<!--

    This is default template file for RiSearch Pro
    (c) Sergej Tarasov, 2000-2003
    Homepage: http://risearch.org/
    email: risearch@risearch.org

    Edit this file as desired.

    The file consist of 7 sections
    
    1. "header"
    2. "results_header"
    3. "results"
    4. "results_footer"
    5. "no_results"
    6. "empty_query"
    7. "footer"
    
-->

<!-- RiSearch::header::start -->
<html>
<head>
<title>RiSearch results</title>

<script language="JavaScript">
<!--
function setfocus() {
  document.forms[0].q.focus();
}
// -->
</script>

</head>
<body onLoad="setfocus()">

<H3>This is demonstration template file for 
RiSearch Pro. Please edit it according to your needs.</H3>

This file is provided as an example only.

<H3>Small search form:</H3>
<small>
<FORM ACTION="search.pl" METHOD="GET">
<INPUT TYPE="Text" NAME="q" SIZE="30">
<INPUT TYPE="Hidden" NAME="stpos" VALUE="0">
<INPUT TYPE="Hidden" NAME="stype" VALUE="AND">
<INPUT TYPE="Hidden" NAME="s" VALUE="R">
<INPUT TYPE="Hidden" NAME="t" VALUE="1">
<INPUT TYPE="Submit" VALUE="Search">
</FORM>
</small>

<H3>Standard search form:</H3>
<small>
<FORM ACTION="search.pl" METHOD="GET">
<INPUT TYPE="Text" NAME="q" SIZE="30">
<INPUT TYPE="Hidden" NAME="stpos" VALUE="0">
<INPUT TYPE="Hidden" NAME="s" VALUE="R">
<INPUT TYPE="Hidden" NAME="t" VALUE="1">
<INPUT TYPE="Submit" VALUE="Search">
<BR>Search mode: 
<INPUT TYPE="Radio" NAME="stype" VALUE="AND" checked>"AND"
<INPUT TYPE="Radio" NAME="stype" VALUE="OR">"OR"
</FORM>
</small>

<H3>Full search form:</H3>
<small>
<FORM ACTION="search.pl" METHOD="GET">
<INPUT TYPE="Text" NAME="q" SIZE="30">
<INPUT TYPE="Hidden" NAME="stpos" VALUE="0">
<INPUT TYPE="Hidden" NAME="t" VALUE="1">
<INPUT TYPE="Submit" VALUE="Search">
<BR>Search mode: 
<INPUT TYPE="Radio" NAME="stype" VALUE="AND" checked>"AND"
<INPUT TYPE="Radio" NAME="stype" VALUE="OR">"OR"
<BR>Sorting by:
<INPUT TYPE="Radio" NAME="s" VALUE="R" <% IF %s%=="R" %>checked<% ENDIF %> >Score
<INPUT TYPE="Radio" NAME="s" VALUE="D" <% IF %s%=="D" %>checked<% ENDIF %> >Date
<INPUT TYPE="Radio" NAME="s" VALUE="S" <% IF %s%=="S" %>checked<% ENDIF %> >Size
<INPUT TYPE="Radio" NAME="s" VALUE="N" <% IF %s%=="N" %>checked<% ENDIF %> >None
<BR>Sorting order:
<INPUT TYPE="Radio" NAME="o" VALUE="R">reverse
<BR>Search in:
<BR><INPUT type="checkbox" name="z" value="1" <% IF %z1%==1 %>checked<% ENDIF %> > News
<BR><INPUT type="checkbox" name="z" value="2" <% IF %z2%==1 %>checked<% ENDIF %> > Archive
<BR><INPUT type="checkbox" name="z" value="3" <% IF %z3%==1 %>checked<% ENDIF %> > Docs
</FORM>
</small>

<BR><% IF %s%=="R" %>Sort by score<% ELSE %><A HREF="search.pl?%short_query_str%%zones_str%&s=R">Sort by score</A><% ENDIF %>
| <% IF %s%=="D" %>Sort by date<% ELSE %><A HREF="search.pl?%short_query_str%%zones_str%&s=D">Sort by date</A><% ENDIF %>
| <% IF %s%=="S" %>Sort by size<% ELSE %><A HREF="search.pl?%short_query_str%%zones_str%&s=S">Sort by size</A><% ENDIF %>
| <% IF %s%=="T" %>Sort by title<% ELSE %><A HREF="search.pl?%short_query_str%%zones_str%&s=T">Sort by title</A><% ENDIF %>
| <% IF %s%=="N" %>No sorting<% ELSE %><A HREF="search.pl?%short_query_str%%zones_str%&s=N">No sorting</A><% ENDIF %>
<BR><BR>

<BR><% IF %zones_names%=="News" %>Search in "News"<% ELSE %><A HREF="search.pl?%short_query_str%&s=%s%&z=1">Search in "News"</A><% ENDIF %>
| <% IF %zones_names%=="Archive" %>Search in "Archive"<% ELSE %><A HREF="search.pl?%short_query_str%&s=%s%&z=2">Search in "Archive"</A><% ENDIF %>
| <% IF %zones_names%=="Docs" %>Search in "Docs"<% ELSE %><A HREF="search.pl?%short_query_str%&s=%s%&z=3">Search in "Docs"</A><% ENDIF %>
<BR><BR>


<!-- RiSearch::header::end -->


<!-- RiSearch::results_header::start -->
Query: %query%
<BR><% IF %zones_names% != "" %>Search performed in section: %zones_names%.<% ENDIF %>
<% IF %ignored_words% != "" %><BR> Ignored words: %ignored_words% <% ENDIF %>
<BR>Search time: %search_time%
<blockquote>
<BR> Found: %query_statistics%
<BR>
Results: 
<% IF %prev_page% != "" %> <A HREF="%prev_page%">Prev. %res_num%</A> | <% ENDIF %>
<% DO %> %stpos% + 1 <% ENDDO %> .. <% IF %next_page% == "" %> %rescount% <% ELSE %><% DO %> %stpos% + %res_num% <% ENDDO %><% ENDIF %>
<% IF %next_page% != "" %> | <A HREF="%next_page%">Next %res_num%</A><% ENDIF %>


<OL START="<% DO %>%stpos%+1<% ENDDO %>">
<!-- RiSearch::results_header::end -->


<!-- RiSearch::results::start -->
<LI><A HREF="%url%">%short_url%</A>&nbsp;&nbsp;<B>%title%</B>&nbsp;<small>(%size%&nbsp;b) <% IF %s%=="R" %>(Score:&nbsp;%score%)<% ENDIF %>
<% IF %show_terms_link% != "" %><A HREF="%show_terms_link%">Show terms</A><% ENDIF %>
<BR>Last modified: %date%
<BR>%description%</small>
<!-- RiSearch::results::end -->


<!-- RiSearch::results_footer::start -->
</OL>
<BR>Found %rescount% files. 
<BR><BR><center><small>
<% IF %next_results% != "" %> Pages: <% ENDIF %>
<% IF %prev_page% != "" %> <A HREF="%prev_page%">&lt;==</A><% ENDIF %>
<% IF %next_results% != "" %> %next_results%<% ENDIF %>
<% IF %next_page% != "" %> <A HREF="%next_page%">==&gt;</A><% ENDIF %>
</small></center>

<% IF %oq% == "" %>

<small>
<FORM ACTION="search.pl" METHOD="GET">
<INPUT TYPE="Text" NAME="q" SIZE="30">
<INPUT TYPE="Hidden" NAME="stpos" VALUE="0">
<INPUT TYPE="Hidden" NAME="s" VALUE="R">
<INPUT TYPE="Hidden" NAME="oq" VALUE="%query_str%">
<INPUT TYPE="Hidden" NAME="t" VALUE="1">
<INPUT TYPE="Submit" VALUE="Search in results">
</FORM>
</small>

<% ENDIF %>

</blockquote>
<!-- RiSearch::results_footer::end -->


<!-- RiSearch::no_results::start -->
Query: %query%
<BR><% IF %zones_names% != "" %>Search performed in section: %zones_names%.<% ENDIF %>
<% IF %ignored_words% != "" %><BR> Ignored words: %ignored_words% <% ENDIF %>
<BR>Search time: %search_time%
<BR> Found: %query_statistics%
<BR>Found 0 files.
<% IF %corrected_query% != "" %><BR><BR>Did you mean
<A href="search.pl?q=%corrected_query%&s=%s%%zones_str%">%corrected_query%</A>?
<% ENDIF %>
<!-- RiSearch::no_results::end -->


<!-- RiSearch::empty_query::start -->
<BR>Enter query
<!-- RiSearch::empty_query::end -->


<!-- RiSearch::footer::start -->
<p align=right>
<small>Powered by <A HREF=http://risearch.org/><b>RiSearch Pro</b></A>, &copy; 2000-2004</small>
</body>
</html>
<!-- RiSearch::footer::end -->

