<h2>Lime Exposure Risk to&nbsp;Farmers&#39; Eyes Highlighted by Eye Surgeon</h2>

<p>Mr Gareth Higgins, Consultant Ophthalmic&nbsp;Surgeon and Clinical Lecturer at University Hospital Waterford&nbsp;highlights corneal injury risk&nbsp;caused by lime exposure&nbsp;for farmers</p>

<p><a href="Gareth-Higgins.mp3">Listen back to Mr Gareth Higgins interview on TippFM </a></p>

<p>An awareness piece also features in the <a href="https://www.farmersjournal.ie/lime-is-damaging-farmers-eyes-surgeon-751726" target="ext" title="Read the article about how the spreading of lime can cause damage to eyes">current edition of the Farmers Journal</a>.</p>
