<h1>Office administrator</h1>



<div>
<p><img alt="" src="https://www.eyedoctors.ie/banners2018/were-hiring.jpg" style="float: left; margin: 5px;" />The Irish College of Ophthalmologists are looking for a reliable Administrator to join our team. This is an entry-level position, prior experience in a similar role is a plus but is not a requirement to apply. Keen to learn and happy to be here is more important to us!</p>

<p>We are looking for someone who will undertake administrative tasks on behalf of the College, ensuring that the team has adequate support to work efficiently. The ideal candidate will be competent in prioritizing and working with minimum supervision. They will be self-motivated, trustworthy and able to work as a team. This role will suit someone who is flexible in terms of their working hours and daily duties as day to day activities may vary.</p>

<div class="box events">
   <br/><b>Job Type:</b> Full-time
  <br/><b>Salary:</b> €25,101.00 - €29,103.00 per year
  <br/><b>Schedule:</b> Monday to Friday
  <br/><b>Work Location:</b> Hybrid remote in Dublin 2
 <br/><b>Application deadline:</b> Tuesday 31 October 2023</p>
</div>




<p><strong>Responsibilities include:</strong></p>

<ul>
  <li>Carrying out clerical duties such as answering phone calls and responding to emails.</li>
  <li>Assisting colleagues as required.</li>
  <li>Taking inventory and replacing office supplies when necessary.</li>
  <li>Maintaining and organizing office files.</li>
  <li>Taking minutes in staff meetings.</li>
  <li>Performing other relevant duties when needed.</li>
</ul>

<p><strong>Requirements:</strong></p>

<ul>
  <li>Excellent organisational skills</li>
  <li>Excellent communication skills</li>
  <li>An adaptable and flexible attitude</li>
  <li>Team player</li>
  <li>Diligent and pays attention to detail</li>
  <li>Comfortable handling confidential information</li>
  <li>Multi-tasking and time-management skills, with the ability to prioritize tasks</li>
</ul>


</div>

<div>
  <p><a data-saferedirecturl="https://docs.google.com/forms/d/e/1FAIpQLSdZn54aY_d5TRmfuCnF2RWXlmlV0ji_7GrT_Kmxwp6N4Dzqkw/viewform?usp=sf_link" href="https://docs.google.com/forms/d/e/1FAIpQLSdZn54aY_d5TRmfuCnF2RWXlmlV0ji_7GrT_Kmxwp6N4Dzqkw/viewform?usp=sf_link" target="_blank" class="btn">Application form</a></p></div>


