<table>
	<tbody>
		<tr>
			<td>11.20am</td>
			<td>
			<p><strong>Official Welcome</strong></p>

			<p>Mr Tim Fulcher<br />
			President, Irish College of Ophthalmologists</p>
			</td>
		</tr>
		<tr>
			<td>11.30am</td>
			<td>
			<p><strong>Updates in Medical Retina</strong></p>

			<p>Chair: <!-- a data-href="louise_otoole" data-target="#biography" data-toggle="modal" href="#" title="Dr Louise O'Toole" -->Dr Louise O&#39;Toole<!-- /a -->, Mater Private Hospital, Dublin</p>

			<p><span class="ctitle">Recent Phase 3 Clinical Trial Results on GA Treatment</span><br />
			<strong><a data-href="stela_vujosevic" data-target="#biography" data-toggle="modal" href="#" title="Dr Stela Vujosevic"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Dr Stela Vujosevic</a> </strong><br />
			Head of Medical Retina Unit, MultiMedica Scientific Institute of Recovery and Care, Milan</p>

			<p><span class="ctitle">Can we Address the Discordance between Function and Morphology in GA Clinical Trials</span><br />
			<strong><a data-href="usha_chakravarthy" data-target="#biography" data-toggle="modal" href="#" title="Usha Chakravarthy"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Prof Usha Chakravarthy</a>&nbsp;</strong><br />
			Professor of Ophthalmology and Vision Sciences, Queen&#39;s University, Belfast</p>

			<p><span class="ctitle">Biosimilars: What are they? Do we need them?</span><br />
			<strong><a data-href="robert_braunstein" data-target="#biography" data-toggle="modal" href="#" title="Dr Robert Braunstein"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Dr Robert Braunstein</a> </strong><br />
			Clinical Professor of Ophthalmology, Vagelos College of Physicians and Surgeons, Columbia University New York</p>
			</td>
		</tr>
		<tr>
			<td>1.00pm</td>
			<td><i>Lunch</i></td>
		</tr>
		<tr>
			<td>2.00pm</td>
			<td>
			<p><strong>The Watery Eye - from Start to Finish </strong></p>

			<p>Chair: <span><!-- a data-href="tim_fulcher" data-target="#biography" data-toggle="modal" href="#" title="Mr Tim Fulcher" -->Mr Tim Fulcher<!-- /a -->, Mater Misericordiae University Hospital, Dublin</span></p>

			<p><span class="ctitle">Assessment and Investigations of Watery Eye</span><br />
			<strong><a data-href="gareth_higgins" data-target="#biography" data-toggle="modal" href="#" title="Mr Gareth Higgins"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Mr Gareth Higgins</a></strong><br />
			Consultant Ophthalmic Surgeon, University Hospital Waterford</p>

			<p><span class="ctitle">Managing the Eyelid Disease</span><br />
			<strong><a data-href="micheal_orourke" data-target="#biography" data-toggle="modal" href="#" title="Mr Micheal O'’'Rourke"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Mr Micheal O'Rourke</a></strong><br />
			Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital, Dublin</p>

			<p><span class="ctitle">The Great DCR Debate: Endoscopic</span><br />
			<strong><a data-href="rizwana_khan" data-target="#biography" data-toggle="modal" href="#" title="Ms Rizwana Khan"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Ms Rizwana Khan</a></strong><br />
			Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital, Dublin</p>

			<p><span class="ctitle">What to do when DCR is not an Option?</span><br />
			<strong><a data-href="we_fong_siah" data-target="#biography" data-toggle="modal" href="#" title="Ms We Fong Siah "><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Ms We Fong Siah</a></strong><br />
			Consultant Ophthalmic Surgeon, Mater Private Hospital, Dublin</p>

			<p><span class="ctitle">The great DCR debate: External</span><br />
			<strong><a data-href="elizabeth_mcelnea" data-target="#biography" data-toggle="modal" href="#" title="Ms Elizabeth McElnea"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Ms Elizabeth McElnea</a> </strong><br />
			Consultant Ophthalmic Surgeon, University Hospital Galway</p>
			</td>
		</tr>
		<tr>
			<td>3.30pm</td>
			<td>
			<p><b>Short Presentations</b></p>

			<p>Chair: Prof Colm O&#39;Brien, Mater Misericordiae University Hospital, Dublin</p>
			<!-- p><span>Chair: Ms Lorem ipsum</span></p -->

			<ul>
				<li><span class="ctitle">The Annual Conference of the Irish College of Ophthalmologists: Examining over a Decade of Trends.</span><br />
				Khadija Gull</li>
				<li><span class="ctitle">A Feasibility Study for the Classification of Diabetic Macular Oedema from Optical Coherence Tomography Scans using Deep Learning.</span><br />
				Cathal Breathnach</li>
				<li><span class="ctitle">Maximizing Corneal Endothelial Integrity.</span><br />
				Marchien Dallinga</li>
				<li><span class="ctitle">Analysis of Metformin&rsquo;s Effect on Human Glaucomatous Lamina Cribrosa Cells.</span><br />
				Daire Hurley</li>
				<li><span class="ctitle">Patterns of Neuronal and Central Visual Field Loss in Optic Neuritis at Outcome Identified by Machine Learning.</span><br />
				Brian Woods</li>
				<li><span class="ctitle">Ocular Surface MicroRNA Associated with Chronic Ocular Graft versus Host Disease.</span><br />
				Emily Greenan</li>
				<li><span class="ctitle">The Endoplasmic Reticulum Stress Response in Glaucoma Lamina Cribrosa Cells.</span><br />
				Caoimhe Normile</li>
			</ul>
			</td>
		</tr>
		<tr>
			<td>4.30pm</td>
			<td><i>Refreshments</i></td>
		</tr>
		<tr>
			<td>5.00pm</td>
			<td>
			<p><strong>Mooney Lecture 2023</strong></p>

			<p>Introduction: Prof Colm O&#39;Brien, Chair Scientific &amp; PCS Committee, Irish College of Ophthalmologists</p>

			<p><strong>&lsquo;Mitochondrial Function - a Potentially Modifiable Risk Factor for Glaucoma?</strong></p>

			<p><strong><a data-href="david-garway-heath" data-target="#biography" data-toggle="modal" href="#" title="Prof David Garway-Heath"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Prof David Garway-Heath</a> </strong><br />
			Consultant Ophthalmic Surgeon,<br />
			Moorfields Eye Hospital London</p>
			</td>
		</tr>
	</tbody>
</table>
