<table>
	<tbody>
		<tr>
			<td><strong>8.00am</strong></td>
			<td><p><!-- a href="Bayer_Breakfast_Symposium_23.png" target="_blank" -->Breakfast Session </a><i>&nbsp;- Kindly supported by Bayer</i></p>
				<p><span>Chair: Miss Marie Hickey Dwyer, University Hospital Limerick</span></p>

<p><strong><a data-href="David_brown" data-target="#biography" data-toggle="modal" href="#" title="Dr David M. Brown"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Dr David  M. Brown</a></strong><br />Clinical Professor of Ophthalmology, Cullen Eye Institute, Baylor College of Medicine, Houston, Texas

</p>
			</td>
		</tr>
		<tr>
			<td><strong>9.30am</strong></td>
			<td>
			<p><strong>Short Presentations</strong></p>
			<!p><span>Chair: Mr John Stokes, Consultant Ophthalmic Surgeon, University Hospital Waterford</span></p>

			<ul>
				<li><span class="ctitle">Optic Nerve Head Perfusion and Optic Neuropathy in Carriers of Leber Hereditary Optic Neuropathy-Associated Mitochondrial Mutations</span><br />
				Clare Quigley</li>
				<li><span class="ctitle">Uveal Melanoma in Ireland</span><br />
				Alison Greene</li>
				<li><span class="ctitle">Keratoconus Screening in Children with Down Syndrome</span><br />
				Barry Power</li>
				<li><span class="ctitle">Patient Reported Outcomes of Serum Eye Drop Therapy for Ocular Surface Disease at the Royal Victoria Eye and Ear Hospital</span><br />
				Aoife Smyth</li>
				<li><span class="ctitle">Single Centre Real World Outcomes for Neovascular Age-Related Macular Degeneration of the Use of Faricimab in Poor Responders to Anti-Vascular Endothelial Growth Factor in the United Kingdom</span><br />
				Christine Goodchild</li>
				<li><span class="ctitle">Drive-Through IOP Clinic during the SARS-Cov-2 Pandemic: 18 Month Outcomes</span><br />
				Emer Doolan</li>
				<li><span class="ctitle">Post-Enucleation Outcomes of Patients with Uveal Melanoma</span><br />
				Hanan Elshelmani</li>
			</ul>
			</td>
		</tr>
		<tr>
			<td><strong>10.30am</strong></td>
			<td>
			<p><strong>European Society of Ophthalmology (SOE) Lecture 2023</strong></p>

			<p><span class="ctitle">Medical Ophthalmology - A Personal Journey</span><br />
			<strong><a data-href="geraldine_comer" data-target="#biography" data-toggle="modal" href="#" title="Dr Geraldine Comer"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Dr Geraldine Comer</a></strong><br />
			Consultant Medical Ophthalmologist, CHO2 / Community Healthcare West</p>
			</td>
		</tr>
		<tr>
			<td><strong>11.00am</strong></td>
			<td><i>Refreshments</i></td>
		</tr>
		<tr>
			<td><strong>11.30am</strong></td>
			<td>
			<p><strong>Ocular Tumours Clinical Symposium</strong></p>

			<p>Chair: <span><!-- a data-href="noel_horgan" data-target="#biography" data-toggle="modal" href="#" title="Mr Noel Horgan" -->Mr Noel Horgan, Royal Victoria Eye and Ear Hospital, Dublin</span></p>

			<p><span class="ctitle">Ocular Oncology: Who, When, How Should I Refer?</span><br />
			<strong><a data-href="heinrich_heimann" data-target="#biography" data-toggle="modal" href="#" title="Prof Heinrich Heimann"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Prof Heinrich Heimann </a></strong><br />
			Consultant Ophthalmic Surgeon, Royal Liverpool University Hospital, Liverpool</p>

			<p><span class="ctitle">Conjunctival Pigmented Tumours : When to Worry?</span><br />
			<strong><a data-href="carol_shields" data-target="#biography" data-toggle="modal" href="#" title="Dr Carol Shields"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Dr Carol Shields</a> </strong><br />
			Director of Ocular Oncology Service at Wills Eye Hospital, Philadelphia</p>

			<p><span class="ctitle">Uveal Melanoma: Our Current Understanding?</span><br />
			<strong><a data-href="heinrich_heimann" data-target="#biography" data-toggle="modal" href="#" title="Prof Heinrich Heimann"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Prof Heinrich Heimann </a></strong><br />
			Consultant Ophthalmic Surgeon,Royal Liverpool University Hospital, Liverpool</p>

			<p><span class="ctitle">Metastatic Uveal Melanoma: Current and Future Strategies</span><br />
			<strong><a data-href="john_crown" data-target="#biography" data-toggle="modal" href="#" title="Prof John Crown"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Prof John Crown</a></strong><br />
			Consultant Oncologist, St Vincent&rsquo;s University Hospital, Dublin</p>
			</td>
		</tr>
		<tr>
			<td><strong>1.00pm</strong></td>
			<td><i>Lunch</i></td>
		</tr>
		<tr>
			<td><strong>2.00pm</strong></td>
			<td>
			<p><strong>Rapid Fire Posters</strong></p>
			</td>
		</tr>
		<tr>
			<td><strong>2.30pm</strong></td>
			<td>
			<p><strong>Managing the Nuances of Medico-legal Risk</strong></p>

			<p><strong><a data-href="alicia-hayes" data-target="#biography" data-toggle="modal" href="#" title="Ms Alicia Hayes BL"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Ms Alicia Hayes BL</a> </strong><br />
			Case Manager, Medical Protection Society</p>
			</td>
		</tr>
		<tr>
			<td><strong>3.00pm</strong></td>
			<td>
			<p><strong>OCT Interpretation in Macular Diseases</strong></p>

			<p><strong><a data-href="olya_scannell" data-target="#biography" data-toggle="modal" href="#" title="Ms Olya Scannell"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Ms Olya Scannell</a> </strong><br />
			Consultant Ophthalmologist, CH07 Royal Victoria Eye and Ear Hospital, Dublin</p>

			</td>
		</tr>
		<tr>
			<td><strong>3.45pm</strong></td>
			<td><i>Refreshments</i></td>
		</tr>
		<tr>
			<td><strong>4.15pm</strong></td>
			<td>
			<p><strong>Workshop Session - </strong>K<em>indly supported by Alimera Sciences</em></p>

			<p><strong><a data-href="deirdre_townley" data-target="#biography" data-toggle="modal" href="#" title="Ms Deirdre Townley"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Ms Deirdre Townley </a> </strong><br />
			Consultant Ophthalmic Surgeon, Galway University Hospital 
			</p>

			<p><strong><a data-href="soma_chakrabarti" data-target="#biography" data-toggle="modal" href="#" title="Dr Soma Chakrabarti"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Dr Soma Chakrabarti  </a> </strong><br />
			Consultant Ophthalmologist, Southern General Hospital, Glasgow
			</p>


			</td>
		</tr>
	</tbody>
</table>
