<p>&nbsp;</p>

<table>
	<tbody>
		<tr>
			<td><strong>9.00am</strong></td>
			<td>
			<p><strong>Irish College of Ophthalmologists Annual General Meeting</strong></p>

			<p>Chair: Mr Tim Fulcher, President, Irish College of Ophthalmologists</p>
			</td>
		</tr>
		<tr>
			<td><strong>10.00am</strong></td>
			<td>
			<p><strong>Short Presentations</strong></p>

			<p><span>Chair: Miss Yvonne Delaney, Dean of Postgraduate Education, Irish College of Ophthalmologists</span></p>

			<ul>
				<li><span class="ctitle">Cataract Surgery Outcomes in Uveitis Patients at the Royal Victoria Eye and Ear Hospital Dublin</span><br />
				Sarah Powell</li>
				<li><span class="ctitle">Ocular Toxicity Secondary to Hydroxychloroquine: Prevalence in an Irish Patient Cohort </span><br />
				Jill Huang</li>
				<li><span class="ctitle">Intra-Operative En-Face Frozen Section for Margin Control during Periocular Basal Cell Carcinoma Excision</span><br />
				Grace McCabe</li>
				<li><span class="ctitle">Outcomes of Low-Risk versus High-Risk Full Thickness and Posterior Lamellar Keratoplasty</span><br />
				Esraa Hegazy</li>
				<li><span class="ctitle">Abnormal Red Reflex Referrals: A Two-year Retrospective Cohort Study of Referrals to a Tertiary Paediatric Ophthalmology Department</span><br />
				Liam Mulcahy</li>
				<li><span class="ctitle">1 Year Outcomes of Paul Tube Glaucoma Implants in the Mater Misericordiae University Hospital</span><br />
				Ian Brennan</li>
			</ul>
			</td>
		</tr>
		<tr>
			<td><strong>11.00am</strong></td>
			<td><i>Refreshments</i></td>
		</tr>
		<tr>
			<td><strong>11.30am</strong></td>
			<td>
			<p><strong>Diagnosis and Management of Corneal Infections</strong><br />
			Chair: <!-- a data-href="conor_murphy" data-target="#biography" data-toggle="modal" href="#" title="Prof Conor Murphy" -->Prof Conor Murphy, Royal Victoria Eye and Ear Hospital Dublin</p>

			<p><span class="ctitle">Atypical Keratitis: Acanthamoeba</span><br />
			<strong><a data-href="tom_flynn" data-target="#biography" data-toggle="modal" href="#" title="Mr Tom Flynn"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Mr Tom Flynn</a> </strong><br />
			Consultant Ophthalmic Surgeon,&nbsp;Bon Secours Hospital, Cork</p>

			<p><span class="ctitle">Update in Bacterial Keratitis</span><br />
			<strong><a data-href="sarah_moran" data-target="#biography" data-toggle="modal" href="#" title="Ms Sarah Moran "><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Ms Sarah Moran </a> </strong><br />
			Consultant Ophthalmic Surgeon, South Infirmary Victoria University Hospital, Cork</p>

			<p><span class="ctitle">Fungal Keratitis: An Update on the Diagnosis and Treatment of Fungal Infections of the Cornea </span><br />
			<strong><a data-href="barry_quill" data-target="#biography" data-toggle="modal" href="#" title="Mr Barry Quill"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Mr Barry Quill</a> </strong><br />
			Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital, Dublin</p>

			<p><span class="ctitle">Herpes Simplex Keratitis: Challenges in Diagnosis and Clinical Management</span><br />
			<strong><a data-href="nikolina_budimlija" data-target="#biography" data-toggle="modal" href="#" title="Ms Nikolina Budimlija"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Ms Nikolina Budimlija</a> </strong><br />
			Consultant Ophthalmic Surgeon, Institute of Eye Surgery, Waterford</p>

			<p><strong>Patient Experience</strong></p>

			<p><strong><a data-href="eleanore_o_gorman" data-target="#biography" data-toggle="modal" href="#" title="Ms Eleanore O'Gorman"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> Ms Eleanore O'Gorman</a> </strong></p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td><strong>1.00pm</strong></td>
			<td>
			<p><strong>Presentation of ICO Medals</strong></p>
			</td>
		</tr>
	</tbody>
</table>
