<h3>The Irish College of Ophthalmologists Annual Conference 2023 will take place from noon Monday 22th to Wednesday 24th May 2023 at the Great Southern Hotel in Killarney.</h3>

<p>The Conference is a highlight of the College&#39;s annual calendar of events and an important opportunity for our members to hear the latest clinical, scientific and service delivery updates taking place in the specialty.</p>

<p>Clinical symposia at this year&#39;s conference will focus on Medical Retina, Ocular Tumours, Keratitis and the Assessment and Management of Watery Eye.</p>

<p>Among our guest speakers, we are delighted to be welcoming Dr Carol Shields, Director of Ocular Oncology Service at Wills Eye Hospital, Philadelphia, Prof John Crown, Consultant Medical Oncologist, St Vincent&#39;s Medical Group, Dublin and Prof Heinrich Heimann, Consultant Ophthalmic Surgeon, Royal Liverpool University Hospital, who will present at the Ocular Tumours symposium.</p>

<p>Dr Stela Vujosevic, Head of Medical Retina Unit, MultiMedica Scientific Institute of Recovery and Care, Milan, Prof Usha Chakravarthy, Professor of Ophthalmology and Vision Sciences, Queen&#39;s University of Belfast and Dr Robert Braunstein, Clinical Professor of Ophthalmology at Vagelos College of Physicians and Surgeons, Columbia University New York.</p>

<p><b>Mooney Lecture 2023 </b> &quot;<em>Mitochondrial Function - a Potentially Modifiable Risk Factor for Glaucoma?</em>&quot;</p>

<p>Professor David Garway-Heath, Consultant Ophthalmic Surgeon Moorfields Eye Hospital London; Glaucoma UK Professor of Ophthalmology for Glaucoma and Allied Studies at the Institute of Ophthalmology, University College London.</p>

<p>Workshop sessions, paper and poster presentations, a talk on <em>Managing the Nuances of Medico-legal Risks</em> and the European Society of Ophthalmology (SOE) Lecture 2023 are among the many other highlights to feature on the three day conference programme.</p>

<p>A parallel industry partner exhibition will run alongside the scientific conference.</p>
