<div class="posters">
			<p style="padding-top:10px;"><strong>ICO Annual Conference 2023 Posters</strong></span></p>


<ul>
<!--  A  -->
<!--  B  -->
<li><span class="ctitle">
Characterization of Optic Nerve Swelling with Oral Fluorescein Angiogragraphy and Ultra Widefield Retinal Imaging</span><br />
Robert Brady
</li>
<li><span class="ctitle">
Retrospective Analysis of Presenting Features and Visual Outcomes for Paediatric Patients Diagnosed with Idiopathic Intracranial Hypertension in a Single British Centre</span><br />
Robert Brady
</li>
<li><span class="ctitle">
Effectiveness and Efficiency of Nurse-Led Glaucoma Clinics: A Retrospective Service Evaluation at Beaumont Hospital</span><br />
Ian Brennan
</li>
<!--  C  -->
<li><span class="ctitle">
Mini-DSAEK in Macro-Corneal Perforations: Our Experience</span><br />
Cian Collins
</li>
<li><span class="ctitle">
A Treatment Dilemma in a Case of Adult Orbital Alveolar Rhabdomyoscarcoma</span><br />
Amy Coman	
</li>
<li><span class="ctitle">
Mechanosensitive Calcium-Ion Channel Piezo1 in Glaucoma Lamina Cribrosa Fibrosis</span><br />
Amy Coman
</li>
<li><span class="ctitle">
Retrospective Study Comparing Response to Treatment Among Neovascular Age-Related Macular Degeneration Patients Deemed Non-Responsive to Bevacizumab and Changed To Aflibercept or Ranibizumab</span><br />
Liam Connolly	
</li>
<li><span class="ctitle">
VEXAS, A Recently Reported Haemato-Immune Disease Presenting to an Ophthalmic Emergency Department</span><br />
Marcus Conway	
</li>
<li><span class="ctitle">
The Use of Dichoptic Therapy for Adult Amblyopia </span><br />
Arthur Cummings	
</li>
<!--  D  -->
<!--  E  -->
<li><span class="ctitle">
Macular Hole 24 Hours Following a Trauma </span><br />
Maha Elsayed
</li>
<!--  F  -->
<li><span class="ctitle">
Vitamin A Deficiency with Visual Loss in Autistic Children </span><br />
Richard Farnan
</li>
<li><span class="ctitle">
A Subacute Right Optic Neuropathy in a Healthy 21-Year Old Male</span><br />
Mark Forristal	
</li>
<!--  G  -->
<li><span class="ctitle">
Clinical Validation of Patients Overdue for Outpatient Follow-Up, and Allocation of these Patients to Clinics in a Tertiary Referral Glaucoma Service: A Service Improvement Project</span><br />
David Gildea
</li>
<li><span class="ctitle">
A Case with Retinal Whitening Which Lead to an Unexpected Diagnosis</span><br />
Christine Goodchild
</li>
<li><span class="ctitle">
A 10 Year Review of Open Globe Injuries in a Tertiary Referral Hospital</span><br />
Alison Greene
</li>
<li><span class="ctitle">
Microbiological Profile of Culture Proven Cases of Endophthalmitis: A 10 Year Retrospective Study</span><br />
Alison Greene
</li>
<!--  H  -->
<li><span class="ctitle">
Visual Failure from Hypovitaminosis A in Three Children with Severe Autism Spectrum Disorder; the Need for Vitamin Replacement</span><br />
Glynis Hanrahan
</li>
<li><span class="ctitle">
MOG Igg Optic Neuritis in the Paediatric Population – An Irish Case Series</span><br />
Deirdre Harford	
</li>
<li><span class="ctitle">
Serum Eye Drops for Ocular Surface Disease - The Irish Experience</span><br />
Deirdre Harford
</li>
<li><span class="ctitle">
The Use of Amniotic Membrane Transplantation in the Treatment of Stevens-Johnsons Syndrome and Toxic Epidermal Necrolysis in the Paediatric Population</span><br />
Esraa Hegazy	
</li>
<li><span class="ctitle">
A Five Year Analysis of Corneal Investigations o ln an Irish Tertiary Hospital</span><br />
Rory Holohan
</li>
<li><span class="ctitle">
&quot;Say What You See&quot;, Characteristic OCT and Fundal Changes in a Rare and Underreported Macular Pathology – A Case Series</span><br />
Alan Hopkins
</li>
<li><span class="ctitle">
A Case of Irreversible Vision Loss Secondary to a Laser Pointing Device</span><br />
Alan Hopkins	
</li>
<li><span class="ctitle">
Ultrathin Descemet Stripping Automated Endothelial Keratoplasty versus Descemet Membrane Endothelial Keratoplasty - A Systematic Review & Meta-Analysis</span><br />
Daire Hurley
</li>

<!--  I  -->

<!-- li><span class="ctitle">Outcomes after Reversed Corneal Graft Rejection: A Preliminary Report from the European VISICORT Project</span><br />Katja Iselin</li -->
<!--  J  -->
<!--  K  -->
<li><span class="ctitle">
A Traumatic Tail </span><br />
Joseph Keenan	
</li>
<li><span class="ctitle">
Pituitary Adenomas – The Incidence of Visual Field Defects in a Sample of Ophthalmic Patients</span><br />
Áine Kelly
</li>
<li><span class="ctitle">
The Impact of the National Diabetic Retinal Screening Programme on the Training of Ophthalmology Trainees in the Performance of Diabetic Laser Procedures</span><br />
Mollie Kelly	
</li>
<!-- li><span class="ctitle">
Impact of COVID-19 on Retinal Screening, are Patients Still Suffering?</span><br />
Shuchi Kohli	
</li -->
<li><span class="ctitle">
Extent of Paediatric Ophthalmic Consults in Temple Street Hospital in Dublin</span><br />
Aniela Krezel	 
</li>
<!--  L  -->
<!--  M  -->
<li><span class="ctitle">
Assessment of Association between Rate of Emergency Retinal Detachment Repair and Weather in University Hospital Limerick</span><br />
Emilie Mahon
</li>
<li><span class="ctitle">
Audit of Patient Wait Times Attending for Intravitreal Injections and Review of the Literature of Patient Psychological Impact of Wait Times</span><br />
Emilie Mahon
</li>
<li><span class="ctitle">
Above the Midline; A Case Describing the Importance of a Clinical Sign</span><br />
Grace McCabe
</li>
<li><span class="ctitle">
Paediatric Orbital Cellulitis Related to Invasive Group A Streptococcus</span><br />
Kealan McElhinney
</li>
<li><span class="ctitle">
Chemical Injuries in University Hospital Waterford: Looking at Lime</span><br />
Aisling McGlacken-Byrne	
</li>
<li><span class="ctitle">
A Cluster of Acanthamoeba </span><br />
Aisling McGlacken-Byrne	
</li>
<li><span class="ctitle">
The Diagnosis and Treatment of a Rare Case Periorbital Necrotising Fasciitis Caused by Group A β-haemolytic Streptococcus and Herpes Simplex Virus 1 in a Woman with Insulin Dependent Diabetes </span><br />
Aisling McGlacken-Byrne 
</li>
<li><span class="ctitle">
Unusual Case of Bilateral Choroidal Effusion</span><br />
Diana Minasyan
</li>
<!--  N  -->
<li><span class="ctitle">
Visual Outcome of Early Diagnosis and Vitrectomy in Toxocariasis Panuveitis</span><br />
Mohib Naseer 
</li>
<li><span class="ctitle">
Printed Biomechanical Model of the Human Lamina Cribrosa</span><br />
Simon Neary
</li>
<!--  O  -->
<li><span class="ctitle">
Functional and Anatomical Outcomes in Refractory and Large Macular Holes Treated with an Intraretinal Fluid Expansion Technique</span><br />
Brian Ó Tuama	
</li>
<li><span class="ctitle">
Surgical Trends in Glaucoma: An Analysis of Glaucoma Procedures Performed in MMUH from 2012 to 2022</span><br />
Pádraig O'Connell	
</li>
<li><span class="ctitle">
Identifying Keratoconus Using an Automated Machine Learning Model</span><br />
Pádraig O'Connell
</li>
<li><span class="ctitle">
The Role of TAX1BP1 in Fibrosis of the Optic Nerve Head in Glaucoma</span><br />
Eabha O'Driscoll
</li>
<li><span class="ctitle">
Review of the Glaucoma Service Referral Process in a Major Specialist Centre in Ireland</span><br />
Eabha O'Driscoll
</li>
<li><span class="ctitle">
Six Month Pilot Data from the NERIECS High Volume Cataract Surgery Pathway in MMUH</span><br />
Fionn O'Leary
</li>
<li><span class="ctitle">
Clinical Audit of the Rapid Access Clinic - Mater Misericordiae </span><br />
Eimear O'Leary
</li>
<li><span class="ctitle">
A Case of Retinal Detachment Due to Myopic Traction Maculopathy Treated with Macular Buckle Surgery</span><br />
Amy O'Regan	
</li>
<li><span class="ctitle">
Timing of Surgery and Visual Outcomes in Primary Rhegmatogenous Retinal Detachment</span><br />
Amy O'Regan	
</li>
<li><span class="ctitle">
Circadian Regulation of the Inner Blood Retina Barrier as a Mechanism for the Development of Dry AMD</span><br />
Matthew O'Riordan
</li>
<!--  P  -->
<!-- li><span class="ctitle">
Quality of Life Study to Evaluate the Clinical Prevalence of Ocular Surface Disease in Oncology Patients Receiving Taxane and Fluoropyrimidine Based Treatment and Immune Checkpoint Inhibitor Therapy</span><br />
Hadia Paryani	
</li -->
<li><span class="ctitle">
Radial Keratotomies and Primary Open Angle Glaucoma – A Case of Keeping Focus under Pressure</span><br />
Sarah Powell 
</li>
<!--  Q  -->
<li><span class="ctitle">
Orbital Tumor - A Case Series</span><br />
Qirat Qurban	
</li>
<!--  R  -->
<li><span class="ctitle">White Retinal Tumour</span><br/>
Maedbh Rhatigan 
</li>
<!--  S  -->
<li><span class="ctitle">
Improving Sustainability of Diabetic Retinopathy Screening </span><br />
John Smith	
</li>
<!--  T  -->
<li><span class="ctitle">
Safety and Effectiveness of Intravitreal Dexamethasone Implant for the Treatment of Refractory Cystoid Macular Oedema in Galway University Hospital </span><br />
Addon Teye-Botchway	
</li>
<li><span class="ctitle">
Measuring Outcomes in Lamellar Corneal Transplantation</span><br />
Addon Teye-Botchway
</li>

<!--  U  -->
<!--  V  -->
<!--  W  -->
<!--  X  -->
<!--  Y -->
<!-- li><span class="ctitle">
The Effect of Retinopathy of Prematurity on Corneal Thickness and Corneal Endothelial Function Parameters</span><br />
Sibel Yavuz	
</li -->
<!--  Z -->
<li><span class="ctitle">
Evaluation of New Onset Neovascular Age-Related Macular Degeneration at Sligo University Hospital</span><br />
Julia Zhu
</li>



</ul>
</div>