<h1>Eating For Your Eye Health- "Eye Am What I Eat"</h1>
<h3>Diabetic Eye Disease Awareness Campaign</h3>
<img src="/images/eyeam1.jpg" title="Eating For Your Eye Health- Eye Am What I Eat!" alt="Eating For Your Eye Health- Eye Am What I Eat" width="612"/>
<p>
&nbsp;<br/>
The Irish College of Ophthalmologists, along with Diabetes Ireland and key vision health stakeholders,
are delighted to support the <b>Eye Am What I Eat</b> campaign, which aims to raise awareness of diabetic
macular edema (DME) a form of diabetic retinopathy that can have a severe effect on vision if not detected and treated in the early stages.
</p>
<p style="float:right;width:180px">
	<img src="/images/eyeam2.jpg" title="Eating For Your Eye Health- Eye Am What I Eat!" alt="Eating For Your Eye Health- Eye Am What I Eat" width="175"/>
	<br/>
	<img src="/images/eyeam3.jpg" title="Eating For Your Eye Health- Eye Am What I Eat!" alt="Eating For Your Eye Health- Eye Am What I Eat" width="175"/>
</P>
<p>&nbsp;<br/>
<b>Diabetic retinopathy</b> is a common complication of diabetes and is the leading cause of blindness in
working-age adults in Ireland. Irish statistics show that on average, one person with diabetes goes blind
in Ireland each week. In the early stages, diabetic retinopathy will not affect the sight, but if the changes
get worse, eventually the sight will be affected.
</p>
<p>&nbsp;<br/>&nbsp;<br/>
<strong>Early detection of Diabetic Retinopathy and Diabetic Macular Edema is essential and treatments are
available for patients with diabetic eye disease</strong>.
</p>
<p>
&nbsp;<br/>&nbsp;<br/>
There is <a href="http://www.diabeticretinascreen.ie/" target="external" title="National Diabetic Retinal Screening Programme">National Diabetic Retinal Screening Programme</a> called '<b>Diabetic RetinaScreen</b>' which offers free,
regular diabetic retinopathy screening to all people with diabetes, aged 12 and older. Through the
programme, people who are registered are invited to attend for screening. When people get the letter
of invitation, they need to call the Freephone number listed on their letter to make an appointment. This will go a long way to maintaining healthy eyes and preventing vision loss in people with diabetes.
</p>

<br style="clear:both;"/>
<p>
In the national broadcast interview links below, spokespersons for the Irish College of Ophthalmologists,
Eye Surgeons Dr David Keegan and Dr Mark Cahill, explain more about diabetic eye disease and what
people with diabetes can do to help look after their eye health.

<ul>
<li>RTE One, Morning Edition interview with Eye Surgeon and spokesperson for the Irish College
of Ophthalmologists, Dr David Keegan on Tuesday 17th June (interview starts at 42.40)

<br/><a href="http://www.rte.ie/player/ie/show/10294114/">Watch</a>
</li>
	<li>RTE Radio 1, Derek Mooney interview with Eye Surgeon and spokesperson for the Irish
	College of Ophthalmologists, Dr Mark Cahill on Tuesday 24th June about Diabetic Macular
	Edema and the 'Eye Am What I Eat' awareness campaign.
	<br/><a href="http://www.rte.ie/radio/utils/radioplayer/rteradioweb.html#!rii=9%3A20604092%3A0%3A%3A">Listen</a>
	</li>
</ul>
</p>

<p><a href="/documents/EIWIE.pdf" target="pdf" title="To learn more about the Eye Am What I Eat Awareness campaign and recipe competition click here">To learn more about the <b>Eye Am What I Eat Awareness campaign and recipe competition</b> click here</a>