<div class="biog">
<div id="Chris_Lloyd">
<p><img alt="Professor Chris Lloyd" src="/ConferencesArchives/Galway2019/photos/chris-lloyd-prof.jpg" style="max-width:110px;max-height:155px;float:left;" title="Professor Chris Lloyd" /></p>

<h3>Professor Chris Lloyd</h3>


<p>Professor Chris Lloyd is a Consultant Paediatric Ophthalmologist at Great Ormond Street Hospital for Children in London. He has held an honorary Chair from the Manchester Academic Health Science Centre, University of Manchester since 2012 and retains honorary Consultant status at Manchester Royal Eye Hospital.</p>

<p>His training included undergraduate studies at St Bartholomews&#39; Hospital London, SHO and registrar posts at Manchester Royal Eye Hospital and 2 years as a clinical fellow at Great Ormond Street. He returned to Manchester as a senior registrar/lecturer in 1993. &nbsp;He became Manchester&#39;s first sub-specialist consultant paediatric ophthalmologist in 1995 and together with his colleagues built up and developed the MREH paediatric eye service into a large tertiary referral and teaching centre. &nbsp;He took up his current post at Great Ormond Street in 2016.</p>

<p>Prof. Lloyd has published over 90 peer reviewed papers, 11 book chapters and co-edited a text book (with Prof Scott Lambert of Stanford University, California) on congenital cataract diagnosis and management.&nbsp;</p>

<p>He regularly lectures nationally and internationally. &nbsp;He received an &ldquo;Honor award&rdquo; from AAPOS (the American Association for Paediatric Ophthalmology and Strabismus) in 2017 and serves on the AAPOS ophthalmic genetic task force. &nbsp;He was the UK board member of the European Paediatric Ophthalmology Society from 2012 to 2016.</p>

<p>He has a longstanding clinical and research interest in the diagnosis and management of infantile and childhood cataract and other inherited eye disorders. &nbsp;He has collaborated with Professor Graeme Black and the ManGen team in the development (and subsequent introduction to the NHS) of a targeted next generation sequencing panel for improving the precision of diagnosis of children with cataract. Over the last 13 years he has organised many teaching workshops at both AAPOS, the AAO (American Academy of Ophthalmology) and the Annual Congress of the Royal College of Ophthalmologists.&nbsp;</p>

<p>He is currently a board member of the British and Irish Paediatric Ophthalmology Association (BIPOSA) and recently stepped down after 5 years as chair of the Paediatric Sub-committee of the Royal College of Ophthalmologists.</p>


</div>
</div>
