<div class="biog">
<div id="Seema_Verma"><img alt="Miss Seema Verma" src="/ConferencesArchives/Galway2019/photos/Miss-Seema-Verma-MD,-FRCOphth.jpg" style="max-width:110px;max-height:155px;float:left;" title="Miss Seema Verma" />
<h3>Miss Seema Verma</h3>

<p>Miss Seema Verma is a Consultant Ophthalmic Surgeon at Guys and St Thomas&rsquo; Hospital, London and a founding member and President of the British Emergency Eye Care Society (BEECS). &nbsp;Her main areas of interest include acute ophthalmology, cataract and external eye disease. &nbsp;Having graduated in medicine from University College London, she completed her ophthalmic training on the North Thames Rotation which culminated in a corneal Fellowship at Moorfields. &nbsp;She also took time out of her training whilst at St Thomas&rsquo; Hospital to complete her MD in excimer laser with Professor John Marshall.</p>

<p>In 2001 Miss Verma was appointed a consultant at Moorfields Eye Hospital and became the first ophthalmologist in the UK to lead an ophthalmic A&amp;E department. &nbsp;For 15 years she was their Service Director for A&amp;E and General Ophthalmology and developed the role of the Nurse Practitioner and the extended role of the optometrist in delivering acute care in the A&amp;E department. &nbsp;In 2017 she established the optometry delivered Urgent Care Centre at Moorfields.&nbsp;</p>

<p>With the help of like-minded colleagues she co-founded BEECS in October 2013 and strived to establish emergency ophthalmology as a sub-specialty in its own right. &nbsp;In March 2016 the Royal College of Ophthalmologists granted sub-specialty status to Emergency Ophthalmology. Seema continues to champion acute ophthalmology as a sub-specialty by teaching and organising courses nationally and internationally. &nbsp;She is a member of the Scientific Committee at the Royal College of Ophthalmologists. &nbsp;</p>
</div>
</div>
