<div class="biog">
<div id="Paul_Barrington_Chell"><img alt="Mr Paul Barrington Chell" src="/ConferencesArchives/Galway2019/photos/Paul-Barrington-Chell.jpg" style="max-width:110px;max-height:155px;float:left;" title="Mr Paul Barrington Chell" />
<h3>Mr Paul Barrington Chell</h3>

<p>Mr Paul Chell was clinical director of Head and Neck Surgery at Worcester Royal Hospital, with a special interest in cataract surgery and patient focused efficient care. He has performed over 17,000 cataract surgeries. The unit was recognized in 2000 by the Department of Health in the UK as a &ldquo;Beacon site&rdquo; for efficient cataract surgery. He developed independent eye clinics in the UK renowned for their patient focused efficiency, care and excellence. He also consults widely on efficiency and avoiding &ldquo;never events&rdquo; in the UK. In the early 1990&rsquo;s his mathematical models, research and lecturing led to the terms &ldquo;spherical targeting&rdquo; and &ldquo;astigmatic targeting&rdquo; still widely used in cataract surgery today. He was President of numerous prestigious societies and gave over 100 invited lectures. Paul retired from clinical practice at 50 years of age. He now has a special interest in nutrition and triathlon. He is a Director of an English football club, where he chairs the Performance Enhancement Group.&nbsp;</p>
</div>
</div>
