<div class="biog">
<div id="Monique-Hope-Ross "><img alt="Miss Monique Hope-Ross" src="/ConferencesArchives/Galway2019/photos/Monique-Hope-Ross.jpg" style="max-width:110px;max-height:155px;float:left;" title="Miss Monique Hope-Ross" />
<h3>Miss Monique Hope-Ross</h3>

<p>Miss Monique Hope-Ross was Clinical Director at Birmingham and Midland Eye Hospital and Heart Of England Hospitals, with a special interest in medical ophthalmology, including diabetes and macular degeneration. She trained in Dublin, Belfast, Birmingham and New York. She introduced new imaging techniques to the UK. She pioneered diabetic eye screening in the UK and was awarded a Fellowship of the Royal College of Physicians. She led in the uptake of anti VEGF therapies, lecturing widely. She has published many scientific publications and book chapters. Monique was President of the Ophthalmic Imaging Society and the Midland Ophthalmological Society. She has delivered over invited 100 lectures. She was honorary senior clinic lecturer in the University of Birmingham. Her interest in diabetic eye disease lead to an interest in nutrition and wellness. She has studied this extensively and lectured to both clinicians and patients on the subject. She has an interest in sports nutrition and is part of a Performance Enhancement Group in an English football club.&nbsp;</p>

<p>&nbsp;</p>
</div>
</div>
