<div class="biog">
<div id="Arjuna_Ratanayaka"><img alt="Edward Loane" src="/ConferencesArchives/Galway2019/photos/Arjuna-Ratanayaka.jpg" style="max-width:110px;max-height:155px;float:left;" title="Dr Arjuna Ratanayaka" />
<h3>Dr Arjuna Ratnayaka</h3>

<p>Dr Ratnayaka is a Lecturer in Vision Sciences and brings together expertise in retinal cell biology and neurodegeneration. He is an alumnus of the University of Aberdeen, Imperial Collage London, and the University of Liverpool. This was followed by postdoctoral work at King&#39;s College London and the University of Sussex.</p>

<p>His group at the University of Southampton investigates the molecular mechanisms underlying degenerative pathologies in the senescent retina and brain; leading to conditions such as age-related macular degeneration, retinal dystrophies and Alzheimer&#39;s disease. His work has described how synaptic vesicles are shared by adjacent synapses, how signalling occurs via extra-synaptic sites and how synaptic plasticity is modulated by neurons. His work in retinal diseases has uncovered how genetic and dietary risk factors lead to pathogenic alterations in cellular trafficking, and how changes in the extracellular matrix contributes to disease. Ongoing projects study the role of misfolding proteins and clearance of aggregating macromolecules in retinal and brain pathologies.</p>

<p>Dr Ratnayaka&#39;s work utilises in-vitro and in-vivo models as well as human donor tissues. His research involves collaborations with other scientists, clinicians as well as industrial partners.</p>

<p>Dr Ratnayaka&#39;s portfolio also includes teaching in several undergraduate and postgraduate programmes across two Faculties. He is engaged in outreach activities including raising awareness of blinding diseases and dementia through workshops, public lectures and work with patients as well as education in schools.<br />
Further information can be found <a href="http://www.southampton.ac.uk/medicine/about/staff/jr5f12.page." target="ext">here</a></p>
</div>
</div>
