<div class="biog">
<div id="Nicola-Bayly">
<p><img alt="Nicola Bayly" src="/ConferencesArchives/Galway2019/photos/bayly.jpg" style="max-width:110px;max-height:155px;float:left;" title="Professor Chris Lloyd" /></p>

<h3>Nicola Bayly</h3>


<p>
Nicola is an Assistant Commissioner in the Data Protection Commission working as a lead investigator in the Multinationals & Technology unit. As part of this role Nicola scopes issues for statutory inquiry that have come to the attention of the Commission via a complaint or otherwise. Nicola is involved in managing the inquiry process and is currently in charge of a number of different inquiries into the practices of some of the world’s leading technology companies on issues as diverse as the extent of a data subject’s right of access to “observed” personal data to examining the validity of the lawful bases relied upon by data controllers in their processing of personal data.
</p>
<p>
Nicola is a solicitor with experience in advising private and regulatory clients with regard to data protection compliance from her time spent in firm.
</p>

</p>
</div>
</div>
