<div class="biog">
<div id="Sinead-Corr">

<h3>Miss Sarah Chamney</h3>

<p>Sarah is a Consultant Ophthalmologist based at Children’s Health Ireland at Temple Street, the Mater Misericordiae University Hospital and the National Maternity Hospital, Dublin. She is a graduate of Trinity College, Dublin and she completed her specialist ophthalmology training in the Northern Ireland Deanery. She undertook her paediatric ophthalmology fellowship at the Manchester Royal Eye Hospital. 

</p>
</div>
</div>
