<div class="biog">
<div id="Sinead-Corr">
<p><img alt="Sinead Corr" src="/ConferencesArchives/Galway2019/photos/Sinead Corr.jpg" style="max-width:110px;max-height:155px;float:left;" title="Dr Sinead Corr" /></p>

<h3>Dr Sinead Corr</h3>

<p>Dr Corr qualified with a BSc Microbiology from University College Cork in 2002 obtained a PhD in Molecular Microbiology at the Alimentary Pharmabiotic Centre, under the supervision of Prof. Colin Hill (2007), investigating the interaction of the food borne pathogen Listeria monocytogenes with the gastrointestinal epithelium and the therapeutic potential of probiotics to treat intestinal infection.</p>

<p>Dr Corr qualified with a BSc Microbiology from University College Cork in 2002 obtained a PhD in Molecular Microbiology at the Alimentary Pharmabiotic Centre, under the supervision of Prof. Colin Hill (2007), investigating the interaction of the food borne pathogen Listeria monocytogenes with the gastrointestinal epithelium and the therapeutic potential of probiotics to treat intestinal infection.</p>

<p>&nbsp;</p>

<p>In 2012, Dr Corr was awarded a Starting Investigator Research Grant from Science Foundation Ireland, to investigate the role of miRNA&rsquo;s in the regulation of gut homeostasis or inflammatory disease. She was appointed Assistant Professor in Microbiology at Trinity College Dublin, and established the HostMicrobe Interface &amp; Gut Immunity lab in 2015. Employing molecular based approaches and elaborate in vivo models and clinical analyses, the Corr research group aims to unravel the molecular mechanisms underpinning the crosstalk between the intestinal immune system and the gut microbiota in disease associations, in particular microbiome-associated disorders like IBD. The influence of the microbiota on health and disease, and the potential to harness it as a therapeutic strategy, is a research focus.</p>
</div>
</div>
