<div class="biog">
<div id="hartnett">
<p><img alt="Miss Claire Hartnett" src="/ConferencesArchives/Galway2019/photos/Claire Hartnett.jpg" style="max-width:110px;max-height:155px;float:left;" title="Miss Claire Hartnett " /></p>

<h3>Ms Claire Hartnett </h3>
</p>
Ms Claire Hartnett is a Consultant Paediatric Ophthalmic Surgeon at the Children's University Hospital, Temple Street. She undertook her fellowship training at Great Ormond Street Hospital, London and The Royal Hospital London.
</p>
<p>&nbsp;</p>
</div>
<br style="clear:both" />
</div>
