<div class="biog">
<div id="Nicholas-Jones">
<p><img alt="Nicholas Jones" src="/ConferencesArchives/Galway2019/photos/nicholas-jones.jpg" style="max-width:110px;max-height:155px;float:left;" title="Prof Nicholas Jones" /></p>

<h3>Professor Nicholas Jones</h3>
</p>
Professor Nicholas Jones is a Consultant Ophthalmologist and Clinical Director of Uveitis Service, Manchester Royal Eye Hospital and Honorary Prof. of Ophthalmology at the Manchester Academic Health Science Centre (MAHSC), University of Manchester. 
</p>





<p>
Prof. Jones underwent his undergraduate training at the Universities of St. Andrews and Manchester, and postgraduate training in ophthalmology at Southampton and Manchester, UK. In 1991 he created the Manchester Uveitis Clinic, now in its 29th year and one of the busiest in the world, which has treated nearly 5,000 patients with uveitis from the North of England, Wales and beyond. He is the author of two textbooks: “Uveitis: An Illustrated Manual” which won the Royal Society of Medicine Book Prize in 1999, and “Uveitis: Second Edition” in 2012. He has also written a history of the Manchester Royal Eye Hospital for its bicentenary in 2014, numerous book chapters and over 100 peer-reviewed papers. The Manchester Uveitis Clinic team has a high research output; the main current interests are on the diagnosis and management of sarcoidosis and tuberculosis, on new imaging in uveitis, and on secondary glaucoma. Professor Jones is an elected member of the International Uveitis Study Group and the American Uveitis Society, is a founder faculty member of the Moorfields and Euretina Uveitis Courses, and is regularly invited to lecture and teach nationally and internationally. He is a member of the Editorial Boards of the journals Ocular Immunology & Inflammation, and Journal of Ophthalmic Inflammation and Infection.
	</p>
</div>
</div>
