<div class="biog">
<div id="Rizwana-Khan">
<p><img alt="Rizwana Khan " src="/ConferencesArchives/Galway2019/photos/Rizwana-Khan.jpg" style="max-width:110px;max-height:155px;float:left;" title="Prof Rizwana Khan " /></p>

<h3>Ms Rizwana Khan </h3>
</p>
Consultant Ophthalmic Orbital, Oculoplastic surgeon and Consultant in-charge Accident and Emergency department, Royal Victoria Eye and Ear Hospital, Dublin. 
</p>





<p>
Ms Khan completed her Ophthalmology training and fellowship in Orbits, Oculoplastic and Neurophthalmology in 2007.  She is involved in several research projects in Orbits and Oculoplastics with special interest in Navigation in Orbital surgery.</p>
</div>
</div>
