<div class="biog">
<div id="hartnett">
<p><img alt="Professor Mary D King" src="/ConferencesArchives/Galway2019/photos/Mary King.jpg" style="max-width:110px;max-height:155px;float:left;" title="Professor Mary D King " /></p>

<h3>Professor Mary D King </h3>
</p>
Professor Mary D King is a Consultant Paediatric Neurologist at  Temple St. Children’s University Hospital, Rotunda Hospital and Beaumont Hospital, Dublin and Professor in Paediatrics at University College Dublin, School of Medicine & Medical Science, Ireland.
<br/>She has many publications in the field of Paediatric Neurology and is co-author of "A Handbook of Neurological Investigations in Children" (King & Stephenson, MacKeith Press London, 2009).
</p>
<p>Her main areas of research interest are neurogenetics, movement disorders and causation of neonatal encephalopathy and childhood disability.
	</p>

</div>

</div>
