<div class="biog">
<div id="mullaney">
<p><img alt="Mr Paul Mullaney" src="/ConferencesArchives/Galway2019/photos/Paul Mullaney.JPG" style="max-width:110px;max-height:155px;float:left;" title="Mr Paul Mullaney" /></p>

<h3>Mr Paul Mullaney</h3>
</p>

Consultant Ophthalmic Surgeon, Sligo University Hospital
</p>




<p>
Paul Mullaney is a Consultant Ophthalmic Surgeon working in Sligo University Hospital.  He undertook his  initial training in The Royal Victoria Eye and Ear Hospital in Dublin.  There followed further training Fellowships in The University of Wisconsin and University of Toronto in Pediatric Ophthalmology.  Prior to taking up his post in Sligo he worked in The King Khaled Eye Specialist Hospital in Saudi Arabia and The Worcester Royal Infirmary.   The Worcester Royal Infirmary specialised in high volume cataract surgery.  
<br/>While in Sligo he was the Clinical Director of the hospital for 8 years.  The Ophthalmology team won the prestigious HSE National Health Service Excellence award in 2016.  
<br/> His main practice areas encompass Cataract surgery and Pediatric Ophthalmology.
</p>
</div>
</div>
