<div class="biog">
<div id="Barry-Quill">
<p><img alt="Barry Quill" src="/ConferencesArchives/Galway2019/photos/Barry-Quill.jpg" style="max-width:110px;max-height:155px;float:left;" title="Mr Barry Quill" /></p>

<h3>Mr Barry Quill </h3>
</p>

Consultant Ophthalmic Surgeon and Clinical Lead, Cataract Unit Royal Victoria Eye and Ear Hospital , Dublin
</p>





<p>
Mr. Barry Quill is a Consultant Ophthalmic Surgeon whose clinical areas of expertise include Cataract, Refractive, Glaucoma and Corneal Surgery.  He completed his residency and specialist registrar training in 2015 through the Royal College of Surgeons, Ireland. He was awarded a fellowship in Refractive Laser and Cataract Surgery from the Mater Private Hospital, Dublin and awarded two subsequent fellowships from The Royal Perth Hospital, Australia gaining valuable experience in new novel methods of corneal transplantation and minimally invasive glaucoma surgery.
</p>
<p>
Mr Quill was appointed as a Consultant Ophthalmic Surgeon in 2017 to the Royal Victoria Eye and Ear Hospital and Clinical Lead for the new cataract unit at the Hospital.
</p>
<p>
His main research interests are glaucoma, corneal transplantation and eye banking.  He received his academic Doctorate from University College, Dublin (2010) for his full-time research in glaucoma eye disease. This body of work has resulted in international and national prizes, awards and publications, and he has lectured worldwide on his findings. He has authored multiple international peer reviewed publications and book chapters.
</p>
</div>
</div>
