<div class="biog">
<div id="RProfessor Michael Ulbig">
<p><img alt="Professor Michael Ulbig " src="/ConferencesArchives/Galway2019/photos/Michael-Ulbig.jpg" style="max-width:110px;max-height:155px;float:left;" title="Prof Rizwana Khan " /></p>

<h3>Professor Michael Ulbig</h3>
</p>
Ludwig Maximilians University Munich; Department of Ophthalmology, Klinikum rechts der Isar, (University Hospital), Technical University of Munich (TUM), Munich
</p>





<p>
Prof. Dr. med. Ulbig has a major interest in clinical studies and retinal vascular diseases. His clinical subspecialty is medical retina, including the treatment and diagnosis of diabetic retinopathy, age-related macular degeneration, and retinal vein occlusions. 
<br/>Prof. Ulbig is a Lecturer at Ludwig Maximilians University in Munich, the "Academy der Augenärzte Deutschlands (AAD)", DOG basic science course at the International University in Venice. Prof. Ulbig has authored more than 180 pubmed listed papers.</p>
</div>
</div>
