<div style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.727272033691406px; background-color: rgb(255, 255, 255); ">Vacant Medical Posts - Royal Victoria Eye &amp; Ear Hospital (posted 28th September 2015)</div>

<div style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.727272033691406px; background-color: rgb(255, 255, 255); ">Please see more <a href="/medium/files/Vacant_Medical_Posts_RVEEH_(ICO)-m.doc" target="_blank">here</a>&nbsp;</div>

<div style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.727272033691406px; background-color: rgb(255, 255, 255); ">&nbsp;</div>

<div style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.727272033691406px; background-color: rgb(255, 255, 255); "><u>Locum Consultants Post</u></div>

<div style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.727272033691406px; background-color: rgb(255, 255, 255); ">Please click <a href="/medium/files/Advert_Locum_Consultant_Ophthalmic_Surgeon_part_time_Septemb-w.docx" target="_blank">here</a> for&nbsp;details of a part time locum consultants post in the Mater hospital - closing date for applications is&nbsp;<span class="aBn" data-term="goog_993846447" style="border-bottom-width: 1px; border-bottom-style: dashed; border-bottom-color: rgb(204, 204, 204); position: relative; top: -2px; z-index: 0; " tabindex="0"><span class="aQJ" style="position: relative; top: 2px; z-index: -1; ">Friday 25th of September</span></span></div>

<div style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.727272033691406px; background-color: rgb(255, 255, 255); ">&nbsp;</div>

<div style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.727272033691406px; background-color: rgb(255, 255, 255); "><span style="font-size: 12.8px; "><u>Orbscan machine</u></span></div>

<div style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.727272033691406px; background-color: rgb(255, 255, 255); "><span style="font-size: 12.8px; ">An ICO member has a&nbsp;</span><span style="font-size: 12.8px; ">Orbscan machine complete with computer and desks which is not currently being used and which they would be happy to give, at no cost, to another member. The machine requires a service and a monitor but is available for immediate collection from Dublin. If you are interested please let me know and I will out you in touch with the donor</span></div>

<p style="margin-left:36.0pt;">&nbsp;</p>

<p style="margin-left:36.0pt;"><strong>TEMPORARY PART-TIME</strong> <strong>OPHTHALMOLOGIST</strong></p>

<p style="margin-left:36.0pt;"><strong>(Diabetic Retinopathy Treatment Programme)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; <strong>&nbsp;19.5 hours per week &ndash; Mater Misericordiae University Hospital</strong></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <u>The following qualifications shall apply to this appointment</u><strong>:</strong><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Registration as a specialist in the Specialist Division of the Register of Medical<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Practitioners maintained by the Medical Council in Ireland in the specialty of<br />
&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ophthalmology or ophthalmic surgery.</p>

<p style="margin-left:36.0pt;">Informal enquiries can be made by contacting Mr Paul Connell, Consultant Ophthalmic Surgeon, Mater Misericordiae University Hospital,&nbsp; phone 01 8032000 or&nbsp; e-mail <a href="mailto:pconnell@mater.ie">pconnell@mater.ie</a>&nbsp;&nbsp;</p>

<p>Applicants for the above post should send Curriculum Vitae (4 unbound copies) with a covering letter, together with the names, addresses and telephone/fax numbers of three referees (two of whom should refer to recent appointments) to the <strong>Honorary Secretary, Medical Board, Mater Misericordiae University Hospital, 59 Eccles Street, Dublin 7</strong>.</p>

<p><br />
In addition Curriculum Vitae should be e-mailed to <a href="mailto:mboard@mater.ie">mboard@mater.ie</a>.&nbsp; Job descriptions can be requested by phone 01 803 2960 or email <a href="mailto:mboard@mater.ie">mboard@mater.ie</a> or website <a href="http://www.mater.ie">www.mater.ie</a> / <a href="http://www.hospitaljobs.ie">www.hospitaljobs.ie</a> .</p>

<p>The latest date for receipt of applications is <strong><u>Friday 4<sup>th</sup> September 2015 &nbsp;</u></strong></p>

<p><em>Department of Health and Children regulations apply to the above posts.&nbsp;The Mater Misericordiae University Hospital is an equal opportunities employers.</em></p>

<p>&nbsp;</p>

<p><strong style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; font-size: 13px; line-height: 20px; background-color: rgb(255, 255, 255); ">TEMPORARY CONSULTANT OPHTHALMIC SURGEON</strong></p>

<p>The Royal Victoria Eye and Ear Hospital is a voluntary acute specialist hospital and is the national tertiary centre for the treatment of Ophthalmic, Ear, Nose, Throat, Head and Neck disorders. Recognised as a University Teaching Hospital, it has a tradition of care stretching back to 1814 and has looked after patients on its present site since 1904.</p>

<p>Applications are invited from suitably qualified candidates for the following post:</p>

<p><strong>TEMPORARY CONSULTANT OPHTHALMIC SURGEON</strong></p>

<p><strong>FULL-TIME, COMMENCING IMMEDIATELY</strong></p>

<p>Informal enquires can be made to Mr Noel Horgan, Clinical Head of the Ophthalmology Department at the Royal Victoria Eye and Ear Hospital on Tel: 01 634 3615.</p>

<p>Applicants should submit five copies of their CV (unbound) with a covering letter nominating three referees (one of which should be current) to: Human Resources Manager, Royal Victoria Eye and Ear Hospital, Adelaide Road, Dublin 2.</p>

<p>Closing date: <strong>12 noon on 28<sup>th</sup> August 2015</strong>.</p>

<p>&nbsp;</p>
