<div>
<p>&nbsp;</p>

<h1>Ophthalmologist Position - Medical Optics</h1>

<p>Ophthalmologist with an interest in all aspects of general ophthalmology required for Medical Optics Bray, and Fairview Dublin 3. Medical Optics is a fully equipped practice with diagnostic and minor surgical facilities. Full or part time.</p>

<p>Applications with CV to Rosemary Griffin-Treacy FRCSI</p>

<p><u><a href="mailto:rosemary@treacy.ie" target="_blank">rosemary@treacy.ie</a></u></p>

<p>&nbsp;</p>

<h1>Ophthalmologists (part-time) for Diabetic Retinopathy National Screening Service</h1>

<p>Ophthalmologist with an interest in Diabetic Retinopathy/ Medical Retina required to join the team providing Retinal Screening for Diabetic Eye Disease on behalf of the National Screening Service.</p>

<p>Part time basis - Leinster area</p>

<p>For further information please contac<strong>t</strong>&nbsp;Pat McGettrick, Programme Ophthalmologist, Global Vision, Dublin&nbsp;<a href="mailto:patricia.mcgettrick@gmail.com" target="_blank">patricia.mcgettrick@gmail.com</a></p>
</div>

<div>&nbsp;</div>

<h1>Mater Misericordiae University Hospital, Dublin</h1>

<p>Applications are invited for the following posts a<font face="arial, helvetica, sans-serif">t the Mater Misericordiae University Hospital Dublin:</font></p>

<p style="font-family: Arial, Helvetica, sans-serif; font-size: small;"><u style="font-family: arial, helvetica, sans-serif;"><b>Consultant Ophthalmic Surgeon (s.o. Vitreo-Retinal Surgery) (Type B)</b></u><span style="font-family: arial, helvetica, sans-serif;">&nbsp;(39 hours per week)- Closing date Friday 8th March</span></p>

<p style="font-family: Arial, Helvetica, sans-serif; font-size: small;"><font face="arial, helvetica, sans-serif"><u><b>Consultant Ophthalmic Surgeon (Type B)</b></u>&nbsp;(39 hours per week)- Closing date Friday 8th March&nbsp;</font></p>

<p style="font-family: Arial, Helvetica, sans-serif; font-size: small;"><font face="arial, helvetica, sans-serif"><u><b>Medical Ophthalmologist (Medical Retina) - Permanent</b>&nbsp;(19 hours per week)</u>&nbsp;- Closing date Friday 15th March&nbsp;</font></p>

<p style="font-family: Arial, Helvetica, sans-serif; font-size: small;"><font face="arial, helvetica, sans-serif"><u><b>Medical Ophthalmologists (Diabetic Retinal Treatment Centre) - Temporary</b>&nbsp;(27 hours per week)&nbsp;</u>- Closing date Friday 15th March&nbsp;</font></p>

<p style="font-family: Arial, Helvetica, sans-serif; font-size: small;"><font face="arial, helvetica, sans-serif">Download Advert with further information <a href="/medium/images/Advert_Mater_Hopsital_Consultant_Ophthalmic_Surgeon_and_Medi-w.docx" target="_blank">here</a></font></p>

<p style="font-family: Arial, Helvetica, sans-serif; font-size: small;"><font face="arial, helvetica, sans-serif">Informal enquiries can be made by contacting Prof David Keegan, Clinical Lead, Department of Ophthalmology -&nbsp;<a href="mailto:dkeegan@mater.ie" style="color: rgb(17, 85, 204);" target="_blank">dkeegan@mater.ie</a></font></p>

<p style="font-family: Arial, Helvetica, sans-serif; font-size: small;"><font face="arial, helvetica, sans-serif">For further information and job descriptions, please visit&nbsp;<a data-saferedirecturl="https://www.google.com/url?q=http://www.mater.ie&amp;source=gmail&amp;ust=1551263166478000&amp;usg=AFQjCNHqDDGo9yrdrRkVhG_mhyuDoF-rzQ" href="http://www.mater.ie/" style="color: rgb(17, 85, 204);" target="_blank">www.mater.ie</a>&nbsp;or&nbsp;<a data-saferedirecturl="https://www.google.com/url?q=http://www.hospitaljobs.ie&amp;source=gmail&amp;ust=1551263166478000&amp;usg=AFQjCNH8mkW_lF_qQmlFdZ3H_19RJyujhw" href="http://www.hospitaljobs.ie/" style="color: rgb(17, 85, 204);" target="_blank">www.hospitaljobs.ie</a>&nbsp;or contact the Medical Board Office on 00 353 1 803 2960 or email&nbsp;<a href="mailto:mboard@mater.ie" style="color: rgb(17, 85, 204);" target="_blank">mboard@mater.ie&nbsp;</a></font></p>

<p>&nbsp;</p>

<p>&nbsp;</p>
