<h1>Professional Competence</h1>

<p><a href="https://pcs.rcsi.ie/" target="ext" title="Login to rcsi.ie">To Log your CPD points Click Here</a></p>

<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<h2><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse1">Introduction</a></h2>
		<div class="panel-collapse collapse in" id="collapse1">
			<div class="panel-body">
				<p>Since May 2011, all registered medical practitioners have been legally obliged to enrol in a professional competence scheme (PCS), in line with the requirements set by the Medical Council. The schemes formalise the process of career-long learning and are operated by the postgraduate training bodies to facilitate professional practice which is centred on patient safety and quality patient care. The learning and career development activities which doctors must engage in are straightforward and practice-based.</p>

				<p>The ICO is approved by the Medical Council to administer a PCS in line with the requirements of the Medical Practitioners Act. Participation in a PCS helps registered doctors to demonstrate that they are fulfilling their statutory duty and the ICO&#39;s scheme facilitates this process for medical and surgical eye specialists. The ICO&#39;s scheme is open for enrolment to both members and non-members. Enrolment is completed through the online eportal, which enables enrolled individuals to log their activities and points. The ICO looks forward to supporting our ophthalmic colleagues in meeting their annual PCS requirements</p>

				<p><a href="/medium/images/ICO_PCS_booklet_A5_web_(1)-k.pdf" target="_blank">Download the ICO PCS booklet </a> (PDF)</p>
			</div>
		</div>
	</div>

<div class="panel panel-default">
<h2><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2">What is the Professional Competence Scheme?</a></h2>

<div class="panel-collapse collapse" id="collapse2">
<div class="panel-body">
<p>The PCS is an evidence-informed education initiative that encourages and supports the Continuing Professional Development (CPD) activities of participants. As a PCS participant, you shape the learning process to suit your professional requirements. You are responsible for developing and implementing yourpersonal CPD plan, relevant to your roles and responsibilities.</p>
</div>
</div>
</div>

<div class="panel panel-default">
<h2><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse3">How the Professional Competence Scheme Works</a></h2>

<div class="panel-collapse collapse" id="collapse3">
<div class="panel-body">
<p>Professional Competence has been defined by the Medical Council as having two key components:</p>

<ul>
	<li>Continuing Professional Development (CPD) and</li>
	<li>Clinical Audit.</li>
</ul>
CPD is measured in hours with each full hour of educational activity equaling one CPD credit. Practitioners must accumulate 50 CPD credits

<div style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px; background-color: rgb(255, 255, 255);">(subdivided into a min of 20 external, 20 internal, 5 personal learning)&nbsp;<span style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px;">on an annual basis and one clinical audit per year.</span></div>
&nbsp;

<p>&nbsp;</p>
</div>
</div>
</div>

<div class="panel panel-default">
<h2><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse4"><abbr title="Professional Competence Scheme">PCS</abbr> Requirements</a></h2>

<div class="panel-collapse collapse" id="collapse4">
<div class="panel-body">
	<h3>Lorem Ipsum</h3>
	<P>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed dolor vitae lorem vulputate gravida ac eget lectus. Vivamus luctus sodales arcu eget ultrices. In hac habitasse platea dictumst. In quis enim sed sapien gravida eleifend id id erat. Nunc ac eleifend ex. Quisque ut ipsum porta, blandit nisl in, malesuada arcu. Vivamus velit ligula, lobortis non suscipit vel, dignissim at purus. Duis nec erat felis. Pellentesque sit amet ipsum viverra, gravida nunc sit amet, semper tellus. Donec eu nibh eu enim ultricies porttitor. Vestibulum ut elit tristique, consequat purus faucibus, consequat elit. Vestibulum aliquam tempor arcu, ut vulputate nunc molestie eget. Nullam feugiat volutpat arcu, et egestas nibh porttitor consequat. Nam sagittis, nisl at scelerisque sagittis, diam tortor placerat orci, a viverra quam nunc at odio. 
	</P>
	<p>Nulla faucibus sapien sapien, ac accumsan ex hendrerit laoreet. Pellentesque porttitor ex nec ligula bibendum dapibus. Aliquam tincidunt tincidunt lobortis. Proin sollicitudin accumsan ultricies. Sed laoreet libero auctor, molestie dui eu, mollis enim. Duis lectus neque, vestibulum eget hendrerit at, malesuada at nisi. Fusce eget nisi eu nibh finibus pulvinar et sed libero. Aliquam nec neque et diam malesuada pretium. Cras ornare, enim ut pulvinar cursus, odio urna lobortis risus, et finibus lectus eros vitae augue. Phasellus sodales est sit amet sagittis lobortis. </p>
</div>
</div>
</div>

<div class="panel panel-default">
<h2><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse5">ePortfolio/Enrol</a></h2>

<div class="panel-collapse collapse" id="collapse5">
<div class="panel-body">
<p>ICO is using the PCS ePortfolio developed by the RCSI. This is a web-based application to allow users to easily record their professional competence activity. Once enrolled on the ICO Professional Competence Scheme, practitioners will get access to the PCS ePortfolio</p>
</div>
</div>
</div>

<div class="panel panel-default">
<h2><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse6">Resources</a></h2>

<div class="panel-collapse collapse" id="collapse6">
<div class="panel-body">
	<h3>Lorem Ipsum</h3>
	<P>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed dolor vitae lorem vulputate gravida ac eget lectus. Vivamus luctus sodales arcu eget ultrices. In hac habitasse platea dictumst. In quis enim sed sapien gravida eleifend id id erat. Nunc ac eleifend ex. Quisque ut ipsum porta, blandit nisl in, malesuada arcu. Vivamus velit ligula, lobortis non suscipit vel, dignissim at purus. Duis nec erat felis. Pellentesque sit amet ipsum viverra, gravida nunc sit amet, semper tellus. Donec eu nibh eu enim ultricies porttitor. Vestibulum ut elit tristique, consequat purus faucibus, consequat elit. Vestibulum aliquam tempor arcu, ut vulputate nunc molestie eget. Nullam feugiat volutpat arcu, et egestas nibh porttitor consequat. Nam sagittis, nisl at scelerisque sagittis, diam tortor placerat orci, a viverra quam nunc at odio. 
	</P>
	<p>Nulla faucibus sapien sapien, ac accumsan ex hendrerit laoreet. Pellentesque porttitor ex nec ligula bibendum dapibus. Aliquam tincidunt tincidunt lobortis. Proin sollicitudin accumsan ultricies. Sed laoreet libero auctor, molestie dui eu, mollis enim. Duis lectus neque, vestibulum eget hendrerit at, malesuada at nisi. Fusce eget nisi eu nibh finibus pulvinar et sed libero. Aliquam nec neque et diam malesuada pretium. Cras ornare, enim ut pulvinar cursus, odio urna lobortis risus, et finibus lectus eros vitae augue. Phasellus sodales est sit amet sagittis lobortis. </p>


</div>
</div>
</div>


<div class="panel panel-default">
<h2><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse9">FAQs</a></h2>

<div class="panel-collapse collapse" id="collapse9">
<div class="panel-body">
<h3>Lorem Ipsum</h3>
	<P>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed dolor vitae lorem vulputate gravida ac eget lectus. Vivamus luctus sodales arcu eget ultrices. In hac habitasse platea dictumst. In quis enim sed sapien gravida eleifend id id erat. Nunc ac eleifend ex. Quisque ut ipsum porta, blandit nisl in, malesuada arcu. Vivamus velit ligula, lobortis non suscipit vel, dignissim at purus. Duis nec erat felis. Pellentesque sit amet ipsum viverra, gravida nunc sit amet, semper tellus. Donec eu nibh eu enim ultricies porttitor. Vestibulum ut elit tristique, consequat purus faucibus, consequat elit. Vestibulum aliquam tempor arcu, ut vulputate nunc molestie eget. Nullam feugiat volutpat arcu, et egestas nibh porttitor consequat. Nam sagittis, nisl at scelerisque sagittis, diam tortor placerat orci, a viverra quam nunc at odio. 
	</P>
	<p>Nulla faucibus sapien sapien, ac accumsan ex hendrerit laoreet. Pellentesque porttitor ex nec ligula bibendum dapibus. Aliquam tincidunt tincidunt lobortis. Proin sollicitudin accumsan ultricies. Sed laoreet libero auctor, molestie dui eu, mollis enim. Duis lectus neque, vestibulum eget hendrerit at, malesuada at nisi. Fusce eget nisi eu nibh finibus pulvinar et sed libero. Aliquam nec neque et diam malesuada pretium. Cras ornare, enim ut pulvinar cursus, odio urna lobortis risus, et finibus lectus eros vitae augue. Phasellus sodales est sit amet sagittis lobortis. </p>
</div>
</div>
</div>



<div class="panel panel-default">
<h2><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse7">Apply for CPD Recognition  for your Event</a></h2>

<div class="panel-collapse collapse" id="collapse7">
<div class="panel-body">
<p>Recognition of Educational Events for External Continuing Professional Development (CPD) To apply for CPD recognition, please contact <a href="mailto:siobhan.kelly@eyedoctors.ie?subject=CPD Recognition" title="Eamil Siobhan">siobhan.kelly@eyedoctors.ie</a></p>

<p><a href="/medium/files/ICO Guidelines Ed Events.pdf" target="media" title="Guidelines for Education Events">Download the &amp;#39;Guidelines for Education Events&amp;#39; for CPD</a> (PDF)</p>

<p>Nulla faucibus sapien sapien, ac accumsan ex hendrerit laoreet. Pellentesque porttitor ex nec ligula bibendum dapibus. Aliquam tincidunt tincidunt lobortis. Proin sollicitudin accumsan ultricies. Sed laoreet libero auctor, molestie dui eu, mollis enim. Duis lectus neque, vestibulum eget hendrerit at, malesuada at nisi. Fusce eget nisi eu nibh finibus pulvinar et sed libero. Aliquam nec neque et diam malesuada pretium. Cras ornare, enim ut pulvinar cursus, odio urna lobortis risus, et finibus lectus eros vitae augue. Phasellus sodales est sit amet sagittis lobortis. </p>

</div>
</div>
</div>




<div class="panel panel-default">
<h2><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse11">CPD-SS</a></h2>

<div class="panel-collapse collapse" id="collapse11">
<div class="panel-body"><a href="/medium/files/Professional Competence Scheme Handbook.pdf" target="doc" title="Download the booklet 'Maintaining Professional Competence'"><img align="left" src="/images/rcsi_maintaining_professional_comp.jpg" style="padding-right:7px;" title="Maintaining Professional Competence" /><br />
<br />
<h3>Lorem Ipsum</h3>
	<P>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed dolor vitae lorem vulputate gravida ac eget lectus. Vivamus luctus sodales arcu eget ultrices. In hac habitasse platea dictumst. In quis enim sed sapien gravida eleifend id id erat. Nunc ac eleifend ex. Quisque ut ipsum porta, blandit nisl in, malesuada arcu. Vivamus velit ligula, lobortis non suscipit vel, dignissim at purus. Duis nec erat felis. Pellentesque sit amet ipsum viverra, gravida nunc sit amet, semper tellus. Donec eu nibh eu enim ultricies porttitor. Vestibulum ut elit tristique, consequat purus faucibus, consequat elit. Vestibulum aliquam tempor arcu, ut vulputate nunc molestie eget. Nullam feugiat volutpat arcu, et egestas nibh porttitor consequat. Nam sagittis, nisl at scelerisque sagittis, diam tortor placerat orci, a viverra quam nunc at odio. 
	</P>
	<p>Nulla faucibus sapien sapien, ac accumsan ex hendrerit laoreet. Pellentesque porttitor ex nec ligula bibendum dapibus. Aliquam tincidunt tincidunt lobortis. Proin sollicitudin accumsan ultricies. Sed laoreet libero auctor, molestie dui eu, mollis enim. Duis lectus neque, vestibulum eget hendrerit at, malesuada at nisi. Fusce eget nisi eu nibh finibus pulvinar et sed libero. Aliquam nec neque et diam malesuada pretium. Cras ornare, enim ut pulvinar cursus, odio urna lobortis risus, et finibus lectus eros vitae augue. Phasellus sodales est sit amet sagittis lobortis. </p>
</div>
</div>
</div>


</div>