<h1>AAO - Academy&rsquo;s ONE&reg; Network&nbsp;- ICO Member Access</h1>

<p>An additional benefit of membership of the&nbsp;Irish College of Ophthalmologists is access to the American Academy of Ophthalmology&#39;s Ophthalmic News &amp; Education (ONE&reg;) Network.&nbsp;&nbsp;The College pays a group subscription fee for our members and trainees to have free access to the extensive educational resource for ophthalmologists.<abbr data-wawebkitcopymarker="1706793435581">&nbsp;</abbr></p>

<p>The ONE Network is a comprehensive, online educational resource that brings together the most clinically relevant content, news and tools from a variety of trusted sources.</p>

<p>When members log on to the ONE Network, they are&nbsp;able to access a vast array of educational resources, such as a library of 5000+ free clinical images, basic skills courses, master class videos and expert interviews and self-assessments.&nbsp; Subscribers also have access to the full-text content of numerous global ophthalmology journals.</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">All ICO&nbsp;members, including trainees, have access to the ONE Network resource by way of being a member of the College as the ICO pays an annual&nbsp;group subscription. The ICO strives to keep our members connected to the AAO and provide updates on their on-going activities. The advantages of this close alignment of our organisations is of great mutual benefit.</p>

<p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet=""><span background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">ICO members have personal login details but if you have any queries or have forgotten your username or password or need instructions on logging in to the ONE Network you can contact the ICO directly or email&nbsp;</span><a href="mailto:oneintl@aao.org" style="color: rgb(7, 130, 193); font-family: sans-serif, Arial, Verdana, &amp;quot;Trebuchet MS&amp;quot;; font-size: 13px; background-color: rgb(255, 255, 255);" target="ext">oneintl@aao.org</a><span style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &amp;quot;Trebuchet MS&amp;quot;; font-size: 13px; background-color: rgb(255, 255, 255);">.</span></p>

<p><strong>Gain first-time access to ONE Network</strong></p>

<ol>
	<li>ICO members will receive&nbsp;an email from <a href="mailto:licensesales@aao.org">licensesales@aao.org</a> with subject &ldquo;AAO Access Instructions&rdquo; to get your Access Key and follow these steps:

	<ol>
		<li><strong>Visit</strong> <a href="http://www.aao.org/accesskeys">www.aao.org/accesskeys</a> &nbsp;</li>
		<li><strong>Copy, paste and submit</strong> your Access Key</li>
		<li><strong>Click</strong> &ldquo;Create an Account&rdquo; or <strong>Log In</strong> with your AAO account</li>
		<li><strong>Click </strong>ONE Network image</li>
	</ol>
	</li>
</ol>

<p><strong>Returning to the ONE Network</strong></p>

<p><strong>Visit</strong>&nbsp;<a href="http://www.aao.org/one">www.aao.org/one</a> and log in.&nbsp;</p>

<p>If you experience difficulties, contact the ICO office 01 402 2777 / <a href="http://ciara.keenan@eyedoctors.ie">ciara.keenan@eyedoctors.ie&nbsp;</a></p>

<p><strong>Add Your Listing to the ONE Network Global Directory of Training Opportunities</strong></p>

<p>A new directory called the&nbsp;<a href="http://www.aao.org/training-opportunities" target="_blank">Global Directory of Training Opportunities</a> serves as a clearinghouse for what the AAO hope will be all ophthalmic training opportunities open to ophthalmologists outside of the United States. &nbsp;The directory was created in response to requests received from young ophthalmologists seeking information about observership and fellowship opportunities.</p>

<p>You can&nbsp;<a href="http://www.aao.org/training-opportunities" target="_blank">search the directory</a>&nbsp;by subspecialty and region of the world. Each listing includes contact information, should you want to pursue a training opportunity and a space for public comments.</p>

<p>You are&nbsp;also encouraged to&nbsp;<a href="http://www.aao.org/gdto-submission" target="_blank">list a training opportunity</a>&nbsp;if your institution or practice wishes to be included in this comprehensive directory.</p>

<p><strong>Visit the Recently Revised Global Ophthalmology (GO) Guide</strong></p>

<p><a href="https://www.aao.org/global-ophthalmology-guide" target="_blank">Scan the GO Guide</a>&nbsp;to access region-based care information for developing countries. The GO Guide features: image libraries, reference charts, tables and algorithms for dozens of topics; tips on travel safety and how to get started volunteering; online CME courses; and international surgical videos.</p>

<p>Download the AAO Ophthalmic Education app:</p>

<p><span courier="" style="font-size: 11pt; line-height: 22px; font-family: ">o<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal;">&nbsp;&nbsp;&nbsp;</span></span><span century="" style="font-size: 11pt; line-height: 22px; font-family: ">Apple:&nbsp;<a data-saferedirecturl="https://www.google.com/url?q=https://apps.apple.com/us/app/aao-ophthalmic-education/id1455960271&amp;source=gmail&amp;ust=1563371555702000&amp;usg=AFQjCNG6S9q57tt_TEuuklX0fI4sXyDAmQ" href="https://apps.apple.com/us/app/aao-ophthalmic-education/id1455960271" style="color: rgb(17, 85, 204);" target="_blank">apps.apple.com/us/app/aao-<wbr />ophthalmic-education/<wbr />id1455960271</a></span></p>

<p><span courier="" style="font-size: 11pt; line-height: 22px; font-family: ">o<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal;">&nbsp;&nbsp;&nbsp;</span></span><span century="" style="font-size: 11pt; line-height: 22px; font-family: ">Android:&nbsp;<a data-saferedirecturl="https://www.google.com/url?q=https://play.google.com/store/apps/details?id%3Dcom.aao.cea.prod%26hl%3Den_US&amp;source=gmail&amp;ust=1563371555702000&amp;usg=AFQjCNFxcJPoUzDr6H-4euJ86esLoX-LnA" href="https://play.google.com/store/apps/details?id=com.aao.cea.prod&amp;hl=en_US" style="color: rgb(17, 85, 204);" target="_blank">play.google.com/store/apps/<wbr />details?id=com.aao.cea.prod&amp;<wbr />hl=en_US</a></span></p>

<p>&nbsp;</p>
