<h1><strong>The Irish College of Ophthalmologists</strong></h1>

<h2><strong>Benefits of Membership </strong></h2>

<h3><strong>Our Role</strong></h3>

<p>The Irish College of Ophthalmologists represents the specialties of ophthalmology and ophthalmic surgery. The College advocates excellence in the practice of ophthalmology and ophthalmic surgery, sets the standards for postgraduate education and promotes research.</p>

<p>Our role is to advance developments and improvements in eye health and patient safety by providing the highest standards of excellence in the training and on-going education of eye doctors. The College represents the interests of our members in its links with the other important organisations and stakeholders involved in healthcare, both here in Ireland and abroad.</p>

<p>Doctors across all specialities are facing change in almost every aspect of their working lives, from clinical practice to training and professional competence.</p>

<p>The ICO has a key role to play in supporting our Members throughout their careers as well as influencing the future direction of ophthalmic care.</p>

<h2><strong>Benefits of Membership with the Irish College of Ophthalmologists</strong></h2>

<p>Being a member of our College provides the opportunity to contribute to the development of the required high professional standards in specialist medical practice and it&rsquo;s maintenance through leadership, support and advocacy roles within the College.</p>

<p>Membership of the ICO is an internationally recognised standard of excellence which will allow you to play a part in the governance and future direction of the College.</p>

<p>As a Member, you will get lifelong benefits and services.</p>

<ul>
	<li>
	<h3><strong>Professional Competence</strong></h3>
	</li>
</ul>

<p>The ICO professional competence scheme (PCS) is operated in order to facilitate professional practice which is centred on patient safety and quality patient care. The programme reflects our commitment to continual learning throughout the lifespan of your career as an eye doctor. Participation in the programme enables you to plan your professional competence activities and record this in our online ePortfolio system</p>

<p>The programme allows members partake in educational activities and document the impact of learning in practice.</p>

<p>Membership to the ICO offers you:</p>

<ul>
	<li>Discounted rates to enrol on a PCS</li>
	<li>Support from the ICO with professional competence activities</li>
	<li>Access to PCS supports and resources via ICO members portal</li>
	<li>
	<h3><strong>Training and Education</strong></h3>
	</li>
</ul>

<p>The ICO provides members with postgraduate education and training opportunities, with a focus on learning and professional development. ICO members can&nbsp;view our educational courses and programme of events via the <a href="https://www.eyedoctors.ie/members/login/" target="_blank">ICO members portal</a>.&nbsp; A list of upcoming ophthalmology events is also listed on the ICO website <a href="https://www.eyedoctors.ie/news-events/" target="_blank">meeting and events</a> section.</p>

<p>As an ICO member, you can;</p>

<ul>
	<li>Participate in the delivery of these programme and contribute to the learning and professional development of your fellow members and of other medical practitioners</li>
	<li>Avail of discounted rates for selected courses and conferences by registering&nbsp;through the ICO members portal</li>
	<li>Access a number of educational courses and programmes free</li>
	<li>Access to live streaming and video conferencing of ICO educational courses for members&rsquo; use only</li>
	<li>
	<h3><strong>Collegiality, Influence and Representation</strong></h3>
	</li>
</ul>

<p>The ICO advocates for the&nbsp;highest standard of patient care for the preservation of vision and the restoration of sight. We are focused on nurturing key external relationships, influencing and supporting policy decisions which are based on best patient outcome and the highest standards of patient safety. Education of the public on eye health and empowerment of patients is a priority for the ICO.</p>

<p>The ICO has strong and influential international relationships and partnerships with peers and continues to develop strong bonds with the American Academy of Ophthalmology, AAO, SOE &ndash; European Society of Ophthalmology, International Council for Ophthalmology, Royal College of Ophthalmologists, Royal Australia and New Zealand College of Ophthalmology, European Board of Ophthalmology and UEMS &ndash; Union of Medical Specialists in Europe.</p>

<p>As a member of the ICO, you can partake in this commitment to achieving influence and representation of our goals by;</p>

<ul>
	<li>Participating on the ICO Board and Committees</li>
	<li>Participating in key roles within the ICO, such as Trainer, Committee Member, or Officer</li>
	<li>Participating in healthcare policy and public advocacy group activities and programmes undertaken by the ICO</li>
	<li>Voting at ICO Motions and Elections</li>
	<li>
	<h3><strong>Services and Information</strong></h3>
	</li>
</ul>

<p>The ICO strives&nbsp;to keep members informed and offers a valuable resource tool through our exclusive online membership portal.</p>

<p>The College uses the members&rsquo; portal to provide services to members, including:</p>

<ul>
	<li>Invitation and notification of events (conferences, seminars, lectures etc.)</li>
	<li>Event registration&nbsp;</li>
	<li>Circulation of newsletters, announcements and other important ICO communications</li>
	<li>Processing and management of payments and receipts for our financial operations on behalf of our members</li>
	<li>Management tools for our organisation&rsquo;s administrative activities</li>
</ul>

<p>If you would like more information on becoming a member of the ICO, please contact Communications Manager, Ciara Keenan&nbsp;at ciara.keenan@eyedoctors.ie&nbsp;</p>
