<h1>Children's services</h1>

<p>
Dr Sean Chen, Consultant Ophthalmologist has prepared the following leaflet which is a helpful reference guide to parents whose children have been determined to benefit from wearing glasses and answers some of the frequently asked questions parents may have.
        <br/><a href="/medium/files/Childhood Specs.pdf" target="pdf" title="Download the following PDF:">Childhood Spectacles Frequently Asked Questions (FAQ)</a>

</p>