<h1>Code Of Ethical Practice</h1>
<h2>The Ophthalmologist</h2>
<p>The Ophthalmologist is a medical practitioner (Doctor of Medicine) who specialises in the
  refractive, medical and surgical care of the eyes and visual system and in the prevention
  and treatment of eye disease and injury. Following the awarding of a basic medical degree
  the Ophthalmologist subsequently completes a minimum of four years specialised training
  in ophthalmology. The Ophthalmologist (Eye Doctor) is a specialist who is qualified by a
  comprehensive medical education, training and experience to diagnose, treat and manage
  all eye and visual system problems, and is licensed by the Irish Medical Council (or
  equivalent statutory National licensing body) to practice medicine. The Ophthalmologist
  is a medically trained specialist who delivers total eye care; primary, secondary and tertiary
  care which includes vision services, spectacle and contact lens prescriptions, eye
  examinations, medical eye care, surgical eye care, diagnosing general diseases of the body
  and treating ocular manifestations of systemic diseases.</p>
<h3>The Role of the Ophthalmologist</h3>
<p>The Ophthalmologist’s principal responsibility and obligation is to deliver quality eye care
  ethically and humanely. As a medically trained Doctor, the Ophthalmologist is the only
  healthcare provider specifically trained and educated to utilise fully the science and art of
  medicine to provide comprehensive medical and surgical eye care to the public.</p>
<h3>Ethical Principles and Professional Standards</h3>
<p>This Ethical Code comprises a set of ethical principles and standards to guide the behaviour of
  Ophthalmologists within their professional domain. It reflects the ideals to which they should
  aspire as members of The Irish College of Ophthalmologists, and as socially responsible members
  of their profession and community.</p>
<p>Each of the six groups of standards includes a general principle from which the related
  standards evolve. The standards taken together represent comprehensive guidelines to which
  Practitioners should refer when confronted with professional or ethical dilemmas, and act as a
  benchmark by which to judge Ophthalmologists’ behaviour in professional matters. Standards
  may be added in response to eventualities, but principles remain immutable over time</p>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <h2 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse1">1. Patient Care Standards</a></h2>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
        <h3>1.1 General Principle</h3>
        <p>The Ophthalmologist ought to ensure that patients are treated with dignity, honesty and
          integrity, and act in the best interests of the patient at all times.</p>
        <h3>1.2 Standards</h3>
        <p>The Ophthalmologist ought to:</p>
        <ul>
          <li>Put respect for the patient’s life above all other considerations.</li>
          <li>Provide prompt help to persons whose life or health is endangered by disease or accident.</li>
          <li>Treat all patients without prejudice based on race, religion, gender or other factors.</li>
          <li>Administer to patients in material need without thought of recompense.</li>
          <li>Treat the patient with consideration and respect.</li>
          <li>Ensure the privacy of the patient, and maintain confidentiality in all aspects of the patient’s treatment.</li>
          <li>Obtain the informed consent of the patient for all interventions.</li>
          <li>Provide the patient with truthful, accurate information about their state of health.</li>
        </ul>
        <h3>1.2.1 Advertisement in Ophthalmology</h3>
        <p>Doctors can announce their service to their actual and potential patients as well as their own colleagues.<br/>
          Advertisement:
        </p>
        <ul>
          <li>Should not be aimed exclusively at marketing.</li>
          <li>Should not be self-laudatory.</li>
          <li>Should not include critiques of other techniques, equipment or colleagues.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <h2 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed">2. Professional Practice Standards</a></h2>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <h3>2.1 General Principle</h3>
        <p>The Ophthalmologist ought to ensure that ophthalmic care is of the highest quality possible.</p>
        <h3>2.2 Standards</h3>
        <p> The Ophthalmologist ought to:
        </p>
        <ul>
          <li>Provide quality pre-operative evaluation..</li>
          <li>Perform only those procedures in which he/she is competent by reason of specific training or experience, or is assisted by one who is..</li>
          <li>Provide quality post-operative care..</li>
          <li>If the Ophthalmologist is not available for any reason, he/she should provide the patient with appropriate cover, of a similar level of professional expertise, with the consent in advance of surgery of both the patient and the person selected to provide that care. A thorough handover is expected..</li>
          <li>Ought not delegate to an Auxiliary those aspects of eye care within the unique competence of the Ophthalmologist. When other aspects of eye care for which the Ophthalmologist is responsible are delegated to an Auxiliary, the Auxiliary must be qualified and adequately supervised..</li>
          <li>Maintain competence in technical ability, medical knowledge and professionalism, keeping abreast of developments in ophthalmic practice.</li>
          <li>Refrain from misrepresentation of credentials, training, experience or ability.</li>
          <li>Maintain registration with the national statutory regulatory body, ensuring that practice is within the scope of accepted national specialist practice</li>
          <li>Find the best quality care for the patient’s condition, including appropriate referrals as required by the condition.</li>
          <li>Maintain accurate records of relevant information about the patient and their state of health.</li>
          <li>Be appropriately dressed to meet the requirements for hygiene and courtesy.</li>
          <li>Respect laws and ethical guidelines on the use of donated human tissue.</li>
          <li>Respect local variations in medical practice and customs, provided these do not contravene the ethical standards.</li>
          <li>Refrain or withdraw from engaging in any form of clinical practice that might be compromised by the patient’s mental, emotional or physical impairment.</li>
          <li>Take corrective action when aware that an impaired Ophthalmologist has not ceased inappropriate behaviour, including notifying the appropriate authorities.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <h2 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="collapsed">3. Professional Community Standards</a></h2>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
        <h3>3.1 General Principle</h3>
        <p>The Ophthalmologist ought to be a responsible member of The Irish College of Ophthalmologists by maintaining standards and avoiding conduct that would bring the ICO and its members into disrepute.</p>
        <h3>3.2 Standards</h3>
        <p>The Ophthalmologist ought to:</p>
        <ul>
          <li>Treat colleagues with respect.</li>
          <li>Maintain respectful professional dialogue, conducted in a manner that advances the best interests of the patient, including the sharing of relevant information.</li>
          <li>Provide help to colleagues in cases where professional standards of care are below standard guidelines.</li>
          <li>Respect the interest of the referring Physician when asked for consultation or second opinion.</li>
          <li>Refrain from acting as an expert witness in legal cases, unless one can do so in an objective manner without bias and without influence of non-medical factors (e.g. financial inducements or solicitation).</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <h2 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="collapsed">4. Research Standards</a></h2>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
        <h3>4.1 General Principle</h3>
        <p>Ophthalmologists should be conscious of and observe the ethical, legal and scientific criteria
          for medical research.</p>
        <h3>4.2 Standards</h3>
        <p>The Ophthalmologist ought to:
        </p>
        <ul>
          <li>Observe appropriate review of mechanisms for clinical research.</li>
          <li>Inform research subjects of the nature of the investigation, and obtain special informed consent.</li>
          <li>Refrain from representing another’s work as their own.</li>
          <li>Report research accurately and manage potential conflict of interests. </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <h2 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="collapsed">5. Social Standards</a></h2>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">
        <h3>5.1 General Principle</h3>
        <p>The Ophthalmologist ought to ensure that communications to the public reflect their social responsibilities, and reflect the highest level of probity.</p>
        <h3>5.2 Standards</h3>
        <p>The Ophthalmologist ought to:
        </p>
        <ul>
          <li>Communicate accurately with the public.</li>
          <li>Refrain from misrepresentation of credentials, training, experience or ability.</li>
          <li>Refrain from providing false, deceptive or misleading information.</li>
          <li>Refrain from misleading through omission of material information.</li>
          <li>Refrain from appealing to an individual’s anxiety in an unfair way for self-benefit.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <h2 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse6" class="collapsed">6. Commercial Standards</a></h2>
    <div id="collapse6" class="panel-collapse collapse">
      <div class="panel-body">
        <h3>6.1 General Principle</h3>
        <p>The Ophthalmologist ought to ensure that fees for ophthalmologic services do not exploit
          patients or others who pay for the services, that economic and non-economic conflicts of
          interests do not interfere with the delivery of the highest quality care, and that the advertising
          of services reflects information and not commercial criteria.</p>
        <h3>6.2 Standards</h3>
        <p>The Physician should:</p>
        <ul>
          <li>Recommend only those tests, devices, drugs or procedures that advance the best interest of the patient.</li>
          <li>Not withhold necessary care to a patient’s detriment and for the Physician’s financial advantage.</li>
          <li> Refrain from prescribing unnecessary tests, devices, drugs or procedures.</li>
          <li>Disclose fees without misrepresentation, including future costs to be incurred as part of treatment.</li>
          <li>Refrain from misrepresenting services, or the charges made for services.</li>
          <li>Provide clear and sufficient information about the availability and type of services offered, without competing on a commercial basis.</li>
        </ul>
        <p> <em>Adapted from The Ethical Code of the International Council of Ophthalmology, The Code of Ethics
          of the American Academy of Ophthalmology and the draft European Standard Aesthetic Surgery
          Services prEN16372.</em> </p>
  
      </div>
    </div>
  </div>
</div>

      <p> <a href="/documents/ICO Code of Ethical Standards.pdf" title="You can download the Code of Conduct as a PDF document" target="pdf">You can download the Code of Conduct as a PDF document</a> </p>