<h1>For GP&#39;s&nbsp;</h1>

<p>Diagnosis and treatment of certain eye conditions and referring patients on for specialist care to an eye doctor is a crucial&nbsp;role of a G.P&nbsp;in the management of their patients&rsquo; eye health. With increasing incidence of blindness due to an ageing population in Ireland, knowledge of ophthalmology is becoming increasingly more important to General Practitioners.</p>

<p>The central mission of the ICO is to reduce the number of annual cases of preventable blindness and sight loss amongst patients in the risk groups and to improve their quality of life, providing more effective management of patients with eye conditions through effective clinical pathways and interventions.</p>

<p>According to the latest CSO figures (September 2023) there are currently&nbsp;296,601 people living with blindness&nbsp;or visual impairment in Ireland.&nbsp;</p>

<ul>
	<li>
	<p>Incidence of blindness or a vision impairment experienced to a great extent increased with age.</p>
	</li>
	<li>
	<p>Just under 14,000 people aged between&nbsp;80 and 84 experienced this condition to some extent&nbsp;compared with&nbsp;19,388 in the 50 to 54 years age group.</p>
	</li>
	<li>
	<p>The highest incidence of blindness or a vision impairment was recorded in the over 85 years age group, with significantly more females than males experiencing this condition.</p>
	</li>
</ul>

<p>Up to 75% of blindness and vision loss can be avoided. Early detection and referral to&nbsp;an eye doctor can ensure that patients are diagnosed and&nbsp;treated appropriately. When sight loss cannot be prevented, timely referral to&nbsp;an eye specialist and low vision and social care rehabilitation services can be&nbsp;life-changing for a patient.</p>

<p>When people start to lose their sight they often report difficulty reading small print,&nbsp;cooking, mobility, taking medication and recognising faces. Visual acuity, contrast&nbsp;sensitivity and visual field may be affected.</p>

<p>Macular degeneration, glaucoma and diabetic retinopathy are the most common&nbsp;causes of sight loss among older people in Ireland. Uncorrected refractive&nbsp;error and cataract are the most common causes of avoidable sight loss.&nbsp;There are variations in the prevalence of common eye conditions between different&nbsp;ethnic groups.</p>

<p>Ophthalmologists determine whether a person is eligible to be certified as sight&nbsp;impaired or severely sight impaired. People with visual acuity &le; 6/60 can be certified&nbsp;sight impaired (partially sighted) and &lt; 3/60 can be certified as severely sight impaired&nbsp;(blind).</p>

<p>Sight loss may be due to, or present alongside, other health conditions. Health&nbsp;professionals should consider the key issues affecting people with conditions such as stroke, diabetes, falls, learning disabilities, dementia,&nbsp;sleep apnoea is linked with eye conditions, smoking&nbsp;-&nbsp;cessation programmes help reduce the risk of sight loss in age-related&nbsp;macular degeneration (AMD).</p>

<p><strong>Referrals&nbsp;</strong></p>

<p>For an appointment to see any medical specialist working in the HSE, including eye doctors, a&nbsp;GP&nbsp;should send&nbsp;a referral letter to the consultant.&nbsp;Early detection and referral facilitates diagnosis, treatment&nbsp;and rehabilitation.</p>

<p>A directory of ophthalmologists in Ireland who are members of the ICO can be found on a directory on our website <a href="https://www.eyedoctors.ie/opthalmologists/">here</a></p>

<p>Advice on driving standards for patients with visual impairment is available <a href="http://www.rsa.ie/Documents/Licensed%20Drivers/Medical_Issues/Sl%C3%A1inte_agus_Tiom%C3%A1int_Medical_Fitness_to_Drive_Guidelines.pdf">here</a>&nbsp;</p>

<p>&nbsp;</p>
