<h1>General Data Protection Regulation (GDPR)&nbsp;</h1>

<p style="font-weight: normal; line-height: 1.2; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">The General Data Protection Regulation (GDPR) came&nbsp;into effect on May 25th 2018.</p>

<p style="font-weight: normal; line-height: 1.2; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">The purpose of the Regulation is to ensure transparency, security and accountability by data controllers and to strengthen the rights around data privacy.</p>

<p>While the new Regulation will bring increased responsibilities, many of the concepts and principles of GDPR are much the same as existing data protection regulation and much of your current approach to data retention will remain valid under GDPR.</p>

<p>However it is important to stress that GDPR does introduce new elements and enhancements which will require detailed consideration.</p>

<p>A significant amount of material has been published to help guide people in meeting their obligations.</p>

<p>The ICO would like to highlight a number of guides to our members that include step-by-step advice on how best to prepare:</p>

<ol>
	<li>This is a link to the website published by the Data Protection Commissioner. It has a very useful 12 step guide.<br />
	<a href="http://gdprandyou.ie/organisations" target="ext">http://gdprandyou.ie/organisations</a></li>
	<li>A &#39;<a href="/documents/A-Guide-to-help-SMEs-Prepare-for-the-GDPR.pdf" target="doc" title="Download the Guide for Preparing your Organisation">Guide for Preparing your Organisation&amp;#39;</a> includes a very useful template to help you work through the various aspects of the regulation.</li>
	<li>The following document details the regulation and steps to ensuring you are compliant:<br />
	<a href="http://gdprandyou.ie/wp-content/uploads/2017/05/The-GDPR-and-You-2.pdf" target="ext" title="Download the PDF GDPR and You publised by the Data Protection Commission">http://gdprandyou.ie/wp-content/uploads/2017/05/The-GDPR-and-You-2.pdf</a></li>
</ol>
