<h1>PAST HONORARY LECTURES AND MEDAL WINNERS</h1>
<!-----------------
	Montgomery Lectures and Lecturers
------------------>

<div class="panel-group" id="accordion">
<div class="panel panel-default">
<h2 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse1">Montgomery Lectures and Lecturers</a></h2>

<div class="panel-collapse collapse" id="collapse1">
<div class="panel-body">
<div class="lecture-highlight">
<p>Of great significance to the specialty of ophthalmology in Ireland was the establishment of the Montgomery Lecture in 1916. Dr Robert Montgomery served as an ophthalmic surgeon to St Mark&#39;s Hospital and the Royal Victoria Eye and Ear Hospital until his passing in 1912.</p>

<p>The Montgomery Lecture was the first medical lecture to be founded in Trinity College Dublin.</p>

<p>Robert Montgomery established the prize with &pound;5000 pounds, a large sum but with few conditions bar insertion of the name &quot;Mary Louisa Prentice&quot; (his mother&#39;s name) in its title and that it should rotate between Trinity College Dublin and the Royal College of Surgeons in Ireland.</p>

<p>Initially the lecture was given as a research lecture by early career ophthalmologists but since the second war the Annual Montgomery Lecture has been delivered by the leading figures in ophthalmology both from Ireland and abroad, and including neurologists, behavioural scientists and molecular ophthalmologists.</p>

<p>Through this lectureship, the small Montgomery family have retained their influence in ophthalmology and the name of Robert Montgomery has become widely known, particularly in contemporary ophthalmology, alongside other ophthalmological luminaries such as Dr Sir Arthur Jacob and Dr Sir William Wilde.</p>
</div>

<h4>Royal College of Surgeons in Ireland</h4>

<ul>
	<li><span>2023</span> &quot;Paediatric Cataract Diagnostics - and the Role of Genetics in Improving Precise Diagnosis&quot;<br />
	Professor Christopher Lloyd (UK))</li>
	<li><span>2022</span> &quot;2022: An Orbital Odyssey&quot;<br />
	Professor Timothy Sullivan (Australia)</li>
</ul>

<h4>Virtual (due to COVID-19)</h4>

<ul>
	<li><span>2021</span> &quot;Developing a clinical research program - 30 years of Acanthamoeba keratitis&quot;<br />
	Prof John Dart (London)</li>
	<li><span>2020</span> &quot;Adjusting to COVID-19 in 2020 and Beyond - Development in Home Monitoring including Fluid Quantification in AMD&quot;<br />
	Prof Anat Loewenstein (Israel)</li>
</ul>

<h4>University of Dublin, Trinity College</h4>

<ul>
	<li><span>2019 </span> &quot;Technical Errors in Ophthalmic Surgery&quot;<br />
	Mr. Paul Sullivan (London)</li>
</ul>

<h4>Royal College of Surgeons in Ireland</h4>

<ul>
	<li><span>2018 </span> &quot;When Irish Eyes are Smiling&quot;<br />
	Dr Michael Brennan (North Carolina)</li>
</ul>

<h4>University of Dublin, Trinity College</h4>

<ul>
	<li><span>2017</span> &quot;The Evolution of Paediatric Cataract Surgery&quot;</li>
	<li>Prof. Michael O&#39;Keeffe (Dublin)</li>
	<li><span>2016</span> &quot;Accepting the unacceptable: Prevention and Treatment of Rejection of Donor Cornea&quot;<br />
	Mr Frank Larkin (London)</li>
</ul>

<h4>Royal College of Surgeons in Ireland</h4>

<ul>
	<li><span>2015</span> &quot;One Design with Multiple Derivations&quot;<br />
	Prof dr. Marie-Jos&eacute; Tassignon (Belgium)</li>
	<li><span>2014</span> &quot;Physics in Everyday Ophthalmology and Vitreoretinal Surgery&quot;<br />
	Prof David Wong (Hong Kong)</li>
	<li><span>2013</span> &quot;Ophthalmoscopy in the 21st century&quot;<br />
	Prof Nancy Newman (Atlanta)</li>
	<li><span>2012</span> &quot;Endothelial Keratoplasty: DMEK or DMET - what if Fuchs endothelial dystrophy does not exist?&quot;<br />
	Dr Gerrit Melles (Amsterdam)</li>
	<li><span>2011</span> &quot;Novel Therapeutic Approaches for Diabetic Retinopathy&quot;<br />
	Prof Loyd Paul Aiello (Boston)</li>
</ul>

<h4>University of Dublin, Trinity College</h4>

<ul>
	<li><span>2010</span> The Lecture was not held due to the untimely death of Mr John Lee</li>
	<li><span>2009</span> &quot;Practical Thoughts on how we Doctors can Best Help our Patients, Ourselves and the World&rdquo;<br />
	Dr Geroge Spaeth (Philadelphia)</li>
	<li><span>2008</span> &quot;Normal tension Glaucoma-does it exist?&quot;<br />
	Prof Roger Hitchings (London)</li>
	<li><span>2007</span> &quot;Is there any Room for Surgery in AMD Treatment now?&quot;<br />
	Prof Dr Bernd Kirchhof (Dusseldorf)</li>
	<li><span>2006</span> &quot;Developmental Eyelid Abnormalities&quot;<br />
	Mr Richard Collin (London)</li>
</ul>

<h4>Royal College of Surgeons in Ireland</h4>

<ul>
	<li><span>2005 </span> &quot;Biological Treatments of AMD&quot;<br />
	Prof. Alan Bird (London)</li>
	<li><span>2004 </span> &quot;Age &ndash; related maculopathy: New aspects of pathogenesis, prevention and treatment&quot;<br />
	Prof. Peter Wiedemann (Leipzig)</li>
	<li><span>2003 </span> &quot;Advances in the Diagnosis &amp; Management Carotid-Cavernous Sinus Fistulas&quot;<br />
	Prof. Neil Miller (Baltimore)</li>
	<li><span>2002 </span> &quot;What&rsquo;s new in Ocular Tumours and Pseudotumours?&quot;<br />
	Dr. Jerry A. Shields (Philadelphia)</li>
	<li><span>2001 </span> &quot;Pathogenesis of Glautomatous Damage&quot;<br />
	J. Flammer, (Basle)</li>
</ul>

<h4>University of Dublin, Trinity College</h4>

<ul>
	<li><span>2000 </span> &quot;Blindness Prevention: From Science to Policy&quot;<br />
	A. Sommer (Boston)</li>
	<li><span>1999 </span> &quot;Unnatural Injuries &quot;<br />
	D. Taylor (London)</li>
	<li><span>1998 </span> &quot;Refractive Surgery &ndash; A replacement for Spectacles!&quot;<br />
	Patrick I. Condon(Waterford)</li>
	<li><span>1997 </span>&quot;Meningiomas of the Anterior Visual System&quot;<br />
	Michael Sanders, (London)</li>
	<li><span>1996 </span> &quot;Graves Eye Disease&quot;<br />
	Patricia Kendall-Taylor (Newcastle-upon-Tyne)</li>
</ul>

<h4>Royal College of Surgeons in Ireland</h4>

<ul>
	<li><span>1995</span> &quot;Degenerative Retinal Disease: Towards Gene Therapy&quot;<br />
	Peter Humphries (Dublin)</li>
	<li><span>1994 </span>&quot;Complications of Diabetic Vitrectomy&quot;<br />
	David McLeod (Manchester)</li>
	<li><span>1993</span> &quot;From the Eyelids to Cranio-Facial Surgery&quot;<br />
	Paul Tessier (Paris)</li>
	<li><span>1992</span> &quot;Modern Lens Surgery&quot;<br />
	Thomas Neuhann, (Munich)</li>
	<li><span>1991</span> &quot;Understanding Amblyopia&quot;<br />
	Colin Blakemore (Oxford)</li>
</ul>

<h4>University of Dublin, Trinity College</h4>

<ul>
	<li><span>1990</span> &quot;Some Factors Affecting the Visual Outcome of Corneal Transplantations&quot;<br />
	Douglas John Coster (Adelaide)</li>
	<li><span>1989 </span> &quot;Uveal Effusion&quot;<br />
	Jean Jacques de Laey (Ghent)</li>
	<li><span>1988 </span> &quot;The Management of Diabetic Retinopathy&quot;<br />
	Matthew D. Davis (Madison, Wisconsin)</li>
	<li><span>1987 </span> &quot;Refractive Surgery&quot;<br />
	Herbert Kaufman (New Orleans)</li>
	<li><span>1986 </span> &quot;Radiation Retinopathy&quot;<br />
	Desmond Archer (Belfast)</li>
</ul>

<h4>Royal College of Surgeons in Ireland</h4>

<ul>
	<li><span>1985 </span> &quot;The Lens Capsule: Structure, Anterior Capsulectomy and Lens Implantation&quot;<br />
	Robert Drews (Clayton)</li>
	<li><span>1984 </span> &quot;Sub-Retinal Neovascularization in Senile Macular Degeneration&quot;<br />
	Gabriel Coscas (Paris)</li>
	<li><span>1983 </span> &quot;Goniotomy in the Treatment of Isolated Trabeculodysgenesis&quot;<br />
	Robert Shaffer (San Francisco)</li>
	<li><span>1982 </span> &quot;Early Vitrectomy in the Management of Vasoproliferative Diabetic Retinopathy&quot;<br />
	Michael O&rsquo;Shea (Toronto)</li>
	<li><span>1981 </span> &quot;Communication in Ophthalmology&quot;<br />
	Geraoid P. Crookes (Dublin)</li>
</ul>

<h4>University of Dublin, Trinity College</h4>

<ul>
	<li><span>1980 </span> &quot;Endocrine Ophthalmopathy&quot;<br />
	Andreas Bouzas (Athens)</li>
	<li><span>1979 </span> &quot;Metallosis Oculi&quot;<br />
	Helmut Neubauer (Cologne)</li>
	<li><span>1978 </span> &quot;Modern Trends in Retinal Detachment Surgery&quot;<br />
	G. Meyer Schwickerath (Essen)</li>
	<li><span>1977 </span> &quot;Curious Colobomata&quot;<br />
	Joan Mullaney (Dublin)</li>
	<li><span>1976 </span> &quot;New Methods in the Operative Treatment of Glaucoma&quot;<br />
	Heinrich Harms (Tubingen)</li>
</ul>

<h4>Royal College of Surgeons in Ireland</h4>

<ul>
	<li><span>1975 </span> &quot;Changing Concepts as to Prognosis and Management of Small Malignant Melanomas of the Choroid&quot;<br />
	Lorenz Zimmerman (Washington)</li>
	<li><span>1974 </span> &quot;The Lower Visual Field and Its Importance to Man&quot;<br />
	Stephen Miller (London)</li>
	<li><span>1973 </span> &quot;Vascular Basement Membrane Changes in Diabetic Retinopathy&quot;<br />
	Norman Ashton (London)</li>
	<li><span>1972 </span> &quot;Orbital Fractures&quot;<br />
	G. M. Bleeker (Amsterdam)</li>
	<li><span>1971</span> &quot;Modern Problems in Glaucoma&quot;<br />
	Philip Jameson-Evans (Birmingham)</li>
</ul>

<h4>University of Dublin, Trinity College</h4>

<ul>
	<li><span>1970 </span> &quot;Plastic Surgery and the Eye&quot;<br />
	J. B. Prendiville (Dublin)</li>
	<li><span>1969 </span> &quot;Herpes Zoster Ophthalmicus&quot;<br />
	Harold G. Schere (Philadelphia)</li>
	<li><span>1968 </span> &quot;Uveitis - Immunopathy or Infection&quot;<br />
	David Geraint James (London)</li>
	<li><span>1967 </span> &quot;Cataract in General Disease&quot;<br />
	Gunnar Von Bahr (Uppsala)</li>
	<li><span>1966 </span> &quot;Some Aspects of Corneal Wound Healing&quot;<br />
	Frank Newell (Chicago)</li>
</ul>

<h4>Royal College of Surgeons in Ireland</h4>

<ul>
	<li><span>1965 </span> &quot;Change versus Progress in Ophthalmological Surgical Techniques of the Last Ten Years&quot;<br />
	John Foster (Leeds)</li>
	<li><span>1964 </span> &quot;Ophthalmic Manifestations of Bilateral, Non-Occipital Lesions of the Cerebrum&quot;<br />
	David Cogan (Boston)</li>
	<li><span>1963 </span> &quot;Ocular Manifestations of Diabetic Angiopathy&quot;<br />
	Knud Lundbaech (Aarhus)</li>
	<li><span>1962 </span> &quot;Modern Trends In Cataract Surgery&quot;<br />
	Algernon Reese (New York)</li>
	<li><span>1961 </span> &quot;Malignant Uveal Melanomata&quot;<br />
	J. Francois (Ghent)</li>
</ul>

<h4>University of Dublin, Trinity College</h4>

<ul>
	<li><span>1960 </span> &quot;The Diagnostic Value of the Biomicroscopy of the Posterior Parts of the Eye&quot;<br />
	H. Goldmann (Berne)</li>
	<li><span>1959 </span> &quot;The History of Ophthalmology in Ireland&quot;<br />
	L. B. Somerville-Large (Dublin)</li>
	<li><span>1958 </span> &quot;Gross and Minute Defects of the Germ Cells and Clinical Ophthalmology&quot;<br />
	A. Hagedoorn (Amsterdam)</li>
	<li><span>1957 </span> &quot;Third Nerve Regeneration - Clinical Evaluation&quot;<br />
	Frank B. Walsh (Baltimore)</li>
	<li><span>1956 </span> &quot;Etiology and Pathogeny of Uveitis&quot;<br />
	Moacyr E. Alvero (San Paulo)</li>
</ul>

<h4>Royal College of Surgeons in Ireland</h4>

<ul>
	<li><span>1955 </span> &quot;The Problem of Orbital Implants after Enucleation&quot;<br />
	H. Arruga (Barcelona)</li>
	<li><span>1954</span> &quot;Some New Contributions to the Diagnostic Problems of Glaucoma&quot;<br />
	G. B. Bietti (Parma)</li>
	<li><span>1953</span> &quot;The Early Symptoms of Macular Disease&quot;<br />
	Marc Amsler (Zurich)</li>
	<li><span>1952 </span> &quot;Diffuse Collagenous Diseases with Ocular Complications&quot;<br />
	Derrick Vail (Chicago)</li>
	<li><span>1951</span> &quot;The Surgical Treatment of Detachment of the Retina, with Special Reference to the Treatment of Recurrence&quot;<br />
	H. J. M. Weve (Utrecht)</li>
</ul>

<h4>University of Dublin, Trinity College</h4>

<ul>
	<li><span>1950 </span> No Lecture</li>
	<li><span>1949 </span> &quot;The Preparation of the Whole Patient for Cataract Surgery&quot;<br />
	Daniel B. Kirby (New York)</li>
	<li><span>1948 </span> No Lecture</li>
	<li><span>1947</span> &quot;The Problems of Sympathetic Ophthalmia&quot;<br />
	Bernard R. Samuels (New York)</li>
	<li><span>1946 </span> &quot;Ophthalmological Aspects of Malnutrition&quot;<br />
	Stewart Duke-Elder (London)</li>
</ul>

<h4>Royal College of Surgeons in Ireland</h4>

<ul>
	<li><span>1945 </span> &quot;Retinal Vascular Sclerosis&quot;<br />
	W. Dermot O&rsquo;Donoghue (Dublin)</li>
	<li><span>1944 </span> &quot;The Social and Medical Problems of Phlyctenular Disease in Dublin&quot;<br />
	J. B. McArevey (Dublin)</li>
	<li><span>1943</span> &quot;The Sources, Distribution and Disposal of the Blood in Ocular Haemorrhage&quot;<br />
	A. J. Ballantyne (Glasgow)</li>
	<li><span>1942</span> &quot;Studies in Night Vision and Night Visual Judgement as It Concerns the Ophthalmology of Flying&quot;<br />
	P. C. Livingston (London)</li>
	<li><span>1941 </span> &quot;The Clinical Pathology of Fundus Lesions&quot;<br />
	Arnold Sorsby (London)</li>
</ul>

<h4>University of Dublin, Trinity College</h4>

<ul>
	<li><span>1940 </span> &quot;Pituitary Tumours: Ocular and Surgical Aspects&quot;<br />
	Adams A. McConnell (Dublin)</li>
	<li><span>1939 </span> &quot;The Causes, Preve ntion and Treatment of Spontaneous Retinal Detachment&quot;<br />
	Karl Lindner (Vienna)</li>
	<li><span>1938 </span> &quot;Lesions Affecting the Visual Pathway and their Relation to Neurosurgery&quot;<br />
	Alan J. Mooney (Dublin)</li>
	<li><span>1937</span> &quot;The Aetiology and Treatment of Convergent Concomitant Strabismus&quot;<br />
	S. B. Alabaster (Birmingham)</li>
	<li><span>1936 </span> &quot;Transplantation of the Cornea&quot;<br />
	J. W. Tudor Thomas (Cardiff)</li>
</ul>

<h4>Royal College of Surgeons in Ireland</h4>

<ul>
	<li><span>1935 </span> &quot;Some Aspects of Glaucoma&quot;<br />
	R. Affleck Greeves (London)</li>
	<li><span>1934 </span> &quot;The Bearing of Embryology on Clinical Diagnosis&quot;<br />
	Ida Mann (London)</li>
	<li><span>1933 </span> &quot;Some Impressions derived from my Experience of Cataract Work&quot;<br />
	Robert E. Wright (London)</li>
	<li><span>1932 </span> &quot;Modern Developments in Cataract Extraction&quot;<br />
	Maurice H. Whiting (London)</li>
	<li><span>1931 </span> &quot;The Modern Treatment of Traumatic and Spontaneous Detachment of the Retina&quot;<br />
	Charles B. Goulden (London)</li>
</ul>

<h4>University of Dublin, Trinity College</h4>

<ul>
	<li><span>1930 </span> &quot;The Trachoma Problem&quot;<br />
	Francis J. Lavery (Dublin)</li>
	<li><span>1929 </span> &quot;The Contribution of the Slit-Lamp to Ophthalmology&quot;<br />
	Louis E. J. Werner (Dublin)</li>
	<li><span>1928 </span> &quot;Some Medico- Legal Aspects of Ophthalmology&quot;<br />
	Robert J. Coulter (Newport, Mon.)</li>
	<li><span>1927 </span> &quot;The Retinitis of Arterio-Sclerosis and Its Relation to the Retinitis of Renal Disease and Cerebral Vascular Disease&quot;<br />
	Robert Foster Moore (London)</li>
	<li><span>1926 </span> &quot;Observations on the use of the Slit- Lamp&quot;<br />
	Thomas Harrison Butler (Birmingham)</li>
</ul>

<h4>Royal College of Surgeons in Ireland</h4>

<ul>
	<li><span>1925 </span> &quot;Accommodation&quot;<br />
	Charles B. Goulden (London)</li>
	<li><span>1924 </span> &quot;The Evolution of Pupillary Reactions&quot;<br />
	E. Treacher Collins (London)</li>
	<li><span>1923 </span> &quot;The Movements of the Eyes&quot;<br />
	Grafton Elliott Smith (London)</li>
	<li><span>1922 </span> &quot;(ii)The Influence of Vision in the Development of Man&rsquo;s Intellectual Powers&quot;<br />
	Grafton Elliott Smith (London)</li>
	<li><span>1921</span> &quot;(i)The Influence of Vision in the Development of Man&rsquo;s Intellectual Powers&quot;<br />
	Grafton Elliott Smith (London)</li>
</ul>

<h4>University of Dublin, Trinity College</h4>

<ul>
	<li><span>1920 </span> &quot;Disturbance of Visual Space Perception&quot;<br />
	Gordon M. Holmes (London)</li>
	<li><span>1919 </span> &quot;The Cortical Localization of Vision&quot;<br />
	Gordon M. Holmes (London)</li>
	<li><span>1918 </span> &quot;A Survey of Cases of Concomitant Squint in the Practice of the late Mr. P. W. Maxwell&quot;<br />
	Euphan M. Maxwell (Dublin)</li>
	<li><span>1917 </span> &quot;Observations on Eye Conditions met with in Malta in 1916-1917&quot;<br />
	Euphan M. Maxwell (Dublin)</li>
	<li><span>1916</span> &quot;Diagnosis in Uveitis&quot;<br />
	Euphan M. Maxwell (Dublin)</li>
</ul>
</div>
</div>
<!-----------------
	Mooney Lectures and Lecturers
------------------>

<h2 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse2">Mooney Lecture and Lecturers</a></h2>

<div class="panel-collapse collapse" id="collapse2">
<div class="panel-body">
<div class="lecture-highlight">
<p>The inaugural Mooney Lecture was presented at the ICO Annual Conference in May 1995 by Prof. T.R. Hedges entitled &ldquo;A History of Neuro-ophthalmology: An American Perspective&rdquo;. The Lecture is named in honour of the Mooney Family for their multi-generational contribution to ophthalmology in Ireland.</p>

<p>Ophthalmic Surgeon, Dr Herbert Charles Mooney, was the first of the dynasty to serve the Royal Victoria Eye and Ear Hospital with great distinction through three generations over the entire century. All are revered for the unremittingly high standards they set, for their example to their peers and juniors and for their immense courtesy and quiet generosity. H. C. Mooney was elected President of the Irish Ophthalmological Society from 1927-28.</p>

<p>His son, Ophthalmic Surgeon, Dr Alan J. Mooney, was elected IOS President from 1957-58, and again from 1962-64. It was during this decade that the emergence of the Irish Ophthalmological Society on the international scene was cemented, when in 1952 the IOS hosted a Joint Meeting with the Ophthalmic Society of the United Kingdom (OSUK) in Dublin. This initial joint venture was followed by a joint meeting with the British Society of Neuro-Surgeons in 1956 and with the British Diabetic Society in 1963. The concept of this amalgamation came from Dr. Alan Mooney who was President of the IOS at this time, and his unwavering personal commitment to these events ensured they would be remembered as distinguished landmarks in the history of the Irish Society. Alan Mooney is synonymous with clinical advances in neuro-ophthalmology in Ireland and as the brainchild behind the establishment of The Royal Victoria Eye and Ear Hospital Research Foundation Limited in 1974.</p>
</div>

<p>&nbsp;</p>

<ul>
	<li><span>2024</span> &quot;Trends in Rehabilitation of Patient with Thyroid Eye Disease&quot;<br />
	Prof Geoffrey Rose (London)</li>
	<li><span>2023</span> &quot;Mitochondrial Function - a Potentially Modifiable Risk Factor for Glaucoma? &quot;<br />
	Prof David Garway-Heath (UK)</li>
	<li><span>2022</span> &quot;Improving the outcomes of surgery for Retinal Detachment&quot;<br />
	Prof Stanley Chang (USA)</li>
	<li><span>2021</span> &quot;Recent Clinically Relevant Outcomes from the DRCR Retina Network&quot;<br />
	Dr Neil Bressler and Dr Susan Bressler (Boston)</li>
	<li><span>2020</span> - cancelled due to Covid 19</li>
	<li><span>2019</span> &quot;Old Diseases in the New Century: Deja Vu in the Uveitis Clinic&quot;<br />
	Prof Nicholas Jones (Manchester)</li>
	<li><span>2018</span> &quot;The Challenge of Cataract Surgery - Hard Work to Make it <em>Look</em> Easy&quot;<br />
	Dr. Cynthia Bradford (Oklahoma)</li>
	<li><span>2017</span> &quot;Climbing the Glaucoma Mountain &ndash; Future Challenges and Opportunities&quot;<br />
	Prof. Jonathan Crowston (Melbourne)</li>
	<li><span>2016</span> &quot;Regulation of Corneal Inflammation and Immunity&quot;<br />
	Prof. Reza Dana (Massachusetts)</li>
	<li><span>2015</span> &quot;New Directions in the Management of Diabetic Retinopathy&quot;<br />
	Mr Simon Harding (Liverpool)</li>
	<li><span>2014 </span> &quot;MERSI Guidelines for a Preferred Practice Pattern for the Care of Patients with Recurrent or Steroid-Dependent Uveitis&quot;<br />
	Prof Stephen Foster (Massachusetts)</li>
	<li><span>2013 </span> &quot;Trans-synaptic Degeneration in the Human Visual System&quot;<br />
	Dr Gordon Plant (London)</li>
	<li><span>2012 </span> &quot;Retinal Oximetry in Health &amp; Disease&quot;<br />
	Prof Einar Steffanson (Reykjavik, Iceland)</li>
	<li><span>2011 </span> &quot;OCT Application in Developing Eyes&quot;<br />
	Prof Cindy Toth (North Carolina)</li>
	<li><span>2010 </span> &quot;The Link between Infection and Uveitis&quot;<br />
	Prof John Forrester (Aberdeen, Scotland)</li>
	<li><span>2009 </span> &quot;Evolving Concepts in Pharmacologic Vitreolysis&quot;<br />
	Dr Brooks W. McCuen (North Carolina)</li>
	<li><span>2008 </span> &quot;An Update on Amblyopia&quot;<br />
	Prof Gunther von Noorden (Houston)</li>
	<li><span>2007 </span> &quot;Wavefront-Guided Refractive Surgery: Advances and Impediments&quot;<br />
	Dr Dimitri Azar (Chicago)</li>
	<li><span>2006 </span> &quot;Reconstruction of the Anterior Segment&quot;<br />
	Mr Bruce Noble (Yorkshire)</li>
	<li><span>2005 </span> &quot;Challenging Cases and the Management of Complication during Cataract Surgery&quot;<br />
	Mr. Robert Osher (Cincinnati)</li>
	<li><span>2004</span> &quot;The Twist and Turn of Macular Surgery&quot;<br />
	Mr. David Wong (Liverpool)</li>
	<li><span>2003</span> &quot;Worldwide Eye Disease &ndash; It&rsquo;s Prevention and Treatment&quot;<br />
	Professor Gordon Johnson</li>
	<li><span>2002</span> &quot;What is Neuro-Ophthalmology?&quot;<br />
	Professor Peter Eustace, (Dublin)</li>
	<li><span>2000</span> <em>No lecture</em></li>
	<li><span>1999 </span> &quot;High Risk Corneal Grafting &ndash; Is There an Answer?&quot;<br />
	David. Easty, (Bristol)</li>
	<li><span>1998 </span> &quot;Glacuoma Therapy in the 21 st Century&quot;<br />
	Harry Quigley (Baltimore))</li>
	<li><span>1997 </span> &quot;The Case for Corneal Transplantation&quot;<br />
	Louis Collum (Dublin)</li>
	<li><span>1996</span> &quot;Combined Cataract and Glaucoma Surgery&quot;<br />
	Bo Phillipson (Stockholm)</li>
	<li><span>1995</span> &quot;A History of Neuro-Ophthalmology: An American Perspective&quot;<br />
	T. R. Hedges (Philadelphia)</li>
</ul>
</div>
</div>
<!-----------------
	SOE and Lecturers
------------------>

<h2 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse4">European Society of Ophthalmology (SOE) Lectures and Lecturers </a></h2>

<div class="panel-collapse collapse" id="collapse4">
<div class="panel-body">
<ul>

	<li><span>2024</span> &quot;Paediatric Oculoplastics&quot;<br />
	Mr Michéal O'Rourke</li>
	<li><span>2023</span> &quot;Medical Ophthalmology - A Personal Journey&quot;<br />
	Dr Geraldine Comer </li>
	<li><span>2022</span> &quot;Oculoplastics and Orbit Today&quot;<br />
	Ms Elizabeth McElnea (Galway)</li>
	<li><span>2021</span> Cancelled due to Covid 19</li>
	<li><span>2020</span> Cancelled due to Covid 19</li>
	<li><span>2019</span> &quot;Retinopathy of Prematurity&quot;<br />
	Ms Claire Hartnett (Dublin)</li>
	<li><span>2018</span>&quot;Strabismus Serendipity&quot;<br />
	Mr Edward Loane (Dublin)</li>
	<li><span>2017</span> &quot;Retinal Detachment- Past, Present and Future&rsquo;&quot;<br />
	Mr Ian Dooley (Dublin)</li>
	<li><span>2016</span> &quot;Tackling Immunological Events in Corneal Transplantation&quot;<br />
	Professor Conor Murphy (Dublin)</li>
	<li><span>2015</span> &quot;Diabetic retinopathy and Maculopathy &ndash; Seeing beyond Anti-VEGF Therapy&quot;<br />
	Mr Paul Connell (Dublin)</li>
</ul>
</div>
</div>
<!-----------------
	Barbara Knox Medal 
------------------>

<h2 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse3">Barbara Knox Medal </a></h2>

<div class="panel-collapse collapse" id="collapse3">
<div class="panel-body">
<ul>
	<li><span>2024</span> &quot;Eyes on Spina Bifida: A Two-Decade Retrospective Exploration of Ophthalmic Manifestations in Paediatric Patients at Temple Street Children’s University Hospital, Dublin&quot;<br />
	S. O'Regan</li>

	<li><span>2023</span> &quot;Uveal Melanoma in Ireland&quot;<br />
	A. Greene</li>
	<li><span>2022</span> &quot;The Ecological Impact of Cataract Surgery - Single-use Items Consumption and Knowledge of Ophthalmic Theatre Staff in University Hospital Limerick&quot;<br />
	E. Mahon</li>
	<li><span>2021</span> &quot;The role of &alpha;v&beta;3 integrin and its inhibition in lamina cribrosa cell mechanotransduction in glaucoma&quot;<br />
	S. Powell</li>
	<li><span>2019</span> &quot;Audit of Acute Acquired Esotropia in Adults with Myopia&quot;<br />
	C. McCloskey</li>
	<li><span>2018</span> &quot;Predisposing Risk factors, Clinical and Microbiological Characteristics of Moraxella Keratits&quot;<br />
	T. McSwiney</li>
	<li><span>2017</span> &quot;Comparing the Effectiveness and Tolerability of Preservative-Free Tafluprost Versus Preserved Latanoprost in the Management of Glaucoma and Ocular Hypertension&quot;<br />
	D. Brinkman</li>
	<li><span>2016</span> &quot;Design of Nanoparticle- based MicroRNA Therapeutics in Sj&ouml;aut;gren&#39;s Syndrome&quot;<br />
	Prof. Reza Dana (Massachusetts)</li>
	<li><span>2015</span> &quot;Pellino3 as a Novel Target for the Treatment of Primary Sjogren&rsquo;s Syndrome Related Dry Eyes&quot;<br />
	Q. Pilson</li>
	<li><span>2014</span> &quot;A Molecular Analysis of Human Lamina Cribrosa and Trabecular Meshwork Cell Behaviours as Determined by the Surrounding Extracellular Matrix&quot;<br />
	D Wallace</li>
	<li><span>2013 </span> &quot;The Dublin Uveitis Evaluation Tool (DUET) &ndash; an Algorithm for Earlier Diagnosis of Spondyloarthropathies by Ophthalmologists in Acute Anterior Uveitis&quot;<br />
	M. O Rourke</li>
	<li><span>2012 </span> &quot;Proteomic Research in Uveal Melanoma&quot;<br />
	P. Ramasamay</li>
	<li><span>2011 </span> &quot;Prognostic Indicators and Outcome Measures for Surgical Removal of Symptomatic Non-Advanced Cataract&quot;<br />
	S. Charlampidou</li>
	<li><span>2010</span> &quot;Epidemiology And Clinical Associations Of Primary Retinal Detachment In Scotland: 2 Years Of Prospective Recruitment&quot;</li>
	<li><span>2009</span> &quot;The Effects Of Acute Cigarette Smoke Exposure on Retinal Pigment Epithelial Cells (Arpe-19)&quot;<br />
	S. Ni Dhughbhaill</li>
	<li><span>2008</span> &quot;A Retrospective Study of the Paediatric Practice of one Community Ophthalmologist Over Seventeen Years in Cavan&quot;<br />
	A. Blake</li>
	<li><span>2007 </span> &quot;MRI as a Novel Non-Invasive Method for In Vivo Tracking of Endothelial Progenitor Cells in a Model of Choroidal Neovascularisation&quot;<br />
	D. Kent</li>
	<li><span>2006 </span> &quot;Surviving Expression &amp; Prognostic Significance in Chorodial Melanoma&quot;<br />
	C. Cleary</li>
	<li><span>2005 </span> &quot;A Randomized Placebo Controlled Double-Masked Phase 3 Study of the Treatment of Subfoveal Predominantly Occult Choroidal Neovascularization (CNV) Secondary to Age -Related Macular Degeneration (AMD) using Transpupillary Thermotherapy (TTT)&quot;<br />
	A. Hogan</li>
	<li><span>2004 </span> &quot;Correlation of Central Corneal Thickness with vascular risk factors in Normal Tension Glaucoma&quot;<br />
	A. Doyle</li>
	<li><span>2003</span> &quot;Macular Pigment Optical Density and Dietary Intake of Lutein and Zeaxanthin in Healthy Subjects&quot;<br />
	J. Nolan</li>
	<li><span>2002 </span> &quot;Incubation with Endogenous Retinal Antioxidants Inhibits Chemokine Release by PRE in an In-Vitro Model of Age-Related Macular Degeneration&quot;<br />
	G.T. Higgins</li>
</ul>
</div>
</div>
<!-----------------
	Sir William Wilde Medal
------------------>

<h2 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse5">Sir William Wilde Medal </a></h2>

<div class="panel-collapse collapse" id="collapse5">
<div class="panel-body">
<ul>
	<li><span>2024</span> &quot;Uveal Melanoma Patients Treated with Iodine Plaque versus Ruthenium Plaque versus Proton Beam Radiation: An Ten-Year Review&quot;<br />
	P. Murtagh</li>

	<li><span>2023</span> &quot;Printed Biomechanical Model of the Human Lamina Cribrosa&quot;<br />
	S. Neary</li>
	<li><span>2022</span> &quot;12-month analysis of emergency argon laser retinopexy in an Irish tertiary hospital&quot;<br />
	R. Holohan</li>
	<li><span>2021</span> &quot;Bilateral Penetrating Eye Injury Secondary to Road Traffic Accident in a Modern Era&quot;<br />
	C. Goodchild</li>
	<li><span>2019</span> &quot;A Retinal Rarity&quot;<br />
	B. Woods</li>
	<li><span>2018</span> &quot;Lamina Cribrosa Cell Bioenergetics in Glaucoma:Role of Glycolysis and Glutaminolysis&quot;<br />
	D. Hickey</li>
	<li><span>2017</span> &quot;An Audit of the Quality of Inpatient Referrals Received by the Ophthalmology Consultation Service in a Tertiary Hospital&quot;<br />
	C. Goodchild</li>
	<li><span>2016</span> &quot;Workings of the Royal Victoria Eye and Ear Hospital Application for Smart Phones&quot;<br />
	P. Murtagh</li>
	<li><span>2015</span> &quot;Visual and Refractive Outcomes in Patients with High Astigmatism Following Cataract Surgery with Toric Lens Implantation&quot;<br />
	L. Kobaytor</li>
	<li><span>2014</span> &quot;Ocriplasmin in the Treatment of Vitreomacular Traction and Macular Holes&quot;<br />
	L. Hendricks</li>
	<li><span>2013</span> &quot;To Evaluate Endothelial Cell Count Loss after Five Years Following Phakic Intraocular Lens Insertion&quot;<br />
	C. Baily</li>
	<li><span>2012 </span> &quot;Childhood Craniopharyngiomas; the Irish Experience&quot;<br />
	L. McAnena</li>
	<li><span>2011 </span> &quot;Genomic Medicine and Stargardt Disease &quot;<br />
	D. Armstrong</li>
	<li><span>2010 </span> &quot;Prediction of Effective Lens Position Using A Method Independent Of Preoperative Keratometry Readings&quot;<br />
	I. Dooley</li>
	<li><span>2009 </span> &quot;A Cellular Model of Fuchs&rsquo; Endothelial Dystophy&quot;<br />
	C Kelliher</li>
	<li><span>2008 </span> &quot;Age Dependent Rat Retinal Ganglion Cell (Rgc) Susceptibility To Apoptotic Stimuli: Implications For Glaucoma Research &quot;<br />
	M Guerin</li>
	<li><span>2007 </span> &quot;Visual Outcomes and Graft Survival following Corneal Transplants: the need for an Irish National Corneal Transplant Registry&quot;<br />
	M Guerin</li>
	<li><span>2006 </span> &quot;The Role of Sonic Hedgehog Protein in Ethanol-Induced Ocular Teratogenesis&quot;<br />
	K. Kennelly</li>
	<li><span>2005 </span> &quot;The Photopic and Scotopic Visual Thresholds in Eyes with Solar Retinopathy: a Comparison with the Anatomical Damage&quot;<br />
	L O&rsquo;Toole</li>
	<li><span>2004 </span> &quot;Investigation and Management of Epidemic Intraocular Lens Opacifcation&quot;<br />
	R Altaie</li>
	<li><span>2003 </span> &quot;Exposure of Photoreceptor Outer Segments to Blue Light Induces a Pro-Angiogentic Response from the Retinal Pigment Epithelium&quot;<br />
	E. Cosgrave</li>
	<li><span>2002 </span> &quot;Gene Expression in Diabetic Reinopathy&quot;<br />
	R. Kane</li>
	<li><span>2001 </span> &quot;Ocular Toxoplamosis-Pathogenesis Revisited&quot;<br />
	H. McLoone</li>
	<li><span>2000</span> &quot;The Effects Of Topical Anti-Glaucoma Medications On The Ciliary And Optic Nerve Head Arterioles In The Rat Eye&quot;<br />
	S. Byrne</li>
</ul>

<h2 background-color:="" class="panel-title" style="font-weight: normal; line-height: 1.2; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">&nbsp;</h2>
</div>
</div>
<!-----------------
	John Blake Medal
------------------>

<h2 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse6">John Blake Medal </a></h2>

<div class="panel-collapse collapse" id="collapse6">
<div class="panel-body">
<div class="lecture-highlight"><img alt="Photo in black and white of Dr Blake" src="/medium/images/john-blake.jpg" style="float:left;max-height:180px;padding-right:5px;" />
<h3>John Blake, MCh, FRCSI, FRCSEd, FRCS, FRCOphth<br />
1932-2011</h3>

<p>John Blake was born in Cork, studied Medicine at University College Cork on a scholarship and trained in Ophthalmology in Nottingham, London and Heidelberg. He was consultant at the Royal Victoria Eye &amp; Ear Hospital and St Vincent&#39;s Hospital, Dublin. Research into Road Traffic Accidents and eye injury led him to lobbying government successfully to make seatbelt wearing compulsory and changed windscreens from toughened to laminated. These changes virtually eliminated perforating eye injuries from road traffic accidents.</p>

<p>The John Blake Medal was first awarded in 2019 for the best research paper at the annual conference of the Irish College of Ophthalmologists.</p>
</div>

<ul>
	<li><span>2023</span> &quot;Comparing the Safety and Efficacy of Preserflo Microshunt Implantation and Trabeculectomy for Glaucoma: A Systematic Review and Meta-Analysis &quot;<br />
	A. Khan</li>
	<li><span>2022</span> &quot;Autotaxin: A Fibrosis Target in the Lamina Cribrosa in Glaucoma&quot;<br />
	A. O&#39;Regan</li>
	<li><span>2019</span> &quot;Fundus Fluorescein Angiography in Human Subjects Displays Circadian Variation&quot;<br />
	A. Hopkins</li>
</ul>
</div>
</div>
</div>
</div>
