<h1>ICO Guidelines on the Consent Process</h1>

<p>The College has published <strong>Guidelines on the Consent Process in Ophthalmology</strong> in recognition of the need to provide guidance to its members on best practice of the patient consent process for ophthalmic procedures</p>

<p>A series of Patient Information Leaflets aimed at providing patients with clear and accessible information in advance of a proposed procedure have also been produced and can be viewed on the ICO website <u>here</u>.&nbsp; If ICO members wish to request a template copy of a leaflet(s) please contact the ICO directly.</p>

<p>The documents were developed by the ICO Ethics and Professional Standards Committee and are aimed at providing greater support to both patient and doctor during the consent process.</p>

<p><a href="/medium/files/ICO Consent Guidelines_Hi.pdf" target="_blank">Guidelines on the Consent Process in Ophthalmology</a></p>

<p>&nbsp;</p>
