<h1>Practitioner Health Matters Programme </h1>

<p>The services provided through the Practitioner Health Matters Programme are available to our members and the College would like to remind doctors of what support the service can offer.</p>
<p>Formally called the 'Sick Doctor Scheme', the 'Practitioner Health Matters Programme' (<acronym title="Practitioner Health Matters Programme">PHMP</acronym>) is the new title of the scheme which provides confidential care and support for health professionals who may have substance misuse problem and other mental health issues.   It has been designed to reflect international best practice in practitioner health.</p>

<p>The <acronym title="Practitioner Health Matters Programme">PHMP</acronym> on a not-for-profit basis and is funded primarily by voluntary contributions and professional associations.  The Programme has the support of the representative and training bodies for the medical, dental and pharmacy professions, as well as the three professional regulatory bodies for those professions</p>

<p>The service offers confidential help from experts who will provide appropriate interventions, including advice, support, mentoring and appropriate specialist referrals for doctors (including undergraduate medical students) who have a health problem which is interfering with their ability to practice safely.</p>

<p>
	Services may include access to a range of specialists who have a particular interest and experience in treating doctors.  These specialties include psychiatry, psychology, occupational health, career mentoring, life coaching, addiction counselling and financial planning, drug and alcohol testing. Other services will be accessed depending on the individual's needs.
</p>
<p>Practitioner Health Matters can be contacted confidentially through the website <a href="http://www.practitionerhealth.ie" target="ext">www.practitionerhealth.ie</a>, by calling <a href="tel:35312970356" style="text-decoration:none">01 297 0356</a> or email <a href="mailto:confidential@practitionerhealth.ie" target="ext">confidential@practitionerhealth.ie</a>. </p>
