<h1>Professional Competence</h1>

<p><button class="btn btn-default" onclick="window.open('https://pcs.rcsi.ie/','ext')">Log your CPD Points</button></p>

<div class="panel-group" id="accordion">
<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2">What is Professional Competence? </a></h2>

<div class="panel-collapse collapse" id="collapse2">
<div class="panel-body">
<p>Since May 1st 2011, all doctors who hold Specialist, General or Supervised registration with the Medical Council and practise for more than 30 days a year in Ireland, are legally obliged to enrol in a Professional Competence Scheme (PCS) and meet the requirements set by the Medical Council. This involves engaging in CPD activity, and recording/retaining supporting documentation relating to your CPD activities.</p>

<p>ICO is responsible for operating the scheme for medical and surgical eye specialists.</p>

<p><a href="/medium/images/ICO_Guide_to_PCS_FINAL-a.pdf" target="_blank">Learn more by downloading our Guide to PCS</a><a href="/medium/images/ICO_Guide_to_PCS_FINAL-r.pdf" target="_blank"> </a> (PDF)</p>
</div>
</div>
</div>

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse3">PCS Requirements</a></h2>

<div class="panel-collapse collapse" id="collapse3">
<div class="panel-body">
<p>The Professional Competence Scheme year runs from May 1 to April 30.</p>

<p>Professional Competence has two key components:</p>

<ul>
	<li>(1) Continuing Professional Development (CPD); and,</li>
	<li>(2) Clinical / Practice Audit.</li>
</ul>

<p>CPD is measured in hours with each full hour of educational activity = 1 CPD credit.&nbsp;</p>

<p>PCS requires year-on-year compliance; there is no mechanism to &lsquo;carry forward&rsquo; credits or competence from year to year.</p>

<p><strong>1. Continuing Professional Development (CPD)</strong></p>

<p dir="ltr">Doctors are required to undertake and record the following CPD activity with their Scheme:</p>

<p dir="ltr">In the current year 2023-2024, Doctors must accumulate&nbsp;40 CPD credits.&nbsp;</p>

<p dir="ltr">The&nbsp; 40 CPD credits can be recorded across any of the below categories:</p>

<ul>
	<li><b>External</b> (maintenance of knowledge and skills)&nbsp;</li>
	<li><b>Internal</b> (practice evaluation and development)</li>
	<li><b>Personal Learning</b>&nbsp;</li>
	<li><b>Research and Teaching</b>&nbsp;</li>
</ul>

<p><strong>2. Clinical Practice Audit or Quality Improvement Project</strong></p>

<p>An audit of practice or quality improvement project&nbsp;must be completed.</p>

<p>The purpose of the audit is to establish if best practice is being adhered to for quality assurance and improvement purposes.</p>

<p>If your audit or quality improvement audit spans over two PCS years, record it in the year you completed majority of work.</p>

<p>The Medical Council provide useful video resources for Clinical/Practice Audit guidance:</p>

<p><a href="https://www.medicalcouncil.ie/News-and-Publications/Videos/Clinical-Audit-Guides/Clinical-Audit-Guides.html" target="_blank">https://www.medicalcouncil.ie/News-and-Publications/Videos/Clinical-Audit-Guides/Clinical-Audit-Guides.html</a></p>

<p>Presuming that the audit or improvement project takes 10 hours, This brings the annual requirements to 50 hours of CPD activity.</p>

<p>For guidance on Continuing Professional Development and the Clinical / Practice Audit, please consult the <a href="/medium/images/ICO_Guide_to_PCS_FINAL-a.pdf" target="_blank">ICO Guide to PCS&nbsp;</a></p>

<div style="background-color: #eeeeef; padding: 1rem;">
<p><strong>CPD Requirements for Scheme Year 2024/25</strong></p>

<div role="alert">
<p dir="ltr">The Medical Council recently approved the new Maintenance of Professional Competence Rules and Guidelines representing an important step to bring Maintenance of Professional Competence (MPC) in line with international practice and incorporate right touch and compassionate regulation.</p>

<p dir="ltr">The Rules and Guidelines associated with the evolved Maintenance of Professional Competence Framework Model will commence in May 2025</p>

<p dir="ltr">The requirements for the PCS year 1 May 2024 &ndash; 30 April 2025 will remain as the current PCS year (40 hours in any CPD category and 1 audit/quality improvement project)</p>

<p dir="ltr">The new Arrangements which formalise the operation of the evolved MPC Model will commence in May 2024 with the first year focusing on developments and to support implementation for May 2025.&nbsp;</p>
</div>
</div>
</div>
</div>
</div>

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse4">PCS Account/Enrol</a></h2>

<div class="panel-collapse collapse" id="collapse4">
<div class="panel-body">
<p>The ICO is using the PCS Account developed by the RCSI which aims to support you in meeting the PCS requirements and allow you to easily record your professional competence activity.</p>

<p>Once enrolled, you can view your PCS Account dashboard at any time by <a href="https://pcs.rcsi.ie" target="PCS" title="logging into PCS">logging into PCS</a> on a PC, tablet or mobile device:</p>

<p><a a="" href="https://pcs.rcsi.ie" https:="" target="PCS" title="logging into PCS ">Evidence of attendance at educational activities is required and should be uploaded to your PCS Account should they be required for validation audit purposes. You are encouraged to keep your CPD activity records up-to-date.</a></p>

<p><a a="" href="https://pcs.rcsi.ie" https:="" target="PCS" title="logging into PCS ">To enrol on the ICO PCS Scheme please follow this </a><a href="https://pcs.rcsi.ie/" target="PCS">link</a></p>

<ol>
	<li>Press the &#39;<em>enrol</em>&#39; tab</li>
	<li>Fill in the online application form, giving details of your qualifications, Medical Council number and current post</li>
	<li>Pay the fee &euro;250 annually (a reduced fee is payable by ICO members)</li>
	<li>Submit online application and await confirmation of enrolment</li>
	<li>Record CPD and&nbsp;Audit activity</li>
</ol>

<p>Supports:</p>

<ul>
	<li><a href="/medium/images/How_to_upload_records_(1)-m.pdf" target="PCS">How to Upload Records</a></li>
	<li><a href="/medium/images/How_to_access_PCS_via_smartphonePM-d.pdf" target="PCS">How to Access PCS via Smartphone</a></li>
	<li><a href="/medium/images/How_to_Download_Your_Statement-k.pdf" target="PCS">How to Download your Statement</a></li>
	<li><a href="/medium/images/How_to_Clone_a_record-w.pdf" target="PCS">How to Clone a Record</a></li>
	<li><a href="/medium/images/Maintaining_Professional_Competence-u.pdf" target="_blank">Maintaining Professional Competence</a>
	<ul>
		<li>How to Enrol: Page 19</li>
		<li>Forgot/Change Your Password: Page 55</li>
		<li>How to Paye your PCS Fee: Page 59</li>
	</ul>
	</li>
</ul>

<p>&nbsp;</p>
</div>
</div>
</div>

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse8">ICO Members PCS Supports and Templates</a></h2>

<div class="panel-collapse collapse" id="collapse8">
<div class="panel-body">
<p>The ICO has developed Guides and Templates for our members to aid both understanding of the PCS requirements and to reduce the administrative burden of having to create documents to evidence activity. Please refer to these at the start of the PCS year as they may answer any questions you have or help you plan for the year ahead.</p>

<h4>ICO Online Journal Club</h4>

<p>The introduction of the ICO Online Journal Club is aimed at further supporting members with online learning opportunities. Time spent reading the articles can be recorded for personal learning points for the professional competence scheme.</p>

<p>Members can access these resources by logging in to the ICO membership portal <a href="https://www.eyedoctors.ie/members/login/" target="_blank">here</a> and visiting the Professional Competence page.</p>

<p>&nbsp;</p>
</div>
</div>
</div>

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse5">Information for Enrolled Doctors</a></h2>

<div class="panel-collapse collapse" id="collapse5">
<div class="panel-body">
<h4>How You Choose Your Learning</h4>

<p>As a PCS participant, you have the opportunity to shape your learning. PCS activity should be meaningful to your educational and practice needs.</p>

<h5 style="color:#b8094d;">Learning Outcomes</h5>

<p>The ICO encourages you to focus on the learning outcomes of your activities - What did you learn? How has it helped your practice?</p>

<p>While there are minimum PCS requirements to be met, designing your own learning portfolio and choosing with a learning outcome in mind, will help you build skills that can directly improve your own skills and your workplace.</p>

<h5 style="color:#b8094d;">Eight Domains of Good Professional Practice</h5>

<p>There are eight principles on which good practice is founded and set out by the Medical Council.</p>

<p>Referring to the eight Domains of Good Professional Practice will aid you in selecting a diverse range of activities, ensuring you have a balanced professional competence portfolio that encourages best practice.</p>

<ol>
	<li>Patient Safety and Quality of Patient Care</li>
	<li>Relating to Patients</li>
	<li>Communication and Interpersonal Skills</li>
	<li>Collaboration and Teamwork</li>
	<li>Management (including Self-Management)</li>
	<li>Scholarship</li>
	<li>Professionalism</li>
	<li>Clinical Skills</li>
</ol>
For more information on the eight domains, please visit the Medical Council&#39;s webpage on <a href="https://www.medicalcouncil.ie/existing-registrants-/good-professional-practice/" target="ext">Good Professional Competence</a>.

<p>We also recommend reading the Medical Council guidance on <a href="https://www.medicalcouncil.ie/public-information/professional-conduct-ethics/" target="ext">Professional Conduct and Ethics</a></p>

<h4>Annual Statement of Participation</h4>

<p>Your Annual Statement of Participation is an important document that has been approved by the Medical Council to show you have a formal record of participation in Professional Competence, as required by the Medical Practitioner&#39;s Act. The statement outlines what you have recorded on your PCS Account and will show if you have had your portfolio validated and the result of this process. It will also show if you have reported an absence from practice of three or more months during the PCS year (May to April).</p>

<p>The Medical Council may ask you for evidence of participation in a PCS and you can submit your Annual Statement of Participation as appropriate evidence.</p>

<p>At any time during the PCS year, you can access your statement by logging into your <a href="https://pcs.rcsi.ie/" target="ext">PCS Account</a>.</p>

<h4>Annual Planning</h4>

<p>You are responsible for developing and implementing your plan for the PCS year, relevant to your roles and responsibilities. Although it&rsquo;s not compulsory to complete an Annual Plan, the ICO recommends that you do as it can be a useful tool to think about what activities you would like to participate in and to plan dates and leave at the start of the PCS year.</p>

<p>Annual plans are not reviewed or scored &ndash; their purpose is to record that you engaged in the activity of planning for the PCS year. Your plan may change during the year, depending on circumstances within your practice, but the ICO advises to create a plan at the beginning of the year so that you can organise the resources you need to participate. There is also an option to complete and upload an Annual Plan Reflection at PCS year end. This is an opportunity to reflect on your overall experience of professional development for the year; highlight what was achieved, what could not be included and what can be learned for the next PCS year.</p>

<p>If you complete and upload an Annual Plan in your PCS Account by 30 September, you can claim 2 credits in the Internal CPD category.</p>

<p>If you complete and upload an Annual Plan Reflection in your PCS Account toward the end of the PCS year and by 30 April at the latest, you can claim 1 credit in the Internal CPD category.</p>

<p>The ICO templates for Annual Plan and Annual Plan Reflection are available to download on the Member&rsquo;s Portal.&nbsp; ICO members can login <a href="https://www.eyedoctors.ie/members/login/" target="_blank">here</a></p>

<h4>ICO PCS Validation Audit</h4>

<p>The ICO is required by the Medical Council to carry out an annual validation of activities recorded by doctors participating in a Professional Competence Scheme. Every year a random group of enrolled doctors is selected for validation. The PCS Account record of selected doctors is reviewed to check if they are meeting the minimum requirements of the Scheme. The evidence uploaded to support the activities recorded is also reviewed.</p>

<p>The ICO will contact you if you have been randomly selected and will provide support through the whole process. For more information please consult the ICO Guide to PCS Validation Audit on the <a href="https://www.eyedoctors.ie/members/login/" target="_blank">Members Portal</a>.</p>

<p>Participation in a validation process is indicated on the Statement of Participation. Please also be aware that the Medical Council will carry out a separate audit of scheme participants every year.</p>

<h4>Retired Doctors</h4>

<p>There are two categories of retired doctors:</p>

<h5 style="color:#b8094d;">Fully Retired Doctors</h5>

<p>If you are no longer seeing patients and not participating in activity that requires registration with the Medical Council, it may be difficult to meet the Professional Competence requirements. If this is the case, you may wish to consider <a href="http://www.medicalcouncil.ie/Information-for-Doctors/Voluntary-Withdrawal/" target="ext">voluntary withdrawal from the Register</a></p>

<h5 style="color:#b8094d;">Partially Retired Doctors</h5>

<p>You occasionally see patients or are engaged in activities that require registration with the Medical Council, e.g. tutoring, teaching, medico-legal work, professional advisor, etc.</p>

<p>From the perspective of patient safety, the responsibility to maintain professional competence applies to all doctors, regardless of their working less than full-time, or on an occasional basis.</p>

<p>Therefore, if you have partially retired you are obliged to fulfill your statutory duty to maintain professional competence and enrol and participate fully in a PCS.</p>

<p>For further information, please visit the <a href="https://www.medicalcouncil.ie/information-for-doctors/professional-competence/retired-doctors/" target="ext"> Medical Council website</a>. You also may find it useful to contact by phone or email the Medical Council Professional Competence Scheme section.</p>

<h5>Consultant CME Fund</h5>

<p>The Consultant CME Fund is a scheme open to Consultants employed in the public service. It allows Consultants claim a maximum of &euro;3,000 per year towards courses and conference, reference materials and professional fees.</p>

<p>Further information is available in the HSE Consultant <a href="https://www.hse.ie/eng/staff/leadership-education-development/met/ed/fin/concmedoc.pdf" target="ext">CME Fund guidance document</a> and the <a href="https://www.hse.ie/eng/staff/leadership-education-development/met/ed/fin/consultantcme-appv2-.doc" target="ext">application form</a> should be completed in full and returned to the relevant employer for processing.</p>
</div>
</div>
</div>
<!-- div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse6">Resources</a></h2>

<div class="panel-collapse collapse" id="collapse6">
<div class="panel-body">
<p>The ICO has developed Guides and Templates both to aid understanding of the PCS requirements and to reduce the administrative burden of having to create documents to evidence activity.</p>

<p>Please refer to these at the start of the PCS year as they may answer any questions you have or help you plan for the year ahead.</p>

<p>These resources are available via the <a href="https://www.eyedoctors.ie/members/login/" name="ICO Members Online Portal" target="wildapricot">ICO Members Online Portal</a></p>
</div>
</div>
</div
-->

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse11">FAQs</a></h2>

<div class="panel-collapse collapse" id="collapse11">
<div class="panel-body"><a href="/medium/files/Professional Competence Scheme Handbook.pdf" target="doc" title="Download the booklet 'Maintaining Professional Competence'"><img align="left" src="/images/rcsi_maintaining_professional_comp.jpg" style="padding-right:7px;" title="Maintaining Professional Competence" /></a><br />
&nbsp;
<h4><a href="/medium/files/Professional Competence Scheme Handbook.pdf" target="doc" title="Download the booklet 'Maintaining Professional Competence'">Forum of Postgraduate Medical Training Bodies Frequently Asked Questions Regarding PCS</a></h4>
<a href="/medium/files/Professional Competence Scheme Handbook.pdf" target="doc" title="Download the booklet 'Maintaining Professional Competence'"> </a>

<ol>
	<li><a href="/documents/FAQsupdated2013.pdf" target="doc" title="FAQ | Download as PDF Document">Download as PDF Document</a></li>
	<li><a href="/documents/FAQsupdated2013.doc" target="doc" title="FAQ | Download as Ms Word Document">Download as Ms Word Document</a></li>
</ol>
</div>
</div>
</div>

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse12">CPD Recognition of Events/Activities</a></h2>

<div class="panel-collapse collapse" id="collapse12">
<div class="panel-body">
<p>Prior to applying for CPD recognition, we advise that you please read the <a href="/medium/files/ICO_Guidelines_CPD_Recognition_Educational_Events.pdf" target="doc" title="Read the Guidelines for Educational Events Approval of CPD Points Proces">Guidelines for Educational Events Approval of CPD Points Process</a> in full.</p>

<p>To apply, you will need to complete all sections of the online application form: <a href="https://forms.gle/6WiY69UtQkmfHFFA8" target="ext" title="Go to the online ICO Application form for CPD Recognition">ICO Application for CPD Recognition</a></p>

<p>You will also need to organise the following supporting documents and submit them to <a href="mailto:siobhan.kelly@eyedoctors.ie">siobhan.kelly@eyedoctors.ie</a></p>

<ul>
	<li>Medical Organiser&rsquo;s Declaration (MOD) - <a download="" href="/medium/files/ICO_Medical_Organiser_Declaration_CPD Recognition.docx" target="doc" title="Download the Medical Organiser’s Declaration form">Download the form</a></li>
	<li>Copy of your Invite/Programme for the event</li>
	<li>Copy of your template Post-Event Feedback (that your attendees will complete after the event)</li>
</ul>

<p>Applications cannot be reviewed unless all instructions on the online form have been followed correctly and all supporting documents have been submitted in good order.</p>
</div>
</div>
</div>

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse13">Continuing Professional Development - Support Scheme (CPD-SS)</a></h2>

<div class="panel-collapse collapse" id="collapse13">
<div class="panel-body">
<p>For information on the CPD - Support Scheme please visit&nbsp;<a href="https://www.eyedoctors.ie/trainees/CPD_Support_Scheme.asp" target="_blank">https://www.eyedoctors.ie/trainees/CPD_Support_Scheme.asp</a></p>
</div>
</div>
</div>
</div>
