<h1>Referring</h1>

<div class="panel-group" id="accordion">
<div class="panel panel-default">
<h2><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse1">Referring to Eye Doctors </a></h2>

<div class="panel-collapse collapse in" id="collapse1" style="padding-left:30px;">
<div class="panel-body">
<h2 class="panel-title">Referring to an Eye Doctor</h2>

<p>For an appointment to see any medical specialist working in the HSE, including eye doctors, a patient needs to get a referral from their General Practitioner (GP). A GP has knowledge of the specialists in his/her region and can ensure that any important information relating to the patients medical history is passed to the eye doctor.</p>
</div>
</div>
</div>

<div class="panel panel-default">
<h2 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2">Referring Patients to Support Services</a></h2>

<div class="panel-collapse collapse" id="collapse2">
<div class="panel-body">
<div class="panel-group" id="SupportService" style="padding-left:30px;">
<div class="panel panel-default">
<h3><a class="collapsed" data-parent="#SupportService" data-toggle="collapse" href="#Support1">Making a Referral to Vision Ireland&nbsp;</a></h3>

<div class="panel-collapse collapse" id="Support1">
<div class="panel-body">
<p>Vision Ireland (the name&nbsp;NCBI)&nbsp;is&nbsp;Ireland&#39;s national charity working for the rising number of people affected by sight loss. The&nbsp;practical and emotional advice and support they provide help people living with vision impairment&nbsp;and their families confidently face their futures every year.&nbsp;</p>

<p>Vision Ireland&nbsp;provide a wide range of services to people who are blind or vision impaired in Ireland.&nbsp; 95% of the people who use VI&nbsp;services have some useful vision and are not totally blind.</p>

<h4>Who do I refer to Vision Ireland?</h4>

<p>Anybody experiencing problems with their eyesight (which cannot be corrected with prescription glasses or lenses) to the point where everyday tasks are becoming harder to carry out can be referred to Vision Ireland. They do not have to meet the medical criteria to register as &#39;<em>blind</em>&#39;.</p>

<p>Once a referral is received, Vision Ireland&nbsp;will then carry out an assessment that will determine the person&#39;s functional vision, what their needs are and whether they would benefit from our services.</p>

<p>A referral to Vision Ireland&nbsp;will ensure that the person will have access to a wide range of services, including:</p>

<ul>
	<li>Emotional support,</li>
	<li>Practical advice,</li>
	<li>Guidance on magnification devices,</li>
	<li>Technology solutions,</li>
	<li>Skills to help the person get out and about.</li>
</ul>

<h4>&nbsp;</h4>

<h4>How do I make a referral?</h4>

<p><strong>Online referrals</strong> by an eye doctor for their patient can be made through the Vision Ireland&nbsp;website <a href="https://vi.ie/" target="_blank">here&nbsp;</a></p>

<p>Alternatively, call Vision Ireland&nbsp;Head Office, Mon- Fri,&nbsp;9am to 5pm on Tel: <a href="tel:35318307033">01 8307033</a>.</p>
</div>
</div>
</div>

<div class="panel panel-default">
<h3><a class="collapsed" data-parent="#SupportService" data-toggle="collapse" href="#Support2">Guidedogs</a></h3>

<div class="panel-collapse collapse" id="Support2">
<div class="panel-body">
<h4>Irish Guide Dogs for the Blind Welcomes Direct Referrals</h4>

<p>Ophthalmologists play a key role in supporting persons with significant vision impairment. Their level of support to a patient can go beyond treating or stabilising the eye condition. By referring a blind or vision impaired person to Irish Guide Dogs for the Blind (IGDB) an ophthalmologist can help ensure the person can adapt to their loss of vision.</p>

<p><b>How to make a referral:</b><br />
Simply contact the Client Services Department by post, email or telephone. Referrals can also be made online through the organisation&rsquo;s website. The Client Services Team is well equipped to deal with queries and appropriate support is provided to applicants throughout the process.</p>

<p><b>Contact Details:</b><br />
Client Services Department,<br />
Irish Guide Dogs for the Blind,<br />
Model Farm Road,<br />
Cork.<br />
T: <a href="tel:+353214878200">021 487 8200</a><br />
E: <a href="mailto:info@guidedogs.ie?subject=Referral" title="Email info@guidedogs.ie">info@guidedogs.ie</a><br />
W: <a href="http://www.guidedogs.ie" target="ext" title="guidedogs.ie">guidedogs.ie</a></p>

<p><b>The benefits of making a referral:</b><br />
Irish Guide Dogs for the Blind is a national charity dedicated to enhancing the mobility and independence of persons who are blind or have impaired vision. It offers a comprehensive set of services that equips participants with the skills to overcome the challenges of vision loss.<br />
Its life changing services include:</p>

<ul>
	<li><b>Guide Dog Programme:</b> Many people who have impaired vision or total sight loss enjoy the independence and companionship that comes from owning a guide dog. What distinguishes a guide dog from other mobility aids is it offers social and emotional benefits.</li>
	<li><b>Orientation and Mobility Programme (Long Cane Training):</b> This programme is tailored to enable participants to use the long-cane as a mobility aid with a strong emphasis on safety, confidence-building and promoting independent travel.</li>
	<li><b>Independent Living Skills Programme: </b>This programme is designed to help participants acquire skills on how to make the home accessible and to gain greater confidence in performing household chores.</li>
	<li><b>The Next Step Programme:</b> This programme aims to equip young people who are blind or vision impaired with the skills to manage the transition to life in third level education or the workplace.</li>
</ul>

<p>&nbsp;</p>

<p><b>Did you know?</b></p>

<ul>
	<li>Persons do not have to have total sight loss, or be registered blind, to avail of these services. Most persons who use these services have some remaining vision.</li>
	<li>Age is not a barrier. The minimum age requirement for these services is 16 and there is no upper age limit. Many persons train with a guide dog in their 70s and 80s.</li>
	<li>Age is not a barrier. The minimum age requirement for these services is 16 and there is no upper age limit. Many persons train with a guide dog in their 70s and 80s.</li>
	<li>All services are provided free of charge.</li>
	<li>Each guide dog partnership costs the organisation &euro;38,000.</li>
	<li>More than 80 per cent of its funding comes from voluntary donations.</li>
</ul>

<p>&nbsp;</p>

<p>Irish Guide Dogs for the Blind would be delighted to provide its service brochures for display in your clinics. Direct referrals from Ophthalmologists are always welcome.</p>
</div>
</div>
</div>

<div class="panel panel-default">
<h3><a class="collapsed" data-parent="#SupportService" data-toggle="collapse" href="#Support3">Fighting Blindness </a></h3>

<div class="panel-collapse collapse" id="Support3">
<div class="panel-body">
<h4>Fighting Blindness - Who we are?</h4>

<p>Fighting Blindness is an Irish, patient-led organisation funding research into treatments and cures for blindness. We provide a professional counselling service for people and families affected by sight loss and are extremely active in the area of advocacy and patient empowerment. Our vision is to cure blindness, support people experiencing sight loss and empower patients.</p>

<h4>Why refer patients to Fighting Blindness?</h4>

<p>We deal with rare, inherited and age-related forms of sight loss and represent the 224,000 people in Ireland affected by vision loss.</p>

<p>We offer patients reliable and expert information about complicated rare genetic conditions as well as conditions like age-related macular degeneration (AMD) and diabetes related sight loss. We provide up to date information about on-going research into potential therapies for these conditions.</p>

<p>We are creating an all-Ireland patient register for inherited retinal conditions and can offer patients with these conditions access to genetic testing through our Target 5000 research project so that they can obtain a genetic diagnosis as well as a clinical diagnosis for their condition.</p>

<p>We offer professional counselling and support, through the Insight Counselling Service, to people and families affected by sight loss. The centre was established in 2002 to help people cope with the challenges of being diagnosed with, and living with, conditions that cause sight loss. Services include individual couples&rsquo; and family counselling as well as peer support groups.</p>

<h4>How to make a referral?</h4>

<p>You can contact the main office of Fighting Blindness or the Insight Counselling Service by phone, email or post through the contact details listed below. You can contact us for any of our literature or information guides about specific conditions or visit our website, www.FightingBlindness.ie, for further details about any of the above.</p>

<p><b>Fighting Blindness</b><br />
3rd Floor, 7 Ely Place, Dublin 2<br />
Tel: <a href="tel:+35316789004" style="color:#2E2F30;text-decoration:none">01 6789 004</a><br />
Email: <a href="mailto:info@fightingblindness.ie">info@fightingblindness.ie</a></p>

<p><b>Insight Counselling Service </b><br />
Tel: <a href="tel:+35316746496">01 674 6496</a><br />
Email: <a href="mailto:insight@fightingblindness.ie" style="color:#2E2F30;text-decoration:none">insight@fightingblindness.ie</a></p>

<p>&nbsp;</p>
</div>
</div>
</div>

<div class="panel panel-default">
<h3><a class="collapsed" data-parent="#SupportService" data-toggle="collapse" href="#Support4">Childvision</a></h3>

<div class="panel-collapse collapse" id="Support4">
<div class="panel-body">
<h4>ChildVision - Assessment Process, Screening and Patients Referrals</h4>

<p><a href="/medium/images/7304-Childvision-Services-brochure-A4-screen-u.pdf" target="_blank">ChildVision Services Brochure&nbsp;</a></p>

<ul>
	<li><a href="/medium/files/Assessment Leaflet FNL.pdf" target="doc" title="Assessment Leaflet Fnl">Assessment Leaflet Fnl</a></li>
	<li><a href="/medium/files/Assessment Screening and Prioritisation Process and Criteria.pdf" target="doc" title="Assessment Screening and Prioritisation Process">Assessment Screening and Prioritisation Process</a></li>
	<li><a href="/medium/files/Pathway for Arena Assessment For Older Child.pdf" target="doc" title="Pathway for Arena Assessment for Older Children">Pathway for Arena Assessment for Older Children</a></li>
	<li><a href="/medium/files/Pathway for Arena Assessment Preschool Age Child.pdf" target="doc" title="Pathway for Arena Assessment for Pre School Children">Pathway for Arena Assessment for Pre School Children</a></li>
</ul>

<p>&nbsp;</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
