<h1>Diabetic RetinaScreen - The National Diabetic Retinal Screening Programme</h1>

<p>Diabetic RetinaScreen is the National Diabetic Retinal Screening Programme. It is a government-funded screening programme that offers free, regular diabetic retinopathy screening to people with diabetes aged 12 years and older.</p>

<p>Diabetic RetinaScreen uses specialised digital photography to look for changes that could affect sight. Individuals&nbsp;in Ireland&nbsp;who have been diagnosed with diabetes should be on the register for screening. If your patient&nbsp;has&nbsp;diabetes and would like to check if they are&nbsp;on our register, a Freephone 1800 45 45 55 can be called and choose option 1. If the programme has been informed they&nbsp;were diagnosed with diabetes, the patient&nbsp;will be invited by letter to attend for screening. When the patient&nbsp;gets the letter, they&nbsp;must call the freephone number.</p>

<p>Further information on the screening programme is available at&nbsp;<a href="http://www.diabeticretinascreen.ie/" style="color: rgb(7, 130, 193); " target="_blank">http://www.diabeticretinascreen.ie/</a></p>

<p>The following links are to talks given by&nbsp;Mr David Keegan,&nbsp;Consultant Ophthalmic Surgeon and National Clinical Lead for Diabetic Retinopathy and Mr Rob Acheson, Clinical Lead at the Mater&nbsp;Misericordiae University Hospital and Mater Private Hospital&nbsp;in relation to Diabetic Retinopathy&nbsp;and the National Diabetic Retina Screen Programme.</p>

<p><a href="http://video.researchfoundation.ie/2014_frontiers_in_ophthalmology/David_Keegan/David_Keegan.html" style="color: rgb(7, 130, 193); " target="_blank">http://video.researchfoundation.ie/2014_frontiers_in_ophthalmology/David_Keegan/David_Keegan.html</a></p>

<p><a href="http://video.researchfoundation.ie/2014_frontiers_in_ophthalmology/Robert_Acheson/Robert_Acheson.html">http://video.researchfoundation.ie/2014_frontiers_in_ophthalmology/Robert_Acheson/Robert_Acheson.html</a></p>

<p>&nbsp;</p>
