<h1>Specialist Registration</h1>

<p>To practice medicine in Ireland a doctor must be registered with the Irish Medical Council.</p>

<p>Every doctor is responsible for ensuring that their registration is current and appropriate for their individual circumstances within one of these categories:</p>

<ul>
	<li>Trainee Specialist Division</li>
	<li>Internship Registration</li>
	<li>Specialist Division</li>
	<li>General Division</li>
	<li>Supervised Division</li>
	<li>Visiting EEA Practitioners Division</li>
</ul>

<p>To practice as an eye doctor you must be registered in the specialist divisions of ophthalmology or ophthalmic surgery. Applications for registration are made directly to the Medical Council.&nbsp;<a href="http://www.medicalcouncil.ie/" target="_blank">www.medicalcouncil.ie</a></p>

<p>&nbsp;</p>
