<h1>Useful Links</h1>

<h3>&nbsp;</h3>

<h3>Primary Care Eye Services Review Group Report&nbsp;</h3>

<p><a href="https://www.hse.ie/eng/services/publications/primary/eye-services-review-group-report.pdf">https://www.hse.ie/eng/services/publications/primary/eye-services-review-group-report.pdf</a></p>

<h3>&nbsp;</h3>

<h3>National Clinical Programme for Ophthalmology&nbsp;</h3>

<p><a href="https://www.hse.ie/eng/about/who/cspd/ncps/ophthalmology/" target="_blank">https://www.hse.ie/eng/about/who/cspd/ncps/ophthalmology/</a></p>

<p>&nbsp;</p>

<h3>HSE National Service Plan 2023</h3>

<p><a href="https://www.hse.ie/eng/services/publications/serviceplans/national-service-plan-2023.pdf" target="_blank">https://www.hse.ie/eng/services/publications/serviceplans/national-service-plan-2023.pdf</a></p>

<h3>&nbsp;</h3>

<h3>MPS Priorities for the Government</h3>

<p><a href="https://www.medicalprotection.org/ireland/about/media-centre/press-releases/press-releases/mps-points-the-way-to-fair-and-timely-resolution-of-clinical-negligence-claims" target="_blank">Challenging the cost of clinical&nbsp;negligence - the case for reform</a></p>

<h3>&nbsp;</h3>

<h3>ICO Guidelines for Refractive Eye Surgery&nbsp;</h3>

<p><a href="http://www.eyedoctors.ie/medium/files/ICO_Guides_Refractive_Surgery_Final_(web)-r.pdf">http://www.eyedoctors.ie/medium/files/ICO_Guides_Refractive_Surgery_Final_(web)-r.pdf</a></p>

<h3>&nbsp;</h3>

<h3>Practitioner Health Matters Programme</h3>

<p><a href="http://practitionerhealth.ie/">http://practitionerhealth.ie/</a></p>

<p>&nbsp;</p>

<h3>European Society of Ophthalmology (SOE)</h3>

<p><a href="https://soevision.org/">https://soevision.org/</a></p>

<h3>&nbsp;</h3>

<h3>European Board of Ophthalmology (EBO)&nbsp;</h3>

<p><a href="https://www.ebo-online.org/ebo-exam/exam-information/">https://www.ebo-online.org/ebo-exam/exam-information/</a></p>

<h3>&nbsp;</h3>

<h3>American Academy of Ophthalmology&nbsp;</h3>

<p><a href="https://www.aao.org/">https://www.aao.org/</a></p>

<p>&nbsp;</p>

<h3>AAO ONE Network</h3>

<p><a href="http://www.eyedoctors.ie/members/AAO-ONE-Network.asp">http://www.eyedoctors.ie/members/AAO-ONE-Network.asp</a></p>

<p>&nbsp;</p>

<h3>Royal College of Ophthalmologists, London</h3>

<p><a href="https://www.rcophth.ac.uk/">https://www.rcophth.ac.uk/</a></p>

<h3>&nbsp;</h3>

<h3>A Guide to Conditions of the Retina</h3>

<p><a href="http://www.eyedoctors.ie/medium/files/A_Guide_to_Conditions_of_the_Retina_Final-n.pdf">http://www.eyedoctors.ie/medium/files/A_Guide_to_Conditions_of_the_Retina_Final-n.pdf</a></p>

<h3>&nbsp;</h3>

<h3>HIQA Health Technology Assessments - including Cataract Surgery &nbsp;</h3>

<p><a href="http://www.hiqa.ie/healthcare/health-technology-assessment/assessments/scheduled-procedures" target="_blank">http://www.hiqa.ie/healthcare/health-technology-assessment/assessments/scheduled-procedures</a></p>

<p>&nbsp;</p>

<h3>National Clinical Programme for Surgery - Model of Care for Elective Surgery</h3>

<p><a href="http://www.rcsi.ie/ncps_electivesurgery" target="_blank">http://www.rcsi.ie/ncps-electivesurgery</a></p>

<p>&nbsp;</p>

<h3>National Clinical Programme for Surgery - Model of Care for Acute Surgery</h3>

<p><a href="http://www.rcsi.ie/ncps_acutesurgery" target="_blank">http://www.rcsi.ie/ncps-acutesurgery</a></p>

<p>&nbsp;</p>

<h3>Healthy Ireland &ndash; A Framework for Improved Health and Wellbeing 2013 &ndash; 2025</h3>

<p><a href="http://health.gov.ie/blog/publications/healthy-ireland-a-framework-for-improved-health-and-wellbeing-2013-2025/" target="_blank">http://health.gov.ie/blog/publications/healthy-ireland-a-framework-for-improved-health-and-wellbeing-2013-2025/</a></p>

<p>&nbsp;</p>

<h3><a href="https://www.gov.ie/en/campaigns/healthy-ireland/?gclid=EAIaIQobChMI8fbLmbqv4gIVqLftCh1njwhZEAAYASAAEgLxgPD_BwE">Healthy Ireland</a></h3>

<p>&nbsp;</p>

<h3>Slaintecare Implementation Strategy&nbsp;</h3>

<p><a href="https://www.gov.ie/en/campaigns/slaintecare-implementation-strategy/">https://www.gov.ie/en/campaigns/slaintecare-implementation-strategy/</a></p>
