
<h2>ICO Annual Conference</h2>

<ul>
	<li><a href="/medium/images/ICO_Conference_book_2022_web2-n.pdf" target="_blank">2022</a> (PDF Document)</li>
	<li>2021 - cancelled due to Covid-19</li>
	<li>2020 - cancelled due to Covid-19</li>
	<li><u><a href="/medium/files/ICO_Programme 2019_web.pdf" target="_blank">2019</a> (</u>PDF Document)</li>
	<li><a href="/medium/images/ICO_Programme_2018-y.pdf" target="_blank">2018</a> (PDF Document)</li>
	<li><u><a href="/medium/files/ICO Annual Conference Programme 2017.pdf" target="_blank">2017</a> (</u>PDF Document)</li>
	<li><u><a href="/medium/files/ICO Annual Conference Programme 2016.pdf" target="_blank">2016</a> (</u>PDF Document)</li>
	<li><u><a href="/medium/files/ICO Annual Conference Programme 2015.pdf" target="_blank">2015</a> (</u>PDF Document)</li>
	<li><u><a href="/medium/files/ICO Annual Conference Programme 2014.pdf" target="_blank">2014</a> (</u>PDF Document)</li>
	<li><u><a href="/medium/files/ICO Annual Conference Programme 2013.pdf" target="_blank">2013</a> (</u>PDF Document)</li>
</ul>

<h2>ICO Winter Meeting</h2>

<ul>
	<li><a href="/medium/images/ICO_Winter_Meeting_21_FINAL-r.pdf" target="_blank">2021</a> (PDF Document)</li>

	<li><a href="/medium/images/ICO_Winter_Meeting_and_Annual_Montgomery_Lecture_2020_Progra-a.pdf" target="_blank">2020</a> (PDF Document)</li>
	<li><a href="/medium/images/ICO_Winter_Meeting_and_Annual_Montgomery_Lecture_2019_Progra-y.pdf" target="_blank">2019</a> (PDF Document)</li>
	<li><a href="/medium/images/ICO_Winter_Meeting_and_Annual_Montgomery_Lecture_2018_Progra-i.pdf" target="_blank">2018</a> (PDF Document)</li>
	<li><u><a href="/medium/files/ICO_Wint Meeting_17_Final.pdf" target="_blank">2017</a> (</u>PDF Document)</li>
	<li><a href="/medium/files/ICO_Wint Meeting_16_web.pdf" target="_blank">2016 (</a>PDF Document)</li>
	<li><a href="/medium/files/ICO_Wint Meeting_15_webFINAL.pdf" target="pdf">2015</a> (PDF Document)</li>
	<li><a href="/medium/files/ICO Med Advertising 2014.pdf" target="_blank">Medical Advertising in Ireland Meeting, September 2014</a> (PDF Document)</li>
	<li><a href="/medium/files/ICO Winter Meeting Programme 2012.pdf" target="pdf">2012</a> (PDF Document)</li>
</ul>


<h2>Yearbooks</h2>

<p>The College&#39;s Yearbook is published each year at the Annual Conference. It contains reports from the various College Committees and the College Council and the abstracts from the scientific papers and posters presented at the Conference.</p>

<ul>
	<li><a href="/medium/files/ICO yearbook_2019_web.pdf" target="_blank">2018 - 2019</a> (PDF Document)</li>
	<li><a href="/medium/files/ICO yearbook_2018_web.pdf" target="_blank">2017 - 2018</a> (PDF Document)</li>
	<li><u><a href="/medium/files/ICO_yearbook_17_webFINAL-r.pdf" target="_blank">2016 - 2017</a> (</u>PDF Document)</li>
	<li><a href="/medium/images/Year_Book_2016_FINAL-y.pdf" target="_blank">2015 - 2016 (</a>PDF Document)</li>
	<li><a href="/documents/ico_yearbook_2015.pdf" target="pdf">2014 - 2015</a> (PDF Document)</li>
	<li><a href="/medium/files/2014_Yearbook_web-x.pdf" target="_blank">2013 - 2014</a> (PDF Document)</li>
	<li><a href="/documents/ico_yearbook_2013.pdf" target="pdf">2012 - 2013</a> (PDF Document)</li>
	<li><a href="/documents/ico_yearbook_2012.pdf" target="pdf">2011 - 2012</a> (PDF Document)</li>
	<li><a href="/documents/ico_yearbook_2011.pdf" target="pdf">2010 - 2011</a> (PDF Document)</li>
	<li><a href="/documents/ico_yearbook_2010.pdf" target="pdf">2009 - 2010</a> (PDF Document)</li>
	<li><a href="/documents/ico_yearbook_2009.pdf" target="pdf">2008 - 2009</a> (PDF Document)</li>
</ul>
