<h1>Sustainability Action in Eye Care</h1>

<p><img alt="ICO sustainability logo" src="/medium/images/ICO Sustainability_200.jpg" style="float:left;padding-right:1.3rem;padding-left:1.1rem;" /> A dedicated symposium on &#39;Sustainability in Ophthalmology&#39; held at the recent ICO Annual Conference (15-17th May, 2024) welcomed a panel of experts to share their knowledge on the ways to minimise the carbon footprint of the specialty and plan for the future from both an environmental and sustainable practice perspective. </p>

<p>The session was chaired by ICO President Mr John Doris, who is committed to placing a spotlight and a &lsquo;call to action&rsquo; on this important issue which will resonate with ICO members and initiate positive change.</p>



<p>Healthcare is a notable contributor to greenhouse gas emissions, accounting for an estimated 5% of total emissions globally.  The ophthalmic field, like many others in healthcare, has a significant environmental footprint.</p>

<p>Cataract surgery is the highest volume surgery performed in Ireland. From the disposal of single-use instruments to the energy consumption of diagnostic equipment, the impact is significant.</p>

<p>To promote greater awareness of sustainability and the actions we can take individually and as a collective, a new <strong>Sustainability Education </strong>resourcepage has been added to the <a href="https://www.eyedoctors.ie/members/login/" target="_blank">ICO members portal</a>.  The purpose of the new resource is to house educational resources and provide practical guidance on how members can work towards and achieve a more sustainable clinical practice.   This includes advice on proactive examination of operational practices, encompassing medical and drug waste management, reduction of packaging and printed materials, and the optimisation of resources and ophthalmic team education.  </p>

<p>We are also committed to ensuring the continuation of this conversation in a structured and proactive manner.  The College plans to host a forum for the discussion of quality improvement projects by members at our annual conference or winter meeting each year and we look forward to the dedicated session on &#39;Making Your Practice More Sustainable&#39; at the <a href="https://www.eyedoctors.ie/eyecareinfocus/" target="_blank">ICO Eye Care in Focus 2024 </a>conference for the extended eye care team (October 1st The Gibson Hotel).</p>

<p><img alt="Photo with 4 people holding a Sustainability banner taken after the symposium held at the ICO conference" src="/medium/images/sustainability_small.jpg" style="float:right;padding-left:1rem;" /> We encourage members to visit the new <a href="https://www.eyedoctors.ie/members/login/" target="_blank">Sustainability in Ophthalmology</a> page on the portal which includes recordings and slide presentations from the ICO Annual Conference symposium on the topic and many more additional resources that have been shared with us by members. </p>

<p>We understand sustainability and climate action is a growing area of concern and consideration for many clinicians. The College is keen to do our part in fostering greater awareness among the ophthalmic community in Ireland and promoting the recommendations that have been made through international collaborations. </p>

<p>The new portal page is a live resource that we are looking to continually build on through our network of members. Sharing your knowledge with your colleagues will be central to its success and ongoing relevance.</p>


