<h2>Simple Safety Precautions Can Help Prevent Eye Injuries this Halloween</h2>

<p><img align="right" src="/medium/images/halloween.jpg" style="padding-left:10px;" /></p>

<h3 style="text-align: justify;">From costume to&nbsp;contact lenses and make-up use!&nbsp;</h3>

<p style="text-align:justify">Halloween is one of the biggest nights of the year for children but unfortunately it is also one of the busiest nights for hospital A&amp;E&#39;s around the country as a result of often preventable accidents. We all want our children to enjoy fun and games with friends and family at Halloween, but some safety precautions can help to prevent avoidable incidents, a spokesperson for the Irish College of Ophthalmologists has advised.</p>

<p style="text-align:justify">&quot;The eyes can be very exposed to potential risks at Halloween. Fireworks, bonfires and sharp Halloween costume accessories which&nbsp;parents should use their best judgment on in terms of age appropriateness and ensure to supervise young children who may be unaware of any risk,&quot; says Dr Kathryn McCreery, Eye Surgeon at Children&#39;s Health Ireland, Crumlin Hospital, Dublin.</p>

<p style="text-align:justify">&quot;Halloween masks can limit a child&#39;s visibility so ensure the eye holes are in the correct position and the mask is secure, especially if your child is very young. &nbsp;A child should be able to see their peripheral vision while wearing the mask so their view isn&#39;t obstructed when running or crossing the road.&quot;</p>

<p style="text-align:justify">And although popular with teenagers and even adults for Halloween fancy dress parties, the ICO also advises caution in relation to cosmetic contact lenses&nbsp;use which are bought over the counter or on the internet.</p>

<p style="text-align:justify"><br />
These lenses can unfortunately lead to eye infections if not sterilised properly, worn for any extended period of time or fitted incorrectly, and can lead to sight damage in the most severe cases when infection or damage to the eye is left untreated.</p>

<p style="text-align:justify">Other eye injuries that eye doctors in A&amp;E&#39;s departments have to deal with on a busy Halloween night include foreign objects that get under the eye lids, bruising of the eyes and infections as a result of poor removal of children wearing make-up.&nbsp; If children are wearing make-up as part of their costume, hypoallergenic makeup remover should be used on children&#39;s eyes which are more sensitive than adults eyes.&nbsp; To cleanse the eyes, use cooled boiled water with salt. Old make-up is a breeding group for bacteria and eye germs can be swapped between children who share make-up applicators and products.</p>

<p style="text-align:justify">Extreme safety precaution is also advised by eye doctors when dealing with fireworks and night flares. Glow sticks are generally safe however the solution inside can cause eye irritation if the stick breaks so children should be supervised.&nbsp;</p>

<p style="text-align:justify">If an eye injury does happen to your child on Halloween or at any time, gently place a cold compress to the eye and contact your local eye doctor (a <a href="/visitors/eye-doctors-database.asp" title="directory of local eye doctors in Ireland">directory of local eye doctors in Ireland</a> can be found here) or visit your nearest A&amp;E department.</p>

<p style="text-align:justify">&quot;Most eye injuries can be treated but it is essential that parents act quickly if they have any concerns.&nbsp; If your child has injured their eye, signs and symptoms can include pain, tearing, swelling or a bloody discharge and medical attention should be sought.&quot;&quot; &nbsp;Dr McCreery said.</p>
