<div class="biog">
<div id="Conor_Murphy"><img alt="Conor Murphy" src="/ConferencesArchives/Kilkenny2018/photos/Prof-Conor Murphy-2018.jpg" style="max-width:110px;max-height:155px;float:left;" title="Conor Murphy" />
<h3>Prof&nbsp;Conor Murphy</h3>

<p>Professor Conor Murphy is the Chair and Professor of Ophthalmology at the Royal College of Surgeons in Ireland and a consultant ophthalmic surgeon at the Royal Victoria Eye and Ear Hospital in Dublin. He specialises in uveitis and disorders of the cornea and ocular surface, providing a national referral service in these areas. He has a particular surgical interest in corneal transplantation and cataract surgery. He heads the Ocular Immunology Research Group at RCSI, which focuses on research into the immunology of Sjogren&#39;s syndrome-related dry eye disease, corneal transplantation and uveitis. As post-graduate Professor of Ophthalmology, Professor Murphy is also the Chief Examiner of the postgraduate MRCSI and FRCSI examinations in ophthalmology in Ireland.</p>
</div>
</div>
