<div class="biog">
<div id="Cynthia_Bradford"><img alt="Cynthia_Bradford" src="/ConferencesArchives/Kilkenny2018/photos/Bradford_Cynthia-2018.jpg" style="max-width:110px;max-height:155px;float:left;" title="Cynthia_Bradford" />
<h3>Dr Cynthia Bradford</h3>

<p>Dr&nbsp;Bradford is Professor of Ophthalmology at&nbsp;the Dean A.McGee Eye Institute/Department of Ophthalmology at the University of Oklahoma Health Sciences Center in Oklahoma City.</p>

<p>Dr&nbsp;Bradford served as the American Academy of Ophthalmology&nbsp;President in 2017. Her clinical focus is in cataract and intraocular implant lens surgery, with special interests in complicated cataract surgeries, such as after trauma or prior ocular surgery; she has extensive experience performing cataract surgery on patients with prior retinal and glaucoma surgeries, or after refractive surgeries such as RK, PRK or LASIK.</p>

<p>Dr Bradford has been active in teaching throughout her career. She has authored modules and books to teach ophthalmology to medical students and primary care physicians. She is past executive editor for the American Academy of Ophthalmology&#39;s <em>Basic Ophthalmology</em>, which is an introduction to ophthalmology for medical students in America&nbsp;and has been translated into many languages for use throughout the world.&nbsp;</p>

<p>She is the coordinator for medical student and primary care resident education in ophthalmology at Oklahoma University. For over 20 years, she has taught the University of Oklahoma ophthalmology residents to perform cataract surgery. She participates in clinical research involving cataract surgery.</p>
</div>
</div>
