<div class="biog">
<div id="Dara_Kilmartin"><img alt="Dara Kilmartin" src="/ConferencesArchives/Kilkenny2018/photos/Dara Kilmartin-2018.jpg" style="max-width:110px;max-height:155px;float:left;" title="Dara Kilmartin" />
<h3>Mr Dara Kilmartin</h3>

<p>Mr Kilmartin is a Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital, Beacon Hospital and Blackrock Clinic, Dublin.&nbsp;&nbsp;</p>

<p>His sub specialty is medical and surgical retina.&nbsp;</p>

<p>&nbsp;</p>

</div>
</div>

