<div class="biog">
<div id="Edward_Loane"><img alt="Edward Loane" src="/ConferencesArchives/Kilkenny2018/photos/Edward Loane-2018.jpg" style="max-width:110px;max-height:155px;float:left;" title="Edward Loane" />
<h3>Mr Edward Loane</h3>

<p>Mr Edward Loane is a Consultant Ophthalmic Surgeon in the Royal Victoria Eye and Ear Hospital and St. James&#39;s Hospital, Dublin.</p>

<p>Mr Loane&#39;s sub-specialty interest is strabismus and ocular motility disorders, having completed fellowship training in Liverpool and Leicester.</p>

<p>&nbsp;</p>
</div>
</div>
