<div class="biog">
<div id="Eva_Doherty"><img alt="Eva Doherty" src="/ConferencesArchives/Kilkenny2018/photos/Eva Doherty-2018.jpg" style="max-width:110px;max-height:155px;float:left;" title="Eva Doherty" />
<h3>Dr Eva Doherty</h3>

<p>Dr&nbsp;Eva Doherty is a practising clinical psychologist who is also Director of the Human Factors in Patient Safety (HFPS) training, research and assessment programme at the Royal College of Surgeons in Ireland (RCSI). The HFPS training is a mandatory component of the postgraduate professional training for surgical, emergency medicine and ophthalmology trainees. Eva also leads the academic MSc in Human Factors in Patient Safety which is an inter-professional programme. The HFPS training provides interactive workshops for trainees and more recently for consultants on topics which include medical error, risk management, communication, teamwork, conflict resolution, decision-making, disclosure, emotional intelligence, crisis management, stress management, professionalism and leadership. Eva&rsquo;s recent publications and research interests include the topics of communication skills, personality factors and medical training, emotional intelligence and professional medical competencies as well as the assessment of improvements and the provision of remediation in communication competencies following training.</p>
</div>
</div>
