<div class="biog">

	<div id="Angela_Tysall">
	<img src="/ConferencesArchives/Kilkenny2018/photos/Angela_Tysall.jpg" alt="Angela Tysall" title="Angela Tysall" style="max-width:110px;max-height:155px;float:left;">
	<h3>Name</h3>
	<p class="biogtitles">
	Title
	</p>
	<br style="clear:both;" />
	</div>
	<p>
	biog<br/>Lorem ipsumLorem ipsum Lorem ipsum Lorem ipsum	 Lorem ipsumLorem ipsum Lorem ipsum Lorem ipsum</p>

</div>