<div class="biog">
<div id="Fiona_Kearns"><img alt="Fiona Kearns" src="/ConferencesArchives/Kilkenny2018/photos/fionaKearns.jpg" style="max-width:110px;max-height:155px;float:left;" title="Fiona Kearns" />
<h3>Dr Fiona Kearns</h3>

<p>Dr Fiona Kearns is a Medical Ophthalmologist in Beaumont Hospital .</p>

<p>Dr Kearns practice is in general Ophthalmology with an interest in Neuro Ophthalmology and drug toxicity and has recently established the first hydroxychloroquine screening service.</p>

<p>&nbsp;</p>
</div>
</div>
