<div class="biog">
<div id="Mark_Cahill"><img alt="Mark Cahill" src="/ConferencesArchives/Kilkenny2018/photos/MARK_Cahill.jpg" style="max-width:110px;max-height:155px;float:left;" title="Mark Cahill" />
<h3>Mr Mark Cahill</h3>

<p><em>Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital, Dublin</em></p>

<p>Mr. Mark Cahill is a consultant eye surgeon with a special interest in retinal diseases in The Royal Victoria Eye and Ear Hospital and Beacon Hospital. He is also the clinical lead for Global Vision, which provides photography and grading services for <em>Diabetic RetinaScreen</em>, the national diabetic retinopathy screening programme run by the National Screening Service (NSS).</p>

<p>Mr Cahill completed a fellowship in diabetic retinopathy at the Beetham Eye Institute in the Joslin Diabetes Center, a Harvard University hospital in Boston, where he participated in research on novel treatments to prevent vision loss in patients with diabetic eye disease.</p>

<p>Mr Cahill gained further experience in assessing and treating a wide range of eye conditions including age-related macular degeneration, retinal vein occlusions and macular holes following a two year vitreo-retinal fellowship at the Duke University Eye Centre. He worked as a consultant eye surgeon in Duke University Eye Center, before returning to Ireland in 2004.</p>

<p>Mr Cahill specialises in the treatment of patients with retinal diseases, cataract, glaucoma and general ophthalmology.</p>
</div>
</div>
