<div class="biog">
<div id="Michelle_McNeill "><img alt="Michelle McNeill " src="/ConferencesArchives/Kilkenny2018/photos/Michelle McNeillNew.jpg" style="max-width:110px;max-height:155px;float:left;" title="Michelle McNeill " />
<h3>Ms Michelle McNeill</h3>

<p>Michelle McNeill is a Senior Physiotherapist working in Occupational Health Unit, Letterkenny, Co. Donegal. Her job roles include provision of Physiotherapy assessment and treatment for staff attending Occupational Health.</p>

<p>Michelle co-ordinates and instructs Manual Handling courses for HSE staff in Donegal.</p>

<p>She has a MSc in Health Ergonomics and carries out workplace visits to advise on ergonomics and injury prevention.</p>
</div>
</div>
