<div class="biog">
	<div id="Micheal_ORourke"><img alt="Micheal O'Rourke" src="/ConferencesArchives/Kilkenny2018/photos/Micheal O Rourke.jpg" style="max-width:110px;max-height:155px;float:left;" title="Micheal O'Rourke" />
		<h3>Dr Micheal O'Rourke</h3>

		<p>Dr Micheal O'Rourke graduated from Trinity College in 2007 and started training in ophthalmology in 2010. He was the BST trainee representative from 2011-2012 and is the current HST representative. This involves organising sponsored training meetings for SpRs, representation and contribution at training committee meetings. He is also the ophthalmology representative on the Irish surgical training group.  </p>

		<p>He is currently in year 3 of the ophthalmology higher surgical training scheme. In the interim between BST and HST in ophthalmology, he completed a Ph.D in uveitis examining clinical and experimental aspects of anterior uveitis. He is currently completing a Certificate in Health Care Management with Smurfit Business School at UCD. </p>

		<p>&nbsp;</p>
	</div>
</div>
