<div class="biog">
<div id="Mike_Burdon"><img alt="Mike_Burdon" src="/ConferencesArchives/Kilkenny2018/photos/Mike Burdon-2018.jpg" style="max-width:110px;max-height:155px;float:left;" title="Mike_Burdon" />
<h3>Mr Michael&nbsp;Burdon</h3>

<p>Mr Michael&nbsp;Burdon is a consultant ophthalmologist with an interest in neuro-ophthalmology at the Queen Elizabeth Hospital, Birmingham. He underwent subspecialty training in Brisbane, St Thomas&rsquo; Hospital, Moorfields Eye Hospital, and the National Hospital for Neurology and Neurosurgery.</p>

<p>Mr Burdon&nbsp;was chair of the RCOphth Scientific Committee and remains chair of the British Isles Neuro-Ophthalmology Club. He has an established reputation as a teacher of neuro-ophthalmology, speaking at numerous national and international meetings, and co-authoring &ldquo;The Neuro-Ophthalmology Survival Guide&rdquo; with Anthony Pane and Neil Miller and has extensive experience in the diagnosis and management (including surgical correction) of adult motility disorders. His main research interests are papilloedema and idiopathic intracranial hypertension.</p>

<p>Mr Burdon&nbsp;took over as President of The Royal College of Ophthalmologists on 24 May 2017. He is committed to RCOphth maintaining the high standards of education, training and assessment to ensure that the development and delivery of world-class eye care for all patients is at the heart of the ophthalmology profession.</p>
</div>
</div>
