<div class="biog">
<div id="Millicent_Stone"><img alt="Millicent Stone" src="/ConferencesArchives/Kilkenny2018/photos/millicentstone-2018.jpg" style="max-width:110px;max-height:155px;float:left;" title="Millicent Stone" />
<h3>Dr Millicent Stone</h3>

<p>Dr Millicent Stone is a Consultant Rheumatologist. She trained in Ireland and Canada and worked as a Consultant in Toronto, Canada for several years before returning to work in the UK as a Consultant. Dr Stone is involved in research having trained as an Epidemiologist in Canada to understand how diseases affect people with arthritis. She set up a combined Rheumatology Uveitis Clinic with the Department of Ophthalmology at St Michael&rsquo;s Hospital in Toronto and conducted research on the prevalence of inflammatory back pain in a uveitis cohort.</p>

<p>In 2005 Dr Stone was recruited to the role of Director of the Spondyloarthropathy Programme at the Royal National Hospital for Rheumatic Diseases and was appointed a Clinical Reader, Department of Pharmacy and Pharmacology at the University of Bath.&nbsp;</p>

<p>In 2014 Dr Stone was recruited to her current role as Consultant Rheumatologist, Department of Ophthalmology Guys and St Thomas Hospital to create a program to support patients with inflammatory eye diseases who require immunosuppressant drugs, the first of its kind in UK .&nbsp; This is a unique role which brings together her expertise in biologic agents, clinical outcomes, rheumatology and her interest in medical ophthalmology.</p>

<p>Dr Stone is a peer reviewer for a number of journals and was been awarded a grant by the Friends of Moorfields Eye Hospital for &pound;100,000 to develop a multi-disciplinary care programme for inflammatory ocular disease between Moorfields Eye Hospital and St Thomas&rsquo;.&nbsp; She is also a member of the London Inflammatory Ocular Network and the Medical Director of the North Wing Treatment Biologics Unit at St Thomas&rsquo; Hospital, the first dedicated biologics unit for eye patients in UK which she set up and runs.</p>

<p>Dr Stone&rsquo;s subspecialty interest is in scleritis.&nbsp; She is currently assembling a cohort of scleritis patients and looking at serological predictors of onset and disease severity, specifically isotypes of anti-CCP antibodies.&nbsp;&nbsp;</p>

<p>&nbsp;</p>
</div>
</div>
