<div class="biog">
<div id="Patrick_Lavin"><img alt="Patrick Lavin" src="/ConferencesArchives/Kilkenny2018/photos/Lavin Patrick-2018.jpg" style="max-width:110px;max-height:155px;float:left;" title="Patrick Lavin" />
<h3>Professor&nbsp;Patrick Lavin</h3>

<p>Dr&nbsp;Lavin joined the faculty at Vanderbilt University Medical Center, Nashville, Tennessee in 1983 as assistant professor in the Department of Neurology and Ophthalmology where he helped start up the neuro-ophthalmology division. He was promoted to associate professor in 1989, and professor in 2001 - a position he still holds. Lavin has also served as director of the Ocular Motility Laboratory and director of the Transcranial Doppler Laboratory.</p>

<p>Dr Lavin completed Fellowship training in Neuro-ophthalmology at the Case Western Reserve University, Cleveland and in Parkinson&#39;s Disease Research, at Charing Cross Hospital, London.</p>

<p>His clinical interests include acute and chronic optic neuropathies, eye movement disorders, nystagmus, neuro-otology, and headache. Dr. Lavin&rsquo;s clinical research efforts center on eye movement disorders, nystagmus, metabolic disorders affecting the visual system, and MR imaging in patients with optic neuropathies.</p>

<p>Dr&nbsp;Lavin was one of the first to publish the association of cerebral white matter lesions in patients presenting with demyelinating optic neuritis, and the first to describe the MRI changes in nonketotic hyperglycemic hemianopia.</p>

<p>Currently his research interest is in utilizing advanced imaging techniques to study the pathological aspects of anterior visual pathway disorders and to utilize the findings to improve patient care. He collaborates with Dr. Seth Smith who is studying the radiological evolution of optic neuritis using chemical exchange saturation transfer in spectroscopic imaging and a qMT method that he designed to characterize the evolution of myelin damage after an attack of optic neuritis.</p>
</div>
</div>
