<div class="biog">

	<div id="Philip_Crowley">
	<img src="/ConferencesArchives/Kilkenny2018/photos/Dr-Philip-Crowley-2018.jpg?v=2" alt="Philip Crowley" title="Philip Crowley" style="max-width:110px;max-height:155px;float:left;">
	<h3>Dr. Philip Crowley</h3>

<p>
	Dr. Philip Crowley, National Director of Quality Improvement is a doctor who trained as a GP and worked for five years in Nicaragua.  He worked in the NHS to tackle health inequalities. He also trained in public health medicine and has worked with the IPH, and the ICGP on refugee and asylum seeker health.  Philip worked for 6 years as Deputy Chief Medical Officer with the DoH, he continues to work as a GP part-time.


</p>
		<p>&nbsp;</p>
	</div>
	

</div>