<div class="biog">

	<div id="Rory_Murphy">
	<img src="/ConferencesArchives/Kilkenny2018/photos/Rory Murphy-2018.jpg" alt="Rory Murphy" title="Rory Murphy" style="max-width:110px;max-height:155px;float:left;">
	<h3>Dr Rory Murphy</h3>


	<p>
		Dr Rory Murphy graduated from University College Dublin, completing his intern year in St Vincent’s University Hospital. He then commenced Ophthalmic Basic Specialist Training, working between Cork University Hospital and the Mater Misericordiae University Hospital, Dublin. In conjunction with his clinical work, Rory is working in the Catherine McCauley Research Centre under the guidance of Professor Colm O’Brien, focusing on novel therapeutic possibilities in the treatment of Glaucoma.</p>
</div>
</div>