<div class="biog">
    <div id="Susan_Kelly">
        <img src="/ConferencesArchives/Kilkenny2018/photos/Susan-kelly.jpg" alt="Susan Kelly" title="Susan Kelly" style="max-width:110px;max-height:155px;float:left;">
        <h3>Dr Susan Kelly</h3>

        <p>
            <em>Consultant Medical Ophthalmologist, St Vincent’s Private Hospital, Dublin</em>

        </p>
        <p>
            Dr Susan Kelly is a graduate of RCSI and commenced training as an Ophthalmologist in the Royal Victoria Eye & Ear Hospital in 2002. She completed her Fellowship training in Bristol Eye Hospital and now practices with a special interest in medical retina at St Vincent’s Public and Private Hospital, Blackrock Clinic and the Royal Victoria Eye and Ear Hospital.

        </p>
        <br style="clear:both;" />
    </div>
</div>
