<!-- Alicia Hayes -->
<div>
	<img src="/Killarney2023/photos/Alicia_Hayes.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Case Manager, Medical Protection</h5>

	<p>
Alicia is a dual-qualified lawyer. She joined the Medical Protection Society, as a Legal Advisor based in the London office, in February 2019. She recently spent a year on secondment with the Irish Claims Team, before relocating back to her hometown of Limerick to take up her current role as Case Manager for the Ireland Team.
 	</p>
	<p>
Before joining MPS, Alicia worked with a leading Patient Safety Charity, and then as a Senior Lawyer at Capsticks Solicitors LLP in London, which is one of the leading Defendant clinical negligence law firms in the UK.
 	</p>
	<p>
Alicia qualified as a barrister in Ireland in July 2006, having completed her law degree at UCC. She then trained and worked in Ireland (mainly on the South Western Circuit) for 7 years before moving to the UK in 2013. She was called to the Bar of England and Wales (Middle Temple) in November of the same year.
 	</p>
	<p>
Alicia graduated with Distinction (First Class Honours) in a Masters (MA) in Medical Law & Ethics, from Kings College London (2014). She received the highest mark overall in her medical law class and her dissertation was chosen as an ‘exemplar’ of excellent work.
 	</p>
	<p>
Alicia, as part of a scholarship conferred by the Bar Council of Ireland, spent three months working as a “visiting attorney” with the lawyers at the Duke University branch of the Innocence Project, in North Carolina. The Innocence Project works to exonerate wrongfully convicted people, mainly through the use of DNA evidence. Two men were exonerated during her time at the project, one of whom was on death row.
 	</p>
	<p>
Having worked exclusively in healthcare law for the last 10 years, Alicia has significant experience in all aspects of clinical negligence claims work, medical law, inquests and regulatory cases both in the UK and Ireland.
 	</p>
	<p>
In her spare time Alicia likes to read, write and ski.
</p>

</div>