<!-- Dr Carol Shields -->
<div>
	<img src="/Killarney2023/photos/Carol_Shields.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Director of the Oncology Service, Wills Eye Hospital, and Professor of Ophthalmology, Thomas Jefferson University, Philadelphia, USA</h5>
<p>
Dr. Carol Shields completed her ophthalmology training at Wills Eye Hospital in Philadelphia and fellowship training in ocular oncology and ophthalmic pathology. She is Director of the Oncology Service, Wills Eye Hospital, and Professor of Ophthalmology at Thomas Jefferson University in Philadelphia, PA USA.
 	</p>
	<p>
She has authored/co-authored 12 textbooks, 341 chapters in edited textbooks, over 2000 articles in major peer-reviewed journals, and given nearly 1000 lectureships with 74 named lectures.  The 7 most prestigious awards that have honored her include:
</p>
<ul>
<li>The American Academy of Ophthalmology Life Achievement Honor Award (2011) for contributions to the field of ophthalmology. </li>
<li>Induction into the Academic All-American Hall of Fame (2011) for lifetime success in athletics and career.</li>
<li>President of the International Society of Ocular Oncology (2013-2015) – the largest international society of ocular oncology.</li>
<li>Ophthalmology Power List 2014, 2016, 2018, 2020 – Nominated by peers as one of the top 100 leaders in the field.  In 2020, Dr. Carol Shields was listed at #1 in the Ophthalmology Power List.</li>
<li>The Donders Award (2003) - given by the Netherlands Ophthalmological Society every 5 years.  She was the first woman to receive this award.</li>
<li>America's Best Eye Doctors [July 21, 2021]- Nominated by Newsweek magazine with an overall rank #7 of all ophthalmologists and rank #1 of all female ophthalmologists.</li>
<li>Theodore Roosevelt Award - the highest honor the National Collegiate Athletic Association (NCAA) confers on an individual who earned a varsity letter for sports in college and who became a distinguished citizen of national reputation.</li>
</ul>
<p>
Each year the Oncology Service manages over 500 patients with uveal melanoma or retinoblastoma, and hundreds of other intraocular, orbital, and conjunctival tumors from the United States and abroad. She and her husband are the proud parents of 7 children, ranging in age from 22 to 34 years.
</p>
</div>