<!-- <h3>Prof Conor Murphy</h3>
<br> -->
<div>
	<img src="/Killarney2023/photos/Conor-Murphy.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Chair and Professor of Ophthalmology, RCSI University of Medicine and Health Sciences; Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital, Dublin.</h5>

<p>Prof Conor Murphy is the Chair and Professor of Ophthalmology at the RCSI University of Medicine and Health Sciences and a Consultant Ophthalmic Surgeon at the Royal Victoria Eye and Ear Hospital in Dublin. He received his medical degree from University College Dublin in 1996 and this was followed by an MMedSc degree in Physiology (1998) and a PhD in Ocular Immunology (2005) from the same institution. He undertook his clinical training in Dublin, Bristol, Liverpool and Perth, returning to Ireland to take up his current role in 2009. </p>

<p>Prof Murphy specialises in disorders of the cornea and ocular surface, uveitis and corneal transplant surgery. He heads the Ocular Immunology Research Group at RCSI, which focuses on research into ocular surface inflammation, corneal transplantation and uveitis. </p>

<p>He has published 85 articles in the peer-reviewed literature including in Ocular Surface, Ophthalmology, JAMA Ophthalmology, Scientific Reports and the British Journal of Ophthalmology and has received research funding of over €1,000,000 from the European Commission, Health Research Board, the Irish College of Ophthalmologists/Novartis Research Bursary, the Royal Victoria Eye and Ear Hospital Research Foundation and the National Eye Research Centre (UK). </p>

<p>In his role as the postgraduate Professor of Ophthalmology in Ireland, he is the Chief Examiner of the professional Membership and Fellowship examinations in ophthalmology of the Royal College of Surgeons in Ireland. </p>

</div>
