<!-- <h3>Deirdre-Townley </h3>
<br> -->
<div>
	<img src="/Killarney2023/photos/Deirdre-Townley.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Consultant Ophthalmic Surgeon, Galway University Hospital</h5>
	<p>Ms Deirdre Townley completed her ophthalmic surgery training on the Irish higher surgical training scheme. She subsequently completed a fellowship in  Medical Retina and Uveitis in Moorfields Eye Hospital, London. Ms Townley was appointed to her Consultant position in University Hospital Galway in 2015, where she is also the Clinical Lead for the Hospital Eye Department. Ms Townley is the irish delegate to the European Board of Ophthalmology.</p>