<!-- Ms Eleanore O'Gorman -->
<div>
	<img src="/Killarney2023/photos/eleanore_o_gorman.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Occupational Therapist, Cork University Hospital & Team Ireland Mixed Tag Rugby Squad</h5>
	<p>Eleanore O'Gorman is an Occupational Therapist at Cork University Hospital and an accomplished Irish athlete. She is a member of the Ireland Mixed Tag Rugby Team. The squad are currently preparing for the Tag World Cup 2023 which is taking place at the University of Limerick Stadium in August. </p>
	<p>We are delighted to welcome Eleanore to the ICO Conference in Killarney, where she will share her experience of having keratitis and the treatment she received.</p>

</div>