<!-- Dr Geraldine Comer -->
<div>
	<img src="/Killarney2023/photos/Geraldine_Comer.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Medical Ophthalmologist, CHO2 West</h5>

	<p>
Dr Comer graduated from University College Galway and completed her Ophthalmic training in Waterford and Limerick, before commencing as Clinical tutor in Ophthalmology at UCG along with sessional work as an Ophthalmic Physician for Mayo PCCC. She subsequently worked extensively in a busy private practice in the Galway Clinic along with hospital based medical ophthalmology at Galway University Hospital (GUH). For the last 7 years, Dr Comer has helped out the Community service and as covid hit, pivoted full time to Public Ophthalmology at GUH, being involved in all aspects of medical ophthalmology. Her particular interests are Community Paediatric Ophthalmology with a keen focus on children with additional needs. Dr Comer recently took up a new role as Consultant Medical Ophthalmologist for CHO2 West.
</p>


</div>