<!-- <h3>Mr Micheal O'Rourk </h3>
<br> -->
<div>
	<img src="/Killarney2023/photos/Micheal_O_Rourke.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital</h5>
	<p>Mr Micheal O’Rourke is a graduate of Trinity College, Dublin. He completed the ICO / RCSI ophthalmic surgery training scheme in 2019. He subsequently pursued two prestigious international fellowships at Manchester Royal Eye Hospital, UK and The Royal Victoria Eye and Ear Hospital, Melbourne in the subspecialty of orbital, lacrimal and oculoplastic surgery. 
	</p>
	<p>
He is currently working at The Royal Victoria Eye and Ear Hospital, Dublin delivering care to those on the oculoplastics waiting lists. He also works at St James’ Hospital, Dublin where he has integrated into the existing networks around orbital fractures, hyperthyroidism, periocular dermatology and tumour reconstruction. He also established a centralised subspecialty orbital, lacrimal and oculoplastic service for the paediatric cohort at Children’s Health Ireland, Crumlin modelled on the service he trained in on fellowships. He recently commenced a private clinic at Northbrook Eye Clinic in Ranelagh. 
	</p>
	<p>
He has a keen research interest and was awarded a PhD in 2015 for his clinical and experimental research in the area of ocular immunology. He has published in all the major journals within the subspecialty, as well as presenting at many international society meetings and won many national and international awards and bursaries. He currently sits as a board member of the Research Foundation at the Royal Victoria Eye and Ear Hospital, Dublin. He has a particular interest in the area of thyroid eye disease and its medical management with timely immunomodulatory agents to reduce activity. He has published on the role of botulinum toxin to the lacrimal gland in refractory epiphora. 
	</p>
</div>