<!-- <h3>soma_chakrabarti</h3>
<br> -->
<div>
	<img src="/Killarney2023/photos/soma_chakrabarti.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Consultant Ophthalmologist, Southern General Hospital, Glasgow</h5>
	<p>
Dr Soma Chakrabarti is a  Diabetic eye disease and Uveitis specialist at Southern General Hospital in Glasgow. She is the Joint Clinical Director of the Ophthalmology department in the NHS Greater Glasgow & Clyde area which employs 40 Consultant Ophthalmologists, covering all major sub-specialties. Ophthalmology clinics are held on nine hospital sites, with ophthalmic surgery undertaken in seven hospitals</p>
	