<!-- <h3>Dr Stela Vujosevic </h3>
<br> -->
<div>
	<img src="/Killarney2023/photos/Stela_Vujosevic.JPG" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Head of Medical Retina Unit, IRCCS MultiMedica, Milano, Italy and Researcher, University of Milan, Statale, Milano, Italy</h5>
<p>Retina specialist, head of Medical Retina Unit, IRCCS MultiMedica, Milan and Researcher at the University of Milan, Italy, already qualified as Full Professor in 2020. After Medical School and Specialization in Ophthalmology she obtained the PhD in Clinical Methodology, Endocrinological and Diabetological Sciences at the University of Padova, Italy. Fellowship in Medical Retina at the Moorfields Eye Hospital in London with Professor Alan C. Bird. Research Fellowship at the Reading Centre, Moorfields Eye Hospital in London. She is a fellow of the ARVO and the EBO. Elected Member of Diabetic Retinopathy Expert Committee of the EVICRnet, Macula Society, Imaging Subspecialty Section of the EURETINA, Board of the EAsDEC, SISO.
Major awards include: "The Power List 2022”, the Top 100 most influential ophthalmologists in the world by the Ophthalmologist; TOP LIST of excellent Women in European Vision Research and Ophthalmology 2021 by the European Vision Institute; and Women's Leadership Development in ARVO Program. Dr Vujosevic serves as the Managing Editor of the Ophthalmic Research, the Associate Editor of the AJO Case Reports, and the EBM of the IOVS and the Acta Ophthalmologica. She has been participating as Principal Investigator in numerous research projects, with both Italian and international collaboration, and with EU funding.</p>
<p>
Her major research interests are vascular and degenerative retinal and choroidal diseases, with particular interest in the study of imaging, biochemical and functional biomarkers and diagnostic techniques in ophthalmology.
</p>

</div>