<!-- <h3>Prof Usha Chakravarthy</h3>
<br> -->
<div>
	<img src="/Killarney2023/photos/Usha_Chakravarthy.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
	<h5>Honorary and Emerita Professor of Ophthalmology and Vision Science, Queen's University of Belfast, Institute of Clinical Science, Royal Victoria Hospital, Belfast</h5>
	<p>Usha Chakravarthy is a retina trained ophthalmologist from the UK and has been a member of the macula society since 2000. She was responsible for the macular service in the Belfast Trust from 2010 to 2015 and also was Director for Ophthalmology Services with responsibility for over 100 medical staff for many years.  Her interest in research commenced with her PhD on the therapeutic potential of ionising radiation on intraocular cellular proliferation and the molecular expression of vasoactive peptides in the retina with profiling of gene expression under simulated hyperglycemia in in-vitro and in-vivo studies. Consolidating this work through clinical translational methods she gained the Welcome University Award and large medical research council grants and was appointed full Professor at Queens University in 1999.   She has acted as the study chair for many national and international clinical trials, cohort studies and epidemiological investigations. She has also chaired advisory groups and was a member of key task forces in retinal diseases including the International AMD Alliance, Laskar Foundation and Retina International. </p>
	<p>
She was a member of the Credentials, Scientific and Awards committees for the Macula society and program committee for ARVO,  the German Research Foundation, the French Research Foundation, the Austrian Research Panel. She has delivered multiple eponymous lectures in the UK and abroad. Some notable awards include the Henkind, Bowman, Gass Awards from the Macula Society, Alan Alderman award and Commander of the Order of the British Empire (CBE) for services to Ophthalmology in the UK. She has been on the adjunct faculty at Genentech/Hoffman La Roche in 2021, the Duke NUS Singapore and she mentors many trainees and faculty across the world. She is currently the Honorary and Emerita Professor of Ophthalmology and Queens University, and is an ambassador for Invest Northern Ireland</p>

</div>