<table>
	<tbody>
		<tr>
			<td>8.55am</td>
			<td><strong>Welcome</strong><br />
			Miss Marie Hickey Dwyer <em>President, Irish College of Ophthalmologists</em></td>
		</tr>
		<tr>
			<td>9.00am</td>
			<td>
			<p><strong>Paper Session</strong><br />
			Chair: Prof Conor Murphy</p>

			<ul>
				<li>Audit of Outcome of Baerveldt Tube Implantation in the Management of Complex Glaucoma<br />
				Evelyn O Neill</li>
				<li>Audit of Outcomes Following Bleb Reconstruction Surgery in a Glaucoma Service Over a 6 Year Period<br />
				Sarah Moran</li>
				<li>Establishing Fitness to Drive in a Glaucoma Population - A Dilemma<br />
				Olya Pokrovskaya,</li>
				<li>Overnight Inpatient Intraocular Pressure Phasing in the Management of Open Angle Glaucoma: Our Experience at the Royal Victoria Eye and Ear Hospital Dublin<br />
				Najiha Rahman</li>
			</ul>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>Questions</td>
		</tr>
		<tr>
			<td>9.30am</td>
			<td><strong>Paper Session</strong> <em>(cont.)</em>
			<ul>
				<li>Rates of Refractive Errors Among Medical Students in National University of Ireland, Galway: a 5-Year Follow Up Study<br />
				Helen Fogarty</li>
				<li>Intracorneal Ring Segments in the Management of Corneal Ectasia- a 10 year Review of our Experience<br />
				Emily Hughes</li>
				<li>Macular Integrity Assessment in Femto-LASIK<br />
				Lisa McAnena</li>
				<li>Four Year Visual and Functional Outcomes of Femtosecond Laser Intrastromal Procedure for Presbyopia<br />
				Aine N&iacute; Mh&eacute;al&oacute;id</li>
			</ul>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>Questions</td>
		</tr>
		<tr>
			<td>10.00am</td>
			<td><strong>Paper Session</strong> <em>(cont.)</em>
			<ul>
				<li>Fungal Keratitis in the Republic of Ireland: A Multicenter Nationwide Review of all Cases of Fungal Keratitis over a 5 Year Period.<br />
				Stephen Farrell</li>
				<li>Outcome of Cataract Surgery in Post-corneal Refractive Surgery Patients; Study from the European Registry of Quality Outcomes for Cataract and Refractive Surgery<br />
				Sonia Manning</li>
				<li>Audit of Cataract Surgery Results After Toric Intraocular Lens Implantation<br />
				Paul O&rsquo;Brien</li>
				<li>The ETDRS Visual Acuity Chart Compared to the Tumbling-E and Landolt-C<br />
				Max Treacy</li>
			</ul>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>Questions</td>
		</tr>
		<tr>
			<td>10.30am</td>
			<td>Coffee Break</td>
		</tr>
		<tr>
			<td>11.00am</td>
			<td><strong>HSE Review of Primary Eye Care Services</strong><br />
			Mr Brian Murphy <em>Head of Planning, Performance &amp; Programme Management, Primary Care Division, HSE</em></td>
		</tr>
		<tr>
			<td>12.00</td>
			<td>
			<p><strong>Poster Session</strong><br />
			Chair Dr Denise Curtin</p>

			<ul>
				<li>Neuro-Ophthalmic Manifestations in Behcet&rsquo;s Disease &ndash; A Case Report<br />
				Georgios Vartsakis</li>
				<li>Clinical Review of Referrals for Investigation of Suspected Swollen Optic Discs<br />
				Stephen Stewart</li>
				<li>Rare Case of Fibrous Dysplasia of Orbit<br />
				Muhammad Yasir Arfat</li>
				<li>Objective Assessment of Symptomatic Vitreous Floaters Using Optical Coherence Tomography<br />
				Kevin Kennelly</li>
				<li>Visual and Refractive Outcomes in Patients With High Astigmatism Following Cataract Surgery with Toric Lens Implantation<br />
				Lina Kobayter</li>
				<li>Limbal Relaxing Incisions to Improve Astigmatism Following Cataract Surgery<br />
				Stephen Farrell</li>
				<li>Risk Factors in Post Cataract Surgery Endophthalmitis<br />
				Donal McCullagh</li>
				<li>Practice Trends in the Routine Administration of Intravitreal Anti-VEGF Injections<br />
				Helen Fogarty</li>
				<li>Comparison of the Southeast Intravitreal Injection Protocol for ARMD to International Guidelines<br />
				Kirk Stephenson</li>
				<li>An Audit of the Diabetic Retinopathy Treatment Programme in University Hospital Galway (UHG).<br />
				Christine Goodchild</li>
				<li>Southeastern ROP Screening Audit &ndash;Initial Survey and Recommendations<br />
				Kirk Stephenson</li>
				<li>Update on Creating an Inherited Retinal Diseases Registry Recruitment at the Mater Misericordiae University Hospital<br />
				Tahira Saad</li>
				<li>Microbial Keratitis: An Audit of Sample Collection and Microbiological Findings<br />
				Gabriella Guevara</li>
			</ul>
			</td>
		</tr>
		<tr>
			<td>1.00pm</td>
			<td>Lunch</td>
		</tr>
		<tr>
			<td>2.00pm</td>
			<td>
			<p><strong>Ocular Complications of Acquired Brain Injury</strong><br />
			Chair Mr Martin O Connor</p>

			<ul>
				<li>Introduction &amp; Background Neurological Visual Consequences of Acquired Brain Injury<br />
				Ms Carmel Noonan Aintree <em>University Hospital NHS Foundation Trust</em></li>
				<li>Interventions for Ocular Motility Consequences of Acquired Brain Injury<br />
				Mr Ian Marsh<em> Aintree University Hospital NHS Foundation Trust</em></li>
				<li>Ocular Motility Consequences of Acquired Brain Injury<br />
				Dr Fiona Rowe<em> Reader in Orthoptics and Health Services Research NIHR Fellow, University of Liverpool</em></li>
			</ul>
			</td>
		</tr>
		<tr>
			<td>3.30pm</td>
			<td>Coffee Break</td>
		</tr>
		<tr>
			<td>4.00pm</td>
			<td><strong>Discussion Forum on Eye Care Practice &amp; Policy</strong></td>
		</tr>
	</tbody>
</table>
