<table>
	<tbody>
		<tr>
			<td>8.30am</td>
			<td>&nbsp;
			<p><strong>Paper Session</strong><br />
			Chair: Dr Alison Blake</p>

			<ul>
				<li>A Typical and Atypical Case of Streptococcal Endogenous Endophthalmitis<br />
				Helen Fogarty</li>
				<li>Half- Fluence Verterporforin PDT to Treat Chronic Serous Chorioretinopathy (CSC): An Audit in University Hospital Galway (UHG)<br />
				Christine Goodchild</li>
				<li>Pigment Under Pressure: A Case Series of Iris Melanomas<br />
				Anne-Marie Mongan</li>
			</ul>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>Questions</td>
		</tr>
		<tr>
			<td>9.00am</td>
			<td><strong>Paper Session</strong> <em>(cont.)</em>
			<ul>
				<li>Long Term Visual and Anatomic Results Following Vitrectomy for Macular Hole (MH) and Epiretinal Membrane (ERM).<br />
				Sinead Connolly</li>
				<li>Complex Retinal Detachment Repair: Outcomes of Silicone Oil Tamponade In Cork University Hospital 2010 &ndash; 2014<br />
				Terence McSwiney</li>
				<li>Clinical Outcomes of 25G Pars Plana Vitrectomy for Macular Hole Repair: A 2-year Audit<br />
				Hadia Paryani</li>
			</ul>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>Questions</td>
		</tr>
		<tr>
			<td>9.30am</td>
			<td><strong>Medical Retina Symposium</strong><br />
			Chair: Miss Marie Hickey Dwyer
			<ul>
				<li>Genotyping in Inherited Retinal Degenerations: Does it make a difference?<br />
				Dr Giuliana Silvestri <em>Royal Victoria Hospital and Queen&rsquo;s University Belfast</em></li>
				<li>Mr Simon Harding <em>Chair Professor of Clinical Ophthalmology, University of Liverpool</em></li>
			</ul>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>10.50am</td>
			<td>Coffee Break</td>
		</tr>
		<tr>
			<td>11.20am</td>
			<td><strong>Ocular Trauma &ndash; Epidemiological Aspects</strong><br />
			Prof. Carrie MacEwen <em>President, Royal College of Ophthalmologists, London</em></td>
		</tr>
		<tr>
			<td>11.45am</td>
			<td>
			<p><strong>Paper Session</strong><br />
			Chair: Mr James Morgan</p>

			<ul>
				<li>Discovery of a Homozygous Recessive RPE65 Mutation in an Irish Choroideraemia Pedigree<br />
				Emma Duignan</li>
				<li>Detection of Serum Biomarkers in Age Related Macular Degeneration<br />
				H Elshelmani Dendritic</li>
				<li>Cells in Non-Infectious Anterior Uveitis<br />
				Michael O&rsquo;Rourke</li>
				<li>Pellino3 as a Novel Target for the Treatment of Primary Sjogren&rsquo;s Syndrome Related Dry Eyes.<br />
				Qistina Pilson</li>
			</ul>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>Questions</td>
		</tr>
		<tr>
			<td>12.15pm</td>
			<td><strong>Mooney Lecture</strong><br />
			New Directions in the Management of Diabetic Retinopathy<br />
			Prof. Simon Harding
			<p><em>Chair Professor of Clinical Ophthalmology, Department of Eye and Vision Science, University of Liverpool and Honorary Consultant Ophthalmic Surgeon, St. Paul&rsquo;s Eye Unit, Royal Liverpool University Hospital</em></p>
			</td>
		</tr>
		<tr>
			<td>1.00pm</td>
			<td>Lunch</td>
		</tr>
		<tr>
			<td>2.00pm</td>
			<td>
			<p><strong>Ethics in Clinical Practice Workshop</strong><br />
			Chair: Miss Patricia McGettrick</p>

			<ul>
				<li>Informed Consent - Fact or Fiction?<br />
				Dr Diarmuid Hegarty <em>General Practitioner &amp; Lecturer RCSI MSc programme in Medical Ethics and Law </em></li>
				<li>Medical Ethics Made Easy<br />
				Miss Patricia McGettrick <em>Ethics Committee, Irish College of Ophthalmologists</em></li>
				<li>Medico-legal Aspects of Consent in Medical Practice<br />
				Mr Asim Sheikh <em>BL&nbsp;BA, LLM, Barrister-at-Law, UCD School of Medicine</em></li>
			</ul>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>
