<p >The ICO Annual Conference 2015 will take place in the Knockranny House Hotel &amp; Spa in Westport, Co Mayo from&nbsp;Wednesday 13th to Friday 15th of May.</p>

<p >The Annual Meeting is the highlight of the College Calendar and continues to attract Eye Doctors from across the country each year.</p>

<p >This year&#39;s overseas speakers will include Professor Simon Harding from the University of Liverpool&#39;s Institute of Ageing and Chronic Disease,&nbsp;who will give the<strong> </strong>ICO Annual Mooney Lecture on Diabetic Retinopathy.&nbsp;Prof Harding&nbsp;has carried out significant research through the IVAN trials (Alternative Treatments to Inhibit Vascular Endothelial Growth Factor in Age-related Choroidal Neovascularisation), which investigated whether treatment&nbsp;as needed is as effective as monthly treatment for AMD.</p>

<p >A symposium on the Ocular Complications of Acquired Brain Injury will include guest&nbsp;speakers Miss&nbsp;Carmel Noonan,&nbsp;Consultant Ophthalmologist&nbsp;and Mr Ian Marsh, Consultant Ophthalmic Surgeon from the Royal Hospital in Liverpool and Orthoptist Fiona Rowe from Liverpool University.</p>

<p >Professor Carrie MacEwen, President of the Royal College of Ophthalmologists in London will speak at this year&#39;s conference on the epidemiological aspects of ocular trauma, the changing trends and outcomes. &nbsp;Prof MacEwen was elected to the role of President of the College from May 2014 to May 2017 and is a Consultant Ophthalmologist&nbsp;at Ninewells Hospital, Dundee and Head of the Department of Ophthalmology at the University of Dundee.</p>

<p >Professor Richard Collin, Consultant Ophthalmic Surgeon&nbsp;at&nbsp;Moorfields Eye Hospital, London, will contribute to the&nbsp;symposium entitled &#39;Update on Oculoplastic Management Across the Ages&#39;&nbsp;which is being chaired by Kate Coleman, Consultant Eye and Oculoplastic Surgeon at the Blackrock Clinic, Dublin. &nbsp;</p>

<p >Mr Paul Connell, Consultant Ophthalmologist at The&nbsp;Mater Hospital,&nbsp;will present the honorary SOE Lecture entitled &lsquo;Diabetic retinopathy and maculopathy; Seeing beyond anti-VEGF therapy&rsquo;.</p>

<p >The ICO look forward to welcoming Brian Murphy,&nbsp;Head of Planning, Performance and Programme Management&nbsp;for HSE Primary Care who will give a talk on&nbsp;the recommendations of the Primary Eye Care Review Group.</p>

<p>This year&rsquo;s conference will include a very special contribution from guest speaker &ndash; Mark Pollack. Mark has overcome significant challenges, first blindness at the age of twenty-two&nbsp;followed by a fall in 2010 which left him paralysed, to explore the frontiers of human capability and courage. His talk promises to be a highlight of the meeting.&nbsp;</p>




<h3 >Accommodations &amp; Exhibitors</h3>

<p >The scientific programme will run from&nbsp;Wednesday&nbsp;morning through to&nbsp;Friday&nbsp;lunchtime and will&nbsp;have a&nbsp;parallel exhibition.</p>

<p >Set-up for the exhibition will be from&nbsp;2pm on Tuesday 12th May.&nbsp;</p>

<p >Should you wish to reserve a room at the hotel please contact reservations &nbsp;directly (T: 098 28600)</p>


<p >For further information, please contact Siobhan Kelly at the ICO&nbsp;<a href="mailto:Siobhan.kelly@eyedoctors.ie" >Siobhan.kelly@eyedoctors.ie</a>&nbsp;/&nbsp;<a href="mailto:info@eyedoctors.ie" >info@eyedoctors.ie</a></p>

