<table>
	<tbody><!-- tr>
			<td> </td>
			<td>
			<p><span class="ctitle"><strong>Chair</strong></span><br />
			<strong>Mr John Doris</strong><br />
			President, Irish College of Ophthalmologists</p>
			</td>
		</tr -->
		<tr>
			<td>8.00am</td>
			<td><i>Check In and Refreshments</i></td>
		</tr>
		<tr>
			<td>8.30am</td>
			<td>Welcome address<br />
			<strong><a data-href="john_doris" data-target="#biography" data-toggle="modal" href="#" title="Mr John Doris"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Mr John Doris</a></strong><br />
			President, Irish College of Ophthalmologists
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>8.35am</td>
			<td>
			<p><strong>Clinical Session: Cataract</strong></p>

			<p><span class="ctitle">Development of a Cataract Pathway in Dublin North East </span><br />
			<strong><a data-href="tim_fulcher" data-target="#biography" data-toggle="modal" href="#" title="Mr Tim Fulcher"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" />&nbsp;Mr Tim Fulcher</a></strong><br />
			Ophthalmologist, Mater Hospital and Beaumont Hospital, Dublin</p>

			<p><span class="ctitle">Challenging Clinical Situations in Cataract Surgery </span><br />
			<strong><a data-href="lisa_mcanena" data-target="#biography" data-toggle="modal" href="#" title="Ms Lisa McAnena"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" />&nbsp;Ms Lisa McAnena</a></strong><br />
			Ophthalmologist, Mater Hospital and Beaumont Hospital, Dublin</p>

			<p><span class="ctitle">Optometrist Led Post-op Cataract Clinic</span><br />
			<strong><a data-href="chriosa_o_connor" data-target="#biography" data-toggle="modal" href="#" title="Ms Chriosa O'Connor"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Ms Chriosa O&#39;Connor</a></strong><br />
			Clinical Optometrist, Mater Hospital, Dublin</p>

			<p><span class="ctitle">CH07 Referral Pathways and Service </span><br />
			<strong><a data-href="margaret_morgan" data-target="#biography" data-toggle="modal" href="#" title="Margaret Morgan"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" />Dr Margaret Morgan</a></strong><br />
			Ophthalmologist, CHO7 and Royal Victoria Eye and Ear Hospital, Dublin.</p>

			<p><span class="ctitle">10 Ways to Improve Cataract Referrals </span><br />
			<strong><a data-href="tania_constable" data-target="#biography" data-toggle="modal" href="#" title="Tania Constable"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" />Ms Tania Constable</a></strong><br />
			Clinical Optometrist, CHO7</p>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><b>Q&amp;A</b></td>
		</tr>
		<tr>
			<td>10.30am</td>
			<td><i>Refreshments</i></td>
		</tr>
		<tr>
			<td>11.00am</td>
			<td>
			<p><strong>Making your Practice more Sustainable</strong></p>

			<p><span class="ctitle">Sustainability in Cataract Surgery</span><br />
			<strong><a data-href="alison_greene" data-target="#biography" data-toggle="modal" href="#" title="Dr Alison Greene"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Dr Alison Greene</a></strong><br />
			Ophthalmology SpR, Royal Victoria Eye and Ear Hospital, Dublin<br />
			<br />
			<span class="ctitle">Recycling - It&#39;s the Simple Things</span><br />
			<strong><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px; float: left;" />&nbsp;<a alt="" aria-hidden="true" data-href="louise_doyle" data-target="#biography" data-toggle="modal" href="#" img="" src="/images/user-portrait.png" style="max-height: 15px;float: left;" title="Louise Doyle">Ms Louise Doyle</a></strong><br />
			Theatre Nurse, University Hospital Waterford</p>

			<p><span class="ctitle">Simple Ways to Make Your Practice More Sustainable</span><br />
			<strong><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px; float: left;" /><a alt="" aria-hidden="true" data-href="helen_curran" data-target="#biography" data-toggle="modal" href="#" img="" src="/images/user-portrait.png" style="max-height: 15px;float: left;" title="Helen Curran"> Ms Helen Curran</a></strong><br />
			Head of Sustainability, Specsavers UK/IRE</p>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><b>Q&amp;A</b></td>
		</tr>
		<tr>
			<td>12.00pm</td>
			<td>
			<p><strong>Clinical Programme in Ophthalmology </strong><br />
			Update from the National Lead for the Clinical Programme in Ophthalmology</p>

			<p><span class="ctitle">Developing the Eye Care Strategy: where to next?</span><br />
			<strong><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px; float: left;" /><a alt="" aria-hidden="true" data-href="aoife_doyle" data-target="#biography" data-toggle="modal" href="#" img="" src="/images/user-portrait.png" style="max-height: 15px;float: left;" title="Ms Aoife Doyle">&nbsp;Ms Aoife Doyle</a></strong><br />
			Ophthalmologist, Royal Victoria Eye and Ear Hospital and St James&#39;s Hospital, Dublin; National Clinical Lead for Ophthalmology</p>

			<p><span class="ctitle">Orthoptics within the Public Health Service - the challenges and opportunities.</span><br />
			<strong><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px; float: left;" /><a alt="" aria-hidden="true" data-href="sarah_spain" data-target="#biography" data-toggle="modal" href="#" img="" src="/images/user-portrait.png" style="max-height: 15px;float: left;" title="Sarah Spain">&nbsp;Ms Sarah Spain</a></strong><br />
			Senior Orthoptist, Health &amp; Social Care Professions (HSCP) Lead for the National Clinical Programme in&nbsp;Ophthalmology.</p>

			<p><span class="ctitle">Supporting and Developing the Role of Nursing and Ophthalmic Technician</span><br />
			<strong><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px; float: left;" /><a alt="" aria-hidden="true" data-href="cathriona_ennis" data-target="#biography" data-toggle="modal" href="#" img="" src="/images/user-portrait.png" style="max-height: 15px;float: left;" title="Ms Cathríona Ennis">&nbsp;Ms Cathr&iacute;&shy;ona Ennis</a></strong><br />
			Director of Nursing, Royal Victoria Eye and Ear Hospital, Dublin</p>
			</td>
		</tr>
		<tr>
			<td>12.45pm</td>
			<td><i>Lunch</i></td>
		</tr>
		<tr>
			<td>1.45pm</td>
			<td>
			<p><strong>Clinical Session: Paediatrics</strong></p>
			<p><span class="ctitle">Person First: Assessing Vulnerable Adults with Additional Needs</span><br />
			<strong><a data-href="tania_constable" data-target="#biography" data-toggle="modal" href="#" title="Ms Tania Constable"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Ms Tania Constable,</a></strong><br />
			Clinical Optometrist, CHO7</p>

			<p><span class="ctitle">Community Paediatric Ophthalmology (Policies, Procedures and Integrated Approach)</span><br />
			<strong><a data-href="geraldine_comer" data-target="#biography" data-toggle="modal" href="#" title="Dr Geraldine Comer"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Dr Geraldine Comer</a></strong><br />
			Ophthalmologist, University Hospital Galway (CHO2 West)</p>

			<p><span class="ctitle">Retinopathy of Prematurity - Past, Present and Future&#39; </span><br />
			<strong><a data-href="christine_bourke" data-target="#biography" data-toggle="modal" href="#" title="Dr Christine Bourke"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Dr Christine Bourke</a></strong><br />
			Paediatric Ophthalmology Clinical Fellow, Children&#39;s Health Ireland at Temple Street and Crumlin Hospitals</p>


			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><b>Q&amp;A</b></td>
		</tr>
		<tr>
			<td>2.45pm</td>
			<td>
			<p><strong>Case Based Discussion </strong></p>

			<p><strong><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px; float: left;" /><a alt="" aria-hidden="true" data-href="emer_doolan" data-target="#biography" data-toggle="modal" href="#" img="" src="/images/user-portrait.png" style="max-height: 15px;float: left;" title="Dr Emer Doolan">&nbsp;Dr Emer Doolan</a></strong><br />
			Ophthalmologist, Royal Victoria Eye and Ear Hospital, CHO6 and CH07</p>
			</td>
		</tr>
		<tr>
			<td>3.15pm</td>
			<td>
			<p><strong>The Role of Nutrition in Protecting Vision </strong></p>

			<p><span class="ctitle">The Evidence for Targeted Nutrition to Improve Visual Function </span><br />
			<strong><a data-href="john_nolan" data-target="#biography" data-toggle="modal" href="#" title="John Nolan"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Prof John Nolan</a></strong><br />
			Founder and Director, Nutrition Research Centre Ireland; Howard Chair in Human Nutrition and Principal Investigator of the Macular Pigment Research Group, South East Technological University</p>

			<p>Prof Nolan will also outline the plans for a <b>New School of Optometry</b> at South East Technological University.</p>
			</td>
		</tr>
		<tr>
			<td>4.00pm</td>
			<td><i>Meeting Close</i></td>
		</tr>
	</tbody>
</table>

<div>&nbsp;</div>

<div>&nbsp;</div>
