<table>
	<tbody>
		<tr>
			<td>12.00pm</td>
			<td>
			<p><strong>Official Welcome</strong></p>

			<p>Mr Tim Fulcher<br />
			President, Irish College of Ophthalmologists</p>
			</td>
		</tr>
		<tr>
			<td>12.05pm</td>
			<td>
			<p><strong>Paper Session</strong></p>

			<p>Chairs: Prof Colm O&#39;Brien, Mater Misericordiae University Hospital, Dublin and Dr Fiona Kearns, Beaumont Hospital, Dublin</p>
			</td>
		</tr>
		<tr>
			<td>1.00pm</td>
			<td><i>Lunch</i></td>
		</tr>
		<tr>
			<td>2.00pm</td>
			<td>
			<p><strong>&#39;Delivering Integrated Care in Ireland&#39;&nbsp;</strong></p>

			<p>Chair:&nbsp;<span background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Prof Colm O&#39;Brien, Mater Misericordiae University Hospital, Dublin</span></p>

			<p><strong>Prof Billy Power - National Perspective</strong><br />
			Clinical Lead for Ophthalmology and Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital, Dublin</p>

			<p><strong>Prof David Keegan - Regional Approach</strong><br />
			Consultant Ophthalmic Surgeon, Mater Misericordiae University Hospital, Dublin</p>

			<p><strong>Dr Margaret Morgan - Eye Care in the non-Acute Setting</strong><br />
			Consultant Medical Ophthalmologist, Royal Victoria Eye and Ear Hospital, Dublin and CHO7</p>

			<p><strong>Chr&iacute;osa O Conor - Post-operative Cataract Clinics</strong><br />
			Optometrist, Mater Misericordiae University Hospital, Dublin</p>
			</td>
		</tr>
		<tr>
			<td>3.30pm</td>
			<td><i>Refreshments</i></td>
		</tr>
		<tr>
			<td>4.00pm</td>
			<td>
			<p><strong>Paper Session</strong></p>

			<p><span background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Chairs: Mr</span><span background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">&nbsp;John Doris, University Hospital Waterford&nbsp;and Prof Conor Murphy, Royal Victoria Eye and Ear Hospital, Dublin</span></p>
			</td>
		</tr>
		<tr>
			<td>5.00pm</td>
			<td>
			<p><strong>Annual Mooney Lecture 2022</strong></p>

			<p>Introduction: Prof David Keegan, Mater Misericordiae University Hospital, Dublin</p>

			<p><strong>&lsquo;Improving the Outcomes of Surgery for Retinal Detachment&rsquo;</strong></p>

			<p><strong><a href="https://www.columbiaeye.org/profile/schang" target="ext" title="Read Prof Stanley Chang biography">Prof Stanley Chang</a></strong><br />
			K.K. Tse and Ku Teh Ying Professor of Ophthalmology<br />
			Columbia University Department of Ophthalmology</p>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>
