<table>
	<tbody>
		<tr>
			<td>11.00pm</td>
			<td>
			<p><strong>Refreshments and Parallel Exhibition</strong></p>
			</td>
		</tr>
		<tr>
			<td>12.00pm</td>
			<td>
			<p><strong>Official Welcome</strong></p>

			<p>Mr Tim Fulcher<br />
			President, Irish College of Ophthalmologists</p>
			</td>
		</tr>
		<tr>
			<td>12.05pm</td>
			<td>
			<p><strong>Paper Session</strong></p>

			<p>Chairs: Prof Colm O&#39;Brien, Mater Misericordiae University Hospital, Dublin and Dr Fiona Kearns, Beaumont Hospital, Dublin</p>

			<ul>
				<li>Effectiveness and Safety of the XEN 45 Gel Stent as a Minimally Invasive Glaucoma Surgery Device in the Management of Open-Angle Glaucoma<br />
				Simon Neary</li>
				<li>The Role of Small Incisional Cataract Surgery (SICS) in an Indian Hospital.<br />
				Joseph Keenan</li>
				<li>A screening tool to detect chronic ocular graft versus host disease in a Hematology/ Oncology outpatient setting<br />
				Emily Greenan</li>
				<li>Clinical evaluation of a new extended depth-of-focus intraocular lens, the PhysIOL Isopure 123, in achieving functional distance, intermediate, and near vision post cataract surgery.<br />
				James Morris</li>
				<li>An Analysis of Ophthalmology Inpatient Consults at Cork University Hospital<br />
				Robert McGrath</li>
				<li>The use of Autologous Serum in Dry Eyes and Ocular Surface Diseases<br />
				Azher Aldouri</li>
				<li>Efficacy of selective laser trabeculoplasty as an adjuvant treatment in open angle glaucoma.<br />
				Shane O&#39;Regan</li>
				<li>The Ecological Impact of Cataract Surgery - Single-use Items Consumption and Knowledge of Ophthalmic Theatre Staff in University Hospital Limerick<br />
				Emilie Mahon</li>
			</ul>
			</td>
		</tr>
		<tr>
			<td>1.00pm</td>
			<td><i>Lunch</i></td>
		</tr>
		<tr>
			<td>2.00pm</td>
			<td>
			<p><strong>Delivering Integrated Care in Ireland</strong></p>

			<p>Chair: <span>Prof Colm O&#39;Brien, Mater Misericordiae University Hospital, Dublin</span></p>

			<p><span class="ctitle">The National Clinical Programme for Ophthalmology: Supporting the Delivery of Integrated Care</span><br />
			<strong><a data-href="william_power" data-target="#biography" data-toggle="modal" href="#" title="Prof Billy Power"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Prof Billy Power </a></strong><br />
			Clinical Lead for Ophthalmology and Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital, Dublin</p>

			<p><span class="ctitle">Establishment of a Novel Governance Structure to Transform, Integrate and Deploy Regional Eye Care - the virtual Accountable Care Organisation (vACO)</span><br />
			<strong><a data-href="david_keegan" data-target="#biography" data-toggle="modal" href="#" title="Prof David Keegan"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Prof David Keegan </a></strong><br />
			Consultant Ophthalmic Surgeon, Mater Misericordiae University Hospital, Dublin</p>

			<p><span class="ctitle">Eye Care in the non-Acute Setting</span><br />
			<strong><a data-href="margaret_morgan" data-target="#biography" data-toggle="modal" href="#" title="Dr Margaret Morgan"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Dr Margaret Morgan </a> </strong><br />
			Consultant Medical Ophthalmologist, Royal Victoria Eye and Ear Hospital, Dublin and CHO7</p>

			<p><span class="ctitle">The Role of an Optometrist in a Multidisciplinary team.</span><br />
			<strong><a data-href="chriosa_oconnor" data-target="#biography" data-toggle="modal" href="#" title="Chríosa O Connor"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Chriosa&nbsp;O Connor </a></strong><br />
			Optometrist, Mater Misericordiae University Hospital, Dublin</p>
			</td>
		</tr>
		<tr>
			<td>3.30pm</td>
			<td><i>Refreshments</i></td>
		</tr>
		<tr>
			<td>4.00pm</td>
			<td>
			<p><strong>Paper Session</strong></p>

			<p><span>Chairs: Mr</span><span>&nbsp;John Doris, University Hospital Waterford&nbsp;and Prof Conor Murphy, Royal Victoria Eye and Ear Hospital, Dublin</span></p>

			<ul>
				<li>The role of NUAK1 and its inhibition in human glaucoma lamina cribrosa cells<br />
				Sarah Powell</li>
				<li>The effect of miR-29b expression on ADAM 12 &amp; ADAM19 in the lamina cribrosa in primary open angle glaucoma<br />
				Aoife Smyth</li>
				<li>Application of a recellularised porcine corneal graft in an in vivo leporine anterior lamellar keratoplasty model<br />
				Robert Brady</li>
				<li>Hypoxia drives Fibrosis in Pseudoexfoliation Glaucoma via DNA Methylation<br />
				Deborah Wallace</li>
				<li>Circadian regulation of the inner blood retinal barrier: a paradigm for dry age-related macular degeneration development<br />
				Fionn O&#39;Leary</li>
				<li>Guardian of the Genome p53 dysregulation in glaucomatous lamina cribrosa cells.<br />
				Kealan McElhinney</li>
				<li>Autotaxin: A Fibrosis Target in the Lamina Cribrosa in Glaucoma<br />
				Amy O&#39;Regan</li>
			</ul>
			</td>
		</tr>
		<tr>
			<td>5.00pm</td>
			<td>
			<p><strong>Annual Mooney Lecture 2022</strong></p>

			<p>Introduction: Prof David Keegan</p>

			<p><strong>&lsquo;Improving the Outcomes of Surgery for Retinal Detachment&rsquo;</strong></p>

			<p><strong><a data-href="stanley_chang" data-target="#biography" data-toggle="modal" href="#" title="Prof Stanley Chang"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Prof Stanley Chang </a> </strong><br />
			K.K. Tse and Ku Teh Ying Professor of Ophthalmology<br />
			Columbia University Department of Ophthalmology</p>
			</td>
		</tr>
	</tbody>
</table>
