<table>
	<tbody>
		<tr>
			<td>12.00pm</td>
			<td>
			<p><strong>Official Welcome</strong></p>

			<p>Mr Tim Fulcher<br />
			President, Irish College of Ophthalmologists</p>
			</td>
		</tr>
		<tr>
			<td>12.05pm</td>
			<td>
			<p><strong>Paper Session</strong></p>

			<p>Chairs: Prof Colm O'Brien, Mater Misericordiae University Hospital, Dublin and Dr Fiona Kearns, Beaumont Hospital, Dublin</p>
			<ul>
				<li>Effectiveness and Safety of the XEN 45 Gel Stent as a Minimally Invasive Glaucoma Surgery Device in the Management of Open-Angle Glaucoma<br />
				Simon Neary</li>
				<li>The Role of Small Incisional Cataract Surgery (SICS) in an Indian Hospital.<br />
				Joseph Keenan</li>
				<li>A screening tool to detect chronic ocular graft versus host disease in a Hematology/ Oncology outpatient setting<br />
				Emily Greenan</li>
				<li>Clinical evaluation of a new extended depth-of-focus intraocular lens, the PhysIOL Isopure 123, in achieving functional distance, intermediate, and near vision post cataract surgery.<br />
				James Morris</li>
				<li>An Analysis of Ophthalmology Inpatient Consults at Cork University Hospital<br />
				Robert McGrath</li>
				<li>The use of Autologous Serum in Dry Eyes and Ocular Surface Diseases<br />
				Azher Aldouri</li>
				<li>Efficacy of selective laser trabeculoplasty as an adjuvant treatment in open angle glaucoma.<br />
				Shane O'Regan</li>
				<li>The Ecological Impact of Cataract Surgery - Single-use Items Consumption and Knowledge of Ophthalmic Theatre Staff in University Hospital Limerick<br />
				Emilie Mahon</li>
			</ul>
			</td>
		</tr>
		<tr>
			<td>1.00pm</td>
			<td><i>Lunch</i></td>
		</tr>
		<tr>
			<td>2.00pm</td>
			<td>
			<p><strong>Delivering Integrated Care in Ireland</strong></p>

			<p>Chair: <span >Prof Colm O'Brien, Mater Misericordiae University Hospital, Dublin</span></p>

			<p>
				<span class="ctitle">The National Clinical Programme for Ophthalmology: Supporting the Delivery of  Integrated Care</span>
				<br/><strong>
					<a href="#"  data-toggle="modal" data-target="#biography" data-href="william_power" title="Prof Billy Power">
						<img src="/images/user-portrait.png" alt="" aria-hidden="true" style="max-height: 15px;float: left;"/>
						&nbsp;Prof Billy Power
					</a>
					 - National Perspective</strong><br />
			Clinical Lead for Ophthalmology and Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital, Dublin</p>

			<p>
				<span class="ctitle">Establishment of a Novel Governance Structure to Transform, Integrate and Deploy Regional Eye Care - the virtual Accountable Care Organisation (vACO)</span>
				<br/><strong>
                    <a href="#"  data-toggle="modal" data-target="#biography" data-href="david_keegan" title="Prof David Keegan">
                        <img src="/images/user-portrait.png" alt="" aria-hidden="true" style="max-height: 15px;float: left;"/>
                        &nbsp;Prof David Keegan
                    </a>


				 - Regional Approach</strong><br />
			Consultant Ophthalmic Surgeon, Mater Misericordiae University Hospital, Dublin</p>

			<p>
				<span class="ctitle">Eye Care in the non-Acute Setting</span>
				<br/><strong>Dr Margaret Morgan </strong><br />
			Consultant Medical Ophthalmologist, Royal Victoria Eye and Ear Hospital, Dublin and CHO7</p>

			<p>
				<span class="ctitle">Post-operative cataract clinics</span>
				<br/>

				<strong>Chr&iacute;osa O Connor - Post-operative Cataract Clinics</strong><br />
			Optometrist, Mater Misericordiae University Hospital, Dublin</p>
			</td>
		</tr>
		<tr>
			<td>3.30pm</td>
			<td><i>Refreshments</i></td>
		</tr>
		<tr>
			<td>4.00pm</td>
			<td>
			<p><strong>Paper Session</strong></p>

			<p><span>Chairs: Mr</span><span>&nbsp;John Doris, University Hospital Waterford&nbsp;and Prof Conor Murphy, Royal Victoria Eye and Ear Hospital, Dublin</span></p>
			<ul>
				<li>The role of NUAK1 and its inhibition in human glaucoma lamina cribrosa cells<br />
				Sarah Powell</li>
				<li>The effect of miR-29b expression on ADAM 12 & ADAM19 in the lamina cribrosa in primary open angle glaucoma<br />
				Aoife Smyth</li>
				<li>Application of a recellularised porcine corneal graft in an in vivo leporine anterior lamellar keratoplasty model<br />
				Robert Brady</li>
				<li>Hypoxia drives Fibrosis in Pseudoexfoliation Glaucoma via DNA Methylation<br />
				Deborah Wallace</li>
				<li>Circadian regulation of the inner blood retinal barrier: a paradigm for dry age-related macular degeneration development<br />
				Fionn O'Leary</li>
				<li>Guardian of the Genome p53 dysregulation in glaucomatous lamina cribrosa cells.<br />
				Kealan McElhinney</li>
				<li>Autotaxin: A Fibrosis Target in the Lamina Cribrosa in Glaucoma<br />
				Amy O'Regan</li>
			</ul>
			</td>
		</tr>
		<tr>
			<td>5.00pm</td>
			<td>
			<p><strong>Annual Mooney Lecture 2022</strong></p>

			<p>Introduction: Prof David Keegan, Mater Misericordiae University Hospital, Dublin</p>

			<p><strong>&lsquo;Improving the Outcomes of Surgery for Retinal Detachment&rsquo;</strong></p>

			<p><strong><a href="https://www.columbiaeye.org/profile/schang" target="ext" title="Read Prof Stanley Chang biography">Prof Stanley Chang</a></strong><br />
			K.K. Tse and Ku Teh Ying Professor of Ophthalmology<br />
			Columbia University Department of Ophthalmology</p>
			</td>
		</tr>
	</tbody>
</table>




