<table>
	<tbody>
		<tr>
			<td><strong>8.15am</strong></td>
			<td><i>Breakfast Session - Kindly supported by Bayer</i></td>
		</tr>
		<tr>
			<td><strong>9.15am</strong></td>
			<td>
			<p><strong>Ocular Surface Disease Symposium</strong><br />
			Chair: Ms Nikolina Budimlija,&nbsp;Institute of Eye Surgery, Waterford</p>

			<p>
				<span class="ctitle"><!-- em>&#8220;</em -->Allergic eye disease: Myths, Mysteries and Modern medicine<!-- em>&#8221;</em --></span>
				<br/><strong>Mr Tom Flynn</strong>&nbsp;<br />
			Consultant Ophthalmic Surgeon,&nbsp;Bon Secours Hospital, Cork

			
			</p>

			<p>
				<span class="ctitle">Paediatric Ocular Surface Disease: JOMO to FOMO</span>
				<br/><strong>Mr Samer Hamada&nbsp;</strong><br />
			Clinical Lead and Consultant Ophthalmic Surgeon, Queen Victoria Hospital NHS Foundation Trust, UK</p>

			<p>
				<span class="ctitle"><!-- em>&#8220;</em -->Conjunctival inflammation from beyond! Diagnosis and management of cicatrising conjunctival disease.<!-- em>&#8221;</em --></span> 


				
				<br/><strong>Prof Conor Murphy</strong><br />
			Professor of Ophthalmology, Royal College of Surgeons in Ireland and Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital, Dublin
			

		</p>

			<p>
				<span class="ctitle"><!-- em>&#8220;</em -->Ménage à trois: sex, sex steroids and dry eye disease.<!-- em>&#8221;</em --></span>
				<br/><strong>Mr David Sullivan&nbsp;</strong><br />
			Chairman, Board of Directors, Tear Film &amp; Ocular Surface Society (TFOS), Boston, US and former&nbsp;Associate Professor, Department of Ophthalmology, Harvard Medical School
			
		</p>
			</td>
		</tr>
		<tr>
			<td><strong>10.45am</strong></td>
			<td><i>Coffee</i></td>
		</tr>
		<tr>
			<td><strong>11.15am</strong></td>
			<td>
			<p><strong>ICO National Training Programme </strong></p>

			<p><strong>Miss Yvonne Delaney</strong><br />
			Dean of Postgraduate Education, Irish College of Ophthalmologists</p>
			</td>
		</tr>
		<tr>
			<td><strong>12.00pm</strong></td>
			<td>
			<p><b>European Society of Ophthalmology (SOE) Lecture 2022 </b></p>

			<p>Introduction: Ms Patricia Logan</p>

			<p>
			<span class="ctitle"><!-- em>&#8220;</em -->Oculoplastics and Orbit Today!<!-- em>&#8221;</em --></span>
				<br/><strong>Ms Elizabeth McElnea</strong>&nbsp;<br />
			Consultant Ophthalmic Surgeon, University Hospital Galway, Dublin

			
		</p>
			</td>
		</tr>
		<tr>
			<td><strong>12.30pm</strong></td>
			<td>
			<p><strong>Irish College of Ophthalmologists Annual General Meeting</strong></p>

			<p>Chair: Mr Tim Fulcher, President, ICO</p>

			<p>ICO Members Only</p>
			</td>
		</tr>
		<tr>
			<td><strong>1.00pm</strong></td>
			<td><i>Lunch</i></td>
		</tr>
		<tr>
			<td><strong>2.00pm</strong></td>
			<td>
				<p><strong>Recent Clinical Trials</strong>
			<p>

			Chairs: Ms Janice Brady&nbsp;and Dr Muhammed Akram, Waterford University Hospital
			</p>

			<p>
			<span class="ctitle"><!-- em>&#8220;</em -->The Treatment of Advanced Glaucoma Study - Outcomes at 24 months<!-- em>&#8221;</em --></span>
			<br/>	<strong>Prof Anthony King </strong>&nbsp;<br />
			Consultant Ophthalmologist, Nottingham University Hospital, NHS<br />
			Honorary Professor of Clinical Ophthalmology at the University of Nottingham, UK</p>

			<p>
<strong>Mr Ian Flitcroft &ndash; Myopia</strong><br />
			Consultant Ophthalmologist, Children&rsquo;s&nbsp;Health Ireland (CHI)&nbsp;Temple Street, and Mater Misericordiae University Hospital, Dublin

			</p>

			<p>
			<span class="ctitle"><!-- em>&#8220;</em -->Clinical trials &ndash; trials and tribulations of using the results in everyday practice<!-- em>&#8221;</em --></span>
			<br/>	


				<strong>Prof Tunde Peto</strong><br />
			Professor of Clinical Ophthalmology, Queen&rsquo;s University, Belfast</p>
			</td>
		</tr>
		<tr>
			<td><strong>3.00pm</strong></td>
			<td><i>Refreshments</i></td>
		</tr>
		<tr>
			<td><strong>3.30pm</strong></td>
			<td>
			<p><strong>Parallel workshops </strong></p>

			<p><strong>Ocular Motility Workshop  </strong></p>

			<p>
				<span class="ctitle">Seeing is Believing</span>
				<br/>
				<strong>Jaina Byrne</strong><br />
			Orthoptist, Beaumont Hospital, Dublin</p>

			<p>
			<span class="ctitle">Strabismic Thinking</span>
			<br/><strong>Mr Edward Loane</strong><br />
			<span>Consultant Ophthalmic Surgeon, St James<em>&#39;</em>s Hospital, Dublin</span></p>

			<p>
				<span class="ctitle">The Basics</span>
				<br/>
				<strong>Ms Edel Cosgrave</strong><br />
				<span>Consultant Ophthalmologist, University Hospital Waterford</span></p>

			<p><strong>OCTA</strong></p>

			<p>
			<span class="ctitle">OCT Angiography in practice</span>
			<br/>

				<strong>Mr Tom&aacute;s Burke</strong><br />
			Consultant Ophthalmologist, Mater Misericordiae University Hospital, Dublin</p>
			</td>
		</tr>
		<tr>
			<td><strong>4.30pm</strong></td>
			<td>
			<p>Sponsored Session - Kindly supported by Alimera Sciences</p>
			</td>
		</tr>
	</tbody>
</table>
