<table>
	<tbody>
		<tr>
			<td><strong>8.00am</strong></td>
			<td><a href="/medium/images/Bayer_Symposium_ICO_Ann_Meet_17_May_2022-k.pdf" target="_blank">Breakfast Sponsored Session&nbsp;Neovascular AMD</a><i>&nbsp;- Kindly supported by Bayer</i></td>
		</tr>
		<tr>
			<td><strong>9.15am</strong></td>
			<td>
			<p><strong>Ocular Surface Disease Symposium</strong><br />
			Chair: Ms Nikolina Budimlija,&nbsp;Institute of Eye Surgery, Waterford</p>

			<p><span class="ctitle"><!-- em>“</em -->Allergic eye disease: Myths, Mysteries and Modern medicine<!-- em>”</em --></span><br />
			<strong><a data-href="tom_flynn" data-target="#biography" data-toggle="modal" href="#" title="Mr Tom Flynn"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Mr Tom Flynn </a> </strong><br />
			Consultant Ophthalmic Surgeon,&nbsp;Bon Secours Hospital, Cork</p>

			<p><span class="ctitle">Paediatric Ocular Surface Disease: JOMO to FOMO</span><br />
			<strong><a data-href="samer_hamada" data-target="#biography" data-toggle="modal" href="#" title="Mr Samer Hamada"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Mr Samer Hamada </a> </strong><br />
			Clinical Lead and Consultant Ophthalmic Surgeon, Queen Victoria Hospital NHS Foundation Trust, UK</p>

			<p><span class="ctitle"><!-- em>“</em -->Conjunctival Inflammation From Beyond! Diagnosis and Management of Cicatrising Conjunctival Disease.<!-- em>”</em --></span><br />
			<strong><a data-href="conor_murphy" data-target="#biography" data-toggle="modal" href="#" title="Prof Conor Murphy"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Prof Conor Murphy </a> </strong><br />
			Professor of Ophthalmology, Royal College of Surgeons in Ireland and Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital, Dublin</p>

			<p><span class="ctitle"><!-- em>“</em -->M&eacute;nage &agrave; Trois: Sex, Sex Steroids and Dry Eye Disease.<!-- em>”</em --></span><br />
			<strong><a data-href="david_asullivan" data-target="#biography" data-toggle="modal" href="#" title="Mr David Sullivan"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Mr David Sullivan </a> </strong><br />
			Chairman, Board of Directors, Tear Film &amp; Ocular Surface Society (TFOS), Boston, US and former&nbsp;Associate Professor, Department of Ophthalmology, Harvard Medical School</p>
			</td>
		</tr>
		<tr>
			<td><strong>10.45am</strong></td>
			<td><i>Coffee</i></td>
		</tr>
		<tr>
			<td><strong>11.15am</strong></td>
			<td>
			<p><strong>ICO National Training Programme </strong></p>

			<p><strong><a data-href="yvonne_delaney" data-target="#biography" data-toggle="modal" href="#" title="Miss Yvonne Delaney"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Miss Yvonne Delaney </a> </strong><br />
			Dean of Postgraduate Education, Irish College of Ophthalmologists</p>
			</td>
		</tr>
		<tr>
			<td><strong>12.00pm</strong></td>
			<td>
			<p><b>European Society of Ophthalmology (SOE) Lecture 2022 </b></p>

			<p>Introduction: Ms Patricia Logan</p>

			<p><span class="ctitle"><!-- em>“</em -->Oculoplastics and Orbit Today!<!-- em>”</em --></span><br />
			<strong><a data-href="elizabeth_mcelnea" data-target="#biography" data-toggle="modal" href="#" title="Ms Elizabeth McElnea"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Ms Elizabeth McElnea </a></strong><br />
			Consultant Ophthalmic Surgeon, University Hospital Galway</p>
			</td>
		</tr>
		<tr>
			<td><strong>12.30pm</strong></td>
			<td>
			<p><strong>Irish College of Ophthalmologists Annual General Meeting</strong></p>

			<p>Chair: Mr Tim Fulcher, President, ICO</p>

			<p>ICO Members Only</p>
			</td>
		</tr>
		<tr>
			<td><strong>1.00pm</strong></td>
			<td><i>Lunch</i></td>
		</tr>
		<tr>
			<td><strong>2.00pm</strong></td>
			<td>
			<p><strong>Recent Clinical Trials</strong></p>

			<p>Chairs: Ms Janice Brady&nbsp;and Dr Muhammed Akram, Waterford University Hospital</p>

			<p><span class="ctitle"><!-- em>“</em -->The Treatment of Advanced Glaucoma Study - Outcomes at 24 months<!-- em>”</em --></span><br />
			<strong><a data-href="anthony_king" data-target="#biography" data-toggle="modal" href="#" title="Prof Anthony King"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Prof Anthony King </a></strong><br />
			Consultant Ophthalmologist, Nottingham University Hospital, NHS<br />
			Honorary Professor of Clinical Ophthalmology at the University of Nottingham, UK</p>

			<p><span class="ctitle"><!-- em>“</em -->Myopia<!-- em>”</em --></span><br />
			<strong><a data-href="ian_flitcroft" data-target="#biography" data-toggle="modal" href="#" title="Mr Ian Flitcroft"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Mr Ian Flitcroft </a></strong><br />
			Consultant Ophthalmologist, Children&rsquo;s&nbsp;Health Ireland (CHI)&nbsp;Temple Street, and Mater Misericordiae University Hospital, Dublin</p>

			<p><span class="ctitle"><!-- em>“</em -->Clinical trials &ndash; trials and tribulations of using the results in everyday practice<!-- em>”</em --></span><br />
			<strong><a data-href="tunde_peto" data-target="#biography" data-toggle="modal" href="#" title="Prof Tunde Peto"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Prof Tunde Peto </a> </strong><br />
			Professor of Clinical Ophthalmology, Queen&rsquo;s University, Belfast</p>
			</td>
		</tr>
		<tr>
			<td><strong>3.00pm</strong></td>
			<td><i>Refreshments</i></td>
		</tr>
		<tr>
			<td><strong>3.30pm</strong></td>
			<td>
			<p><strong>Parallel workshops </strong></p>

			<p><strong>Ocular Motility Workshop </strong></p>

			<p><span class="ctitle">The Basics</span><br />
			<strong><a data-href="edel_cosgrave" data-target="#biography" data-toggle="modal" href="#" title="Ms Edel Cosgrave"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Ms Edel Cosgrave </a> </strong><br />
			<span>Consultant Ophthalmologist, University Hospital Waterford</span></p>


			<p><span class="ctitle">Seeing is Believing</span><br />
			<strong><a data-href="jaina_byrne" data-target="#biography" data-toggle="modal" href="#" title="Jaina Byrne"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Jaina Byrne </a> </strong><br />
			Orthoptist, Beaumont Hospital, Dublin</p>

			<p><span class="ctitle">Strabismic Thinking</span><br />
			<strong><a data-href="edward_loane" data-target="#biography" data-toggle="modal" href="#" title="Mr Edward Loane"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Mr Edward Loane </a> </strong><br />
			<span>Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital, Dublin</span></p>



			<p><strong>OCTA</strong></p>

			<p><span class="ctitle">OCT Angiography in practice</span><br />
			<strong><a data-href="tomas_burke" data-target="#biography" data-toggle="modal" href="#" title="Mr Tomás Burke"><img alt="" aria-hidden="true" src="/images/user-portrait.png" style="max-height: 15px;float: left;" /> &nbsp;Mr Tomas Burke </a> </strong><br />
			Consultant Ophthalmologist, Mater Misericordiae University Hospital, Dublin</p>
			</td>
		</tr>
		<tr>
			<td><strong>4.30pm</strong></td>
			<td>
			<p><a href="/medium/images/Alimera_Sciences_ICO_SYMPOSIUM_INVITATION_-_Uveitis_Challeng-w.pdf" target="_blank">Sponsored Session Uveitis Challenges</a>&nbsp;- Kindly supported by Alimera Sciences</p>
			</td>
		</tr>
	</tbody>
</table>
