<p>&nbsp;</p>

<table>
	<tbody>
		<tr>
			<td><strong>9.00am</strong></td>
			<td>
			<p><strong>Paper Session</strong><br />
			Chairs: Dr Muhammad Akram, University Hospital Waterford&nbsp;and Ms Elizabeth McElnea, University Hospital Galway</p>

			<ul>
				<li>Differential experience-dependent plasticity of form and motion mechanisms in anisometropic amblyopia.<br />
				Sean Chen</li>
				<li>Is point wise analysis of the Humphrey visual field feasible as a primary outcome in idiopathic intracranial hypertension?<br />
				Aine N&iacute; Mhealoid</li>
				<li>Improving quality of a claiming process for paediatric spectacles: results of a regional healthcare collaborative initiative<br />
				Aniela Krezel</li>
				<li>The Ophthalmic Care of Children with Intellectual Disability<br />
				Kirk Stephenson</li>
				<li>Conjunctival Melanoma: Analysis of risk factors and outcomes over 12 years at RVEEH<br />
				Alison Greene</li>
				<li>What is the prevalence of true papilledema among patients referred to the eye casualty service for suspected disc swelling?<br />
				Bridget Moran</li>
				<li>Retinopathy Screening in the Republic of Ireland in 2021<br />
				Sarah Chamney</li>
				<li>Five Year Trends in New Blind Registrations in Ireland (2017-2021)<br />
				Rory Murphy</li>
			</ul>
			</td>
		</tr>
		<tr>
			<td><strong>10.00am</strong></td>
			<td>
			<p><strong>Planning for the Future&nbsp;</strong></p>

			<p>Chair:&nbsp;Mr Tim Fulcher, Mater Misericordiae University Hospital, Dublin</p>

			<p><span class="ctitle"><!-- em>“</em -->The idiosyncrasies of Telemedicine in Ophthalmology<!-- em>”</em --></span><br />
			<strong>Ms Dawn Sim&nbsp;</strong><br />
			Lead Medical Director of Ophthalmology, Genentech Roche;&nbsp;Director of Telemedicine, Moorfields Department of Digital Medicine; Associate Professor at the University College London, Institute of Ophthalmology.</p>

			<p><span class="ctitle"><!-- em>“</em -->Transitioning Stable Glaucoma Care to the Community<!-- em>”</em --></span><br />
			<strong>Ms Aoife Doyle </strong><br />
			Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital and St James&#39;s Hospital, Dublin</p>

			<p><span class="ctitle"><!-- em>“</em -->Set up and safe assessment of diagnostic (virtual) clinic pathways<!-- em>”</em --></span><br />
			<strong>Mr Jonathan Clarke </strong><br />
			Consultant Ophthalmologist, Moorfields Eye Hospital, London</p>

			<p><span class="ctitle"><!-- em>“</em -->Transitioning Emergency Eyecare During the Pandemic<!-- em>”</em --></span><br />
			<strong>Ms Evelyn O<em>&#39;</em>Neill</strong><br />
			<span>Consultant Ophthalmologist, Mater Misericordiae University Hospital, Dublin</span></p>
			</td>
		</tr>
		<tr>
			<td><strong>11.30am</strong></td>
			<td><i>Refreshments</i></td>
		</tr>
		<tr>
			<td><strong>12.00pm</strong></td>
			<td>
			<p><strong>Paper Session</strong></p>

			<p><span>Chair: Ms</span><span>&nbsp;Niamh Collins, Mater Private Hospital, Cork and Dr Geraldine Comer, The Galway Clinic, Galway</span></p>

			<ul>
				<li>Iluvien Use for Posterior Uveitis and Cystoid Macular Oedema: Real-world Experience in RVEEH<br />
				Barry Power</li>
				<li>Development and launch of the National Uveitis Registry (NUR) of Ireland.<br />
				Mehera Yousif</li>
				<li>Non-attendance rates of patients attending treatment centres for diabetic retinopathy<br />
				Stephen Kelly</li>
				<li>Assessment of Diabetic Retinal Screening Programme referrals to Diabetic Retinal Treatment Clinic in Mater Misericordiae University Hospital for the purpose of evaluating pigmented retinal lesions as non-diabetic retinal disease<br />
				Rashid Nahar</li>
				<li>Report on Multidisciplinary team approach on Genetic Service for Inherited Retinal Diseases<br />
				Julia Zhu</li>
				<li>The Impact of the COVID-19 Pandemic on the Number of Cases and Clinical Characteristics of Rhegmatogenous Retinal Detachment in a Tertiary Referral Centre.<br />
				Amy Coman</li>
				<li>Outcome of Early Vitrectomy in Endophthalmitis Patients<br />
				Esraa Hegazy</li>
				<li>The Natural Evolution and Effect of Covid-19 on Referrals from the Diabetic Retinal Screening Programme 2017 to 2021<br />
				Alan Hopkins</li>
			</ul>

			<p><strong>Presentation of 2022 ICO Medals</strong></p>

			<p>Sir William Wilde Medal for Best Poster</p>

			<p>Barbara Knox Medal for Best Paper</p>

			<p>John Blake Medal for Best Scientific Research Paper</p>
			</td>
		</tr>
		<tr>
			<td><strong>1.00pm</strong></td>
			<td>
			<p><strong>Conference Close</strong></p>
			</td>
		</tr>
	</tbody>
</table>
