<table>
	<tbody>
		<tr>
			<td><strong>10.00am</strong></td>
			<td>
			<p><strong>Planning for the Future&nbsp;</strong></p>

			<p>Chair: Prof Colm O&#39;Brien, Mater Misericordiae University Hospital , Dublin&nbsp;</p>

			<p><strong>&#39;The idiosyncrasies of Telemedicine in Ophthalmology&#39;</strong></p>

			<p><strong>Ms Dawn Sim&nbsp;</strong><br />
			Lead Medical Director of Ophthalmology, Genentech</p>

			<p><strong>&#39;Managing Glaucoma in the Community&#39;</strong></p>

			<p><strong>Ms Aoife Doyle </strong><br />
			Consultant Ophthalmic Surgeon, Royal Victoria Eye and Ear Hospital and St James&rsquo;s Hospital, Dublin</p>

			<p><strong>&lsquo;Set up and safe assessment of diagnostic (virtual) clinic pathways&rsquo;</strong></p>

			<p><strong>Mr Jonathan Clarke </strong><br />
			Consultant Ophthalmologist, Moorfields Eye Hospital, London</p>

			<p><strong>&#39;Transitioning Emergency Eyecare During the Pandemic&#39;</strong></p>

			<p><strong background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Ms Evelyn O&#39;Neill</strong><br background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="" />
			<span background-color:="" font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Consultant Ophthalmologist, Mater Misericordiae University Hospital, Dublin</span></p>
			</td>
		</tr>
		<tr>
			<td><strong>11.30am</strong></td>
			<td><i>Refreshments</i></td>
		</tr>
		<tr>
			<td><strong>12.00am</strong></td>
			<td>
			<p><strong>Paper Session</strong></p>

			<p>Chair: Dr Geraldine&nbsp;Comer, Ophthalmologist, The Galway Clinic, Galway&nbsp;</p>

			<p><strong>Presentation of 2022 ICO Medals</strong></p>

			<p>Sir William Wilde Medal for Best Poster</p>

			<p>Barbara Knox Medal for Best Paper</p>

			<p>John Blake Medal for Best Scientific Research Paper</p>
			</td>
		</tr>
		<tr>
			<td><strong>1.00pm</strong></td>
			<td>
			<p><strong>Conference Close</strong></p>
			</td>
		</tr>
	</tbody>
</table>
