<h3>The Irish College of Ophthalmologists Annual Conference 2022 will take place from noon Monday 16th to Wednesday 18th May 2022 at the Kilkenny Convention Centre, Lyrath Estate.</h3>

<p>We are excited to be planning our reunion at what promises to be an excellent educational meeting. Symposia will include a clinical session on <strong>Ocular Surface Disease</strong>; a service delivery session on &#39;<strong>Planning for the Future</strong>&#39; examining <strong>Medical Retina</strong> and <strong>Telemedicine/Virtual Review, IOP Clinics and Glaucoma Diagnostic Hubs</strong>; whilst a separate symposium focused on the <strong>Integrated Eye Care Team</strong> will highlight the model of eye care implementation at national, regional and community level.</p>

<p>A separate clinical session on <strong>Recent Clinical Trials in Glaucoma, Myopia and Retina</strong> is also planned.</p>

<p>The College is honoured to invite <strong>Prof Stanley Chang</strong>, <strong>K.K. Tse</strong> and <strong>Ku Teh Ying</strong> Professor of Ophthalmology, Columbia University, New York&nbsp;to present this year&#39;s <strong>Annual Mooney Lecture</strong>. A specialist in vitreoretinal disorders and surgery, Prof Chang has pioneered many of the surgical techniques currently used in this field.</p>

<p>Parallel workshop sessions on <strong>Ocular Movement</strong> and <strong>OCTA</strong>, in addition to the <strong>paper and poster</strong> sessions (ICO medal and prize presentations) and the <strong>SOE Young Ophthalmologist Lecture 2022</strong> are just some of the many other highlights on this year&#39;s agenda!.</p>

<p>A parallel exhibition will run alongside the three-day scientific conference and the ICO wish to thank all our industry partners for their support at this years meeting.</p>
