<div class="posters">
			<p style="padding-top:10px;"><strong>ICO Annual Conference 2022 Posters</strong></span><br />
			<ul>
				<li><span class="ctitle">An Uncommon Source of Insidious Ocular Toxicity.</span><br />
				Eimear O'Leary</li>

                <li><span class="ctitle">Post-partum haemorrhage associated choroidopathy: https://casereports.bmj.com/content/15/3/e249226</span><br />
				Sarah Powell</li>

                <li><span class="ctitle">Cataractous Intraocular Lens Implants.</span><br />
				Joseph Keenan</li>

                <li><span class="ctitle">Childhood strabismus patterns in North-West Ireland, a ten years review</span><br />
				Marwa Mohamed</li>

                <li><span class="ctitle">Analysis of Cataract Referrals from Community Optometrists and General Practitioners and Subsequent Clinic Visit Outcomes in a University Hospital in The West of Ireland</span><br />
				Patrick Canning</li>

                <li><span class="ctitle">Ataxia with a lot of retinal nerves!</span><br />
				Aine Ní Mhealoid</li>

                <li><span class="ctitle">Audit of Outcomes Following Attendance at the CityWest Drive Through IOP Glaucoma Clinic during the COVID-19 Pandemic</span><br />
				Sarah Powell</li>

                <li><span class="ctitle">Novel potential nuclear genetic modifier in Leber Hereditary Optic Neuropathy in Wolfram Syndrome-associated variant WFS-1 c.799G>A</span><br />
				Clare Quigley</li>

                <li><span class="ctitle">Complex penetrating eye injury with intra-scleral foreign body; staged surgical management</span><br />
				Saad Martini</li>

                <li><span class="ctitle">Candidaemia and the eye - should we really be screening everyone?</span><br />
				Brian Woods</li>

                <li><span class="ctitle">Poppers retinopathy</span><br />
				Jay Jun Lee</li>

                <li><span class="ctitle">Exercise induced Cluster Migraine with Visual disturbance</span><br />
				Michael Waldron</li>

                <li><span class="ctitle">Posterior staphyloma in the absence of high myopia</span><br />
				Luke O'Brien</li>

                <li><span class="ctitle">Ocular oncology service during the COVID-19 outbreak: uveal melanoma characteristics presenting in 2019 compared to 2020</span><br />
				Aisling McGlacken-Byrne</li>

                <li><span class="ctitle">Leber's Miliary aneurysms</span><br />
				Michael Waldron</li>

                <li><span class="ctitle">The Impact of Covid-19 on the attendance rate to the eye casualty in Cork University Hospital</span><br />
				Mohammed Mohamed</li>

                <li><span class="ctitle">Incidence of Posterior Capsule Rupture (PCR) and Post-PCR Complications in CUH (January 2019 - December 2019)</span><br />
				Mohammed Mohamed</li>

                <li><span class="ctitle">A comparison of outcomes between conventional cyclodiode laser (CL) and micropulse cyclodiode transcleral photocoagulation (MP-TSCPC) in the reduction of intraocular pressure (IOP) in patients with glaucoma.</span><br />
				Sam Quill</li>

                <li><span class="ctitle">A rare choroidal metastasis of unknown origin</span><br />
				Alison Greene</li>

                <li><span class="ctitle">Addressing Technical Failures in a Diabetic Retinopathy Screening Programme</span><br />
				Darragh Garrahy</li>

                <li><span class="ctitle">The impact of the National Diabetic Retinal Screening Programme on the training of Ophthalmology Trainees in the performance of diabetic laser procedures.</span><br />
				Miollie Kelly</li>

                <li><span class="ctitle">Central Retinal Vein Occlusion- Four-year follow up of a patient with a poor presenting visual acuity</span><br />
				Liam Connolly</li>

                <li><span class="ctitle">The implementation of a logbook for the documentation of telephone consultations for on-call NCHDs.</span><br />
				Edward Ahern</li>

                <li><span class="ctitle">Eikenella corrodens canaliculitis. A case report.</span><br />
				Mary Walsh</li>

                <li><span class="ctitle">A review of the ‘long waiters’ for ophthalmology outpatient services in Cork University Hospital and its impact on planning for the new Integrated Eye Care Team</span><br />
				Rubeena N Shaffi</li>

                <li><span class="ctitle">Evaluating the Efficiency of the Irish National Diabetic Retinal Screening Service's Treatment Pathway</span><br />
				Ian Brennan</li>

                <li><span class="ctitle">Adherence of patients with age-related macular degeneration to AREDS 2-recommended vitamin supplements</span><br />
				Ammr Alghamdi</li>

                <li><span class="ctitle">Anatomical and Visual Outcomes of Full-Thickness Macular Hole Repair Surgery</span><br />
				Grace McCabe</li>

                <li><span class="ctitle">Investigating inner blood retinal barrier integrity in rare neurological disorders</span><br />
				Deirdre Harford</li>

                <li><span class="ctitle">Bing there, done that! Just another GCA Case?</span><br />
				Aine Ní Mhealoid</li>

                <li><span class="ctitle">Review of The Eye Clinic Liaison Service (ECLO)</span><br />
				Hilary Devlin</li>

                <li><span class="ctitle">Analysis of Metformins effect on Human Glaucomatous Lamina Cribrosa cells</span><br />
				Daire Hurley</li>

                <li><span class="ctitle">Congenital free floating pigmented Vitreous Cyst</span><br />
				Jay Jun Lee</li>

                <li><span class="ctitle">A focus on ocular parameters and their impact on quality of life measures in patients with Primary Sjögrens Syndrome</span><br />
				Emily Greenan</li>

                <li><span class="ctitle">A case report of paediatric Vogt Koyanagi Harada(VKH) treated successfully with adalimumab (Humira)</span><br />
				Christine Goodchild</li>

                <li><span class="ctitle">Evaluating Medical Students Experience of Near-Peer Led Teaching in Ophthalmology</span><br />
				Alexandra McCreery</li>

                <li><span class="ctitle">Review of Prescribing Practices in University Hospital Limerick Ophthalmology Department</span><br />
				Emilie Mahon</li>

                <li><span class="ctitle">Xen Gel Stents – The Cork University Hospital experience</span><br />
				Mohammed Mohamed</li>

                <li><span class="ctitle">12-year analysis of the microbiological profile of infectious keratitis (IK) in an Irish tertiary hospital.</span><br />
				Kealan McElhinney</li>

                <li><span class="ctitle">Clinical and Genetic Re-Evaluation of Inherited Retinal Degeneration Pedigrees following Initial Negative Findings on Panel-Based Next Generation Sequencing</span><br />
				Julia Zhu</li>

                <li><span class="ctitle">2.5-year analysis of photo-dynamic therapy for chronic central serous chorioretinopathy in an Irish tertiary hospital.</span><br />
				Kealan McElhinney</li>

                <li><span class="ctitle">Effectiveness, Capacity And Referral Patterns Of Ophthalmology Consultations In A Non-Emergency Service Provision Hospital</span><br />
				Alexandra McCreery</li>

                <li><span class="ctitle">Case Study: The boy with the eyesore tattoo.</span><br />
				Robert Brady</li>

                <li><span class="ctitle">Retinoblastoma in Ireland - A Review of the Caseload, Genotyping and Molecular Profiles of Patients over the Past 20 Years.</span><br />
				Alison Greene</li>

                <li><span class="ctitle">Internuclear ophthalmoplegia secondary to ischaemia in a young patient with ampiginous choroiditis</span><br />
				Aisling Naylor</li>

                <li><span class="ctitle">Students experience and outcomes following a targeted, blended teaching module during their ophthalmology rotation</span><br />
				Micheál Troy</li>

                <li><span class="ctitle">Post-operative outcomes of MRSA positive patients who received intracameral Vancomycin during cataract surgery</span><br />
				James Morris</li>

                <li><span class="ctitle">12-month analysis of emergency argon laser retinopexy in an Irish tertiary hospital</span><br />
				Rory Holohan</li>

                <li><span class="ctitle">Anterior segment findings in patients with Multiple Myeloma treated with Belantamab</span><br />
				Mary Walsh</li>

                <li><span class="ctitle">Ocular manifestations of syphilis - a case series of six patients.</span><br />
				Edward Ahern</li>

                <li><span class="ctitle">Neurological complications of orbital cellulitis Beware!</span><br />
				Joséphine Behaegel</li>

                <li><span class="ctitle">Cystoid Macular Oedema rates after Artisan versus Scleral Fixated Lens Implantation</span><br />
				Amy O'Regan</li>

                <li><span class="ctitle">Moving Glaucoma Care into the Community - Experience from RVEEH and CH07</span><br />
				Shane O'Regan</li>
			</ul>

</div>