<h2>Annual Report</h2>
<ul>

	<li><a href="/documents/ICO-Annual-Report-2023.pdf" download>2023</a> (PDF Document)</li>

	<li><a href="/documents/ICO-Annual-Report-2022.pdf" download>2022</a> (PDF Document)</li>

	<li><a href="/documents/ICO-Annual-Report-2021.pdf" download>2021</a> (PDF Document)</li>

	<li><a href="/documents/ICO-Annual-Report-2020.pdf" download>2020</a> (PDF Document)</li>
</ul>

<h2>Annual Conference</h2>

<ul>
	<li><a href="/medium/files/ICO_Conference_book_2024.pdf" download>2024 (Westport)</a> (PDF Document)</li>
	<li><a href="/medium/files/ICO_Conference_book 2023.pdf?v=200224" download>2023 (Killarney)</a> (PDF Document)</li>
	<li><a href="/medium/images/ICO_Conference_book_2022_web2-n.pdf" download>2022 (Kilkenny)</a> (PDF Document)</li>
	<li>2021 - cancelled due to Covid-19</li>
	<li>2020 - cancelled due to Covid-19</li>
	<li><u><a href="/medium/files/ICO_Programme 2019_web.pdf" download>2019</a> (</u>PDF Document)</li>
	<li><a href="/medium/images/ICO_Programme_2018-y.pdf" download>2018</a> (PDF Document)</li>
	<li><u><a href="/medium/files/ICO Annual Conference Programme 2017.pdf" download>2017</a> (</u>PDF Document)</li>
	<li><u><a href="/medium/files/ICO Annual Conference Programme 2016.pdf" download>2016</a> (</u>PDF Document)</li>
	<li><u><a href="/medium/files/ICO Annual Conference Programme 2015.pdf" download>2015</a> (</u>PDF Document)</li>
	<li><u><a href="/medium/files/ICO Annual Conference Programme 2014.pdf" download>2014</a> (</u>PDF Document)</li>
	<li><u><a href="/medium/files/ICO Annual Conference Programme 2013.pdf" download>2013</a> (</u>PDF Document)</li>
</ul>

<h2>Winter Meeting</h2>

<ul>
	<li><a href="/medium/images/ICO_Winter_meeting_23_web-m.pdf" download>2023</a> (PDF Document)</li>

	<li><a href="/medium/images/ICO_Winter_Meeting_22_web-z.pdf" download>2022</a> (PDF Document)</li>

	<li><a href="/medium/images/ICO_Winter_Meeting_21_FINAL-r.pdf" download>2021</a> (PDF Document)</li>

	<li><a href="/medium/images/ICO_Winter_Meeting_and_Annual_Montgomery_Lecture_2020_Progra-a.pdf" download>2020</a> (PDF Document)</li>
	<li><a href="/medium/images/ICO_Winter_Meeting_and_Annual_Montgomery_Lecture_2019_Progra-y.pdf" download>2019</a> (PDF Document)</li>
	<li><a href="/medium/images/ICO_Winter_Meeting_and_Annual_Montgomery_Lecture_2018_Progra-i.pdf" download>2018</a> (PDF Document)</li>
	<li><u><a href="/medium/files/ICO_Wint Meeting_17_Final.pdf" download>2017</a> (</u>PDF Document)</li>
	<li><a href="/medium/files/ICO_Wint Meeting_16_web.pdf" download>2016 (</a>PDF Document)</li>
	<li><a href="/medium/files/ICO_Wint Meeting_15_webFINAL.pdf" download ">2015</a> (PDF Document)</li>
	<li><a href="/medium/files/ICO Med Advertising 2014.pdf" download>Medical Advertising in Ireland Meeting, September 2014</a> (PDF Document)</li>
	<li><a href="/medium/files/ICO Winter Meeting Programme 2012.pdf" download ">2012</a> (PDF Document)</li>
</ul>


<h2>Eye Care in Focus</h2>
<ul>
	<li><a href="/medium/files/Eyecare_in_focus_2022.pdf" download ">2022</a> (PDF Document)</li>
</ul>


<h2>Yearbook</h2>
<ul>
	<li><a href="/medium/files/ICO yearbook_2019_web.pdf" download>2018 - 2019</a> (PDF Document)</li>
	<li><a href="/medium/files/ICO yearbook_2018_web.pdf" download>2017 - 2018</a> (PDF Document)</li>
	<li><u><a href="/medium/files/ICO_yearbook_17_webFINAL-r.pdf" download>2016 - 2017</a> (</u>PDF Document)</li>
	<li><a href="/medium/images/Year_Book_2016_FINAL-y.pdf" download>2015 - 2016 (</a>PDF Document)</li>
	<li><a href="/documents/ico_yearbook_2015.pdf" download ">2014 - 2015</a> (PDF Document)</li>
	<li><a href="/medium/files/2014_Yearbook_web-x.pdf" download>2013 - 2014</a> (PDF Document)</li>
	<li><a href="/documents/ico_yearbook_2013.pdf" download ">2012 - 2013</a> (PDF Document)</li>
	<li><a href="/documents/ico_yearbook_2012.pdf" download ">2011 - 2012</a> (PDF Document)</li>
	<li><a href="/documents/ico_yearbook_2011.pdf" download ">2010 - 2011</a> (PDF Document)</li>
	<li><a href="/documents/ico_yearbook_2010.pdf" download ">2009 - 2010</a> (PDF Document)</li>
	<li><a href="/documents/ico_yearbook_2009.pdf" download ">2008 - 2009</a> (PDF Document)</li>
</ul>
