<h1>Clinical Programme Model of Care</h1>

<p>The Division of Strategy and Clinical Programmes was established by the HSE in 2009 with the aim of improving and standardising patient care by bringing together clinical disciplines and enabling them to share innovative solutions to deliver greater benefits to patients. Thirty three National Clinical Programmes, including ophthalmology, have been established by the Division.</p>

<p>Prof William Power&nbsp;was appointed&nbsp;Clinical Lead for the Clinical Programme in Ophthalmology&nbsp;in 2016&nbsp;following Mr Paul Moriarty&#39;s leadership in the role since 2012.</p>

<p><strong>Eye Care in Ireland</strong></p>

<p>Ireland has experienced and continues to experience significant population growth.&nbsp;According the latest ESRI figures, the total population in Ireland is expected to grow by up to 23%, or 1 million people, over the next ten years. The greatest increases are projected in the over 65 year age group, and the numbers of those over 85 is projected to almost double.</p>

<p>Increasing patient numbers and the growing incidence of chronic diseases are placing an enormous strain on the current model of eye care.</p>

<p>Even with the current population, waiting lists for ophthalmology outpatient appointments and inpatient procedures are among the longest and most numerous in the health service. The diagnosis and treatment of many chronic eye conditions is currently delivered in acute hospitals, whereas much of these interventions could be delivered in the community&nbsp;setting in a decentralised model.&nbsp;</p>

<p>The National Clinical Programme (NCP) for Ophthalmology has determined that, in line with Government policy, the majority of services should be provided within the community setting. &nbsp;As such, integration of acute and community&nbsp;services is essential in order to allow for rebalancing of access and delivery of eye care services from acute hospitals to the community. The aim is to provide high-quality, consistent, efficient and effective care. The development of a regionalised model appears to be the best means of achieving this aim.</p>

<p>Central to the reconfigured Model of Eye Care is the implementation of the Integrated Eye Care Team (IECT) which will extend the delivery of specialist ophthalmic care in the non-acute setting.&nbsp;</p>

<p><strong>The key recommendations of the Model of Eye Care are:</strong></p>

<ul>
	<li>Development of Integrated Eye Care Teams (IECT), enabling the majority of patients to be seen in the community, with clear referral pathways to the associated acute hospital for patients who require complex care.&nbsp; Consultant ophthalmologists lead and work as part of the Integrated Eye Care&nbsp;team (IECT).&nbsp; Allied health professionals working as part of the IECT&nbsp;include&nbsp;ophthalmic nurses, orthoptists, optometrists and ophthalmic technicians.&nbsp;There has been&nbsp;significant investment&nbsp;in the specialty in recent years to implement the roll out of the&nbsp;IECT&nbsp;in Community Healthcare Organisations (CHO&rsquo;s) nationally.</li>
</ul>

<p style="margin-left: 40px;"><a href="https://www.eyedoctors.ie/Health-Policy/Education-Series-for-the-Integrated-Eye-Care-Team.asp" target="_blank"><strong>ICO and Clinical Programme National Education Series for the Integrated Eye Care Team</strong></a></p>

<ul>
	<li>Investment in information technology, including standardised equipment and electronic patient records, to enable a hub-and-spoke regional delivery of care and an integrated system.</li>
	<li>Expansion of theatre access and establishment of stand-alone high-volume consultant-led cataract theatres with a full complement of support staff in order to facilitate a timelier response from the surgical centres, thereby keeping waiting times to a minimum.</li>
	<li>Establishment of clear and concise clinical referral pathways in order to minimise unnecessary referrals. This will include a focus on effectiveness and efficiency of eye care services delivery.&nbsp;&nbsp;The Model of Care is underpinned by clinical governance oversight promoting patient safety and the sustainability of a more patient-centred model. &nbsp;</li>
</ul>

<p>The NCP for Ophthalmology has collaborated with the HSE Primary Care Division on a comprehensive review of primary eye care services resulting in a report detailing the blueprint for the delivery of eye care services based on the recommendations of the Model of Care. The programme continues to work with colleagues in the Primary Care Division to implement the recommendations of the report.</p>

<p>Download <a href="http://www.hse.ie/eng/services/publications/Primary/Eye-Services-Review-Group-Report.pdf">HSE Primary Care Eye Services Review Report</a></p>

<p>Visit the <a href="https://www.hse.ie/eng/about/who/cspd/ncps/ophthalmology/" target="_blank">HSE website</a> for further information on the Clinical Programme in Ophthalmology and Model of Care</p>
