<h1>The Economic Cost of Eye Diseases</h1>

<img src="/medium/images/David Keegan.jpg" title="David Keegan" width="100%"/>


<h2>Executive Summary</h2>

<p>
Deloitte Access Economics was commissioned by the NCBI (National Council for the Blind of Ireland) to estimate the economic impact of vision impairment (VI) and blindness in the Republic of Ireland (ROI), including costs to the health care system (direct costs), other financial costs to society such as the inability to work due to vision loss (indirect costs), and the burden of vision loss on individuals’ wellbeing.
</p>
<p>
Deloitte Access Economics also conducted cost effectiveness analyses of three eye-care interventions
<ul>
	<li>eye screening for people with diabetes in the ROI; </li>
	<li>eye screening for the elderly in the ROI; and</li>
	<li>reducing cataract surgery waiting lists in the ROI.</li>
</ul>

<h2>Burden of disease study</h2>
<p>This report comprises the following estimates:
<ul>
	<li>the numbers of people with mild VI (6/18 ≤ visual acuity *VA+ < 6/12), moderate VI (6/60 ≤ VA < 6/18), and blindness (VA < 6/60), by primary cause; </li>
	<li>the costs of VI and blindness to the health care system based on Irish data (or international data using price adjustments between countries); </li>
	<li>the value of lost production/employment due to VI and blindness; </li>

	<li>the cost of informal care provided to people with VI and blindness the tax inefficiency associated with public funding of health care for people with VI and blindness (known as deadweight welfare loss [DWL]);</li>

	<li>the burden of VI and blindness on individuals, measured using disability adjusted life years (DALYs), which includes healthy years of life lost due to disability (YLD) and life lost due to premature death (YLL) associated with VI; </li>

<li>projections of the above outcomes to the year 2020.</li>
</ul>
</p>
<p>These estimates are reported for the years 2010, 2015 and 2020 and all cost results are expressed in 2010 euros.</p>
<p>The numbers of blind people in the ROI were derived from the NCBI register, with an adjustment for the likely extent of under registration. The numbers of people with mild and moderate VI in the ROI were estimated by applying to these data international figures on the relative prevalence of mild/moderate VI to blindness. These prevalence figures were estimated to 2020 by applying ROI population projections (CSO, 2008).</p>
<br />
<p><a href="/documents/Cost_of_Sight_Loss_Full_Repor.pdf" title="Download the Full report: The economic impact of vision impairment and blindness in the Republic of Ireland" target="pdf" class="btn btn-arrow">Report: The economic impact of vision impairment and blindness in the Republic of Ireland (PDF)</a></p>
