<h1>National Education Series for the Integrated Eye Care Team</h1>

<div>
<h3 style="padding-bottom: 15px;"><strong>March 30th, 2023 -&nbsp;</strong><em><span style="color: rgb(46, 47, 48); font-family: Roboto, Arial, Helvetica, sans-serif; font-size: 14px; text-align: justify; background-color: rgb(255, 255, 255);"><strong>The Irish College of Ophthalmologists, in collaboration with the&nbsp;Clinical Programme for Ophthalmology, will host the next&nbsp;meeting for the HSE&nbsp;Integrated Eye Care Team on Thursday, 30&nbsp;March&nbsp;at the Education and Learning Centre, Royal Victoria Eye and Ear Hospital, Dublin</strong>.&nbsp; <strong>Contact the ICO ciara.keenan@eyedoctors.ie for further details and registration</strong></span></em></h3>

<p style="padding-bottom: 15px;">The ICO has been a long-standing advocate for the expansion of ophthalmology services for patients in Ireland.</p>
<img class="img-responsive;" src="/images/Integrated_Eye_Care_Team_Webinar.jpg" style="max-width:270px;float:left;padding:5px;" />
<p>The <b>College and National Clinical Programme for Ophthalmology</b> has worked extensively with the HSE and with the Department of Health to develop significant workforce and resource planning and supports the implementation of the new <b>Integrated Eye Care Teams</b> (<abbr title="Integrated Eye Care Teams">IECT</abbr>) which will extend the delivery of specialist ophthalmic care in the non-acute setting.</p>
</div>

<p>The roll out of the <abbr title="Integrated Eye Care Teams">IECT</abbr> model is in line with government Sl&aacute;intecare policy and the key recommendations contained in the <a href="/Health-Policy/clinical-programme.asp" target="ico" title="Read the Clinical Programme for Ophthalmology Model of Care">Clinical Programme for Ophthalmology Model of Care</a> document to ensure increased patient care is delivered in the community, with clear referral pathways to acute hospital care. This is underpinned by clinical governance oversight promoting patient safety and the sustainability of a patient-centred model.</p>

<p>Consultant ophthalmologists lead and work as part of the Integrated Eye Care team (IECT) and are co-located across the acute and community setting, to ensure access to acute inpatients services if required, subspecialty resources for more complex cases and cross specialty multi-disciplinary care. Allied health professionals working as part of the IECT include ophthalmic nurses, orthoptists, optometrists and ophthalmic technicians.</p>

<p>There has been significant investment in the specialty in recent years due to the demand for patient services and specialists in this area. This will continue with the roll out of the Integrated Eye Care Team in Community Healthcare Organisations (CHO&#39;s) nationally.</p>

<h3>ICO and Clinical Programme National Education Meeting Series for the Integrated Eye Care Team</h3>

<p>The delivery of healthcare requires a lifelong commitment to learning and the ICO&#39;s goal is to provide and support education and learning for ophthalmologists in training, in practice and to the Integrated Eye Care Team members who work alongside clinicians as they deliver care to patients.</p>

<p>The National Education Series has been developed by the ICO to facilitate wider and continued consultation with stakeholders, including clinicians and ICO trainees, allied healthcare professionals (optometrists, orthoptists, ophthalmic nurses and ophthalmic technicians), patient representative groups, General Practitioners, community health teams, primary care teams, the HSE, relevant professional bodies and healthcare managers.</p>

<p>The aim is to provide a forum for wider contribution to the development, delivery and outcome evaluation of the model of care as the roll out the IECT continues.</p>

<p>The National Education Series&nbsp;aims to educate and inform all stakeholders of the latest developments in the expansion of ophthalmic services, and to share examples and results from Community Healthcare Organisations&nbsp;where the reconfiguration of services have been implemented.</p>

<p>Priorities for the Integrated Eye Care Team include the management of children referred from the screening programme, collaborating with screeners to improve the accuracy of the referrals and managing adult patients with a focus on the areas of greatest patient demand, namely medical retina, glaucoma and the delivery of pre &amp; post operative cataract care.</p>

<p>The teams provide ongoing care for patients diagnosed in the community or ongoing care for patients transferred from the acute hospital.</p>

<p>The ICO and Clinical Programme welcome and are encouraging feedback from all stakeholders engaged in the process as we continue this important education</p>



<div class="alignimg" style="padding-top:1rem;"><img alt="Eye Care Team Meeting 2019" class="img-responsive" src="/images/Integrated-Eye-Care-Team-Meeting.jpg" />
<p style="font-size: 0.9rem">Pictured at the ICO National Educational&nbsp;Series for the Integrated Eye Care Team (2019) at the Royal Victoria Eye and Ear Hospital, October 4th were (L-R) Prof William Power, Clinical Lead for Ophthalmology, Michelle Forde, HSE General Manager, Primary Care CHO 9; Mary O&#39;Kelly, HSE Head of Service, Primary Care CHO 7; Deirdre Coyne, HSE Project Lead, Primary Care, CHO 6 and Robert Kidd, HSE Assistant National Director, Scheduled Care</p>
</div>
