<h1>HSE Primary Care Eye Services Review Group Report</h1>
<p>
The Irish College of Ophthalmologists welcomed the publication of the Primary Care Eye Services Review Group Report by the HSE in June 2017.
</p>
<p>
The demand for specialised medical care for those with an eye condition or disease in Ireland greatly exceeds current capacity.  The College has strongly advocated for a number of years that extra resources are essential to ensure that the number of avoidable cases of sight loss is kept to a minimum.
</p>
<p>

The implementation of the recommendations in the report is a key step in addressing the current unacceptably high waiting lists in Ophthalmology which are among the most numerous in the health service. The ICO is calling on the Minster for Health, Mr Simon Harris to ensure that the necessary funding is made available to implement the recommendations of the Review Group.

</p>
<p>
Download <a href="http://www.hse.ie/eng/services/publications/Primary/Eye-Services-Review-Group-Report.pdf" target="ext" title="HSE Primary Care Eye Services Review Group Report"> HSE Primary Care Eye Services Review Group Report</a>
</p>