<h1>Direct-to-Consumer&nbsp;Advertising of Medical and Surgical Services</h1>

<h3>Read Full <a href="http://www.eyedoctors.ie/medium/files/ICO_Advert_book_web_(FINAL)-a.pdf">Report </a>- <strong>Direct-to-Consumer Medical Advertising in Ireland -<em>&nbsp;Informing and empowering patients, doctors and healthcare professionals</em></strong></h3>

<p>A&nbsp;report&nbsp;calling for the regulation of direct-to-consumer advertising of medical and surgical procedures in Ireland was published in January 2016 by the Irish College of Ophthalmologists (ICO), the national training and professional body for eye doctors.</p>

<p>The&nbsp;&lsquo;Direct to Consumer Medical Advertising in Ireland &ndash; Informing and empowering patients, doctors and healthcare professionals&rsquo;&nbsp;&nbsp;report has been published by the ICO in response to growing concerns relating to the marketing and advertising of elective procedures.</p>

<p>The Irish College of Ophthalmologists (ICO), together with colleagues from the specialties of Plastic and Reconstructive Surgery and Dermatology, is concerned about the lack of regulatory oversight in relation to direct-to-consumer&nbsp;advertising for medical or surgical procedures in Ireland and the impact this may have on consumers&nbsp;access to unbiased information. &nbsp;Currently in Ireland, there are no requirements for advertisements or marketing material to provide information on the health risks of procedures. &nbsp;</p>

<p>The ICO is of the view that advertising and marketing practices should not trivialise the seriousness of medical or surgical procedures and that in the absence of the introduction of appropriate standards and guidelines, such questionable advertising may be misleading or inaccurate, and may fail to reveal important risks and potential complications of treatment to a patient.</p>

<p>The ICO has stated that regulations are required to provide a clear framework to ensure that people considering a procedure can make fully informed, unbiased decisions and under which, advertisers can be held to account if required.&nbsp; The report highlights that regulation is necessary to reflect the changing market, particularly the significant growth in elective procedures and the increasing use of digital marketing.&nbsp;</p>

<p>Under the key recommendations contained in the report, the ICO is proposing&nbsp;to Government&nbsp;that provisions specific to&nbsp;the responsible&nbsp;advertising&nbsp;of medical and surgical procedures&nbsp;be&nbsp;included in the forthcoming Patient Safety (Licensing) Bill to ensure that all medical&nbsp;facilities offering such&nbsp;services be regulated&nbsp;in this regard.</p>

<h3>The ICO considers the following advertising practices for medical procedures inappropriate:</h3>

<ul>
	<li>Time-limited deals</li>
	<li>Financial inducements</li>
	<li>Package deals, such as &lsquo;buy one get one free&rsquo; or reduced prices for two people such mother and daughter deals, or refer a friend</li>
	<li>Offering procedures as competition prizes</li>
	<li>Celebrity endorsements</li>
</ul>

<p>The ICO&nbsp;is calling on the regulators to review&nbsp;direct-to-consumer&nbsp;advertising and examine whether tighter guidelines and possible legislation are required to safeguard patients and their ability to make fully informed decisions before undertaking a medical or surgical procedure.&nbsp;&nbsp; &nbsp;</p>

<h3>The members of expert panels who participated in&nbsp;a recent debate hosted by the ICO&nbsp;on this&nbsp;issue&nbsp;were:</h3>

<h3>Clinicians:</h3>

<ul>
	<li>Ms Margaret O&rsquo;Donnell, Consultant Plastic Surgeon and President of the Irish Association of Plastic Surgeons,</li>
	<li>Mr Billy Power, Consultant Ophthalmologist and President Elect, ICO</li>
	<li>Mr Patrick Ormond, Consultant Dermatologist, St James Hospital, Dublin</li>
</ul>

<h3>Regulators</h3>

<ul>
	<li>Frank Goodman, Chief Executive, Advertising Standards Authority of Ireland,</li>
	<li>William Kennedy, Director of Regulation for the Irish Medical Council</li>
	<li>John Elliot, Director of Regulation, Law Society of Ireland</li>
</ul>

<h3>Patient and Consumer Spokespersons</h3>

<ul>
	<li>Stephen McMahon, CEO, Irish Patients Association</li>
	<li>Catherine Reilly, Journalist with the Medical Independent.</li>
</ul>

<p>Discussions at the meeting&nbsp;acknowledged the fact that the decision to have a medical or surgical procedure can have a profound impact on the health and wellbeing of both the patient and their families and while there is little doubt that a medical or cosmetic procedure can be positive for patients when undertaken by trained specialists, it was unanimously agreed that it is essential for patients to receive balanced information in order for them to be in a position to make fully informed decisions.&nbsp;</p>

<p>As the training body for eye care in Ireland with oversight from the Medical Council, the ICO is responsible for ensuring the highest standards of eye care and patient safety are met.&nbsp;</p>

<h3>View the <a href="https://eyedoctors.ie/medium/files/ICO_Guides_Refractive_Surgery_Final_(web)-r.pdf" target="_blank">ICO Guidelines for Refractive Surgery</a>.</h3>

<h3>View <a href="https://www.eyedoctors.ie/medium/files/ICO_Advertising_Marketing_Guidelines-x.pdf" target="_blank">ICO Advertising and Marketing Guidelines</a></h3>

<p>.</p>

<p>&nbsp;</p>
