<h1>Medical Fitness to Drive Guidelines</h1>
<!-- p><img alt="Medical Fitness to Drive Guidelines" class="alignright" src="/images/fitness-to-drive-banner.jpg" title="Medical Fitness to Drive Guidelines" /></p -->

<p><b background-color:="" font-size:="" line-height:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Visual standards for driving</b><span background-color:="" font-size:="" line-height:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">&nbsp;are outlined in the attached&nbsp;edition of &#39;</span><em background-color:="" font-size:="" line-height:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">Sl&aacute;inte agus Tiom&aacute;int&nbsp;</em><span background-color:="" font-size:="" line-height:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet=""><em>Medical Fitness to Drive </em>Guidelines&#39; </span><em background-color:="" font-size:="" line-height:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">(Group 1 and 2 Drivers)</em><span background-color:="" font-size:="" line-height:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">&nbsp;&nbsp;booklet, updated in July&nbsp;2020, which&nbsp;provides a national framework on standards in traffic medicine in Ireland and reflects recent developments in medicine, such as improvements in diagnosis and treatment of medical conditions. &nbsp;</span><br background-color:="" font-size:="" line-height:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="" />
<a href="https://www.rsa.ie/Documents/Licensed%20Drivers/Medical_Issues/NDLS%20Sla%cc%81inte%20%20Tioma%cc%81int%20GL%202020_WEB%20(002).pdf" target="_blank">Medical Fitness to Drive Guidelines&nbsp;</a></p>

<p><span background-color:="" font-size:="" line-height:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">The information in these Guidelines are intended to assist doctors and other healthcare professionals in advising their patients on fitness to drive, requirements for reporting to their National Driver Licence Service, and guidance on review of stability, progression or improvement of these conditions.</span></p>

<p>The most recent guidelines were published in July 2020.&nbsp;They were developed by the National Programme Office for Traffic Medicine on behalf of the Road Safety Authority.</p>

<p>The standards apply to the following drivers:</p>

<ul>
	<li>Group 1 categories A, A1, B, EB, M or W, ie motorcycles, cars and tractors (without trailer)</li>
	<li>Group 2 Categories C, CE, C1, C1E, D, DE, D1 or D1E i.e. truck and bus (with or without trailer)</li>
</ul>

<p>The guidelines are reviewed and updated every year to ensure that they continue to represent international best practice. &nbsp;</p>

<p><a href="/medium/files/Mydriasis_Article_websitecopy-e.pdf" target="_blank">Temporary Mydriasis and Driving</a>: &nbsp;Working Group on Traffic Medicine at the National Programme Office for Traffic Medicine RCPI / RSA</p>

<p>Driver Information Leaflets: <a href="https://www.ndls.ie/images/Documents/Guidelines/8971_RSA_Vision_and_driving_DL_leaflet_screen.pdf" target="_blank">Vision and Driving</a>&nbsp;</p>

<p><a href="/medium/files/contrast sensitivity standards for drivers.pdf" style="text-decoration:none" title="ICO Contrast Sensitivity Standards for Drivers"><b style="color:#000;text-decoration:none">ICO Contrast Sensitivity Standards for Drivers</b><br />
<img alt="ICO Contrast Sensitivity Standards for Drivers" src="/medium/images/contrast-sensitivity-standards-big.jpg" title="ICO Contrast Sensitivity Standards for Drivers" /> </a></p>

<p>For further information on medical issues please visit&nbsp;the <a href="https://www.rcpi.ie/traffic-medicine/" target="_blank">RSA website</a>&nbsp;</p>
