<h1>National Strategy for Vision Health</h1>

<h2>Framework to adopt a Strategic Approach for Vision Health in Ireland</h2>

<p><img src="/medium/images/Seanad group shot.jpg" title="Framework to adopt a Strategic Approach for Vision Health in Ireland" width="100%" /></p>

<p>The need to adopt a more strategic approach to the design and development of vision health services in Ireland has been promoted by relevant stakeholders for some time.</p>

<p><strong>Currently in Ireland, 224,000 adults and children are affected by severe vision loss. Without timely and appropriate access to eye care this number is set to increase to 275,000 by 2020. This represents almost 7% of the population.</strong></p>

<p>The Irish Government committed to the objectives of Vision 2020 almost ten years ago. This represents a global collaborative initiative led by the World Health Organisation (WHO) with the overarching objective to eliminate avoidable blindness by 2020. A core requirement to meeting this objective is a national blueprint that identifies collective priorities and outlines a pathway and implementation approach to deliver on these.</p>

<p>The establishment of the HSE National Programme for Eye Care provides real potential to progress quality, access and efficiency objectives with a fundamental objective to reduce the incidence of avoidable sight loss. The development and implementation of fit-for-purpose care pathways and referral protocols offers a real opportunity to transform the service user experience and achieve improved outcomes for people with sight loss in Ireland.</p>

<p>In 2013, the Coalition put forward its recommendations for a national vision strategy in a report, &ldquo;Framework to Adopt a Strategic Approach for Vision Health in Ireland&rdquo;, and highlighted eight principles to be implemented.</p>

<p>In April 2014, the National Vision Coalition launched &ldquo;The Economic Cost and Burden of Eye Diseases and Preventable Blindness in Ireland&rdquo;. This report, which looked at the Irish situation as part of a pan-European study of 16 countries, shows that:</p>

<ul>
	<li><strong>75-80% of blindness is preventable with early diagnosis and medical treatment</strong></li>
	<li><strong>Blindness and vision impairment cost the state &euro;205 million in 2010 </strong></li>
	<li><strong>Investment in cost-effective interventions could save up to &euro;76 million per annum</strong>.</li>
</ul>

<p>The Coalition is calling on the next government to publish and implement a National Vision Strategy for Ireland that will provide adequate pathways to care for people affected by sight loss, mapping their needs from diagnosis to medical intervention and rehabilitation.</p>

<p>In order for such a strategy to be successful it must incorporate all service components for the full agenda of eye health, including prevention, intervention and after care.</p>

<p>&nbsp;</p>

<p><a class="btn btn-arrow" href="/documents/Vision_Health_Report_FINALFeb13.pdf">Strategic Framework for Vision Health (PDF)</a></p>

<p>&nbsp;</p>

<p><a class="btn btn-arrow" href="/documents/Cost_of_Sight_Loss_Full_Repor.pdf" target="pdf" title="Download the Full report: The economic impact of vision impairment and blindness in the Republic of Ireland">Report: The economic impact of vision impairment and blindness in the Republic of Ireland (PDF)</a></p>
