<h1>Children Diabetic Screening</h1>



 <h1> Styling for standard text elements:</h1>
          <h1>Heading 1</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Bold text looks like this.</strong> Sed eget ipsum convallis, convallis massa id, gravida ligula. Ut ac lorem lacinia, tempus nulla eget, semper risus.</p>
          <h2>Heading 2</h2>
          <p> Duis at erat at nibh faucibus dignissim. Donec id ante dui. Ut tincidunt consectetur velit, quis varius erat dictum ac. Proin a dolor quam. Etiam pretium suscipit diam, at tincidunt diam malesuada id. </p>
          <h4><a href="#">Heading 4 with link</a></h4>
          <ul>
            <li>Unordered List</li>
            <li>Aenean quis feugiat nunc at sollicitudin velit. <a href="#">Regular text link</a></li>
            <li>Vestibulum consequat justo ac neque venenatis dictum. Pellentesque at felis mauris. Aliquam erat volutpat. Nunc sit amet dolor a erat ullamcorper tincidunt sit amet vel ligula.</li>
          </ul>
          <h5><a href="#">Heading 5 with link</a></h5>
          <h3>Heading 3</h3>
          <p>Phasellus placerat quam vitae egestas consequat. <em>Italic text looks like this.</em> Proin vel venenatis dolor. Sed elementum, nulla a laoreet vehicula, mi urna hendrerit augue, at hendrerit neque augue ac eros. Sed aliquam tristique lectus, sollicitudin lobortis libero lobortis mattis. Ut a viverra augue. Praesent eget nibh libero. Quisque ultrices feugiat lectus, eget rhoncus risus sodales sed. </p>
          <h6><a href="#">Heading 6 with link</a></h6>
          <h4>Heading 4</h4>
          <ol>
            <li>Ordered list. </li>
            <li>Nunc eget gravida dui. Aliquam a interdum justo. Maecenas tempus risus sed nisl tincidunt euismod. Nunc molestie dictum tortor, at lacinia ante iaculis et.</li>
            <li>Vestibulum ac est non sapien dictum mattis id sed dolor. Nunc tempus varius dolor ut rutrum.</li>
          </ol>
          <h3><a href="#">Heading 3 with link</a></h3>
          <h5>Heading 5</h5>
          <table width="100%" border="0">
              <thead>
                <tr>
                  <th scope="col">Data </th>
                  <th scope="col">Table</th>
                  <th scope="col">Headers</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Nunc eget gravida dui.</td>
                  <td>Vestibulum ac est non sapien dictum mattis id dolor.</td>
                  <td>Aliquam a interdum justo.</td>
                </tr>
                <tr>
                  <td>Phasellus placerat quam vitae sed egestas.</td>
                  <td>Nisl tincidunt euismod.</td>
                  <td>Ut a viverra augue. </td>
                </tr>
                <tr>
                  <td>Aenean quis feugiat nunc.</td>
                  <td>Maecenas tempus risus sed.</td>
                  <td>Lorem ipsum dolor sit amet sed elementum.</td>
                </tr>
              </tbody>
          </table>
          <h6>Heading 6</h6>
          <dl>
            <dt>Definition List Title</dt>
            <dd>This is the description text. Nunc sit amet dolor a erat ullamcorper tincidunt sit amet vel ligula.</dd>
            <dt>Praesent eget nibh libero</dt>
            <dd>Curabitur vulputate arcu in ipsum mollis, quis mollis augue condimentum.</dd>
          </dl>
          <h2><a href="#">Heading 2 with link</a></h2>
          