<h1>Standardised Plain Packaging of Tobacco</h1>

<p>The Irish College of Ophthalmologists (ICO) express our complete support for advocacy efforts being undertaken to tackle tobacco usage in Ireland and the negative impact of smoking on health. The ICO, the representative body&nbsp;for&nbsp;eye doctors in Ireland, wish to highlight the associated risks of smoking with the onset of eye disease and support any public health messaging that is focused on highlighting the negative effects of smoking.</p>

<p>The Society welcomed the introduction of standardised tobacco packaging, announced in September 2017, after a hard fought battle to ensure progress of plain packaging, and a clear indication of Ireland&#39;s commitment to protecting the health of it&#39;s citizens.</p>

<p>After ageing, smoking is the biggest risk factor for developing the leading cause of sight loss in Ireland, Age-related Macular Degeneration (AMD) and it also increases the risk of developing cataracts and glaucoma.</p>

<p>We endorse the views of our colleagues in the Irish Cancer Society, Irish Heart Foundation and Ash Ireland regarding Standardised Packaging of Tobacco Legislation passed under the Standarised Packging Act 2015 as part of the Government&#39;s commitment to a tobacco-free Ireland by 2025 and to continue all efforts to reduce the harmful health impact of tobacco use in this country.</p>

<p>The Alliance of charities, including the Irish College of Ophthalmologists, the ISPCC, Barnardos, the Children&#39;s Rights Alliance, the Asthma Society of Ireland, the Irish Thoraic Society, COPD Ireland, ASH Ireland, the Irish Cancer Society and the Irish Heart Foundation, focused their efforts on ensuring politicians were informed about how planin packaging protects young people.</p>

<h4>RCPI POLICY GROUP ON TOBACCO</h4>

<p>Irish Heart Foundation and Irish Cancer Society&#39;s new research on youth attitudes towards e-cigarettes in Ireland - December 2019</p>

<p><a href="/medium/images/19159_Ecigarette-Packaging-and-Flavour-Research-f.pdf" target="_blank">eCigarette Packaging and Flavouring Research</a></p>

<p><a href="/medium/images/RCPI_Tobacco_Policy_Group_position_statement_on_flavours_in_-c.pdf" target="_blank">Position Statement on Flavouring in eCigarettes.</a></p>

<div>&nbsp;</div>

<div>&nbsp;</div>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>
