<!-- <h3>Dr Margaret Morgan</h3>
<br> -->
<div>
	<img src="/EyeCareInFocus/photos/Margaret-Morgan.jpg" class="img-fluid" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Medical Ophthalmologist, CHO 7 &amp; Royal Victoria Eye and Ear Hospital, Dublin.</h5>

<p>Dr Margaret Morgan is a Consultant Medical Ophthalmologist based in Dublin with a clinical commitment in Community Healthcare Organisation 7 and the Royal Victoria Eye and Ear Hospital. Dr Morgan has been active in developing and expanding the adult ophthalmology service with particular focus on the glaucoma and cataract patient care pathway between the Royal Victoria Eye and Ear Hospital and Community Healthcare Area 7 (CHO 7). Glaucoma assessment clinics have been running in the Community since November 2021.</p>
<p> She led a pilot service for diabetic retinopathy screening and was the first clinical lead for the development and roll-out of the National Diabetic Retinopathy Screening Service in Ireland. She is a member of the Service Development Committee of the Irish College of Ophthalmologists.</p>

</div>
