<div><img class="img-fluid" src="/EyeCareInFocus/photos/William-Power.jpg" style="float:left; padding:0.2rem 1rem 0rem 0.1rem; max-height:155px " />
<h5>Consultant Ophthalmologist, Royal Victoria Eye and Ear Hospital, St Vincent&#39;s University Hospital and The Blackrock Clinic, Dublin.</h5>

<p>Mr William Power has been a Consultant Ophthalmologist practicing laser eye surgery, cataract and corneal surgery for 30 years. He was appointed assistant Professor of Ophthalmology, Harvard Medical School and Consultant Ophthalmic Surgeon in the Massachusetts Eye and Ear Infirmary (MEEI) in 1995 and appointed Chief of Ophthalmology, Brigham and Women&#39;s Hospital, Boston in 1996. He returned to Dublin in 1998.</p>

<p>Prof Power is a Member Royal College of Physicians, Ireland (MRCPI); Fellow Royal College Surgeons, Glasgow (FRCSGlasg); Fellow Royal College of Ophthalmologists (FRCOphth); and Masters in Surgery (TCD). Professional memberships include the American Academy of Ophthalmology, American Society of Cataract and Refractive Surgeons, International Society of Refractive Surgeons, European Society of Cataract and Refractive Surgeons and the Irish College of Ophthalmologists.</p>

<p>He is a past president of the Irish College of Ophthalmologists and the current National Clinical Lead for Ophthalmology.</p>
</div>
