<h2>Best-Selling Author, Sinead Moriarty, Urges Over 50s to Begin A New Chapter and Get Tested for AMD
</h2>
<p align="center"><img src="banner-AMD-2014.jpg" title="Best-Selling Author, Sinead Moriarty, Urges Over 50s to Begin A New Chapter and Get Tested for AMD" alt="Best-Selling Author, Sinead Moriarty, Urges Over 50s to Begin A New Chapter and Get Tested for AMD" /></p>


<p>The <em>'Begin Your New Chapter'</em> campaign for year’s AMD Awareness Week is running from Monday 15th – Sunday 21st September to promote early detection of the signs of Age-related Macular Degeneration, the most common cause of registered blindness in Ireland. </p>

<p>Best-selling author Sinead Moriarty has joined forces with broadcaster Mary Kennedy to encourage people who are over 50 to avail of free testing for Age-related Macular Degeneration (AMD), an eye disease which can lead to blindness. AMD is the leading cause of blindness for people over the age of 50 in Ireland, with over 7,000 new cases in Ireland every year</p>

<p>The  <em>'Begin Your New Chapter'</em> campaign for AMD Awareness Week 2014 is highlighting how AMD can impact a person’s ability to read and is encouraging people to protect their eyesight with regular eye tests. </p>

<p>The Irish College of Ophthalmologists is working with NCBI, Fighting Blindness and the AOI to increase public awareness of AMD and to highlight the importance of regular testing to identify early signs of the condition. </p>

<p>A dedicated mobile testing unit will offer free AMD testing in various locations nationwide for AMD Awareness Week. The mobile unit will visit Dublin, Cork, Galway, Limerick and Waterford between Tuesday 16th and Saturday 20th of September offering free AMD eye testing and information to the general public. Since 2008, over 4,302 people have been tested during AMD Awareness Weeks, with 8% of people being referred to their local eye doctor for further testing and diagnosis. Free AMD testing will also be available in participating eye care providers nationwide. </p>

<p>The main symptoms of AMD are slightly blurred vision, wavy lines or a blind spot in the centre of the field of vision.  There are two types of AMD; dry and wet.  Dry AMD is the most common form of the condition and develops slowly, eventually leading to loss of central vision; there are currently no proven treatments for dry AMD.  Wet AMD is caused by leaky blood vessels inside the eye and is less common than dry AMD but it can cause more rapid loss of vision.  The good news is that while wet AMD can develop quickly, in the majority of cases, if diagnosed and treated early, as much sight can be saved as possible and some people may even see an improvement in their eyesight.</p>

<p>Information about AMD and the free testing locations listed below and also available for the public to view on <a href="http://www.amd.ie" title="amd" target="amd"> www.amd.ie </a></p>

<h2>AMD Awareness Week:</h2>
<p>The mobile testing unit will visit the following locations between Tuesday 16th and Saturday 20th of September 2014:


<ul>
	<li>Dublin on Tuesday 16th of September: 
		<br/>County Library Tallaght, Library Square, Tallaght, Dublin 24 from 10am - 2pm
	</li>
	<li>Galway on Wednesday 17th of September:
		<br/>Ballybane Library, Castlepark Road, Ballybane, Galway from 10am - 1pm
		<br/>Galway Golf Club, Blackrock, Salthill, Galway from 2pm - 6pm
	</li>
	<li>Limerick on Thursday 18th of September:
		<br/>Limerick City Library, The Granary, Michael Street, Limerick from 10am - 1pm 
		<br/>Castletroy Golf Club, Golf Links Road, Castletroy, Limerick from 2pm - 6pm
	</li>
	<li>Waterford on Friday 19th of September:
		<br/>Pedestrian area, Broad Street, Waterford City, Waterford from 10am - 1pm
		<br/>Waterford Golf Club, Newrath, Waterford from 2pm - 6pm
	</li>
	<li>Cork on Saturday 20th of September:
		<br />Cork City Library, 57-61 Grand Parade, Cork on Saturday 20th of September from 10am to 1pm 
		<br />Cork Golf Club, Little Island from 2pm to 6pm
	</li>	





 </p>
