<p>
AMD (Age-related Macular Degeneration) is a condition that can affect your eyes as you get older. In fact, in the over 50s, AMD is the leading cause of sight loss in Ireland, with over 7,000 new cases in Ireland every year. AMD affects the macula - a small part of the eye responsible for central vision which allows you to see detail. AMD usually starts in one eye and is highly likely to affect the other eye at a later stage. There are two types of AMD, dry AMD and wet AMD.
</p>
<p>
Macular degeneration affects the part of the eye called the macula. The macula is part of the retina, the inner lining of the back of the eye. Light focused on the retina is transformed to an electrical signal that is sent to the brain where 'seeing' takes place.
</p>
<p>

The macula is the tiny central part of the retina that is responsible for the sharp, straight-ahead vision that we use for seeing fine details, reading, driving, recognising people at a distance, or seeing street signs. Other parts of the retina are used for side (peripheral) vision.
</p>
<p>

The most common type of macular degeneration is called age related macular degeneration (AMD), because it usually occurs after age 60. AMD usually develops very slowly.
</p>
<p>

There are two main types of AMD. About 85-90% of patients have the 'dry type' in which the outer layers of the retina slowly break down. This leads to a gradual blurring of vision that people may find noticeable when they try to read. There is no known treatment to slow of cure this type of AMD. Vision loss tends to be more severe from the second type of AMD, the 'wet form'. Compared with the dry form, vision may change quickly in wet AMD. Patients say that straight lines appear crooked and distorted, an affect caused by abnormal blood vessels growing under the retina. The vessels can leak fluid and bleed, lifting up the retina. In some cases, the vessels can be closed off to stop the leakage with laser treatment but vision may or may not improve afterwards, since abnormal blood vessels can grow back after laser treatment.
</p>
<p>

Macular degeneration is one of the commonest causes of vision loss in older adults. It does not, by itself, result in total blindness. While AMD can take away much useful central vision, causing inability to read or to drive a car, peripheral (side) vision, is not usually, allowing the person to move about independently and to continue those activities that do not require detailed vision. Most people who have had severe vision loss from macular degeneration, can be assisted with low-vision aids for reading.
</p>
<p>

With 'wet' macular degeneration patients can notice a gradual or sudden deterioration in, especially reading vision, in the affected eye. Some patients observe distortion of vision which indicates accumulation of fluid under the retina.
</p>
<p>
<br/>
Further information is available at <a href="http://www.amd.ie" title="www.amd.ie" target="amd">www.amd.ie</a>
</p>

