<ul class="gallerysets">
	<li>
<h2>ICO Winter Meeting and Annual Montgomery Lecture 2023</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720313219384&amp;PhotoID=53380295983" title="ICO Winter Meeting & Montgomery Lecture 2023"><img src="https://farm66.static.flickr.com/65535/53380295983_d8cd85cc1e_s.jpg" alt="ICO Winter Meeting & Montgomery Lecture 2023" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720313219384&amp;PhotoID=53380437534" title="ICO Winter Meeting & Montgomery Lecture 2023"><img src="https://farm66.static.flickr.com/65535/53380437534_3c76f28434_s.jpg" alt="ICO Winter Meeting & Montgomery Lecture 2023" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720313219384&amp;PhotoID=53380563250" title="ICO Winter Meeting & Montgomery Lecture 2023"><img src="https://farm66.static.flickr.com/65535/53380563250_deb8e9cfce_s.jpg" alt="ICO Winter Meeting & Montgomery Lecture 2023" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720313219384&amp;PhotoID=53379197362" title="ICO Winter Meeting & Montgomery Lecture 2023"><img src="https://farm66.static.flickr.com/65535/53379197362_383e33aab2_s.jpg" alt="ICO Winter Meeting & Montgomery Lecture 2023" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720313219384&amp;PhotoID=53379196832" title="John Blake Award for Best Research Paper"><img src="https://farm66.static.flickr.com/65535/53379196832_5584a939c5_s.jpg" alt="John Blake Award for Best Research Paper" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720313219384&amp;PhotoID=53380563630" title="ICO Winter Meeting & Montgomery Lecture 2023"><img src="https://farm66.static.flickr.com/65535/53380563630_cef7f7b02f_s.jpg" alt="ICO Winter Meeting & Montgomery Lecture 2023" /></a></li>
		</ul>
<p><em></em></p>			<p><a href="display.asp?PhotoSet_ID=72177720313219384">This set contains 14 photos &raquo;</a></p>
	</li>
	<li>
<h2>ICO Eye Care in Focus Conference 2023</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311695113&amp;PhotoID=53234170364" title="ICO Eye Care in Focus Conference 2023"><img src="https://farm66.static.flickr.com/65535/53234170364_c0548f6fb0_s.jpg" alt="ICO Eye Care in Focus Conference 2023" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311695113&amp;PhotoID=53234294870" title="ICO Eye Care in Focus Conference 2023"><img src="https://farm66.static.flickr.com/65535/53234294870_91252a82f8_s.jpg" alt="ICO Eye Care in Focus Conference 2023" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311695113&amp;PhotoID=53234170394" title="ICO Eye Care in Focus Conference 2023"><img src="https://farm66.static.flickr.com/65535/53234170394_2837d0332d_s.jpg" alt="ICO Eye Care in Focus Conference 2023" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311695113&amp;PhotoID=53234095223" title="ICO Eye Care in Focus Conference 2023"><img src="https://farm66.static.flickr.com/65535/53234095223_d3a69fca0f_s.jpg" alt="ICO Eye Care in Focus Conference 2023" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311695113&amp;PhotoID=53234312005" title="ICO Eye Care in Focus Conference 2023"><img src="https://farm66.static.flickr.com/65535/53234312005_1ae46e4064_s.jpg" alt="ICO Eye Care in Focus Conference 2023" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311695113&amp;PhotoID=53234294865" title="ICO Eye Care in Focus Conference 2023"><img src="https://farm66.static.flickr.com/65535/53234294865_6c8b25eb07_s.jpg" alt="ICO Eye Care in Focus Conference 2023" /></a></li>
		</ul>
<p><em>The Gibson Hotel Dublin</em></p>			<p><a href="display.asp?PhotoSet_ID=72177720311695113">This set contains 7 photos &raquo;</a></p>
	</li>
	<li>
<h2>ICO Annual Conference 2023 Clinical Programme</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311672163&amp;PhotoID=53231593011" title="ICO Annual Conference 2023"><img src="https://farm66.static.flickr.com/65535/53231593011_f0f32fb206_s.jpg" alt="ICO Annual Conference 2023" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311672163&amp;PhotoID=53230725737" title="ICO Annual Conference 2023"><img src="https://farm66.static.flickr.com/65535/53230725737_95e31a3625_s.jpg" alt="ICO Annual Conference 2023" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311672163&amp;PhotoID=53232103965" title="ICO Annual Conference 2023"><img src="https://farm66.static.flickr.com/65535/53232103965_0a66b234a6_s.jpg" alt="ICO Annual Conference 2023" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311672163&amp;PhotoID=53231983619" title="ICO Annual Conference 2023"><img src="https://farm66.static.flickr.com/65535/53231983619_995598283b_s.jpg" alt="ICO Annual Conference 2023" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311672163&amp;PhotoID=53231979714" title="ICO Annual Conference 2023"><img src="https://farm66.static.flickr.com/65535/53231979714_04e9cce39e_s.jpg" alt="ICO Annual Conference 2023" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311672163&amp;PhotoID=53231598796" title="ICO Annual Conference 2023"><img src="https://farm66.static.flickr.com/65535/53231598796_22427d4fdc_s.jpg" alt="ICO Annual Conference 2023" /></a></li>
		</ul>
<p><em>Great Southern Hotel Killarney</em></p>			<p><a href="display.asp?PhotoSet_ID=72177720311672163">This set contains 10 photos &raquo;</a></p>
	</li>
	<li>
<h2>ICO Annual Conference 2023 Killarney</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311637781&amp;PhotoID=53229663585" title="ICO Annual Conference 2023"><img src="https://farm66.static.flickr.com/65535/53229663585_692cfdb788_s.jpg" alt="ICO Annual Conference 2023" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311637781&amp;PhotoID=53229164291" title="ICO Annual Conference 2023"><img src="https://farm66.static.flickr.com/65535/53229164291_3a7e3cf341_s.jpg" alt="ICO Annual Conference 2023" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311637781&amp;PhotoID=53229465288" title="ICO Annual Conference 2023"><img src="https://farm66.static.flickr.com/65535/53229465288_4b3a809abd_s.jpg" alt="ICO Annual Conference 2023" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311637781&amp;PhotoID=53229539109" title="ICO Annual Conference 2023"><img src="https://farm66.static.flickr.com/65535/53229539109_97c0bd3899_s.jpg" alt="ICO Annual Conference 2023" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311637781&amp;PhotoID=53228290627" title="ICO Annual Conference 2023"><img src="https://farm66.static.flickr.com/65535/53228290627_5626850c5b_s.jpg" alt="ICO Annual Conference 2023" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311637781&amp;PhotoID=53229164301" title="ICO Annual Conference 2023"><img src="https://farm66.static.flickr.com/65535/53229164301_2e6dc68c31_s.jpg" alt="ICO Annual Conference 2023" /></a></li>
		</ul>
<p><em>Great Southern Hotel Killarney</em></p>			<p><a href="display.asp?PhotoSet_ID=72177720311637781">This set contains 13 photos &raquo;</a></p>
	</li>
	<li>
<h2>ICO Winter Meeting and Annual Montgomery Lecture 2022</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311682881&amp;PhotoID=53233663418" title="ICO Winter Meeting & Montgomery Lecture 2022"><img src="https://farm66.static.flickr.com/65535/53233663418_acfd79ba63_s.jpg" alt="ICO Winter Meeting & Montgomery Lecture 2022" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311682881&amp;PhotoID=53232495182" title="ICO Winter Meeting & Montgomery Lecture 2022"><img src="https://farm66.static.flickr.com/65535/53232495182_cc4b79674c_s.jpg" alt="ICO Winter Meeting & Montgomery Lecture 2022" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311682881&amp;PhotoID=53233362806" title="ICO Winter Meeting & Montgomery Lecture 2022"><img src="https://farm66.static.flickr.com/65535/53233362806_46eb31f05e_s.jpg" alt="ICO Winter Meeting & Montgomery Lecture 2022" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311682881&amp;PhotoID=53233663318" title="ICO Winter Meeting & Montgomery Lecture 2022"><img src="https://farm66.static.flickr.com/65535/53233663318_2521a94712_s.jpg" alt="ICO Winter Meeting & Montgomery Lecture 2022" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311682881&amp;PhotoID=53233862030" title="ICO Winter Meeting & Montgomery Lecture 2022"><img src="https://farm66.static.flickr.com/65535/53233862030_0a4d02612a_s.jpg" alt="ICO Winter Meeting & Montgomery Lecture 2022" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311682881&amp;PhotoID=53232494872" title="ICO Winter Meeting & Montgomery Lecture 2022"><img src="https://farm66.static.flickr.com/65535/53232494872_8ebcf54f45_s.jpg" alt="ICO Winter Meeting & Montgomery Lecture 2022" /></a></li>
		</ul>
<p><em>Albert Theatre RCSI</em></p>			<p><a href="display.asp?PhotoSet_ID=72177720311682881">This set contains 12 photos &raquo;</a></p>
	</li>
	<li>
<h2>ICO Eye Care in Focus Conference 2022</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311703049&amp;PhotoID=53232687217" title="ICO Eye Care in Focus Conference 2022"><img src="https://farm66.static.flickr.com/65535/53232687217_9993e3a110_s.jpg" alt="ICO Eye Care in Focus Conference 2022" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311703049&amp;PhotoID=53234055410" title="ICO Eye Care in Focus Conference 2022"><img src="https://farm66.static.flickr.com/65535/53234055410_cbcf3b9753_s.jpg" alt="ICO Eye Care in Focus Conference 2022" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311703049&amp;PhotoID=53232687322" title="ICO Eye Care in Focus Conference 2022"><img src="https://farm66.static.flickr.com/65535/53232687322_3d81bfa55c_s.jpg" alt="ICO Eye Care in Focus Conference 2022" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311703049&amp;PhotoID=53233555866" title="ICO Eye Care in Focus Conference 2022"><img src="https://farm66.static.flickr.com/65535/53233555866_bb3bc887e0_s.jpg" alt="ICO Eye Care in Focus Conference 2022" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311703049&amp;PhotoID=53233555836" title="ICO Eye Care in Focus Conference 2022"><img src="https://farm66.static.flickr.com/65535/53233555836_af84febfc2_s.jpg" alt="ICO Eye Care in Focus Conference 2022" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720311703049&amp;PhotoID=53233555851" title="ICO Eye Care in Focus Conference 2022"><img src="https://farm66.static.flickr.com/65535/53233555851_2984ba5918_s.jpg" alt="ICO Eye Care in Focus Conference 2022" /></a></li>
		</ul>
<p><em>The Gibson Hotel Dublin</em></p>			<p><a href="display.asp?PhotoSet_ID=72177720311703049">This set contains 17 photos &raquo;</a></p>
	</li>
	<li>
<h2>ICO Annual Conference 2022 Clinical Programme</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720300159309&amp;PhotoID=52179289168" title="Planning for the Future Symposium ICO Conference"><img src="https://farm66.static.flickr.com/65535/52179289168_901b4e6642_s.jpg" alt="Planning for the Future Symposium ICO Conference" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720300159309&amp;PhotoID=52179772255" title="SOE Lecture 2022 ICO Annual Conference"><img src="https://farm66.static.flickr.com/65535/52179772255_a2ec2bf81f_s.jpg" alt="SOE Lecture 2022 ICO Annual Conference" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720300159309&amp;PhotoID=52179288638" title="Ocular Surface Disease Symposium ICO Conference 2022"><img src="https://farm66.static.flickr.com/65535/52179288638_b384772e7f_s.jpg" alt="Ocular Surface Disease Symposium ICO Conference 2022" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720300159309&amp;PhotoID=52179280531" title="Sir William Wilde Medal 2022"><img src="https://farm66.static.flickr.com/65535/52179280531_84bb362e44_s.jpg" alt="Sir William Wilde Medal 2022" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720300159309&amp;PhotoID=52179528994" title="Barbara Knox Medal 2022"><img src="https://farm66.static.flickr.com/65535/52179528994_cca521f57d_s.jpg" alt="Barbara Knox Medal 2022" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720300159309&amp;PhotoID=52179529049" title="John Blake Medal 2022"><img src="https://farm66.static.flickr.com/65535/52179529049_44f87ecba3_s.jpg" alt="John Blake Medal 2022" /></a></li>
		</ul>
<p><em>Kilkenny Convention Centre</em></p>			<p><a href="display.asp?PhotoSet_ID=72177720300159309">This set contains 11 photos &raquo;</a></p>
	</li>
	<li>
<h2>ICO Annual Conference 2022 Kilkenny</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720300153295&amp;PhotoID=52179463419" title="ICO Annual Conference 2022"><img src="https://farm66.static.flickr.com/65535/52179463419_3441017a8c_s.jpg" alt="ICO Annual Conference 2022" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720300153295&amp;PhotoID=52179212921" title="ICO Annual Conference 2022"><img src="https://farm66.static.flickr.com/65535/52179212921_a886379a4a_s.jpg" alt="ICO Annual Conference 2022" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720300153295&amp;PhotoID=52179214151" title="ICO Annual Conference 2022"><img src="https://farm66.static.flickr.com/65535/52179214151_5e47796493_s.jpg" alt="ICO Annual Conference 2022" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720300153295&amp;PhotoID=52179219918" title="ICO Annual Conference 2022"><img src="https://farm66.static.flickr.com/65535/52179219918_66649a119e_s.jpg" alt="ICO Annual Conference 2022" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720300153295&amp;PhotoID=52179462529" title="ICO Annual Conference 2022"><img src="https://farm66.static.flickr.com/65535/52179462529_43b1d6a825_s.jpg" alt="ICO Annual Conference 2022" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72177720300153295&amp;PhotoID=52178185887" title="ICO Annual Conference 2022"><img src="https://farm66.static.flickr.com/65535/52178185887_ea9cd79c42_s.jpg" alt="ICO Annual Conference 2022" /></a></li>
		</ul>
<p><em>Kilkenny Convention Centre</em></p>			<p><a href="display.asp?PhotoSet_ID=72177720300153295">This set contains 17 photos &raquo;</a></p>
	</li>
	<li>
<h2>Annual Montgomery Lecture 2019</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157712543271997&amp;PhotoID=49339359683" title="Annual Montgomery Lecture 2019"><img src="https://farm66.static.flickr.com/65535/49339359683_575bf2a63a_s.jpg" alt="Annual Montgomery Lecture 2019" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157712543271997&amp;PhotoID=49340037782" title="Annual Montgomery Lecture 2019"><img src="https://farm66.static.flickr.com/65535/49340037782_114b70e7cf_s.jpg" alt="Annual Montgomery Lecture 2019" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157712543271997&amp;PhotoID=49339359758" title="Annual Montgomery Lecture 2019"><img src="https://farm66.static.flickr.com/65535/49339359758_4d905f02a5_s.jpg" alt="Annual Montgomery Lecture 2019" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157712543271997&amp;PhotoID=49340037847" title="Annual Montgomery Lecture 2019"><img src="https://farm66.static.flickr.com/65535/49340037847_d4f71dc826_s.jpg" alt="Annual Montgomery Lecture 2019" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157712543271997&amp;PhotoID=49339817416" title="Annual Montgomery Lecture 2019"><img src="https://farm66.static.flickr.com/65535/49339817416_1ac0ab9c13_s.jpg" alt="Annual Montgomery Lecture 2019" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157712543271997&amp;PhotoID=49340037937" title="Annual Montgomery Lecture 2019"><img src="https://farm66.static.flickr.com/65535/49340037937_2a48185572_s.jpg" alt="Annual Montgomery Lecture 2019" /></a></li>
		</ul>
<p><em>Old Anatomy Lecture Theatre Trinity College Dublin.</em></p>			<p><a href="display.asp?PhotoSet_ID=72157712543271997">This set contains 10 photos &raquo;</a></p>
	</li>
	<li>
<h2>ICO Annual Conference 2019 Clinical Pamme</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157708782968231&amp;PhotoID=47942511072" title="Cataract Symposium, ICO Annual Conference 2019"><img src="https://farm66.static.flickr.com/65535/47942511072_0c6773777a_s.jpg" alt="Cataract Symposium, ICO Annual Conference 2019" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157708782968231&amp;PhotoID=47942539653" title="Paediatric Symposium, ICO Annual Conference 2019"><img src="https://farm66.static.flickr.com/65535/47942539653_9ecb86d5c9_s.jpg" alt="Paediatric Symposium, ICO Annual Conference 2019" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157708782968231&amp;PhotoID=47942557787" title="European Society of Ophthalmology (SOE) Annual Lecture 2019"><img src="https://farm66.static.flickr.com/65535/47942557787_402a938291_s.jpg" alt="European Society of Ophthalmology (SOE) Annual Lecture 2019" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157708782968231&amp;PhotoID=47942556302" title="Annual Mooney Lecture 2019"><img src="https://farm66.static.flickr.com/65535/47942556302_fb5b4236c6_s.jpg" alt="Annual Mooney Lecture 2019" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157708782968231&amp;PhotoID=47942590046" title="ICO/Bayer Ophthalmology Clinical Fellowship 2019"><img src="https://farm66.static.flickr.com/65535/47942590046_c26f4ff308_s.jpg" alt="ICO/Bayer Ophthalmology Clinical Fellowship 2019" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157708782968231&amp;PhotoID=47942568698" title="Ocular Emergencies and Trauma Symposium, ICO Annual Conference 2019"><img src="https://farm66.static.flickr.com/65535/47942568698_88d591fb31_s.jpg" alt="Ocular Emergencies and Trauma Symposium, ICO Annual Conference 2019" /></a></li>
		</ul>
<p><em>Galway Bay Hotel</em></p>			<p><a href="display.asp?PhotoSet_ID=72157708782968231">This set contains 10 photos &raquo;</a></p>
	</li>
	<li>
<h2>Medal Winners - ICO Annual Conference 2019</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157708782891131&amp;PhotoID=47942493293" title="Barbara Knox Medal for Best Paper, ICO Annual Conference 2019"><img src="https://farm66.static.flickr.com/65535/47942493293_d91c7a294f_s.jpg" alt="Barbara Knox Medal for Best Paper, ICO Annual Conference 2019" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157708782891131&amp;PhotoID=47942443333" title="Inaugural John Blake Medal for Best Laboratory Research Paper, ICO Annual Conference 2019"><img src="https://farm66.static.flickr.com/65535/47942443333_67391512d1_s.jpg" alt="Inaugural John Blake Medal for Best Laboratory Research Paper, ICO Annual Conference 2019" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157708782891131&amp;PhotoID=47942499282" title="Sir William Wilde Medal for Best Poster, ICO Annual Conference 2019"><img src="https://farm66.static.flickr.com/65535/47942499282_b8657d15b6_s.jpg" alt="Sir William Wilde Medal for Best Poster, ICO Annual Conference 2019" /></a></li>
		</ul>
<p><em>Galway Bay Hotel</em></p>	</li>
	<li>
<h2>ICO Annual Conference 2019</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157708782793911&amp;PhotoID=47942470096" title="ICO Annual Conference 2019"><img src="https://farm66.static.flickr.com/65535/47942470096_b4ed6ed94d_s.jpg" alt="ICO Annual Conference 2019" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157708782793911&amp;PhotoID=47942450688" title="ICO Annual Conference 2019"><img src="https://farm66.static.flickr.com/65535/47942450688_6922d543b7_s.jpg" alt="ICO Annual Conference 2019" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157708782793911&amp;PhotoID=47942470361" title="ICO Annual Conference 2019"><img src="https://farm66.static.flickr.com/65535/47942470361_1e84c011db_s.jpg" alt="ICO Annual Conference 2019" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157708782793911&amp;PhotoID=47942470451" title="ICO Annual Conference 2019"><img src="https://farm66.static.flickr.com/65535/47942470451_b53c2438ef_s.jpg" alt="ICO Annual Conference 2019" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157708782793911&amp;PhotoID=47942450968" title="ICO Annual Conference 2019"><img src="https://farm66.static.flickr.com/65535/47942450968_a2111cabef_s.jpg" alt="ICO Annual Conference 2019" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157708782793911&amp;PhotoID=47942471186" title="ICO Annual Conference 2019"><img src="https://farm66.static.flickr.com/65535/47942471186_62ca53872e_s.jpg" alt="ICO Annual Conference 2019" /></a></li>
		</ul>
<p><em>Galway Bay Hotel</em></p>			<p><a href="display.asp?PhotoSet_ID=72157708782793911">This set contains 13 photos &raquo;</a></p>
	</li>
	<li>
<h2>Montgomery Lecture 2018 and Centenary Reception</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157699343044110&amp;PhotoID=31628001117" title="Annual Montgomery Lecture 2018 and Centenary Reception"><img src="https://farm8.static.flickr.com/7824/31628001117_9c6ac4b042_s.jpg" alt="Annual Montgomery Lecture 2018 and Centenary Reception" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157699343044110&amp;PhotoID=46517040122" title="Annual Montgomery Lecture 2018 and Centenary Reception"><img src="https://farm8.static.flickr.com/7903/46517040122_da2af81837_s.jpg" alt="Annual Montgomery Lecture 2018 and Centenary Reception" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157699343044110&amp;PhotoID=46517040842" title="Annual Montgomery Lecture 2018 and Centenary Reception"><img src="https://farm8.static.flickr.com/7842/46517040842_9c94854308_s.jpg" alt="Annual Montgomery Lecture 2018 and Centenary Reception" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157699343044110&amp;PhotoID=46517040222" title="Annual Montgomery Lecture 2018 and Centenary Reception"><img src="https://farm8.static.flickr.com/7821/46517040222_0640e01ac9_s.jpg" alt="Annual Montgomery Lecture 2018 and Centenary Reception" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157699343044110&amp;PhotoID=31628001297" title="Annual Montgomery Lecture 2018 and Centenary Reception"><img src="https://farm5.static.flickr.com/4853/31628001297_e10f5726f9_s.jpg" alt="Annual Montgomery Lecture 2018 and Centenary Reception" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157699343044110&amp;PhotoID=31627998247" title="Annual Montgomery Lecture 2018 and Centenary Reception"><img src="https://farm8.static.flickr.com/7845/31627998247_1611c4b427_s.jpg" alt="Annual Montgomery Lecture 2018 and Centenary Reception" /></a></li>
		</ul>
<p><em>November 16</em></p>			<p><a href="display.asp?PhotoSet_ID=72157699343044110">This set contains 38 photos &raquo;</a></p>
	</li>
	<li>
<h2>10th Adare Retinal Meeting 2018</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157697907337280&amp;PhotoID=44137855800" title="10th Annual Adare Retinal Meeting"><img src="https://farm5.static.flickr.com/4895/44137855800_4a039b5491_s.jpg" alt="10th Annual Adare Retinal Meeting" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157697907337280&amp;PhotoID=45905000292" title="10th Annual Adare Retinal Meeting"><img src="https://farm5.static.flickr.com/4847/45905000292_8cc654ba0c_s.jpg" alt="10th Annual Adare Retinal Meeting" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157697907337280&amp;PhotoID=45954347351" title="10th Annual Adare Retinal Meeting"><img src="https://farm5.static.flickr.com/4842/45954347351_e393a0e427_s.jpg" alt="10th Annual Adare Retinal Meeting" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157697907337280&amp;PhotoID=45954348001" title="10th Annual Adare Retinal Meeting"><img src="https://farm5.static.flickr.com/4917/45954348001_c4a31d1a79_s.jpg" alt="10th Annual Adare Retinal Meeting" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157697907337280&amp;PhotoID=45954348401" title="10th Annual Adare Retinal Meeting"><img src="https://farm5.static.flickr.com/4871/45954348401_a26dc9b58f_s.jpg" alt="10th Annual Adare Retinal Meeting" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157697907337280&amp;PhotoID=44137842070" title="10th Annual Adare Retinal Meeting"><img src="https://farm5.static.flickr.com/4827/44137842070_f6d9ed7235_s.jpg" alt="10th Annual Adare Retinal Meeting" /></a></li>
		</ul>
<p><em>Ms Catherine Cleary</em></p>			<p><a href="display.asp?PhotoSet_ID=72157697907337280">This set contains 12 photos &raquo;</a></p>
	</li>
	<li>
<h2>European Society of Ophthalmology (SOE) Dinner</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157692357994500&amp;PhotoID=41084244200" title="European Society of Ophthalmology (SOE) Dinner, RCSI, 9th June 2018"><img src="https://farm2.static.flickr.com/1782/41084244200_ac10826b63_s.jpg" alt="European Society of Ophthalmology (SOE) Dinner, RCSI, 9th June 2018" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157692357994500&amp;PhotoID=41084244550" title="European Society of Ophthalmology (SOE) Dinner, RCSI, 9th June 2018"><img src="https://farm2.static.flickr.com/1784/41084244550_a21824dd47_s.jpg" alt="European Society of Ophthalmology (SOE) Dinner, RCSI, 9th June 2018" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157692357994500&amp;PhotoID=29022312088" title="European Society of Ophthalmology (SOE) Dinner, RCSI, 9th June 2018"><img src="https://farm2.static.flickr.com/1821/29022312088_87a51e9810_s.jpg" alt="European Society of Ophthalmology (SOE) Dinner, RCSI, 9th June 2018" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157692357994500&amp;PhotoID=41084244710" title="European Society of Ophthalmology (SOE) Dinner, RCSI, 9th June 2018"><img src="https://farm2.static.flickr.com/1746/41084244710_70e12c407b_s.jpg" alt="European Society of Ophthalmology (SOE) Dinner, RCSI, 9th June 2018" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157692357994500&amp;PhotoID=29022312188" title="European Society of Ophthalmology (SOE) Dinner, RCSI, 9th June 2018"><img src="https://farm2.static.flickr.com/1748/29022312188_a795790555_s.jpg" alt="European Society of Ophthalmology (SOE) Dinner, RCSI, 9th June 2018" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157692357994500&amp;PhotoID=41084244850" title="European Society of Ophthalmology (SOE) Dinner, RCSI, 9th June 2018"><img src="https://farm2.static.flickr.com/1745/41084244850_de899dae71_s.jpg" alt="European Society of Ophthalmology (SOE) Dinner, RCSI, 9th June 2018" /></a></li>
		</ul>
<p><em>RCSI</em></p>			<p><a href="display.asp?PhotoSet_ID=72157692357994500">This set contains 17 photos &raquo;</a></p>
	</li>
	<li>
<h2>ICO Annual Conference</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157696029123821&amp;PhotoID=40830064760" title="Annual Monney Lecture - ICO Annual Conference 2018"><img src="https://farm2.static.flickr.com/1747/40830064760_3b9be2b728_s.jpg" alt="Annual Monney Lecture - ICO Annual Conference 2018" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157696029123821&amp;PhotoID=42587388202" title="Scope Ophthalmics Travel Bursary Winner Dr Garry Treacy"><img src="https://farm2.static.flickr.com/1726/42587388202_e24253f40e_s.jpg" alt="Scope Ophthalmics Travel Bursary Winner Dr Garry Treacy" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157696029123821&amp;PhotoID=40829973730" title="Uveitis Symposium, ICO Annual Conference 2018 Uveitis Symposium.JPG_2"><img src="https://farm2.static.flickr.com/1747/40829973730_85649a7405_s.jpg" alt="Uveitis Symposium, ICO Annual Conference 2018 Uveitis Symposium.JPG_2" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157696029123821&amp;PhotoID=42638026741" title="European Society of Ophthalmology (SOE) Lecture 2018"><img src="https://farm2.static.flickr.com/1725/42638026741_ffafd1a8c5_s.jpg" alt="European Society of Ophthalmology (SOE) Lecture 2018" /></a></li>
		</ul>
<p><em> Kilkenny</em></p>	</li>
	<li>
<h2>ICO Annual Conference 2018 Kilkenny</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157695656810411&amp;PhotoID=41694261214" title="ICO Annual Conference 2018 Gala Dinner"><img src="https://farm2.static.flickr.com/1730/41694261214_0d8a3a262f_s.jpg" alt="ICO Annual Conference 2018 Gala Dinner" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157695656810411&amp;PhotoID=40609525310" title="ICO Annual Conference 2018 Gala Dinner"><img src="https://farm2.static.flickr.com/1749/40609525310_459a195793_s.jpg" alt="ICO Annual Conference 2018 Gala Dinner" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157695656810411&amp;PhotoID=27547160847" title="ICO Annual Conference 2018 Gala Dinner"><img src="https://farm2.static.flickr.com/1746/27547160847_919e437855_s.jpg" alt="ICO Annual Conference 2018 Gala Dinner" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157695656810411&amp;PhotoID=40609524850" title="ICO Annual Conference 2018 Gala Dinner"><img src="https://farm1.static.flickr.com/873/40609524850_e0df5c6752_s.jpg" alt="ICO Annual Conference 2018 Gala Dinner" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157695656810411&amp;PhotoID=27547160557" title="ICO Annual Conference 2018 Gala Dinner"><img src="https://farm2.static.flickr.com/1724/27547160557_defb11fde2_s.jpg" alt="ICO Annual Conference 2018 Gala Dinner" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157695656810411&amp;PhotoID=40609524640" title="ICO Annual Conference 2018 Gala Dinner"><img src="https://farm1.static.flickr.com/874/40609524640_4c11f5fce7_s.jpg" alt="ICO Annual Conference 2018 Gala Dinner" /></a></li>
		</ul>
<p><em></em></p>			<p><a href="display.asp?PhotoSet_ID=72157695656810411">This set contains 19 photos &raquo;</a></p>
	</li>
	<li>
<h2>ICO Winter Meeting 2017</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157663398508128&amp;PhotoID=38003172725" title="ICO Winter Meeting 2017"><img src="https://farm5.static.flickr.com/4565/38003172725_3da1ab07e4_s.jpg" alt="ICO Winter Meeting 2017" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157663398508128&amp;PhotoID=38859613112" title="ICO Winter Meeting 2017"><img src="https://farm5.static.flickr.com/4574/38859613112_e6f50fb61f_s.jpg" alt="ICO Winter Meeting 2017" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157663398508128&amp;PhotoID=38859606662" title="ICO/Novartis Bursary 2017"><img src="https://farm5.static.flickr.com/4520/38859606662_5cb617f9f6_s.jpg" alt="ICO/Novartis Bursary 2017" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157663398508128&amp;PhotoID=38890044921" title="ICO Winter Meeting 2017"><img src="https://farm5.static.flickr.com/4556/38890044921_42546e71e8_s.jpg" alt="ICO Winter Meeting 2017" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157663398508128&amp;PhotoID=38890043781" title="ICO Winter Meeting 2017"><img src="https://farm5.static.flickr.com/4581/38890043781_2cba77af2f_s.jpg" alt="ICO Winter Meeting 2017" /></a></li>
		</ul>
<p><em>The ICO Winter Meeting took place on November 24th</em></p>	</li>
	<li>
<h2>Annual Montgomery Lecture 2017</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157661351683707&amp;PhotoID=38174115614" title="Annual Montgomery Lecture 2017"><img src="https://farm5.static.flickr.com/4566/38174115614_dd62b8896a_s.jpg" alt="Annual Montgomery Lecture 2017" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157661351683707&amp;PhotoID=38174108804" title="Annual Montgomery Lecture 2017"><img src="https://farm5.static.flickr.com/4533/38174108804_ee270d09af_s.jpg" alt="Annual Montgomery Lecture 2017" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157661351683707&amp;PhotoID=38174116334" title="Annual Montgomery Lecture 2017"><img src="https://farm5.static.flickr.com/4535/38174116334_b03022d65f_s.jpg" alt="Annual Montgomery Lecture 2017" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157661351683707&amp;PhotoID=38174115754" title="Annual Montgomery Lecture 2017"><img src="https://farm5.static.flickr.com/4574/38174115754_c28e3bcd6e_s.jpg" alt="Annual Montgomery Lecture 2017" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157661351683707&amp;PhotoID=38174116534" title="Annual Montgomery Lecture 2017"><img src="https://farm5.static.flickr.com/4534/38174116534_8b36795a6b_s.jpg" alt="Annual Montgomery Lecture 2017" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157661351683707&amp;PhotoID=38174116784" title="Annual Montgomery Lecture 2017"><img src="https://farm5.static.flickr.com/4518/38174116784_1c9db3c747_s.jpg" alt="Annual Montgomery Lecture 2017" /></a></li>
		</ul>
<p><em>Professor Michael O'Keeffe</em></p>			<p><a href="display.asp?PhotoSet_ID=72157661351683707">This set contains 18 photos &raquo;</a></p>
	</li>
	<li>
<h2>Annual Adare Retinal Meeting 2017</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157690505011075&amp;PhotoID=23962672517" title="Annual Adare Retinal Meeting 2017"><img src="https://farm5.static.flickr.com/4555/23962672517_b6c0d442f5_s.jpg" alt="Annual Adare Retinal Meeting 2017" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157690505011075&amp;PhotoID=38111294004" title="Annual Adare Retinal Meeting 2017"><img src="https://farm5.static.flickr.com/4522/38111294004_402b321f7d_s.jpg" alt="Annual Adare Retinal Meeting 2017" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157690505011075&amp;PhotoID=23962673187" title="Annual Adare Retinal Meeting 2017"><img src="https://farm5.static.flickr.com/4575/23962673187_63820b92cb_s.jpg" alt="Annual Adare Retinal Meeting 2017" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157690505011075&amp;PhotoID=38111294494" title="Annual Adare Retinal Meeting 2017"><img src="https://farm5.static.flickr.com/4540/38111294494_801bd255f8_s.jpg" alt="Annual Adare Retinal Meeting 2017" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157690505011075&amp;PhotoID=24954733908" title="Annual Adare Retinal Meeting 2017"><img src="https://farm5.static.flickr.com/4533/24954733908_186b23c7d8_s.jpg" alt="Annual Adare Retinal Meeting 2017" /></a></li>
		</ul>
<p><em>The 9th Annual Adare Retinal Meeting took place in the Dunraven Arms Hotel</em></p>	</li>
	<li>
<h2>Gala Dinner</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157683909936303&amp;PhotoID=35896653862" title="Gala Dinner, ICO Annual Conference 2017"><img src="https://farm5.static.flickr.com/4296/35896653862_8f37136612_s.jpg" alt="Gala Dinner, ICO Annual Conference 2017" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157683909936303&amp;PhotoID=35258463263" title="ICO2017-144"><img src="https://farm5.static.flickr.com/4303/35258463263_bcbb5a7f21_s.jpg" alt="ICO2017-144" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157683909936303&amp;PhotoID=35896654432" title="ICO2017-142"><img src="https://farm5.static.flickr.com/4315/35896654432_f81ae21a97_s.jpg" alt="ICO2017-142" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157683909936303&amp;PhotoID=35896655062" title="ICO2017-140"><img src="https://farm5.static.flickr.com/4305/35896655062_f48fccf93a_s.jpg" alt="ICO2017-140" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157683909936303&amp;PhotoID=35896655262" title="ICO2017-138"><img src="https://farm5.static.flickr.com/4304/35896655262_88032a8393_s.jpg" alt="ICO2017-138" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157683909936303&amp;PhotoID=35896655742" title="ICO2017-133"><img src="https://farm5.static.flickr.com/4313/35896655742_125c82ce39_s.jpg" alt="ICO2017-133" /></a></li>
		</ul>
<p><em> ICO Annual Conference</em></p>			<p><a href="display.asp?PhotoSet_ID=72157683909936303">This set contains 29 photos &raquo;</a></p>
	</li>
	<li>
<h2>ICO Annual Conference</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157686562368085&amp;PhotoID=35226589314" title="ICO Annual Conference 2017"><img src="https://farm5.static.flickr.com/4303/35226589314_ae17ab35bb_s.jpg" alt="ICO Annual Conference 2017" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157686562368085&amp;PhotoID=35677077760" title="ICO Annual Conference 2017"><img src="https://farm5.static.flickr.com/4318/35677077760_dbff218a6c_s.jpg" alt="ICO Annual Conference 2017" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157686562368085&amp;PhotoID=35226591014" title="ICO Annual Conference 2017"><img src="https://farm5.static.flickr.com/4292/35226591014_bede28a7d1_s.jpg" alt="ICO Annual Conference 2017" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157686562368085&amp;PhotoID=35677078480" title="ICO Annual Conference 2017"><img src="https://farm5.static.flickr.com/4324/35677078480_90d27f0f3a_s.jpg" alt="ICO Annual Conference 2017" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157686562368085&amp;PhotoID=35226591334" title="ICO Annual Conference 2017"><img src="https://farm5.static.flickr.com/4297/35226591334_335d1fb401_s.jpg" alt="ICO Annual Conference 2017" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157686562368085&amp;PhotoID=35226591714" title="ICO Annual Conference 2017"><img src="https://farm5.static.flickr.com/4321/35226591714_e7f65db029_s.jpg" alt="ICO Annual Conference 2017" /></a></li>
		</ul>
<p><em> Cavan</em></p>			<p><a href="display.asp?PhotoSet_ID=72157686562368085">This set contains 10 photos &raquo;</a></p>
	</li>
	<li>
<h2>ICO launch Patient Information Leaflets and Guidelines on the Consent Process in Ophthalmology</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157675891688181&amp;PhotoID=30651884213" title="Patient Information Leaflets and Guidelines on Consent Process in Ophthalmology"><img src="https://farm6.static.flickr.com/5696/30651884213_ba9f51c358_s.jpg" alt="Patient Information Leaflets and Guidelines on Consent Process in Ophthalmology" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157675891688181&amp;PhotoID=31089274820" title="Patient Information Leaflets and Guidelines on Consent Process in Ophthalmology"><img src="https://farm6.static.flickr.com/5542/31089274820_2f27bbd2b1_s.jpg" alt="Patient Information Leaflets and Guidelines on Consent Process in Ophthalmology" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157675891688181&amp;PhotoID=31089275420" title="Patient Information Leaflets and Guidelines on Consent Process in Ophthalmology"><img src="https://farm6.static.flickr.com/5683/31089275420_5cef8da0e2_s.jpg" alt="Patient Information Leaflets and Guidelines on Consent Process in Ophthalmology" /></a></li>
		</ul>
<p><em></em></p>	</li>
	<li>
<h2>Bayer/ICO Clinical Fellowship 2016/17</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157673578111923&amp;PhotoID=31087512950" title="Bayer/ICO Clinical Fellowship 2016/17"><img src="https://farm6.static.flickr.com/5762/31087512950_fa5c4e10ee_s.jpg" alt="Bayer/ICO Clinical Fellowship 2016/17" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157673578111923&amp;PhotoID=31087513460" title="Bayer/ICO Clinical Fellowship 2016/17"><img src="https://farm6.static.flickr.com/5738/31087513460_32342fbbca_s.jpg" alt="Bayer/ICO Clinical Fellowship 2016/17" /></a></li>
		</ul>
<p><em></em></p>	</li>
	<li>
<h2>Annual Montgomery Lecture 2016</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157677393922856&amp;PhotoID=31086313350" title="Annual Montgomery Lecture 2016"><img src="https://farm6.static.flickr.com/5523/31086313350_ca4452764b_s.jpg" alt="Annual Montgomery Lecture 2016" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157677393922856&amp;PhotoID=31086312850" title="Annual Montgomery Lecture 2016"><img src="https://farm6.static.flickr.com/5655/31086312850_6820f4c32e_s.jpg" alt="Annual Montgomery Lecture 2016" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157677393922856&amp;PhotoID=31086313650" title="Annual Montgomery Lecture 2016"><img src="https://farm6.static.flickr.com/5657/31086313650_8e10091a91_s.jpg" alt="Annual Montgomery Lecture 2016" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157677393922856&amp;PhotoID=31086313160" title="Annual Montgomery Lecture 2016"><img src="https://farm6.static.flickr.com/5609/31086313160_46ab20d0df_s.jpg" alt="Annual Montgomery Lecture 2016" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157677393922856&amp;PhotoID=31341462311" title="Annual Montgomery Lecture 2016"><img src="https://farm6.static.flickr.com/5575/31341462311_e6ca2ced99_s.jpg" alt="Annual Montgomery Lecture 2016" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157677393922856&amp;PhotoID=31341463331" title="Annual Montgomery Lecture 2016"><img src="https://farm6.static.flickr.com/5801/31341463331_f133e260a1_s.jpg" alt="Annual Montgomery Lecture 2016" /></a></li>
		</ul>
<p><em>The Annual Montgomery Lecture hosted by the Irish College of Ophthalmologists took place at the Trinity Biomedical Science Institute</em></p>			<p><a href="display.asp?PhotoSet_ID=72157677393922856">This set contains 26 photos &raquo;</a></p>
	</li>
	<li>
<h2>ICO Annual Conference</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157669653052530&amp;PhotoID=27844005810" title="ICO Annual Conference 2016, Killarney"><img src="https://farm8.static.flickr.com/7325/27844005810_f9939a8b0d_s.jpg" alt="ICO Annual Conference 2016, Killarney" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157669653052530&amp;PhotoID=28046475461" title="ICO Annual Conference 2016, Killarney"><img src="https://farm8.static.flickr.com/7699/28046475461_0e8f290566_s.jpg" alt="ICO Annual Conference 2016, Killarney" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157669653052530&amp;PhotoID=28124624725" title="ICO Annual Conference 2016, Killarney"><img src="https://farm8.static.flickr.com/7294/28124624725_478b6088e0_s.jpg" alt="ICO Annual Conference 2016, Killarney" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157669653052530&amp;PhotoID=27509825714" title="ICO Annual Conference 2016, Killarney"><img src="https://farm8.static.flickr.com/7407/27509825714_df9b2a39d1_s.jpg" alt="ICO Annual Conference 2016, Killarney" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157669653052530&amp;PhotoID=28046476551" title="ICO Annual Conference 2016, Killarney"><img src="https://farm8.static.flickr.com/7433/28046476551_a6284674e0_s.jpg" alt="ICO Annual Conference 2016, Killarney" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157669653052530&amp;PhotoID=27509826334" title="ICO Annual Conference 2016, Killarney"><img src="https://farm8.static.flickr.com/7463/27509826334_61eda0fee7_s.jpg" alt="ICO Annual Conference 2016, Killarney" /></a></li>
		</ul>
<p><em> Killarney</em></p>			<p><a href="display.asp?PhotoSet_ID=72157669653052530">This set contains 29 photos &raquo;</a></p>
	</li>
	<li>
<h2>Gala Dinner</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157669608811690&amp;PhotoID=27486907933" title="Gala Dinner, ICO Annual Conference 2016, The Europe Hotel, Killarney, Co. Kerry"><img src="https://farm8.static.flickr.com/7722/27486907933_aeab3c6021_s.jpg" alt="Gala Dinner, ICO Annual Conference 2016, The Europe Hotel, Killarney, Co. Kerry" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157669608811690&amp;PhotoID=27486904643" title="Gala Dinner, ICO Annual Conference 2016, The Europe Hotel, Killarney, Co. Kerry"><img src="https://farm8.static.flickr.com/7353/27486904643_22facb219d_s.jpg" alt="Gala Dinner, ICO Annual Conference 2016, The Europe Hotel, Killarney, Co. Kerry" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157669608811690&amp;PhotoID=27487223304" title="Gala Dinner, ICO Annual Conference 2016, The Europe Hotel, Killarney, Co. Kerry"><img src="https://farm8.static.flickr.com/7311/27487223304_8f7e826f0f_s.jpg" alt="Gala Dinner, ICO Annual Conference 2016, The Europe Hotel, Killarney, Co. Kerry" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157669608811690&amp;PhotoID=27486905303" title="Gala Dinner, ICO Annual Conference 2016, The Europe Hotel, Killarney, Co. Kerry"><img src="https://farm8.static.flickr.com/7299/27486905303_cc7226d184_s.jpg" alt="Gala Dinner, ICO Annual Conference 2016, The Europe Hotel, Killarney, Co. Kerry" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157669608811690&amp;PhotoID=27486906183" title="Gala Dinner, ICO Annual Conference 2016, The Europe Hotel, Killarney, Co. Kerry"><img src="https://farm8.static.flickr.com/7308/27486906183_44918cf7d0_s.jpg" alt="Gala Dinner, ICO Annual Conference 2016, The Europe Hotel, Killarney, Co. Kerry" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157669608811690&amp;PhotoID=27487224314" title="Gala Dinner, ICO Annual Conference 2016, The Europe Hotel, Killarney, Co. Kerry"><img src="https://farm8.static.flickr.com/7289/27487224314_c1dd0b734e_s.jpg" alt="Gala Dinner, ICO Annual Conference 2016, The Europe Hotel, Killarney, Co. Kerry" /></a></li>
		</ul>
<p><em> ICO Conference 2016</em></p>			<p><a href="display.asp?PhotoSet_ID=72157669608811690">This set contains 18 photos &raquo;</a></p>
	</li>
	<li>
<h2>U.E.M.S. European Board of Ophthalmology</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157669607846690&amp;PhotoID=28101165005" title="71st Plenary Assembly of the U.E.M.S. Section of Ophthalmology, RCSI, Dublin, June 11th 2016"><img src="https://farm8.static.flickr.com/7305/28101165005_160c5cdd88_s.jpg" alt="71st Plenary Assembly of the U.E.M.S. Section of Ophthalmology, RCSI, Dublin, June 11th 2016" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157669607846690&amp;PhotoID=27820936710" title="71st Plenary Assembly of the U.E.M.S. Section of Ophthalmology, RCSI, Dublin, June 11th 2016"><img src="https://farm8.static.flickr.com/7504/27820936710_277a399668_s.jpg" alt="71st Plenary Assembly of the U.E.M.S. Section of Ophthalmology, RCSI, Dublin, June 11th 2016" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157669607846690&amp;PhotoID=28023722791" title="71st Plenary Assembly of the U.E.M.S. Section of Ophthalmology, RCSI, Dublin, June 11th 2016"><img src="https://farm8.static.flickr.com/7475/28023722791_26d3fb7e3f_s.jpg" alt="71st Plenary Assembly of the U.E.M.S. Section of Ophthalmology, RCSI, Dublin, June 11th 2016" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157669607846690&amp;PhotoID=27998623442" title="71st Plenary Assembly of the U.E.M.S. Section of Ophthalmology, RCSI, Dublin, June 11th 2016"><img src="https://farm8.static.flickr.com/7425/27998623442_c6f1e73185_s.jpg" alt="71st Plenary Assembly of the U.E.M.S. Section of Ophthalmology, RCSI, Dublin, June 11th 2016" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157669607846690&amp;PhotoID=28101139485" title="71st Plenary Assembly of the U.E.M.S. Section of Ophthalmology, RCSI, Dublin, June 11th 2016"><img src="https://farm8.static.flickr.com/7335/28101139485_10f809d301_s.jpg" alt="71st Plenary Assembly of the U.E.M.S. Section of Ophthalmology, RCSI, Dublin, June 11th 2016" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157669607846690&amp;PhotoID=27820922890" title="71st Plenary Assembly of the U.E.M.S. Section of Ophthalmology, RCSI, Dublin, June 11th 2016"><img src="https://farm8.static.flickr.com/7301/27820922890_d981a48751_s.jpg" alt="71st Plenary Assembly of the U.E.M.S. Section of Ophthalmology, RCSI, Dublin, June 11th 2016" /></a></li>
		</ul>
<p><em>Gala Dinner</em></p>			<p><a href="display.asp?PhotoSet_ID=72157669607846690">This set contains 9 photos &raquo;</a></p>
	</li>
	<li>
<h2>Annual Montgomery Lecture 2015</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157662103797300&amp;PhotoID=23911461125" title="Annual Montgomery Lecture 2015"><img src="https://farm6.static.flickr.com/5711/23911461125_09ba41fafd_s.jpg" alt="Annual Montgomery Lecture 2015" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157662103797300&amp;PhotoID=23803157772" title="Annual Montgomery Lecture 2015"><img src="https://farm1.static.flickr.com/695/23803157772_f57531f9c7_s.jpg" alt="Annual Montgomery Lecture 2015" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157662103797300&amp;PhotoID=23284698923" title="Annual Montgomery Lecture 2015"><img src="https://farm6.static.flickr.com/5748/23284698923_9194445240_s.jpg" alt="Annual Montgomery Lecture 2015" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157662103797300&amp;PhotoID=23283267244" title="Annual Montgomery Lecture 2015"><img src="https://farm1.static.flickr.com/606/23283267244_e81890ddbb_s.jpg" alt="Annual Montgomery Lecture 2015" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157662103797300&amp;PhotoID=23828980601" title="Annual Montgomery Lecture 2015"><img src="https://farm1.static.flickr.com/623/23828980601_4ab41a988d_s.jpg" alt="Annual Montgomery Lecture 2015" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157662103797300&amp;PhotoID=23283267444" title="Annual Montgomery Lecture 2015"><img src="https://farm1.static.flickr.com/705/23283267444_9f87ed7eea_s.jpg" alt="Annual Montgomery Lecture 2015" /></a></li>
		</ul>
<p><em>Royal College of Surgeons of Ireland</em></p>			<p><a href="display.asp?PhotoSet_ID=72157662103797300">This set contains 17 photos &raquo;</a></p>
	</li>
	<li>
<h2>ICO Inaugural Winter Meeting</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157660346868183&amp;PhotoID=23880998056" title="ICO Winter Winter 2015"><img src="https://farm6.static.flickr.com/5810/23880998056_5ea1536aee_s.jpg" alt="ICO Winter Winter 2015" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157660346868183&amp;PhotoID=23798799322" title="ICO Winter Winter 2015"><img src="https://farm6.static.flickr.com/5812/23798799322_e9cae4798b_s.jpg" alt="ICO Winter Winter 2015" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157660346868183&amp;PhotoID=23539241909" title="ICO Winter Winter 2015"><img src="https://farm1.static.flickr.com/624/23539241909_739695252d_s.jpg" alt="ICO Winter Winter 2015" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157660346868183&amp;PhotoID=23280333443" title="ICO Winter Winter 2015"><img src="https://farm1.static.flickr.com/642/23280333443_607fcde3a2_s.jpg" alt="ICO Winter Winter 2015" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157660346868183&amp;PhotoID=23880998696" title="ICO Winter Winter 2015"><img src="https://farm1.static.flickr.com/669/23880998696_c8abe42e38_s.jpg" alt="ICO Winter Winter 2015" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157660346868183&amp;PhotoID=23280333773" title="ICO Winter Winter 2015"><img src="https://farm6.static.flickr.com/5801/23280333773_ce146a4c8a_s.jpg" alt="ICO Winter Winter 2015" /></a></li>
		</ul>
<p><em> December 2015</em></p>			<p><a href="display.asp?PhotoSet_ID=72157660346868183">This set contains 14 photos &raquo;</a></p>
	</li>
	<li>
<h2>7th Annual Adare Retina Meeting</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157662447749992&amp;PhotoID=23849309756" title="Annual Adare Retina Meeting"><img src="https://farm6.static.flickr.com/5671/23849309756_6388f6b559_s.jpg" alt="Annual Adare Retina Meeting" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157662447749992&amp;PhotoID=23767059012" title="Annual Adare Retina Meeting"><img src="https://farm1.static.flickr.com/731/23767059012_06791c5dfc_s.jpg" alt="Annual Adare Retina Meeting" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157662447749992&amp;PhotoID=23875412075" title="Annual Adare Retina Meeting"><img src="https://farm6.static.flickr.com/5755/23875412075_c91a7ddcfc_s.jpg" alt="Annual Adare Retina Meeting" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157662447749992&amp;PhotoID=23849317036" title="Annual Adare Retina Meeting"><img src="https://farm6.static.flickr.com/5830/23849317036_6806021ebc_s.jpg" alt="Annual Adare Retina Meeting" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157662447749992&amp;PhotoID=23248606773" title="Annual Adare Retina Meeting"><img src="https://farm6.static.flickr.com/5791/23248606773_41f1e1edb2_s.jpg" alt="Annual Adare Retina Meeting" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157662447749992&amp;PhotoID=23849319236" title="Annual Adare Retina Meeting"><img src="https://farm6.static.flickr.com/5680/23849319236_225b7b0beb_s.jpg" alt="Annual Adare Retina Meeting" /></a></li>
		</ul>
<p><em> October 2015</em></p>			<p><a href="display.asp?PhotoSet_ID=72157662447749992">This set contains 11 photos &raquo;</a></p>
	</li>
	<li>
<h2>Gala Dinner ICO Annual Conference 2015</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157652789050050&amp;PhotoID=17740780878" title="Gala Dinner, ICO Annual Conference 2015"><img src="https://farm6.static.flickr.com/5329/17740780878_45735b95fa_s.jpg" alt="Gala Dinner, ICO Annual Conference 2015" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157652789050050&amp;PhotoID=17902237796" title=""><img src="https://farm9.static.flickr.com/8817/17902237796_76c0baab68_s.jpg" alt="" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157652789050050&amp;PhotoID=17929248111" title=""><img src="https://farm8.static.flickr.com/7685/17929248111_d15c6ef3d0_s.jpg" alt="" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157652789050050&amp;PhotoID=17925577692" title=""><img src="https://farm8.static.flickr.com/7741/17925577692_458d8b9477_s.jpg" alt="" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157652789050050&amp;PhotoID=17308147183" title=""><img src="https://farm8.static.flickr.com/7764/17308147183_4103a6cf1d_s.jpg" alt="" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157652789050050&amp;PhotoID=17928631505" title=""><img src="https://farm6.static.flickr.com/5350/17928631505_1cfc6707c7_s.jpg" alt="" /></a></li>
		</ul>
<p><em> Westport</em></p>			<p><a href="display.asp?PhotoSet_ID=72157652789050050">This set contains 26 photos &raquo;</a></p>
	</li>
	<li>
<h2>ICO Annual Conference 2015</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157653134896636&amp;PhotoID=17740541358" title="ICO Annual Conference 2015, Westport"><img src="https://farm8.static.flickr.com/7740/17740541358_d4baa07ea2_s.jpg" alt="ICO Annual Conference 2015, Westport" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157653134896636&amp;PhotoID=17928390905" title="ICO Annual Conference 2015, Wesport"><img src="https://farm9.static.flickr.com/8819/17928390905_a496a63ca4_s.jpg" alt="ICO Annual Conference 2015, Wesport" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157653134896636&amp;PhotoID=17740545298" title="ICO Annual Conference 2015, Westport"><img src="https://farm8.static.flickr.com/7741/17740545298_198186227e_s.jpg" alt="ICO Annual Conference 2015, Westport" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157653134896636&amp;PhotoID=17307905533" title="ICO Annual Conference 2015, Westport"><img src="https://farm8.static.flickr.com/7776/17307905533_ab79b6602e_s.jpg" alt="ICO Annual Conference 2015, Westport" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157653134896636&amp;PhotoID=17742142819" title="ICO Annual Conference 2015, Westport"><img src="https://farm9.static.flickr.com/8795/17742142819_a16662ac03_s.jpg" alt="ICO Annual Conference 2015, Westport" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157653134896636&amp;PhotoID=17742144319" title="ICO Annual Conference 2015, Westport"><img src="https://farm6.static.flickr.com/5443/17742144319_c684567cfb_s.jpg" alt="ICO Annual Conference 2015, Westport" /></a></li>
		</ul>
<p><em> Westport</em></p>			<p><a href="display.asp?PhotoSet_ID=72157653134896636">This set contains 8 photos &raquo;</a></p>
	</li>
	<li>
<h2>Montgomery Lecture December 2014</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157649889176439&amp;PhotoID=16285864335" title="Montgomery Lecture December 2014"><img src="https://farm8.static.flickr.com/7524/16285864335_f51f49361a_s.jpg" alt="Montgomery Lecture December 2014" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157649889176439&amp;PhotoID=16285861165" title="Montgomery Lecture December 2014"><img src="https://farm8.static.flickr.com/7577/16285861165_73ae0e10fe_s.jpg" alt="Montgomery Lecture December 2014" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157649889176439&amp;PhotoID=16098505150" title="Montgomery Lecture December 2014"><img src="https://farm8.static.flickr.com/7488/16098505150_6dd352bacd_s.jpg" alt="Montgomery Lecture December 2014" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157649889176439&amp;PhotoID=15666004153" title="Montgomery Lecture December 2014"><img src="https://farm9.static.flickr.com/8577/15666004153_9a72d1b501_s.jpg" alt="Montgomery Lecture December 2014" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157649889176439&amp;PhotoID=16099731389" title="Montgomery Lecture December 2014"><img src="https://farm8.static.flickr.com/7565/16099731389_8e3c605196_s.jpg" alt="Montgomery Lecture December 2014" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157649889176439&amp;PhotoID=16259939926" title="Montgomery Lecture December 2014"><img src="https://farm9.static.flickr.com/8661/16259939926_50167ecfcb_s.jpg" alt="Montgomery Lecture December 2014" /></a></li>
		</ul>
<p><em>Annual Montgomery Lecture hosted by the Irish College of Ophthalmologists in the RCSI Dublin on Friday 5 December</em></p>			<p><a href="display.asp?PhotoSet_ID=72157649889176439">This set contains 19 photos &raquo;</a></p>
	</li>
	<li>
<h2>Medical Advertising In Ireland Meeting</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157648791320152&amp;PhotoID=15364179560" title="Medical Advertising in Ireland meeting, RCSI, September 24, 2014"><img src="https://farm6.static.flickr.com/5611/15364179560_2862ed87d6_s.jpg" alt="Medical Advertising in Ireland meeting, RCSI, September 24, 2014" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157648791320152&amp;PhotoID=15550660332" title="Medical Advertising in Ireland meeting, RCSI, September 24, 2014"><img src="https://farm4.static.flickr.com/3949/15550660332_034df3af80_s.jpg" alt="Medical Advertising in Ireland meeting, RCSI, September 24, 2014" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157648791320152&amp;PhotoID=15526116216" title="Medical Advertising in Ireland meeting, RCSI, September 24, 2014"><img src="https://farm4.static.flickr.com/3952/15526116216_dd4e39dea4_s.jpg" alt="Medical Advertising in Ireland meeting, RCSI, September 24, 2014" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157648791320152&amp;PhotoID=15549820685" title="Medical Advertising in Ireland meeting, RCSI, September 24, 2014"><img src="https://farm4.static.flickr.com/3928/15549820685_43c3d346ce_s.jpg" alt="Medical Advertising in Ireland meeting, RCSI, September 24, 2014" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157648791320152&amp;PhotoID=14929641763" title="Medical Advertising in Ireland meeting, RCSI, September 24, 2014"><img src="https://farm4.static.flickr.com/3942/14929641763_d5dbdf53cf_s.jpg" alt="Medical Advertising in Ireland meeting, RCSI, September 24, 2014" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157648791320152&amp;PhotoID=15363811407" title="Medical Advertising in Ireland meeting, RCSI, September 24, 2014"><img src="https://farm6.static.flickr.com/5612/15363811407_76affa83be_s.jpg" alt="Medical Advertising in Ireland meeting, RCSI, September 24, 2014" /></a></li>
		</ul>
<p><em>The Medical Advertising in Ireland Meeting</em></p>			<p><a href="display.asp?PhotoSet_ID=72157648791320152">This set contains 14 photos &raquo;</a></p>
	</li>
	<li>
<h2>6th Annual Retinal Meeting</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157648737586486&amp;PhotoID=15549588415" title="6th Annual Retinal Meeting, Adare, October 2, 2014"><img src="https://farm4.static.flickr.com/3936/15549588415_55a6bca30c_s.jpg" alt="6th Annual Retinal Meeting, Adare, October 2, 2014" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157648737586486&amp;PhotoID=14928822034" title="6th Annual Retinal Meeting, Adare, October 2, 2014"><img src="https://farm6.static.flickr.com/5609/14928822034_9cc3db2509_s.jpg" alt="6th Annual Retinal Meeting, Adare, October 2, 2014" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157648737586486&amp;PhotoID=15363454328" title="6th Annual Retinal Meeting, Adare, October 2, 2014"><img src="https://farm6.static.flickr.com/5615/15363454328_932b92a149_s.jpg" alt="6th Annual Retinal Meeting, Adare, October 2, 2014" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157648737586486&amp;PhotoID=15362967829" title="6th Annual Retinal Meeting, Adare, October 2, 2014"><img src="https://farm4.static.flickr.com/3949/15362967829_b37ae879e4_s.jpg" alt="6th Annual Retinal Meeting, Adare, October 2, 2014" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157648737586486&amp;PhotoID=15363576137" title="6th Annual Retinal Meeting, Adare, October 2, 2014"><img src="https://farm4.static.flickr.com/3944/15363576137_0a1c4a7649_s.jpg" alt="6th Annual Retinal Meeting, Adare, October 2, 2014" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157648737586486&amp;PhotoID=15550424032" title="6th Annual Retinal Meeting, Adare, October 2, 2014"><img src="https://farm4.static.flickr.com/3939/15550424032_fd1c5e6fe6_s.jpg" alt="6th Annual Retinal Meeting, Adare, October 2, 2014" /></a></li>
		</ul>
<p><em> Adare</em></p>			<p><a href="display.asp?PhotoSet_ID=72157648737586486">This set contains 9 photos &raquo;</a></p>
	</li>
	<li>
<h2>Gala Dinner - ICO Annual Meeting 2014</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157644618794559&amp;PhotoID=14353686014" title="Gala Dinner, ICO Annual Conference, Limerick, 2014"><img src="https://farm4.static.flickr.com/3844/14353686014_a7ddf6c232_s.jpg" alt="Gala Dinner, ICO Annual Conference, Limerick, 2014" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157644618794559&amp;PhotoID=14167969030" title="Gala Dinner, ICO Annual Conference, Limerick, 2014"><img src="https://farm6.static.flickr.com/5197/14167969030_4195f8e2d4_s.jpg" alt="Gala Dinner, ICO Annual Conference, Limerick, 2014" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157644618794559&amp;PhotoID=14351233971" title="Gala Dinner, ICO Annual Conference, Limerick, 2014"><img src="https://farm4.static.flickr.com/3846/14351233971_4585dfb872_s.jpg" alt="Gala Dinner, ICO Annual Conference, Limerick, 2014" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157644618794559&amp;PhotoID=14351235021" title="Gala Dinner, ICO Annual Conference, Limerick, 2014"><img src="https://farm6.static.flickr.com/5488/14351235021_c5420a7616_s.jpg" alt="Gala Dinner, ICO Annual Conference, Limerick, 2014" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157644618794559&amp;PhotoID=14374742203" title="Gala Dinner, ICO Annual Conference, Limerick, 2014"><img src="https://farm6.static.flickr.com/5151/14374742203_21aee6339d_s.jpg" alt="Gala Dinner, ICO Annual Conference, Limerick, 2014" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157644618794559&amp;PhotoID=14168076877" title="Gala Dinner, ICO Annual Conference, Limerick, 2014"><img src="https://farm4.static.flickr.com/3854/14168076877_429a68de55_s.jpg" alt="Gala Dinner, ICO Annual Conference, Limerick, 2014" /></a></li>
		</ul>
<p><em>Gala Dinner</em></p>			<p><a href="display.asp?PhotoSet_ID=72157644618794559">This set contains 25 photos &raquo;</a></p>
	</li>
	<li>
<h2>ICO Annual Meeting 2014 - Limerick</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157645019432681&amp;PhotoID=14374529993" title="ICO Doctors Thurs 55"><img src="https://farm4.static.flickr.com/3919/14374529993_618518f0d2_s.jpg" alt="ICO Doctors Thurs 55" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157645019432681&amp;PhotoID=14352787452" title="ICO Doctors Thurs 54"><img src="https://farm3.static.flickr.com/2938/14352787452_ae600c3489_s.jpg" alt="ICO Doctors Thurs 54" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157645019432681&amp;PhotoID=14374535273" title="ICO Doctors Thurs 51"><img src="https://farm4.static.flickr.com/3900/14374535273_d57b3b0c99_s.jpg" alt="ICO Doctors Thurs 51" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157645019432681&amp;PhotoID=14374540483" title="ICO Doctors Thurs 48"><img src="https://farm3.static.flickr.com/2921/14374540483_60f85fbc88_s.jpg" alt="ICO Doctors Thurs 48" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157645019432681&amp;PhotoID=14167696009" title="ICO Doctors Thurs 43"><img src="https://farm3.static.flickr.com/2940/14167696009_589f8927ca_s.jpg" alt="ICO Doctors Thurs 43" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157645019432681&amp;PhotoID=14167883687" title="ICO Doctors Thurs 40"><img src="https://farm4.static.flickr.com/3843/14167883687_221444b5f7_s.jpg" alt="ICO Doctors Thurs 40" /></a></li>
		</ul>
<p><em></em></p>			<p><a href="display.asp?PhotoSet_ID=72157645019432681">This set contains 18 photos &raquo;</a></p>
	</li>
	<li>
<h2>GP Education Session</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157644618006468&amp;PhotoID=14164884068" title="ICO Doctors Limerick 30"><img src="https://farm4.static.flickr.com/3839/14164884068_69aeab71e3_s.jpg" alt="ICO Doctors Limerick 30" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157644618006468&amp;PhotoID=14351539185" title="GP Education Session, ICO Annual Meeting, Limerick, 2014"><img src="https://farm3.static.flickr.com/2937/14351539185_351e8ba12e_s.jpg" alt="GP Education Session, ICO Annual Meeting, Limerick, 2014" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157644618006468&amp;PhotoID=14164885688" title="GP Education Session, ICO Annual Meeting, Limerick, 2014"><img src="https://farm4.static.flickr.com/3899/14164885688_3fbe7169a8_s.jpg" alt="GP Education Session, ICO Annual Meeting, Limerick, 2014" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157644618006468&amp;PhotoID=14328404006" title="GP Education Session, ICO Annual Meeting, Limerick, 2014"><img src="https://farm4.static.flickr.com/3863/14328404006_d3155ac821_s.jpg" alt="GP Education Session, ICO Annual Meeting, Limerick, 2014" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157644618006468&amp;PhotoID=14348197271" title="GP Education Session, ICO Annual Meeting, Limerick, 2014"><img src="https://farm4.static.flickr.com/3880/14348197271_b6ae275228_s.jpg" alt="GP Education Session, ICO Annual Meeting, Limerick, 2014" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157644618006468&amp;PhotoID=14164860669" title="GP Education Session, ICO Annual Meeting, Limerick, 2014"><img src="https://farm3.static.flickr.com/2908/14164860669_f0526d79fc_s.jpg" alt="GP Education Session, ICO Annual Meeting, Limerick, 2014" /></a></li>
		</ul>
<p><em> ICO Annual Meeting 2014</em></p>			<p><a href="display.asp?PhotoSet_ID=72157644618006468">This set contains 10 photos &raquo;</a></p>
	</li>
	<li>
<h2>Annual Montgomery Lecture 2013</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157638604410135&amp;PhotoID=11337636343" title="Annual Montgomery Lecture"><img src="https://farm3.static.flickr.com/2838/11337636343_2240bf36c7_s.jpg" alt="Annual Montgomery Lecture" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157638604410135&amp;PhotoID=11337579656" title="Annual Montgomery Lecture"><img src="https://farm6.static.flickr.com/5540/11337579656_28ce3552c4_s.jpg" alt="Annual Montgomery Lecture" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157638604410135&amp;PhotoID=11337587824" title="Annual Montgomery Lecture"><img src="https://farm8.static.flickr.com/7380/11337587824_c30f35005c_s.jpg" alt="Annual Montgomery Lecture" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157638604410135&amp;PhotoID=11337586934" title="Annual Montgomery Lecture"><img src="https://farm6.static.flickr.com/5505/11337586934_370ba80168_s.jpg" alt="Annual Montgomery Lecture" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157638604410135&amp;PhotoID=11337512815" title="Annual Montgomery Lecture"><img src="https://farm8.static.flickr.com/7370/11337512815_c468f29e6a_s.jpg" alt="Annual Montgomery Lecture" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157638604410135&amp;PhotoID=11337577056" title="Annual Montgomery Lecture"><img src="https://farm8.static.flickr.com/7375/11337577056_90b2a74bc7_s.jpg" alt="Annual Montgomery Lecture" /></a></li>
		</ul>
<p><em>The Annual Montgomery Lecture</em></p>			<p><a href="display.asp?PhotoSet_ID=72157638604410135">This set contains 23 photos &raquo;</a></p>
	</li>
	<li>
<h2>13th International AMD & Retina Congress</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157638580177333&amp;PhotoID=11324830264" title="13th International AMD & Retina Congress, Dublin 2013"><img src="https://farm4.static.flickr.com/3823/11324830264_ea815d2267_s.jpg" alt="13th International AMD & Retina Congress, Dublin 2013" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157638580177333&amp;PhotoID=11324827704" title="13th International AMD & Retina Congress"><img src="https://farm4.static.flickr.com/3670/11324827704_8bf353a891_s.jpg" alt="13th International AMD & Retina Congress" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157638580177333&amp;PhotoID=11324823604" title="13th International AMD & Retina Congress"><img src="https://farm4.static.flickr.com/3794/11324823604_e18e9354c5_s.jpg" alt="13th International AMD & Retina Congress" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157638580177333&amp;PhotoID=11324804316" title="13th International AMD & Retina Congress"><img src="https://farm8.static.flickr.com/7319/11324804316_4b35ec711a_s.jpg" alt="13th International AMD & Retina Congress" /></a></li>
		</ul>
<p><em> Dublin</em></p>	</li>
	<li>
<h2>National Glaucoma Meeting</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157638579341073&amp;PhotoID=11324489824" title="National Glaucoma Meeting, Galway"><img src="https://farm4.static.flickr.com/3782/11324489824_d2ee6c15d3_s.jpg" alt="National Glaucoma Meeting, Galway" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157638579341073&amp;PhotoID=11324403955" title="National Glaucoma Meeting, Galway"><img src="https://farm4.static.flickr.com/3816/11324403955_4e3689d479_s.jpg" alt="National Glaucoma Meeting, Galway" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157638579341073&amp;PhotoID=11324405045" title="National Glaucoma Meeting, Galway"><img src="https://farm3.static.flickr.com/2870/11324405045_56cf9819e9_s.jpg" alt="National Glaucoma Meeting, Galway" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157638579341073&amp;PhotoID=11324489404" title="National Glaucoma Meeting, Galway"><img src="https://farm8.static.flickr.com/7393/11324489404_823222cc6b_s.jpg" alt="National Glaucoma Meeting, Galway" /></a></li>
		</ul>
<p><em> Galway</em></p>	</li>
	<li>
<h2>Adare Retina Meeting 2013</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157638579254974&amp;PhotoID=11324337706" title="Fifth Annual Retina Meeting, Adare 2013"><img src="https://farm4.static.flickr.com/3773/11324337706_de95040312_s.jpg" alt="Fifth Annual Retina Meeting, Adare 2013" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157638579254974&amp;PhotoID=11324356074" title="Fifth Annual Retina Meeting, Adare"><img src="https://farm6.static.flickr.com/5503/11324356074_ea1ac79250_s.jpg" alt="Fifth Annual Retina Meeting, Adare" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157638579254974&amp;PhotoID=11324424743" title="Fifth Annual Retina Meeting, Adare"><img src="https://farm6.static.flickr.com/5489/11324424743_7df85e0ef0_s.jpg" alt="Fifth Annual Retina Meeting, Adare" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157638579254974&amp;PhotoID=11324357074" title="Fifth Annual Retina Meeting, Adare"><img src="https://farm6.static.flickr.com/5520/11324357074_2b9540460e_s.jpg" alt="Fifth Annual Retina Meeting, Adare" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157638579254974&amp;PhotoID=11324425593" title="Fifth Annual Retina Meeting, Adare"><img src="https://farm3.static.flickr.com/2867/11324425593_46810363bc_s.jpg" alt="Fifth Annual Retina Meeting, Adare" /></a></li>
		</ul>
<p><em>The fifth Adare Retinal Meeting</em></p>	</li>
	<li>
<h2>Public Eye Health Information Event</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633967015522&amp;PhotoID=8967560323" title="ico confernece00074"><img src="https://farm6.static.flickr.com/5337/8967560323_c84c2f6fa6_s.jpg" alt="ico confernece00074" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633967015522&amp;PhotoID=8967560177" title="ico confernece00075"><img src="https://farm9.static.flickr.com/8133/8967560177_df5e95e41b_s.jpg" alt="ico confernece00075" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633967015522&amp;PhotoID=8968748198" title="ico confernece00076"><img src="https://farm9.static.flickr.com/8259/8968748198_5cd4863443_s.jpg" alt="ico confernece00076" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633967015522&amp;PhotoID=8967560035" title="ico confernece00077"><img src="https://farm9.static.flickr.com/8259/8967560035_00a16124ab_s.jpg" alt="ico confernece00077" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633967015522&amp;PhotoID=8968747880" title="ico confernece00078"><img src="https://farm9.static.flickr.com/8551/8968747880_0bea832286_s.jpg" alt="ico confernece00078" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633967015522&amp;PhotoID=8967560445" title="ico confernece00079"><img src="https://farm4.static.flickr.com/3821/8967560445_14f1bb78d3_s.jpg" alt="ico confernece00079" /></a></li>
		</ul>
<p><em> ICO Killarney 2013</em></p>			<p><a href="display.asp?PhotoSet_ID=72157633967015522">This set contains 16 photos &raquo;</a></p>
	</li>
	<li>
<h2>GP Education Event</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633964408669&amp;PhotoID=8968736820" title="ico confernece00002"><img src="https://farm8.static.flickr.com/7326/8968736820_a07957c7b7_s.jpg" alt="ico confernece00002" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633964408669&amp;PhotoID=8967548713" title="ico confernece00003"><img src="https://farm4.static.flickr.com/3731/8967548713_f27c197146_s.jpg" alt="ico confernece00003" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633964408669&amp;PhotoID=8968736630" title="ico confernece00004"><img src="https://farm4.static.flickr.com/3829/8968736630_913ab440ba_s.jpg" alt="ico confernece00004" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633964408669&amp;PhotoID=8968736602" title="ico confernece00005"><img src="https://farm3.static.flickr.com/2866/8968736602_4cd50eb14f_s.jpg" alt="ico confernece00005" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633964408669&amp;PhotoID=8968736488" title="ico confernece00006"><img src="https://farm6.static.flickr.com/5465/8968736488_af0b19acb2_s.jpg" alt="ico confernece00006" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633964408669&amp;PhotoID=8968736406" title="ico confernece00007"><img src="https://farm6.static.flickr.com/5461/8968736406_52ab70a65f_s.jpg" alt="ico confernece00007" /></a></li>
		</ul>
<p><em> ICO Killarney 2013</em></p>			<p><a href="display.asp?PhotoSet_ID=72157633964408669">This set contains 14 photos &raquo;</a></p>
	</li>
	<li>
<h2>ICO Research Bursary</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633966882026&amp;PhotoID=8967488953" title="ICO Research Bursary 2013"><img src="https://farm4.static.flickr.com/3753/8967488953_7e55d83884_s.jpg" alt="ICO Research Bursary 2013" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633966882026&amp;PhotoID=8967488827" title="ICO Research Bursary 2013"><img src="https://farm4.static.flickr.com/3809/8967488827_61c110fc42_s.jpg" alt="ICO Research Bursary 2013" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633966882026&amp;PhotoID=8967488721" title="ICO Research Bursary 2013"><img src="https://farm8.static.flickr.com/7374/8967488721_27246ba62e_s.jpg" alt="ICO Research Bursary 2013" /></a></li>
		</ul>
<p><em> Annual Meeting 2013</em></p>	</li>
	<li>
<h2>Your Sight Our Vision - Kerry Captain launches new eye health information boolet</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633964203025&amp;PhotoID=8967439595" title="Your Sight Our Vision Launch"><img src="https://farm4.static.flickr.com/3721/8967439595_8139c151c5_s.jpg" alt="Your Sight Our Vision Launch" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633964203025&amp;PhotoID=8968628236" title="Your Sight Our Vision Launch"><img src="https://farm3.static.flickr.com/2843/8968628236_d96262200b_s.jpg" alt="Your Sight Our Vision Launch" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633964203025&amp;PhotoID=8968628102" title="Your Sight Our Vision Launch"><img src="https://farm4.static.flickr.com/3736/8968628102_c8d8756bd2_s.jpg" alt="Your Sight Our Vision Launch" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633964203025&amp;PhotoID=8967439075" title="Your Sight Our Vision Launch"><img src="https://farm8.static.flickr.com/7360/8967439075_e075a6a295_s.jpg" alt="Your Sight Our Vision Launch" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633964203025&amp;PhotoID=8967438893" title="Your Sight Our Vision Launch"><img src="https://farm6.static.flickr.com/5466/8967438893_300170777f_s.jpg" alt="Your Sight Our Vision Launch" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633964203025&amp;PhotoID=8968627692" title="Your Sight Our Vision Launch"><img src="https://farm6.static.flickr.com/5348/8968627692_11cd4661da_s.jpg" alt="Your Sight Our Vision Launch" /></a></li>
		</ul>
<p><em></em></p>			<p><a href="display.asp?PhotoSet_ID=72157633964203025">This set contains 7 photos &raquo;</a></p>
	</li>
	<li>
<h2>Annual Mooney Lecture and Gala Dinner</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633966729520&amp;PhotoID=8967405219" title="Annual Mooney Lecture & Gala Dinner"><img src="https://farm6.static.flickr.com/5465/8967405219_f08c1fc84e_s.jpg" alt="Annual Mooney Lecture & Gala Dinner" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633966729520&amp;PhotoID=8967404777" title="Annual Mooney Lecture & Gala Dinner"><img src="https://farm3.static.flickr.com/2807/8967404777_59676184e0_s.jpg" alt="Annual Mooney Lecture & Gala Dinner" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633966729520&amp;PhotoID=8967404677" title="Annual Mooney Lecture & Gala Dinner"><img src="https://farm4.static.flickr.com/3770/8967404677_b2f293a8da_s.jpg" alt="Annual Mooney Lecture & Gala Dinner" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633966729520&amp;PhotoID=8968593302" title="Annual Mooney Lecture & Gala Dinner"><img src="https://farm9.static.flickr.com/8401/8968593302_364392f99d_s.jpg" alt="Annual Mooney Lecture & Gala Dinner" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633966729520&amp;PhotoID=8967404395" title="Annual Mooney Lecture & Gala Dinner"><img src="https://farm8.static.flickr.com/7322/8967404395_24e2faeb21_s.jpg" alt="Annual Mooney Lecture & Gala Dinner" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633966729520&amp;PhotoID=8968593046" title="Annual Mooney Lecture & Gala Dinner"><img src="https://farm6.static.flickr.com/5343/8968593046_3b668e290b_s.jpg" alt="Annual Mooney Lecture & Gala Dinner" /></a></li>
		</ul>
<p><em> ICO Meeting 2013</em></p>			<p><a href="display.asp?PhotoSet_ID=72157633966729520">This set contains 25 photos &raquo;</a></p>
	</li>
	<li>
<h2>Rami Ophthalmic Section Spring Meeting</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633221070070&amp;PhotoID=8639223861" title="Pic 11"><img src="https://farm9.static.flickr.com/8400/8639223861_b702a06bc6_s.jpg" alt="Pic 11" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633221070070&amp;PhotoID=8639223905" title="Pic 10"><img src="https://farm9.static.flickr.com/8392/8639223905_eea1430009_s.jpg" alt="Pic 10" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633221070070&amp;PhotoID=8639223969" title="Pic 9"><img src="https://farm9.static.flickr.com/8103/8639223969_f6f4aa4f19_s.jpg" alt="Pic 9" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633221070070&amp;PhotoID=8639224053" title="Pic 8"><img src="https://farm9.static.flickr.com/8122/8639224053_dff3eb27e1_s.jpg" alt="Pic 8" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633221070070&amp;PhotoID=8640326512" title="Pic 7"><img src="https://farm9.static.flickr.com/8259/8640326512_d9f244110d_s.jpg" alt="Pic 7" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157633221070070&amp;PhotoID=8639224161" title="Pic 6"><img src="https://farm9.static.flickr.com/8104/8639224161_54f1c6fa76_s.jpg" alt="Pic 6" /></a></li>
		</ul>
<p><em> Aut Even Hospital</em></p>			<p><a href="display.asp?PhotoSet_ID=72157633221070070">This set contains 11 photos &raquo;</a></p>
	</li>
	<li>
<h2>ICO celebrates 21 years</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157632773771976&amp;PhotoID=8476207258" title="Celebrating 21 years of the ICO"><img src="https://farm9.static.flickr.com/8507/8476207258_863cb31ee9_s.jpg" alt="Celebrating 21 years of the ICO" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157632773771976&amp;PhotoID=8476207270" title="Celebrating 21 Years of the ICO"><img src="https://farm9.static.flickr.com/8369/8476207270_265a4581f6_s.jpg" alt="Celebrating 21 Years of the ICO" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157632773771976&amp;PhotoID=8476207364" title="Celebrating 21 Years of the ICO"><img src="https://farm9.static.flickr.com/8238/8476207364_47437772c3_s.jpg" alt="Celebrating 21 Years of the ICO" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157632773771976&amp;PhotoID=8476207372" title="Celebrating 21 years of the ICO"><img src="https://farm9.static.flickr.com/8523/8476207372_b634962c58_s.jpg" alt="Celebrating 21 years of the ICO" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157632773771976&amp;PhotoID=8475119093" title="Celebrating 21 years of the ICO"><img src="https://farm9.static.flickr.com/8506/8475119093_c85b81290f_s.jpg" alt="Celebrating 21 years of the ICO" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157632773771976&amp;PhotoID=8476207472" title="Celebrating 21 years of the ICO"><img src="https://farm9.static.flickr.com/8225/8476207472_3fd42e0232_s.jpg" alt="Celebrating 21 years of the ICO" /></a></li>
		</ul>
<p><em></em></p>			<p><a href="display.asp?PhotoSet_ID=72157632773771976">This set contains 10 photos &raquo;</a></p>
	</li>
	<li>
<h2>Innovations in Eye Care Delivery</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157632772985242&amp;PhotoID=8474056660" title="Innovations in Eye Care Delivery Conference, December 2012"><img src="https://farm9.static.flickr.com/8104/8474056660_73bd76c30d_s.jpg" alt="Innovations in Eye Care Delivery Conference, December 2012" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157632772985242&amp;PhotoID=8474248348" title="Innovations in Eye Care Delivery Conference, December 2012"><img src="https://farm9.static.flickr.com/8252/8474248348_2ba5eb93e9_s.jpg" alt="Innovations in Eye Care Delivery Conference, December 2012" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157632772985242&amp;PhotoID=8473163151" title="Innovations in Eye Care Delivery Conference, December 2012"><img src="https://farm9.static.flickr.com/8094/8473163151_c3c4b02d05_s.jpg" alt="Innovations in Eye Care Delivery Conference, December 2012" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157632772985242&amp;PhotoID=8473165159" title="Innovations in Eye Care Delivery Conference, December 2012"><img src="https://farm9.static.flickr.com/8365/8473165159_f947d369e4_s.jpg" alt="Innovations in Eye Care Delivery Conference, December 2012" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157632772985242&amp;PhotoID=8474255554" title="Innovations in Eye Care Delivery Conference, December 2012"><img src="https://farm9.static.flickr.com/8237/8474255554_efd94a2055_s.jpg" alt="Innovations in Eye Care Delivery Conference, December 2012" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157632772985242&amp;PhotoID=8473173165" title="Innovations in Eye Care Delivery Conference, December 2012"><img src="https://farm9.static.flickr.com/8103/8473173165_f00f15bf54_s.jpg" alt="Innovations in Eye Care Delivery Conference, December 2012" /></a></li>
		</ul>
<p><em> Dec 2012</em></p>			<p><a href="display.asp?PhotoSet_ID=72157632772985242">This set contains 11 photos &raquo;</a></p>
	</li>
	<li>
<h2>ICO conference 2011</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157626678591529&amp;PhotoID=5758645242" title="ICO Annual Conference 2012"><img src="https://farm6.static.flickr.com/5101/5758645242_643f78edce_s.jpg" alt="ICO Annual Conference 2012" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157626678591529&amp;PhotoID=5758101457" title="81 NO FEE ICO CONFERENCE"><img src="https://farm3.static.flickr.com/2704/5758101457_e30ff76dc1_s.jpg" alt="81 NO FEE ICO CONFERENCE" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157626678591529&amp;PhotoID=5758101231" title="ICO Annual Conference 2012"><img src="https://farm4.static.flickr.com/3119/5758101231_30980d574d_s.jpg" alt="ICO Annual Conference 2012" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157626678591529&amp;PhotoID=5758101041" title="ICO Annual Conference 2012"><img src="https://farm3.static.flickr.com/2082/5758101041_ae366f9e46_s.jpg" alt="ICO Annual Conference 2012" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157626678591529&amp;PhotoID=5758100527" title="78 NO FEE ICO CONFERENCE"><img src="https://farm4.static.flickr.com/3503/5758100527_70b0f3029f_s.jpg" alt="78 NO FEE ICO CONFERENCE" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157626678591529&amp;PhotoID=5758100301" title="ICO Annual Conference 2012"><img src="https://farm6.static.flickr.com/5270/5758100301_82681f7ab9_s.jpg" alt="ICO Annual Conference 2012" /></a></li>
		</ul>
<p><em></em></p>			<p><a href="display.asp?PhotoSet_ID=72157626678591529">This set contains 34 photos &raquo;</a></p>
	</li>
	<li>
<h2>Glaucoma meeting - 9 Dec 2010</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157625819402193&amp;PhotoID=5404263498" title="Glaucoma meeting"><img src="https://farm6.static.flickr.com/5294/5404263498_6c0346da5c_s.jpg" alt="Glaucoma meeting" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157625819402193&amp;PhotoID=5403662263" title="Glaucoma meeting"><img src="https://farm6.static.flickr.com/5176/5403662263_bdaa85c97c_s.jpg" alt="Glaucoma meeting" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157625819402193&amp;PhotoID=5403663535" title="Glaucoma meeting"><img src="https://farm6.static.flickr.com/5140/5403663535_05fc2a33ca_s.jpg" alt="Glaucoma meeting" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157625819402193&amp;PhotoID=5403665365" title="Glaucoma meeting"><img src="https://farm6.static.flickr.com/5015/5403665365_2ee37ae37f_s.jpg" alt="Glaucoma meeting" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157625819402193&amp;PhotoID=5404268820" title="Glaucoma meeting"><img src="https://farm6.static.flickr.com/5099/5404268820_97daa39f8d_s.jpg" alt="Glaucoma meeting" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157625819402193&amp;PhotoID=5404270428" title="Glaucoma meeting"><img src="https://farm6.static.flickr.com/5091/5404270428_7b07247436_s.jpg" alt="Glaucoma meeting" /></a></li>
		</ul>
<p><em>9 Decembre 2010</em></p>			<p><a href="display.asp?PhotoSet_ID=72157625819402193">This set contains 9 photos &raquo;</a></p>
	</li>
	<li>
<h2>ICO Kilkenny 2009</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157625737596007&amp;PhotoID=5371342760" title="1"><img src="https://farm6.static.flickr.com/5244/5371342760_4af1208621_s.jpg" alt="1" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157625737596007&amp;PhotoID=5370737435" title="2"><img src="https://farm6.static.flickr.com/5125/5370737435_499e44b110_s.jpg" alt="2" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157625737596007&amp;PhotoID=5370737565" title="3"><img src="https://farm6.static.flickr.com/5127/5370737565_9ba4bd3d2f_s.jpg" alt="3" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157625737596007&amp;PhotoID=5371343216" title="4"><img src="https://farm6.static.flickr.com/5128/5371343216_b705a82b32_s.jpg" alt="4" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157625737596007&amp;PhotoID=5370738023" title="5"><img src="https://farm6.static.flickr.com/5205/5370738023_eb543a3cab_s.jpg" alt="5" /></a></li>
		</ul>
<p><em>College's Annual Conference in May 2009 in Kilkenny</em></p>	</li>
	<li>
<h2>ICO Conference 2010</h2>
		<ul class="clearfix">
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157625793607544&amp;PhotoID=5343758166" title="Dr Alemayehu Sisay and Dr Donal Brosnahan"><img src="https://farm6.static.flickr.com/5085/5343758166_af7c378285_s.jpg" alt="Dr Alemayehu Sisay and Dr Donal Brosnahan" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157625793607544&amp;PhotoID=5343149239" title="Dr Alemayehu Sisay and Dr Donal Brosnahan"><img src="https://farm6.static.flickr.com/5169/5343149239_8ed46df431_s.jpg" alt="Dr Alemayehu Sisay and Dr Donal Brosnahan" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157625793607544&amp;PhotoID=5343757868" title="Dr Donal Brosnahan and Dr Alemayehu Sisay"><img src="https://farm6.static.flickr.com/5002/5343757868_9e02e03a34_s.jpg" alt="Dr Donal Brosnahan and Dr Alemayehu Sisay" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157625793607544&amp;PhotoID=5343757696" title="Pr Ben CHAUHAN"><img src="https://farm6.static.flickr.com/5202/5343757696_26943d6477_s.jpg" alt="Pr Ben CHAUHAN" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157625793607544&amp;PhotoID=5343148847" title="01 NO FEE ICO CONFERENCE"><img src="https://farm6.static.flickr.com/5287/5343148847_f44ab2f408_s.jpg" alt="01 NO FEE ICO CONFERENCE" /></a></li>
			<li><a href="/members/photo-gallery/image.asp?PhotoSet_ID=72157625793607544&amp;PhotoID=5343148693" title="Donal Brosnahan"><img src="https://farm6.static.flickr.com/5007/5343148693_943ecb5f37_s.jpg" alt="Donal Brosnahan" /></a></li>
		</ul>
<p><em>2010 ICO Annual Conference in RCSI</em></p>			<p><a href="display.asp?PhotoSet_ID=72157625793607544">This set contains 46 photos &raquo;</a></p>
	</li>
</ul>


		<!-- last update 06/12/2023 20:25:53 -->
